Repository spicysoft/jp-www-gitlab-com: changes, and which GitLab CI jobs are due for each by the changed paths.
All: update-gitlab-project-releases-page, apply-redirects-prod, content-security-policy-checker, lint release-post-items, rubocop, check-handbook-edit-links, rspec-unit

update-gitlab-project-releases-page:
  cache:
    key: web_ruby-3.0-bullseye
    policy: pull
    paths:
    - vendor
    - node_modules
  before_script:
  - bundle config set path vendor
  - bundle install --quiet --jobs 4
  - yarn install
  stage: content-generation
  needs: []
  script:
  - bundle exec rake release:ee:update_project_releases_page
  ...

apply-redirects-prod:
  cache:
    key: web_ruby-3.0-bullseye
    policy: pull
    paths:
    - vendor
    - node_modules
  before_script:
  - bundle config set path vendor
  - bundle install --quiet --jobs 4
  - yarn install
  stage: build-and-deploy
  environment:
    name: production
  script:
  - export FASTLY_SRV_ID=$FASTLY_SRV_ID_PROD
  ...

content-security-policy-checker:
  image: debian:stable-slim
  stage: test
  needs: []
  script:
  ...

lint release-post-items:
  cache:
    key: web_ruby-3.0-bullseye
    policy: pull
    paths:
    - vendor
    - node_modules
  before_script:
  - bundle config set path vendor
  - bundle install --quiet --jobs 4
  - yarn install
  stage: test
  needs: []
  script:
  - bundle exec bin/validate-release-post-item

rubocop:
  cache:
    key: web_ruby-3.0-bullseye
    policy: pull
    paths:
    - vendor
    - node_modules
  before_script:
  - bundle config set path vendor
  - bundle install --quiet --jobs 4
  - yarn install
  stage: test
  needs: []
  script:
  - bundle exec rubocop

check-handbook-edit-links:
  cache:
    key: web_ruby-3.0-bullseye
    policy: pull
    paths:
    - vendor
    - node_modules
  before_script:
  - bundle config set path vendor
  - bundle install --quiet --jobs 4
  - yarn install
  stage: test
  needs:
  - handbook-build-and-review-deploy
  script:
  - scripts/check-handbook-edit-links.rb

rspec-unit:
  cache:
    key: web_ruby-3.0-bullseye
    policy: pull
    paths:
    - vendor
    - node_modules
  before_script:
  - bundle config set path vendor
  - bundle install --quiet --jobs 4
  - yarn install
  stage: test
  needs: []
  script:
  - bundle exec rspec --tag ~@feature

Update configure-build-agentk-in-fips-mode.yml
  data/release_posts/unreleased/configure-build-agentk-in-fips-mode.yml
Due: lint release-post-items, rspec-unit

Add new team members for 2022-10-11
  data/team_members/person/a/ahuntsman.yml
  data/team_members/person/d/dchangkuon.yml
  data/team_members/person/g/glong3.yml
  data/team_members/person/j/jgreen11.yml
  data/team_members/person/j/jimmylee.yml
  data/team_members/person/j/jwrs.yml
  data/team_members/person/l/lwhelihan.yml
  data/team_members/person/m/malshehabi.yml
  data/team_members/person/t/tdecaire.yml
Due: rspec-unit

Corrected FMM name in "what's happening in your region"
  sites/handbook/source/handbook/marketing/field-marketing/index.html.md
Due: none

Sync specialty to team page - 2022-10-13
  data/team_members/person/a/adil.farrukh.yml
  data/team_members/person/h/harsimarsandhu.yml
  data/team_members/person/h/huzaifaiftikhar1.yml
  data/team_members/person/j/jessieay.yml
  data/team_members/person/s/sdejonge.yml
  data/team_members/person/s/smriti_gitlab.yml
  data/team_members/person/t/tachyons-gitlab.yml
Due: rspec-unit

Updating feature availability in release post
  data/release_posts/15_4/ecosystem-autodisable-failing-webhooks.yml
Due: rspec-unit

Removing examples from the themes section
  sites/handbook/source/handbook/engineering/infrastructure/team/scalability/index.html.md.erb
Due: none

Fix bullets in collapsed sections on core team handbook page
  sites/handbook/source/handbook/marketing/community-relations/code-contributor-program/core-team/index.html.md
Due: none

Update data/team_members/person/l/lenabaedorf.yml, sites/uncategorized/source/images/team/LenaB.jpg
  data/team_members/person/l/lenabaedorf.yml
  sites/uncategorized/source/images/team/LenaB.jpg
Due: rspec-unit

Fix missing bracket / link typo
  sites/handbook/source/handbook/marketing/community-relations/code-contributor-program/index.html.md.erb
Due: none

Update projects attributes for group::anti-abuse
  data/projects.yml
  data/team_members/person/a/alexbuijs.yml
  data/team_members/person/e/elimpin.yml
  data/team_members/person/h/hmehra.yml
  data/team_members/person/j/jayswain.yml
Due: rspec-unit

Add projects data requirement for MR coach
  .gitlab/merge_request_templates/Merge Request Coach.md
  sites/handbook/source/handbook/marketing/community-relations/code-contributor-program/resources/merge-request-coach-lifecycle.html.md.erb
Due: none

Add references to Daily Stand-up Bot to Support Team Handbook
  sites/handbook/source/handbook/support/index.html.md.erb
  sites/handbook/source/handbook/support/license-and-renewals/index.html.md
  sites/handbook/source/handbook/support/support-global-groups/index.html.md
Due: none

[L&R] License code download method depends on GL version
  sites/handbook/source/handbook/support/license-and-renewals/workflows/customersdot/associating_purchases.html.md
Due: none

Add Workspace bug
  data/release_posts/unreleased/bugs.yml
Due: lint release-post-items, rspec-unit

Update manage-github-importer--scrape-images-to-gitlab-and-update-markdow.yml
  data/release_posts/unreleased/manage-github-importer--scrape-images-to-gitlab-and-update-markdow.yml
Due: lint release-post-items, rspec-unit

Add stub handbook pages for the Package stage groups
  sites/handbook/source/handbook/engineering/development/ops/package/package-registry/index.html.md.erb
  sites/handbook/source/handbook/engineering/development/ops/package/product/container-registry.html.md.erb
  sites/handbook/source/handbook/engineering/development/ops/package/product/package-registry.html.md.erb
Due: none

Making all 'desc_url' URLs in services.yml absolute
  data/services.yml
Due: rspec-unit

Linking back to the Fulfillment direction page
  source/direction/fulfillment/utilization/index.html.md
Due: none

Add next TWs for structural check
  data/release_post_managers.yml
Due: rspec-unit

Add Rafa Carrasco to director-shadow-program schedule
  sites/handbook/source/handbook/engineering/development/shadow/director-shadow-program.html.md
Due: none

Update chores roster
  sites/handbook/source/handbook/product/ux/technical-writing/index.html.md.erb
Due: none

Add wwwjon to the Heroes page
  data/heroes.yml
  source/images/heroes/jonaswaelter.jpg
Due: rspec-unit

Document check metrics mechanism
  sites/handbook/source/handbook/business-technology/data-team/data-catalog/saas-service-ping-automation/index.html.md
Due: none

Cluster cost management maturity date
  data/categories.yml
Due: lint release-post-items, rspec-unit

Simplify Architecture Evolution Workflow and add a link to a blueprint template
  sites/handbook/source/handbook/engineering/architecture/workflow/index.html.md
Due: none

Update the link to request CI/CD minutes request
  sites/handbook/source/handbook/marketing/community-relations/code-contributor-program/index.html.md.erb
Due: none

Update role, department and specialty for Package groups
  data/team_members/person/a/adie.po.yml
  data/team_members/person/d/davidfernandez.yml
  data/team_members/person/d/dmeshcharakou.yml
  data/team_members/person/h/hayleyswimelar.yml
  data/team_members/person/j/jaimemartinez.yml
  data/team_members/person/j/joaopereira.yml
  data/team_members/person/m/michelletorres.yml
  data/team_members/person/r/rchanila.yml
  data/team_members/person/s/suleimiahmed.yml
Due: rspec-unit

Resolve "Create documentation for Email Domain Classification"
  sites/handbook/source/handbook/business-technology/data-team/functional-analytics-center-of-excellence/email-domain-classification/index.html.md
  sites/handbook/source/handbook/business-technology/data-team/functional-analytics-center-of-excellence/index.html.md
Due: none

Update open positions for Package Stage
  data/team_members/vacancy/backend-engineer-package-container-1.yml
  data/team_members/vacancy/backend-engineer-package-package-1.yml
  data/team_members/vacancy/backend-engineer-package-package-2.yml
  data/team_members/vacancy/backend-engineer-package-package-3.yml
Due: rspec-unit

Deleted... two pages no longer necessary
  sites/uncategorized/source/company/culture/inclusion/dib-mainpage/index.html.haml
Due: none

Update Package direction with official support for OCI registries in Helm
  source/direction/package/template.html.md.erb
Due: none

Update Gitaly:Git team members and who they report to
  data/team_members/person/a/avar.yml
  data/team_members/person/c/christian-c.yml
  data/team_members/person/j/jcaigitlab.yml
  data/team_members/person/t/toon-c.yml
Due: rspec-unit

Add bhrai as trainee_maintainer cdot
  data/team_members/person/b/bhrai.yml
Due: rspec-unit

PDI Direction page: Update DRI for Product Intelligence
  source/direction/product-analysis/index.html.md
Due: none

Update Paige Cordero's Team Page entry
  data/team_members/person/p/p_cordero.yml
  sites/uncategorized/source/images/team/paigecordero.png
Due: rspec-unit

Allow a Release Post entry to have multiple Epic URLs
  sites/uncategorized/source/includes/release.html.haml
Due: none

Code Review BE
  data/release_posts/unreleased/bugs.yml
Due: lint release-post-items, rspec-unit

Update my profile on the teams page
  data/team_members/person/l/liselotpoppink.yml
  sites/uncategorized/source/images/team/liselotp.jpg
Due: rspec-unit

Added discord to other resources
  sites/uncategorized/source/submit-feedback/index.html.md
Due: none

Path conditions:
  update-gitlab-project-releases-page: any of: sites/uncategorized/source/releases/posts/*-released.html.md
  apply-redirects-prod: any of: data/redirects.yml, bin/apply-exact-match-redirects, bin/apply-regex-redirects
  content-security-policy-checker: any of: source/includes/layout/head.html.haml
  lint release-post-items: any of: data/release_posts/unreleased/*, data/categories.yml, data/stages.yml, source/images/unreleased/*
  rubocop: any of: *.rb, **/*.rb, .rubocop.yml, Dangerfile, *.rake, **/*.rake, bin/**/*, scripts/**/*, Rakefile
  check-handbook-edit-links: any of: data/monorepo.yml, helpers/custom_helpers.rb, **/edit_page.html.haml, **/footer.html.haml, **/handbook-page-toc.haml, **/check_handbook_edit_links.rb
  rspec-unit: any of: spec/**/*, **/*.{js,json,rb,yml}, .rspec
