Repository spicysoft/jp-www-gitlab-com: changes, and which GitLab CI jobs are due for each by the changed paths.
All: update-gitlab-project-releases-page, apply-redirects-prod, content-security-policy-checker, lint release-post-items, rubocop, check-handbook-edit-links, rspec-unit

update-gitlab-project-releases-page:
  cache:
    key: web_ruby-3.0-bullseye
    policy: pull
    paths:
    - vendor
    - node_modules
  before_script:
  - bundle config set path vendor
  - bundle install --quiet --jobs 4
  - yarn install
  stage: content-generation
  needs: []
  script:
  - bundle exec rake release:ee:update_project_releases_page
  ...

apply-redirects-prod:
  cache:
    key: web_ruby-3.0-bullseye
    policy: pull
    paths:
    - vendor
    - node_modules
  before_script:
  - bundle config set path vendor
  - bundle install --quiet --jobs 4
  - yarn install
  stage: build-and-deploy
  environment:
    name: production
  script:
  - export FASTLY_SRV_ID=$FASTLY_SRV_ID_PROD
  ...

content-security-policy-checker:
  image: debian:stable-slim
  stage: test
  needs: []
  script:
  ...

lint release-post-items:
  cache:
    key: web_ruby-3.0-bullseye
    policy: pull
    paths:
    - vendor
    - node_modules
  before_script:
  - bundle config set path vendor
  - bundle install --quiet --jobs 4
  - yarn install
  stage: test
  needs: []
  script:
  - bundle exec bin/validate-release-post-item

rubocop:
  cache:
    key: web_ruby-3.0-bullseye
    policy: pull
    paths:
    - vendor
    - node_modules
  before_script:
  - bundle config set path vendor
  - bundle install --quiet --jobs 4
  - yarn install
  stage: test
  needs: []
  script:
  - bundle exec rubocop

check-handbook-edit-links:
  cache:
    key: web_ruby-3.0-bullseye
    policy: pull
    paths:
    - vendor
    - node_modules
  before_script:
  - bundle config set path vendor
  - bundle install --quiet --jobs 4
  - yarn install
  stage: test
  needs:
  - handbook-build-and-review-deploy
  script:
  - scripts/check-handbook-edit-links.rb

rspec-unit:
  cache:
    key: web_ruby-3.0-bullseye
    policy: pull
    paths:
    - vendor
    - node_modules
  before_script:
  - bundle config set path vendor
  - bundle install --quiet --jobs 4
  - yarn install
  stage: test
  needs: []
  script:
  - bundle exec rspec --tag ~@feature

Update alinamihaila.yml
  data/team_members/person/a/alinamihaila.yml
Due: rspec-unit

Update Rahul Chanila as trainee maintainer
  data/team_members/person/r/rchanila.yml
Due: rspec-unit

Updates AppSec release managers through end of 2022
  data/release_managers.yml
Due: rspec-unit

Fix Willow Woolf image link
  data/pets.yml
Due: rspec-unit

Update role for Alina Mihaila
  data/team_members/person/a/alinamihaila.yml
Due: rspec-unit

Add DIB page to Fulfillment
  sites/handbook/source/handbook/engineering/development/fulfillment/dib/index.html.md.erb
  sites/handbook/source/handbook/engineering/development/fulfillment/index.html.md.erb
Due: none

Create Blog Posts “2022-08-30-top-reasons-for-software-release-delays”
  sites/uncategorized/source/blog/blog-posts/2022-08-30-top-reasons-for-software-release-delays.html.md.erb
Due: none

added commit cta
  sites/uncategorized/source/blog/blog-posts/2022-08-30-top-reasons-for-software-release-delays.html.md.erb
Due: none

Update acting PM for group Import
  data/stages.yml
  sites/handbook/source/includes/product/_categories-names.erb
Due: lint release-post-items, rspec-unit

update
  sites/uncategorized/source/blog/blog-posts/2022-08-30-top-reasons-for-software-release-delays.html.md.erb
Due: none

Cloud Licensing exemptions: fix typo, add link
  sites/handbook/source/handbook/support/license-and-renewals/workflows/self-managed/cloud-licensing.html.md
Due: none

Create Blog Posts “2022-08-30-the-ultimate-guide-to-software-supply-chain-security”
  sites/uncategorized/source/blog/blog-posts/2022-08-30-the-ultimate-guide-to-software-supply-chain-security.html.md.erb
Due: none

Create Blog Posts “2022-08-30-five-essential-business-benefits-a-devops-platform-gives-smbs”
  sites/uncategorized/source/blog/blog-posts/2022-08-30-five-essential-business-benefits-a-devops-platform-gives-smbs.html.md.erb
Due: none

fixed broken link, added bulleted list, fixed spacing
  sites/uncategorized/source/blog/blog-posts/2022-08-30-the-ultimate-guide-to-software-supply-chain-security.html.md.erb
Due: none

Update Compliance tactical priorities list
  source/direction/manage/compliance/tactical-priorities.html.md.erb
Due: none

Links to delete/access forms had markdown errors
  sites/handbook/source/handbook/hiring/recruitment-privacy-policy/index.html.md
Due: none

Making changes to HB for TAM to CSM rename
  sites/handbook/source/handbook/customer-success/pre-sales-post-sales-transition/index.html.md
  sites/handbook/source/handbook/customer-success/tam/gainsight/index.html.md
  sites/handbook/source/handbook/customer-success/tam/index.html.md
  sites/handbook/source/handbook/customer-success/tam/segment/index.html.md
  sites/handbook/source/handbook/customer-success/tam/segment/scale/scale-operating-rhythm/index.html.md
  sites/handbook/source/handbook/customer-success/tam/segment/scale/webinar-calendar/index.html.md
Due: none

tweaks
  sites/uncategorized/source/blog/blog-posts/2022-08-30-the-ultimate-guide-to-software-supply-chain-security.html.md.erb
Due: none

Offboard team member - 2022-08-26
  .gitlab/CODEOWNERS
  data/team_members/person/a/alexwestbrook.yml
  data/team_members/person/b/barbararoncato.yml
  data/team_members/person/k/karunasingh.yml
  data/team_members/person/k/kayokocooper.yml
  data/team_members/person/s/sbaranidharan.yml
Due: rspec-unit

Fix typo on SEG handbook page
  sites/handbook/source/handbook/engineering/incubation/real-time-collaboration/index.html.md
Due: none

Fix handbook links
  sites/handbook/source/handbook/engineering/ux/product-designer/index.html.md.erb
Due: none

Update link to infra team's queue
  sites/handbook/source/handbook/engineering/infrastructure/change-management/index.html.md
Due: none

Update role section for Aboobacker to to reflect name properly in team page
  data/team_members/person/t/tachyons-gitlab.yml
Due: rspec-unit

minor sentence and spelling adjustments.
  sites/handbook/source/handbook/business-technology/data-team/platform/rstudio/index.html.md
Due: none

Added where to find pay stubs to offboarding FAQ
  sites/handbook/source/handbook/people-group/offboarding/faq.html.md
Due: none

Add/Update team table with skills and projects to Developer Evangelism handbook
  sites/handbook/source/handbook/marketing/community-relations/developer-evangelism/index.html.md
Due: none

Clarify steps regarding Slack channel invites
  .gitlab/merge_request_templates/Release-Post.md
Due: none

Adding Jacki Bauer to CEO Shadow Rotation for October 2022
  sites/handbook/source/handbook/ceo/shadow/index.html.md
Due: none

Fix links; change syntax from Markdown to HTML
  data/performance_indicators/people_success.yml
  data/performance_indicators/ux_department.yml
Due: rspec-unit

Update to the Publicity Waiver and Release General Guidelines page
  sites/handbook/source/handbook/legal/publicity-waiver-release/index.html.md
Due: none

Clarifying when in the interview process candidates will have access to the Compensation Calculator
  sites/handbook/source/handbook/total-rewards/compensation/compensation-calculator/index.html.md
Due: none

Adjust GCF key controls
  sites/handbook/source/handbook/engineering/security/security-assurance/security-compliance/sec-controls.html.md
Due: none

Add Jon Jenkins details to Gitlab team page
  data/team_members/person/j/jon_jenkins.yml
  sites/uncategorized/source/images/team/jjenkins.jpg
Due: rspec-unit

DRAFT/WIP: Update CHOPS Handbook to include department responsibilities
  sites/handbook/source/handbook/sales/field-operations/channel-operations/index.html.md
Due: none

Add step to MR buddies to request maintainer access
  sites/handbook/source/handbook/people-group/general-onboarding/mr-buddies/index.html.md
Due: none

Revert removal of corporate philanthropy page
  sites/uncategorized/source/corporate-philanthropy/index.html.erb
Due: none

Katie Wilkinson Team Page Update MR
  data/team_members/person/k/katie.wilkinson.yml
Due: rspec-unit

Add Frederic Caplette domain expertise
  data/team_members/person/f/frederic-caplette.yml
Due: rspec-unit

Path conditions:
  update-gitlab-project-releases-page: any of: sites/uncategorized/source/releases/posts/*-released.html.md
  apply-redirects-prod: any of: data/redirects.yml, bin/apply-exact-match-redirects, bin/apply-regex-redirects
  content-security-policy-checker: any of: source/includes/layout/head.html.haml
  lint release-post-items: any of: data/release_posts/unreleased/*, data/categories.yml, data/stages.yml, source/images/unreleased/*
  rubocop: any of: *.rb, **/*.rb, .rubocop.yml, Dangerfile, *.rake, **/*.rake, bin/**/*, scripts/**/*, Rakefile
  check-handbook-edit-links: any of: data/monorepo.yml, helpers/custom_helpers.rb, **/edit_page.html.haml, **/footer.html.haml, **/handbook-page-toc.haml, **/check_handbook_edit_links.rb
  rspec-unit: any of: spec/**/*, **/*.{js,json,rb,yml}, .rspec
