Repository spicysoft/jp-www-gitlab-com: changes, and which GitLab CI jobs are due for each by the changed paths.
All: update-gitlab-project-releases-page, apply-redirects-prod, content-security-policy-checker, lint release-post-items, rubocop, check-handbook-edit-links, rspec-unit

update-gitlab-project-releases-page:
  cache:
    key: web_ruby-3.0-bullseye
    policy: pull
    paths:
    - vendor
    - node_modules
  before_script:
  - bundle config set path vendor
  - bundle install --quiet --jobs 4
  - yarn install
  stage: content-generation
  needs: []
  script:
  - bundle exec rake release:ee:update_project_releases_page
  ...

apply-redirects-prod:
  cache:
    key: web_ruby-3.0-bullseye
    policy: pull
    paths:
    - vendor
    - node_modules
  before_script:
  - bundle config set path vendor
  - bundle install --quiet --jobs 4
  - yarn install
  stage: build-and-deploy
  environment:
    name: production
  script:
  - export FASTLY_SRV_ID=$FASTLY_SRV_ID_PROD
  ...

content-security-policy-checker:
  image: debian:stable-slim
  stage: test
  needs: []
  script:
  ...

lint release-post-items:
  cache:
    key: web_ruby-3.0-bullseye
    policy: pull
    paths:
    - vendor
    - node_modules
  before_script:
  - bundle config set path vendor
  - bundle install --quiet --jobs 4
  - yarn install
  stage: test
  needs: []
  script:
  - bundle exec bin/validate-release-post-item

rubocop:
  cache:
    key: web_ruby-3.0-bullseye
    policy: pull
    paths:
    - vendor
    - node_modules
  before_script:
  - bundle config set path vendor
  - bundle install --quiet --jobs 4
  - yarn install
  stage: test
  needs: []
  script:
  - bundle exec rubocop

check-handbook-edit-links:
  cache:
    key: web_ruby-3.0-bullseye
    policy: pull
    paths:
    - vendor
    - node_modules
  before_script:
  - bundle config set path vendor
  - bundle install --quiet --jobs 4
  - yarn install
  stage: test
  needs:
  - handbook-build-and-review-deploy
  script:
  - scripts/check-handbook-edit-links.rb

rspec-unit:
  cache:
    key: web_ruby-3.0-bullseye
    policy: pull
    paths:
    - vendor
    - node_modules
  before_script:
  - bundle config set path vendor
  - bundle install --quiet --jobs 4
  - yarn install
  stage: test
  needs: []
  script:
  - bundle exec rspec --tag ~@feature

October direction updates for Editor
  source/direction/create/editor/content_editor/index.html.md
  source/direction/create/editor/index.html.md.erb
  source/direction/create/editor/pages/index.html.md
  source/direction/create/editor/remote_development/index.html.md
  source/direction/create/editor/snippets/index.html.md
  source/direction/create/editor/source_editor/index.html.md
  source/direction/create/editor/web_ide/index.html.md
  source/direction/create/editor/wiki/index.html.md
  source/images/direction/dev/create/editor-remote-dev-diagram.png
Due: none

Updates to Governance and Field Security pages
  sites/handbook/source/handbook/security/security-assurance/field-security/customer-assurance-package.html.md
  sites/handbook/source/handbook/security/security-assurance/governance/index.html.md
Due: none

Update Taylor Medlin for career mobility
  data/team_members/person/t/taylormedlin.yml
Due: rspec-unit

Replace Vitor appsec counterpart with TBD
  data/stages.yml
Due: lint release-post-items, rspec-unit

Fixes #14116 -- Corrects old "Take A Break Call" link
  sites/handbook/source/handbook/values/index.html.md
Due: none

Fix typos in OneTrust page
  sites/handbook/source/handbook/marketing/marketing-operations/onetrust/index.html.md
Due: none

Add AppSec guidelines to Incubation Engineering Playbook
  sites/handbook/source/handbook/engineering/incubation/playbook/index.html.md.erb
Due: none

Eliminate empty rows for customer success
  sites/handbook/source/includes/product/_categories.erb
  sites/handbook/source/includes/product/_customer_success.erb
  sites/handbook/source/includes/product/_group.erb
  sites/handbook/source/includes/product/_stage.erb
  sites/handbook/source/includes/product/_tag_group_row.erb
Due: none

Update artifacts CDN blog post for Windows runners
  sites/uncategorized/source/blog/blog-posts/2022-10-25-gitlab-com-artifacts-cdn-change.html.md.erb
Due: none

Update medical plan subsidy details. Also updating pension plan, death in benefit definition
  sites/handbook/source/handbook/total-rewards/benefits/general-and-entity-benefits/bv-benefits-netherlands/index.html.md
Due: none

Remove expense tracking from MS&A Page
  sites/handbook/source/handbook/marketing/strategy-performance/index.html.md
Due: none

Changing PR reference to company spokesperson
  sites/handbook/source/handbook/marketing/index.html.md
Due: none

Threat Insights - Add Health Status section
  sites/handbook/source/handbook/engineering/development/sec/govern/threat-insights/index.html.md.erb
Due: none

Refresh URLs and tighten copy on TeamOps Guiding Principles pages
  sites/handbook/source/handbook/teamops/executing-decisions/index.html.md.erb
  sites/handbook/source/handbook/teamops/fast-decisions/index.html.md.erb
  sites/handbook/source/handbook/teamops/informed-decisions/index.html.md.erb
  sites/handbook/source/handbook/teamops/many-decisions/index.html.md.erb
Due: none

Add Leaminn Ma to team page
  data/team_members/person/l/lma-git.yml
  sites/uncategorized/source/images/team/leaminnma.jpg
Due: rspec-unit

Fix small grammatical error
  sites/handbook/source/handbook/handbook-usage/index.html.md
Due: none

Update Jiaan Louw team member data to Product Analytics
  data/team_members/person/j/jiaanlouw.yml
Due: rspec-unit

Update last renewal issue and PO for packagecloud
  sites/handbook/source/handbook/engineering/development/enablement/index.html.md.erb
Due: none

Using full URLs rather than hyperlinks in Google Docs
  sites/handbook/source/handbook/communication/index.html.md
Due: none

Add doc with campaign content to Scale CSE page
  sites/handbook/source/handbook/customer-success/csm/segment/scale/index.html.md
Due: none

Update Top Cross-Functional Initiative #9 DRI / Sponsor to TBD / McB
  sites/uncategorized/source/company/top-cross-functional-initiatives/index.html.md
Due: none

Reference the reduced backport policy
  sites/handbook/source/handbook/security/index.html.md.erb
Due: none

Add new team members for 2022-10-28
  data/team_members/person/m/mianaranjo-lepe.yml
Due: rspec-unit

Add announcing bonuses in SWIR
  sites/handbook/source/handbook/support/managers/manager-responsibilities.html.md
Due: none

Update 1password 8 download location
  sites/handbook/source/handbook/security/index.html.md.erb
Due: none

Adding Donovan Felton as provisioner
  data/tech_stack.yml
Due: rspec-unit

Add Laptop Metrics Redirect to IT landing page
  sites/handbook/source/handbook/business-technology/team-member-enablement/index.html.md
Due: none

Nira Feature Updates
  sites/handbook/source/handbook/it/guides/nira/index.html.md
Due: none

Update IT Help page with newest MacOS info
  sites/handbook/source/handbook/business-technology/team-member-enablement/self-help-troubleshooting/index.html.md
Due: none

Update to FAQ for Access Requests outlining how to remove access
  sites/handbook/source/handbook/business-technology/team-member-enablement/onboarding-access-requests/access-requests/frequently-asked-questions/index.html.md
Due: none

Fix Danny Bailey's gitlab handle
  data/team_members/person/d/dannyjb.yml
Due: rspec-unit

Document the repeatable process for maintenance of recording GitLab Flow-style demos
  sites/handbook/source/handbook/customer-success/solutions-architects/demonstrations/index.html.md
Due: none

Update Developer First Security topic page
  data/topic_children/what-is-developer-first-security.yml
Due: rspec-unit

Update Agile PMM topic
  data/topic_children/agile-ppm.yml
Due: rspec-unit

Update TeamOps redirects
  data/redirects.yml
Due: apply-redirects-prod, rspec-unit

Add `master` broken incidents to the scope of the dev team on-call process
  sites/handbook/source/handbook/engineering/development/processes/Infra-Dev-Escalation/process.html.md.erb
Due: none

Fix spacing in markdown
  sites/handbook/source/handbook/product/ux/ux-department-workflow/ux-showcase/index.html.md.erb
Due: none

Adding my name as SSC for workspace group
  data/stages.yml
Due: lint release-post-items, rspec-unit

Remove documentation references
  sites/uncategorized/source/community/hackathon/index.html.haml
Due: none

Add Synura to inspired by GitLab page
  sites/handbook/source/handbook/inspired-by-gitlab/index.html.md
Due: none

Path conditions:
  update-gitlab-project-releases-page: any of: sites/uncategorized/source/releases/posts/*-released.html.md
  apply-redirects-prod: any of: data/redirects.yml, bin/apply-exact-match-redirects, bin/apply-regex-redirects
  content-security-policy-checker: any of: source/includes/layout/head.html.haml
  lint release-post-items: any of: data/release_posts/unreleased/*, data/categories.yml, data/stages.yml, source/images/unreleased/*
  rubocop: any of: *.rb, **/*.rb, .rubocop.yml, Dangerfile, *.rake, **/*.rake, bin/**/*, scripts/**/*, Rakefile
  check-handbook-edit-links: any of: data/monorepo.yml, helpers/custom_helpers.rb, **/edit_page.html.haml, **/footer.html.haml, **/handbook-page-toc.haml, **/check_handbook_edit_links.rb
  rspec-unit: any of: spec/**/*, **/*.{js,json,rb,yml}, .rspec
