Repository spicysoft/jp-www-gitlab-com: changes, and which GitLab CI jobs are due for each by the changed paths.
All: update-gitlab-project-releases-page, apply-redirects-prod, content-security-policy-checker, lint release-post-items, rubocop, check-handbook-edit-links, rspec-unit

update-gitlab-project-releases-page:
  cache:
    key: web_ruby-3.0-bullseye
    policy: pull
    paths:
    - vendor
    - node_modules
  before_script:
  - bundle config set path vendor
  - bundle install --quiet --jobs 4
  - yarn install
  stage: content-generation
  needs: []
  script:
  - bundle exec rake release:ee:update_project_releases_page
  ...

apply-redirects-prod:
  cache:
    key: web_ruby-3.0-bullseye
    policy: pull
    paths:
    - vendor
    - node_modules
  before_script:
  - bundle config set path vendor
  - bundle install --quiet --jobs 4
  - yarn install
  stage: build-and-deploy
  environment:
    name: production
  script:
  - export FASTLY_SRV_ID=$FASTLY_SRV_ID_PROD
  ...

content-security-policy-checker:
  image: debian:stable-slim
  stage: test
  needs: []
  script:
  ...

lint release-post-items:
  cache:
    key: web_ruby-3.0-bullseye
    policy: pull
    paths:
    - vendor
    - node_modules
  before_script:
  - bundle config set path vendor
  - bundle install --quiet --jobs 4
  - yarn install
  stage: test
  needs: []
  script:
  - bundle exec bin/validate-release-post-item

rubocop:
  cache:
    key: web_ruby-3.0-bullseye
    policy: pull
    paths:
    - vendor
    - node_modules
  before_script:
  - bundle config set path vendor
  - bundle install --quiet --jobs 4
  - yarn install
  stage: test
  needs: []
  script:
  - bundle exec rubocop

check-handbook-edit-links:
  cache:
    key: web_ruby-3.0-bullseye
    policy: pull
    paths:
    - vendor
    - node_modules
  before_script:
  - bundle config set path vendor
  - bundle install --quiet --jobs 4
  - yarn install
  stage: test
  needs:
  - handbook-build-and-review-deploy
  script:
  - scripts/check-handbook-edit-links.rb

rspec-unit:
  cache:
    key: web_ruby-3.0-bullseye
    policy: pull
    paths:
    - vendor
    - node_modules
  before_script:
  - bundle config set path vendor
  - bundle install --quiet --jobs 4
  - yarn install
  stage: test
  needs: []
  script:
  - bundle exec rspec --tag ~@feature

Adding IT Security Tools
  sites/handbook/source/handbook/business-technology/it-compliance/tools.html.md
  sites/handbook/source/handbook/business-technology/it-compliance/tools/NordLayer/nordlayer-guide.html.md
  sites/handbook/source/handbook/business-technology/it-compliance/tools/NordLayer/nordlayer.html.md
  sites/handbook/source/handbook/business-technology/it-compliance/tools/nira/nira-guide.html.md
  sites/handbook/source/handbook/it/guides/index.html.md
  sites/handbook/source/handbook/it/guides/nira/image-1.png
  sites/handbook/source/handbook/it/guides/nira/image-2.png
  sites/handbook/source/handbook/it/guides/nira/image-3.png
  sites/handbook/source/handbook/it/guides/nira/image-4.png
  sites/handbook/source/handbook/it/guides/nira/image.png
  sites/handbook/source/handbook/it/guides/nira/index.html.md
  sites/handbook/source/handbook/it/guides/nira/navigation.png
  sites/handbook/source/handbook/it/guides/nordlayer/index.html.md
  sites/handbook/source/handbook/it/index.html.md
Due: none

Update data/team_members/person/j/jennli.yml
  data/team_members/person/j/jennli.yml
Due: rspec-unit

Add Corp Events jobbucket to Brand jobs
  source/javascripts/openings.js
Due: rspec-unit

Add pronoun guidance page to handbook
  sites/handbook/source/handbook/people-group/orientation-identity/index.html.md
  sites/handbook/source/handbook/people-group/pronouns/index.html.md
Due: none

Add-IT-GC-to-Handbook-GC-calendar
  sites/handbook/source/handbook/group-conversations/index.html.md
Due: none

Update data for Radovan Bacovic with more talks info.
  data/speakers.yml
Due: rspec-unit

Update link and wording for promo doc section in Support Engineer career page
  sites/handbook/source/handbook/support/support-engineer-career-path.html.md
Due: none

Update Q4 Talent Assessment communication date
  sites/handbook/source/handbook/people-group/talent-assessment/index.html.md
Due: none

Add community contributor shout out
  data/release_posts/unreleased/manage-add-new-filters-to-private-access-token-api.yml
Due: lint release-post-items, rspec-unit

Fix link from md to html
  data/release_posts/unreleased/manage-allow-group-owners-to-update-group-members-saml-and-scim-ex.yml
Due: lint release-post-items, rspec-unit

Ask managers to provide scorecard feedback
  sites/handbook/source/handbook/support/managers/hiring.html.md
Due: none

Add Oct/Nov showcase info
  sites/handbook/source/handbook/engineering/development/ops/index.html.md.erb
Due: none

Adding additional suggestions for who to calibrate
  sites/handbook/source/handbook/people-group/talent-assessment/index.html.md
Due: none

FY23-Q3 visiting grant exceptions for last minute attendance changes
  sites/handbook/source/handbook/incentives/index.html.md
Due: none

Add additional reference to Disagree, commit, and disagree sub-value
  sites/handbook/source/handbook/values/index.html.md
Due: none

Document Async Slack support by commercial SA team
  sites/handbook/source/handbook/customer-success/solutions-architects/processes/commercial/index.html.md
Due: none

Fix broken levelup link to GitLab101 Course
  sites/handbook/source/handbook/people-group/learning-and-development/gitlab-101/index.html.md
Due: none

update-laptop-metrics-sept
  sites/handbook/source/handbook/business-technology/team-member-enablement/laptop-metrics/index.html.md
Due: none

Remove a step in the release post process that is performed automatically
  .gitlab/merge_request_templates/Release-Post-Bug-Performance-Usability-Improvement-Block.md
Due: none

Add clarity to the tasks regarding Runner and Distribution content blocks in the release post MR template
  .gitlab/merge_request_templates/Release-Post.md
Due: none

Minor revisions to text in release post MR template
  .gitlab/merge_request_templates/Release-Post.md
Due: none

Update instructions in Release post handbook
  sites/handbook/source/handbook/marketing/blog/release-posts/index.html.md
Due: none

Release Post revisions to timing and What's New MR instructions
  .gitlab/merge_request_templates/Release-Post.md
  sites/handbook/source/handbook/marketing/blog/release-posts/index.html.md
Due: none

Small update in the Engineering page to fix typos
  sites/handbook/source/handbook/engineering/index.html.md.erb
Due: none

Fix broken team table
  sites/handbook/source/handbook/engineering/development/ops/release/index.html.md.erb
Due: none

Fix typo in Product Processes page, Iteration Strategies section
  sites/handbook/source/handbook/product/product-processes/index.html.md.erb
Due: none

Add Discord to community index
  sites/uncategorized/source/community/index.html.haml
Due: none

Add MECEFU to PM JF
  sites/uncategorized/source/job-families/product/product-manager/index.html.md.erb
Due: none

Move Automation to P-2
  source/direction/saas-platforms/dedicated/index.html.md
Due: none

Increase Yubikey expensable amount
  sites/handbook/source/handbook/finance/procurement/office-equipment-supplies/index.html.md
Due: none

Update AI Assist videos
  sites/handbook/source/handbook/engineering/incubation/ai-assist/index.html.md
Due: none

Updating links to epics and cleanup
  sites/handbook/source/handbook/engineering/open-source/growth-strategy.html.md
Due: none

Ai assist/weekly update
  sites/handbook/source/handbook/engineering/incubation/ai-assist/index.html.md
Due: none

Add triage-ops doc entry for spam processor
  sites/handbook/source/handbook/engineering/quality/triage-operations/index.html.md
Due: none

Update team data of sdejonge
  data/team_members/person/s/sdejonge.yml
  sites/uncategorized/source/images/team/sdejonge.jpg
Due: rspec-unit

HackerOne triaging process : Adding sentence about report re-validation is not mandatory
  sites/handbook/source/handbook/engineering/security/security-engineering-and-research/application-security/runbooks/hackerone-process.html.md
Due: none

Apply 1 suggestion(s) to 1 file(s)
  data/release_posts/unreleased/configure-support-environment-deployment-tiers-in-gitlab-agent.yml
Due: lint release-post-items, rspec-unit

Apply 1 suggestion(s) to 1 file(s)
  data/release_posts/unreleased/configure-build-agentk-in-fips-mode.yml
Due: lint release-post-items, rspec-unit

Update configure-support-environment-deployment-tiers-in-gitlab-agent.yml
  data/release_posts/unreleased/configure-support-environment-deployment-tiers-in-gitlab-agent.yml
Due: lint release-post-items, rspec-unit

Path conditions:
  update-gitlab-project-releases-page: any of: sites/uncategorized/source/releases/posts/*-released.html.md
  apply-redirects-prod: any of: data/redirects.yml, bin/apply-exact-match-redirects, bin/apply-regex-redirects
  content-security-policy-checker: any of: source/includes/layout/head.html.haml
  lint release-post-items: any of: data/release_posts/unreleased/*, data/categories.yml, data/stages.yml, source/images/unreleased/*
  rubocop: any of: *.rb, **/*.rb, .rubocop.yml, Dangerfile, *.rake, **/*.rake, bin/**/*, scripts/**/*, Rakefile
  check-handbook-edit-links: any of: data/monorepo.yml, helpers/custom_helpers.rb, **/edit_page.html.haml, **/footer.html.haml, **/handbook-page-toc.haml, **/check_handbook_edit_links.rb
  rspec-unit: any of: spec/**/*, **/*.{js,json,rb,yml}, .rspec
