Repository spicysoft/jp-www-gitlab-com: changes, and which GitLab CI jobs are due for each by the changed paths.
All: update-gitlab-project-releases-page, apply-redirects-prod, content-security-policy-checker, lint release-post-items, rubocop, check-handbook-edit-links, rspec-unit

update-gitlab-project-releases-page:
  cache:
    key: web_ruby-3.0-bullseye
    policy: pull
    paths:
    - vendor
    - node_modules
  before_script:
  - bundle config set path vendor
  - bundle install --quiet --jobs 4
  - yarn install
  stage: content-generation
  needs: []
  script:
  - bundle exec rake release:ee:update_project_releases_page
  ...

apply-redirects-prod:
  cache:
    key: web_ruby-3.0-bullseye
    policy: pull
    paths:
    - vendor
    - node_modules
  before_script:
  - bundle config set path vendor
  - bundle install --quiet --jobs 4
  - yarn install
  stage: build-and-deploy
  environment:
    name: production
  script:
  - export FASTLY_SRV_ID=$FASTLY_SRV_ID_PROD
  ...

content-security-policy-checker:
  image: debian:stable-slim
  stage: test
  needs: []
  script:
  ...

lint release-post-items:
  cache:
    key: web_ruby-3.0-bullseye
    policy: pull
    paths:
    - vendor
    - node_modules
  before_script:
  - bundle config set path vendor
  - bundle install --quiet --jobs 4
  - yarn install
  stage: test
  needs: []
  script:
  - bundle exec bin/validate-release-post-item

rubocop:
  cache:
    key: web_ruby-3.0-bullseye
    policy: pull
    paths:
    - vendor
    - node_modules
  before_script:
  - bundle config set path vendor
  - bundle install --quiet --jobs 4
  - yarn install
  stage: test
  needs: []
  script:
  - bundle exec rubocop

check-handbook-edit-links:
  cache:
    key: web_ruby-3.0-bullseye
    policy: pull
    paths:
    - vendor
    - node_modules
  before_script:
  - bundle config set path vendor
  - bundle install --quiet --jobs 4
  - yarn install
  stage: test
  needs:
  - handbook-build-and-review-deploy
  script:
  - scripts/check-handbook-edit-links.rb

rspec-unit:
  cache:
    key: web_ruby-3.0-bullseye
    policy: pull
    paths:
    - vendor
    - node_modules
  before_script:
  - bundle config set path vendor
  - bundle install --quiet --jobs 4
  - yarn install
  stage: test
  needs: []
  script:
  - bundle exec rspec --tag ~@feature

Planning is it's own top-level section
  source/direction/monitor/observability/index.html.md
Due: none

Adding Corina Vargas' Information to Gitlab.com Team Page
  data/team_members/person/c/cvargas27.yml
  sites/uncategorized/source/images/team/corinavargas.png
Due: rspec-unit

Govern and Growth are stages
  sites/handbook/source/handbook/engineering/development/growth/acquisition/index.html.md.erb
  sites/handbook/source/handbook/engineering/development/growth/activation/index.html.md.erb
  sites/handbook/source/handbook/engineering/development/growth/index.html.md.erb
  sites/handbook/source/handbook/engineering/development/sec/govern/index.html.md.erb
Due: none

Update API Security maintainership
  data/team_members/person/m/mikeeddington.yml
Due: rspec-unit

Update Handbook with 2023 Cigna, Kaiser, Dental, Vision rates
  sites/handbook/source/handbook/total-rewards/benefits/general-and-entity-benefits/inc-benefits-us/index.html.md
Due: none

Fix Handbook html block parsing
  sites/handbook/config.rb
  sites/handbook/source/handbook/business-technology/data-team/data-catalog/xmau-analysis/estimation-xmau-algorithm.html.md.erb
  sites/handbook/source/handbook/business-technology/data-team/how-we-work/triage/index.html.md
  sites/handbook/source/handbook/business-technology/team-member-enablement/onboarding101/index.html.md
  sites/handbook/source/handbook/communication/top-misused-terms/index.html.md.erb
  sites/handbook/source/handbook/customer-success/solutions-architects/demonstrations/index.html.md
  sites/handbook/source/handbook/engineering/development/dev/manage/index.html.md.erb
  sites/handbook/source/handbook/engineering/metrics/partials/_child_dashboard.erb
  sites/handbook/source/handbook/engineering/metrics/partials/_team_dashboard.erb
  sites/handbook/source/handbook/engineering/security/security-assurance/security-compliance/control-health-effectiveness-rating.html.md
  sites/handbook/source/handbook/engineering/security/security-assurance/security-compliance/sec-controls.html.md
  sites/handbook/source/handbook/engineering/security/security-assurance/security-risk/storm-program/storm-methodology.html.md
  sites/handbook/source/handbook/engineering/security/security-assurance/zg-activities.html.md
  sites/handbook/source/handbook/engineering/workflow/code-review/index.html.md.erb
  sites/handbook/source/handbook/leadership/coaching/index.html.md
  sites/handbook/source/handbook/leadership/emotional-intelligence/social-styles/index.html.md
  sites/handbook/source/handbook/marketing/community-relations/code-contributor-program/core-team/index.html.md
  sites/handbook/source/handbook/marketing/corporate-marketing/social-marketing/index.html.md
  sites/handbook/source/handbook/marketing/corporate-marketing/social-marketing/team-member-social-advocacy/index.html.md
  sites/handbook/source/handbook/marketing/demand-generation/campaigns/content-in-campaigns/index.html.md
  sites/handbook/source/handbook/marketing/digital-experience/index.html.md
  sites/handbook/source/handbook/marketing/digital-experience/website/index.html.md
  sites/handbook/source/handbook/marketing/field-marketing/index.html.md
  sites/handbook/source/handbook/marketing/index.html.md
  sites/handbook/source/handbook/marketing/lifecycle-marketing/emails-nurture/index.html.md
  sites/handbook/source/handbook/marketing/virtual-events/external-virtual-events/index.html.md
  sites/handbook/source/handbook/marketing/virtual-events/webcasts/index.html.md
  sites/handbook/source/handbook/people-group/people-compliance/index.html.md
  sites/handbook/source/handbook/product/product-analysis/crash-course/index.html.md
  sites/handbook/source/handbook/product/product-analysis/growth-data-guide/index.html.md
  sites/handbook/source/handbook/product/product-analysis/index.html.md
  sites/handbook/source/handbook/product/product-analysis/team-processes/index.html.md
  sites/handbook/source/handbook/support/license-and-renewals/workflows/saas/ci_minutes.html.md
  sites/handbook/source/handbook/support/support-ops/training/zd_sfdc_sync.html.md
  sites/handbook/source/handbook/support/support-ops/workflows/provisioning_deprovisioning.html.md
  sites/handbook/source/handbook/support/workflows/test_env.html.md
  sites/handbook/source/handbook/total-rewards/benefits/general-and-entity-benefits/bv-benefits-finland/index.html.md
  sites/handbook/source/handbook/total-rewards/benefits/general-and-entity-benefits/canada-corp-benefits/index.html.md
  sites/handbook/source/handbook/total-rewards/benefits/general-and-entity-benefits/pty-benefits-australia/index.html.md
Due: rubocop, rspec-unit

Establish Fulfillment Admin Tools group
  source/direction/fulfillment/fulfillment-admin-tools/index.html.md
  source/direction/fulfillment/index.html.md
Due: none

Add PI to Product Analyst job family
  sites/uncategorized/source/job-families/product/product-analyst/index.html.md
Due: none

Corporate Events DIB & CSR Handbook Updates
  sites/handbook/source/handbook/marketing/corporate-marketing/corp-event-marketing/index.html.md
Due: none

Made updates within "Creating a Panel" and "Conducting research with your...
  sites/handbook/source/handbook/product/ux/ux-research-training/research-panel-management/index.html.md
Due: none

Update data/team_members/person/a/augustisme.yml,...
  data/team_members/person/a/augustisme.yml
  sites/uncategorized/source/images/team/agusleesetiawan.jpg
Due: rspec-unit

Update Talent Assessment: remove "Bamboo" and bold formatting
  sites/handbook/source/handbook/people-group/talent-assessment/index.html.md
Due: none

additional expense guidance for nursing mothers
  sites/handbook/source/handbook/travel/index.html.md
Due: none

clarify code based learning
  sites/handbook/source/handbook/total-rewards/benefits/general-and-entity-benefits/growth-and-development/index.html.md
Due: none

Update sites/handbook/source/handbook/engineering/infrastructure/production/index.html.md.erb
  sites/handbook/source/handbook/engineering/infrastructure/production/index.html.md.erb
Due: none

Update Greg Myers's team page entry
  data/team_members/person/g/greg-myers.yml
Due: rspec-unit

Update sites/handbook/source/handbook/sales/field-operations/gtm-resources/rules-of-engagement/index.html.md
  sites/handbook/source/handbook/sales/field-operations/gtm-resources/rules-of-engagement/index.html.md
Due: none

Translated: 何をするかだけでなく、なぜするかを伝える
  sites/handbook/source/handbook/values/index.html.md
Due: none

add the word phone
  sites/handbook/source/handbook/engineering/development/processes/Infra-Dev-Escalation/index.html.md.erb
Due: none

fix date
  sites/uncategorized/source/company/culture/inclusion/tmrg-gitlab-women/agile-career/index.html.md
Due: none

Update blog post to remove expired link
  sites/uncategorized/source/blog/blog-posts/2015-04-26-gitlab-acquires-githost.html.md
Due: none

Formatting and link fixes for Sec development pages
  sites/handbook/source/handbook/engineering/development/growth/index.html.md.erb
  sites/handbook/source/handbook/engineering/development/sec/index.html.md.erb
Due: none

Revert "Merge branch 'Rkole-master-patch-01085' into 'master'"
  sites/handbook/source/handbook/total-rewards/benefits/general-and-entity-benefits/inc-benefits-us/index.html.md
Due: none

Update sites/uncategorized/source/company/culture/inclusion/executive-dib-council/index.html.md
  sites/uncategorized/source/company/culture/inclusion/executive-dib-council/index.html.md
Due: none

Clarify steps are intended for who drives the maintainer approval process
  sites/handbook/source/handbook/engineering/workflow/code-review/index.html.md.erb
Due: none

Added links to resources to OKRs incubation page
  sites/handbook/source/handbook/engineering/incubation/okr/index.html.md
Due: none

Update stable counterparts filter for Govern
  sites/handbook/source/handbook/engineering/development/sec/govern/index.html.md.erb
Due: none

Updated Zendesk Organization links
  sites/handbook/source/handbook/support/support-ops/documentation/zendesk_global_organizations.html.md
Due: none

Update data/tech_stack.yml
  data/tech_stack.yml
Due: rspec-unit

Correcting name for team page entry - S Ahmed
  data/team_members/person/s/suleimiahmed.yml
Due: rspec-unit

Change gitlab_com documentation, referring to run book
  sites/handbook/source/handbook/business-technology/data-team/how-we-work/triage/index.html.md
Due: none

Update team page entry with new group assignments
  data/team_members/person/a/ashrafkhamis.yml
Due: rspec-unit

Deprecate data/events.yml and add new location/handbook
  data/events.yml
Due: rspec-unit

Sync specialty to team page - 2022-09-30
  data/team_members/person/a/ashrafkhamis.yml
  data/team_members/person/j/jpcyiza.yml
Due: rspec-unit

Update pmm mapping
  data/sections.yml
  data/stages.yml
Due: lint release-post-items, rspec-unit

Update Pavel Shutsin info to Plan
  data/team_members/person/p/pavelshutsin.yml
Due: rspec-unit

Create Blog Posts “2022-09-30-arm-open-source-makes-a-seamless-migration-to-gitlab”
  sites/uncategorized/source/blog/blog-posts/2022-09-30-arm-open-source-makes-a-seamless-migration-to-gitlab.html.md.erb
Due: none

Update link from manager challenge to new Elevate leadership program
  sites/handbook/source/handbook/engineering/development/dev/create/engineering-managers/training/index.html.md.erb
Due: none

Update link from manager challenge to new Elevate leadership program and remove LifeLabs Learning
  sites/handbook/source/handbook/engineering/development/dev/manage/index.html.md.erb
Due: none

edits
  sites/uncategorized/source/blog/blog-posts/2022-10-03-arm-open-source-makes-a-seamless-migration-to-gitlab.html.md.erb
Due: none

Path conditions:
  update-gitlab-project-releases-page: any of: sites/uncategorized/source/releases/posts/*-released.html.md
  apply-redirects-prod: any of: data/redirects.yml, bin/apply-exact-match-redirects, bin/apply-regex-redirects
  content-security-policy-checker: any of: source/includes/layout/head.html.haml
  lint release-post-items: any of: data/release_posts/unreleased/*, data/categories.yml, data/stages.yml, source/images/unreleased/*
  rubocop: any of: *.rb, **/*.rb, .rubocop.yml, Dangerfile, *.rake, **/*.rake, bin/**/*, scripts/**/*, Rakefile
  check-handbook-edit-links: any of: data/monorepo.yml, helpers/custom_helpers.rb, **/edit_page.html.haml, **/footer.html.haml, **/handbook-page-toc.haml, **/check_handbook_edit_links.rb
  rspec-unit: any of: spec/**/*, **/*.{js,json,rb,yml}, .rspec
