Repository spicysoft/jp-www-gitlab-com: changes, and which GitLab CI jobs are due for each by the changed paths.
All: update-gitlab-project-releases-page, apply-redirects-prod, content-security-policy-checker, lint release-post-items, rubocop, check-handbook-edit-links, rspec-unit

Path conditions:
  update-gitlab-project-releases-page: any of: sites/uncategorized/source/releases/posts/*-released.html.md
  apply-redirects-prod: any of: data/redirects.yml, bin/apply-exact-match-redirects, bin/apply-regex-redirects
  content-security-policy-checker: any of: source/includes/layout/head.html.haml
  lint release-post-items: any of: data/release_posts/unreleased/*, data/categories.yml, data/stages.yml, source/images/unreleased/*
  rubocop: any of: *.rb, **/*.rb, .rubocop.yml, Dangerfile, *.rake, **/*.rake, bin/**/*, scripts/**/*, Rakefile
  check-handbook-edit-links: any of: data/monorepo.yml, helpers/custom_helpers.rb, **/edit_page.html.haml, **/footer.html.haml, **/handbook-page-toc.haml, **/check_handbook_edit_links.rb
  rspec-unit: any of: spec/**/*, **/*.{js,json,rb,yml}, .rspec

Removed plural in title that is in quotes
  data/release_posts/unreleased/create-enforce-developer-certificates-of-origin-on-all-contributio.yml
Due: lint release-post-items, rspec-unit

Making developercertificate-org a proper link
  data/release_posts/unreleased/create-enforce-developer-certificates-of-origin-on-all-contributio.yml
Due: lint release-post-items, rspec-unit

Apply 1 suggestion(s) to 1 file(s)
  data/release_posts/unreleased/bugs.yml
Due: lint release-post-items, rspec-unit

Broken link in sustainable travel section
  sites/handbook/source/handbook/travel/index.html.md
Due: none

Punctuation
  data/release_posts/unreleased/create-enforce-developer-certificates-of-origin-on-all-contributio.yml
Due: lint release-post-items, rspec-unit

Sync specialty to team page - 2022-10-14
  data/team_members/person/d/davidfernandez.yml
  data/team_members/person/d/dmeshcharakou.yml
  data/team_members/person/h/hayleyswimelar.yml
  data/team_members/person/j/jaimemartinez.yml
  data/team_members/person/j/joaopereira.yml
  data/team_members/person/m/michelletorres.yml
  data/team_members/person/r/rchanila.yml
  data/team_members/person/s/shreyasagarwal.yml
  data/team_members/person/s/suleimiahmed.yml
Due: rspec-unit

Update manage-configurable-list-of-things-to-be-imported-that-can-be-adju.yml
  data/release_posts/unreleased/manage-configurable-list-of-things-to-be-imported-that-can-be-adju.yml
Due: lint release-post-items, rspec-unit

Add maintainer dashboards
  sites/handbook/source/handbook/engineering/workflow/code-review/index.html.md.erb
Due: none

Updating atanayno details at the team page
  data/team_members/person/a/alexander-t.yml
Due: rspec-unit

Fixing some minor typos in the PSOps page
  sites/handbook/source/handbook/customer-success/professional-services-engineering/professional-services-operations/index.html.md
Due: none

Add Arturo Herrero as mentor
  data/team_members/person/a/arturo-herrero.yml
Due: rspec-unit

Release post for autocomplete in content editor
  data/release_posts/unreleased/create-autocomplete-suggestions-in-content-editor.yml
  source/images/unreleased/content-editor-suggestions.png
Due: lint release-post-items, rspec-unit

Update Security Research role description
  sites/handbook/source/handbook/engineering/security/index.html.md.erb
  sites/handbook/source/handbook/engineering/security/threat-management/security-research/index.html.md
Due: none

Handbook update: New SA Activity Type for Partner SA called "Partner Assisted Demand Gen"
  sites/handbook/source/handbook/customer-success/solutions-architects/processes/activity-capture/activity-desc/index.html.md
Due: none

Update GItLab 101 links to correct course
  sites/handbook/source/handbook/people-group/learning-and-development/gitlab-101/index.html.md
Due: none

Using SFDC ID for needs org search
  sites/handbook/source/handbook/support/workflows/associating_needs_org_tickets_with_orgs.html.md
Due: none

Update markdown link typo
  sites/handbook/source/handbook/travel/index.html.md
Due: none

Adding more information on Blue Card requirements
  sites/handbook/source/handbook/people-group/visas/index.html.md
Due: none

Update data/team_members/person/c/csekizuka.yml
  data/team_members/person/c/csekizuka.yml
Due: rspec-unit

Add image
  source/images/unreleased/import-more-relationships-from-github.png
Due: lint release-post-items

Apply 1 suggestion(s) to 1 file(s)
  data/release_posts/unreleased/manage-transparent-sso-enforcement-for-group-members.yml
Due: lint release-post-items, rspec-unit

Discontinue the R&S Standup
  sites/handbook/source/handbook/engineering/infrastructure/incident-management/index.html.md
  sites/handbook/source/handbook/engineering/infrastructure/index.html.md.erb
Due: none

Clarified that the holiday allowance should be paid out yearly.
  sites/handbook/source/handbook/people-group/contracts-probation-periods/index.html.md.erb
Due: none

Remove lifelabs link from support managers page
  sites/handbook/source/handbook/support/managers/performance-management.html.md
Due: none

Add gitlab-shell project entry
  data/team_members/person/h/hacks4oats.yml
Due: rspec-unit

Code Contributor Page rebase
  sites/handbook/source/handbook/marketing/community-relations/code-contributor-program/community-appreciation/index.html.md
  sites/handbook/source/handbook/marketing/community-relations/code-contributor-program/index.html.md.erb
  sites/handbook/source/handbook/marketing/community-relations/code-contributor-program/operations/index.html.md.erb
Due: none

Update director-shadow-program.html - use of slack for non-GitLab team member shadows
  sites/handbook/source/handbook/engineering/development/shadow/director-shadow-program.html.md
Due: none

Replace broken link
  sites/handbook/source/handbook/engineering/open-source/index.html.md
Due: none

Creating table for fulfillment groups
  source/direction/fulfillment/index.html.md
Due: none

Update data/stages.yml to split Package into two groups
  data/stages.yml
Due: lint release-post-items, rspec-unit

Create Blog Posts “2022-10-14-one-third-of-what-we-learned-about-ipos-in-taking-gitlab-public”
  sites/uncategorized/source/blog/blog-posts/2022-10-14-one-third-of-what-we-learned-about-ipos-in-taking-gitlab-public.html.md.erb
  source/images/blogimages/gitlab-logo-500.jpg
Due: none

Add Container scanning feature
  sites/handbook/source/handbook/engineering/development/sec/secure/composition-analysis/index.html.md.erb
Due: none

copy edit tweaks/trying to fix emoji
  sites/uncategorized/source/blog/blog-posts/2022-10-14-one-third-of-what-we-learned-about-ipos-in-taking-gitlab-public.html.md.erb
Due: none

Add presentation duration for case studies during Product Designers interviews
  sites/uncategorized/source/job-families/product/product-designer/index.html.md.erb
Due: none

Add API Security analyzer update to .NET 6
  data/release_posts/unreleased/performance_improvements.yml
Due: lint release-post-items, rspec-unit

Add API Security bugs for 15.5
  data/release_posts/unreleased/bugs.yml
Due: lint release-post-items, rspec-unit

added featured, added screen grab of the SAFE tanuki
  sites/uncategorized/source/blog/blog-posts/2022-10-14-one-third-of-what-we-learned-about-ipos-in-taking-gitlab-public.html.md.erb
Due: none

Upload New File
  source/images/blogimages/safetanuki.png
Due: none

added tweet
  sites/uncategorized/source/blog/blog-posts/2022-10-14-one-third-of-what-we-learned-about-ipos-in-taking-gitlab-public.html.md.erb
Due: none
