Repository spicysoft/jp-www-gitlab-com: changes, and which GitLab CI jobs are due for each by the changed paths.
All: update-gitlab-project-releases-page, apply-redirects-prod, content-security-policy-checker, lint release-post-items, rubocop, check-handbook-edit-links, rspec-unit

update-gitlab-project-releases-page:
  cache:
    key: web_ruby-3.0-bullseye
    policy: pull
    paths:
    - vendor
    - node_modules
  before_script:
  - bundle config set path vendor
  - bundle install --quiet --jobs 4
  - yarn install
  stage: content-generation
  needs: []
  script:
  - bundle exec rake release:ee:update_project_releases_page
  ...

apply-redirects-prod:
  cache:
    key: web_ruby-3.0-bullseye
    policy: pull
    paths:
    - vendor
    - node_modules
  before_script:
  - bundle config set path vendor
  - bundle install --quiet --jobs 4
  - yarn install
  stage: build-and-deploy
  environment:
    name: production
  script:
  - export FASTLY_SRV_ID=$FASTLY_SRV_ID_PROD
  ...

content-security-policy-checker:
  image: debian:stable-slim
  stage: test
  needs: []
  script:
  ...

lint release-post-items:
  cache:
    key: web_ruby-3.0-bullseye
    policy: pull
    paths:
    - vendor
    - node_modules
  before_script:
  - bundle config set path vendor
  - bundle install --quiet --jobs 4
  - yarn install
  stage: test
  needs: []
  script:
  - bundle exec bin/validate-release-post-item

rubocop:
  cache:
    key: web_ruby-3.0-bullseye
    policy: pull
    paths:
    - vendor
    - node_modules
  before_script:
  - bundle config set path vendor
  - bundle install --quiet --jobs 4
  - yarn install
  stage: test
  needs: []
  script:
  - bundle exec rubocop

check-handbook-edit-links:
  cache:
    key: web_ruby-3.0-bullseye
    policy: pull
    paths:
    - vendor
    - node_modules
  before_script:
  - bundle config set path vendor
  - bundle install --quiet --jobs 4
  - yarn install
  stage: test
  needs:
  - handbook-build-and-review-deploy
  script:
  - scripts/check-handbook-edit-links.rb

rspec-unit:
  cache:
    key: web_ruby-3.0-bullseye
    policy: pull
    paths:
    - vendor
    - node_modules
  before_script:
  - bundle config set path vendor
  - bundle install --quiet --jobs 4
  - yarn install
  stage: test
  needs: []
  script:
  - bundle exec rspec --tag ~@feature

Add Auth bugs
  data/release_posts/unreleased/bugs.yml
Due: lint release-post-items, rspec-unit

Add Auth usability improvements
  data/release_posts/unreleased/usability_improvements.yml
Due: lint release-post-items, rspec-unit

Updating gitlab to GitLab in the CSM Intro emails
  sites/handbook/source/handbook/customer-success/tam/onboarding/index.html.md
Due: none

Navigation v1.1.4
  package.json
  yarn.lock
Due: rspec-unit

Examples of why updating features.yml is important
  sites/handbook/source/handbook/product/product-processes/index.html.md.erb
Due: none

Proposed Changes to External Content Checklist
  sites/handbook/source/handbook/marketing/demand-generation/campaigns/content-in-campaigns/index.html.md
Due: none

Updating Recurring Announcement Section with Correct Epic
  sites/handbook/source/handbook/sales/field-communications/index.html.md
Due: none

Update sites/handbook/source/handbook/customer-success/tam/segment/scale/index.html.md
  sites/handbook/source/handbook/customer-success/tam/segment/scale/index.html.md
Due: none

Add Top Cross-Functional Initiatives under Annual Cadence
  sites/uncategorized/source/company/cadence/index.html.md
Due: none

Update QA-on-call schedule
  sites/handbook/source/handbook/engineering/quality/quality-engineering/oncall-rotation/index.html.md.erb
Due: none

Fixed a few incorrect/out-of-date links
  sites/handbook/source/handbook/engineering/ux/technical-writing/setup/index.html.md
Due: none

Update data/release_posts/unreleased/plan-api-endpoint-for-deleting-attachments-from-project.yml
  data/release_posts/unreleased/plan-api-endpoint-for-deleting-attachments-from-project.yml
Due: lint release-post-items, rspec-unit

Update name from Revenue Operations to Revenue Accounting
  sites/handbook/source/handbook/finance/accounting/finance-ops/Revenue-Operations/index.html.md
Due: none

Simplify the Architecture Evolution Workflow
  sites/handbook/source/handbook/engineering/architecture/workflow/index.html.md
Due: none

Un-gated previous survey download links
  sites/uncategorized/source/developer-survey/previous/2019/index.html.haml
  sites/uncategorized/source/developer-survey/previous/2020/index.html.haml
Due: none

Updating MDF Language
  sites/handbook/source/handbook/marketing/channel-marketing/index.html.md
Due: none

Handbook: Update runner core page Helm usage
  source/direction/verify/runner_core/index.html.md
Due: none

Update jon so that he's in the database group
  data/team_members/person/a/alexives.yml
  data/team_members/person/j/jon_jenkins.yml
Due: rspec-unit

Adding Christine Lee's README
  sites/handbook/source/handbook/marketing/readmes/christine-lee.html.md
  sites/handbook/source/handbook/marketing/readmes/index.html.md
  source/images/handbook/clee-clifton.png
  source/images/handbook/clee-simpli5.png
Due: none

Caroline Rebello Team Page Update
  data/team_members/person/c/carorebell.yml
  sites/uncategorized/source/images/team/carolinerebello.jpeg
Due: rspec-unit

Changes text formatting to show hidden words
  sites/handbook/source/handbook/engineering/ux/ux-research-training/writing-usability-testing-script/index.html.md
Due: none

Added google group
  sites/uncategorized/source/company/culture/inclusion/tmrg-global-voices/index.html.md
Due: none

Expand Secure Architectural council to Sec
  sites/handbook/source/handbook/engineering/development/sec/index.html.md.erb
Due: none

Add link to Pods blueprint
  sites/handbook/source/handbook/engineering/development/enablement/data_stores/pods/index.html.md.erb
Due: none

Update taspropotamitis.yml
  data/team_members/person/t/taspropotamitis.yml
Due: rspec-unit

Adding explanatory text to 'Handling Multi-Year Subscriptions' workflow
  sites/handbook/source/handbook/support/license-and-renewals/workflows/self-managed/handling_multi-years_subscription.html.md
Due: none

Added code review bug fixes
  data/release_posts/unreleased/bugs.yml
Due: lint release-post-items, rspec-unit

Adds JiHu Vulnerability Disclosure Process
  sites/handbook/source/handbook/ceo/chief-of-staff-team/jihu-support/index.html.md
Due: none

Adding section on significant changes
  sites/handbook/source/handbook/engineering/security/security-assurance/governance/sec-awareness-training.html.md
Due: none

CI Decomposition is completed
  sites/handbook/source/includes/master-prioritization-list.md
Due: none

Cite source of Sophisticated Simplicity
  sites/handbook/source/handbook/engineering/ux/product-designer/index.html.md.erb
Due: none

Add Tianwen Chen to Team Page
  data/team_members/person/t/tianwenchen.yml
  sites/uncategorized/source/images/team/tianwenchen.jpg
Due: rspec-unit

Utilization: Prioritization Process Documentation
  sites/handbook/source/handbook/engineering/development/fulfillment/utilization/index.html.md.erb
Due: none

Switch DRI shifts for APAC
  sites/handbook/source/handbook/engineering/quality/quality-engineering/oncall-rotation/index.html.md.erb
Due: none

Update handbook link for MWPS info
  sites/handbook/source/handbook/engineering/workflow/index.html.md
Due: none

Update MC handbook entry to explicitly add information on new data tests
  sites/handbook/source/handbook/business-technology/data-team/direction/index.html.md
  sites/handbook/source/handbook/business-technology/data-team/platform/dbt-guide/index.html.md
  sites/handbook/source/handbook/business-technology/data-team/platform/monte-carlo/index.html.md
Due: none

Allow admins to merge topics
  data/release_posts/unreleased/manage-allow-admins-to-merge-topics.yml
Due: lint release-post-items, rspec-unit

Update data/release_posts/unreleased/manage-allow-admins-to-merge-topics.yml
  data/release_posts/unreleased/manage-allow-admins-to-merge-topics.yml
Due: lint release-post-items, rspec-unit

Update Support Workflow docs from EdCast to LevelUp
  sites/handbook/source/handbook/support/workflows/ticket_triage.html.md
Due: none

Extend workspace weight definition with complexity
  sites/handbook/source/handbook/engineering/development/dev/manage/workspace/index.html.md.erb
Due: none

Path conditions:
  update-gitlab-project-releases-page: any of: sites/uncategorized/source/releases/posts/*-released.html.md
  apply-redirects-prod: any of: data/redirects.yml, bin/apply-exact-match-redirects, bin/apply-regex-redirects
  content-security-policy-checker: any of: source/includes/layout/head.html.haml
  lint release-post-items: any of: data/release_posts/unreleased/*, data/categories.yml, data/stages.yml, source/images/unreleased/*
  rubocop: any of: *.rb, **/*.rb, .rubocop.yml, Dangerfile, *.rake, **/*.rake, bin/**/*, scripts/**/*, Rakefile
  check-handbook-edit-links: any of: data/monorepo.yml, helpers/custom_helpers.rb, **/edit_page.html.haml, **/footer.html.haml, **/handbook-page-toc.haml, **/check_handbook_edit_links.rb
  rspec-unit: any of: spec/**/*, **/*.{js,json,rb,yml}, .rspec
