Repository spicysoft/jp-www-gitlab-com: changes, and which GitLab CI jobs are due for each by the changed paths.
All: update-gitlab-project-releases-page, apply-redirects-prod, content-security-policy-checker, lint release-post-items, rubocop, check-handbook-edit-links, rspec-unit

update-gitlab-project-releases-page:
  cache:
    key: web_ruby-3.0-bullseye
    policy: pull
    paths:
    - vendor
    - node_modules
  before_script:
  - bundle config set path vendor
  - bundle install --quiet --jobs 4
  - yarn install
  stage: content-generation
  needs: []
  script:
  - bundle exec rake release:ee:update_project_releases_page
  ...

apply-redirects-prod:
  cache:
    key: web_ruby-3.0-bullseye
    policy: pull
    paths:
    - vendor
    - node_modules
  before_script:
  - bundle config set path vendor
  - bundle install --quiet --jobs 4
  - yarn install
  stage: build-and-deploy
  environment:
    name: production
  script:
  - export FASTLY_SRV_ID=$FASTLY_SRV_ID_PROD
  ...

content-security-policy-checker:
  image: debian:stable-slim
  stage: test
  needs: []
  script:
  ...

lint release-post-items:
  cache:
    key: web_ruby-3.0-bullseye
    policy: pull
    paths:
    - vendor
    - node_modules
  before_script:
  - bundle config set path vendor
  - bundle install --quiet --jobs 4
  - yarn install
  stage: test
  needs: []
  script:
  - bundle exec bin/validate-release-post-item

rubocop:
  cache:
    key: web_ruby-3.0-bullseye
    policy: pull
    paths:
    - vendor
    - node_modules
  before_script:
  - bundle config set path vendor
  - bundle install --quiet --jobs 4
  - yarn install
  stage: test
  needs: []
  script:
  - bundle exec rubocop

check-handbook-edit-links:
  cache:
    key: web_ruby-3.0-bullseye
    policy: pull
    paths:
    - vendor
    - node_modules
  before_script:
  - bundle config set path vendor
  - bundle install --quiet --jobs 4
  - yarn install
  stage: test
  needs:
  - handbook-build-and-review-deploy
  script:
  - scripts/check-handbook-edit-links.rb

rspec-unit:
  cache:
    key: web_ruby-3.0-bullseye
    policy: pull
    paths:
    - vendor
    - node_modules
  before_script:
  - bundle config set path vendor
  - bundle install --quiet --jobs 4
  - yarn install
  stage: test
  needs: []
  script:
  - bundle exec rspec --tag ~@feature

add link to past issue for reference
  sites/handbook/source/handbook/people-group/learning-and-development/learning-initiatives/crucial-conversations/index.html.md
Due: none

Update data/jobs_to_be_done.yml
  data/jobs_to_be_done.yml
Due: rspec-unit

Update maintainer process to be a contributor before being a reviewer
  sites/handbook/source/handbook/engineering/workflow/code-review/index.html.md.erb
Due: none

fixed link
  sites/uncategorized/source/blog/blog-posts/2022-09-14-git-resources-for-visual-learners.html.md.erb
Due: none

updating the steps for requesting the license for GitLab Heroes
  sites/handbook/source/handbook/marketing/community-relations/evangelist-program/index.html.md.erb
Due: none

Remove Engineering - ux jobbucket from openings.js
  source/javascripts/openings.js
Due: rspec-unit

Adding job frameworks as core input to measuring performance
  sites/handbook/source/handbook/people-group/talent-assessment/index.html.md
Due: none

fixing broken link
  sites/uncategorized/source/blog/blog-posts/2022-09-14-git-resources-for-visual-learners.html.md.erb
Due: none

Ecosystem:Integrations Direction Page Updates
  source/direction/ecosystem/integrations/index.html.md
Due: none

Apply 1 suggestion(s) to 1 file(s)
  data/release_posts/unreleased/release-add-associated-release-link-to-single-tag-page.yml
Due: lint release-post-items, rspec-unit

Update link to Govern planning
  sites/handbook/source/handbook/engineering/development/sec/govern/security-policies/index.html.md.erb
Due: none

Updating A/B Test Dates
  sites/handbook/source/handbook/marketing/digital-experience/engineering-ab-tests/index.html.md
Due: none

Remove old events page and update handbook instructions
  .rubocop_todo.yml
  data/events.yml
  lib/homepage.rb
  lib/tasks/lint.rake
  sites/handbook/source/handbook/eba/ceo-scheduling/index.html.md
  sites/handbook/source/handbook/marketing/corporate-marketing/speaking-resources/index.html.md
  sites/handbook/source/handbook/marketing/events/index.html.md
  sites/handbook/source/handbook/marketing/virtual-events/webcasts/index.html.md
  sites/uncategorized/config.rb
  sites/uncategorized/source/admin/config.yml
  sites/uncategorized/source/community/virtual-meetups/index.html.haml
  sites/uncategorized/source/includes/layout/header-commit.html.haml
Due: rubocop, rspec-unit

Update Auth direction page for August
  source/direction/manage/auth/index.html.md.erb
  source/direction/manage/auth/templates/_intro.erb
  source/direction/manage/auth/templates/_next.erb
Due: none

Clarify specialty definition for Public Sector Director and Sr Director of Customer Success
  sites/uncategorized/source/job-families/sales/director-customer-success/index.html.md.erb
Due: none

Update Short-Term Stay to add a handbook link for Business Accident Travel Policy
  sites/handbook/source/handbook/people-group/relocation/index.html.md.erb
Due: none

Translated バリュー > 硬直化より自由と責任
  sites/handbook/source/handbook/values/index.html.md
Due: none

Update References to Bamboohr and fixed typos
  sites/handbook/source/handbook/incentives/index.html.md
Due: none

Update Covid Travel Policy to indicate that GitLab will pay for the test kits
  sites/handbook/source/handbook/travel/index.html.md
Due: none

Adding Globalization job-family folder
  sites/uncategorized/source/job-families/marketing/globalization/index.html.md
Due: none

Added medical insurance coverage clarity on test kits
  sites/handbook/source/handbook/travel/index.html.md
Due: none

Late Threat Insights bug fix for 15.4
  data/release_posts/unreleased/bugs.yml
Due: lint release-post-items, rspec-unit

Minor edits to Fast Decisions content
  sites/handbook/source/handbook/teamops/fast-decisions/index.html.md.erb
Due: none

Adds UX directory and adjusts landing page to include all Product functions
  sites/handbook/source/handbook/product/index.html.md.erb
  sites/handbook/source/handbook/product/product-management/index.html.md.erb
  sites/handbook/source/handbook/product/product-monetization/index.html.md.erb
  sites/handbook/source/handbook/product/ux/index.html.md.erb
Due: none

Update data team handbook sc
  sites/handbook/source/handbook/business-technology/data-team/index.html.md.erb
  sites/handbook/source/handbook/business-technology/data-team/platform/infrastructure/index.html.md
Due: none

RP item: Semgrep-based C# SAST scanning
  data/release_posts/unreleased/secure-sast-csharp-semgrep.yml
Due: lint release-post-items, rspec-unit

Set myself as docs reviewer
  data/team_members/person/l/lciutacu.yml
Due: rspec-unit

Updated Link to request Manual credit card validation
  sites/handbook/source/handbook/support/license-and-renewals/workflows/saas/ci_minutes.html.md
Due: none

Remove link to legacy PROCESS.md
  sites/handbook/source/handbook/engineering/workflow/index.html.md
Due: none

Request for James Rushford to become a Merge Request Coach
  data/team_members/person/j/jrushford.yml
Due: rspec-unit

Apply 1 suggestion(s) to 1 file(s)
  data/release_posts/unreleased/manage-introduce-rest-api-for-group-transfer-locations.yml
Due: lint release-post-items, rspec-unit

Removing Compliance from Dev Section
  sites/handbook/source/handbook/engineering/quality/quality-engineering/dev-qe-team/index.html.md.erb
Due: none

Add Paul Dumaitre to team page
  data/team_members/person/p/pdumaitre.yml
  sites/uncategorized/source/images/team/pauldumaitre.jpg
Due: rspec-unit

Adding primary security release manager
  data/release_managers.yml
Due: rspec-unit

Update juliet-wanjohi.yml with trainee_maintainer
  data/team_members/person/j/juliet-wanjohi.yml
Due: rspec-unit

Update TAM references to CSM for strategic page
  sites/handbook/source/handbook/customer-success/csm/segment/strategic/index.html.md
Due: none

Sync specialty to team page - 2022-09-15
  data/team_members/person/g/garyholtz.yml
  data/team_members/person/l/leipert.yml
Due: rspec-unit

Updates to datafiles for Raimund Hook
  data/heroes.yml
  data/team_members/person/r/raimundh.yml
Due: rspec-unit

Change approval chain for new MR coaches
  sites/handbook/source/handbook/marketing/community-relations/code-contributor-program/resources/merge-request-coach-lifecycle.html.md.erb
Due: none

Path conditions:
  update-gitlab-project-releases-page: any of: sites/uncategorized/source/releases/posts/*-released.html.md
  apply-redirects-prod: any of: data/redirects.yml, bin/apply-exact-match-redirects, bin/apply-regex-redirects
  content-security-policy-checker: any of: source/includes/layout/head.html.haml
  lint release-post-items: any of: data/release_posts/unreleased/*, data/categories.yml, data/stages.yml, source/images/unreleased/*
  rubocop: any of: *.rb, **/*.rb, .rubocop.yml, Dangerfile, *.rake, **/*.rake, bin/**/*, scripts/**/*, Rakefile
  check-handbook-edit-links: any of: data/monorepo.yml, helpers/custom_helpers.rb, **/edit_page.html.haml, **/footer.html.haml, **/handbook-page-toc.haml, **/check_handbook_edit_links.rb
  rspec-unit: any of: spec/**/*, **/*.{js,json,rb,yml}, .rspec
