Repository spicysoft/jp-www-gitlab-com: changes, and which GitLab CI jobs are due for each by the changed paths.
All: update-gitlab-project-releases-page, apply-redirects-prod, content-security-policy-checker, lint release-post-items, rubocop, check-handbook-edit-links, rspec-unit

Path conditions:
  update-gitlab-project-releases-page: any of: sites/uncategorized/source/releases/posts/*-released.html.md
  apply-redirects-prod: any of: data/redirects.yml, bin/apply-exact-match-redirects, bin/apply-regex-redirects
  content-security-policy-checker: any of: source/includes/layout/head.html.haml
  lint release-post-items: any of: data/release_posts/unreleased/*, data/categories.yml, data/stages.yml, source/images/unreleased/*
  rubocop: any of: *.rb, **/*.rb, .rubocop.yml, Dangerfile, *.rake, **/*.rake, bin/**/*, scripts/**/*, Rakefile
  check-handbook-edit-links: any of: data/monorepo.yml, helpers/custom_helpers.rb, **/edit_page.html.haml, **/footer.html.haml, **/handbook-page-toc.haml, **/check_handbook_edit_links.rb
  rspec-unit: any of: spec/**/*, **/*.{js,json,rb,yml}, .rspec

Update Geo replication maturity level to complete
  data/categories.yml
Due: lint release-post-items, rspec-unit

Change reference of backup Okta Verify from Google authenticator to Touch ID
  sites/handbook/source/handbook/business-technology/team-member-enablement/onboarding-access-requests/index.html.md
Due: none

Update pshutsin mentees.
  data/maintainer_mentorship.yml
Due: rspec-unit

Add guidance on commenting on tech lay offs
  sites/handbook/source/handbook/hiring/gitlab-ambassadors/index.html.md
Due: none

update backup entry
  sites/handbook/source/handbook/business-technology/data-team/platform/index.html.md
Due: none

Fix broken links projects part of product
  data/performance_indicators/engineering_function.yml
Due: rspec-unit

Add CoS slack channel
  sites/handbook/source/handbook/engineering/cto-staff/index.html.md.erb
Due: none

Instructions for how to install SentinelOne on Linux
  sites/handbook/source/handbook/business-technology/team-member-enablement/onboarding-access-requests/endpoint-management/edr/index.html.md
Due: none

Add OneTrust Vendorpedia to Baseline Entitlement List
  sites/handbook/source/handbook/business-technology/team-member-enablement/onboarding-access-requests/access-requests/baseline-entitlements/index.html.md
Due: none

Update Dima as a backend reviewer
  data/team_members/person/d/dmeshcharakou.yml
Due: rspec-unit

Adding new content to CC page for Enablement
  sites/handbook/source/handbook/product/product-analysis/crash-course/index.html.md
Due: none

MLHF Issue list update
  sites/handbook/source/handbook/marketing/digital-experience/major-league-hacking-fellows/index.html.md
Due: none

Updating epics because they moved from gitlab-com to gitlab-org
  sites/handbook/source/handbook/engineering/open-source/growth-strategy.html.md
Due: none

Clarifying OSS Language
  data/solution_children/join.yml
  sites/handbook/source/handbook/marketing/community-relations/community-programs/opensource-program/index.html.md
  sites/uncategorized/source/blog/blog-posts/2021-11-11-public-project-minute-limits.html.md.erb
  sites/uncategorized/source/blog/blog-posts/2022-02-04-ultimate-perks-for-open-source-projects.html.md
Due: rspec-unit

Amend reporting structure and interview process for Fullstack Engineer
  sites/uncategorized/source/job-families/marketing/fullstack-engineer-marketing/index.html.md
Due: none

Replace Maintainers per MR PI with Project Health
  data/performance_indicators/development_department.yml
Due: rspec-unit

Esther peach fuzzing blog updates
  sites/uncategorized/source/blog/blog-posts/2021-03-23-gitlab-open-sources-protocol-fuzz-test-engine.html.md.erb
Due: none

Clarify sentence on being paid in non-local currency
  sites/handbook/source/handbook/total-rewards/compensation/index.html.md.erb
Due: none

Opportunity Creation Workflow Diagram additions
  sites/handbook/source/handbook/marketing/revenue-marketing/sdr/Opportunity creation workflow.png
  sites/handbook/source/handbook/marketing/revenue-marketing/sdr/index.html.md
Due: none

Update POAM-Deviation-Request-Procedure.html.md
  sites/handbook/source/handbook/security/security-assurance/dedicated-compliance/POAM-Deviation-Request-Procedure.html.md
Due: none

Highlight collaboration with the customer for EBR development
  sites/handbook/source/handbook/customer-success/csm/ebr/index.html.md
Due: none

Few minor edits based on meeting yesterday. No change in stance.
  sites/handbook/source/handbook/travel/index.html.md
Due: none

Added Marketo tech stack guide link
  data/tech_stack.yml
Due: rspec-unit

Resolve "Workday Tech Stack Page"
  sites/handbook/source/handbook/people-group/workday/tech-stack-guide-workday/index.html.md.erb
  sites/handbook/source/handbook/people-group/workday/tech-stack-guide-workday/workday.png
Due: none

Updates to the PubSec Message House Handbook Page
  sites/handbook/source/handbook/marketing/strategic-marketing/public-sector-gtm/index.html.md
Due: none

Update sites/handbook/source/handbook/leadership/underperformance/index.html.md
  sites/handbook/source/handbook/leadership/underperformance/index.html.md
Due: none

Marketo Tech Stack Page - Update
  sites/handbook/source/handbook/marketing/marketing-operations/marketo/tech-stack-guide-marketo/index.html.md.erb
Due: none

Update direction review schedule
  source/direction/enablement/reviews/index.html.md
Due: none

Add QE Self Managed Excellence page
  sites/handbook/source/handbook/engineering/quality/quality-engineering/index.html.md.erb
  sites/handbook/source/handbook/engineering/quality/quality-engineering/self-managed-excellence/index.html.md
Due: none

Runner Core direction page updates for Oct 2022
  source/direction/verify/runner_core/index.html.md
Due: none

Update Code Quality maintainership
  data/projects.yml
  data/team_members/person/d/drew.yml
  data/team_members/person/e/erickbajao.yml
  data/team_members/person/l/lucascharles.yml
  data/team_members/person/r/rossfuhrman.yml
Due: rspec-unit

Runner SaaS direction page updates for Oct 2022
  source/direction/verify/runner_saas/index.html.md
Due: none

Runner Fleet direction page updates for Oct 2022
  source/direction/verify/runner_fleet/index.html.md
Due: none

Update observation pages to reflect maturation updates
  sites/handbook/source/handbook/security/security-assurance/control-health-effectiveness-rating.html.md
  sites/handbook/source/handbook/security/security-assurance/observation-management-procedure.html.md
  sites/handbook/source/handbook/security/security-assurance/observation-remediation-procedure.html.md
Due: none

MktgOps: 20221024 - 20221106
  sites/handbook/source/handbook/marketing/emergency-response/index.html.md
  sites/handbook/source/handbook/marketing/marketing-operations/email-management/index.html.md
  sites/handbook/source/handbook/marketing/marketing-operations/index.html.md
  sites/handbook/source/handbook/marketing/marketing-operations/list-import/index.html.md
  sites/handbook/source/handbook/marketing/marketing-operations/marketo/index.html.md
  sites/handbook/source/handbook/marketing/marketing-operations/marketo/tech-stack-guide-marketo/index.html.md.erb
  sites/handbook/source/handbook/marketing/marketing-operations/on24/index.html.md
Due: none

Corp Comms Team Norms: Glass balls add
  sites/handbook/source/handbook/marketing/corporate-marketing/corporate-communications/index.html.md
Due: none

Minor updates to Personal Data Requests page reflective of privacy law trends
  sites/handbook/source/handbook/gdpr/index.html.md
Due: none

Update role for Shreyas Agarwal
  data/team_members/person/s/shreyasagarwal.yml
Due: rspec-unit

Update sites/handbook/source/handbook/sales/field-operations/gtm-resources/rules-of-engagement/index.html.md
  sites/handbook/source/handbook/sales/field-operations/gtm-resources/rules-of-engagement/index.html.md
Due: none
