Repository spicysoft/jp-www-gitlab-com: changes, and which GitLab CI jobs are due for each by the changed paths.
All: update-gitlab-project-releases-page, apply-redirects-prod, content-security-policy-checker, lint release-post-items, rubocop, check-handbook-edit-links, rspec-unit

update-gitlab-project-releases-page:
  cache:
    key: web_ruby-3.0-bullseye
    policy: pull
    paths:
    - vendor
    - node_modules
  before_script:
  - bundle config set path vendor
  - bundle install --quiet --jobs 4
  - yarn install
  stage: content-generation
  needs: []
  script:
  - bundle exec rake release:ee:update_project_releases_page
  ...

apply-redirects-prod:
  cache:
    key: web_ruby-3.0-bullseye
    policy: pull
    paths:
    - vendor
    - node_modules
  before_script:
  - bundle config set path vendor
  - bundle install --quiet --jobs 4
  - yarn install
  stage: build-and-deploy
  environment:
    name: production
  script:
  - export FASTLY_SRV_ID=$FASTLY_SRV_ID_PROD
  ...

content-security-policy-checker:
  image: debian:stable-slim
  stage: test
  needs: []
  script:
  ...

lint release-post-items:
  cache:
    key: web_ruby-3.0-bullseye
    policy: pull
    paths:
    - vendor
    - node_modules
  before_script:
  - bundle config set path vendor
  - bundle install --quiet --jobs 4
  - yarn install
  stage: test
  needs: []
  script:
  - bundle exec bin/validate-release-post-item

rubocop:
  cache:
    key: web_ruby-3.0-bullseye
    policy: pull
    paths:
    - vendor
    - node_modules
  before_script:
  - bundle config set path vendor
  - bundle install --quiet --jobs 4
  - yarn install
  stage: test
  needs: []
  script:
  - bundle exec rubocop

check-handbook-edit-links:
  cache:
    key: web_ruby-3.0-bullseye
    policy: pull
    paths:
    - vendor
    - node_modules
  before_script:
  - bundle config set path vendor
  - bundle install --quiet --jobs 4
  - yarn install
  stage: test
  needs:
  - handbook-build-and-review-deploy
  script:
  - scripts/check-handbook-edit-links.rb

rspec-unit:
  cache:
    key: web_ruby-3.0-bullseye
    policy: pull
    paths:
    - vendor
    - node_modules
  before_script:
  - bundle config set path vendor
  - bundle install --quiet --jobs 4
  - yarn install
  stage: test
  needs: []
  script:
  - bundle exec rspec --tag ~@feature

Remove guideline to triage the `New` queue
  sites/handbook/source/handbook/security/security-engineering-and-research/application-security/runbooks/hackerone-process.html.md
Due: none

Importers direction updates
  source/direction/manage/importers/index.html.md.erb
  source/direction/manage/importers/templates/_next.erb
Due: none

Add missing Container Registry fix, remove spec update from list of fixes, update release metadata
  sites/uncategorized/source/releases/posts/2022-11-07-gitlab-15-5-3-released.html.md
Due: update-gitlab-project-releases-page

Add next TWs for structural check
  data/release_post_managers.yml
Due: rspec-unit

Adding 2022-11-07 FOPS Release to Changelog
  sites/handbook/source/handbook/sales/field-operations/changelog/index.html.md
Due: none

Update sites/handbook/source/handbook/engineering/incubation/mlops/index.html.md
  sites/handbook/source/handbook/engineering/incubation/mlops/index.html.md
Due: none

reference incident timelines in data handbook
  sites/handbook/source/handbook/business-technology/data-team/how-we-work/triage/index.html.md
Due: none

IR-handbookpage-update-Draft
  sites/handbook/source/handbook/finance/investor-relations/index.html.md
Due: none

Adding the "DevSecOps Adoption Guide" to the list of CSM webinars
  sites/handbook/source/handbook/customer-success/csm/workshops/index.html.md
Due: none

added backlink
  sites/uncategorized/source/blog/blog-posts/2022-08-30-the-ultimate-guide-to-software-supply-chain-security.html.md.erb
Due: none

added what's new since page to ENT sales handbook
  sites/handbook/source/handbook/sales/playbook/index.html.md
Due: none

Adding a JTBD around debugging a failed pipeline
  data/jobs_to_be_done.yml
Due: rspec-unit

Merge Request: Update Highspot Handbook Page
  sites/handbook/source/handbook/sales/field-communications/gitlab-highspot/index.html.md
Due: none

IR-2nd-handbook-update
  sites/handbook/source/handbook/finance/investor-relations/index.html.md
Due: none

Update NYPFL employee rights and responsibilities information
  sites/handbook/source/handbook/people-policies/leave-of-absence/us/index.html.md.erb
Due: none

Update Recent News Page
  data/press.yml
  source/images/press/fedtech-logo.png
Due: rspec-unit

Replace "grok" with more broadly understood english
  sites/uncategorized/source/company/culture/all-remote/handbook-first-documentation/index.html.md.erb
Due: none

update Help@hand instructions
  sites/handbook/source/handbook/total-rewards/benefits/general-and-entity-benefits/ltd-benefits-uk/index.html.md
Due: none

Update to priorities
  data/product_priorities.yml
Due: rspec-unit

Update director shadow program with Sladyn.
  sites/handbook/source/handbook/engineering/development/shadow/director-shadow-program.html.md
Due: none

Category Direction Pages serve as the SSOT for the Roadmap
  sites/handbook/source/handbook/product/product-processes/index.html.md.erb
Due: none

Add Canada Corp Intern contract
  sites/handbook/source/handbook/people-group/contracts-probation-periods/index.html.md.erb
Due: none

Adding my info to the Team page
  data/team_members/person/j/jmatthewj.yml
  sites/uncategorized/source/images/team/jmatthewj.jpg
Due: rspec-unit

Cleaned Up Formatting on RoE Page
  sites/handbook/source/handbook/sales/field-operations/gtm-resources/rules-of-engagement/index.html.md
Due: none

Update Purchase Handbook Page
  source/direction/fulfillment/purchase/index.html.md
Due: none

Set the date to tomorrow as it will likely not be completed today.
  sites/uncategorized/source/releases/posts/2022-11-08-gitlab-15-5-3-released.html.md
Due: update-gitlab-project-releases-page

Fixing small grammatical typos
  sites/handbook/source/handbook/engineering/incubation/cloud-seed/index.html.md
Due: none

Clarify out of scope
  sites/handbook/source/handbook/resellers/partner-support/index.html.md
Due: none

Updating Enablement Session Info
  sites/handbook/source/handbook/marketing/strategic-marketing/roles-personas/buyer-persona/index.html.md
Due: none

fixing numbering and providing clarification on Okta instructions
  sites/handbook/source/handbook/business-technology/okta/index.html.md
Due: none

Update CoST Workplace team page
  sites/handbook/source/handbook/ceo/chief-of-staff-team/workplace/index.html.md
Due: none

Re-organize content of Direction page for clarity, add video
  source/direction/manage/integrations/index.html.md.erb
Due: none

Added Scheduled Times to Enablement Sessions
  sites/handbook/source/handbook/marketing/strategic-marketing/roles-personas/buyer-persona/index.html.md
Due: none

Mark Runner SaaS team members as Runner SaaS
  data/team_members/person/a/akohlbecker.yml
  data/team_members/person/d/dbickford.yml
  data/team_members/person/e/elliot-rushton.yml
  data/team_members/person/j/josephburnett.yml
  data/team_members/person/t/tomasz-m.yml
Due: rspec-unit

Update Compliance team yml
  data/team_members/person/a/ahuntsman.yml
  data/team_members/person/h/huzaifaiftikhar1.yml
Due: rspec-unit

Fixing error in the Okta MFA instructions
  sites/handbook/source/handbook/business-technology/okta/index.html.md
Due: none

Updating department, photo and pronouns.
  data/team_members/person/a/ameeks.yml
  sites/uncategorized/source/images/team/alissameeks.jpg
Due: rspec-unit

updating job family/group
  data/team_members/person/a/ameeks.yml
Due: rspec-unit

Updating phases list for readability and a11y
  sites/uncategorized/source/company/vision/index.html.md
Due: none

Use full Youtube link for cross-cultural panel video
  sites/uncategorized/source/company/culture/cross-culture-collaboration-guide/index.html.md
Due: none

Path conditions:
  update-gitlab-project-releases-page: any of: sites/uncategorized/source/releases/posts/*-released.html.md
  apply-redirects-prod: any of: data/redirects.yml, bin/apply-exact-match-redirects, bin/apply-regex-redirects
  content-security-policy-checker: any of: source/includes/layout/head.html.haml
  lint release-post-items: any of: data/release_posts/unreleased/*, data/categories.yml, data/stages.yml, source/images/unreleased/*
  rubocop: any of: *.rb, **/*.rb, .rubocop.yml, Dangerfile, *.rake, **/*.rake, bin/**/*, scripts/**/*, Rakefile
  check-handbook-edit-links: any of: data/monorepo.yml, helpers/custom_helpers.rb, **/edit_page.html.haml, **/footer.html.haml, **/handbook-page-toc.haml, **/check_handbook_edit_links.rb
  rspec-unit: any of: spec/**/*, **/*.{js,json,rb,yml}, .rspec
