Repository spicysoft/jp-www-gitlab-com: changes, and which GitLab CI jobs are due for each by the changed paths.
All: update-gitlab-project-releases-page, apply-redirects-prod, content-security-policy-checker, lint release-post-items, rubocop, check-handbook-edit-links, rspec-unit

Path conditions:
  update-gitlab-project-releases-page: any of: sites/uncategorized/source/releases/posts/*-released.html.md
  apply-redirects-prod: any of: data/redirects.yml, bin/apply-exact-match-redirects, bin/apply-regex-redirects
  content-security-policy-checker: any of: source/includes/layout/head.html.haml
  lint release-post-items: any of: data/release_posts/unreleased/*, data/categories.yml, data/stages.yml, source/images/unreleased/*
  rubocop: any of: *.rb, **/*.rb, .rubocop.yml, Dangerfile, *.rake, **/*.rake, bin/**/*, scripts/**/*, Rakefile
  check-handbook-edit-links: any of: data/monorepo.yml, helpers/custom_helpers.rb, **/edit_page.html.haml, **/footer.html.haml, **/handbook-page-toc.haml, **/check_handbook_edit_links.rb
  rspec-unit: any of: spec/**/*, **/*.{js,json,rb,yml}, .rspec

Update Configure Group -> How to Contribute to Auto DevOps
  sites/handbook/source/handbook/engineering/development/ops/configure/index.html.md.erb
Due: none

fixed broken link
  sites/uncategorized/source/blog/blog-posts/2022-09-14-git-resources-for-visual-learners.html.md.erb
Due: none

Bot badge initial draft
  data/release_posts/unreleased/manage-add-bot-badge-to-bot-users.yml
Due: lint release-post-items, rspec-unit

Add Bot Badge to Bot Users
  data/release_posts/unreleased/manage-add-bot-badge-to-bot-users.yml
Due: lint release-post-items, rspec-unit

Apply 1 suggestion(s) to 1 file(s)
  data/release_posts/unreleased/manage-add-bot-badge-to-bot-users.yml
Due: lint release-post-items, rspec-unit

Remove bot account
  source/images/unreleased/bot-account.png
Due: lint release-post-items

Add image and docs link
  data/release_posts/unreleased/manage-add-bot-badge-to-bot-users.yml
  source/images/unreleased/bot-account.png
Due: lint release-post-items, rspec-unit

New bot account image
  source/images/unreleased/bot-account.png
Due: lint release-post-items

Add specifics on where the badge is visible
  data/release_posts/unreleased/manage-add-bot-badge-to-bot-users.yml
Due: lint release-post-items, rspec-unit

Change Jason Goodman from Trainee to CDot BE Maintainer
  data/team_members/person/j/jason-goodman.yml
Due: rspec-unit

Create Blog Posts “2022-09-15-why-ai-in-devops-is-here-to-stay”
  sites/uncategorized/source/blog/blog-posts/2022-09-15-why-ai-in-devops-is-here-to-stay.html.md.erb
Due: none

edits
  sites/uncategorized/source/blog/blog-posts/2022-09-15-why-ai-in-devops-is-here-to-stay.html.md.erb
Due: none

Update source/direction/manage/subgroups/index.html.md
  source/direction/manage/subgroups/index.html.md
Due: none

Apply 2 suggestion(s) to 1 file(s)
  data/release_posts/unreleased/release-show-tags-related-to-deployed-commit-on-environment-page.yml
Due: lint release-post-items, rspec-unit

Update source/direction/manage/workspace/index.html.md.erb
  source/direction/manage/workspace/index.html.md.erb
Due: none

Add Yerbo stressors tool link
  sites/handbook/source/handbook/leadership/emotional-intelligence/index.html.md
Due: none

Adding note to identify shadowers
  sites/handbook/source/handbook/hiring/conducting-a-gitlab-interview/index.html.md
Due: none

Add Plan::Product Planning bug fixes
  data/release_posts/unreleased/bugs.yml
Due: lint release-post-items, rspec-unit

Update source/direction/manage/workspace/templates/_overview.erb
  source/direction/manage/workspace/templates/_overview.erb
Due: none

Fix typo to cryptomining
  sites/handbook/source/handbook/engineering/development/data-science/anti-abuse/index.html.md.erb
Due: none

Outreach Sequence Creation Process Update
  sites/handbook/source/handbook/marketing/revenue-marketing/sdr/sales-development-tools/index.html.md
Due: none

Adding Technical Writing jobBucket as it was mistakenly removed.
  source/javascripts/openings.js
Due: rspec-unit

Cleanup Respond team page
  sites/handbook/source/handbook/engineering/development/ops/monitor/respond/index.html.md.erb
Due: none

Update source/direction/manage/workspace/templates/_next.erb
  source/direction/manage/workspace/templates/_next.erb
Due: none

Fix broken links on CSM manager page
  sites/handbook/source/handbook/customer-success/csm/csm-manager/index.html.md
Due: none

Updating HB to remove that Coupa Virtual Card is only available for Inc
  sites/handbook/source/handbook/business-technology/enterprise-applications/guides/coupa-virtual-cards/index.html.md
Due: none

Update job grades aligned with grade 9.5 deprecation
  sites/uncategorized/source/job-families/product/product-manager/index.html.md.erb
Due: none

Update SOTM september
  sites/handbook/source/handbook/people-group/learning-and-development/learning-initiatives/index.html.md
Due: none

Update GMP job grade
  sites/uncategorized/source/job-families/product/product-management-leadership/index.html.md
Due: none

Adding Google Cloud Next Raffle to Sweepstakes Page
  sites/uncategorized/source/community/sweepstakes/google-cloud-next-2022/index.html.md
  sites/uncategorized/source/community/sweepstakes/index.html.md
Due: none

Update: Remove Reference to separate Bereavement Policy in the US
  sites/handbook/source/handbook/people-policies/leave-of-absence/us/index.html.md.erb
Due: none

Team member update adil
  data/team_members/person/a/adil.farrukh.yml
  sites/uncategorized/source/images/team/adilfarrukh.jpg
Due: rspec-unit

Partner Swag Handbook Update
  sites/handbook/source/handbook/marketing/channel-marketing/index.html.md
Due: none

add description
  data/release_posts/unreleased/release-show-tags-related-to-deployed-commit-on-environment-page.yml
Due: lint release-post-items, rspec-unit

add description
  data/release_posts/unreleased/release-support-variable-expansion-on-environmentauto-stop-in.yml
Due: lint release-post-items, rspec-unit

title
  data/release_posts/unreleased/release-support-variable-expansion-on-environmentauto-stop-in.yml
Due: lint release-post-items, rspec-unit

Update handbook with correct internal handbook link
  sites/handbook/source/handbook/sales/territory-planning/index.html.md
Due: none
