Repository spicysoft/jp-www-gitlab-com: changes, and which GitLab CI jobs are due for each by the changed paths.
All: update-gitlab-project-releases-page, apply-redirects-prod, content-security-policy-checker, lint release-post-items, rubocop, check-handbook-edit-links, rspec-unit

update-gitlab-project-releases-page:
  cache:
    key: web_ruby-3.0-bullseye
    policy: pull
    paths:
    - vendor
    - node_modules
  before_script:
  - bundle config set path vendor
  - bundle install --quiet --jobs 4
  - yarn install
  stage: content-generation
  needs: []
  script:
  - bundle exec rake release:ee:update_project_releases_page
  ...

apply-redirects-prod:
  cache:
    key: web_ruby-3.0-bullseye
    policy: pull
    paths:
    - vendor
    - node_modules
  before_script:
  - bundle config set path vendor
  - bundle install --quiet --jobs 4
  - yarn install
  stage: build-and-deploy
  environment:
    name: production
  script:
  - export FASTLY_SRV_ID=$FASTLY_SRV_ID_PROD
  ...

content-security-policy-checker:
  image: debian:stable-slim
  stage: test
  needs: []
  script:
  ...

lint release-post-items:
  cache:
    key: web_ruby-3.0-bullseye
    policy: pull
    paths:
    - vendor
    - node_modules
  before_script:
  - bundle config set path vendor
  - bundle install --quiet --jobs 4
  - yarn install
  stage: test
  needs: []
  script:
  - bundle exec bin/validate-release-post-item

rubocop:
  cache:
    key: web_ruby-3.0-bullseye
    policy: pull
    paths:
    - vendor
    - node_modules
  before_script:
  - bundle config set path vendor
  - bundle install --quiet --jobs 4
  - yarn install
  stage: test
  needs: []
  script:
  - bundle exec rubocop

check-handbook-edit-links:
  cache:
    key: web_ruby-3.0-bullseye
    policy: pull
    paths:
    - vendor
    - node_modules
  before_script:
  - bundle config set path vendor
  - bundle install --quiet --jobs 4
  - yarn install
  stage: test
  needs:
  - handbook-build-and-review-deploy
  script:
  - scripts/check-handbook-edit-links.rb

rspec-unit:
  cache:
    key: web_ruby-3.0-bullseye
    policy: pull
    paths:
    - vendor
    - node_modules
  before_script:
  - bundle config set path vendor
  - bundle install --quiet --jobs 4
  - yarn install
  stage: test
  needs: []
  script:
  - bundle exec rspec --tag ~@feature

update global voices page
  sites/uncategorized/source/company/culture/inclusion/tmrg-global-voices/index.html.md
Due: none

Update Justin Wong profile in team page
  data/team_members/person/j/juwong.yml
  sites/uncategorized/source/images/team/JustinWong.jpg
Due: rspec-unit

Onboarding, create MR | Add project link to postgres pipeline manifest file reference
  sites/handbook/source/handbook/business-technology/data-team/platform/pipelines/index.html.md
Due: none

Ai assist/weekly update
  sites/handbook/source/handbook/engineering/incubation/ai-assist/index.html.md
Due: none

Internal Support page: move Slack info lower, add links to IR section
  sites/handbook/source/handbook/support/internal-support/index.html.md
Due: none

Add new team members for 2022-09-05
  data/team_members/person/a/andrei.zubov.yml
  data/team_members/person/a/ashish-reddy.yml
  data/team_members/person/a/atan7.yml
  data/team_members/person/b/ben_holland.yml
  data/team_members/person/c/cchampernowne.yml
  data/team_members/person/c/chloecartron.yml
  data/team_members/person/c/ckuruwita.yml
  data/team_members/person/d/dmeshcharakou.yml
  data/team_members/person/j/jdallmar.yml
  data/team_members/person/m/maddievn.yml
  data/team_members/person/m/mjoofgitlab.com.yml
  data/team_members/person/m/mzani.yml
  data/team_members/person/n/npujari2.yml
  data/team_members/person/r/ralbus.yml
  data/team_members/person/s/stefi pirvu.yml
  data/team_members/person/v/vbaj.yml
Due: rspec-unit

Add exec sponsor to global voices tmrg page
  sites/uncategorized/source/company/culture/inclusion/tmrg-global-voices/index.html.md
Due: none

Change triage schedule
  sites/handbook/source/handbook/business-technology/data-team/how-we-work/triage/index.html.md
Due: none

Sync specialty to team page - 2022-09-07
  data/team_members/person/j/j.seto.yml
  data/team_members/person/j/jon_jenkins.yml
Due: rspec-unit

Upgrade post - Geo LFS failures mid-session
  data/release_posts/unreleased/systems-geo-lfs-file-transfer-redirects.yml
Due: lint release-post-items, rspec-unit

Update data/team_members/person/s/stefipirvu.yml
  data/team_members/person/s/stefipirvu.yml
Due: rspec-unit

Support instructions for EKS test machines deployment
  sites/handbook/source/handbook/support/workflows/test_env.html.md
Due: none

Need to clearly state that tools created by CSA that are publicly available are not covered by the support department
  sites/handbook/source/handbook/customer-success/index.html.md
Due: none

Blog post: Getting the JTBD research right
  sites/uncategorized/source/blog/blog-posts/2022-09-07-jobs-to-be-done-interviews.html.md.erb
  source/images/blogimages/jobs-to-be-done.jpg
Due: none

Update photo on pet page
  data/pets.yml
Due: rspec-unit

Update team_members for Jerry Seto
  data/team_members/person/j/j.seto.yml
Due: rspec-unit

Added September AMER/EMEA showcase
  sites/handbook/source/handbook/engineering/development/ops/index.html.md.erb
Due: none

Update danmh role to Plan:Certify
  data/team_members/person/d/danmh.yml
Due: rspec-unit

Handbook: Fix spelling on Community Relations page
  sites/handbook/source/handbook/marketing/community-relations/index.html.md.erb
Due: none

Update link to pet page on Ashley's Readme
  sites/handbook/source/handbook/marketing/readmes/ashley-kramer.html.md
Due: none

Adding entry for SCL exemption
  sites/handbook/source/handbook/support/internal-support/index.html.md
Due: none

Disaster Recovery Working Group - transition executive stakeholder assignment
  sites/uncategorized/source/company/team/structure/working-groups/disaster-recovery/index.html.md
Due: none

Apply 1 suggestion(s) to 1 file(s)
  data/release_posts/unreleased/manage-allow-group-owners-to-selectively-bypass-email-validation-u.yml
Due: lint release-post-items, rspec-unit

No longer using "Authentication and Authorization" as a category
  data/release_posts/unreleased/manage-allow-group-owners-to-selectively-bypass-email-validation-u.yml
Due: lint release-post-items, rspec-unit

Replace Slack-App-Home-screenshot.png
  source/images/unreleased/Slack-App-Home-screenshot.png
Due: lint release-post-items

Apply 1 suggestion(s) to 1 file(s)
  data/release_posts/unreleased/manage-groups-api-add-restrict-group-access-by-ip-address.yml
Due: lint release-post-items, rspec-unit

User-focused name
  data/release_posts/unreleased/ecosystem-enable-slack-app-home-feature.yml
Due: lint release-post-items, rspec-unit

Added category
  data/release_posts/unreleased/ecosystem-enable-slack-app-home-feature.yml
Due: lint release-post-items, rspec-unit

Add notable bugs for group Release
  data/release_posts/unreleased/bugs.yml
Due: lint release-post-items, rspec-unit

Editor bug fix
  data/release_posts/unreleased/bugs.yml
Due: lint release-post-items, rspec-unit

Add info re: capacity planning warnings
  sites/handbook/source/handbook/engineering/infrastructure/team/reliability/issues.html.md.erb
Due: none

Better organization and layout
  data/release_posts/unreleased/ecosystem-autodisable-failing-webhooks.yml
Due: lint release-post-items, rspec-unit

Fix naming
  data/release_posts/unreleased/ecosystem-autodisable-failing-webhooks.yml
Due: lint release-post-items, rspec-unit

Editor performance improvement
  data/release_posts/unreleased/bugs.yml
Due: lint release-post-items, rspec-unit

Title for consistency
  data/release_posts/unreleased/ecosystem-integrate-shimo-as-wiki-alternative.yml
Due: lint release-post-items, rspec-unit

Path conditions:
  update-gitlab-project-releases-page: any of: sites/uncategorized/source/releases/posts/*-released.html.md
  apply-redirects-prod: any of: data/redirects.yml, bin/apply-exact-match-redirects, bin/apply-regex-redirects
  content-security-policy-checker: any of: source/includes/layout/head.html.haml
  lint release-post-items: any of: data/release_posts/unreleased/*, data/categories.yml, data/stages.yml, source/images/unreleased/*
  rubocop: any of: *.rb, **/*.rb, .rubocop.yml, Dangerfile, *.rake, **/*.rake, bin/**/*, scripts/**/*, Rakefile
  check-handbook-edit-links: any of: data/monorepo.yml, helpers/custom_helpers.rb, **/edit_page.html.haml, **/footer.html.haml, **/handbook-page-toc.haml, **/check_handbook_edit_links.rb
  rspec-unit: any of: spec/**/*, **/*.{js,json,rb,yml}, .rspec
