Repository spicysoft/jp-www-gitlab-com: changes, and which GitLab CI jobs are due for each by the changed paths.
All: update-gitlab-project-releases-page, apply-redirects-prod, content-security-policy-checker, lint release-post-items, rubocop, check-handbook-edit-links, rspec-unit

update-gitlab-project-releases-page:
  cache:
    key: web_ruby-3.0-bullseye
    policy: pull
    paths:
    - vendor
    - node_modules
  before_script:
  - bundle config set path vendor
  - bundle install --quiet --jobs 4
  - yarn install
  stage: content-generation
  needs: []
  script:
  - bundle exec rake release:ee:update_project_releases_page
  ...

apply-redirects-prod:
  cache:
    key: web_ruby-3.0-bullseye
    policy: pull
    paths:
    - vendor
    - node_modules
  before_script:
  - bundle config set path vendor
  - bundle install --quiet --jobs 4
  - yarn install
  stage: build-and-deploy
  environment:
    name: production
  script:
  - export FASTLY_SRV_ID=$FASTLY_SRV_ID_PROD
  ...

content-security-policy-checker:
  image: debian:stable-slim
  stage: test
  needs: []
  script:
  ...

lint release-post-items:
  cache:
    key: web_ruby-3.0-bullseye
    policy: pull
    paths:
    - vendor
    - node_modules
  before_script:
  - bundle config set path vendor
  - bundle install --quiet --jobs 4
  - yarn install
  stage: test
  needs: []
  script:
  - bundle exec bin/validate-release-post-item

rubocop:
  cache:
    key: web_ruby-3.0-bullseye
    policy: pull
    paths:
    - vendor
    - node_modules
  before_script:
  - bundle config set path vendor
  - bundle install --quiet --jobs 4
  - yarn install
  stage: test
  needs: []
  script:
  - bundle exec rubocop

check-handbook-edit-links:
  cache:
    key: web_ruby-3.0-bullseye
    policy: pull
    paths:
    - vendor
    - node_modules
  before_script:
  - bundle config set path vendor
  - bundle install --quiet --jobs 4
  - yarn install
  stage: test
  needs:
  - handbook-build-and-review-deploy
  script:
  - scripts/check-handbook-edit-links.rb

rspec-unit:
  cache:
    key: web_ruby-3.0-bullseye
    policy: pull
    paths:
    - vendor
    - node_modules
  before_script:
  - bundle config set path vendor
  - bundle install --quiet --jobs 4
  - yarn install
  stage: test
  needs: []
  script:
  - bundle exec rspec --tag ~@feature

Update caitlinfaughnan.yml to - Product Team
  data/team_members/person/c/caitlinfaughnan.yml
Due: rspec-unit

Update j.mundy.yml to - Product Team
  data/team_members/person/j/j.mundy.yml
Due: rspec-unit

Add Terraform registry to features.yml
  data/features.yml
Due: rspec-unit

Adding Growth to the list of accounts that do not get Person Engagement (under Segmentation column)
  sites/handbook/source/handbook/customer-success/csm/health-score-triage/index.html.md
Due: none

Update calibration sessions timeline for FY'23 talent assessment
  sites/handbook/source/handbook/engineering/development/index.html.md.erb
Due: none

Clarify managing day-to-day competency
  sites/handbook/source/handbook/using-gitlab-at-gitlab/index.html.md
Due: none

Adding Official Rules for Secrets Survey KubeCon NA '22
  sites/uncategorized/source/community/sweepstakes/Kubecon-na-2022-secrets-survey/index.html.md
  sites/uncategorized/source/community/sweepstakes/index.html.md
Due: none

Add TeamOps Presentation Template Google Slide deck to CoST Workplace page
  sites/handbook/source/handbook/ceo/chief-of-staff-team/workplace/index.html.md
Due: none

Added info to team member page
  data/team_members/person/d/dchangkuon.yml
  sites/uncategorized/source/images/team/danielchangkuon.jpg
Due: rspec-unit

Adds an MR-Buddies Unfiltered Playlist
  sites/handbook/source/handbook/handbook-usage/index.html.md
Due: none

Update title reflecting career mobility job change
  data/team_members/person/s/sbrightwell.yml
Due: rspec-unit

Update team data - pavelshutsin
  data/team_members/person/p/pavelshutsin.yml
Due: rspec-unit

Set Jon Glassman as a documentation reviewer
  data/team_members/person/j/jglassman1.yml
Due: rspec-unit

Update Product FY'23 talent assessment details
  sites/handbook/source/handbook/product/product-processes/index.html.md.erb
Due: none

Require verification on Zoom call before resetting passwords or 2FA resets
  sites/handbook/source/handbook/business-technology/team-member-enablement/self-help-troubleshooting/index.html.md
Due: none

Update gitlab handble of Greg Alfaro
  data/team_members/person/g/galfaro2.yml
Due: rspec-unit

Update gitlab handle of Ian Murray
  data/team_members/person/m/murray362.yml
Due: rspec-unit

Adding CMOC
  data/team_members/person/a/ahergenhan.yml
Due: rspec-unit

Fixed FM Link in SD HB
  sites/handbook/source/handbook/marketing/revenue-marketing/sdr/index.html.md
Due: none

Update sites/uncategorized/source/blog/blog-posts/2022-10-20-gitlab-com-artifacts-cdn-change.html.md.erb
  sites/uncategorized/source/blog/blog-posts/2022-10-20-gitlab-com-artifacts-cdn-change.html.md.erb
Due: none

Add wire fees as an allowable expense
  sites/handbook/source/handbook/finance/expenses/index.html.md
Due: none

Update whats next for Product Analytics direction
  source/direction/analytics/product-analytics/index.html.md
Due: none

Update TW handbook to remove some Eng references
  sites/handbook/source/handbook/product/ux/technical-writing/hiring/index.html.md
Due: none

Highspot Handbook Page Update - Adding new Issue Template link to user pitch instructions
  sites/handbook/source/handbook/sales/field-communications/gitlab-highspot/index.html.md
Due: none

Moved Libor Vanc to a later date
  sites/handbook/source/includes/ux-showcase/_schedule.md
Due: none

Update team member data and picture for BastiRehm
  data/team_members/person/b/bastirehm.yml
  sites/uncategorized/source/images/team/bastirehm.jpg
Due: rspec-unit

Handbook: Add Maccy to macOS utilities on tools-and-tips
  sites/handbook/source/handbook/tools-and-tips/mac/index.html.md
Due: none

Team Member Personnel File Policy
  sites/handbook/source/handbook/legal/record-retention-policy/index.html.md
Due: none

Including a short clarification on interpreting NULL values in email domain classification fields.
  sites/handbook/source/handbook/business-technology/data-team/functional-analytics-center-of-excellence/email-domain-classification/index.html.md
Due: none

Add missing CVE numbers to blog post
  sites/uncategorized/source/releases/posts/2022-08-30-critical-security-release-gitlab-15-3-2-released.html.md
Due: update-gitlab-project-releases-page

Remove 10/18 and 10/20 Webinars and add November Webinars
  sites/handbook/source/handbook/customer-success/csm/segment/scale/webinar-calendar/index.html.md
Due: none

Add AH to QE EE team page
  sites/handbook/source/handbook/engineering/quality/quality-engineering/enablement-saas-platforms-qe-team/index.html.md.erb
Due: none

Created and added slide deck template for benchmarking report.
  sites/handbook/source/handbook/product/ux/ux-research-training/usability-benchmarking/index.html.md
Due: none

Update handbook pages for Carrie Kroutil
  .gitlab/CODEOWNERS
  data/team_members/person/c/ckroutil.yml
  data/team_members/person/d/davidfernandez.yml
  data/team_members/person/d/dmeshcharakou.yml
  sites/handbook/source/handbook/engineering/development/ops/package/index.html.md.erb
  sites/handbook/source/handbook/engineering/development/ops/package/package-registry/index.html.md.erb
Due: rspec-unit

Updating System Admin
  sites/handbook/source/handbook/engineering/security/security-assurance/index.html.md
Due: none

Update TW yml files to reflect Product
  data/team_members/person/a/amyqualls.yml
  data/team_members/person/a/ashrafkhamis.yml
  data/team_members/person/a/axil.yml
  data/team_members/person/c/christielenneville.yml
  data/team_members/person/c/claytoncornell.yml
  data/team_members/person/d/dianalogan.yml
  data/team_members/person/e/eread.yml
  data/team_members/person/f/fneill.yml
  data/team_members/person/j/jglassman1.yml
  data/team_members/person/k/kpaizee.yml
  data/team_members/person/l/lciutacu.yml
  data/team_members/person/m/marcelamirault.yml
  data/team_members/person/m/marcinsedlakjakubowski.yml
  data/team_members/person/p/phillipwells.yml
  data/team_members/person/r/russelldickenson.yml
  data/team_members/person/s/suzanneselhorn.yml
Due: rspec-unit

Clarifying impact to multi-year contracts
  sites/uncategorized/source/pricing/faq-paid-storage-transfer/index.html.md
Due: none

Remove Omar Fernandez from CEO Shadow rotation
  sites/handbook/source/handbook/ceo/shadow/index.html.md
Due: none

Update sites/handbook/source/handbook/marketing/revenue-marketing/sdr/index.html.md
  sites/handbook/source/handbook/marketing/revenue-marketing/sdr/index.html.md
Due: none

Clarify Product DRI responsibilities
  sites/handbook/source/handbook/ceo/chief-of-staff-team/jihu-support/index.html.md
Due: none

Path conditions:
  update-gitlab-project-releases-page: any of: sites/uncategorized/source/releases/posts/*-released.html.md
  apply-redirects-prod: any of: data/redirects.yml, bin/apply-exact-match-redirects, bin/apply-regex-redirects
  content-security-policy-checker: any of: source/includes/layout/head.html.haml
  lint release-post-items: any of: data/release_posts/unreleased/*, data/categories.yml, data/stages.yml, source/images/unreleased/*
  rubocop: any of: *.rb, **/*.rb, .rubocop.yml, Dangerfile, *.rake, **/*.rake, bin/**/*, scripts/**/*, Rakefile
  check-handbook-edit-links: any of: data/monorepo.yml, helpers/custom_helpers.rb, **/edit_page.html.haml, **/footer.html.haml, **/handbook-page-toc.haml, **/check_handbook_edit_links.rb
  rspec-unit: any of: spec/**/*, **/*.{js,json,rb,yml}, .rspec
