Repository spicysoft/jp-www-gitlab-com: changes, and which GitLab CI jobs are due for each by the changed paths.
All: update-gitlab-project-releases-page, apply-redirects-prod, content-security-policy-checker, lint release-post-items, rubocop, check-handbook-edit-links, rspec-unit

Path conditions:
  update-gitlab-project-releases-page: any of: sites/uncategorized/source/releases/posts/*-released.html.md
  apply-redirects-prod: any of: data/redirects.yml, bin/apply-exact-match-redirects, bin/apply-regex-redirects
  content-security-policy-checker: any of: source/includes/layout/head.html.haml
  lint release-post-items: any of: data/release_posts/unreleased/*, data/categories.yml, data/stages.yml, source/images/unreleased/*
  rubocop: any of: *.rb, **/*.rb, .rubocop.yml, Dangerfile, *.rake, **/*.rake, bin/**/*, scripts/**/*, Rakefile
  check-handbook-edit-links: any of: data/monorepo.yml, helpers/custom_helpers.rb, **/edit_page.html.haml, **/footer.html.haml, **/handbook-page-toc.haml, **/check_handbook_edit_links.rb
  rspec-unit: any of: spec/**/*, **/*.{js,json,rb,yml}, .rspec

Analytics direction next steps updates
  source/direction/analytics/index.html.md
  source/direction/analytics/product-analytics/index.html.md
Due: none

Add the instruction to label issue when assigning AR for approval
  sites/handbook/source/handbook/business-technology/team-member-enablement/onboarding-access-requests/access-requests/index.html.md
Due: none

Updating list of supported operating systems
  sites/handbook/source/handbook/security/approved_os.html.md
Due: none

Renaming TAM to CSM
  sites/handbook/source/handbook/support/support-ops/documentation/zendesk_us_federal_organizations.html.md
  sites/handbook/source/handbook/support/support-ops/training/liquid_language.html.md
  sites/handbook/source/handbook/support/support-ops/training/organization_management.html.md
  sites/handbook/source/handbook/support/support-ops/training/salesforce-account-page.html.md
  sites/handbook/source/handbook/support/support-ops/workflows/organization_contact_limit_exception.html.md
Due: none

Add array as schema option for epic_url
  data/schemas/releasepost.schema.json
Due: rspec-unit

Add missing comma
  data/release_posts/unreleased/manage-github-importer--migrate-mr-events.yml
Due: lint release-post-items, rspec-unit

GitHub Importer - Migrate MR events
  data/release_posts/unreleased/manage-github-importer--migrate-mr-events.yml
Due: lint release-post-items, rspec-unit

Remove unnecessary word
  data/release_posts/unreleased/manage-github-importer--migrate-mr-events.yml
Due: lint release-post-items, rspec-unit

Update manage-github-importer--migrate-mr-events.yml
  data/release_posts/unreleased/manage-github-importer--migrate-mr-events.yml
Due: lint release-post-items, rspec-unit

Provide user with more detailed info how to find UI elements
  data/release_posts/unreleased/manage-github-importer--migrate-mr-events.yml
Due: lint release-post-items, rspec-unit

Add issue events to this blog as well
  data/release_posts/unreleased/manage-github-importer--migrate-mr-events.yml
Due: lint release-post-items, rspec-unit

Rephrase sentence
  data/release_posts/unreleased/manage-github-importer--migrate-mr-events.yml
Due: lint release-post-items, rspec-unit

Update TW PI descriptions
  data/performance_indicators/ux_department.yml
Due: rspec-unit

Update .gitlab/CODEOWNERS
  .gitlab/CODEOWNERS
Due: none

Add video link, update tiers to be SaaS only
  data/release_posts/unreleased/manage-transparent-sso-enforcement-for-group-members.yml
Due: lint release-post-items, rspec-unit

Update Purchase Direction - Ecom Vendor Timeline
  source/direction/fulfillment/purchase/index.html.md
Due: none

Remove antiabuse engineering allocation
  sites/handbook/source/includes/engineering-allocations.md
Due: none

Adding new category tags
  sites/handbook/source/handbook/support/support-ops/documentation/zendesk_global_tags.html.md
Due: none

Add video on gitlab competing with snyk
  sites/handbook/source/handbook/sales/training/sales-enablement-sessions/index.html.md
Due: none

How to switch from Self Managed to SaaS
  sites/handbook/source/handbook/sales/field-operations/sales-operations/deal-desk/index.html.md
Due: none

Update job families file
  data/people_group/job_families.yml
Due: rspec-unit

Added reference materials for Associate SAs
  sites/handbook/source/handbook/customer-success/solutions-architects/career-development/index.html.md
Due: none

Update sites/handbook/source/handbook/ceo/shadow/index.html.md - Removing Kristine Setschin from CEO Shadow Programme
  sites/handbook/source/handbook/ceo/shadow/index.html.md
Due: none

Advanced Search: Unexpected results when having `-` in the search term
  data/release_posts/unreleased/data-stores-advanced-search-unexpected-results-when-having--in-the.yml
Due: lint release-post-items, rspec-unit

Release post for wiki autosave
  data/release_posts/unreleased/create-autosave-in-content-editor.yml
Due: lint release-post-items, rspec-unit

Add approval process to DEx handbook
  sites/handbook/source/handbook/marketing/digital-experience/index.html.md
  sites/handbook/source/handbook/marketing/digital-experience/marketing-site-approval-process/index.html.md
Due: none

Rename ux_managers slack channel to ux_leadership
  .gitlab/merge_request_templates/Release-Post.md
  sites/handbook/source/handbook/product/ux/how-we-work/index.html.md
  sites/uncategorized/source/company/team/structure/working-groups/cross-functional-prioritization/index.html.md
Due: none

Update director-shadow-program from calendly link to form to apply
  sites/handbook/source/handbook/engineering/development/shadow/director-shadow-program.html.md
Due: none

Document how the CoS to the CEO supports the CEO in offsites
  sites/handbook/source/handbook/ceo/chief-of-staff-team/index.html.md
Due: none

Adding Issue Management to the topic list for speakers in the GitLab Speakers Bureau
  data/speakers_requirements.yml
Due: rspec-unit

Update category maturity dates
  data/categories.yml
Due: lint release-post-items, rspec-unit

Adds galfaro as SC for code review and editor groups
  data/stages.yml
Due: lint release-post-items, rspec-unit

Adding Rocco to the pets team page.
  data/pets.yml
Due: rspec-unit

Eli Krohn update on GitLab team page
  data/team_members/person/e/elikrohn.yml
  sites/uncategorized/source/images/team/ekrohn.jpeg
Due: rspec-unit

Update PhishAlarmicon to remove white space
  sites/handbook/source/handbook/security/PhishAlarmicon.png
Due: none

added Aaron Huntsman's team page info + photo
  data/team_members/person/a/ahuntsman.yml
  sites/uncategorized/source/images/team/aaronhuntsman.jpg
Due: rspec-unit

Removing 10/13 Compliance webinar from CSM Webinar Handbook page
  sites/handbook/source/handbook/customer-success/csm/segment/scale/webinar-calendar/index.html.md
Due: none

Update data/team_members/person/r/rlawson1.yml, RyanLawson_SecurityAssurance.jpg
  data/team_members/person/r/rlawson1.yml
  sites/uncategorized/source/images/team/ryanlawson.jpg
Due: rspec-unit

Update source/direction/fulfillment/purchase/index.html.md
  source/direction/fulfillment/purchase/index.html.md
Due: none
