Repository spicysoft/jp-www-gitlab-com: changes, and which GitLab CI jobs are due for each by the changed paths.
All: update-gitlab-project-releases-page, apply-redirects-prod, content-security-policy-checker, lint release-post-items, rubocop, check-handbook-edit-links, rspec-unit

Path conditions:
  update-gitlab-project-releases-page: any of: sites/uncategorized/source/releases/posts/*-released.html.md
  apply-redirects-prod: any of: data/redirects.yml, bin/apply-exact-match-redirects, bin/apply-regex-redirects
  content-security-policy-checker: any of: source/includes/layout/head.html.haml
  lint release-post-items: any of: data/release_posts/unreleased/*, data/categories.yml, data/stages.yml, source/images/unreleased/*
  rubocop: any of: *.rb, **/*.rb, .rubocop.yml, Dangerfile, *.rake, **/*.rake, bin/**/*, scripts/**/*, Rakefile
  check-handbook-edit-links: any of: data/monorepo.yml, helpers/custom_helpers.rb, **/edit_page.html.haml, **/footer.html.haml, **/handbook-page-toc.haml, **/check_handbook_edit_links.rb
  rspec-unit: any of: spec/**/*, **/*.{js,json,rb,yml}, .rspec

Correct the abbreviation for small and medium business
  sites/uncategorized/source/blog/blog-posts/2022-10-11-accelerate-cloud-adoption-with-gitlabs-open-source-partnership-with-google-cloud.html.md.erb
Due: none

Remove XFN Initiatives from Table
  sites/uncategorized/source/company/top-cross-functional-initiatives/index.html.md
Due: none

update Q4FY23 dates
  sites/handbook/source/handbook/people-group/talent-assessment/index.html.md
Due: none

Add Director of International Tax
  sites/uncategorized/source/job-families/finance/tax/index.html.md
Due: none

Add support-managers-apac to listed Groups
  sites/handbook/source/handbook/support/index.html.md.erb
Due: none

Add The Recycling Partnership role to HoR handbook page
  sites/uncategorized/source/company/culture/all-remote/head-of-remote/index.html.md.erb
Due: none

Add new team members for 2022-10-10
  data/team_members/person/a/adess-gitlab.yml
  data/team_members/person/d/domigraf98.yml
  data/team_members/person/j/jmcaninch.yml
  data/team_members/person/k/kbaker4.yml
  data/team_members/person/l/louisejwc.yml
  data/team_members/person/n/ngala.yml
  data/team_members/person/n/nkhalwadekar.yml
  data/team_members/person/o/ottilia_westerlund.yml
Due: rspec-unit

Remove issue bash from community index
  sites/uncategorized/source/community/index.html.haml
Due: none

Update integration dead links
  data/services.yml
Due: rspec-unit

Update Tao Guo's team profile as part of onboarding
  data/team_members/person/a/astao.yml
  sites/uncategorized/source/images/team/TaoGuo.png
Due: rspec-unit

Clarify wording in prominent update statement on the free tier changes blog post
  sites/uncategorized/source/blog/blog-posts/2022-03-24-efficient-free-tier.html.md.erb
Due: none

Update triage schedule to juwong
  sites/handbook/source/handbook/business-technology/data-team/how-we-work/triage/index.html.md
Due: none

Fix name for Authentication and Authorization group
  data/stages.yml
  data/team_members/person/a/adil.farrukh.yml
  data/team_members/person/j/jessieay.yml
  data/team_members/person/s/smriti_gitlab.yml
  data/team_members/person/t/tachyons-gitlab.yml
  sites/handbook/source/handbook/business-technology/enterprise-applications/integrations/platypus/index.html.md
  sites/handbook/source/handbook/engineering/development/dev/manage/authentication-and-authorization/index.html.md.erb
  sites/handbook/source/handbook/engineering/development/dev/manage/index.html.md.erb
  sites/handbook/source/handbook/engineering/quality/quality-engineering/dev-qe-team/index.html.md.erb
  sites/handbook/source/handbook/marketing/strategic-marketing/pricing-tiers/index.html.md
  sites/handbook/source/handbook/product/categories/index.html.md.erb
  sites/handbook/source/handbook/product/ux/ux-research-training/how-uxr-team-operates/index.html.md
  source/direction/manage/auth/index.html.md.erb
  source/direction/manage/template.html.md.erb
  source/direction/manage/templates/_groups.erb
  source/direction/manage/templates/_next.erb
  source/direction/supply-chain/index.html.md.erb
Due: lint release-post-items, rspec-unit

Add Sr. Manager, International Tax
  sites/uncategorized/source/job-families/finance/tax/index.html.md
Due: none

Update-add-IT-KeyReview-handbook
  sites/handbook/source/handbook/key-review/index.html.md
Due: none

Initial updates for release post
  data/release_posts/unreleased/manage-integrate-newly-created-gem-supporting-microsoft-graph-api-.yml
Due: lint release-post-items, rspec-unit

Amend release note about microsoft_graph_mailer
  data/release_posts/unreleased/manage-support-delivery-of-emails-using-microsoft-graph-api.yml
Due: lint release-post-items, rspec-unit

rename the feature file related to microsoft graph mailer
  data/release_posts/unreleased/manage-support-delivery-of-emails-using-microsoft-graph-api.yml
Due: lint release-post-items, rspec-unit

Integrate newly created gem supporting Microsoft Graph API email sending into GitLab
  data/release_posts/unreleased/manage-integrate-newly-created-gem-supporting-microsoft-graph-api-.yml
Due: lint release-post-items, rspec-unit

Update category to one that isn't going to be deprecated
  data/release_posts/unreleased/manage-support-delivery-of-emails-using-microsoft-graph-api.yml
Due: lint release-post-items, rspec-unit

Apply 1 suggestion(s) to 1 file(s)
  data/release_posts/unreleased/manage-support-delivery-of-emails-using-microsoft-graph-api.yml
Due: lint release-post-items, rspec-unit

Add Stanislav Dobrovolschii as a backend reviewer for gitlab project
  data/team_members/person/s/stanislav-dobrovolschii.yml
Due: rspec-unit

Fix links to microsoft docs and reword description
  data/release_posts/unreleased/manage-support-delivery-of-emails-using-microsoft-graph-api.yml
Due: lint release-post-items, rspec-unit

Add Integration Roulette reviews information to Integrations handbook
  sites/handbook/source/handbook/engineering/development/dev/ecosystem/integrations/_roulette_reviews.erb
  sites/handbook/source/handbook/engineering/development/dev/ecosystem/integrations/index.html.md.erb
Due: none

Spelling fix on trust and safety page
  sites/handbook/source/handbook/engineering/security/security-operations/trustandsafety/index.html.md
Due: none

Fix broken links that were directed to infrastructure instead of support.
  data/performance_indicators/customer_support_department.yml
Due: rspec-unit

Certify direction typos
  source/direction/plan/certify/index.html.md.erb
Due: none

changed date, tweaked spacing
  sites/uncategorized/source/blog/blog-posts/2022-10-12-take-our-survey-on-collaborative-software-development.html.md.erb
Due: none

copy edits, added cover image, added tags, added inline image links, embedded video
  sites/uncategorized/source/blog/blog-posts/2022-10-12-five-fast-facts-about-docs-as-code-at-gitlab.html.md.erb
Due: none

Upload New File
  source/images/blogimages/blame.png
Due: none

Upload New File
  source/images/blogimages/lint_error_2.png
Due: none

Upload New File
  source/images/blogimages/pen.jpg
Due: none

Build agentk in FIPS mode
  data/release_posts/unreleased/configure-build-agentk-in-fips-mode.yml
Due: lint release-post-items, rspec-unit

Upload New File
  source/images/blogimages/pipeline2.png
Due: none

Upload New File
  source/images/blogimages/planning_issue.png
Due: none

Upload New File
  source/images/blogimages/suggestion.png
Due: none

Upload New File
  source/images/blogimages/view_app.png
Due: none

Updates Database Group direction
  source/direction/database/index.html.md.erb
Due: none

Resolve "Update marketing database handbook page"
  sites/handbook/source/handbook/business-technology/data-team/data-catalog/email-data-mart/index.html.md
Due: none
