Repository spicysoft/jp-www-gitlab-com: changes, and which GitLab CI jobs are due for each by the changed paths.
All: update-gitlab-project-releases-page, apply-redirects-prod, content-security-policy-checker, lint release-post-items, rubocop, check-handbook-edit-links, rspec-unit

Path conditions:
  update-gitlab-project-releases-page: any of: sites/uncategorized/source/releases/posts/*-released.html.md
  apply-redirects-prod: any of: data/redirects.yml, bin/apply-exact-match-redirects, bin/apply-regex-redirects
  content-security-policy-checker: any of: source/includes/layout/head.html.haml
  lint release-post-items: any of: data/release_posts/unreleased/*, data/categories.yml, data/stages.yml, source/images/unreleased/*
  rubocop: any of: *.rb, **/*.rb, .rubocop.yml, Dangerfile, *.rake, **/*.rake, bin/**/*, scripts/**/*, Rakefile
  check-handbook-edit-links: any of: data/monorepo.yml, helpers/custom_helpers.rb, **/edit_page.html.haml, **/footer.html.haml, **/handbook-page-toc.haml, **/check_handbook_edit_links.rb
  rspec-unit: any of: spec/**/*, **/*.{js,json,rb,yml}, .rspec

Data science development handbook section
  .gitlab/CODEOWNERS
  data/redirects.yml
  sites/handbook/source/handbook/engineering/development/data-science/anti-abuse/index.html.md.erb
  sites/handbook/source/handbook/engineering/development/data-science/appliedml/index.html.md.erb
  sites/handbook/source/handbook/engineering/development/data-science/appliedml/projects/unreview/index.html.md.erb
  sites/handbook/source/handbook/engineering/development/data-science/index.html.md.erb
  sites/handbook/source/handbook/engineering/development/index.html.md.erb
  sites/handbook/source/handbook/engineering/development/sec/index.html.md.erb
  sites/handbook/source/handbook/engineering/index.html.md.erb
Due: apply-redirects-prod, rspec-unit

More Threat Insights bug fixes for 15.4
  data/release_posts/unreleased/bugs.yml
Due: lint release-post-items, rspec-unit

Add Compliance 15.4 bug fixes
  data/release_posts/unreleased/bugs.yml
Due: lint release-post-items, rspec-unit

Data Science engineering metrics
  sites/handbook/source/handbook/engineering/metrics/data-science/anti-abuse/anti-abuse/index.html.md.erb
  sites/handbook/source/handbook/engineering/metrics/data-science/anti-abuse/index.html.md.erb
  sites/handbook/source/handbook/engineering/metrics/data-science/index.html.md.erb
  sites/handbook/source/handbook/engineering/metrics/data-science/modelops/applied-ml/index.html.md.erb
  sites/handbook/source/handbook/engineering/metrics/data-science/modelops/dataops/index.html.md.erb
  sites/handbook/source/handbook/engineering/metrics/data-science/modelops/index.html.md.erb
  sites/handbook/source/handbook/engineering/metrics/data-science/modelops/mlops/index.html.md.erb
Due: none

Update Slippers references in handbook
  sites/handbook/source/handbook/marketing/digital-experience/buyer-experience-repository/index.html.md
  sites/handbook/source/handbook/marketing/digital-experience/index.html.md
  sites/handbook/source/handbook/marketing/digital-experience/major-league-hacking-fellows/index.html.md
  sites/uncategorized/source/blog/blog-posts/2021-03-05-starting-from-the-start-slippers-design-system.html.md.erb
  sites/uncategorized/source/blog/blog-posts/2021-05-03-using-web-components-to-encapsulate-css-and-resolve-design-system-conflicts.html.md
Due: none

Add missing newline at end of file
  data/release_posts/unreleased/bugs.yml
Due: lint release-post-items, rspec-unit

効率化コンピテンシー
  sites/handbook/source/handbook/values/index.html.md
Due: none

Add Office Hours section to Threat Insights
  sites/handbook/source/handbook/engineering/development/sec/govern/threat-insights/index.html.md.erb
Due: none

Edits to the Informed Decisions content
  sites/handbook/source/handbook/teamops/informed-decisions/index.html.md.erb
Due: none

Add Plan::Product Planning bug fixes
  data/release_posts/unreleased/bugs.yml
Due: lint release-post-items, rspec-unit

Add Plan::Product Planning & Plan bug fixes
  data/release_posts/unreleased/bugs.yml
Due: lint release-post-items, rspec-unit

Add Plan::Product Planning perf improvements
  data/release_posts/unreleased/performance_improvements.yml
Due: lint release-post-items, rspec-unit

Fix Jeremy Jackson incorrect username
  data/team_members/person/j/jjackson.yml
Due: rspec-unit

Update my data/team_members/person/m/mjoofgitlab.com.yml
  data/team_members/person/m/mjoofgitlab.com.yml
  sites/uncategorized/source/images/team/mamjoof.png
Due: rspec-unit

Added step to upload confirmation emails to probation process
  sites/handbook/source/handbook/people-group/contracts-probation-periods/index.html.md.erb
Due: none

Update SA role for chloecartron
  data/team_members/person/c/chloecartron.yml
Due: rspec-unit

Add collaboration with support section
  sites/handbook/source/handbook/engineering/development/index.html.md.erb
Due: none

Fix description and links for agent features
  data/features.yml
Due: rspec-unit

Update configure-lock-terrafomimage-on-the-terraform-templates.yml
  data/release_posts/unreleased/configure-lock-terrafomimage-on-the-terraform-templates.yml
Due: lint release-post-items, rspec-unit

Sync specialty to team page - 2022-09-14
  data/team_members/person/a/ashrafkhamis.yml
  data/team_members/person/c/charlieablett.yml
  data/team_members/person/f/felipe-a.yml
  data/team_members/person/j/jarka-k.yml
  data/team_members/person/p/pedropombeiro.yml
Due: rspec-unit

Deleting CCowell readme - offboarding
  sites/handbook/source/handbook/sales/readmes/index.html.md
Due: none

Add new team members for 2022-09-12
  data/team_members/person/_/_meilynda.yml
  data/team_members/person/a/adil.farrukh.yml
  data/team_members/person/a/akotte.yml
  data/team_members/person/a/anam_shaikh.yml
  data/team_members/person/b/billydowning.yml
  data/team_members/person/f/fsieverding.yml
  data/team_members/person/g/ghinfey.yml
  data/team_members/person/i/ianlowe.yml
  data/team_members/person/i/iegorman.yml
  data/team_members/person/j/jallum.yml
  data/team_members/person/j/jglassman1.yml
  data/team_members/person/k/kasia_misirli.yml
  data/team_members/person/k/kyerraguntla.yml
  data/team_members/person/p/pcartiaga-gitlab.yml
  data/team_members/person/r/rdeoliveira.yml
  data/team_members/person/r/rpowell5.yml
  data/team_members/person/r/ryancoffin.yml
  data/team_members/person/s/slcline.yml
  data/team_members/person/s/sofiadas.yml
Due: rspec-unit

Simplifying the language
  sites/handbook/source/handbook/engineering/ux/technical-writing/index.html.md.erb
Due: none

Replacing People Operations with People Connect
  sites/handbook/source/handbook/hiring/talent-acquisition-framework/internal-hiring-process/index.html.md
Due: none

Adding CTG and links to areas
  sites/handbook/source/handbook/support/support-ops/index.html.md
Due: none

Including BHR in People Connect offboarding steps
  sites/handbook/source/handbook/people-group/offboarding/index.html.md
Due: none

Introduce REST API for group transfer locations
  data/release_posts/unreleased/manage-introduce-rest-api-for-group-transfer-locations.yml
Due: lint release-post-items, rspec-unit

Add information for supporting Community events
  sites/handbook/source/handbook/marketing/community-relations/code-contributor-program/index.html.md.erb
Due: none

Adding delivered new content blocks
  sites/uncategorized/source/blog/blog-posts/2018-09-27-why-all-organizations-need-prometheus.html.md.erb
  sites/uncategorized/source/blog/blog-posts/2020-07-21-rust-programming-language.html.md.erb
  sites/uncategorized/source/blog/blog-posts/2022-04-25-career-spotlight-sre-vs-devops-engineer-vs-devops-platform-engineer.html.md.erb
Due: none

Updating the "Waiving True-up Approval" section
  sites/handbook/source/handbook/sales/field-operations/order-processing/index.html.md
Due: none

Update data/release_posts/unreleased/manage-introduce-rest-api-for-group-transfer-locations.yml
  data/release_posts/unreleased/manage-introduce-rest-api-for-group-transfer-locations.yml
Due: lint release-post-items, rspec-unit

move to CSM
  sites/handbook/source/handbook/customer-success/csm/csm-onboarding/index.html.md
Due: none

Move to Growth
  sites/handbook/source/handbook/customer-success/csm/rhythm/index.html.md
Due: none

Update Brandon Labuschagne's personal info
  data/stages.yml
  data/team_members/person/b/brandon-l.yml
  sites/handbook/source/includes/product/_categories-names.erb
Due: lint release-post-items, rspec-unit

Update CODEOWNERS for whaber account name change
  .gitlab/CODEOWNERS
  data/team_members/person/w/waynehaber.yml
Due: rspec-unit

Dependency Management cleanup
  data/categories.yml
  data/stages.yml
Due: lint release-post-items, rspec-unit

Document FY23 Q3 iteration of company wide mentorship
  sites/handbook/source/handbook/people-group/learning-and-development/mentor/company-program/index.html.md.erb
Due: none
