Repository spicysoft/jp-www-gitlab-com: changes, and which GitLab CI jobs are due for each by the changed paths.
All: update-gitlab-project-releases-page, apply-redirects-prod, content-security-policy-checker, lint release-post-items, rubocop, check-handbook-edit-links, rspec-unit

Path conditions:
  update-gitlab-project-releases-page: any of: sites/uncategorized/source/releases/posts/*-released.html.md
  apply-redirects-prod: any of: data/redirects.yml, bin/apply-exact-match-redirects, bin/apply-regex-redirects
  content-security-policy-checker: any of: source/includes/layout/head.html.haml
  lint release-post-items: any of: data/release_posts/unreleased/*, data/categories.yml, data/stages.yml, source/images/unreleased/*
  rubocop: any of: *.rb, **/*.rb, .rubocop.yml, Dangerfile, *.rake, **/*.rake, bin/**/*, scripts/**/*, Rakefile
  check-handbook-edit-links: any of: data/monorepo.yml, helpers/custom_helpers.rb, **/edit_page.html.haml, **/footer.html.haml, **/handbook-page-toc.haml, **/check_handbook_edit_links.rb
  rspec-unit: any of: spec/**/*, **/*.{js,json,rb,yml}, .rspec

Update role description to properly reflect scope
  sites/uncategorized/source/job-families/sales/solutions-architect/index.html.md
Due: none

Update pre-approved application listing with 5 additional applications
  sites/handbook/source/handbook/finance/procurement/personal-use-software/index.html.md
Due: none

Update profile to the Team Page
  data/team_members/person/v/vbaj.yml
  sites/uncategorized/source/images/team/vickybajura.jpg
Due: rspec-unit

Update PM learning hub page with links to Level Up
  sites/handbook/source/handbook/product/product-manager-role/learning-and-development/index.html.md.erb
Due: none

Adding Dev Day Workshop: Deploy, Manage and Scale Kubernetes to AWS EKS with...
  data/events.yml
Due: rspec-unit

Updates to Directs-Group
  sites/uncategorized/source/company/team/structure/index.html.md.erb
Due: none

Remove "Technical Writing" job bucket
  source/javascripts/openings.js
Due: rspec-unit

ENG: Release Post template rebrand MVC1
  sites/uncategorized/source/includes/features/_badges.html.haml
  sites/uncategorized/source/includes/release.html.haml
  source/images/release/gradient-line.png
  source/layouts/release.haml
  source/stylesheets/release-posts.css.scss
Due: none

Rename ModelOps Section to 'Data Science', Move Anti-Abuse into renamed Section
  .gitlab/CODEOWNERS
  data/categories.yml
  data/sections.yml
  data/stages.yml
  source/direction/anti-abuse/instance_resiliency/index.html.md
  source/direction/data-science/index.html.md.erb
Due: lint release-post-items, rspec-unit

Update product strategy to use unordered list
  source/direction/template.html.md.erb
Due: none

Fix "
  sites/handbook/source/handbook/people-group/learning-and-development/interactive-learning/index.html.md
Due: none

Add triage process for scoping issues
  sites/handbook/source/handbook/customer-success/professional-services-engineering/engagement-mgmt/tracking-opps/index.html.md
Due: none

Downgrade to secondary release post item
  data/release_posts/unreleased/ecosystem-enable-slack-app-home-feature.yml
Due: lint release-post-items, rspec-unit

Add additional detail to SMB process for attaching services
  sites/handbook/source/handbook/customer-success/professional-services-engineering/selling/index.html.md
Due: none

Remove 9/7 webinar and office hours
  sites/handbook/source/handbook/customer-success/tam/segment/scale/webinar-calendar/index.html.md
Due: none

Update SAST Team information on https://about.gitlab.com/handbook/product/categories/
  data/stages.yml
  data/team_members/person/a/amarpatel.yml
  data/team_members/person/j/janniklehmann.yml
  data/team_members/person/t/thomaswoodham.yml
  sites/handbook/source/includes/product/_categories-names.erb
Due: lint release-post-items, rspec-unit

Merge branch 'jlyttle-master-patch-18873' into 'master'
  data/team_members/person/j/johnlyttle.yml
Due: rspec-unit

Update the CMOC workflow to provide details on how to get added to Pager Duty
  sites/handbook/source/handbook/support/workflows/cmoc_workflows.html.md
Due: none

draft
  data/release_posts/unreleased/monitor-add-timeline-event-from-comment.yml
Due: lint release-post-items, rspec-unit

Update data/release_posts/unreleased/monitor-add-timeline-event-from-comment.yml
  data/release_posts/unreleased/monitor-add-timeline-event-from-comment.yml
Due: lint release-post-items, rspec-unit

Clarify which roles are responsible for creating scoping issues
  sites/handbook/source/handbook/customer-success/professional-services-engineering/engagement-mgmt/scoping-information/migrations/index.html.md
Due: none

Update the customer emergency workflow to provide details on how to get added to Pager Duty
  sites/handbook/source/handbook/support/workflows/customer_emergencies_workflows.html.md
Due: none

Fix Provision Direction page by surrounding page title with quotes
  source/direction/fulfillment/provision/index.html.md
Due: none

Update Nikisha Dumas' team entry to align with her GitLab.com username
  data/team_members/person/n/ndumas.yml
Due: rspec-unit

Update job families file
  data/people_group/job_families.yml
Due: rspec-unit

MktgOps: 20220829 - 20220911
  sites/handbook/source/handbook/marketing/channel-marketing/partner-campaigns/index.html.md
  sites/handbook/source/handbook/marketing/emergency-response/index.html.md
  sites/handbook/source/handbook/marketing/marketing-operations/campaigns-and-programs/index.html.md
  sites/handbook/source/handbook/marketing/marketing-operations/index.html.md
  sites/handbook/source/handbook/marketing/marketing-operations/outreach/index.html.md
  sites/handbook/source/handbook/marketing/marketing-operations/workato/index.html.md
  sites/handbook/source/handbook/marketing/marketing-operations/workato/list-import.html.md
Due: none

Updating vacancies for Verify
  data/team_members/vacancy/backend-engineer-pipeine-execution-2.yml
  data/team_members/vacancy/backend-engineer-pipeline-execution-3.yml
Due: rspec-unit

Revising headers for TeamOps Guiding Principles
  sites/handbook/source/handbook/teamops/fast-decisions/index.html.md.erb
  sites/handbook/source/handbook/teamops/informed-decisions/index.html.md.erb
  sites/handbook/source/handbook/teamops/many-decisions/index.html.md.erb
Due: none

Updating the new UKI CAM/FMM alignment
  sites/handbook/source/handbook/marketing/field-marketing/index.html.md
Due: none

Adds booth deck & video
  sites/handbook/source/handbook/marketing/events/index.html.md
Due: none

Incident Timeline Quick Actions
  data/release_posts/unreleased/monitor-incident-timeline-quick-actions.yml
Due: lint release-post-items, rspec-unit

draft
  data/release_posts/unreleased/monitor-incident-timeline-quick-actions.yml
Due: lint release-post-items, rspec-unit

Update data/release_posts/unreleased/monitor-incident-timeline-quick-actions.yml
  data/release_posts/unreleased/monitor-incident-timeline-quick-actions.yml
Due: lint release-post-items, rspec-unit

Updates product intelligence team to report to Dennis
  data/team_members/person/m/michold.yml
  data/team_members/person/m/mikolajwawrzyniak.yml
  data/team_members/person/n/nbelokolodov.yml
  data/team_members/person/p/piotrskorupa.yml
Due: rspec-unit

Esther blog update on Obsidian md
  sites/uncategorized/source/blog/blog-posts/2022-03-15-publishing-obsidian-notes-with-gitlab-pages.html.md.erb
Due: none

Update source/images/unreleased/incident_timeline_quick_actions.png
  source/images/unreleased/incident_timeline_quick_actions.png
Due: lint release-post-items

move observation hb pages under sec-assurance
  sites/handbook/source/handbook/engineering/security/security-assurance/dedicated-compliance/index.html.md
  sites/handbook/source/handbook/engineering/security/security-assurance/field-security/QBRs.html.md
  sites/handbook/source/handbook/engineering/security/security-assurance/index.html.md
  sites/handbook/source/handbook/engineering/security/security-assurance/observation-management-procedure.html.md
  sites/handbook/source/handbook/engineering/security/security-assurance/observation-remediation-procedure.html.md
  sites/handbook/source/handbook/engineering/security/security-assurance/security-compliance/access-reviews.html.md
  sites/handbook/source/handbook/engineering/security/security-assurance/security-compliance/control-health-effectiveness-rating.html.md
  sites/handbook/source/handbook/engineering/security/security-assurance/security-compliance/index.html.md
  sites/handbook/source/handbook/engineering/security/security-assurance/security-compliance/security-control-lifecycle.html.md
  sites/handbook/source/handbook/engineering/security/security-assurance/security-risk/storm-program/index.html.md
  sites/handbook/source/handbook/engineering/security/security-assurance/security-risk/storm-program/storm-methodology.html.md
  sites/handbook/source/handbook/engineering/security/security-assurance/zg-activities.html.md
Due: none

Adding JB's Readme
  sites/handbook/source/handbook/marketing/readmes/index.html.md
  sites/handbook/source/handbook/marketing/readmes/jean-baptiste-larramendy.html.md
Due: none

Adding MS&P Team Page
  .gitlab/CODEOWNERS
  data/team_members/person/m/michaelpreuss.yml
  data/team_members/person/r/rleihe268.yml
  sites/handbook/source/handbook/marketing/marketing-strategy-and-platforms/index.html.md
  source/images/handbook/MSP.png
  source/images/handbook/four-funnels.png
  source/images/handbook/msp-chart.png
  source/images/handbook/msp-optimize.png
  source/images/handbook/msp-plug.png
  source/images/handbook/plg-funnel-1.png
  source/images/handbook/plg-funnel-2.png
  source/images/handbook/plg-funnel-3.png
  source/images/handbook/plg-funnel-4.png
Due: rspec-unit

Esther blog updates for JSON linting
  sites/uncategorized/source/blog/blog-posts/2021-04-21-devops-workflows-json-format-jq-ci-cd-lint.html.md.erb
Due: none
