Repository spicysoft/jp-www-gitlab-com: changes, and which GitLab CI jobs are due for each by the changed paths.
All: update-gitlab-project-releases-page, apply-redirects-prod, content-security-policy-checker, lint release-post-items, rubocop, check-handbook-edit-links, rspec-unit

Path conditions:
  update-gitlab-project-releases-page: any of: sites/uncategorized/source/releases/posts/*-released.html.md
  apply-redirects-prod: any of: data/redirects.yml, bin/apply-exact-match-redirects, bin/apply-regex-redirects
  content-security-policy-checker: any of: source/includes/layout/head.html.haml
  lint release-post-items: any of: data/release_posts/unreleased/*, data/categories.yml, data/stages.yml, source/images/unreleased/*
  rubocop: any of: *.rb, **/*.rb, .rubocop.yml, Dangerfile, *.rake, **/*.rake, bin/**/*, scripts/**/*, Rakefile
  check-handbook-edit-links: any of: data/monorepo.yml, helpers/custom_helpers.rb, **/edit_page.html.haml, **/footer.html.haml, **/handbook-page-toc.haml, **/check_handbook_edit_links.rb
  rspec-unit: any of: spec/**/*, **/*.{js,json,rb,yml}, .rspec

Add SRE Specialization for the ICEE team in Infrastructure
  sites/uncategorized/source/job-families/engineering/infrastructure/site-reliability-engineer/index.html.md
Due: none

Update SQS future / past cohort dates
  sites/handbook/source/handbook/sales/onboarding/index.html.md
Due: none

Update link from manager challenge to new Elevate leadership program and remove life labs link
  sites/handbook/source/handbook/engineering/quality/quality-engineering/learning-resources/index.html.md.erb
Due: none

Fixed hyperlinks for handbook/stock-options/index.html.md
  sites/handbook/source/handbook/stock-options/index.html.md
Due: none

Update DevSecOps checklist
  data/topic_children/devsecops-security-checklist.yml
Due: rspec-unit

Update storage limit FAQ with cost factor appraoch
  sites/uncategorized/source/pricing/faq-efficient-free-tier/index.html.md
  sites/uncategorized/source/pricing/faq-paid-storage-transfer/index.html.md
Due: none

Update sites/handbook/source/handbook/sales/field-operations/gtm-resources/rules-of-engagement/index.html.md
  sites/handbook/source/handbook/sales/field-operations/gtm-resources/rules-of-engagement/index.html.md
Due: none

Changing PM ownership on Error Tracking Direction Page
  source/direction/monitor/debugging_and_health/error_tracking/index.html.md
Due: none

Update Expense Handbook Page - Currency conversion section
  sites/handbook/source/handbook/finance/expenses/index.html.md
Due: none

Add handbook note about transition to smartling
  sites/handbook/source/handbook/marketing/localization/index.html.md
Due: none

Simplify language and clarify handbook first learning page
  sites/handbook/source/handbook/people-group/learning-and-development/interactive-learning/index.html.md
Due: none

Tweaking the language here slightly
  sites/uncategorized/source/pricing/faq-efficient-free-tier/index.html.md
Due: none

Add Process around external recruiters
  sites/handbook/source/handbook/hiring/talent-acquisition-framework/executive-search-process/index.html.md
Due: none

Update slack and PMM
  data/stages.yml
Due: lint release-post-items, rspec-unit

Update Package stable counterparts
  data/team_members/person/k/katiemacoy.yml
  data/team_members/person/s/sofiavistas.yml
Due: rspec-unit

Updates to direction page
  source/direction/plan/design_management/index.html.md
Due: none

Revert sunsetting of devops tools page
  data/redirects.yml
  sites/uncategorized/source/devops-tools/index.html.haml
Due: apply-redirects-prod, rspec-unit

Updated fellows handbook to reflect new issues
  sites/handbook/source/handbook/marketing/digital-experience/major-league-hacking-fellows/index.html.md
Due: none

Updating filename so HTML will render
  sites/handbook/source/handbook/engineering/security/security-assurance/production_readiness_compliance_assessment.html.md
Due: none

Remove customer recordings from public hb page
  sites/handbook/source/handbook/customer-success/csm/csm-development/index.html.md
Due: none

changing redirect POC to de
  data/redirects.yml
Due: apply-redirects-prod, rspec-unit

Updated link to onboarding and fixed name
  sites/handbook/source/handbook/sales/field-operations/customer-success-operations/cs-ops-programs/index.html.md
Due: none

Remove "Services" landing page
  data/services_categories.yml
Due: rspec-unit

Remove references to Engineering for PDM roles
  sites/uncategorized/source/job-families/product/product-design-management/index.html.md
Due: none

Updating the Netherlands Benefit page of the handbook to include Accident Policy
  sites/handbook/source/handbook/total-rewards/benefits/general-and-entity-benefits/bv-benefits-netherlands/index.html.md
Due: none

Update PD roles to remove some Eng references
  sites/uncategorized/source/job-families/product/product-designer/index.html.md.erb
Due: none

Remove some Eng references from TW roles
  sites/uncategorized/source/job-families/product/technical-writer/index.html.md
Due: none

Remove some references to Eng in TW Mgr roles
  sites/uncategorized/source/job-families/product/technical-writing-manager/index.html.md
Due: none

Remove some references to Eng in UXR Mgr roles
  sites/uncategorized/source/job-families/product/ux-research-manager/index.html.md
Due: none

Remove references to Eng in UXR Ops roles
  sites/uncategorized/source/job-families/product/ux-research-operations-coordinator/index.html.md
Due: none

Update references to Eng in UXR roles
  sites/uncategorized/source/job-families/product/ux-researcher/index.html.md
Due: none

Update adamsmolinski.yml to - Product Team
  data/team_members/person/a/adamsmolinski.yml
Due: rspec-unit

Update aknobloch.yml to - Product Team
  data/team_members/person/a/aknobloch.yml
Due: rspec-unit

Update leducmills.yml to - Product Team
  data/team_members/person/l/leducmills.yml
Due: rspec-unit

Update enf.yml to - Product Team
  data/team_members/person/e/enf.yml
Due: rspec-unit

Update laurenevans.yml to - Product Team
  data/team_members/person/l/laurenevans.yml
Due: rspec-unit

Update moliver28.yml to - Product Team
  data/team_members/person/m/moliver28.yml
Due: rspec-unit

Update wleidheiser.yml to - Product Team
  data/team_members/person/w/wleidheiser.yml
Due: rspec-unit

Update annelasch.yml to - Product Team
  data/team_members/person/a/annelasch.yml
Due: rspec-unit
