Repository spicysoft/jp-www-gitlab-com: changes, and which GitLab CI jobs are due for each by the changed paths.
All: update-gitlab-project-releases-page, apply-redirects-prod, content-security-policy-checker, lint release-post-items, rubocop, check-handbook-edit-links, rspec-unit

Path conditions:
  update-gitlab-project-releases-page: any of: sites/uncategorized/source/releases/posts/*-released.html.md
  apply-redirects-prod: any of: data/redirects.yml, bin/apply-exact-match-redirects, bin/apply-regex-redirects
  content-security-policy-checker: any of: source/includes/layout/head.html.haml
  lint release-post-items: any of: data/release_posts/unreleased/*, data/categories.yml, data/stages.yml, source/images/unreleased/*
  rubocop: any of: *.rb, **/*.rb, .rubocop.yml, Dangerfile, *.rake, **/*.rake, bin/**/*, scripts/**/*, Rakefile
  check-handbook-edit-links: any of: data/monorepo.yml, helpers/custom_helpers.rb, **/edit_page.html.haml, **/footer.html.haml, **/handbook-page-toc.haml, **/check_handbook_edit_links.rb
  rspec-unit: any of: spec/**/*, **/*.{js,json,rb,yml}, .rspec

Updating Product Planning PM
  .gitlab/CODEOWNERS
Due: none

Adding internal link message for Google doc
  sites/handbook/source/handbook/engineering/ux/ux-research/index.html.md
Due: none

Modify reports_to field in *.yml files for Lily and Raul
  data/team_members/person/l/lilymai.yml
  data/team_members/person/r/raulrrendon.yml
Due: rspec-unit

Update dead link to the "no start date" handbook page
  sites/handbook/source/handbook/hiring/talent-acquisition-framework/ces-contract-processes/index.html.md
Due: none

Update offboarding page, remove extra white space that was breaking markdown...
  sites/handbook/source/handbook/people-group/offboarding/index.html.md
Due: none

Cleanup the Engineering Shadow Page
  sites/handbook/source/handbook/engineering/development/shadow/director-shadow-program.html.md
Due: none

Update to include video explanation of Google Calendar Appointment Schedule Feature
  sites/handbook/source/handbook/communication/index.html.md
Due: none

Threat Insights: Add link to Ready to Pull board
  sites/handbook/source/handbook/engineering/development/sec/govern/threat-insights/index.html.md.erb
Due: none

Updating Eligibility for Commercial Leadership Dev Program
  sites/handbook/source/handbook/sales/commercial/index.html.md
Due: none

DM Handbook updates
  sites/handbook/source/handbook/marketing/demand-generation/digital-marketing/digital-marketing-management/index.html.md
Due: none

Update Falko Sieverding entry on team page
  data/team_members/person/f/fsieverding.yml
  sites/uncategorized/source/images/team/falkosieverding.jpg
Due: rspec-unit

Adding Clockwise to Pre-Approved App Listing
  sites/handbook/source/handbook/finance/procurement/personal-use-software/index.html.md
Due: none

Tweaking language in features.yml
  data/features.yml
Due: rspec-unit

Adjusting People Analytics content and links.
  sites/handbook/source/handbook/people-group/people-ops-tech-analytics/index.html.md.erb
Due: none

Adding Sponsored Events Staffing Process - Update sites/handbook/source/handbook/marketing/corporate-marketing/index.html.md
  sites/handbook/source/handbook/marketing/corporate-marketing/index.html.md
Due: none

Remove Cloud Licensing and Add Fulfillment Efficiency from Top Cross-Functional Initiatives
  sites/uncategorized/source/company/team/structure/working-groups/index.html.md
Due: none

Update Field Flash opportunities/requirements
  sites/handbook/source/handbook/sales/field-communications/field-flash-newsletter/index.html.md
Due: none

Assign Ken to Friday data triage
  sites/handbook/source/handbook/business-technology/data-team/how-we-work/triage/index.html.md
Due: none

Fix indentation
  sites/handbook/source/handbook/engineering/security/security-engineering-and-research/application-security/runbooks/hackerone-process.html.md
Due: none

Offboard team member - 2022-09-20
  data/team_members/person/j/jackiefraser.yml
Due: rspec-unit

Remove redundant text and whitespace
  sites/handbook/source/handbook/support/workflows/account_verification.html.md
Due: none

Update retro template
  .gitlab/issue_templates/product-development-retro.md
Due: none

Update Handbook with 401(k) committee members
  sites/handbook/source/handbook/total-rewards/benefits/general-and-entity-benefits/inc-benefits-us/index.html.md
Due: none

Tableau troubleshooting
  sites/handbook/source/handbook/business-technology/data-team/platform/tableau/index.html.md
Due: none

Remove @ali-gitlab from database reviewers
  data/team_members/person/a/alishan.yml
Due: rspec-unit

Format remote story for pcalder.yml
  data/team_members/person/p/pcalder.yml
Due: rspec-unit

Replace #g_create_gitaly with #g_gitaly on team page.
  sites/handbook/source/handbook/engineering/development/enablement/systems/gitaly/index.html.md.erb
Due: none

Stop dynamic warehouse usage for reporting warehouse
  sites/handbook/source/handbook/business-technology/data-team/platform/index.html.md
Due: none

Updated docs link
  data/release_posts/15_4/manage-allow-admins-to-merge-topics.yml
Due: rspec-unit

Shadow engineering - typo
  sites/handbook/source/handbook/engineering/development/shadow/director-shadow-program.html.md
Due: none

Sync specialty to team page - 2022-09-20
  data/team_members/person/a/alexanderturinske.yml
  data/team_members/person/a/arueda.yml
  data/team_members/person/b/bauerdominic.yml
  data/team_members/person/b/bwill.yml
  data/team_members/person/d/danieltian.yml
  data/team_members/person/d/dave-pisek.yml
  data/team_members/person/g/ghavenga.yml
  data/team_members/person/j/jonathanschafer.yml
  data/team_members/person/k/kniechajewicz.yml
  data/team_members/person/m/maciejparuszewski.yml
  data/team_members/person/m/mehmet-inac.yml
  data/team_members/person/m/michal-zajac.yml
  data/team_members/person/n/nmccorrison.yml
  data/team_members/person/p/pcalder.yml
  data/team_members/person/s/samanthaming.yml
  data/team_members/person/s/sashi_kumar.yml
  data/team_members/person/s/savasvedova.yml
  data/team_members/person/s/subashischakraborty.yml
  data/team_members/person/t/thiagofigueiro.yml
  data/team_members/person/z/zamir-martins.yml
Due: rspec-unit

Added DRIs to planned goals
  sites/uncategorized/source/company/team/structure/working-groups/disaster-recovery/index.html.md
Due: none

Remove Certify from Product Planning metrics
  sites/handbook/source/handbook/engineering/development/dev/plan/_product_planning_application_dashboard.md.erb
  sites/handbook/source/handbook/engineering/development/dev/plan/_product_planning_dashboard.md.erb
Due: none

Make the Package description skewed towards our current interest
  sites/uncategorized/source/job-families/product/product-manager/index.html.md.erb
Due: none

Update the link to package error budgets grafana dashboard
  sites/handbook/source/handbook/engineering/development/ops/package/index.html.md.erb
Due: none

Mobile DevOps Code Signing Blog Part 1
  sites/uncategorized/source/blog/blog-posts/2022-09-20-mobile-devops-with-gitlab-part-1.html.md.erb
  source/images/blogimages/2022-09-19-mobile-devops-with-gitlab-part-1-introducing-project-level-secure-files/list-secure-files.png
  source/images/blogimages/2022-09-19-mobile-devops-with-gitlab-part-1-introducing-project-level-secure-files/refargotohp-mzZp_9QpYLc-unsplash.jpg
  source/images/blogimages/2022-09-19-mobile-devops-with-gitlab-part-1-introducing-project-level-secure-files/upload-secure-file.png
Due: none

Swapping Dylan for PD responsibilities
  sites/handbook/source/handbook/support/support-ops/index.html.md
Due: none

Introduce REST API for project transfer locations
  data/release_posts/unreleased/manage-introduce-rest-api-for-project-transfer-locations.yml
Due: lint release-post-items, rspec-unit

Update data/release_posts/unreleased/manage-introduce-rest-api-for-project-transfer-locations.yml
  data/release_posts/unreleased/manage-introduce-rest-api-for-project-transfer-locations.yml
Due: lint release-post-items, rspec-unit

Internal link clustering - core terms
  sites/uncategorized/source/blog/blog-posts/2017-04-18-cloud-native-demo.html.md
  sites/uncategorized/source/blog/blog-posts/2018-02-27-coreos-acquisition.html.md.erb
  sites/uncategorized/source/blog/blog-posts/2018-09-19-announcing-100m-series-d-funding.html.md
  sites/uncategorized/source/blog/blog-posts/2018-10-08-what-is-cloud-native.html.md.erb
  sites/uncategorized/source/blog/blog-posts/2018-12-12-what-to-expect-at-predict-2019.html.md.erb
  sites/uncategorized/source/blog/blog-posts/2019-04-02-why-gitlab-ci-cd.html.md.erb
  sites/uncategorized/source/blog/blog-posts/2019-05-02-gitlab-journey-from-azure-to-gcp.html.md.erb
  sites/uncategorized/source/blog/blog-posts/2019-08-27-avoiding-the-vendor-lock-with-delta-at-commit.html.md.erb
  sites/uncategorized/source/blog/blog-posts/2019-10-17-delta-cloud-native.html.md.erb
  sites/uncategorized/source/blog/blog-posts/2019-11-13-cloud-native-architectures-made-easy.html.md.erb
  sites/uncategorized/source/blog/blog-posts/2020-08-18-How-GitLab-Can-Help-You-Secure-Your-Cloud-Native-Applications.html.md.erb
  sites/uncategorized/source/blog/blog-posts/2020-08-24-gitlab-achieves-kcsp-status.html.md.erb
  sites/uncategorized/source/blog/blog-posts/2020-09-10-cloud-native-storage-beginners.html.md.erb
  sites/uncategorized/source/blog/blog-posts/2021-09-10-adopt-agile-and-devops-for-ibm-z.html.md.erb
  sites/uncategorized/source/blog/blog-posts/2022-05-31-the-kubecon-summary-from-a-product-perspective.html.md.erb
Due: none
