Repository spicysoft/jp-www-gitlab-com: changes, and which GitLab CI jobs are due for each by the changed paths.
All: update-gitlab-project-releases-page, apply-redirects-prod, content-security-policy-checker, lint release-post-items, rubocop, check-handbook-edit-links, rspec-unit

Path conditions:
  update-gitlab-project-releases-page: any of: sites/uncategorized/source/releases/posts/*-released.html.md
  apply-redirects-prod: any of: data/redirects.yml, bin/apply-exact-match-redirects, bin/apply-regex-redirects
  content-security-policy-checker: any of: source/includes/layout/head.html.haml
  lint release-post-items: any of: data/release_posts/unreleased/*, data/categories.yml, data/stages.yml, source/images/unreleased/*
  rubocop: any of: *.rb, **/*.rb, .rubocop.yml, Dangerfile, *.rake, **/*.rake, bin/**/*, scripts/**/*, Rakefile
  check-handbook-edit-links: any of: data/monorepo.yml, helpers/custom_helpers.rb, **/edit_page.html.haml, **/footer.html.haml, **/handbook-page-toc.haml, **/check_handbook_edit_links.rb
  rspec-unit: any of: spec/**/*, **/*.{js,json,rb,yml}, .rspec

Add link to Anti-Fraud Policy
  sites/handbook/source/handbook/legal/index.html.md
Due: none

data science handbook project updates
  sites/handbook/source/handbook/business-technology/data-team/organization/data-science/index.html.md
Due: none

Git blog post: take advantage of Git rebase
  sites/uncategorized/source/blog/blog-posts/2022-09-28-take-advantage-of-git-rebase.html.md.erb
Due: none

Move the Open Source Program handbook under Community Programs
  .gitlab/CODEOWNERS
  data/redirects.yml
  sites/handbook/source/handbook/legal/opensource-agreement/index.html.md
  sites/handbook/source/handbook/marketing/blog/index.html.md
  sites/handbook/source/handbook/marketing/community-relations/community-pathway/index.html.md
  sites/handbook/source/handbook/marketing/community-relations/community-programs/automated-community-programs/oss-program-verification/index.html.md
  sites/handbook/source/handbook/marketing/community-relations/community-programs/index.html.md.erb
  sites/handbook/source/handbook/marketing/community-relations/community-programs/opensource-program/index.html.md
  sites/handbook/source/handbook/marketing/community-relations/community-programs/opensource-program/workflows/index.html.md
  sites/handbook/source/handbook/marketing/community-relations/developer-evangelism/learn-developer-evangelism/index.html.md
  sites/handbook/source/handbook/marketing/community-relations/index.html.md.erb
  sites/handbook/source/handbook/marketing/community-relations/project-management/index.html.md
  sites/handbook/source/handbook/marketing/index.html.md
  sites/handbook/source/handbook/marketing/revenue-marketing/sdr/index.html.md
Due: apply-redirects-prod, rspec-unit

Add Derek Ferguson as PM for Compliance group
  .gitlab/CODEOWNERS
  data/stages.yml
Due: lint release-post-items, rspec-unit

Update data/team_members/person/l/lhan.yml
  data/team_members/person/l/lhan.yml
Due: rspec-unit

Updates to the L&D page to reflect new team members and programs
  sites/handbook/source/handbook/people-group/learning-and-development/index.html.md
Due: none

Adding improvements to the activity feed
  data/release_posts/unreleased/usability_improvements.yml
Due: lint release-post-items, rspec-unit

Remove duplicate markdown guidance
  sites/handbook/source/handbook/communication/index.html.md
Due: none

Adds Michelle Torres to Package in devops stages
  sites/handbook/source/includes/product/_categories-names.erb
Due: none

Add Workspace usability improvement
  data/release_posts/unreleased/usability_improvements.yml
Due: lint release-post-items, rspec-unit

Add Workspace bug
  data/release_posts/unreleased/bugs.yml
Due: lint release-post-items, rspec-unit

Updating TAM to CSM per title change
  sites/handbook/source/handbook/customer-success/csm/workshops/index.html.md
Due: none

Fixing typo
  sites/handbook/source/handbook/customer-success/csm/stage-adoption/index.html.md
Due: none

Move Startups to Community Programs
  .gitlab/CODEOWNERS
  data/redirects.yml
  sites/handbook/source/handbook/marketing/community-relations/community-pathway/index.html.md
  sites/handbook/source/handbook/marketing/community-relations/community-programs/index.html.md.erb
  sites/handbook/source/handbook/marketing/community-relations/community-programs/startups-program/index.html.md
  sites/handbook/source/handbook/marketing/community-relations/index.html.md.erb
  sites/handbook/source/handbook/marketing/community-relations/project-management/index.html.md
  sites/handbook/source/handbook/support/workflows/special-programs.html.md
Due: apply-redirects-prod, rspec-unit

Show Container Scanning in Free
  data/features.yml
Due: rspec-unit

Updating TAM to CSM
  sites/handbook/source/handbook/customer-success/csm/stage-enablement-and-expansion/index.html.md
Due: none

Remove use of PII acronym
  sites/handbook/source/handbook/communication/index.html.md
Due: none

Update Package stage gitlab group
  data/stages.yml
Due: lint release-post-items, rspec-unit

Update boilerplate for responding to potential candidates.
  sites/handbook/source/handbook/hiring/gitlab-ambassadors/index.html.md
Due: none

Move Non-Profits to Community Programs
  .gitlab/CODEOWNERS
  data/redirects.yml
  sites/handbook/source/handbook/marketing/community-relations/community-programs/non-profit-program/index.html.md
Due: apply-redirects-prod, rspec-unit

Updating TAM > CSM and Technical Account > Customer Success
  sites/handbook/source/handbook/marketing/strategic-marketing/usecase-gtm/index.html.md
Due: none

Updates to Partner Instant Marketing Page
  sites/handbook/source/handbook/marketing/channel-marketing/instant-campaigns/index.html.md.erb
Due: none

Add provisioning details for Arkose
  data/tech_stack.yml
Due: rspec-unit

Updates Field Operations Rules of Engagement for Community Efficiency Project.
  sites/handbook/source/handbook/sales/field-operations/gtm-resources/rules-of-engagement/index.html.md
Due: none

Update shop link
  sites/handbook/source/handbook/marketing/corporate-marketing/merchandise-handling/index.html.md
Due: none

Create Blog Posts “2022-10-04-five-fast-facts-about-docs-as-code-at-gitlab”
  sites/uncategorized/source/blog/blog-posts/2022-10-04-five-fast-facts-about-docs-as-code-at-gitlab.html.md.erb
Due: none

add category
  data/release_posts/unreleased/verify-expose-job-scope-data-in--ci-job-token--api-for-introspecti.yml
Due: lint release-post-items, rspec-unit

Updates to Workshop Instructions
  sites/handbook/source/handbook/marketing/field-marketing/field-marketing-owned-virtual-events/index.html.md
Due: none

Add Zack Cuddy as a Trainee Mentor
  data/maintainer_mentorship.yml
Due: rspec-unit

Remove broken link to knowledge assessment
  sites/handbook/source/handbook/communication/index.html.md
Due: none

Add Govern svg icon
  source/images/sdlc-icons/govern.svg
Due: none

Stand alone Marketing Development Funds (MDF) Page
  sites/handbook/source/handbook/resellers/Channel-Program-Guide/MDF/index.html.md
Due: none

Add Full Stack Data Scientist specialty
  sites/uncategorized/source/job-families/finance/data-science/index.html.md
Due: none

Create new page for customers - Get started resources
  sites/handbook/source/handbook/customer-success/customer-content/get-started.md
Due: none

Add clarity around what is out of scope for Purchase team related to free/trial experience
  source/direction/fulfillment/index.html.md
Due: none

Update sites/handbook/source/handbook/customer-success/customer-content/index.md
  sites/handbook/source/handbook/customer-success/customer-content/index.md
Due: none

Fixing a typo in the word Administration
  sites/handbook/source/handbook/customer-success/csm/segment/scale/webinar-calendar/index.html.md
Due: none

Added Shekhar Patnaik to team page
  data/team_members/person/s/shekharpatnaik.yml
  sites/uncategorized/source/images/team/shekharpatnaik.png
Due: rspec-unit

Added planning tips for usability benchmarking studies.
  sites/handbook/source/handbook/product/ux/ux-research-training/usability-benchmarking/index.html.md
Due: none
