Repository spicysoft/jp-www-gitlab-com: changes, and which GitLab CI jobs are due for each by the changed paths.
All: update-gitlab-project-releases-page, apply-redirects-prod, content-security-policy-checker, lint release-post-items, rubocop, check-handbook-edit-links, rspec-unit

Path conditions:
  update-gitlab-project-releases-page: any of: sites/uncategorized/source/releases/posts/*-released.html.md
  apply-redirects-prod: any of: data/redirects.yml, bin/apply-exact-match-redirects, bin/apply-regex-redirects
  content-security-policy-checker: any of: source/includes/layout/head.html.haml
  lint release-post-items: any of: data/release_posts/unreleased/*, data/categories.yml, data/stages.yml, source/images/unreleased/*
  rubocop: any of: *.rb, **/*.rb, .rubocop.yml, Dangerfile, *.rake, **/*.rake, bin/**/*, scripts/**/*, Rakefile
  check-handbook-edit-links: any of: data/monorepo.yml, helpers/custom_helpers.rb, **/edit_page.html.haml, **/footer.html.haml, **/handbook-page-toc.haml, **/check_handbook_edit_links.rb
  rspec-unit: any of: spec/**/*, **/*.{js,json,rb,yml}, .rspec

Fix: #1
  data/site.yml
Due: rspec-unit

本家の取り込み
  .gitlab-ci.yml
Due: rspec-unit

Fix broken link formatting
  sites/handbook/source/handbook/marketing/corporate-marketing/speaking-resources/index.html.md
Due: none

Add note about deliverable issues to the community contributions section
  sites/handbook/source/handbook/engineering/development/ops/package/index.html.md.erb
Due: none

Sync specialty to team page - 2022-08-18
  data/team_members/person/d/danielcroft.yml
  data/team_members/person/m/matappelman.yml
Due: rspec-unit

Fix #3
  .gitlab-ci.yml
Due: rspec-unit

Add Package backend new vacancies
  data/team_members/vacancy/backend-engineer-package3.yml
  data/team_members/vacancy/backend-engineer-package4.yml
Due: rspec-unit

Fix
  sites/handbook/source/handbook/index.html.md
Due: none

Merge branch 'update-assignments' into 'master'
  data/stages.yml
Due: lint release-post-items, rspec-unit

レイアウト崩れ修正
  sites/handbook/source/handbook/index.html.md
Due: none

サブバリューが運営原則に変わった件の反映漏れ
  sites/handbook/source/handbook/values/index.html.md
Due: none

Add one more workflow label to docs for Auth group
  sites/handbook/source/handbook/engineering/development/dev/manage/authentication-and-authorization/index.html.md.erb
Due: none

Dev section - Updates PI updates Aug 2022
  source/direction/dev/template.html.md.erb
Due: none

Create PCL for Database OS Upgrade
  sites/handbook/source/handbook/engineering/infrastructure/change-management/index.html.md
Due: none

Update role titles for Package team members
  data/team_members/person/r/rchanila.yml
  data/team_members/person/s/steve-abrams.yml
Due: rspec-unit

date change
  sites/uncategorized/source/blog/blog-posts/2022-08-18-the-gitlab-guide-to-modern-software-testing.html.md.erb
Due: none

Update sites/handbook/source/handbook/engineering/incubation/real-time-collaboration/index.html.md
  sites/handbook/source/handbook/engineering/incubation/real-time-collaboration/index.html.md
Due: none

Update Marketo Template link - previous link was broken.
  sites/handbook/source/handbook/marketing/channel-marketing/partner-campaigns/index.html.md
Due: none

Create Blog Posts “2022-08-18-gitlab-adds-further-measures-to-combat-credential-stuffing-and-other-types-of-platform-abuse”
  sites/uncategorized/source/blog/blog-posts/2022-08-18-gitlab-adds-further-measures-to-combat-credential-stuffing-and-other-types-of-platform-abuse.html.md.erb
Due: none

add image
  source/images/blogimages/credentialstuffing.png
Due: none

Remove redundant review-SLO wordage
  sites/handbook/source/handbook/engineering/workflow/code-review/index.html.md.erb
Due: none

tweaked the image link.
  sites/uncategorized/source/blog/blog-posts/2022-08-18-gitlab-adds-further-measures-to-combat-credential-stuffing-and-other-types-of-platform-abuse.html.md.erb
Due: none

Updating link to SOX in-scope apps
  sites/handbook/source/handbook/engineering/security/security-assurance/security-compliance/access-reviews.html.md
Due: none

Add error budget exception for Workspace group
  sites/handbook/source/handbook/engineering/error-budgets/index.html.md
Due: none

Add Drew Blessing as trainee maintainer for backend
  data/team_members/person/d/drew-b.yml
Due: rspec-unit

Apply 1 suggestion(s) to 1 file(s)
  data/release_posts/15_3/mvp.yml
Due: rspec-unit

Add my info to the team page.
  data/team_members/person/c/csnehansh.yml
  sites/uncategorized/source/images/team/csnehansh.png
Due: rspec-unit

Update trainees for Pavel Shutsin
  data/maintainer_mentorship.yml
Due: rspec-unit

Refresh open source partner program handbook sections
  sites/handbook/source/handbook/marketing/community-relations/opensource-program/index.html.md
Due: none

Product highlights for group Geo - August 2022
  source/direction/enablement/template.html.md.erb
Due: none

Update Recent News page
  data/press.yml
Due: rspec-unit

Document note about sso link for direct courses
  sites/handbook/source/handbook/people-group/learning-and-development/level-up/index.html.md
Due: none

Added section for feature enhancements.
  sites/handbook/source/handbook/engineering/development/ops/verify/pipeline-execution/index.html.md.erb
Due: none

Add new Scale CSE handbook page
  sites/handbook/source/handbook/customer-success/tam/segment/scale/scale-operating-rhythm/index.html.md
Due: none

Adding Ent Apps TBD to BEG team
  sites/handbook/source/handbook/sales/field-operations/sales-operations/buyer-experience/index.html.md
Due: none

Add bhr_payroll_type for Remote Technology - Brazil
  data/entity_mapper.yml
Due: rspec-unit

Merge branch 'eneuberger-master-patch-40964' into 'master'
  sites/handbook/source/handbook/product/product-analysis/index.html.md
Due: none

Update FY23 Engineering Direction
  sites/handbook/source/handbook/engineering/index.html.md.erb
Due: none

Update Pavel Shutsin expertise profile
  data/team_members/person/p/pavelshutsin.yml
Due: rspec-unit

Update Support counterpart for Threat Insights
  data/stages.yml
  data/team_members/person/g/gerardogutierrez.yml
  sites/handbook/source/includes/product/_categories-names.erb
Due: lint release-post-items, rspec-unit
