Repository spicysoft/jp-www-gitlab-com: changes, and which GitLab CI jobs are due for each by the changed paths.
All: update-gitlab-project-releases-page, apply-redirects-prod, content-security-policy-checker, lint release-post-items, rubocop, check-handbook-edit-links, rspec-unit

update-gitlab-project-releases-page:
  cache:
    key: web_ruby-3.0-bullseye
    policy: pull
    paths:
    - vendor
    - node_modules
  before_script:
  - bundle config set path vendor
  - bundle install --quiet --jobs 4
  - yarn install
  stage: content-generation
  needs: []
  script:
  - bundle exec rake release:ee:update_project_releases_page
  ...

apply-redirects-prod:
  cache:
    key: web_ruby-3.0-bullseye
    policy: pull
    paths:
    - vendor
    - node_modules
  before_script:
  - bundle config set path vendor
  - bundle install --quiet --jobs 4
  - yarn install
  stage: build-and-deploy
  environment:
    name: production
  script:
  - export FASTLY_SRV_ID=$FASTLY_SRV_ID_PROD
  ...

content-security-policy-checker:
  image: debian:stable-slim
  stage: test
  needs: []
  script:
  ...

lint release-post-items:
  cache:
    key: web_ruby-3.0-bullseye
    policy: pull
    paths:
    - vendor
    - node_modules
  before_script:
  - bundle config set path vendor
  - bundle install --quiet --jobs 4
  - yarn install
  stage: test
  needs: []
  script:
  - bundle exec bin/validate-release-post-item

rubocop:
  cache:
    key: web_ruby-3.0-bullseye
    policy: pull
    paths:
    - vendor
    - node_modules
  before_script:
  - bundle config set path vendor
  - bundle install --quiet --jobs 4
  - yarn install
  stage: test
  needs: []
  script:
  - bundle exec rubocop

check-handbook-edit-links:
  cache:
    key: web_ruby-3.0-bullseye
    policy: pull
    paths:
    - vendor
    - node_modules
  before_script:
  - bundle config set path vendor
  - bundle install --quiet --jobs 4
  - yarn install
  stage: test
  needs:
  - handbook-build-and-review-deploy
  script:
  - scripts/check-handbook-edit-links.rb

rspec-unit:
  cache:
    key: web_ruby-3.0-bullseye
    policy: pull
    paths:
    - vendor
    - node_modules
  before_script:
  - bundle config set path vendor
  - bundle install --quiet --jobs 4
  - yarn install
  stage: test
  needs: []
  script:
  - bundle exec rspec --tag ~@feature

job family creation for the new Creative Operations role
  sites/uncategorized/source/job-families/marketing/creative-operations/index.html.md
Due: none

adds Kate in APAC
  sites/handbook/source/handbook/marketing/field-marketing/index.html.md
Due: none

Release Post Item: Observability - Error Tracking
  data/release_posts/unreleased/observability-error-tracking.yml
  source/images/unreleased/feature_error_tracking.png
Due: lint release-post-items, rspec-unit

Add Fulfillment stable counterpart
  data/stages.yml
  data/team_members/person/a/ahmad-s.yml
Due: lint release-post-items, rspec-unit

Correct link to Heroes Alumni page
  sites/uncategorized/source/community/heroes/members/index.html.haml
Due: none

Core team makeup formatting improvement
  sites/uncategorized/source/community/core-team/index.html.haml
Due: none

Remove wrong Merge Request Coach departments
  data/team_members/person/g/ghinfey.yml
  data/team_members/person/j/jpcyiza.yml
Due: rspec-unit

Update broken link on subscription management
  sites/handbook/source/handbook/support/license-and-renewals/workflows/working_with_reseller_related_requests.html.md
Due: none

Update on support resources (deprecated) in Support Onboarding Buddy
  sites/handbook/source/handbook/support/training/onboarding_buddy.html.md
Due: none

Updating growth strategy to include more community decision making and fixing links
  sites/handbook/source/handbook/engineering/open-source/growth-strategy.html.md
Due: none

Make Igor Drozdov Workhorse maintainer
  data/team_members/person/i/id-backend.yml
Due: rspec-unit

Fix link to code contributor operations page
  sites/handbook/source/handbook/marketing/community-relations/code-contributor-program/index.html.md.erb
Due: none

Add information regarding ChatOps Quality commands
  sites/handbook/source/handbook/engineering/quality/quality-engineering/index.html.md.erb
Due: none

Sync specialty to team page - 2022-10-18
  data/team_members/person/a/alex_martin.yml
  data/team_members/person/b/badnewsblair.yml
  data/team_members/person/j/jiaanlouw.yml
Due: rspec-unit

Update my specialty and project permissions
  data/team_members/person/l/lciutacu.yml
Due: rspec-unit

Update Systems Managed by FinSys Admins in the data/tech_stack.yml
  data/tech_stack.yml
Due: rspec-unit

Add Joseph Wambua as GitLab backend reviewer
  data/team_members/person/j/jayjoshua.yml
Due: rspec-unit

Offboard team member - 2022-10-17
  data/pets.yml
  data/team_members/person/j/jsawtelle.yml
Due: rspec-unit

Update to team profile correcting title and manager
  data/team_members/person/l/leefalc.yml
Due: rspec-unit

Update to Guidelines for Use of Third-party IP for External Materials HB page
  sites/handbook/source/handbook/legal/ip-public-materials-guidelines/index.html.md
Due: none

Update to Publicity Waiver and Release page
  sites/handbook/source/handbook/legal/publicity-waiver-release/index.html.md
Due: none

GitLab Incident Timelines
  sites/uncategorized/source/blog/blog-posts/2022-10-18-gitlab-incident-timelines.html.md.erb
  source/images/blogimages/incident-mgmt/incident_timeline.png
  source/images/blogimages/incident-mgmt/incident_timeline_quick_actions.png
Due: none

Add a line item for Sam as acting PM
  sites/handbook/source/includes/product/_categories-names.erb
Due: none

Detail which subscriptions have a grace period
  sites/uncategorized/source/pricing/licensing-faq/index.html.md
Due: none

Create Blog Posts “2022-10-18-how-to-start-a-great-oss-project”
  sites/uncategorized/source/blog/blog-posts/2022-10-18-how-to-start-a-great-oss-project.html.md.erb
Due: none

removed "featured"
  sites/uncategorized/source/blog/blog-posts/2022-10-18-gitlab-incident-timelines.html.md.erb
Due: none

Add internship to role for Michelle Cooper
  data/team_members/person/m/michellecooper.yml
Due: rspec-unit

Update MECC => TeamOps references on CoST Workplace team handbook page
  sites/handbook/source/handbook/ceo/chief-of-staff-team/workplace/index.html.md
Due: none

Clarify that the documented customer needs are not necessarily features within Dedicated
  source/direction/saas-platforms/dedicated/index.html.md
Due: none

Release Post – Cloud Seed
  data/release_posts/unreleased/incubation-deploy-apps-to-google-cloud-cloud-seed.yml
Due: lint release-post-items, rspec-unit

Remove outdated Ubuntu versions
  sites/handbook/source/handbook/security/approved_os.html.md
Due: none

Move product pages for package stage
  sites/handbook/source/handbook/engineering/development/ops/package/product/container-registry/index.html.md.erb
  sites/handbook/source/handbook/engineering/development/ops/package/product/package-registry/index.html.md.erb
Due: none

Update sites/handbook/source/handbook/people-group/learning-and-development/index.html.md
  sites/handbook/source/handbook/people-group/learning-and-development/index.html.md
Due: none

Remove newsletter handbook pages
  sites/handbook/source/handbook/people-group/learning-and-development/newsletter/FY22-Q1/index.html.md
  sites/handbook/source/handbook/people-group/learning-and-development/newsletter/FY22-Q2/index.html.md
  sites/handbook/source/handbook/people-group/learning-and-development/newsletter/FY22-Q3/index.html.md
  sites/handbook/source/handbook/people-group/learning-and-development/newsletter/FY22-Q4/index.html.md
  sites/handbook/source/handbook/people-group/learning-and-development/newsletter/mental-health-newsletter/FY21-Q4/index.html.md
  sites/handbook/source/handbook/people-group/learning-and-development/newsletter/mental-health-newsletter/FY22-Q1/index.html.md
  sites/handbook/source/handbook/people-group/learning-and-development/newsletter/mental-health-newsletter/FY22-Q4/index.html.md
Due: none

Fix data science direction 404
  data/sections.yml
  source/direction/data-science/index.html.md.erb
Due: rspec-unit

Update R Handbook Page With Troubleshooting Section
  sites/handbook/source/handbook/business-technology/data-team/platform/rstudio/index.html.md
Due: none

Fix spelling of Eligibility in Growth and Development page
  sites/handbook/source/handbook/total-rewards/benefits/general-and-entity-benefits/growth-and-development/index.html.md
Due: none

Build "form" section and update background check process
  sites/handbook/source/handbook/hiring/talent-acquisition-framework/coordinator/index.html.md
  sites/handbook/source/handbook/people-group/contracts-probation-periods/index.html.md.erb
Due: none

Updated Activation PM name from Sam to Paige
  data/stages.yml
Due: lint release-post-items, rspec-unit

Path conditions:
  update-gitlab-project-releases-page: any of: sites/uncategorized/source/releases/posts/*-released.html.md
  apply-redirects-prod: any of: data/redirects.yml, bin/apply-exact-match-redirects, bin/apply-regex-redirects
  content-security-policy-checker: any of: source/includes/layout/head.html.haml
  lint release-post-items: any of: data/release_posts/unreleased/*, data/categories.yml, data/stages.yml, source/images/unreleased/*
  rubocop: any of: *.rb, **/*.rb, .rubocop.yml, Dangerfile, *.rake, **/*.rake, bin/**/*, scripts/**/*, Rakefile
  check-handbook-edit-links: any of: data/monorepo.yml, helpers/custom_helpers.rb, **/edit_page.html.haml, **/footer.html.haml, **/handbook-page-toc.haml, **/check_handbook_edit_links.rb
  rspec-unit: any of: spec/**/*, **/*.{js,json,rb,yml}, .rspec
