Repository spicysoft/jp-www-gitlab-com: changes, and which GitLab CI jobs are due for each by the changed paths.
All: update-gitlab-project-releases-page, apply-redirects-prod, content-security-policy-checker, lint release-post-items, rubocop, check-handbook-edit-links, rspec-unit

Path conditions:
  update-gitlab-project-releases-page: any of: sites/uncategorized/source/releases/posts/*-released.html.md
  apply-redirects-prod: any of: data/redirects.yml, bin/apply-exact-match-redirects, bin/apply-regex-redirects
  content-security-policy-checker: any of: source/includes/layout/head.html.haml
  lint release-post-items: any of: data/release_posts/unreleased/*, data/categories.yml, data/stages.yml, source/images/unreleased/*
  rubocop: any of: *.rb, **/*.rb, .rubocop.yml, Dangerfile, *.rake, **/*.rake, bin/**/*, scripts/**/*, Rakefile
  check-handbook-edit-links: any of: data/monorepo.yml, helpers/custom_helpers.rb, **/edit_page.html.haml, **/footer.html.haml, **/handbook-page-toc.haml, **/check_handbook_edit_links.rb
  rspec-unit: any of: spec/**/*, **/*.{js,json,rb,yml}, .rspec

Update tasks to Associate Manager, CES
  sites/handbook/source/handbook/people-group/contracts-probation-periods/index.html.md.erb
Due: none

Move ecosystem dev pages to manage
  .gitlab/CODEOWNERS
  data/redirects.yml
  sites/handbook/source/handbook/engineering/development/dev/ecosystem/index.html.md.erb
  sites/handbook/source/handbook/engineering/development/dev/index.html.md.erb
  sites/handbook/source/handbook/engineering/development/dev/manage/foundations/index.html.md.erb
  sites/handbook/source/handbook/engineering/development/dev/manage/index.html.md.erb
  sites/handbook/source/handbook/engineering/development/dev/manage/integrations/_backlog_refinement.erb
  sites/handbook/source/handbook/engineering/development/dev/manage/integrations/_capacity_planning.erb
  sites/handbook/source/handbook/engineering/development/dev/manage/integrations/_metrics.erb
  sites/handbook/source/handbook/engineering/development/dev/manage/integrations/_monitoring.erb
  sites/handbook/source/handbook/engineering/development/dev/manage/integrations/_retrospectives.erb
  sites/handbook/source/handbook/engineering/development/dev/manage/integrations/_roulette_reviews.erb
  sites/handbook/source/handbook/engineering/development/dev/manage/integrations/_what_to_work_on.erb
  sites/handbook/source/handbook/engineering/development/dev/manage/integrations/career-chats/index.html.md.erb
  sites/handbook/source/handbook/engineering/development/dev/manage/integrations/index.html.md.erb
  sites/handbook/source/handbook/engineering/index.html.md.erb
  sites/handbook/source/handbook/product/ux/performance-indicators/system-usability-scale/index.html.md
  sites/uncategorized/source/blog/blog-posts/2020-06-01-13-0-contributor-experience-update.html.md.erb
  source/direction/manage/foundations/navigation_settings/index.html.md
Due: apply-redirects-prod, rspec-unit

Clarify community contribution qualification in director shadow program
  sites/handbook/source/handbook/engineering/development/shadow/director-shadow-program.html.md
Due: none

Update Ecosystem => Manage in direction pages
  source/direction/manage/foundations/design_system/index.html.md
  source/direction/manage/foundations/gitlab_docs/index.html.md
  source/direction/manage/foundations/index.html.md.erb
  source/direction/manage/foundations/navigation_settings/index.html.md
  source/direction/manage/integrations/index.html.md.erb
Due: none

Update Product Job family to not reference Ecosystem
  sites/uncategorized/source/job-families/product/product-management-leadership/index.html.md
Due: none

Categories page: Move Ecosystem groups to manage for other functionality
  sites/handbook/source/handbook/product/categories/index.html.md.erb
Due: none

Remove reference to SSO in LDAP SKU
  sites/uncategorized/source/services/implementation/integration/index.html.haml
Due: none

UX handbook: Update Ecosystem references to Manage
  sites/handbook/source/handbook/product/ux/index.html.md.erb
  sites/handbook/source/handbook/product/ux/performance-indicators/system-usability-scale/index.html.md
Due: none

Update leads for generational understanding TMRG
  sites/uncategorized/source/company/culture/inclusion/erg-guide/index.html.md
Due: none

doc: Split git and cluster teams on gitaly team page
  sites/handbook/source/handbook/engineering/development/enablement/systems/gitaly/index.html.md.erb
Due: none

Add instructions on how to organize office hour calls
  sites/handbook/source/handbook/marketing/community-relations/code-contributor-program/index.html.md.erb
Due: none

Update tech writer assignment
  data/stages.yml
Due: lint release-post-items, rspec-unit

Dev QE team: Change Ecosystem => Manage
  sites/handbook/source/handbook/engineering/quality/quality-engineering/dev-qe-team/index.html.md.erb
Due: none

Fix broken URL in TeamOps pages
  sites/handbook/source/handbook/teamops/executing-decisions/index.html.md.erb
  sites/handbook/source/handbook/teamops/fast-decisions/index.html.md.erb
  sites/handbook/source/handbook/teamops/informed-decisions/index.html.md.erb
  sites/handbook/source/handbook/teamops/many-decisions/index.html.md.erb
Due: none

CES Offboardings
  sites/handbook/source/handbook/hiring/talent-acquisition-framework/coordinator/index.html.md
Due: none

Update description frontmatter
  sites/uncategorized/source/community/heroes/index.html.haml
Due: none

Fix strategy indentation formatting
  sites/uncategorized/source/company/strategy/index.html.md
Due: none

Clarify the faster time is specific to reviews
  sites/handbook/source/handbook/marketing/community-relations/leading-organizations/index.html.md
Due: none

Apply 1 suggestion(s) to 1 file(s)
  data/release_posts/unreleased/manage-allow-group-owners-to-update-group-members-saml-and-scim-ex.yml
Due: lint release-post-items, rspec-unit

Apply 1 suggestion(s) to 1 file(s)
  data/release_posts/unreleased/manage-transparent-sso-enforcement-for-group-members.yml
Due: lint release-post-items, rspec-unit

Removing views that are being deactivated
  sites/handbook/source/handbook/support/support-ops/documentation/zendesk_global_views.html.md
Due: none

Add Evgeny Rudinsky to team page
  data/team_members/person/e/erudinsky1.yml
  sites/uncategorized/source/images/team/erudinsky.jpg
Due: rspec-unit

Add Auth usability improvement
  data/release_posts/unreleased/usability_improvements.yml
Due: lint release-post-items, rspec-unit

Added New Column for "Segmentation" under "Gainsight Scorecard Attributes and Calculations" table
  sites/handbook/source/handbook/customer-success/csm/health-score-triage/index.html.md
Due: none

Deleting trigger list
  sites/handbook/source/handbook/support/support-ops/documentation/zendesk_global_triggers.html.md
Due: none

Specify the release post item generator expects plain text
  sites/handbook/source/handbook/marketing/blog/release-posts/index.html.md
Due: none

Update job families file
  data/people_group/job_families.yml
Due: rspec-unit

Update director-shadow-program - update schedule
  sites/handbook/source/handbook/engineering/development/shadow/director-shadow-program.html.md
Due: none

Add EM to Product Designer interview process
  sites/uncategorized/source/job-families/product/product-designer/index.html.md.erb
Due: none

Update by Brand to Vendor Ref Process in Corp Comms Handbook
  sites/handbook/source/handbook/marketing/corporate-marketing/corporate-communications/index.html.md
Due: none

Add Alumni button
  sites/uncategorized/source/community/heroes/members/index.html.haml
Due: none

Update note about PS migrations
  sites/handbook/source/handbook/support/workflows/reinstating-blocked-accounts.html.md
Due: none

Add note about association
  sites/handbook/source/handbook/support/workflows/account_verification.html.md
Due: none

Wrap category in quotes
  data/release_posts/unreleased/manage-allow-group-owners-to-update-group-members-saml-and-scim-ex.yml
Due: lint release-post-items, rspec-unit

Apply style formatting for category array
  data/release_posts/unreleased/manage-allow-group-owners-to-update-group-members-saml-and-scim-ex.yml
Due: lint release-post-items, rspec-unit

Changed location to EMEA
  data/team_members/person/f/firdaus.yml
Due: rspec-unit

Update Infra handbook to explain how reliability "getting assistance issues are triaged"
  sites/handbook/source/handbook/engineering/infrastructure/index.html.md.erb
Due: none

updating October - December Product Leader Rotation Schedule
  sites/handbook/source/handbook/product/product-leadership/index.html.md.erb
Due: none

Correction: "Planing" to "Planning" Update index.html.md.erb
  sites/handbook/source/handbook/product/tiering-guidance-for-features/index.html.md.erb
Due: none
