Repository spicysoft/jp-www-gitlab-com: changes, and which GitLab CI jobs are due for each by the changed paths.
All: update-gitlab-project-releases-page, apply-redirects-prod, content-security-policy-checker, lint release-post-items, rubocop, check-handbook-edit-links, rspec-unit

Path conditions:
  update-gitlab-project-releases-page: any of: sites/uncategorized/source/releases/posts/*-released.html.md
  apply-redirects-prod: any of: data/redirects.yml, bin/apply-exact-match-redirects, bin/apply-regex-redirects
  content-security-policy-checker: any of: source/includes/layout/head.html.haml
  lint release-post-items: any of: data/release_posts/unreleased/*, data/categories.yml, data/stages.yml, source/images/unreleased/*
  rubocop: any of: *.rb, **/*.rb, .rubocop.yml, Dangerfile, *.rake, **/*.rake, bin/**/*, scripts/**/*, Rakefile
  check-handbook-edit-links: any of: data/monorepo.yml, helpers/custom_helpers.rb, **/edit_page.html.haml, **/footer.html.haml, **/handbook-page-toc.haml, **/check_handbook_edit_links.rb
  rspec-unit: any of: spec/**/*, **/*.{js,json,rb,yml}, .rspec

Fix access requests list indentation
  sites/handbook/source/handbook/engineering/security/access-management-policy.html.md
Due: none

Add missing whitespace
  sites/handbook/source/handbook/resellers/index.html.md
Due: none

Adding security guidelines to Incubation playbook
  sites/handbook/source/handbook/engineering/incubation/playbook/index.html.md.erb
Due: none

Fix typo, handbook link formatting
  sites/handbook/source/handbook/product/ux/product-design/index.html.md
Due: none

Update stage for Integrations and Foundations
  data/stages.yml
Due: lint release-post-items, rspec-unit

Adding line about this only being for prospects
  sites/handbook/source/handbook/support/priority_prospects/index.html.md
Due: none

Create Blog Posts “2022-10-05-the-top-software-developer-challenges-in-2022”
  sites/uncategorized/source/blog/blog-posts/2022-10-05-the-top-software-developer-challenges-in-2022.html.md.erb
Due: none

copy edits
  sites/uncategorized/source/blog/blog-posts/2022-10-05-the-top-software-developer-challenges-in-2022.html.md.erb
Due: none

copy edits, changed date
  sites/uncategorized/source/blog/blog-posts/2022-10-06-take-advantage-of-git-rebase.html.md.erb
Due: none

Changing to comms & engagement page
  .gitlab/CODEOWNERS
  sites/handbook/source/handbook/people-group/employment-branding/people-communications/index.html.md
Due: none

Offboarding MR for KH
  data/team_members/person/a/amandawshen.yml
  data/team_members/person/e/eelellehcimebi.yml
  data/team_members/person/k/khartline.yml
  data/team_members/person/s/sstuelp.yml
Due: rspec-unit

Geo direction update - September 2022
  source/direction/geo/disaster_recovery/index.html.md.erb
  source/direction/geo/geo_replication/index.html.md.erb
  source/direction/geo/images/geo-direction.png
  source/direction/geo/index.html.md.erb
Due: none

fixed a typo
  sites/uncategorized/source/blog/blog-posts/2022-10-05-the-top-software-developer-challenges-in-2022.html.md.erb
Due: none

Update stage: Ecosystem -> Manage
  data/categories.yml
  data/release_posts/14_1/create-deuley-datadog-integration.yml
  data/release_posts/14_1/create-ecosystem-absolute-dates.yml
  data/release_posts/14_2/admin-instancelevel-page-list-project-overrides-table.yml
  data/release_posts/14_2/create-add-current-selected-label-in-filter-tab-on-jira-issues-list.yml
  data/release_posts/14_2/create-gitlab-branch-from-jira-issue.yml
  data/release_posts/14_4/ecosystem-add-option-to-send-slack-notifications-when-a-new-vulner.yml
  data/release_posts/14_4/foundations_req_navigation.yml
  data/release_posts/14_6/foundations_lighter-icon-stroke-width.yml
  data/release_posts/15_2/ecosystem-enforce-rate-limits-on-webhook-executions-for-customers-.yml
  data/release_posts/15_4/ecosystem-autodisable-failing-webhooks.yml
  data/release_posts/15_4/ecosystem-enable-slack-app-home-feature.yml
  data/release_posts/15_4/ecosystem-google-chat-threaded-messages.yml
  data/release_posts/15_4/ecosystem-integrate-shimo-as-wiki-alternative.yml
  data/release_posts/15_4/ecosystem-nav-group-push-rules.yml
  data/release_posts/15_4/ecosystem-streamline-top-bar-menu.yml
Due: lint release-post-items, rspec-unit

Adding TeamOps release to press release page on website
  data/press_releases.yml
  sites/uncategorized/source/press/releases/2022-10-05-teamops-new-practice-for-work-environments.html.md
  source/images/opengraph/Press-Releases/teamops-press-release-image.png
Due: rspec-unit

Apply 1 suggestion(s) to 1 file(s)
  data/release_posts/unreleased/manage-allow-group-owners-to-update-group-members-saml-and-scim-ex.yml
Due: lint release-post-items, rspec-unit

Updates customer issues prioritization framework from pilot to GA
  sites/handbook/source/handbook/product/how-to-engage/index.html.md
  sites/handbook/source/handbook/product/product-processes/customer-issues-prioritization-framework/index.html.md.erb
  sites/handbook/source/handbook/product/product-processes/index.html.md.erb
Due: none

Update wording of requesting parental leave in PTO by Roots
  sites/handbook/source/handbook/total-rewards/benefits/general-and-entity-benefits/index.html.md
Due: none

Apply 1 suggestion(s) to 1 file(s)
  data/release_posts/unreleased/manage-shift-option-to-prevent-users-from-creating-groups-to-insta.yml
Due: lint release-post-items, rspec-unit

doc: Add Architecture Evolution Coach to Working Group
  sites/uncategorized/source/company/team/structure/working-groups/rate-limit-architecture/index.html.md
Due: none

doc: Add Git team to groups page and fix teams .yml files
  data/stages.yml
  data/team_members/person/a/andrashorvath.yml
  data/team_members/person/a/avar.yml
  data/team_members/person/c/christian-c.yml
  data/team_members/person/j/james-fargher.yml
  data/team_members/person/j/jcaigitlab.yml
  data/team_members/person/k/knayakgl.yml
  data/team_members/person/p/pks-t.yml
  data/team_members/person/p/pstrokov.yml
  data/team_members/person/q/quang-minh-nguyen.yml
  data/team_members/person/s/samihiltunen.yml
  data/team_members/person/t/toon-c.yml
  data/team_members/person/w/will-chandler.yml
Due: lint release-post-items, rspec-unit

Remove folds and duplicates from the eng/security page
  sites/handbook/source/handbook/engineering/security/index.html.md.erb
Due: none

Fix Ecosystem stage error
  sites/handbook/source/handbook/engineering/metrics/dev/ecosystem/index.html.md.erb
Due: none

Add gitlab-build-images maintainer info to acunskis profile
  data/team_members/person/a/acunskis.yml
Due: rspec-unit

Update my team profile for new role
  data/team_members/person/h/heathersimpson.yml
Due: rspec-unit

Adjust Soft PCL definition to allow for low-risk deployments
  sites/handbook/source/handbook/engineering/infrastructure/change-management/index.html.md
Due: none

Add list and Sisense chart showing top dashboards created by PDI team
  sites/handbook/source/handbook/product/product-analysis/dashboards-analysis-insights/index.html.md.erb
Due: none

add TeamOps landing page URL in press release
  sites/uncategorized/source/press/releases/2022-10-05-teamops-new-practice-for-work-environments.html.md
Due: none

Update links to new automated applications workflow
  sites/handbook/source/handbook/marketing/community-relations/community-programs/opensource-program/index.html.md
Due: none

Revert "Add gitlab-attr_encrypted to project list"
  data/projects.yml
  data/team_members/person/m/matthiaskaeppler.yml
  data/team_members/person/t/thong-kuah.yml
Due: rspec-unit

Update job Families - Capdevielle
  data/team_members/person/a/alexandrecapdevielle.yml
Due: rspec-unit

Project Management Direction Updates
  source/direction/plan/project_management/_last_updated.erb
  source/direction/plan/project_management/planning_analytics/_current_focus.html.md.erb
  source/direction/plan/project_management/planning_analytics/_last_updated.html.md.erb
  source/direction/plan/project_management/planning_analytics/_recent_accomplishments.html.md.erb
  source/direction/plan/project_management/team_planning/_current_focus.html.md.erb
  source/direction/plan/project_management/team_planning/_last_updated.html.md.erb
  source/direction/plan/project_management/team_planning/_recent_accomplishments.html.md.erb
Due: none

Update Maddie's role
  data/team_members/person/m/maddievn.yml
Due: rspec-unit

Update Dylan's job title to Principal Engineer
  data/team_members/person/d/dylan-g.yml
Due: rspec-unit

Update to correct a typo
  sites/handbook/source/handbook/engineering/readmes/lyle-kozloff/index.html.md
Due: none

Update teams for Integrations and Foundations
  .gitlab/issue_templates/product-development-retro.md
  data/team_members/person/a/alex-kalderimis.yml
  data/team_members/person/a/andysoiron.yml
  data/team_members/person/a/arturo-herrero.yml
  data/team_members/person/a/ashrafkhamis.yml
  data/team_members/person/a/austinregnery.yml
  data/team_members/person/b/bmarjanovic.yml
  data/team_members/person/c/christendybenko.yml
  data/team_members/person/g/g.hickman.yml
  data/team_members/person/j/jayjoshua.yml
  data/team_members/person/j/jeremy-e.yml
  data/team_members/person/j/justinho.yml
  data/team_members/person/k/kpaizee.yml
  data/team_members/person/l/leipert.yml
  data/team_members/person/l/liborvanc.yml
  data/team_members/person/l/luke-duncalfe.yml
  data/team_members/person/m/mark-florian.yml
  data/team_members/person/m/mike-greiling.yml
  data/team_members/person/o/olenahoralkoretska.yml
  data/team_members/person/p/paul-gascou-vaillancourt.yml
  data/team_members/person/r/russelldickenson.yml
  data/team_members/person/s/seggenberger.yml
  data/team_members/person/s/sgregory2.yml
  data/team_members/person/t/thutterer.yml
  sites/handbook/source/handbook/engineering/development/dev/ecosystem/index.html.md.erb
  sites/handbook/source/handbook/engineering/development/dev/ecosystem/integrations/_monitoring.erb
  sites/handbook/source/handbook/engineering/development/dev/ecosystem/integrations/index.html.md.erb
  sites/handbook/source/handbook/engineering/development/dev/index.html.md.erb
  sites/handbook/source/handbook/engineering/index.html.md.erb
  sites/handbook/source/handbook/product/cross-stage-features/index.html.md.erb
  sites/uncategorized/source/company/team/structure/working-groups/api-vision/index.html.md
  sites/uncategorized/source/company/team/structure/working-groups/webpack/index.html.md
  source/direction/dev/template.html.md.erb
  source/direction/ecosystem/integrations/index.html.md
  source/direction/manage/importers/templates/_overview.erb
Due: rspec-unit

Update job families file
  data/people_group/job_families.yml
Due: rspec-unit

Reorganization of director shadow program content
  sites/handbook/source/handbook/engineering/development/shadow/director-shadow-program.html.md
Due: none
