Repository spicysoft/jp-www-gitlab-com: changes, and which GitLab CI jobs are due for each by the changed paths.
All: update-gitlab-project-releases-page, apply-redirects-prod, content-security-policy-checker, lint release-post-items, rubocop, check-handbook-edit-links, rspec-unit

Path conditions:
  update-gitlab-project-releases-page: any of: sites/uncategorized/source/releases/posts/*-released.html.md
  apply-redirects-prod: any of: data/redirects.yml, bin/apply-exact-match-redirects, bin/apply-regex-redirects
  content-security-policy-checker: any of: source/includes/layout/head.html.haml
  lint release-post-items: any of: data/release_posts/unreleased/*, data/categories.yml, data/stages.yml, source/images/unreleased/*
  rubocop: any of: *.rb, **/*.rb, .rubocop.yml, Dangerfile, *.rake, **/*.rake, bin/**/*, scripts/**/*, Rakefile
  check-handbook-edit-links: any of: data/monorepo.yml, helpers/custom_helpers.rb, **/edit_page.html.haml, **/footer.html.haml, **/handbook-page-toc.haml, **/check_handbook_edit_links.rb
  rspec-unit: any of: spec/**/*, **/*.{js,json,rb,yml}, .rspec

Correct job title for Intermediate Sales Commissions Analyst.
  sites/uncategorized/source/job-families/sales/sales-commissions/index.html.md
Due: none

Clarify Observability Mission & Vision
  source/direction/monitor/observability/index.html.md
Due: none

gift update
  sites/handbook/source/handbook/people-group/celebrations/index.html.md
Due: none

Leading Organizations Handbook page
  sites/handbook/source/handbook/marketing/community-relations/leading-organizations/index.html.md
Due: none

Testing Correct Image Formatting to prevent Centering
  sites/handbook/source/handbook/resellers/services/index.html.md
  sites/handbook/source/handbook/sales/channel/channel-programs-ops/index.html.md
Due: none

Update direction pages
  source/direction/govern/security_policies/security_policy_management/index.html.md
  source/direction/secure/composition-analysis/container-scanning/index.html.md
  source/direction/secure/composition-analysis/dependency-scanning/index.html.md
  source/direction/secure/composition-analysis/license-compliance/index.html.md
  source/direction/supply-chain/index.html.md.erb
Due: none

Fixing typo
  sites/handbook/source/handbook/people-group/celebrations/index.html.md
Due: none

Add link to board meetings from the /board-of-directors page
  sites/uncategorized/source/company/team/board-of-directors/index.html.md.erb
Due: none

Revert "Merge branch 'stingrayza-handbook-block-html-parsing' into 'master'"
  sites/handbook/config.rb
  sites/handbook/source/handbook/business-technology/data-team/data-catalog/xmau-analysis/estimation-xmau-algorithm.html.md.erb
  sites/handbook/source/handbook/business-technology/data-team/how-we-work/triage/index.html.md
  sites/handbook/source/handbook/business-technology/team-member-enablement/onboarding101/index.html.md
  sites/handbook/source/handbook/communication/top-misused-terms/index.html.md.erb
  sites/handbook/source/handbook/customer-success/solutions-architects/demonstrations/index.html.md
  sites/handbook/source/handbook/engineering/development/dev/manage/index.html.md.erb
  sites/handbook/source/handbook/engineering/metrics/partials/_child_dashboard.erb
  sites/handbook/source/handbook/engineering/metrics/partials/_team_dashboard.erb
  sites/handbook/source/handbook/engineering/security/security-assurance/security-compliance/control-health-effectiveness-rating.html.md
  sites/handbook/source/handbook/engineering/security/security-assurance/security-compliance/sec-controls.html.md
  sites/handbook/source/handbook/engineering/security/security-assurance/security-risk/storm-program/storm-methodology.html.md
  sites/handbook/source/handbook/engineering/security/security-assurance/zg-activities.html.md
  sites/handbook/source/handbook/engineering/workflow/code-review/index.html.md.erb
  sites/handbook/source/handbook/leadership/coaching/index.html.md
  sites/handbook/source/handbook/leadership/emotional-intelligence/social-styles/index.html.md
  sites/handbook/source/handbook/marketing/community-relations/code-contributor-program/core-team/index.html.md
  sites/handbook/source/handbook/marketing/corporate-marketing/social-marketing/index.html.md
  sites/handbook/source/handbook/marketing/corporate-marketing/social-marketing/team-member-social-advocacy/index.html.md
  sites/handbook/source/handbook/marketing/demand-generation/campaigns/content-in-campaigns/index.html.md
  sites/handbook/source/handbook/marketing/digital-experience/index.html.md
  sites/handbook/source/handbook/marketing/digital-experience/website/index.html.md
  sites/handbook/source/handbook/marketing/field-marketing/index.html.md
  sites/handbook/source/handbook/marketing/index.html.md
  sites/handbook/source/handbook/marketing/lifecycle-marketing/emails-nurture/index.html.md
  sites/handbook/source/handbook/marketing/virtual-events/external-virtual-events/index.html.md
  sites/handbook/source/handbook/marketing/virtual-events/webcasts/index.html.md
  sites/handbook/source/handbook/people-group/people-compliance/index.html.md
  sites/handbook/source/handbook/product/product-analysis/crash-course/index.html.md
  sites/handbook/source/handbook/product/product-analysis/growth-data-guide/index.html.md
  sites/handbook/source/handbook/product/product-analysis/index.html.md
  sites/handbook/source/handbook/product/product-analysis/team-processes/index.html.md
  sites/handbook/source/handbook/support/license-and-renewals/workflows/saas/ci_minutes.html.md
  sites/handbook/source/handbook/support/support-ops/training/zd_sfdc_sync.html.md
  sites/handbook/source/handbook/support/support-ops/workflows/provisioning_deprovisioning.html.md
  sites/handbook/source/handbook/support/workflows/test_env.html.md
  sites/handbook/source/handbook/total-rewards/benefits/general-and-entity-benefits/bv-benefits-finland/index.html.md
  sites/handbook/source/handbook/total-rewards/benefits/general-and-entity-benefits/canada-corp-benefits/index.html.md
  sites/handbook/source/handbook/total-rewards/benefits/general-and-entity-benefits/pty-benefits-australia/index.html.md
Due: rubocop, rspec-unit

Adding Security Rep to the WG
  sites/uncategorized/source/company/team/structure/working-groups/gitlab-com-saas-data-pipeline/index.html.md
Due: none

Move Education-Program to new Community-Programs folder
  .gitlab/CODEOWNERS
  data/redirects.yml
  sites/handbook/source/handbook/marketing/blog/index.html.md
  sites/handbook/source/handbook/marketing/community-relations/community-pathway/index.html.md
  sites/handbook/source/handbook/marketing/community-relations/community-programs/community-program-applications/email-and-zendesk-macros/index.html.md
  sites/handbook/source/handbook/marketing/community-relations/community-programs/community-program-applications/index.html.md
  sites/handbook/source/handbook/marketing/community-relations/community-programs/education-program/education-conferences/index.html.md
  sites/handbook/source/handbook/marketing/community-relations/community-programs/education-program/education-evangelism/index.html.md
  sites/handbook/source/handbook/marketing/community-relations/community-programs/education-program/education-evangelism/social-media/index.html.md
  sites/handbook/source/handbook/marketing/community-relations/community-programs/education-program/education-evangelism/twitch/index.html.md
  sites/handbook/source/handbook/marketing/community-relations/community-programs/education-program/index.html.md
  sites/handbook/source/handbook/marketing/community-relations/community-programs/index.html.md.erb
  sites/handbook/source/handbook/marketing/community-relations/index.html.md.erb
  sites/handbook/source/handbook/marketing/community-relations/non-profit-program/index.html.md
  sites/handbook/source/handbook/marketing/index.html.md
  sites/handbook/source/handbook/marketing/revenue-marketing/sdr/index.html.md
  sites/handbook/source/handbook/product/packaging-and-pricing/gitlab-for-campuses/index.html.md
  sites/handbook/source/handbook/sales/insidesales/index.html.md
  sites/uncategorized/source/blog/blog-posts/2020-04-28-gitlab-education-virtual-meetup.html.md.erb
  sites/uncategorized/source/blog/blog-posts/2020-07-10-administering-gitlab-edu.html.md.erb
  sites/uncategorized/source/blog/blog-posts/2021-03-30-gitlab-education-solutions.html.md.erb
  sites/uncategorized/source/job-families/marketing/community-programs/index.html.md
Due: apply-redirects-prod, rspec-unit

Adding 2022-10-03 FOPS Release to Changelog
  sites/handbook/source/handbook/sales/field-operations/changelog/index.html.md
Due: none

Add UX Scorecards to Fulfillment Guide
  sites/handbook/source/handbook/product/fulfillment-guide/index.html.md
Due: none

Sync Group Conversation with Calendar - Finance & Development swapped dates in October.
  sites/handbook/source/handbook/group-conversations/index.html.md
Due: none

Correct SFDC field names
  sites/handbook/source/handbook/customer-success/product-usage-data/using-gainsight-data-in-sfdc/index.html.md
Due: none

Release Stage Direction Updates : September
  source/direction/release/environment_management/index.html.md.erb
  source/direction/release/release_orchestration/index.html.md
  source/direction/release/template.html.md.erb
Due: none

update digital hb page
  sites/handbook/source/handbook/marketing/demand-generation/digital-marketing/agency/index.html.md
  sites/handbook/source/handbook/marketing/demand-generation/digital-marketing/digital-marketing-management/index.html.md
  sites/handbook/source/handbook/marketing/events/index.html.md
Due: none

Offboard team member - 2022-10-01
  .gitlab/CODEOWNERS
  data/team_members/person/b/bartekmarnane.yml
  data/team_members/person/c/christopher-l.yml
  data/team_members/person/j/johnathan-h.yml
  data/team_members/person/m/mek.yml
  data/team_members/person/s/steveloyd.yml
  data/team_members/person/t/tom-cooney.yml
Due: rspec-unit

Updates to Analytics and Insights job family
  sites/uncategorized/source/job-families/finance/analytics-and-insights/index.html.md
Due: none

Update FAQ to better convey enforcement timeline
  sites/uncategorized/source/pricing/faq-efficient-free-tier/index.html.md
  sites/uncategorized/source/pricing/faq-paid-storage-transfer/index.html.md
Due: none

Adds a sentence separating manager action steps for `after merging` from actions steps when `a trainee is not ready to become a maintainer`
  sites/handbook/source/handbook/engineering/workflow/code-review/index.html.md.erb
Due: none

Updating MI Page Processes
  sites/handbook/source/handbook/marketing/strategic-marketing/market-insights/index.html.md
Due: none

Add AED
  data/currency_conversions.yml
Due: rspec-unit

Pipeline Insights - Direction Updates (Sept)
  source/direction/verify/build_artifacts/index.html.md
  source/direction/verify/code_testing/index.html.md
  source/direction/verify/review_apps/index.html.md
Due: none

Add Secure & Govern GMP specialties
  sites/uncategorized/source/job-families/product/product-management-leadership/index.html.md
Due: none

End Continuous Scanning working group
  sites/uncategorized/source/company/team/structure/working-groups/continuous-scanning/index.html.md
  sites/uncategorized/source/company/team/structure/working-groups/index.html.md
Due: none

Update Corporate Development Director's scope
  sites/uncategorized/source/job-families/legal-and-corporate-affairs/corporate-development/index.html.md
Due: none

Update PA maturity date
  data/categories.yml
Due: lint release-post-items, rspec-unit

(Dev Reorg 2022) Updated product handbook with Optimize moving from Manage to Plan
  data/stages.yml
Due: lint release-post-items, rspec-unit

Update default insights config file to include DORA
  data/release_posts/unreleased/plan-update-default-insights-config-file-to-include-dora.yml
Due: lint release-post-items, rspec-unit

Add link for CAP collateral request
  sites/handbook/source/handbook/engineering/security/security-assurance/field-security/customer-assurance-package.html.md
Due: none

Clarified PO's will not be approved before procurement negotiates based on spend threshold
  sites/handbook/source/handbook/finance/procurement/index.html.md
Due: none

Init release post for 15.5
  data/release_posts/15_5/mvp.yml
  sites/uncategorized/source/releases/posts/2022-10-22-gitlab-15-5-released.html.md
  source/images/15_5/.gitkeep
Due: update-gitlab-project-releases-page, rspec-unit

Add bugs.yml
  data/release_posts/unreleased/bugs.yml
Due: lint release-post-items, rspec-unit

Add usability_improvements.yml
  data/release_posts/unreleased/usability_improvements.yml
Due: lint release-post-items, rspec-unit

Add performance_improvements.yml
  data/release_posts/unreleased/performance_improvements.yml
Due: lint release-post-items, rspec-unit

Update Top XFN Initiative Criteria
  sites/uncategorized/source/company/team/structure/working-groups/index.html.md
Due: none

Updated the feedback request link and button text
  sites/handbook/source/handbook/engineering/security/security-assurance/field-security/customer-security-assessment-process.html.md
Due: none

Remove duplicate content
  sites/uncategorized/source/company/culture/inclusion/identity-data/index.html.md
Due: none
