Repository spicysoft/jp-www-gitlab-com: changes, and which GitLab CI jobs are due for each by the changed paths.
All: update-gitlab-project-releases-page, apply-redirects-prod, content-security-policy-checker, lint release-post-items, rubocop, check-handbook-edit-links, rspec-unit

update-gitlab-project-releases-page:
  cache:
    key: web_ruby-3.0-bullseye
    policy: pull
    paths:
    - vendor
    - node_modules
  before_script:
  - bundle config set path vendor
  - bundle install --quiet --jobs 4
  - yarn install
  stage: content-generation
  needs: []
  script:
  - bundle exec rake release:ee:update_project_releases_page
  ...

apply-redirects-prod:
  cache:
    key: web_ruby-3.0-bullseye
    policy: pull
    paths:
    - vendor
    - node_modules
  before_script:
  - bundle config set path vendor
  - bundle install --quiet --jobs 4
  - yarn install
  stage: build-and-deploy
  environment:
    name: production
  script:
  - export FASTLY_SRV_ID=$FASTLY_SRV_ID_PROD
  ...

content-security-policy-checker:
  image: debian:stable-slim
  stage: test
  needs: []
  script:
  ...

lint release-post-items:
  cache:
    key: web_ruby-3.0-bullseye
    policy: pull
    paths:
    - vendor
    - node_modules
  before_script:
  - bundle config set path vendor
  - bundle install --quiet --jobs 4
  - yarn install
  stage: test
  needs: []
  script:
  - bundle exec bin/validate-release-post-item

rubocop:
  cache:
    key: web_ruby-3.0-bullseye
    policy: pull
    paths:
    - vendor
    - node_modules
  before_script:
  - bundle config set path vendor
  - bundle install --quiet --jobs 4
  - yarn install
  stage: test
  needs: []
  script:
  - bundle exec rubocop

check-handbook-edit-links:
  cache:
    key: web_ruby-3.0-bullseye
    policy: pull
    paths:
    - vendor
    - node_modules
  before_script:
  - bundle config set path vendor
  - bundle install --quiet --jobs 4
  - yarn install
  stage: test
  needs:
  - handbook-build-and-review-deploy
  script:
  - scripts/check-handbook-edit-links.rb

rspec-unit:
  cache:
    key: web_ruby-3.0-bullseye
    policy: pull
    paths:
    - vendor
    - node_modules
  before_script:
  - bundle config set path vendor
  - bundle install --quiet --jobs 4
  - yarn install
  stage: test
  needs: []
  script:
  - bundle exec rspec --tag ~@feature

Move feature post
  data/release_posts/15_5/plan-add-labels-to-a-task.yml
Due: rspec-unit

Revise the Cloud Seed links
  data/release_posts/15_5/incubation-deploy-apps-to-google-cloud-cloud-seed.yml
Due: rspec-unit

Apply 1 suggestion(s) to 1 file(s)
  data/release_posts/15_5/incubation-deploy-apps-to-google-cloud-cloud-seed.yml
Due: rspec-unit

Apply 1 suggestion(s) to 1 file(s)
  data/release_posts/15_5/observability-error-tracking.yml
Due: rspec-unit

Update mvp.yml
  data/release_posts/15_5/mvp.yml
Due: rspec-unit

Add links to Cloud Seed announcement
  data/release_posts/15_5/incubation-deploy-apps-to-google-cloud-cloud-seed.yml
Due: rspec-unit

Update Infrastructure PIs based on discussion outcomes from Q3 FY23 Engineering Leadership Offsite
  data/performance_indicators/infrastructure_department.yml
Due: rspec-unit

Update social description and image URL in 15.5 release post
  sites/uncategorized/source/releases/posts/2022-10-22-gitlab-15-5-released.html.md
Due: update-gitlab-project-releases-page

Remove the link to 15.5 Runner CHANGELOG
  data/release_posts/15_5/verify-runner-recurring-15-5.yml
Due: rspec-unit

PMM Updates to 15.5 Release Post
  sites/uncategorized/source/releases/posts/2022-10-22-gitlab-15-5-released.html.md
Due: update-gitlab-project-releases-page

Adding more information about myself to the team page.
  data/team_members/person/g/glong3.yml
  data/team_members/person/g/greg-long.yml
  sites/uncategorized/source/images/team/greglong.png
Due: rspec-unit

Optimize category dates review for October - update VSM complete maturity date
  data/categories.yml
Due: lint release-post-items, rspec-unit

Move devops-reports category to Plan
  .gitlab/CODEOWNERS
  data/categories.yml
  source/direction/plan/devops-reports/index.html.md.erb
  source/direction/plan/devops-reports/templates/_next.erb
  source/direction/plan/devops-reports/templates/_overview.erb
Due: lint release-post-items, rspec-unit

Move DORA Metrics Category to Plan
  source/direction/plan/dora_metrics/index.html.md.erb
  source/direction/plan/dora_metrics/templates/_next.erb
  source/direction/plan/dora_metrics/templates/_overview.erb
Due: none

Add link to Runner 15.5 changelog.md
  data/release_posts/15_5/verify-runner-recurring-15-5.yml
Due: rspec-unit

Updated Incubation Eng. Server Runtime page with overview and weekly demos
  sites/handbook/source/handbook/engineering/incubation/server-runtime/index.html.md
Due: none

Add reset max seats after refund QSR
  sites/handbook/source/handbook/support/license-and-renewals/workflows/quarterly_subscription_reconciliations.html.md
Due: none

SA Offsite Page
  sites/handbook/source/handbook/customer-success/solutions-architects/sa-manager/sa-offsites/index.html.md
Due: none

Updated Rob's title and LI
  data/team_members/person/r/rhueston.yml
Due: rspec-unit

Update Zane's team member profile
  data/team_members/person/z/zchua-gtlb.yml
Due: rspec-unit

Update GitLab username for Nicole Herves
  data/team_members/person/n/nicolegalang.yml
Due: rspec-unit

Add Matt Kasa to database maintainers
  data/team_members/person/m/mattkasa.yml
Due: rspec-unit

Geo product highlights october 2022
  source/direction/enablement/template.html.md.erb
Due: none

Plan:Optimize Direction Updates - October
  source/direction/plan/dora_metrics/index.html.md.erb
  source/direction/plan/dora_metrics/templates/_next.erb
  source/direction/plan/dora_metrics/templates/_overview.erb
  source/direction/plan/value_stream_management/index.html.md.erb
  source/direction/plan/value_stream_management/templates/_next.erb
  source/direction/plan/value_stream_management/templates/_overview.erb
Due: none

Update GitLab CLI reviewers
  data/team_members/person/a/ahmed.hemdan.yml
  data/team_members/person/a/albert-salim.yml
  data/team_members/person/a/allisonbrowne.yml
  data/team_members/person/b/brendan-o.yml
  data/team_members/person/e/ezekiel-k.yml
  data/team_members/person/h/huzaifaiftikhar1.yml
  data/team_members/person/j/jamesliu-gitlab.yml
  data/team_members/person/j/jcrown_gitlab.yml
  data/team_members/person/k/kerri-miller.yml
  data/team_members/person/l/lmeckley.yml
  data/team_members/person/m/michael-friedrich.yml
Due: rspec-unit

Removing Russia from this table
  sites/handbook/source/handbook/people-group/employment-solutions/index.html.md.erb
Due: none

Make Eugie Limpin BE trainee_maintainer of gitlab
  data/team_members/person/e/elimpin.yml
Due: rspec-unit

Sync specialty to team page - 2022-10-24
  data/team_members/person/m/marcinsedlakjakubowski.yml
  data/team_members/person/p/phillipwells.yml
Due: rspec-unit

Update security-report-schemas maintainer format
  data/team_members/person/b/bwill.yml
  data/team_members/person/c/cswords.yml
  data/team_members/person/g/ghavenga.yml
  data/team_members/person/i/igorfrenkel.yml
  data/team_members/person/j/jonathanschafer.yml
  data/team_members/person/m/mehmet-inac.yml
  data/team_members/person/m/michal-zajac.yml
  data/team_members/person/s/subashischakraborty.yml
Due: rspec-unit

Create Blog Posts “2022-10-24-why-the-market-is-moving-to-a-platform-approach-to-devsecops”
  sites/uncategorized/source/blog/blog-posts/2022-10-24-why-the-market-is-moving-to-a-platform-approach-to-devsecops.html.md.erb
Due: none

edits
  sites/uncategorized/source/blog/blog-posts/2022-10-24-why-the-market-is-moving-to-a-platform-approach-to-devsecops.html.md.erb
Due: none

Update feature-flag-training.md to be more accurate and readable.
  .gitlab/issue_templates/feature-flag-training.md
Due: none

frontmatter fix
  sites/uncategorized/source/blog/blog-posts/2022-10-24-why-the-market-is-moving-to-a-platform-approach-to-devsecops.html.md.erb
Due: none

specify quote responsibility
  sites/handbook/source/handbook/resellers/partner-support/index.html.md
Due: none

Add portal setup instructions and screenshot
  sites/handbook/source/handbook/resellers/partner-support/index.html.md
  sites/handbook/source/handbook/resellers/partner-support/source/images/PHD_HB_Request_Portal_Access.png
Due: none

Add delivery group's domain ownership to handbook
  sites/handbook/source/handbook/engineering/infrastructure/team/delivery/img/Delivery-domain.png
  sites/handbook/source/handbook/engineering/infrastructure/team/delivery/index.html.md.erb
Due: none

copy edits
  sites/uncategorized/source/blog/blog-posts/2022-10-24-why-the-market-is-moving-to-a-platform-approach-to-devsecops.html.md.erb
Due: none

Grammatical fix
  sites/handbook/source/handbook/people-group/celebrations/index.html.md
Due: none

Adding Customer Feedback to table
  sites/handbook/source/handbook/support/support-ops/documentation/gl-support-bot-tokens.html.md
Due: none

Path conditions:
  update-gitlab-project-releases-page: any of: sites/uncategorized/source/releases/posts/*-released.html.md
  apply-redirects-prod: any of: data/redirects.yml, bin/apply-exact-match-redirects, bin/apply-regex-redirects
  content-security-policy-checker: any of: source/includes/layout/head.html.haml
  lint release-post-items: any of: data/release_posts/unreleased/*, data/categories.yml, data/stages.yml, source/images/unreleased/*
  rubocop: any of: *.rb, **/*.rb, .rubocop.yml, Dangerfile, *.rake, **/*.rake, bin/**/*, scripts/**/*, Rakefile
  check-handbook-edit-links: any of: data/monorepo.yml, helpers/custom_helpers.rb, **/edit_page.html.haml, **/footer.html.haml, **/handbook-page-toc.haml, **/check_handbook_edit_links.rb
  rspec-unit: any of: spec/**/*, **/*.{js,json,rb,yml}, .rspec
