Repository spicysoft/jp-www-gitlab-com: changes, and which GitLab CI jobs are due for each by the changed paths.
All: update-gitlab-project-releases-page, apply-redirects-prod, content-security-policy-checker, lint release-post-items, rubocop, check-handbook-edit-links, rspec-unit

update-gitlab-project-releases-page:
  cache:
    key: web_ruby-3.0-bullseye
    policy: pull
    paths:
    - vendor
    - node_modules
  before_script:
  - bundle config set path vendor
  - bundle install --quiet --jobs 4
  - yarn install
  stage: content-generation
  needs: []
  script:
  - bundle exec rake release:ee:update_project_releases_page
  ...

apply-redirects-prod:
  cache:
    key: web_ruby-3.0-bullseye
    policy: pull
    paths:
    - vendor
    - node_modules
  before_script:
  - bundle config set path vendor
  - bundle install --quiet --jobs 4
  - yarn install
  stage: build-and-deploy
  environment:
    name: production
  script:
  - export FASTLY_SRV_ID=$FASTLY_SRV_ID_PROD
  ...

content-security-policy-checker:
  image: debian:stable-slim
  stage: test
  needs: []
  script:
  ...

lint release-post-items:
  cache:
    key: web_ruby-3.0-bullseye
    policy: pull
    paths:
    - vendor
    - node_modules
  before_script:
  - bundle config set path vendor
  - bundle install --quiet --jobs 4
  - yarn install
  stage: test
  needs: []
  script:
  - bundle exec bin/validate-release-post-item

rubocop:
  cache:
    key: web_ruby-3.0-bullseye
    policy: pull
    paths:
    - vendor
    - node_modules
  before_script:
  - bundle config set path vendor
  - bundle install --quiet --jobs 4
  - yarn install
  stage: test
  needs: []
  script:
  - bundle exec rubocop

check-handbook-edit-links:
  cache:
    key: web_ruby-3.0-bullseye
    policy: pull
    paths:
    - vendor
    - node_modules
  before_script:
  - bundle config set path vendor
  - bundle install --quiet --jobs 4
  - yarn install
  stage: test
  needs:
  - handbook-build-and-review-deploy
  script:
  - scripts/check-handbook-edit-links.rb

rspec-unit:
  cache:
    key: web_ruby-3.0-bullseye
    policy: pull
    paths:
    - vendor
    - node_modules
  before_script:
  - bundle config set path vendor
  - bundle install --quiet --jobs 4
  - yarn install
  stage: test
  needs: []
  script:
  - bundle exec rspec --tag ~@feature

Update job families file
  data/people_group/job_families.yml
Due: rspec-unit

format change
  sites/handbook/source/handbook/business-technology/pmo/index.html.md
Due: none

Additional tweaks to the plan to WIP process
  sites/handbook/source/handbook/marketing/field-marketing/index.html.md
Due: none

Exec sponsor of Generational Understanding - TBC
  sites/uncategorized/source/company/culture/inclusion/erg-guide/index.html.md
Due: none

Update my team member entry
  data/team_members/person/j/jgaughan.yml
  sites/uncategorized/source/images/team/johngaughan.jpg
Due: rspec-unit

Normalizing Heading Capitalisation on Growth Handbook Pages
  sites/handbook/source/handbook/engineering/development/growth/acquisition/index.html.md.erb
  sites/handbook/source/handbook/engineering/development/growth/activation/index.html.md.erb
  sites/handbook/source/handbook/engineering/development/growth/index.html.md.erb
Due: none

Remove unnecessary apostrophes
  sites/handbook/source/handbook/people-group/general-onboarding/onboarding-feedback/index.html.md
Due: none

Update and link to relevant CSM pages
  sites/handbook/source/handbook/customer-success/comm-sales/index.html.md
Due: none

Added-IT-GC-calendar
  sites/handbook/source/handbook/group-conversations/index.html.md
Due: none

Release Post MR template edits
  .gitlab/merge_request_templates/Release-Post.md
Due: none

Remove broken hyperlink
  data/solution_children/join.yml
Due: rspec-unit

fix typo
  sites/uncategorized/source/blog/blog-posts/2022-11-01-how-to-automate-testing-for-a-react-application-with-gitlab.html.md.erb
Due: none

add DI information
  sites/handbook/source/handbook/people-group/offboarding/faq.html.md
Due: none

Revert "Merge branch 'update-integrations-categories' into 'master'"
  data/categories.yml
  data/stages.yml
  sites/handbook/source/handbook/product/categories/index.html.md.erb
Due: lint release-post-items, rspec-unit

Holiday Budget guidance
  sites/handbook/source/handbook/finance/expenses/index.html.md
Due: none

Get together grant update for 4Q
  sites/handbook/source/handbook/incentives/index.html.md
Due: none

Update...Added Overall Recommendations Section
  sites/handbook/source/handbook/marketing/strategic-marketing/roles-personas/buyer-persona/index.html.md
Due: none

Further clarification
  sites/handbook/source/handbook/business-technology/pmo/index.html.md
Due: none

Getting rid of details block
  sites/handbook/source/handbook/support/support-ops/documentation/zendesk_global_tags.html.md
Due: none

Revise handbook section on program metrics
  sites/handbook/source/handbook/marketing/community-relations/community-programs/opensource-program/index.html.md
Due: none

Standardize CSM department for all CSMs
  data/team_members/person/a/alejandromichell.yml
  data/team_members/person/a/arhampton.yml
  data/team_members/person/b/billydowning.yml
  data/team_members/person/c/christiaanconover.yml
  data/team_members/person/d/dthompson3.yml
  data/team_members/person/d/dturner.yml
  data/team_members/person/f/fsieverding.yml
  data/team_members/person/g/gmarino-gitlab.yml
  data/team_members/person/j/jess_perry.yml
  data/team_members/person/j/jesswang_gitlab.yml
  data/team_members/person/j/jgreen11.yml
  data/team_members/person/j/jmonyhan.yml
  data/team_members/person/k/klaraagitlab.yml
  data/team_members/person/l/lhan.yml
  data/team_members/person/l/lstahlman.yml
  data/team_members/person/m/mdhakolia.yml
  data/team_members/person/n/nwilson-gitlab.yml
  data/team_members/person/p/pcorpus.yml
  data/team_members/person/r/ryancoffin.yml
  data/team_members/person/s/salvarez.yml
  data/team_members/person/t/tamdir-sherrod-p.yml
  data/team_members/person/t/tammgr-michael-le.yml
  data/team_members/person/t/tiffanymcatee.gitlab.yml
  data/team_members/person/t/tstacks.yml
  data/team_members/person/z/zchua-gtlb.yml
Due: rspec-unit

Adds deprecations that were added in 15.1+ to the Breaking Changes RSS
  sites/uncategorized/source/breaking-changes.xml
Due: none

Update Engineering Analytics Handbook page: refresh of mission, vision, areas of focus for team
  sites/handbook/source/handbook/engineering/quality/engineering-analytics/index.html.md.erb
Due: none

Update Backend maintainer template to clarify that it's a Slack channel, not group
  .gitlab/merge_request_templates/Backend maintainer.md
Due: none

Add entry for the summary of outdated runner metric feature
  data/features.yml
Due: rspec-unit

Update Pre planning to be async
  sites/handbook/source/handbook/engineering/development/sec/govern/compliance/_pre_planning.erb
Due: none

Doc: Clarify email and user count fields for licenses
  sites/handbook/source/handbook/support/license-and-renewals/workflows/customersdot/mechanizer.html.md
Due: none

Updating DPA for Terms Page
  sites/handbook/source/handbook/legal/data-processing-agreement/index.html.md
Due: none

Fixed button size and image link
  sites/handbook/source/handbook/sales/field-operations/customer-success-operations/index.html.md
Due: none

add redirects from ux-research-training to ux-research
  data/redirects.yml
Due: apply-redirects-prod, rspec-unit

Update & Add quick links
  sites/handbook/source/handbook/resellers/partner-help-desk/index.html.md
Due: none

Update and add helpful URLs
  sites/handbook/source/handbook/resellers/partner-support/index.html.md
Due: none

Anti-abuse: Update refinement and iteration areas
  sites/handbook/source/handbook/engineering/development/data-science/anti-abuse/index.html.md.erb
Due: none

Update calibration outliers
  sites/handbook/source/handbook/product/product-processes/index.html.md.erb
Due: none

Update project roles and pic for jon_jenkins
  data/team_members/person/j/jon_jenkins.yml
  sites/uncategorized/source/images/team/jjenkins.jpg
Due: rspec-unit

Update @dennis specialty to Analytics
  data/team_members/person/d/dennis.yml
Due: rspec-unit

Add workshop deck to handbook page
  sites/handbook/source/handbook/marketing/community-relations/leading-organizations/index.html.md
Due: none

Path conditions:
  update-gitlab-project-releases-page: any of: sites/uncategorized/source/releases/posts/*-released.html.md
  apply-redirects-prod: any of: data/redirects.yml, bin/apply-exact-match-redirects, bin/apply-regex-redirects
  content-security-policy-checker: any of: source/includes/layout/head.html.haml
  lint release-post-items: any of: data/release_posts/unreleased/*, data/categories.yml, data/stages.yml, source/images/unreleased/*
  rubocop: any of: *.rb, **/*.rb, .rubocop.yml, Dangerfile, *.rake, **/*.rake, bin/**/*, scripts/**/*, Rakefile
  check-handbook-edit-links: any of: data/monorepo.yml, helpers/custom_helpers.rb, **/edit_page.html.haml, **/footer.html.haml, **/handbook-page-toc.haml, **/check_handbook_edit_links.rb
  rspec-unit: any of: spec/**/*, **/*.{js,json,rb,yml}, .rspec
