Repository spicysoft/jp-www-gitlab-com: changes, and which GitLab CI jobs are due for each by the changed paths.
All: update-gitlab-project-releases-page, apply-redirects-prod, content-security-policy-checker, lint release-post-items, rubocop, check-handbook-edit-links, rspec-unit

update-gitlab-project-releases-page:
  cache:
    key: web_ruby-3.0-bullseye
    policy: pull
    paths:
    - vendor
    - node_modules
  before_script:
  - bundle config set path vendor
  - bundle install --quiet --jobs 4
  - yarn install
  stage: content-generation
  needs: []
  script:
  - bundle exec rake release:ee:update_project_releases_page
  ...

apply-redirects-prod:
  cache:
    key: web_ruby-3.0-bullseye
    policy: pull
    paths:
    - vendor
    - node_modules
  before_script:
  - bundle config set path vendor
  - bundle install --quiet --jobs 4
  - yarn install
  stage: build-and-deploy
  environment:
    name: production
  script:
  - export FASTLY_SRV_ID=$FASTLY_SRV_ID_PROD
  ...

content-security-policy-checker:
  image: debian:stable-slim
  stage: test
  needs: []
  script:
  ...

lint release-post-items:
  cache:
    key: web_ruby-3.0-bullseye
    policy: pull
    paths:
    - vendor
    - node_modules
  before_script:
  - bundle config set path vendor
  - bundle install --quiet --jobs 4
  - yarn install
  stage: test
  needs: []
  script:
  - bundle exec bin/validate-release-post-item

rubocop:
  cache:
    key: web_ruby-3.0-bullseye
    policy: pull
    paths:
    - vendor
    - node_modules
  before_script:
  - bundle config set path vendor
  - bundle install --quiet --jobs 4
  - yarn install
  stage: test
  needs: []
  script:
  - bundle exec rubocop

check-handbook-edit-links:
  cache:
    key: web_ruby-3.0-bullseye
    policy: pull
    paths:
    - vendor
    - node_modules
  before_script:
  - bundle config set path vendor
  - bundle install --quiet --jobs 4
  - yarn install
  stage: test
  needs:
  - handbook-build-and-review-deploy
  script:
  - scripts/check-handbook-edit-links.rb

rspec-unit:
  cache:
    key: web_ruby-3.0-bullseye
    policy: pull
    paths:
    - vendor
    - node_modules
  before_script:
  - bundle config set path vendor
  - bundle install --quiet --jobs 4
  - yarn install
  stage: test
  needs: []
  script:
  - bundle exec rspec --tag ~@feature

Adding new best workplaces awards
  sites/handbook/source/handbook/people-group/employment-branding/content-library/index.html.md
Due: none

Resolve "Follow-up from "Add a UX process section and clarify UX process details""
  sites/handbook/source/handbook/engineering/development/fulfillment/index.html.md.erb
  sites/handbook/source/handbook/engineering/ux/ux-department-workflow/index.html.md.erb
Due: none

revert GSC file name
  sites/uncategorized/source/googlefb840fa97e1634e7.html
Due: none

Update the highlighted video on top of the Career Development page
  sites/handbook/source/handbook/people-group/learning-and-development/career-development/index.html.md
Due: none

remove commit cta
  sites/uncategorized/source/blog/blog-posts/2022-08-25-a-3-step-plan-for-devops-platform-migration.html.md.erb
Due: none

Remove Commit CTA
  sites/uncategorized/source/blog/blog-posts/2022-08-24-capture-the-flag-in-our-bug-bounty-program.html.md.erb
Due: none

Remove Commit CTA
  sites/uncategorized/source/blog/blog-posts/2022-08-24-postman-integration-with-gitlab-makes-your-api-workflows-easier.html.md.erb
Due: none

Remove Commit CTA
  sites/uncategorized/source/blog/blog-posts/2022-08-23-gitlabs-2022-global-devsecops-survey-security-is-the-top-concern-investment.html.md.erb
Due: none

Add updated severity levels to increase understanding
  sites/handbook/source/handbook/engineering/infrastructure/incident-management/index.html.md
  sites/handbook/source/handbook/engineering/quality/issue-triage/index.html.md
Due: none

Update data/team_members/person/b/ben_holland.yml with information and photo BenH_Profile.jpg
  data/team_members/person/b/ben_holland.yml
  sites/uncategorized/source/images/team/ben_holland.jpg
Due: rspec-unit

Change in markdown adding horizontal line: Update sites/uncategorized/source/pricing/licensing-faq/index.html.md
  sites/uncategorized/source/pricing/licensing-faq/index.html.md
Due: none

Update "Product" filter to "Product & User Experience"
  sites/uncategorized/source/jobs/all-jobs/index.html.haml
Due: none

Fix broken links
  sites/handbook/source/handbook/support/engineering/staff.html.md
Due: none

Review CES <> People Connect Processes
  sites/handbook/source/handbook/hiring/talent-acquisition-framework/ces-contract-processes/index.html.md
  sites/handbook/source/handbook/hiring/talent-acquisition-framework/coordinator/index.html.md
Due: none

Various Updates - Contract Tokens, Prob Period
  sites/handbook/source/handbook/people-group/contracts-probation-periods/index.html.md.erb
Due: none

Change name on team member page
  data/team_members/person/b/bethanycox.yml
Due: rspec-unit

Added details about levels of edit
  sites/handbook/source/handbook/engineering/ux/technical-writing/index.html.md.erb
Due: none

Remove Commit CTA
  sites/uncategorized/source/blog/blog-posts/2022-08-09-virtual-reality-team-building.html.md.erb
Due: none

Description tweaks
  data/release_posts/unreleased/ecosystem-enable-slack-app-home-feature.yml
Due: lint release-post-items, rspec-unit

Remove unused learn assets, fix broken learn link
  data/learn/paths.yml
  data/redirects.yml
  sites/uncategorized/source/learn/certifications/public/index.html.md.erb
  sites/uncategorized/source/learn/use-case/public/index.html.md.erb
  sites/uncategorized/source/resources/index.html.haml
Due: apply-redirects-prod, rspec-unit

Remove Commit CTA
  sites/uncategorized/source/blog/blog-posts/2022-08-15-the-importance-of-compliance-in-devops.html.md.erb
Due: none

Name fix
  data/release_posts/unreleased/ecosystem-enable-slack-app-home-feature.yml
Due: lint release-post-items, rspec-unit

Updates to the comp page
  sites/handbook/source/handbook/total-rewards/compensation/index.html.md.erb
Due: none

Remove Commit CTA
  sites/uncategorized/source/blog/blog-posts/2022-08-18-the-gitlab-guide-to-modern-software-testing.html.md.erb
Due: none

Update 401(k) post restatement
  sites/handbook/source/handbook/total-rewards/benefits/general-and-entity-benefits/inc-benefits-us/index.html.md
Due: none

Update job families file
  data/people_group/job_families.yml
Due: rspec-unit

Remove Commit CTA
  sites/uncategorized/source/blog/blog-posts/2022-08-17-why-devops-and-zero-trust-go-together.html.md.erb
Due: none

Remove Commit CTA
  sites/uncategorized/source/blog/blog-posts/2022-08-19-gitlab-adds-further-measures-to-combat-credential-stuffing-and-other-types-of-platform-abuse.html.md.erb
Due: none

Adding Project 35 to the Commercial Sales Handbook page
  sites/handbook/source/handbook/sales/commercial/index.html.md
Due: none

Remove Commit CTA
  sites/uncategorized/source/blog/blog-posts/2022-08-17-why-we-have-implemented-our-own-sshd-solution-on-gitlab-sass.html.md.erb
Due: none

fixed typo, added context
  data/performance_indicators/ux_department.yml
Due: rspec-unit

Eh team page update supporteng sep07
  data/team_members/person/e/ehilgendorf1.yml
  sites/uncategorized/source/images/team/edwardhilgendorf.jpg
Due: rspec-unit

Update Madelein's profile image on the team page
  data/team_members/person/m/maddievn.yml
  sites/uncategorized/source/images/team/madeleinvanniekerk.jpg
Due: rspec-unit

Further updates to /learn page information
  sites/handbook/source/handbook/marketing/digital-experience/website/index.html.md
Due: none

Fix QEM title in QE pages
  sites/handbook/source/handbook/engineering/quality/quality-engineering/index.html.md.erb
Due: none

Update my team yaml file for promotion and move to Product
  data/team_members/person/s/susan-tacker.yml
Due: rspec-unit

Add Jay Bahar to Team Page
  data/team_members/person/j/jbahar.yml
Due: rspec-unit

Add 15.4 Distribution fixed bugs
  data/release_posts/unreleased/bugs.yml
Due: lint release-post-items, rspec-unit

Update Matthew Macfarlane Team Page Profile
  data/team_members/person/s/sdr-matthew-m.yml
  sites/uncategorized/source/images/team/matthewmacfarlane.jpeg
Due: rspec-unit

Path conditions:
  update-gitlab-project-releases-page: any of: sites/uncategorized/source/releases/posts/*-released.html.md
  apply-redirects-prod: any of: data/redirects.yml, bin/apply-exact-match-redirects, bin/apply-regex-redirects
  content-security-policy-checker: any of: source/includes/layout/head.html.haml
  lint release-post-items: any of: data/release_posts/unreleased/*, data/categories.yml, data/stages.yml, source/images/unreleased/*
  rubocop: any of: *.rb, **/*.rb, .rubocop.yml, Dangerfile, *.rake, **/*.rake, bin/**/*, scripts/**/*, Rakefile
  check-handbook-edit-links: any of: data/monorepo.yml, helpers/custom_helpers.rb, **/edit_page.html.haml, **/footer.html.haml, **/handbook-page-toc.haml, **/check_handbook_edit_links.rb
  rspec-unit: any of: spec/**/*, **/*.{js,json,rb,yml}, .rspec
