Repository spicysoft/jp-www-gitlab-com: changes, and which GitLab CI jobs are due for each by the changed paths.
All: update-gitlab-project-releases-page, apply-redirects-prod, content-security-policy-checker, lint release-post-items, rubocop, check-handbook-edit-links, rspec-unit

update-gitlab-project-releases-page:
  cache:
    key: web_ruby-3.0-bullseye
    policy: pull
    paths:
    - vendor
    - node_modules
  before_script:
  - bundle config set path vendor
  - bundle install --quiet --jobs 4
  - yarn install
  stage: content-generation
  needs: []
  script:
  - bundle exec rake release:ee:update_project_releases_page
  ...

apply-redirects-prod:
  cache:
    key: web_ruby-3.0-bullseye
    policy: pull
    paths:
    - vendor
    - node_modules
  before_script:
  - bundle config set path vendor
  - bundle install --quiet --jobs 4
  - yarn install
  stage: build-and-deploy
  environment:
    name: production
  script:
  - export FASTLY_SRV_ID=$FASTLY_SRV_ID_PROD
  ...

content-security-policy-checker:
  image: debian:stable-slim
  stage: test
  needs: []
  script:
  ...

lint release-post-items:
  cache:
    key: web_ruby-3.0-bullseye
    policy: pull
    paths:
    - vendor
    - node_modules
  before_script:
  - bundle config set path vendor
  - bundle install --quiet --jobs 4
  - yarn install
  stage: test
  needs: []
  script:
  - bundle exec bin/validate-release-post-item

rubocop:
  cache:
    key: web_ruby-3.0-bullseye
    policy: pull
    paths:
    - vendor
    - node_modules
  before_script:
  - bundle config set path vendor
  - bundle install --quiet --jobs 4
  - yarn install
  stage: test
  needs: []
  script:
  - bundle exec rubocop

check-handbook-edit-links:
  cache:
    key: web_ruby-3.0-bullseye
    policy: pull
    paths:
    - vendor
    - node_modules
  before_script:
  - bundle config set path vendor
  - bundle install --quiet --jobs 4
  - yarn install
  stage: test
  needs:
  - handbook-build-and-review-deploy
  script:
  - scripts/check-handbook-edit-links.rb

rspec-unit:
  cache:
    key: web_ruby-3.0-bullseye
    policy: pull
    paths:
    - vendor
    - node_modules
  before_script:
  - bundle config set path vendor
  - bundle install --quiet --jobs 4
  - yarn install
  stage: test
  needs: []
  script:
  - bundle exec rspec --tag ~@feature

Add new DORA Metrics category
  data/categories.yml
  data/features.yml
  data/stages.yml
  source/direction/manage/dora_metrics/index.html.md
  source/direction/manage/dora_metrics/templates/_next.erb
  source/direction/manage/dora_metrics/templates/_overview.erb
Due: lint release-post-items, rspec-unit

Add formatting tips to Hacker News Developer Evangelism handbook
  sites/handbook/source/handbook/marketing/community-relations/developer-evangelism/hacker-news/index.html.md
Due: none

Update expectations for Commercial SA engagements
  sites/handbook/source/handbook/customer-success/solutions-architects/processes/commercial/index.html.md
Due: none

Update past / future sessions with vid on Sec & Gov
  sites/handbook/source/handbook/sales/training/sales-enablement-sessions/index.html.md
Due: none

IT Comp Job Family Updates
  sites/uncategorized/source/job-families/finance/it-compliance/index.html.md
Due: none

add latest vid on Sec & Gov
  sites/handbook/source/handbook/sales/training/index.html.md
Due: none

Update attributes for Gavin Hinfey
  data/team_members/person/g/ghinfey.yml
  data/team_members/person/j/jpcyiza.yml
Due: rspec-unit

Attributes for Patrick Cyiza
  data/team_members/person/j/jpcyiza.yml
Due: rspec-unit

Apply 1 suggestion(s) to 1 file(s)
  data/release_posts/unreleased/manage-email-the-user-when-their-twofactor-otp-attempt-is-wrong.yml
Due: lint release-post-items, rspec-unit

Update Self-Service Purchase Direction Page to Include Information about End State Vision
  source/direction/fulfillment/purchase/index.html.md
Due: none

Remove image + add docs link
  data/release_posts/unreleased/manage-email-the-user-when-their-twofactor-otp-attempt-is-wrong.yml
  source/images/unreleased/manage-otp-email.png
Due: lint release-post-items, rspec-unit

[Merge Request] Creating New Working with GitLab Partner Page
  sites/handbook/source/handbook/resellers/channel-working-with-GitLab/index.html.md
Due: none

Apply 1 suggestion(s) to 1 file(s)
  data/release_posts/unreleased/manage-add-commit-email-user-attribute-to-the-api-model-for-users-.yml
Due: lint release-post-items, rspec-unit

Added new line for linting
  data/release_posts/unreleased/manage-add-commit-email-user-attribute-to-the-api-model-for-users-.yml
Due: lint release-post-items, rspec-unit

Papaya Global benefits page
  sites/handbook/source/handbook/total-rewards/benefits/general-and-entity-benefits/papaya-global/index.html.md
Due: none

Adds package weekly epic updates section
  sites/handbook/source/handbook/engineering/development/ops/package/index.html.md.erb
Due: none

Clarify that meetings should not have more than one agenda
  sites/uncategorized/source/company/culture/all-remote/meetings/index.html.md
Due: none

Add peer review feedback session to E-Group Offsite recurring topics
  sites/uncategorized/source/company/offsite/index.html.md
Due: none

Development Department FY'23 Talent Assessment Iterations
  sites/handbook/source/handbook/engineering/development/index.html.md.erb
Due: none

Add updated image
  source/images/unreleased/manage-otp-email.png
Due: lint release-post-items

Add Tieme to DEX Conversion group, remove Gaby
  sites/handbook/source/handbook/marketing/digital-experience/index.html.md
Due: none

New page for Stacy
  sites/handbook/source/handbook/legal/readmes/stacycline.index.html
Due: none

Equity-Stock-HB-update
  sites/handbook/source/handbook/stock-options/index.html.md
  sites/handbook/source/handbook/tax/index.html.md
  sites/handbook/source/handbook/tax/stock-options/index.html.md
Due: none

Adds links to commonly used links for Commercial SA's
  sites/handbook/source/handbook/customer-success/solutions-architects/processes/commercial/index.html.md
Due: none

Editor bug fixes
  data/release_posts/unreleased/bugs.yml
Due: lint release-post-items, rspec-unit

Update Assignment of Benefits Form Link
  sites/handbook/source/handbook/total-rewards/benefits/general-and-entity-benefits/inc-benefits-us/index.html.md
Due: none

Fixing file name
  sites/handbook/source/handbook/legal/readmes/stacycline.index.html.md
Due: none

Update sites/uncategorized/source/company/culture/inclusion/dib-goals/index.html.md
  sites/uncategorized/source/company/culture/inclusion/dib-goals/index.html.md
Due: none

Including Stacy Cline Read me
  sites/handbook/source/handbook/legal/readmes/index.html.md
Due: none

Update the dora category with marketing = true
  data/categories.yml
Due: lint release-post-items, rspec-unit

Fix typo of assistance
  sites/handbook/source/handbook/total-rewards/benefits/general-and-entity-benefits/inc-benefits-us/index.html.md
Due: none

Add Stacy Cline to team page
  data/team_members/person/s/slcline.yml
  sites/uncategorized/source/images/team/stacycline.jpg
Due: rspec-unit

Add prior experience note
  sites/handbook/source/handbook/support/training/index.html.md
Due: none

Adding links to dashboard and presentation for Quality Signup work
  sites/handbook/source/handbook/product/product-analysis/dashboards-analysis-insights/index.html.md.erb
Due: none

Updated EBA names and who supports whom
  sites/handbook/source/handbook/eba/vp-scheduling/index.html.md
Due: none

Make DORA Category visible on marketing site
  data/categories.yml
Due: lint release-post-items, rspec-unit

Remove "Who GitLab Competes With" section
  sites/handbook/source/handbook/product/gitlab-the-product/index.html.md.erb
Due: none

Update readability and DRI information on G&D benefit page
  sites/handbook/source/handbook/finance/expenses/index.html.md
  sites/handbook/source/handbook/total-rewards/benefits/general-and-entity-benefits/growth-and-development/index.html.md
Due: none

Add extra minutes warning
  sites/handbook/source/handbook/support/license-and-renewals/workflows/customersdot/customer_console.html.md
  sites/handbook/source/handbook/support/license-and-renewals/workflows/customersdot/mechanizer.html.md
Due: none

New folder creation only: Director of Quote to Cash job family
  sites/uncategorized/source/job-families/sales/sales-operations/director-of-quote-to-cash/.gitkeep
Due: none

Path conditions:
  update-gitlab-project-releases-page: any of: sites/uncategorized/source/releases/posts/*-released.html.md
  apply-redirects-prod: any of: data/redirects.yml, bin/apply-exact-match-redirects, bin/apply-regex-redirects
  content-security-policy-checker: any of: source/includes/layout/head.html.haml
  lint release-post-items: any of: data/release_posts/unreleased/*, data/categories.yml, data/stages.yml, source/images/unreleased/*
  rubocop: any of: *.rb, **/*.rb, .rubocop.yml, Dangerfile, *.rake, **/*.rake, bin/**/*, scripts/**/*, Rakefile
  check-handbook-edit-links: any of: data/monorepo.yml, helpers/custom_helpers.rb, **/edit_page.html.haml, **/footer.html.haml, **/handbook-page-toc.haml, **/check_handbook_edit_links.rb
  rspec-unit: any of: spec/**/*, **/*.{js,json,rb,yml}, .rspec
