Repository spicysoft/jp-www-gitlab-com: changes, and which GitLab CI jobs are due for each by the changed paths.
All: update-gitlab-project-releases-page, apply-redirects-prod, content-security-policy-checker, lint release-post-items, rubocop, check-handbook-edit-links, rspec-unit

update-gitlab-project-releases-page:
  cache:
    key: web_ruby-3.0-bullseye
    policy: pull
    paths:
    - vendor
    - node_modules
  before_script:
  - bundle config set path vendor
  - bundle install --quiet --jobs 4
  - yarn install
  stage: content-generation
  needs: []
  script:
  - bundle exec rake release:ee:update_project_releases_page
  ...

apply-redirects-prod:
  cache:
    key: web_ruby-3.0-bullseye
    policy: pull
    paths:
    - vendor
    - node_modules
  before_script:
  - bundle config set path vendor
  - bundle install --quiet --jobs 4
  - yarn install
  stage: build-and-deploy
  environment:
    name: production
  script:
  - export FASTLY_SRV_ID=$FASTLY_SRV_ID_PROD
  ...

content-security-policy-checker:
  image: debian:stable-slim
  stage: test
  needs: []
  script:
  ...

lint release-post-items:
  cache:
    key: web_ruby-3.0-bullseye
    policy: pull
    paths:
    - vendor
    - node_modules
  before_script:
  - bundle config set path vendor
  - bundle install --quiet --jobs 4
  - yarn install
  stage: test
  needs: []
  script:
  - bundle exec bin/validate-release-post-item

rubocop:
  cache:
    key: web_ruby-3.0-bullseye
    policy: pull
    paths:
    - vendor
    - node_modules
  before_script:
  - bundle config set path vendor
  - bundle install --quiet --jobs 4
  - yarn install
  stage: test
  needs: []
  script:
  - bundle exec rubocop

check-handbook-edit-links:
  cache:
    key: web_ruby-3.0-bullseye
    policy: pull
    paths:
    - vendor
    - node_modules
  before_script:
  - bundle config set path vendor
  - bundle install --quiet --jobs 4
  - yarn install
  stage: test
  needs:
  - handbook-build-and-review-deploy
  script:
  - scripts/check-handbook-edit-links.rb

rspec-unit:
  cache:
    key: web_ruby-3.0-bullseye
    policy: pull
    paths:
    - vendor
    - node_modules
  before_script:
  - bundle config set path vendor
  - bundle install --quiet --jobs 4
  - yarn install
  stage: test
  needs: []
  script:
  - bundle exec rspec --tag ~@feature

Add overview speedrun to the DORA category page
  source/direction/plan/dora_metrics/index.html.md.erb
  source/direction/plan/dora_metrics/templates/_overview.erb
Due: none

Update secrets mng maturity date
  data/categories.yml
Due: lint release-post-items, rspec-unit

Fixed typo in heading and changed spacing in Web IDE for consistency
  sites/uncategorized/source/community/contribute/development/index.html.haml
Due: none

Fixed a minor typo
  sites/handbook/source/handbook/finance/accounts-payable/index.html.md
Due: none

Update Compliance links
  data/release_posts/12_9/18_audit-events-improvements.yml
  data/release_posts/2019_12_22_gitlab_12_6_released.yml
  sites/handbook/source/handbook/customer-success/csm/stage-adoption/index.html.md
  sites/handbook/source/handbook/engineering/development/ops/verify/pipeline-execution/index.html.md.erb
  sites/handbook/source/handbook/marketing/strategic-marketing/usecase-gtm/compliance/index.html.md
  sites/handbook/source/handbook/marketing/strategic-marketing/usecase-gtm/devsecops/index.html.md
  sites/uncategorized/source/blog/blog-posts/2021-04-28-devops-platform-supply-chain-attacks.html.md.erb
  sites/uncategorized/source/blog/blog-posts/2021-07-20-are-you-ready-for-the-newest-era-of-devsecops.html.md.erb
  sites/uncategorized/source/blog/blog-posts/2022-08-31-what-you-need-to-know-about-devops-audits.html.md.erb
  sites/uncategorized/source/press/releases/2020-05-22-gitlab-expands-industry-leading-devsecops-platform-13-0-release.html.md
  sites/uncategorized/source/releases/posts/2020-02-22-gitlab-12-8-released.html.md
  source/direction/dev/plans/_manage.erb
  source/direction/manage/templates/_goals.erb
  source/direction/manage/templates/_intro.erb
  source/direction/modelops/applied_ml/index.html.md.erb
  source/direction/release/release_orchestration/index.html.md
Due: update-gitlab-project-releases-page, rspec-unit

Identify Create:Source Code product areas as far-reaching work
  sites/handbook/source/handbook/engineering/development/index.html.md.erb
Due: none

Move Compliance to Govern stage
  .gitlab/CODEOWNERS
  sites/handbook/source/handbook/engineering/development/index.html.md.erb
  sites/handbook/source/handbook/engineering/development/sec/govern/_shared_links.erb
  sites/handbook/source/handbook/engineering/development/sec/govern/compliance/_backlog.erb
  sites/handbook/source/handbook/engineering/development/sec/govern/compliance/_code_review.erb
  sites/handbook/source/handbook/engineering/development/sec/govern/compliance/_development_flow.erb
  sites/handbook/source/handbook/engineering/development/sec/govern/compliance/_estimation.erb
  sites/handbook/source/handbook/engineering/development/sec/govern/compliance/_meetings.erb
  sites/handbook/source/handbook/engineering/development/sec/govern/compliance/_plan.erb
  sites/handbook/source/handbook/engineering/development/sec/govern/compliance/_planning.erb
  sites/handbook/source/handbook/engineering/development/sec/govern/compliance/_pocs.erb
  sites/handbook/source/handbook/engineering/development/sec/govern/compliance/_pre_planning.erb
  sites/handbook/source/handbook/engineering/development/sec/govern/compliance/_prioritization.erb
  sites/handbook/source/handbook/engineering/development/sec/govern/compliance/_promote_issues.erb
  sites/handbook/source/handbook/engineering/development/sec/govern/compliance/_refinement.erb
  sites/handbook/source/handbook/engineering/development/sec/govern/compliance/_release.erb
  sites/handbook/source/handbook/engineering/development/sec/govern/compliance/_release_posts.erb
  sites/handbook/source/handbook/engineering/development/sec/govern/compliance/_unscheduled_issues.erb
  sites/handbook/source/handbook/engineering/development/sec/govern/compliance/index.html.md.erb
  sites/handbook/source/handbook/engineering/development/sec/govern/index.html.md.erb
  sites/handbook/source/handbook/engineering/development/sec/index.html.md.erb
  sites/handbook/source/handbook/engineering/metrics/dev/manage/index.html.md.erb
  sites/handbook/source/handbook/engineering/metrics/sec/govern/index.html.md.erb
Due: none

Update Govern Slack
  sites/handbook/source/handbook/engineering/development/sec/govern/_shared_links.erb
  sites/handbook/source/handbook/engineering/development/sec/govern/index.html.md.erb
Due: none

Update Danny team page entry adding on call moniker
  data/team_members/person/d/dannyjb.yml
Due: rspec-unit

Add button for sec. assurance automation requests
  sites/handbook/source/handbook/security/security-assurance/governance/security-assurance-automation.html.md
Due: none

Adding 15.5.3 blog post
  sites/uncategorized/source/releases/posts/2022-11-07-gitlab-15-5-3-released.html.md
Due: update-gitlab-project-releases-page

Clarify workflow when sending cloud activation codes to a new contact
  sites/handbook/source/handbook/support/license-and-renewals/workflows/customersdot/associating_purchases.html.md
  sites/handbook/source/handbook/support/license-and-renewals/workflows/self-managed/sending_license_to_different_email.html.md
Due: none

Update career development matrix for contributor success
  sites/handbook/source/handbook/engineering/career-development/matrix/engineering/quality/contributor-success/_cs_career_matrix_nav.erb
  sites/handbook/source/handbook/engineering/career-development/matrix/engineering/quality/contributor-success/index.html.md.erb
  sites/handbook/source/handbook/engineering/career-development/matrix/engineering/quality/contributor-success/intermediate/index.html.md.erb
  sites/handbook/source/handbook/engineering/career-development/matrix/engineering/quality/contributor-success/senior/index.html.md.erb
  sites/handbook/source/handbook/engineering/career-development/matrix/engineering/quality/contributor-success/staff/index.html.md.erb
  sites/handbook/source/handbook/engineering/career-development/matrix/engineering/quality/index.html.md.erb
Due: none

Update team page for Chance Feick
  data/team_members/person/c/cfeick.yml
  sites/uncategorized/source/images/team/cfeick.jpg
Due: rspec-unit

Add cherry-picked MRs to 15.5.3 blog post
  sites/uncategorized/source/releases/posts/2022-11-07-gitlab-15-5-3-released.html.md
Due: update-gitlab-project-releases-page

Remove knottos as Gitaly stable counterpart
  data/team_members/person/k/knottos.yml
Due: rspec-unit

Update Niko Belokolodov as backend maintainer (Version app)
  data/team_members/person/n/nbelokolodov.yml
Due: rspec-unit

Update internship section for Data Engineering
  sites/handbook/source/handbook/business-technology/data-team/organization/internships/index.html.md
Due: none

Fix broken links in Support handbook on billing
  sites/handbook/source/handbook/support/license-and-renewals/workflows/billing_contact_change_payments.html.md
Due: none

Add Special Considerations for Nightly to Debugging Failing Tests and Test Pipelines Page
  sites/handbook/source/handbook/engineering/quality/quality-engineering/debugging-qa-test-failures/index.html.md
Due: none

Sync specialty to team page - 2022-11-07
  data/team_members/person/c/cfeick.yml
Due: rspec-unit

Geo direction update - October 2022
  source/direction/geo/disaster_recovery/index.html.md.erb
  source/direction/geo/geo_replication/index.html.md.erb
  source/direction/geo/index.html.md.erb
Due: none

Adding more detail on hiring restrictions
  sites/handbook/source/handbook/people-group/employment-solutions/index.html.md.erb
Due: none

Update pets page
  data/pets.yml
  sites/uncategorized/source/images/team/pets/humphry.png
Due: rspec-unit

Update team member page
  data/team_members/person/d/drcatherinepope.yml
  sites/uncategorized/source/images/team/catherinepope.png
Due: rspec-unit

Updated monitoring language for regs. and compliance
  sites/handbook/source/handbook/security/security-assurance/governance/index.html.md
Due: none

Add ddieulivol as a triage-ops maintainer
  data/team_members/person/d/ddieulivol.yml
Due: rspec-unit

Update information to Okta HB page on how to add new computer
  sites/handbook/source/handbook/business-technology/okta/index.html.md
Due: none

Fixing some grammar, making Linux mandatory and other SentinelOne tweaks
  sites/handbook/source/handbook/business-technology/team-member-enablement/onboarding-access-requests/endpoint-management/edr/index.html.md
Due: none

Add George Tsiolis to the Development Director Shadow Schedule
  sites/handbook/source/handbook/engineering/development/shadow/director-shadow-program.html.md
Due: none

update mmalcolm role, manager on team page
  data/team_members/person/m/mattmalcolm.yml
Due: rspec-unit

Update sites/handbook/source/handbook/engineering/monitoring/index.html.md
  sites/handbook/source/handbook/engineering/monitoring/index.html.md
Due: none

Add more GitLab.com operational details to registry page
  sites/handbook/source/handbook/engineering/development/ops/package/product/container-registry/index.html.md.erb
Due: none

Link container registry project documentation in group page
  sites/handbook/source/handbook/engineering/development/ops/package/container-registry/index.html.md.erb
Due: none

Add leading org working group to the list of working groups
  sites/uncategorized/source/company/team/structure/working-groups/index.html.md
Due: none

fix link
  sites/handbook/source/handbook/business-technology/data-team/how-we-work/triage/index.html.md
Due: none

Update to the Guidelines for Use of Third-party IP in External Materials
  sites/handbook/source/handbook/legal/ip-public-materials-guidelines/index.html.md
Due: none

Offboard team member - 2022-11-04
  .gitlab/CODEOWNERS
  data/team_members/person/b/bryanmay.yml
  data/team_members/person/k/kendramarquart.yml
  data/team_members/person/m/melaniross.yml
  data/team_members/person/n/nlotz.yml
  data/team_members/person/p/psprojectcoor-donita-f.yml
  data/team_members/person/s/seanjsandoval.yml
Due: rspec-unit

added link to ebook, and other tweaks.
  sites/uncategorized/source/blog/blog-posts/2022-11-07-top-challenges-to-securing-the-software-supply-chain.html.md.erb
Due: none

Path conditions:
  update-gitlab-project-releases-page: any of: sites/uncategorized/source/releases/posts/*-released.html.md
  apply-redirects-prod: any of: data/redirects.yml, bin/apply-exact-match-redirects, bin/apply-regex-redirects
  content-security-policy-checker: any of: source/includes/layout/head.html.haml
  lint release-post-items: any of: data/release_posts/unreleased/*, data/categories.yml, data/stages.yml, source/images/unreleased/*
  rubocop: any of: *.rb, **/*.rb, .rubocop.yml, Dangerfile, *.rake, **/*.rake, bin/**/*, scripts/**/*, Rakefile
  check-handbook-edit-links: any of: data/monorepo.yml, helpers/custom_helpers.rb, **/edit_page.html.haml, **/footer.html.haml, **/handbook-page-toc.haml, **/check_handbook_edit_links.rb
  rspec-unit: any of: spec/**/*, **/*.{js,json,rb,yml}, .rspec
