Repository spicysoft/jp-www-gitlab-com: changes, and which GitLab CI jobs are due for each by the changed paths.
All: update-gitlab-project-releases-page, apply-redirects-prod, content-security-policy-checker, lint release-post-items, rubocop, check-handbook-edit-links, rspec-unit

Path conditions:
  update-gitlab-project-releases-page: any of: sites/uncategorized/source/releases/posts/*-released.html.md
  apply-redirects-prod: any of: data/redirects.yml, bin/apply-exact-match-redirects, bin/apply-regex-redirects
  content-security-policy-checker: any of: source/includes/layout/head.html.haml
  lint release-post-items: any of: data/release_posts/unreleased/*, data/categories.yml, data/stages.yml, source/images/unreleased/*
  rubocop: any of: *.rb, **/*.rb, .rubocop.yml, Dangerfile, *.rake, **/*.rake, bin/**/*, scripts/**/*, Rakefile
  check-handbook-edit-links: any of: data/monorepo.yml, helpers/custom_helpers.rb, **/edit_page.html.haml, **/footer.html.haml, **/handbook-page-toc.haml, **/check_handbook_edit_links.rb
  rspec-unit: any of: spec/**/*, **/*.{js,json,rb,yml}, .rspec

Updating Technical Account Manager to Customer Success Manager per title change updates
  sites/handbook/source/handbook/customer-success/csm/engagement/index.html.md
Due: none

MVP post update
  data/release_posts/15_5/mvp.yml
Due: rspec-unit

DRAFT Update PBP KPIs
  sites/uncategorized/source/job-families/people-ops/people-business-partner/index.html.md
Due: none

Offboard team member - 2022-10-15
  .gitlab/CODEOWNERS
  data/team_members/person/k/kaylagolden.yml
  data/team_members/person/s/simonliang.yml
Due: rspec-unit

Add reference to before you buy a YubiKey - check with IT for enterprise subscription
  sites/handbook/source/handbook/finance/procurement/office-equipment-supplies/index.html.md
Due: none

Update sites/handbook/source/handbook/sales/self-service/self-service-data/index.html.md
  sites/handbook/source/handbook/sales/self-service/self-service-data/index.html.md
Due: none

Update sites/handbook/source/handbook/sales/self-service/index.html.md
  sites/handbook/source/handbook/sales/self-service/index.html.md
Due: none

Update US Access to Personnel Records process
  sites/handbook/source/handbook/people-policies/inc-usa/index.html.md.erb
  sites/handbook/source/handbook/people-policies/index.html.md.erb
Due: none

Update FACE page
  sites/handbook/source/handbook/business-technology/data-team/functional-analytics-center-of-excellence/index.html.md
Due: none

Update data/team_members/person/a/alex_martin.yml
  data/team_members/person/a/alex_martin.yml
Due: rspec-unit

Fix typo regarding GitLab Inc. and GitLab Federal LLC
  sites/handbook/source/handbook/people-group/general-onboarding/tanewki-tips/index.html.md
Due: none

Remove GA commitment for MSP certification
  source/direction/saas-platforms/dedicated/index.html.md
Due: none

Updating Modern Health webinar link
  sites/handbook/source/handbook/total-rewards/benefits/modern-health/index.html.md
Due: none

Add Global Search bug fix
  data/release_posts/unreleased/bugs.yml
Due: lint release-post-items, rspec-unit

Add model performance section
  sites/handbook/source/handbook/business-technology/data-team/platform/dbt-guide/index.html.md
Due: none

Update source/direction/fulfillment/purchase/index.html.md
  source/direction/fulfillment/purchase/index.html.md
Due: none

Remove extra full stops
  data/release_posts/unreleased/usability_improvements.yml
Due: lint release-post-items, rspec-unit

Minor tweaks for punctuation and grammar
  data/release_posts/unreleased/performance_improvements.yml
Due: lint release-post-items, rspec-unit

Remove extra full stop
  data/release_posts/unreleased/performance_improvements.yml
Due: lint release-post-items, rspec-unit

Remove extra full stops
  data/release_posts/unreleased/bugs.yml
Due: lint release-post-items, rspec-unit

Clarify the bug description
  data/release_posts/unreleased/bugs.yml
Due: lint release-post-items, rspec-unit

Small grammar wording fix
  data/release_posts/unreleased/bugs.yml
Due: lint release-post-items, rspec-unit

Fix word use
  data/release_posts/unreleased/bugs.yml
Due: lint release-post-items, rspec-unit

Fix capitalization and spelling
  data/release_posts/unreleased/bugs.yml
Due: lint release-post-items, rspec-unit

Expand the 500 error text
  data/release_posts/unreleased/bugs.yml
Due: lint release-post-items, rspec-unit

Add tabs to description and remove etc
  data/release_posts/unreleased/bugs.yml
Due: lint release-post-items, rspec-unit

Fix grammar and remove extra quotes
  data/release_posts/unreleased/bugs.yml
Due: lint release-post-items, rspec-unit

Fix reference to check box
  data/release_posts/unreleased/bugs.yml
Due: lint release-post-items, rspec-unit

Clean up grammar and word use
  data/release_posts/unreleased/bugs.yml
Due: lint release-post-items, rspec-unit

Fix quote markdown use
  data/release_posts/unreleased/bugs.yml
Due: lint release-post-items, rspec-unit

Remove ref to slash and replace with text saying no path
  data/release_posts/unreleased/bugs.yml
Due: lint release-post-items, rspec-unit

Remove duplicate 2FA bug
  data/release_posts/unreleased/bugs.yml
Due: lint release-post-items, rspec-unit

Fix capitalization use
  data/release_posts/unreleased/bugs.yml
Due: lint release-post-items, rspec-unit

Fix spelling of GitLab
  data/release_posts/unreleased/bugs.yml
Due: lint release-post-items, rspec-unit

RP item: Code Quality authenticated registry support
  data/release_posts/unreleased/secure-code-quality-private-registry-authentication.yml
Due: lint release-post-items, rspec-unit

Adding link to the onboarding templates for contractors/consultants/temporary service providers.
  sites/handbook/source/handbook/people-group/general-onboarding/index.html.md
Due: none

Fix typo on okr page
  sites/uncategorized/source/company/okrs/index.html.md
Due: none

Apply 1 suggestion(s) to 1 file(s)
  data/release_posts/unreleased/manage-configurable-list-of-things-to-be-imported-that-can-be-adju.yml
Due: lint release-post-items, rspec-unit

Focus on one maintainership at a time
  data/team_members/person/m/michal-zajac.yml
Due: rspec-unit

Add slots to Product Intelligence triage schedule
  sites/handbook/source/handbook/engineering/development/analytics/product-intelligence/index.html.md.erb
Due: none
