Repository spicysoft/jp-www-gitlab-com: changes, and which GitLab CI jobs are due for each by the changed paths.
All: update-gitlab-project-releases-page, apply-redirects-prod, content-security-policy-checker, lint release-post-items, rubocop, check-handbook-edit-links, rspec-unit

update-gitlab-project-releases-page:
  cache:
    key: web_ruby-3.0-bullseye
    policy: pull
    paths:
    - vendor
    - node_modules
  before_script:
  - bundle config set path vendor
  - bundle install --quiet --jobs 4
  - yarn install
  stage: content-generation
  needs: []
  script:
  - bundle exec rake release:ee:update_project_releases_page
  ...

apply-redirects-prod:
  cache:
    key: web_ruby-3.0-bullseye
    policy: pull
    paths:
    - vendor
    - node_modules
  before_script:
  - bundle config set path vendor
  - bundle install --quiet --jobs 4
  - yarn install
  stage: build-and-deploy
  environment:
    name: production
  script:
  - export FASTLY_SRV_ID=$FASTLY_SRV_ID_PROD
  ...

content-security-policy-checker:
  image: debian:stable-slim
  stage: test
  needs: []
  script:
  ...

lint release-post-items:
  cache:
    key: web_ruby-3.0-bullseye
    policy: pull
    paths:
    - vendor
    - node_modules
  before_script:
  - bundle config set path vendor
  - bundle install --quiet --jobs 4
  - yarn install
  stage: test
  needs: []
  script:
  - bundle exec bin/validate-release-post-item

rubocop:
  cache:
    key: web_ruby-3.0-bullseye
    policy: pull
    paths:
    - vendor
    - node_modules
  before_script:
  - bundle config set path vendor
  - bundle install --quiet --jobs 4
  - yarn install
  stage: test
  needs: []
  script:
  - bundle exec rubocop

check-handbook-edit-links:
  cache:
    key: web_ruby-3.0-bullseye
    policy: pull
    paths:
    - vendor
    - node_modules
  before_script:
  - bundle config set path vendor
  - bundle install --quiet --jobs 4
  - yarn install
  stage: test
  needs:
  - handbook-build-and-review-deploy
  script:
  - scripts/check-handbook-edit-links.rb

rspec-unit:
  cache:
    key: web_ruby-3.0-bullseye
    policy: pull
    paths:
    - vendor
    - node_modules
  before_script:
  - bundle config set path vendor
  - bundle install --quiet --jobs 4
  - yarn install
  stage: test
  needs: []
  script:
  - bundle exec rspec --tag ~@feature

Update image on blog
  source/images/blogimages/jobs-to-be-done.jpg
Due: none

Add Billing and subscription to Fulfillment QE page
  sites/handbook/source/handbook/engineering/quality/quality-engineering/fulfillment-growth-qe-team/index.html.md.erb
Due: none

Add Security Polices handbook page
  sites/handbook/source/handbook/engineering/development/sec/govern/index.html.md.erb
  sites/handbook/source/handbook/engineering/development/sec/govern/security-policies/index.html.md.erb
Due: none

Convert list to table for scoring methodologies
  sites/handbook/source/handbook/customer-success/customer-health-scoring/index.html.md
Due: none

Update tech_stack.yml with Vulnerability Management as owners of Tenable.io
  data/tech_stack.yml
Due: rspec-unit

Update data/team_members/person/j/jmhuang.yml
  data/team_members/person/j/jmhuang.yml
Due: rspec-unit

Update data/team_members/person/b/belinda-singh.yml
  data/team_members/person/b/belinda-singh.yml
Due: rspec-unit

Update data/team_members/person/g/grahamdone.yml
  data/team_members/person/g/grahamdone.yml
Due: rspec-unit

Apply category
  data/release_posts/unreleased/ecosystem-autodisable-failing-webhooks.yml
Due: lint release-post-items, rspec-unit

Added TODO
  data/features.yml
Due: rspec-unit

Update data/team_members/person/b/adam Mustapic
  data/team_members/person/a/amustapic.yml
Due: rspec-unit

Fix duplicated maintainers for akramer in marketing/corp marketing handbook pages
  .gitlab/CODEOWNERS
Due: none

Update UK Affiliate to Correct Name
  sites/uncategorized/source/privacy/subprocessors/index.html.md
Due: none

Update Miguel Role at the Team Members PAge
  data/team_members/person/m/miguelsilva.yml
Due: rspec-unit

Fix uncapitalized L
  sites/uncategorized/source/blog/blog-posts/2022-09-07-jobs-to-be-done-interviews.html.md.erb
Due: none

Update Kevin Chasse section to add new role
  data/team_members/person/k/kevin-chasse.yml
Due: rspec-unit

Support Calendly page: add how to temporarily change timezone for events
  sites/handbook/source/handbook/support/workflows/calendly.html.md
Due: none

Add CI/CD minutes calculation to free tier FAQ
  sites/uncategorized/source/pricing/faq-efficient-free-tier/index.html.md
Due: none

Add Fulfillment FYI channel
  sites/handbook/source/handbook/engineering/development/fulfillment/index.html.md.erb
Due: none

Add new team members for 2022-09-12
  data/team_members/person/f/francoisxavierdebroux.yml
Due: rspec-unit

Add Dev Evangelism CFP tracking epics to CFP handbook
  sites/handbook/source/handbook/marketing/community-relations/developer-evangelism/cfps/index.html.md
Due: none

Apply 1 suggestion(s) to 1 file(s)
  sites/uncategorized/source/blog/blog-posts/2022-09-06-a-visual-guide-to-gitlab-ci-caching.html.md.erb
Due: none

Move Product Analytics and Product Intelligence direction pages under a new Analytics section page
  source/direction/analytics/index.html.md
  source/direction/analytics/product-analytics/index.html.md
  source/direction/analytics/product-intelligence/index.html.md
  source/direction/product-intelligence/index.html.md
Due: none

edits and date updated
  sites/uncategorized/source/blog/blog-posts/2022-09-12-a-visual-guide-to-gitlab-ci-caching.html.md.erb
Due: none

Update 2022-09-12-a-visual-guide-to-gitlab-ci-caching.html.md.erb
  sites/uncategorized/source/blog/blog-posts/2022-09-12-a-visual-guide-to-gitlab-ci-caching.html.md.erb
Due: none

small edits to frontmatter
  sites/uncategorized/source/blog/blog-posts/2022-09-12-a-visual-guide-to-gitlab-ci-caching.html.md.erb
Due: none

Remove elasticsearch from my expertise list
  data/team_members/person/c/calebcooper.yml
Due: rspec-unit

tweak
  sites/uncategorized/source/blog/blog-posts/2022-09-12-a-visual-guide-to-gitlab-ci-caching.html.md.erb
Due: none

Added Process for Manager changes
  sites/handbook/source/handbook/people-group/promotions-transfers/index.html.md
Due: none

added tutorial tag
  sites/uncategorized/source/blog/blog-posts/2022-09-12-a-visual-guide-to-gitlab-ci-caching.html.md.erb
Due: none

Add andysoiron as trainee maintainer database
  data/team_members/person/a/andysoiron.yml
Due: rspec-unit

Additional copy to Agile Delivery
  data/topic/agile-delivery.yml
Due: rspec-unit

MECC => TeamOps (updating homepage, redirects, tenets, etc.)
  data/redirects.yml
  sites/handbook/source/handbook/ceo/chief-of-staff-team/index.html.md
  sites/handbook/source/handbook/index.html.md
  sites/handbook/source/handbook/mecc/_mecc_overview.erb
  sites/handbook/source/handbook/mecc/index.html.md.erb
  sites/handbook/source/handbook/teamops/_teamops_overview.erb
  sites/handbook/source/handbook/teamops/executing-decisions/index.html.md.erb
  sites/handbook/source/handbook/teamops/fast-decisions/index.html.md.erb
  sites/handbook/source/handbook/teamops/index.html.md.erb
  sites/handbook/source/handbook/teamops/informed-decisions/index.html.md.erb
  sites/handbook/source/handbook/teamops/many-decisions/index.html.md.erb
  sites/uncategorized/source/company/culture/all-remote/phases-of-remote-adaptation/index.html.md.erb
  sites/uncategorized/source/company/culture/all-remote/remote-certification/index.html.md
Due: apply-redirects-prod, rspec-unit

Update PI for Improve key workflow usability
  source/direction/template.html.md.erb
Due: none

Added info on working with drawer doc copy
  sites/handbook/source/handbook/engineering/ux/product-designer/index.html.md.erb
Due: none

Path conditions:
  update-gitlab-project-releases-page: any of: sites/uncategorized/source/releases/posts/*-released.html.md
  apply-redirects-prod: any of: data/redirects.yml, bin/apply-exact-match-redirects, bin/apply-regex-redirects
  content-security-policy-checker: any of: source/includes/layout/head.html.haml
  lint release-post-items: any of: data/release_posts/unreleased/*, data/categories.yml, data/stages.yml, source/images/unreleased/*
  rubocop: any of: *.rb, **/*.rb, .rubocop.yml, Dangerfile, *.rake, **/*.rake, bin/**/*, scripts/**/*, Rakefile
  check-handbook-edit-links: any of: data/monorepo.yml, helpers/custom_helpers.rb, **/edit_page.html.haml, **/footer.html.haml, **/handbook-page-toc.haml, **/check_handbook_edit_links.rb
  rspec-unit: any of: spec/**/*, **/*.{js,json,rb,yml}, .rspec
