Repository spicysoft/jp-www-gitlab-com: changes, and which GitLab CI jobs are due for each by the changed paths.
All: update-gitlab-project-releases-page, apply-redirects-prod, content-security-policy-checker, lint release-post-items, rubocop, check-handbook-edit-links, rspec-unit

update-gitlab-project-releases-page:
  cache:
    key: web_ruby-3.0-bullseye
    policy: pull
    paths:
    - vendor
    - node_modules
  before_script:
  - bundle config set path vendor
  - bundle install --quiet --jobs 4
  - yarn install
  stage: content-generation
  needs: []
  script:
  - bundle exec rake release:ee:update_project_releases_page
  ...

apply-redirects-prod:
  cache:
    key: web_ruby-3.0-bullseye
    policy: pull
    paths:
    - vendor
    - node_modules
  before_script:
  - bundle config set path vendor
  - bundle install --quiet --jobs 4
  - yarn install
  stage: build-and-deploy
  environment:
    name: production
  script:
  - export FASTLY_SRV_ID=$FASTLY_SRV_ID_PROD
  ...

content-security-policy-checker:
  image: debian:stable-slim
  stage: test
  needs: []
  script:
  ...

lint release-post-items:
  cache:
    key: web_ruby-3.0-bullseye
    policy: pull
    paths:
    - vendor
    - node_modules
  before_script:
  - bundle config set path vendor
  - bundle install --quiet --jobs 4
  - yarn install
  stage: test
  needs: []
  script:
  - bundle exec bin/validate-release-post-item

rubocop:
  cache:
    key: web_ruby-3.0-bullseye
    policy: pull
    paths:
    - vendor
    - node_modules
  before_script:
  - bundle config set path vendor
  - bundle install --quiet --jobs 4
  - yarn install
  stage: test
  needs: []
  script:
  - bundle exec rubocop

check-handbook-edit-links:
  cache:
    key: web_ruby-3.0-bullseye
    policy: pull
    paths:
    - vendor
    - node_modules
  before_script:
  - bundle config set path vendor
  - bundle install --quiet --jobs 4
  - yarn install
  stage: test
  needs:
  - handbook-build-and-review-deploy
  script:
  - scripts/check-handbook-edit-links.rb

rspec-unit:
  cache:
    key: web_ruby-3.0-bullseye
    policy: pull
    paths:
    - vendor
    - node_modules
  before_script:
  - bundle config set path vendor
  - bundle install --quiet --jobs 4
  - yarn install
  stage: test
  needs: []
  script:
  - bundle exec rspec --tag ~@feature

Add clarity on communication of off cycle breaking changes
  sites/handbook/source/handbook/product/gitlab-the-product/index.html.md.erb
Due: none

Updated programs! Feel free to add more detail under the SME review section
  sites/handbook/source/handbook/sales/field-operations/customer-success-operations/cs-ops-programs/index.html.md
Due: none

Updating role for Avielle
  data/team_members/person/a/aviellewolfe.yml
Due: rspec-unit

Fixed typos in GitLab Dedicated Handbook Page
  sites/handbook/source/handbook/engineering/infrastructure/team/gitlab-dedicated/index.html.md.erb
Due: none

Remove errant note from Product Direction
  source/direction/template.html.md.erb
Due: none

Release Post: Clarify social media image instructions
  sites/handbook/source/handbook/marketing/blog/release-posts/index.html.md
Due: none

Update product and feature naming guidelines to include third-party trademark guidelines
  sites/handbook/source/handbook/product/product-principles/index.html.md.erb
Due: none

Adding additional resources to the SA handbook
  sites/handbook/source/handbook/customer-success/solutions-architects/tools-and-resources/index.html.md
Due: none

Added things and accomplishments section
  sites/handbook/source/handbook/engineering/development/ops/verify/pipeline-authoring/index.html.md.erb
Due: none

Remove and rearrange TeamOps action tenets to create balance across four Guiding Principles
  sites/handbook/source/handbook/teamops/fast-decisions/index.html.md.erb
  sites/handbook/source/handbook/teamops/informed-decisions/index.html.md.erb
  sites/handbook/source/handbook/teamops/many-decisions/index.html.md.erb
Due: none

Update formatting for specialties under Legal job family
  sites/uncategorized/source/job-families/legal-and-corporate-affairs/director-legal-us/index.html.md
Due: none

Update wording on delayed deletion
  sites/handbook/source/handbook/engineering/infrastructure/faq/index.html.md
Due: none

Update to include purple-team-ops Slack contact
  sites/handbook/source/handbook/security/threat-management/red-team/index.html.md
Due: none

CISO Job Family
  sites/uncategorized/source/job-families/chief-information-security-officer/index.html.md.erb
Due: none

Updating Key Reviews handbook page
  sites/handbook/source/handbook/key-review/index.html.md
Due: none

Add section on ticket feedback CSMs receive via email
  sites/handbook/source/handbook/customer-success/csm/support/index.html.md
Due: none

Update Dylan Griffith's title
  data/team_members/person/d/dylan-g.yml
Due: rspec-unit

Add Acting CoS to CTO candidate resources
  sites/handbook/source/handbook/engineering/cto-staff/index.html.md.erb
Due: none

Removing Hungary from countries available for Interns as Hungary is closed
  sites/handbook/source/handbook/people-group/employment-solutions/index.html.md.erb
Due: none

Update info on YubiKey/Biometrics and take out OKTA verify
  sites/handbook/source/handbook/business-technology/okta/index.html.md
Due: none

Update sites/uncategorized/source/company/top-cross-functional-initiatives/index.html.md
  sites/uncategorized/source/company/top-cross-functional-initiatives/index.html.md
Due: none

Update to RRSP plan on bonus contributions
  sites/handbook/source/handbook/total-rewards/benefits/general-and-entity-benefits/canada-corp-benefits/index.html.md
Due: none

Offboard team member - 2022-11-03
  .gitlab/CODEOWNERS
  data/team_members/person/j/jonathanvenezia.yml
  data/team_members/person/p/pytol.yml
  data/team_members/person/v/vitorinocoelho.yml
Due: rspec-unit

Add yarn link process to navigation repo handbook
  sites/handbook/source/handbook/marketing/digital-experience/navigation-repository/index.html.md
Due: none

Update to include purple-team-ops Slack contact on this page in handbook
  sites/handbook/source/handbook/security/threat-management/red-team/purple-teaming/index.html.md
Due: none

Remove Carta from baseline entitlements
  sites/handbook/source/handbook/business-technology/team-member-enablement/onboarding-access-requests/access-requests/baseline-entitlements/index.html.md
Due: none

Added bulk applications info
  sites/handbook/source/handbook/total-rewards/benefits/general-and-entity-benefits/growth-and-development/index.html.md
Due: none

Move Plan product category page under stage engineering ownership
  data/redirects.yml
  sites/handbook/source/handbook/engineering/development/dev/plan/index.html.md.erb
  sites/handbook/source/handbook/engineering/development/dev/plan/plan-workflow-example.png
  sites/handbook/source/handbook/product/ux/technical-writing/workflow/index.html.md
Due: apply-redirects-prod, rspec-unit

Remove empty lines
  data/features.yml
Due: rspec-unit

Fix incorrect Finance page heading link
  sites/handbook/source/handbook/hiring/talent-acquisition-framework/req-creation/index.html.md
Due: none

Make thiagocsf a maintainer of the security report schemas
  data/team_members/person/t/thiagofigueiro.yml
Due: rspec-unit

Add new team members for 2022-11-01
  data/team_members/person/h/hmerscher.yml
  data/team_members/person/o/oobakin.yml
  data/team_members/person/r/robyrne.yml
  data/team_members/person/r/rutgerwessels.yml
Due: rspec-unit

Add section for the namespace backfill
  sites/handbook/source/handbook/business-technology/data-team/data-catalog/saas-service-ping-automation/index.html.md
Due: none

Clarify possibility of combining expenses
  sites/handbook/source/handbook/incentives/index.html.md
Due: none

Promote Igor Drozdov to Staff Engineer
  data/team_members/person/i/id-backend.yml
Due: rspec-unit

Sync specialty to team page - 2022-11-03
  data/team_members/person/j/jglassman1.yml
Due: rspec-unit

Add my name as SSC
  sites/handbook/source/includes/product/_categories-names.erb
Due: none

Update Kushal Pandya job title to remove "interim"
  data/team_members/person/k/kushal-p.yml
Due: rspec-unit

Hsmithwatson git flow update
  data/topic_children/what-is-git-workflow.yml
Due: rspec-unit

[Merge request (MR)] Corporate conference email processes updates
  sites/handbook/source/handbook/marketing/events/index.html.md
Due: none

Path conditions:
  update-gitlab-project-releases-page: any of: sites/uncategorized/source/releases/posts/*-released.html.md
  apply-redirects-prod: any of: data/redirects.yml, bin/apply-exact-match-redirects, bin/apply-regex-redirects
  content-security-policy-checker: any of: source/includes/layout/head.html.haml
  lint release-post-items: any of: data/release_posts/unreleased/*, data/categories.yml, data/stages.yml, source/images/unreleased/*
  rubocop: any of: *.rb, **/*.rb, .rubocop.yml, Dangerfile, *.rake, **/*.rake, bin/**/*, scripts/**/*, Rakefile
  check-handbook-edit-links: any of: data/monorepo.yml, helpers/custom_helpers.rb, **/edit_page.html.haml, **/footer.html.haml, **/handbook-page-toc.haml, **/check_handbook_edit_links.rb
  rspec-unit: any of: spec/**/*, **/*.{js,json,rb,yml}, .rspec
