Repository spicysoft/jp-www-gitlab-com: changes, and which GitLab CI jobs are due for each by the changed paths.
All: update-gitlab-project-releases-page, apply-redirects-prod, content-security-policy-checker, lint release-post-items, rubocop, check-handbook-edit-links, rspec-unit

update-gitlab-project-releases-page:
  cache:
    key: web_ruby-3.0-bullseye
    policy: pull
    paths:
    - vendor
    - node_modules
  before_script:
  - bundle config set path vendor
  - bundle install --quiet --jobs 4
  - yarn install
  stage: content-generation
  needs: []
  script:
  - bundle exec rake release:ee:update_project_releases_page
  ...

apply-redirects-prod:
  cache:
    key: web_ruby-3.0-bullseye
    policy: pull
    paths:
    - vendor
    - node_modules
  before_script:
  - bundle config set path vendor
  - bundle install --quiet --jobs 4
  - yarn install
  stage: build-and-deploy
  environment:
    name: production
  script:
  - export FASTLY_SRV_ID=$FASTLY_SRV_ID_PROD
  ...

content-security-policy-checker:
  image: debian:stable-slim
  stage: test
  needs: []
  script:
  ...

lint release-post-items:
  cache:
    key: web_ruby-3.0-bullseye
    policy: pull
    paths:
    - vendor
    - node_modules
  before_script:
  - bundle config set path vendor
  - bundle install --quiet --jobs 4
  - yarn install
  stage: test
  needs: []
  script:
  - bundle exec bin/validate-release-post-item

rubocop:
  cache:
    key: web_ruby-3.0-bullseye
    policy: pull
    paths:
    - vendor
    - node_modules
  before_script:
  - bundle config set path vendor
  - bundle install --quiet --jobs 4
  - yarn install
  stage: test
  needs: []
  script:
  - bundle exec rubocop

check-handbook-edit-links:
  cache:
    key: web_ruby-3.0-bullseye
    policy: pull
    paths:
    - vendor
    - node_modules
  before_script:
  - bundle config set path vendor
  - bundle install --quiet --jobs 4
  - yarn install
  stage: test
  needs:
  - handbook-build-and-review-deploy
  script:
  - scripts/check-handbook-edit-links.rb

rspec-unit:
  cache:
    key: web_ruby-3.0-bullseye
    policy: pull
    paths:
    - vendor
    - node_modules
  before_script:
  - bundle config set path vendor
  - bundle install --quiet --jobs 4
  - yarn install
  stage: test
  needs: []
  script:
  - bundle exec rspec --tag ~@feature

Typo fixes to compensation
  sites/handbook/source/handbook/total-rewards/compensation/index.html.md.erb
Due: none

Removed Andy Volpe as an interim option
  sites/handbook/source/includes/product/_categories-names.erb
Due: none

Update G&D benefit page with coaching details and new issue template
  sites/handbook/source/handbook/total-rewards/benefits/general-and-entity-benefits/growth-and-development/index.html.md
Due: none

Updating Black @ Gitlab TMRG information
  sites/uncategorized/source/company/culture/inclusion/erg-guide/index.html.md
Due: none

Add metrics to ProdOps direction
  source/direction/product-operations/template.html.md.erb
Due: none

Update role following transfer
  data/team_members/person/d/danrhodes.yml
Due: rspec-unit

Removed Andy Volpe as interim for SCA
  data/stages.yml
Due: lint release-post-items, rspec-unit

Update Press Release page
  data/press_releases.yml
  sites/uncategorized/source/press/releases/2022-09-06-gitlab-reports-second-quarter-fiscal-year-2023-financial-results.html.md
  source/images/opengraph/Press-Releases/fy23-q2-fiscal-year-results-gitlab-press-release.png
Due: rspec-unit

Updating Q3-FY23 Quarterly Achievers Criteria
  sites/handbook/source/handbook/sales/field-operations/field-enablement/field-team-recognition/index.html.md
Due: none

Initial draft of release post
  data/release_posts/unreleased/manage-allow-group-owners-to-selectively-bypass-email-validation-u.yml
  source/images/unreleased/domain-verification.png
Due: lint release-post-items, rspec-unit

Update title
  data/release_posts/unreleased/ecosystem-integrate-shimo-as-wiki-alternative.yml
Due: lint release-post-items, rspec-unit

Remove comment
  data/release_posts/unreleased/ecosystem-integrate-shimo-as-wiki-alternative.yml
Due: lint release-post-items, rspec-unit

Initial draft
  data/release_posts/unreleased/manage-groups-api-add-restrict-group-access-by-ip-address.yml
Due: lint release-post-items, rspec-unit

Modified description
  data/release_posts/unreleased/ecosystem-integrate-shimo-as-wiki-alternative.yml
Due: lint release-post-items, rspec-unit

Update data/release_posts/unreleased/plan-api-endpoint-for-deleting-attachments-from-project.yml
  data/release_posts/unreleased/plan-api-endpoint-for-deleting-attachments-from-project.yml
Due: lint release-post-items, rspec-unit

Add myself to token WG
  sites/uncategorized/source/company/team/structure/working-groups/token-management/index.html.md
Due: none

Update data/release_posts/unreleased/plan-implement-autosaving-mechanism-on-design-notes.yml
  data/release_posts/unreleased/plan-implement-autosaving-mechanism-on-design-notes.yml
Due: lint release-post-items, rspec-unit

Update data/release_posts/unreleased/plan-boards-display-health-status-on-issue-cards.yml
  data/release_posts/unreleased/plan-boards-display-health-status-on-issue-cards.yml
Due: lint release-post-items, rspec-unit

Subscription Agreement Updates
  sites/handbook/source/handbook/legal/subscription-agreement/image-1.png
  sites/handbook/source/handbook/legal/subscription-agreement/image-2.png
  sites/handbook/source/handbook/legal/subscription-agreement/index.html.md
Due: none

Add Aimee David to EBA Handbook Page
  sites/handbook/source/handbook/eba/index.html.md
Due: none

Fix broken image links for example dashboard images
  sites/uncategorized/source/company/okrs/index.html.md
  source/images/Companywide-Dashboard.png
  source/images/Manager-or-Functional-Lead-Dashboard.png
Due: none

Process for updating CVSS after patch
  sites/handbook/source/handbook/engineering/security/security-engineering-and-research/application-security/vulnerability-management.html.md
Due: none

Updating team member profile
  data/team_members/person/j/jess_perry.yml
  sites/uncategorized/source/images/team/jessperry.jpg
Due: rspec-unit

Fix broken link to adding self to team page
  sites/handbook/source/handbook/engineering/development/enablement/systems/distribution/merge_requests.html.md
  sites/handbook/source/handbook/git-page-update/index.html.md.erb
  sites/handbook/source/handbook/marketing/digital-experience/website/index.html.md
  sites/handbook/source/handbook/marketing/revenue-marketing/sdr/sdr-manager-resources/index.html.md
  sites/handbook/source/handbook/marketing/revenue-marketing/sdr/sdr-playbook-onboarding/index.html.md
  sites/handbook/source/handbook/people-group/general-onboarding/mr-buddies/index.html.md
  sites/handbook/source/handbook/people-group/general-onboarding/onboarding-buddies/index.html.md
  sites/handbook/source/handbook/people-group/learning-and-development/newsletter/mental-health-newsletter/FY21-Q4/index.html.md
  sites/handbook/source/handbook/total-rewards/benefits/general-and-entity-benefits/index.html.md
  sites/handbook/source/handbook/total-rewards/benefits/parental-leave-toolkit/index.html.md
  sites/uncategorized/source/blog/blog-posts/2021-03-17-why-do-gitlab-designers-contribute-to-the-codebase.html.md.erb
Due: none

Adds SaaS Subscription cross link
  sites/handbook/source/handbook/support/license-and-renewals/workflows/self-managed/license_for_weekend_emergencies.html.md
Due: none

Release Post: Redesigned Login Page
  data/release_posts/unreleased/manage-redesigned-login-page.yml
  source/images/unreleased/manage-login.png
Due: lint release-post-items, rspec-unit

Updating rotation for September in HB
  sites/handbook/source/handbook/product/product-leadership/index.html.md.erb
Due: none

Update versions
  sites/handbook/source/includes/product/_highlights.erb
Due: none

Drafted levels of edit
  sites/handbook/source/handbook/engineering/ux/technical-writing/index.html.md.erb
Due: none

Adding Ashley Kramer's pets to the employee pet page
  data/pets.yml
  sites/uncategorized/source/images/team/pets/BruceBetty.png
Due: rspec-unit

Updating third-party subprocessors to include Mailgun
  sites/uncategorized/source/privacy/subprocessors/index.html.md
Due: none

Update Recent News
  data/press.yml
  source/images/press/gcn-logo.jpeg
  source/images/press/mssp-alert-logo.jpeg
Due: rspec-unit

Unchanged but required
  sites/handbook/source/handbook/spending-company-money/index.html.md
Due: none

Translated バリュー＞効率＞書き出す
  sites/handbook/source/handbook/values/index.html.md
Due: none

Moved TMRG files
  data/redirects.yml
  sites/uncategorized/source/company/culture/inclusion/tmrg-gitlab-pride/index.html.md
Due: apply-redirects-prod, rspec-unit

ab-add-ankurbedi-to-team-page-aug22
  data/team_members/person/a/ankurbedi.yml
  sites/uncategorized/source/images/team/ankur_gitlab.jpg
Due: rspec-unit

Update weekly updates table:
  sites/handbook/source/handbook/engineering/incubation/ai-assist/index.html.md
Due: none

Adding Executive Sponsorship Learning Content
  sites/uncategorized/source/company/culture/inclusion/erg-guide/index.html.md
Due: none

Spelling
  sites/handbook/source/handbook/engineering/incubation/ai-assist/index.html.md
Due: none

Update Observability direction page.
  source/direction/monitor/observability/index.html.md
Due: none

Path conditions:
  update-gitlab-project-releases-page: any of: sites/uncategorized/source/releases/posts/*-released.html.md
  apply-redirects-prod: any of: data/redirects.yml, bin/apply-exact-match-redirects, bin/apply-regex-redirects
  content-security-policy-checker: any of: source/includes/layout/head.html.haml
  lint release-post-items: any of: data/release_posts/unreleased/*, data/categories.yml, data/stages.yml, source/images/unreleased/*
  rubocop: any of: *.rb, **/*.rb, .rubocop.yml, Dangerfile, *.rake, **/*.rake, bin/**/*, scripts/**/*, Rakefile
  check-handbook-edit-links: any of: data/monorepo.yml, helpers/custom_helpers.rb, **/edit_page.html.haml, **/footer.html.haml, **/handbook-page-toc.haml, **/check_handbook_edit_links.rb
  rspec-unit: any of: spec/**/*, **/*.{js,json,rb,yml}, .rspec
