Repository spicysoft/jp-www-gitlab-com: changes, and which GitLab CI jobs are due for each by the changed paths.
All: update-gitlab-project-releases-page, apply-redirects-prod, content-security-policy-checker, lint release-post-items, rubocop, check-handbook-edit-links, rspec-unit

update-gitlab-project-releases-page:
  cache:
    key: web_ruby-3.0-bullseye
    policy: pull
    paths:
    - vendor
    - node_modules
  before_script:
  - bundle config set path vendor
  - bundle install --quiet --jobs 4
  - yarn install
  stage: content-generation
  needs: []
  script:
  - bundle exec rake release:ee:update_project_releases_page
  ...

apply-redirects-prod:
  cache:
    key: web_ruby-3.0-bullseye
    policy: pull
    paths:
    - vendor
    - node_modules
  before_script:
  - bundle config set path vendor
  - bundle install --quiet --jobs 4
  - yarn install
  stage: build-and-deploy
  environment:
    name: production
  script:
  - export FASTLY_SRV_ID=$FASTLY_SRV_ID_PROD
  ...

content-security-policy-checker:
  image: debian:stable-slim
  stage: test
  needs: []
  script:
  ...

lint release-post-items:
  cache:
    key: web_ruby-3.0-bullseye
    policy: pull
    paths:
    - vendor
    - node_modules
  before_script:
  - bundle config set path vendor
  - bundle install --quiet --jobs 4
  - yarn install
  stage: test
  needs: []
  script:
  - bundle exec bin/validate-release-post-item

rubocop:
  cache:
    key: web_ruby-3.0-bullseye
    policy: pull
    paths:
    - vendor
    - node_modules
  before_script:
  - bundle config set path vendor
  - bundle install --quiet --jobs 4
  - yarn install
  stage: test
  needs: []
  script:
  - bundle exec rubocop

check-handbook-edit-links:
  cache:
    key: web_ruby-3.0-bullseye
    policy: pull
    paths:
    - vendor
    - node_modules
  before_script:
  - bundle config set path vendor
  - bundle install --quiet --jobs 4
  - yarn install
  stage: test
  needs:
  - handbook-build-and-review-deploy
  script:
  - scripts/check-handbook-edit-links.rb

rspec-unit:
  cache:
    key: web_ruby-3.0-bullseye
    policy: pull
    paths:
    - vendor
    - node_modules
  before_script:
  - bundle config set path vendor
  - bundle install --quiet --jobs 4
  - yarn install
  stage: test
  needs: []
  script:
  - bundle exec rspec --tag ~@feature

Update link to time tracking article in Mental Health page
  sites/uncategorized/source/company/culture/all-remote/mental-health/index.html.md.erb
Due: none

Adds new workshop to the events page
  data/events.yml
Due: rspec-unit

Add UCID Guide Link
  sites/handbook/source/handbook/business-technology/data-team/data-catalog/index.html.md
Due: none

add bug prioritization blurb
  sites/handbook/source/handbook/engineering/development/ops/verify/pipeline-execution/index.html.md.erb
Due: none

Update data/release_posts/unreleased/plan-api-endpoint-for-deleting-attachments-from-project.yml
  data/release_posts/unreleased/plan-api-endpoint-for-deleting-attachments-from-project.yml
Due: lint release-post-items, rspec-unit

Adding 15.4 detail and cover image
  sites/uncategorized/source/releases/posts/2022-09-22-gitlab-15-4-released.html.md
  source/images/15_4/15_4-cover-image.jpg
Due: update-gitlab-project-releases-page

Init release post for 15.4
  data/release_posts/15_4/mvp.yml
  sites/uncategorized/source/releases/posts/2022-09-22-gitlab-15-4-released.html.md
  source/images/15_4/.gitkeep
Due: update-gitlab-project-releases-page, rspec-unit

Adding reference to sample CI configuration for reproducing behavior
  sites/handbook/source/handbook/engineering/development/ops/verify/pipeline-authoring/index.html.md.erb
Due: none

made it clear cross-functional initiatives were annual, not a one-off
  sites/uncategorized/source/company/team/structure/working-groups/index.html.md
Due: none

Adding DevOpsDays Houston to the events page.
  data/events.yml
Due: rspec-unit

Add josephburnett to the team page
  data/team_members/person/j/josephburnett.yml
  sites/uncategorized/source/images/team/josephburnett.png
Due: rspec-unit

Updating E-Group Offsite page including meeting topics and cadence
  sites/uncategorized/source/company/offsite/index.html.md
Due: none

Add automated disabling of webhooks
  data/features.yml
Due: rspec-unit

Added a tip for onboarding - Part of onboarding GitLab exercises
  sites/handbook/source/handbook/sales/commercial/index.html.md
Due: none

Update DD OM KPI Results
  sites/handbook/source/handbook/sales/field-operations/sales-operations/Deal-Desk-Order-Mgmt-KPIs/index.html.md
Due: none

Updating who Bhano and Reena report to in the Org Chart - Update data/team_members/person/b/bpippala.yml, data/team_members/person/r/reenayapyee.yml
  data/team_members/person/b/bpippala.yml
  data/team_members/person/r/reenayapyee.yml
Due: rspec-unit

Change exec stakeholder
  sites/uncategorized/source/company/team/structure/working-groups/next-architecture-workflow/index.html.md
Due: none

Add Instructions for Name Change AR issue template
  sites/handbook/source/handbook/business-technology/team-member-enablement/onboarding-access-requests/access-requests/index.html.md
Due: none

Update SA handbook to include pitching PS as a key process
  sites/handbook/source/handbook/customer-success/solutions-architects/processes/index.html.md
Due: none

Update Ops Staff meeting to include sync meeting
  sites/handbook/source/handbook/engineering/development/ops/index.html.md.erb
Due: none

Update Group Conversation Schedule to Remove Revenue Marketing on 2022-10-25
  sites/handbook/source/handbook/group-conversations/index.html.md
Due: none

Geo performance improvements
  data/release_posts/unreleased/performance_improvements.yml
Due: lint release-post-items, rspec-unit

Update isaacdawson team image
  data/team_members/person/i/idawson.yml
  sites/uncategorized/source/images/team/isaacdawson.jpeg
Due: rspec-unit

Add info to the team page
  data/team_members/person/f/franzrivera.yml
  sites/uncategorized/source/images/team/franzrivera.jpg
Due: rspec-unit

Update PDI priorities with new definitions
  sites/handbook/source/handbook/product/product-analysis/index.html.md
Due: none

Update SA VSA handbook pages to include positioning PS
  sites/handbook/source/handbook/customer-success/solutions-architects/sa-practices/value-stream-assessments/index.html.md
Due: none

Update SA POV handbook pages to include positioning PS
  sites/handbook/source/handbook/customer-success/solutions-architects/tools-and-resources/pov/index.html.md
Due: none

Update Eng Analytics team Handbook page: Include URL to Infra's PI page as example in Key Reviews section
  sites/handbook/source/handbook/engineering/quality/engineering-analytics/index.html.md.erb
Due: none

Translated: バリュー>自走と自習
  sites/handbook/source/handbook/values/index.html.md
Due: none

Govern Security Policies Acting EM
  .gitlab/CODEOWNERS
  data/team_members/person/m/maciejparuszewski.yml
Due: rspec-unit

Change TAM to CSM in link to Customer Requested Issues dashboard
  sites/handbook/source/handbook/product/how-to-engage/index.html.md
Due: none

Update CS Ops reporting lines for Nikisha Dumas' team members
  data/team_members/person/c/caitlinmarieankney.yml
  data/team_members/person/j/johnpgamboa.yml
  data/team_members/person/n/nk312.yml
  data/team_members/person/r/rgorbanescu.yml
Due: rspec-unit

Update to include new naming conventions for JO Programs
  sites/handbook/source/handbook/sales/field-operations/customer-success-operations/gainsight/index.html.md
Due: none

Fix back conversion for HUF
  data/currency_conversions.yml
Due: rspec-unit

Add review projects to jay_mccure.yml
  data/team_members/person/j/jay_mccure.yml
Due: rspec-unit

Update RC to Leading Organization with link
  sites/handbook/source/handbook/engineering/index.html.md.erb
Due: none

Update Resident Contributor to Leading Organization in triage-ops
  sites/handbook/source/handbook/engineering/quality/triage-operations/index.html.md
Due: none

Handbook: Updated upcoming and past F&F Days
  sites/uncategorized/source/company/family-and-friends-day/index.html.md
Due: none

Update EM for Product Intelligence
  data/stages.yml
Due: lint release-post-items, rspec-unit

Path conditions:
  update-gitlab-project-releases-page: any of: sites/uncategorized/source/releases/posts/*-released.html.md
  apply-redirects-prod: any of: data/redirects.yml, bin/apply-exact-match-redirects, bin/apply-regex-redirects
  content-security-policy-checker: any of: source/includes/layout/head.html.haml
  lint release-post-items: any of: data/release_posts/unreleased/*, data/categories.yml, data/stages.yml, source/images/unreleased/*
  rubocop: any of: *.rb, **/*.rb, .rubocop.yml, Dangerfile, *.rake, **/*.rake, bin/**/*, scripts/**/*, Rakefile
  check-handbook-edit-links: any of: data/monorepo.yml, helpers/custom_helpers.rb, **/edit_page.html.haml, **/footer.html.haml, **/handbook-page-toc.haml, **/check_handbook_edit_links.rb
  rspec-unit: any of: spec/**/*, **/*.{js,json,rb,yml}, .rspec
