Repository spicysoft/jp-www-gitlab-com: changes, and which GitLab CI jobs are due for each by the changed paths.
All: update-gitlab-project-releases-page, apply-redirects-prod, content-security-policy-checker, lint release-post-items, rubocop, check-handbook-edit-links, rspec-unit

Path conditions:
  update-gitlab-project-releases-page: any of: sites/uncategorized/source/releases/posts/*-released.html.md
  apply-redirects-prod: any of: data/redirects.yml, bin/apply-exact-match-redirects, bin/apply-regex-redirects
  content-security-policy-checker: any of: source/includes/layout/head.html.haml
  lint release-post-items: any of: data/release_posts/unreleased/*, data/categories.yml, data/stages.yml, source/images/unreleased/*
  rubocop: any of: *.rb, **/*.rb, .rubocop.yml, Dangerfile, *.rake, **/*.rake, bin/**/*, scripts/**/*, Rakefile
  check-handbook-edit-links: any of: data/monorepo.yml, helpers/custom_helpers.rb, **/edit_page.html.haml, **/footer.html.haml, **/handbook-page-toc.haml, **/check_handbook_edit_links.rb
  rspec-unit: any of: spec/**/*, **/*.{js,json,rb,yml}, .rspec

Update digital experience handbook page
  sites/handbook/source/handbook/marketing/digital-experience/index.html.md
  sites/uncategorized/source/blog/blog-posts/2021-02-26-ceo-shadow-takeaways-from-barker.html.md.erb
  sites/uncategorized/source/job-families/marketing/digital-experience/index.html.md
  sites/uncategorized/source/job-families/marketing/frontend-engineer-marketing/index.html.md
  sites/uncategorized/source/job-families/marketing/fullstack-engineer-marketing/index.html.md
  sites/uncategorized/source/job-families/marketing/product-designer-ux-marketing/index.html.md
  sites/uncategorized/source/job-families/marketing/product-manager-marketing/index.html.md
Due: none

Fix Crisis Management internal handbook link
  sites/handbook/source/handbook/communication/index.html.md
Due: none

Add a link to a currency conversion website.
  sites/handbook/source/handbook/finance/expenses/index.html.md
Due: none

Initial draft of release post
  data/release_posts/unreleased/manage-email-the-user-when-their-twofactor-otp-attempt-is-wrong.yml
Due: lint release-post-items, rspec-unit

Email the user when their two-factor OTP attempt is wrong
  data/release_posts/unreleased/manage-email-the-user-when-their-twofactor-otp-attempt-is-wrong.yml
Due: lint release-post-items, rspec-unit

Updating category to array
  data/release_posts/unreleased/manage-email-the-user-when-their-twofactor-otp-attempt-is-wrong.yml
Due: lint release-post-items, rspec-unit

Add image of email
  data/release_posts/unreleased/manage-email-the-user-when-their-twofactor-otp-attempt-is-wrong.yml
  data/release_posts/unreleased/manage-otp-email.png
Due: lint release-post-items, rspec-unit

Remove image from wrong directory
  data/release_posts/unreleased/manage-otp-email.png
Due: lint release-post-items

Apply 1 suggestion(s) to 1 file(s)
  data/release_posts/unreleased/manage-transparent-sso-enforcement-for-group-members.yml
Due: lint release-post-items, rspec-unit

Initial draft of description
  data/release_posts/unreleased/manage-transparent-sso-enforcement-for-group-members.yml
Due: lint release-post-items, rspec-unit

Move customer results above dogfooding in values operating principles
  sites/handbook/source/handbook/values/index.html.md
Due: none

Initial draft of release post for commit API update
  data/release_posts/unreleased/manage-add-commit-email-user-attribute-to-the-api-model-for-users-.yml
Due: lint release-post-items, rspec-unit

Add image
  source/images/unreleased/manage-otp-email.png
Due: lint release-post-items

Update index.md
  sites/handbook/source/handbook/customer-success/customer-content/index.html.md
Due: none

Add Omar Fernandez and Isabel Sandin to categories-name file
  sites/handbook/source/includes/product/_categories-names.erb
Due: none

Updated Leading Org legal guidance benefit
  sites/handbook/source/handbook/marketing/community-relations/leading-organizations/index.html.md
Due: none

Changes to credential management page
  source/direction/manage/auth/credential-management/index.html.md
Due: none

Addition of Headcount Metrics and Processes page to define headcount related items
  sites/handbook/source/handbook/finance/financial-planning-and-analysis/headcount-metrics-and-processes/index.html.md
  sites/handbook/source/handbook/finance/financial-planning-and-analysis/index.html.md
Due: none

Slightly change for dates for promos during calibration cycle
  sites/handbook/source/handbook/people-group/talent-assessment/index.html.md
Due: none

Updates swag channel
  sites/handbook/source/handbook/marketing/field-marketing/index.html.md
Due: none

Add leading org workshop google form link
  sites/handbook/source/handbook/marketing/community-relations/leading-organizations/index.html.md
Due: none

Link to top-cross functional initiatives
  sites/handbook/source/handbook/marketing/community-relations/leading-organizations/index.html.md
Due: none

updating "growth potential" language
  sites/handbook/source/handbook/people-group/talent-assessment/index.html.md
Due: none

Add Issue Weighting Guidance to CS Ops Page
  sites/handbook/source/handbook/sales/field-operations/customer-success-operations/index.html.md
Due: none

Add details to AppSec shadow program
  sites/handbook/source/handbook/engineering/security/security-shadow-sec-eng-res.html.md
Due: none

Add FAQ for when AppSec Stable Counterpart is OOO
  sites/handbook/source/handbook/engineering/security/security-engineering-and-research/application-security/runbooks/faq.html.md
Due: none

Job Family Update - add Director, Digital Strategy
  sites/uncategorized/source/job-families/marketing/digital-marketing-programs-manager/index.html.md
Due: none

Update direction link for Security Policies Category
  data/categories.yml
Due: lint release-post-items, rspec-unit

Apply 1 suggestion(s) to 1 file(s)
  data/release_posts/unreleased/usability_improvements.yml
Due: lint release-post-items, rspec-unit

Updating OKR page with criteria
  sites/uncategorized/source/company/okrs/index.html.md
Due: none

新メンバーからの質問 ミッション 政治的な駆け引きはGitLabのバリューに反します
  sites/handbook/source/handbook/values/index.html.md
Due: none

Add Avielle Wolfe as CI template maintainer
  data/team_members/person/a/aviellewolfe.yml
Due: rspec-unit

Update Suleimi Ahmed profile in team page
  data/team_members/person/s/suleimiahmed.yml
  sites/uncategorized/source/images/team/sahmed.jpg
Due: rspec-unit

Add Leading Orgs to Contributor Success handbook
  sites/handbook/source/handbook/engineering/quality/contributor-success/index.html.md.erb
Due: none

Offboard team member - 2022-10-05
  .gitlab/CODEOWNERS
Due: none

Add Michele Bursi as Member into Disaster Recovery WG
  sites/uncategorized/source/company/team/structure/working-groups/disaster-recovery/index.html.md
Due: none

Updated role and reports_to field for Timo Girschik at the Team Page
  data/team_members/person/t/timogirschik.yml
Due: rspec-unit

Removing offboarded team member readme - EJ
  .gitlab/CODEOWNERS
  sites/handbook/source/handbook/product/readme/orit-golowinski.md
Due: none

Add doc link
  data/release_posts/unreleased/manage-shift-option-to-prevent-users-from-creating-groups-to-insta.yml
Due: lint release-post-items, rspec-unit

Add new team members for 2022-10-03
  data/team_members/person/a/adie.po.yml
  data/team_members/person/a/ameyadarshan.yml
  data/team_members/person/a/astao.yml
  data/team_members/person/c/chrisleygraf.yml
  data/team_members/person/c/chrismicek.yml
  data/team_members/person/c/csekizuka.yml
  data/team_members/person/d/dbickford.yml
  data/team_members/person/e/eregnaud.yml
  data/team_members/person/e/erudinsky1.yml
  data/team_members/person/g/gberkman.yml
  data/team_members/person/j/jlep.yml
  data/team_members/person/j/jmonyhan.yml
  data/team_members/person/l/lenabaedorf.yml
  data/team_members/person/l/liselotpoppink.yml
  data/team_members/person/m/mbalzer.yml
  data/team_members/person/p/p_cordero.yml
  data/team_members/person/r/rlawson1.yml
  data/team_members/person/t/timofurrer.yml
Due: rspec-unit
