Repository spicysoft/jp-www-gitlab-com: changes, and which GitLab CI jobs are due for each by the changed paths.
All: update-gitlab-project-releases-page, apply-redirects-prod, content-security-policy-checker, lint release-post-items, rubocop, check-handbook-edit-links, rspec-unit

update-gitlab-project-releases-page:
  cache:
    key: web_ruby-3.0-bullseye
    policy: pull
    paths:
    - vendor
    - node_modules
  before_script:
  - bundle config set path vendor
  - bundle install --quiet --jobs 4
  - yarn install
  stage: content-generation
  needs: []
  script:
  - bundle exec rake release:ee:update_project_releases_page
  ...

apply-redirects-prod:
  cache:
    key: web_ruby-3.0-bullseye
    policy: pull
    paths:
    - vendor
    - node_modules
  before_script:
  - bundle config set path vendor
  - bundle install --quiet --jobs 4
  - yarn install
  stage: build-and-deploy
  environment:
    name: production
  script:
  - export FASTLY_SRV_ID=$FASTLY_SRV_ID_PROD
  ...

content-security-policy-checker:
  image: debian:stable-slim
  stage: test
  needs: []
  script:
  ...

lint release-post-items:
  cache:
    key: web_ruby-3.0-bullseye
    policy: pull
    paths:
    - vendor
    - node_modules
  before_script:
  - bundle config set path vendor
  - bundle install --quiet --jobs 4
  - yarn install
  stage: test
  needs: []
  script:
  - bundle exec bin/validate-release-post-item

rubocop:
  cache:
    key: web_ruby-3.0-bullseye
    policy: pull
    paths:
    - vendor
    - node_modules
  before_script:
  - bundle config set path vendor
  - bundle install --quiet --jobs 4
  - yarn install
  stage: test
  needs: []
  script:
  - bundle exec rubocop

check-handbook-edit-links:
  cache:
    key: web_ruby-3.0-bullseye
    policy: pull
    paths:
    - vendor
    - node_modules
  before_script:
  - bundle config set path vendor
  - bundle install --quiet --jobs 4
  - yarn install
  stage: test
  needs:
  - handbook-build-and-review-deploy
  script:
  - scripts/check-handbook-edit-links.rb

rspec-unit:
  cache:
    key: web_ruby-3.0-bullseye
    policy: pull
    paths:
    - vendor
    - node_modules
  before_script:
  - bundle config set path vendor
  - bundle install --quiet --jobs 4
  - yarn install
  stage: test
  needs: []
  script:
  - bundle exec rspec --tag ~@feature

added picture and info
  data/team_members/person/a/adess-gitlab.yml
  sites/uncategorized/source/images/team/adess.jpg
Due: rspec-unit

Deployment direction update
  source/direction/deployment/index.html.md.erb
Due: none

Updating team page entries folliwing offboarding of KM
  data/team_members/person/a/almoise.yml
  data/team_members/person/c/chriscruz.yml
  data/team_members/person/j/joannamuttiah1.yml
  data/team_members/person/k/kanwal.yml
  data/team_members/person/l/loredana-iluca.yml
  data/team_members/person/r/recruiter-sales-c.yml
  data/team_members/person/r/recruiter.yml
  data/team_members/person/s/ssarff.yml
Due: rspec-unit

added co-author per Vick
  sites/uncategorized/source/blog/blog-posts/2022-10-20-gitlab-and-oracle-partner-for-a-cloud-native-approach-to-modern-application-development.html.md.erb
Due: none

Removing offboarded team member from team page & pet page
  data/pets.yml
Due: rspec-unit

Adding new job family for developers in UX/TW
  sites/uncategorized/source/job-families/product/ux-fullstack-engineer/index.html.md
Due: none

Insert test image using google drawing link
  sites/handbook/source/handbook/sales/training/index.html.md
Due: none

Create Blog Posts “2022-10-20-why-devops-collaboration-continues-to-be-important”
  sites/uncategorized/source/blog/blog-posts/2022-10-20-why-devops-collaboration-continues-to-be-important.html.md.erb
Due: none

added twitter image
  sites/uncategorized/source/blog/blog-posts/2022-10-20-why-devops-collaboration-continues-to-be-important.html.md.erb
Due: none

Upload New File
  source/images/blogimages/gitlab-logo-500new1.jpg
Due: none

formatting issue
  sites/uncategorized/source/blog/blog-posts/2022-10-20-gitlab-and-oracle-partner-for-a-cloud-native-approach-to-modern-application-development.html.md.erb
Due: none

tweaks
  sites/uncategorized/source/blog/blog-posts/2022-10-20-gitlab-and-oracle-partner-for-a-cloud-native-approach-to-modern-application-development.html.md.erb
Due: none

Add maintainers to Opstrace and Opstrace UI
  data/projects.yml
  data/team_members/person/a/ankit.panchal.yml
  data/team_members/person/a/ankitbhatnagar.yml
  data/team_members/person/a/arun.sori.yml
  data/team_members/person/j/joe-shaw.yml
  data/team_members/person/m/murray362.yml
  data/team_members/person/n/nklick.yml
  data/team_members/person/p/peter-leitzen.yml
Due: rspec-unit

Add Release Orchestration JTBDs back into jobs_to_be_done.yml
  data/jobs_to_be_done.yml
Due: rspec-unit

Update TW assignment for runner group
  data/stages.yml
Due: lint release-post-items, rspec-unit

Updated section for Complete key foundational improvements...
  source/direction/fulfillment/index.html.md
Due: none

Updating to advance schedule
  sites/handbook/source/includes/ux-showcase/_schedule.md
Due: none

Update info on the team page
  data/team_members/person/m/mgass1.yml
  sites/uncategorized/source/images/team/manuelgass.png
Due: rspec-unit

Follow-up from "Dev Section Review" - Clarify points on no code/low code
  source/direction/dev/template.html.md.erb
Due: none

Updated provisioners/deprovisoner & busi. owner
  data/tech_stack.yml
Due: rspec-unit

Add Engineering Manager Specialization for the ICEE team in Infrastructure
  sites/uncategorized/source/job-families/engineering/infrastructure/engineering-management/index.html.md
Due: none

Update handbook on process to request new trial license
  sites/handbook/source/handbook/support/license-and-renewals/workflows/self-managed/trials.html.md
Due: none

Update Fulfillment stages assignments
  data/stages.yml
Due: lint release-post-items, rspec-unit

Create new Job Family for Channel Operations Manager (Senior IC) role
  sites/uncategorized/source/job-families/sales/sales-operations/index.html.md.erb
Due: none

Add line for Manuel Gass
  sites/handbook/source/includes/product/_categories-names.erb
Due: none

Add key links to Fulfillment Direction page
  source/direction/fulfillment/index.html.md
Due: none

add language re: weekend escalations
  sites/handbook/source/handbook/engineering/infrastructure/incident-management/index.html.md
Due: none

Smarting POC For FR
  data/redirects.yml
Due: apply-redirects-prod, rspec-unit

Updating "Manage stage" Product PM to Urvi Chetta
  data/stages.yml
Due: lint release-post-items, rspec-unit

Add Manoj as backend maintainer
  data/team_members/person/m/manojmj.yml
Due: rspec-unit

New UXR handbook page: UXR pairings offering
  sites/handbook/source/handbook/product/ux/ux-research-training/ux-researcher-pairings/index.html.md
  sites/handbook/source/handbook/product/ux/ux-research/index.html.md
Due: none

Adjusted configure maturity dates
  data/categories.yml
Due: lint release-post-items, rspec-unit

Adding gl-support-bot token info
  sites/handbook/source/handbook/support/support-ops/documentation/gl-support-bot-tokens.html.md
Due: none

Update Arturo Herrero reporting
  data/team_members/person/a/arturo-herrero.yml
Due: rspec-unit

Updated _categories-names.erb with a link to Teams page
  sites/handbook/source/includes/product/_categories-names.erb
Due: none

Updating guidance for model naming
  sites/handbook/source/handbook/business-technology/data-team/platform/edw/index.html.md
Due: none

Update data/team_members/person/r/ryan-on.yml
  data/team_members/person/r/ryan-on.yml
Due: rspec-unit

Add code owners process to handbook
  sites/handbook/source/handbook/engineering/workflow/code-review/index.html.md.erb
Due: none

Update SQS workshop schedule
  sites/handbook/source/handbook/sales/onboarding/SQS-workshop/index.html.md
Due: none

Path conditions:
  update-gitlab-project-releases-page: any of: sites/uncategorized/source/releases/posts/*-released.html.md
  apply-redirects-prod: any of: data/redirects.yml, bin/apply-exact-match-redirects, bin/apply-regex-redirects
  content-security-policy-checker: any of: source/includes/layout/head.html.haml
  lint release-post-items: any of: data/release_posts/unreleased/*, data/categories.yml, data/stages.yml, source/images/unreleased/*
  rubocop: any of: *.rb, **/*.rb, .rubocop.yml, Dangerfile, *.rake, **/*.rake, bin/**/*, scripts/**/*, Rakefile
  check-handbook-edit-links: any of: data/monorepo.yml, helpers/custom_helpers.rb, **/edit_page.html.haml, **/footer.html.haml, **/handbook-page-toc.haml, **/check_handbook_edit_links.rb
  rspec-unit: any of: spec/**/*, **/*.{js,json,rb,yml}, .rspec
