Repository spicysoft/jp-www-gitlab-com: changes, and which GitLab CI jobs are due for each by the changed paths.
All: update-gitlab-project-releases-page, apply-redirects-prod, content-security-policy-checker, lint release-post-items, rubocop, check-handbook-edit-links, rspec-unit

Path conditions:
  update-gitlab-project-releases-page: any of: sites/uncategorized/source/releases/posts/*-released.html.md
  apply-redirects-prod: any of: data/redirects.yml, bin/apply-exact-match-redirects, bin/apply-regex-redirects
  content-security-policy-checker: any of: source/includes/layout/head.html.haml
  lint release-post-items: any of: data/release_posts/unreleased/*, data/categories.yml, data/stages.yml, source/images/unreleased/*
  rubocop: any of: *.rb, **/*.rb, .rubocop.yml, Dangerfile, *.rake, **/*.rake, bin/**/*, scripts/**/*, Rakefile
  check-handbook-edit-links: any of: data/monorepo.yml, helpers/custom_helpers.rb, **/edit_page.html.haml, **/footer.html.haml, **/handbook-page-toc.haml, **/check_handbook_edit_links.rb
  rspec-unit: any of: spec/**/*, **/*.{js,json,rb,yml}, .rspec

Update cs_team_tag for Integrations and Foundations
  data/stages.yml
Due: lint release-post-items, rspec-unit

doc: Update team name in justintobler.yml
  data/team_members/person/j/justintobler.yml
Due: rspec-unit

Update language for manager/mentor role in the process to become maintainer
  sites/handbook/source/handbook/engineering/workflow/code-review/index.html.md.erb
Due: none

Add new team members for 2022-10-04
  data/team_members/person/m/markbradatsch.yml
  data/team_members/person/m/mhamda.yml
  data/team_members/person/y/yinyinghuang.yml
Due: rspec-unit

Fixed a broken link in Line#98
  sites/handbook/source/handbook/support/workflows/ticket_triage.html.md
Due: none

Add Forrester TEI Ultimate to Resources page
  data/resources.yml
Due: rspec-unit

Sync specialty to team page - 2022-10-06
  data/team_members/person/a/alex-kalderimis.yml
  data/team_members/person/a/andysoiron.yml
  data/team_members/person/a/arturo-herrero.yml
  data/team_members/person/a/ashrafkhamis.yml
  data/team_members/person/b/bmarjanovic.yml
  data/team_members/person/c/christendybenko.yml
  data/team_members/person/j/jayjoshua.yml
  data/team_members/person/j/justinho.yml
  data/team_members/person/l/liborvanc.yml
  data/team_members/person/l/luke-duncalfe.yml
  data/team_members/person/m/mark-florian.yml
  data/team_members/person/m/mike-greiling.yml
  data/team_members/person/o/olenahoralkoretska.yml
  data/team_members/person/q/quang-minh-nguyen.yml
Due: rspec-unit

Update sites/handbook/source/handbook/engineering/incubation/real-time-collaboration/index.html.md
  sites/handbook/source/handbook/engineering/incubation/real-time-collaboration/index.html.md
Due: none

update danmh maintainer status
  data/team_members/person/d/danmh.yml
Due: rspec-unit

Remove line breaks
  source/direction/geo/index.html.md.erb
Due: none

Add Configure performance improvements
  data/release_posts/unreleased/performance_improvements.yml
Due: lint release-post-items, rspec-unit

Add Configure notable bugs
  data/release_posts/unreleased/bugs.yml
Due: lint release-post-items, rspec-unit

Add UX Researcher for Foundations
  data/stages.yml
Due: lint release-post-items, rspec-unit

Adding my name as author
  sites/uncategorized/source/blog/blog-posts/2022-10-04-the-many-routes-to-a-tech-career.html.md.erb
Due: none

Update Timo Furrer in team page
  data/team_members/person/t/timofurrer.yml
  sites/uncategorized/source/images/team/timofurrer.jpg
Due: rspec-unit

Replace link for underrepresented groups
  sites/handbook/source/handbook/engineering/internships/index.html.md
Due: none

Creating a new file to host the legacy open source agreement which will...
  sites/handbook/source/handbook/legal/legacy/legacy-ospa-v1/index.html.md
  sites/handbook/source/handbook/legal/legacy/legacy-psa-v1/index.html.md
  sites/handbook/source/handbook/legal/legacy/legacy-subscription-agreement-v2/index.html.md
  sites/handbook/source/handbook/legal/legacy/legacy-subscription-agreement-v3/index.html.md
Due: none

Suggest one report per month for efficiency
  sites/handbook/source/handbook/finance/expenses/index.html.md
Due: none

Update MLHF DEX handbook page
  sites/handbook/source/handbook/marketing/digital-experience/major-league-hacking-fellows/index.html.md
Due: none

Update to include Security Program Management role
  sites/handbook/source/handbook/engineering/security/index.html.md.erb
Due: none

Add Grace Jackson to the team page
  data/team_members/person/g/gjackson5.yml
  sites/uncategorized/source/images/team/gracejackson.jpeg
Due: rspec-unit

Apply 1 suggestion(s) to 1 file(s)
  data/release_posts/unreleased/manage-transparent-sso-enforcement-for-group-members.yml
Due: lint release-post-items, rspec-unit

Team page onboarding update
  data/team_members/person/d/david.mauer.yml
  sites/uncategorized/source/images/team/davidmauer.jpeg
Due: rspec-unit

Cleanup of contributor success handbook page
  sites/handbook/source/handbook/engineering/quality/contributor-success/index.html.md.erb
Due: none

Adds department and speciality for MHamda
  data/team_members/person/m/mhamda.yml
Due: rspec-unit

Fix internal redirect
  source/layouts/release.haml
Due: none

Fixed a formatting issue and added an additional support eligibility term
  sites/handbook/source/handbook/support/internal-support/support-ticket-attention-requests.html.md
Due: none

Add technical evaluation gdoc to acquisition process
  sites/handbook/source/handbook/acquisitions/acquisition-process/index.html.md
Due: none

Fix update redirect link
  sites/uncategorized/source/releases/posts/2021-10-28-security-release-gitlab-14-4-1-released.html.md
  sites/uncategorized/source/releases/posts/2021-12-06-security-release-gitlab-14-5-2-released.html.md
  sites/uncategorized/source/releases/posts/2021-12-10-security-release-gitlab-runner-14-5-2-released.html.md
  sites/uncategorized/source/releases/posts/2022-01-11-security-release-gitlab-14-6-2-released.html.md
  sites/uncategorized/source/releases/posts/2022-02-03-security-release-gitlab-14-7-1-released.html.md
  sites/uncategorized/source/releases/posts/2022-02-25-critical-security-release-gitlab-14-8-2-released.html.md
  sites/uncategorized/source/releases/posts/2022-03-31-critical-security-release-gitlab-14-9-2-released.html.md
  sites/uncategorized/source/releases/posts/2022-05-02-security-release-gitlab-14-10-1-released.html.md
  sites/uncategorized/source/releases/posts/2022-06-01-critical-security-release-gitlab-15-0-1-released.html.md
  sites/uncategorized/source/releases/posts/2022-06-30-critical-security-release-gitlab-15-1-1-released.html.md
  sites/uncategorized/source/releases/posts/2022-07-28-security-release-gitlab-15-2-1-released.html.md
  sites/uncategorized/source/releases/posts/2022-08-30-critical-security-release-gitlab-15-3-2-released.html.md
  sites/uncategorized/source/releases/posts/2022-09-29-security-release-gitlab-15-4-1-released.html.md
  spec/fixtures/generators/releases/files_are_before_cut_off/2017-04-22-gitlab-15-2-released.html.md
Due: update-gitlab-project-releases-page, rspec-unit

Add commitment note for onboarding buddy role
  sites/handbook/source/handbook/support/training/onboarding_buddy.html.md
Due: none

Expand criteria for maintainership on EP projects
  sites/handbook/source/handbook/engineering/quality/project-management/index.html.md
Due: none

Add source to runner fleet score
  data/jobs_to_be_done.yml
Due: rspec-unit

Remove canonical errors in sitemap
  data/redirects.yml
  sites/uncategorized/source/company/culture/inclusion/executive-dib-council/index.html.md
  sites/uncategorized/source/company/top-cross-functional-initiatives/index.html.md
  sites/uncategorized/source/services/implementation/integration/index.html.haml
  sites/uncategorized/source/services/transformation/index.html.haml
  source/direction/analytics/product-intelligence/index.html.md
  source/direction/fulfillment/platform/index.html.md
  source/direction/fulfillment/provision/index.html.md
  source/direction/govern/security_policies/security_policy_management/index.html.md
  source/direction/product-intelligence/index.html.md
Due: apply-redirects-prod, rspec-unit

Update data/team_members/person/e/ekrohn7.yml
  data/team_members/person/e/ekrohn7.yml
Due: rspec-unit

Update data/team_members/person/e/elikrohn.yml
  data/team_members/person/e/elikrohn.yml
Due: rspec-unit

Update data/team_members/person/a/ashahrazad1.yml
  data/team_members/person/a/ashahrazad1.yml
Due: rspec-unit

updating roles and responsibilities to reflect recent resource changes
  sites/handbook/source/handbook/engineering/security/ISMS.html.md
Due: none

Change TAM to CSM in security customer requests handbook
  sites/handbook/source/handbook/security/customer-requests/index.html.md
Due: none

Fix link to support portal troubleshooting page
  sites/handbook/source/handbook/support/internal-support/index.html.md
Due: none

Update Source Code team
  sites/handbook/source/includes/product/_categories-names.erb
Due: none
