Repository spicysoft/jp-www-gitlab-com: changes, and which GitLab CI jobs are due for each by the changed paths.
All: update-gitlab-project-releases-page, apply-redirects-prod, content-security-policy-checker, lint release-post-items, rubocop, check-handbook-edit-links, rspec-unit

Path conditions:
  update-gitlab-project-releases-page: any of: sites/uncategorized/source/releases/posts/*-released.html.md
  apply-redirects-prod: any of: data/redirects.yml, bin/apply-exact-match-redirects, bin/apply-regex-redirects
  content-security-policy-checker: any of: source/includes/layout/head.html.haml
  lint release-post-items: any of: data/release_posts/unreleased/*, data/categories.yml, data/stages.yml, source/images/unreleased/*
  rubocop: any of: *.rb, **/*.rb, .rubocop.yml, Dangerfile, *.rake, **/*.rake, bin/**/*, scripts/**/*, Rakefile
  check-handbook-edit-links: any of: data/monorepo.yml, helpers/custom_helpers.rb, **/edit_page.html.haml, **/footer.html.haml, **/handbook-page-toc.haml, **/check_handbook_edit_links.rb
  rspec-unit: any of: spec/**/*, **/*.{js,json,rb,yml}, .rspec

Correcting typos and adding new links to ENT HB.
  sites/handbook/source/handbook/sales/playbook/index.html.md
Due: none

Remove broken link to monthly announcements
  sites/handbook/source/handbook/people-group/learning-and-development/learning-initiatives/index.html.md
Due: none

Add new L&D team member Kal to the L&D team description
  sites/handbook/source/handbook/people-group/learning-and-development/index.html.md
Due: none

Update Geo's handbook pages on process to request support
  sites/handbook/source/handbook/engineering/development/enablement/systems/geo/index.html.md.erb
Due: none

Updating marketo form fields
  sites/uncategorized/source/company/contact/index.html.haml
Due: none

Release post - Update the top bar menu
  data/release_posts/unreleased/ecosystem-streamline-top-bar-menu.yml
  source/images/unreleased/ecosystem-top-bar-menu-update.png
Due: lint release-post-items, rspec-unit

Clearer instructions on reinstalling Slack app
  data/release_posts/unreleased/ecosystem-enable-slack-app-home-feature.yml
Due: lint release-post-items, rspec-unit

Adding more CSM details to the Account Team page
  sites/handbook/source/handbook/customer-success/account-team/index.html.md
Due: none

Update title and description of Community page
  sites/uncategorized/source/community/index.html.haml
Due: none

Release post for custom domain limit setting
  data/features.yml
  data/release_posts/unreleased/create-limit-pages-custom-domains.yml
  source/images/unreleased/create-pages-domain-limits.png
Due: lint release-post-items, rspec-unit

Update data/team_members/person/s/ssalminen.yml
  data/team_members/person/s/ssalminen.yml
  sites/uncategorized/source/images/team/satusalminen.jpeg
Due: rspec-unit

Add PVS responsibility to Anti-abuse page
  sites/handbook/source/handbook/engineering/development/data-science/anti-abuse/index.html.md.erb
Due: none

Update mjozenazemian.yml with new manager
  data/team_members/person/c/ckuruwita.yml
  data/team_members/person/c/corey-mccarty.yml
  data/team_members/person/k/kerbalette.yml
  data/team_members/person/m/mjozenazemian.yml
Due: rspec-unit

Update support-time-off-buddies.html.md
  sites/handbook/source/handbook/support/support-time-off-buddies.html.md
Due: none

Formatting
  data/release_posts/unreleased/ecosystem-enable-slack-app-home-feature.yml
Due: lint release-post-items, rspec-unit

adjusting the link to the People Analytic project
  sites/handbook/source/handbook/business-technology/data-team/how-we-work/triage/index.html.md
Due: none

Add MVP name and description
  data/release_posts/15_4/mvp.yml
Due: rspec-unit

Apply 1 suggestion(s) to 1 file(s)
  data/release_posts/15_4/mvp.yml
Due: rspec-unit

Adding 15.4 detail and cover image
  sites/uncategorized/source/releases/posts/2022-09-22-gitlab-15-4-released.html.md
  source/images/15_4/15_4-cover-image.jpg
Due: update-gitlab-project-releases-page

Add the deprecations list
  data/release_posts/15_4/deprecation-index-15-4.yml
Due: rspec-unit

Init release post for 15.4
  data/release_posts/15_4/mvp.yml
  sites/uncategorized/source/releases/posts/2022-09-22-gitlab-15-4-released.html.md
  source/images/15_4/.gitkeep
Due: update-gitlab-project-releases-page, rspec-unit

Research Panel Management Handbook Page
  sites/handbook/source/handbook/engineering/ux/ux-research-training/research-panel-management/index.html.md
  sites/handbook/source/handbook/engineering/ux/ux-research/.Rhistory
  sites/handbook/source/handbook/engineering/ux/ux-research/index.html.md
Due: none

Runner recurring release post [15.4]
  data/release_posts/unreleased/verify-runner-recurring-15-4.yml
Due: lint release-post-items, rspec-unit

Release post for new list design for Admin Area > Runners view table
  data/release_posts/unreleased/verify-admin-area-runners-new-table-design.yml
  source/images/unreleased/admin-runners-new-list-design.png
Due: lint release-post-items, rspec-unit

Multiple machine types - SaaS Runners on Linux release post
  data/features.yml
  data/release_posts/unreleased/verify-multiple-machine-types-runner-saas.yml
  source/images/unreleased/select-multiple-gitlab-saas-linux-runners.png
Due: lint release-post-items, rspec-unit

Fix Static Analysis support counterpart
  data/stages.yml
Due: lint release-post-items, rspec-unit

Remove Global Search vacancies
  data/team_members/vacancy/backend-engineer-global-search-1.yml
  data/team_members/vacancy/backend-engineer-global-search-2.yml
  data/team_members/vacancy/backend-engineer-global-search-3.yml
Due: rspec-unit

Suggested Reviewers Release Post
  data/features.yml
  data/release_posts/unreleased/create-code-review-suggested-reviewers.yml
  source/images/unreleased/create-code-review-suggested-reviewers.png
Due: lint release-post-items, rspec-unit

Fixed misspelling
  sites/uncategorized/source/job-families/engineering/infrastructure/site-reliability-engineer/index.html.md
Due: none

remove trailing slash to fix article link
  sites/uncategorized/source/company/mission/index.html.md
Due: none

Distribution 15.4 Release Post
  data/release_posts/unreleased/enablement_distribution_charts.yml
  data/release_posts/unreleased/enablement_distribution_omnibus.yml
  data/release_posts/unreleased/upgrade_git_logger.yml
Due: lint release-post-items, rspec-unit

Add removals index
  data/release_posts/15_4/removal-15-4-index.yml
Due: rspec-unit

Update contribution and improvement counts
  sites/uncategorized/source/releases/posts/2022-09-22-gitlab-15-4-released.html.md
Due: update-gitlab-project-releases-page

Merge, assemble, update counts
  data/release_posts/15_4/create-code-review-suggested-reviewers.yml
  data/release_posts/15_4/ecosystem-enable-slack-app-home-feature.yml
  data/release_posts/15_4/enablement_distribution_charts.yml
  data/release_posts/15_4/enablement_distribution_omnibus.yml
  data/release_posts/15_4/upgrade_git_logger.yml
  data/release_posts/15_4/verify-admin-area-runners-new-table-design.yml
  data/release_posts/15_4/verify-multiple-machine-types-runner-saas.yml
  data/release_posts/15_4/verify-runner-recurring-15-4.yml
  sites/uncategorized/source/releases/posts/2022-09-22-gitlab-15-4-released.html.md
Due: update-gitlab-project-releases-page, rspec-unit

Adding top feature
  data/release_posts/15_4/create-code-review-suggested-reviewers.yml
Due: rspec-unit

Update text with primary features
  sites/uncategorized/source/releases/posts/2022-09-22-gitlab-15-4-released.html.md
Due: update-gitlab-project-releases-page

Fixing link issues
  sites/uncategorized/source/releases/posts/2022-09-22-gitlab-15-4-released.html.md
Due: update-gitlab-project-releases-page

Add feature URL to runner version management ultimate feature
  data/features.yml
Due: rspec-unit
