Repository spicysoft/jp-www-gitlab-com: changes, and which GitLab CI jobs are due for each by the changed paths.
All: update-gitlab-project-releases-page, apply-redirects-prod, content-security-policy-checker, lint release-post-items, rubocop, check-handbook-edit-links, rspec-unit

update-gitlab-project-releases-page:
  cache:
    key: web_ruby-3.0-bullseye
    policy: pull
    paths:
    - vendor
    - node_modules
  before_script:
  - bundle config set path vendor
  - bundle install --quiet --jobs 4
  - yarn install
  stage: content-generation
  needs: []
  script:
  - bundle exec rake release:ee:update_project_releases_page
  ...

apply-redirects-prod:
  cache:
    key: web_ruby-3.0-bullseye
    policy: pull
    paths:
    - vendor
    - node_modules
  before_script:
  - bundle config set path vendor
  - bundle install --quiet --jobs 4
  - yarn install
  stage: build-and-deploy
  environment:
    name: production
  script:
  - export FASTLY_SRV_ID=$FASTLY_SRV_ID_PROD
  ...

content-security-policy-checker:
  image: debian:stable-slim
  stage: test
  needs: []
  script:
  ...

lint release-post-items:
  cache:
    key: web_ruby-3.0-bullseye
    policy: pull
    paths:
    - vendor
    - node_modules
  before_script:
  - bundle config set path vendor
  - bundle install --quiet --jobs 4
  - yarn install
  stage: test
  needs: []
  script:
  - bundle exec bin/validate-release-post-item

rubocop:
  cache:
    key: web_ruby-3.0-bullseye
    policy: pull
    paths:
    - vendor
    - node_modules
  before_script:
  - bundle config set path vendor
  - bundle install --quiet --jobs 4
  - yarn install
  stage: test
  needs: []
  script:
  - bundle exec rubocop

check-handbook-edit-links:
  cache:
    key: web_ruby-3.0-bullseye
    policy: pull
    paths:
    - vendor
    - node_modules
  before_script:
  - bundle config set path vendor
  - bundle install --quiet --jobs 4
  - yarn install
  stage: test
  needs:
  - handbook-build-and-review-deploy
  script:
  - scripts/check-handbook-edit-links.rb

rspec-unit:
  cache:
    key: web_ruby-3.0-bullseye
    policy: pull
    paths:
    - vendor
    - node_modules
  before_script:
  - bundle config set path vendor
  - bundle install --quiet --jobs 4
  - yarn install
  stage: test
  needs: []
  script:
  - bundle exec rspec --tag ~@feature

Adding 2022 survey CTAs to many blogs: Top 5 takeaways from the 2018 Developer Survey
  sites/uncategorized/source/blog/blog-posts/2018-05-14-top-five-takeaways-from-the-developer-survey.html.md.erb
Due: none

Agnes and Tim Team YML Update
  data/team_members/person/a/aoetama.yml
  data/team_members/person/t/ttran.yml
Due: rspec-unit

Adding 2022 survey CTAs to many blogs: People agree that remote work in DevOps creates a stronger DevOps culture
  sites/uncategorized/source/blog/blog-posts/2018-04-17-remote-work-facilitates-devops.html.md.erb
Due: none

Cryptographic Standard
  sites/handbook/source/handbook/engineering/security/cryptographic-standard.html.md
Due: none

Updated Chorus Login Instructions
  sites/handbook/source/handbook/sales/field-operations/sales-operations/go-to-market/chorus/index.html.md
Due: none

Adding 2022 survey CTAs to many blogs: How do developers and managers feel about their jobs?
  sites/uncategorized/source/blog/blog-posts/2018-03-20-managers-more-optimistic-than-developers.html.md.erb
Due: none

Adding 2022 survey CTAs to many blogs: Global Developer Report confirms 2018 is the year for open source and DevOps
  sites/uncategorized/source/blog/blog-posts/2018-03-07-2018-global-developer-report.html.md.erb
Due: none

Updated Team Page picture
  data/team_members/person/d/dlawrence3.yml
  sites/uncategorized/source/images/team/drewlawrence.png
Due: rspec-unit

Aoetama campaigns handbook updates 06132022
  sites/handbook/source/handbook/marketing/demand-generation/campaigns/index.html.md
Due: none

Tweak language for UXS cadence
  sites/handbook/source/handbook/engineering/ux/ux-scorecards/index.html.md
Due: none

Add new cryptographic standard to controlled document list
  sites/handbook/source/handbook/engineering/security/controlled-document-program.html.md
Due: none

Removing duplicate content and fixing grammar
  sites/handbook/source/handbook/customer-success/professional-services-engineering/workflows/internal/root-cause-analysis.html.md
Due: none

Fixing ops links
  sites/handbook/source/handbook/support/workflows/account_verification.html.md
Due: none

Update sites/handbook/source/handbook/sales/channel/channel-programs-ops/index.html.md
  sites/handbook/source/handbook/sales/channel/channel-programs-ops/index.html.md
Due: none

Update support onboarding module order and completion to be more flexible
  sites/handbook/source/handbook/support/training/index.html.md
Due: none

Update data/team_members/person/p/phernandez1.yml
  data/team_members/person/p/phernandez1.yml
Due: rspec-unit

Change Acting GMP for Manage Stage from Viktor to Sarah
  data/stages.yml
Due: lint release-post-items, rspec-unit

Add handbook view statistics section in the handbook/about page
  sites/handbook/source/handbook/about/index.html.md
Due: none

Replace Unbabel_Translation_Required.png
  source/images/support/Unbabel_Translation_Required.png
Due: none

Fix the Header on the CRO Career Development Day
  sites/handbook/source/handbook/sales/crodevday/index.html.md
Due: none

Update line for amended PIAA to remove reference to Senior Director, People Success
  sites/handbook/source/handbook/people-group/contracts-probation-periods/index.html.md.erb
Due: none

Fix image url link
  sites/handbook/source/handbook/customer-success/tam/renewals/images/CSM_AtRisk_Customer_Process.jpeg
Due: none

Update to Conference Booth Setup handbook page
  sites/handbook/source/handbook/marketing/strategic-marketing/demo/conference-booth-setup/index.html.md
Due: none

Add Deepika Guliani as a frontend reviewer
  data/team_members/person/d/deepika.guliani.yml
Due: rspec-unit

Remove dbt upgrade, add link to runbooks.
  sites/handbook/source/handbook/business-technology/data-team/platform/dbt-guide/index.html.md
  sites/handbook/source/handbook/business-technology/data-team/platform/infrastructure/index.html.md
Due: none

Add Alper Akgun domain expertise
  data/domain_expertise.yml
  data/team_members/person/a/alperakgun.yml
Due: rspec-unit

Update link
  sites/uncategorized/source/company/culture/inclusion/erg-guide/index.html.md
Due: none

Edit the workspace handbook page
  sites/handbook/source/handbook/engineering/development/dev/manage/authentication-and-authorization/index.html.md.erb
  sites/handbook/source/handbook/engineering/development/dev/manage/workspace/index.html.md.erb
Due: none

Fix typos in error budgets
  sites/handbook/source/handbook/engineering/development/dev/ecosystem/integrations/index.html.md.erb
Due: none

Add a contribution with the live meetup for the GitLab 15 in June
  data/heroes_contributions.yml
Due: rspec-unit

Add Release Orchestration JTBD
  data/jobs_to_be_done.yml
Due: rspec-unit

Update data/team_members/person/t/tachyons-gitlab.yml
  data/team_members/person/t/tachyons-gitlab.yml
Due: rspec-unit

Broaden cross-functional interview outline
  sites/uncategorized/source/job-families/engineering/technical-writer/index.html.md
Due: none

Fix pedropombeiro's profile
  data/team_members/person/p/pedropombeiro.yml
Due: rspec-unit

Clarified the laptop refresh for buy back
  sites/handbook/source/handbook/business-technology/team-member-enablement/onboarding-access-requests/index.html.md
Due: none

Remove stage meeting doc from shared links
  sites/handbook/source/handbook/engineering/development/dev/manage/_shared_links.erb
Due: none

Update 2022-08-24-a-3-step-plan-for-devops-platform-migration.html.md.erb
  sites/uncategorized/source/blog/blog-posts/2022-08-25-a-3-step-plan-for-devops-platform-migration.html.md.erb
Due: none

Integrations page: Add status heuristic on issues
  sites/handbook/source/handbook/engineering/development/dev/ecosystem/integrations/index.html.md.erb
Due: none

Add knowledge sharing section
  sites/handbook/source/handbook/engineering/development/analytics/product-intelligence/index.html.md.erb
Due: none

Update canonical path
  sites/uncategorized/source/company/culture/inclusion/dib-sponsorship-program/index.html.md
  source/direction/fulfillment/self-service-purchase/index.html.md
Due: none

Path conditions:
  update-gitlab-project-releases-page: any of: sites/uncategorized/source/releases/posts/*-released.html.md
  apply-redirects-prod: any of: data/redirects.yml, bin/apply-exact-match-redirects, bin/apply-regex-redirects
  content-security-policy-checker: any of: source/includes/layout/head.html.haml
  lint release-post-items: any of: data/release_posts/unreleased/*, data/categories.yml, data/stages.yml, source/images/unreleased/*
  rubocop: any of: *.rb, **/*.rb, .rubocop.yml, Dangerfile, *.rake, **/*.rake, bin/**/*, scripts/**/*, Rakefile
  check-handbook-edit-links: any of: data/monorepo.yml, helpers/custom_helpers.rb, **/edit_page.html.haml, **/footer.html.haml, **/handbook-page-toc.haml, **/check_handbook_edit_links.rb
  rspec-unit: any of: spec/**/*, **/*.{js,json,rb,yml}, .rspec
