Repository spicysoft/jp-www-gitlab-com: changes, and which GitLab CI jobs are due for each by the changed paths.
All: update-gitlab-project-releases-page, apply-redirects-prod, content-security-policy-checker, lint release-post-items, rubocop, check-handbook-edit-links, rspec-unit

update-gitlab-project-releases-page:
  cache:
    key: web_ruby-3.0-bullseye
    policy: pull
    paths:
    - vendor
    - node_modules
  before_script:
  - bundle config set path vendor
  - bundle install --quiet --jobs 4
  - yarn install
  stage: content-generation
  needs: []
  script:
  - bundle exec rake release:ee:update_project_releases_page
  ...

apply-redirects-prod:
  cache:
    key: web_ruby-3.0-bullseye
    policy: pull
    paths:
    - vendor
    - node_modules
  before_script:
  - bundle config set path vendor
  - bundle install --quiet --jobs 4
  - yarn install
  stage: build-and-deploy
  environment:
    name: production
  script:
  - export FASTLY_SRV_ID=$FASTLY_SRV_ID_PROD
  ...

content-security-policy-checker:
  image: debian:stable-slim
  stage: test
  needs: []
  script:
  ...

lint release-post-items:
  cache:
    key: web_ruby-3.0-bullseye
    policy: pull
    paths:
    - vendor
    - node_modules
  before_script:
  - bundle config set path vendor
  - bundle install --quiet --jobs 4
  - yarn install
  stage: test
  needs: []
  script:
  - bundle exec bin/validate-release-post-item

rubocop:
  cache:
    key: web_ruby-3.0-bullseye
    policy: pull
    paths:
    - vendor
    - node_modules
  before_script:
  - bundle config set path vendor
  - bundle install --quiet --jobs 4
  - yarn install
  stage: test
  needs: []
  script:
  - bundle exec rubocop

check-handbook-edit-links:
  cache:
    key: web_ruby-3.0-bullseye
    policy: pull
    paths:
    - vendor
    - node_modules
  before_script:
  - bundle config set path vendor
  - bundle install --quiet --jobs 4
  - yarn install
  stage: test
  needs:
  - handbook-build-and-review-deploy
  script:
  - scripts/check-handbook-edit-links.rb

rspec-unit:
  cache:
    key: web_ruby-3.0-bullseye
    policy: pull
    paths:
    - vendor
    - node_modules
  before_script:
  - bundle config set path vendor
  - bundle install --quiet --jobs 4
  - yarn install
  stage: test
  needs: []
  script:
  - bundle exec rspec --tag ~@feature

feat(handbook): Clarify Beautifying UI guidelines
  sites/handbook/source/handbook/engineering/ux/product-design/index.html.md
Due: none

Update chores roster for Oct, Nov, and Dec
  sites/handbook/source/handbook/engineering/ux/technical-writing/index.html.md.erb
Due: none

Add image and info for Hunter Stewart
  data/team_members/person/h/hustewart.yml
  sites/uncategorized/source/images/team/hunterstewart.jpg
Due: rspec-unit

Add trainee_maintainer role to Eugenia Grieff eugeniagrieff.yml
  data/team_members/person/e/eugeniagrieff.yml
Due: rspec-unit

Add cross functional dashboards for govern stage
  sites/handbook/source/handbook/engineering/development/sec/govern/index.html.md.erb
Due: none

Update to the process for Strict Cloud Licensing exemption
  sites/handbook/source/handbook/support/license-and-renewals/workflows/self-managed/cloud-licensing.html.md
Due: none

Better instructions for data team CI pipeline failures.
  sites/handbook/source/handbook/business-technology/data-team/platform/ci-jobs/index.html.md
Due: none

Sync specialty to team page - 2022-09-08
  data/team_members/person/j/jon_jenkins.yml
Due: rspec-unit

Add contributor name
  data/release_posts/unreleased/manage-allow-admins-to-merge-topics.yml
Due: lint release-post-items, rspec-unit

Integrations page: Add capacity planning partial
  sites/handbook/source/handbook/engineering/development/dev/ecosystem/integrations/_capacity_planning.erb
  sites/handbook/source/handbook/engineering/development/dev/ecosystem/integrations/index.html.md.erb
Due: none

Integrations group: Extract monitoring partial
  sites/handbook/source/handbook/engineering/development/dev/ecosystem/integrations/_monitoring.erb
  sites/handbook/source/handbook/engineering/development/dev/ecosystem/integrations/index.html.md.erb
Due: none

Add new team members for 2022-09-06
  data/team_members/person/a/aimeedavid.yml
  data/team_members/person/a/apiotrowski1.yml
  data/team_members/person/b/blaisekilroy.yml
  data/team_members/person/c/cburton1.yml
  data/team_members/person/c/cmurphy5.yml
  data/team_members/person/d/david.mauer.yml
  data/team_members/person/d/dfelton.yml
  data/team_members/person/g/gjackson5.yml
  data/team_members/person/g/gschwam.yml
  data/team_members/person/l/laurenaalves.yml
  data/team_members/person/l/lecallaghan.yml
  data/team_members/person/m/mattmorrison.yml
  data/team_members/person/m/micailagardiner.yml
  data/team_members/person/n/nikishad.yml
  data/team_members/person/p/pcorpus.yml
  data/team_members/person/p/phardy11.yml
  data/team_members/person/t/tiffanymcatee.gitlab.yml
Due: rspec-unit

Merge branch 'master' into 'kgoossens-speakers-bureau'
  source/images/speakers/kgoossens_speaker.png
Due: none

Integrations page: Extract error budgets partial
  sites/handbook/source/handbook/engineering/development/dev/ecosystem/integrations/_error_budgets.erb
  sites/handbook/source/handbook/engineering/development/dev/ecosystem/integrations/index.html.md.erb
Due: none

Add Nick Malcolm to the Speakers Bureau
  data/speakers.yml
  source/images/speakers/nmalcolm.jpg
Due: rspec-unit

Re-added myself including videos 📺
  data/speakers.yml
Due: rspec-unit

Resolved Merge Conflicts
  data/speakers.yml
Due: rspec-unit

Create Blog Posts “2022-09-08-how-smbs-can-save-with-gitlabs-devops-platform”
  sites/uncategorized/source/blog/blog-posts/2022-09-08-how-smbs-can-save-with-gitlabs-devops-platform.html.md.erb
Due: none

Integrations page: Combine monitoring and error budgets
  sites/handbook/source/handbook/engineering/development/dev/ecosystem/integrations/_error_budgets.erb
  sites/handbook/source/handbook/engineering/development/dev/ecosystem/integrations/_monitoring.erb
  sites/handbook/source/handbook/engineering/development/dev/ecosystem/integrations/index.html.md.erb
Due: none

Integrations page: Update Sentry errors link
  sites/handbook/source/handbook/engineering/development/dev/ecosystem/integrations/_monitoring.erb
Due: none

tweaking formatting, heading
  sites/uncategorized/source/blog/blog-posts/2022-09-08-how-smbs-can-save-with-gitlabs-devops-platform.html.md.erb
Due: none

Add MVP participation to MR coach responsibilities
  sites/uncategorized/source/job-families/expert/merge-request-coach/index.html.md
Due: none

Add Workspace bugs to release post
  data/release_posts/unreleased/bugs.yml
Due: lint release-post-items, rspec-unit

Apply 1 suggestion(s) to 1 file(s)
  data/release_posts/unreleased/bugs.yml
Due: lint release-post-items, rspec-unit

Add Upwork Director of Remote Organizational Effectiveness to Head of Remote page
  sites/uncategorized/source/company/culture/all-remote/head-of-remote/index.html.md.erb
Due: none

Link to the release post image
  data/release_posts/unreleased/ecosystem-integrate-shimo-as-wiki-alternative.yml
Due: lint release-post-items, rspec-unit

Apply 1 suggestion(s) to 1 file(s)
  data/release_posts/unreleased/manage-user-availability-schedule-unsetting-status-from-the-user-p.yml
Due: lint release-post-items, rspec-unit

Update documentation link
  data/release_posts/unreleased/manage-user-availability-schedule-unsetting-status-from-the-user-p.yml
Due: lint release-post-items, rspec-unit

Add steps to perform when switching SGGs
  sites/handbook/source/handbook/support/support-global-groups/sgg-faq.html.md
Due: none

Correct an error in the table of fixes.
  sites/uncategorized/source/releases/posts/2022-08-30-critical-security-release-gitlab-15-3-2-released.html.md
Due: update-gitlab-project-releases-page

Adjust LOA process for entity signatories
  sites/handbook/source/handbook/hiring/talent-acquisition-framework/ces-contract-processes/index.html.md
Due: none

Add devops tools topic page
  data/topic_children/devops-tools-explained.yml
Due: rspec-unit

Integrations page: Add milestone planning process
  sites/handbook/source/handbook/engineering/development/dev/ecosystem/integrations/index.html.md.erb
Due: none

Adding Ray Leihe's README
  sites/handbook/source/handbook/marketing/readmes/index.html.md
  sites/handbook/source/handbook/marketing/readmes/ray-leihe.html.md
Due: none

Updating CEO Shadow Schedule
  sites/handbook/source/handbook/ceo/shadow/index.html.md
Due: none

Added Alliances marketing R&R section to HB Page
  sites/handbook/source/handbook/marketing/channel-marketing/index.html.md
Due: none

Strict Cloud License Exemptions: Link to emergency license file workflow
  sites/handbook/source/handbook/support/license-and-renewals/workflows/self-managed/cloud-licensing.html.md
Due: none

Adds @eduardobonet to the Speaker Bureau
  data/speakers.yml
  data/speakers_requirements.yml
  source/images/speakers/ebonet.jpg
Due: rspec-unit

Move Nick to end of November
  sites/handbook/source/includes/ux-showcase/_schedule.md
Due: none

Add Tiffany and update mid-touch to growth
  sites/handbook/source/handbook/customer-success/tam/tam-manager/index.html.md
Due: none

Path conditions:
  update-gitlab-project-releases-page: any of: sites/uncategorized/source/releases/posts/*-released.html.md
  apply-redirects-prod: any of: data/redirects.yml, bin/apply-exact-match-redirects, bin/apply-regex-redirects
  content-security-policy-checker: any of: source/includes/layout/head.html.haml
  lint release-post-items: any of: data/release_posts/unreleased/*, data/categories.yml, data/stages.yml, source/images/unreleased/*
  rubocop: any of: *.rb, **/*.rb, .rubocop.yml, Dangerfile, *.rake, **/*.rake, bin/**/*, scripts/**/*, Rakefile
  check-handbook-edit-links: any of: data/monorepo.yml, helpers/custom_helpers.rb, **/edit_page.html.haml, **/footer.html.haml, **/handbook-page-toc.haml, **/check_handbook_edit_links.rb
  rspec-unit: any of: spec/**/*, **/*.{js,json,rb,yml}, .rspec
