Repository spicysoft/jp-www-gitlab-com: changes, and which GitLab CI jobs are due for each by the changed paths.
All: update-gitlab-project-releases-page, apply-redirects-prod, content-security-policy-checker, lint release-post-items, rubocop, check-handbook-edit-links, rspec-unit

update-gitlab-project-releases-page:
  cache:
    key: web_ruby-3.0-bullseye
    policy: pull
    paths:
    - vendor
    - node_modules
  before_script:
  - bundle config set path vendor
  - bundle install --quiet --jobs 4
  - yarn install
  stage: content-generation
  needs: []
  script:
  - bundle exec rake release:ee:update_project_releases_page
  ...

apply-redirects-prod:
  cache:
    key: web_ruby-3.0-bullseye
    policy: pull
    paths:
    - vendor
    - node_modules
  before_script:
  - bundle config set path vendor
  - bundle install --quiet --jobs 4
  - yarn install
  stage: build-and-deploy
  environment:
    name: production
  script:
  - export FASTLY_SRV_ID=$FASTLY_SRV_ID_PROD
  ...

content-security-policy-checker:
  image: debian:stable-slim
  stage: test
  needs: []
  script:
  ...

lint release-post-items:
  cache:
    key: web_ruby-3.0-bullseye
    policy: pull
    paths:
    - vendor
    - node_modules
  before_script:
  - bundle config set path vendor
  - bundle install --quiet --jobs 4
  - yarn install
  stage: test
  needs: []
  script:
  - bundle exec bin/validate-release-post-item

rubocop:
  cache:
    key: web_ruby-3.0-bullseye
    policy: pull
    paths:
    - vendor
    - node_modules
  before_script:
  - bundle config set path vendor
  - bundle install --quiet --jobs 4
  - yarn install
  stage: test
  needs: []
  script:
  - bundle exec rubocop

check-handbook-edit-links:
  cache:
    key: web_ruby-3.0-bullseye
    policy: pull
    paths:
    - vendor
    - node_modules
  before_script:
  - bundle config set path vendor
  - bundle install --quiet --jobs 4
  - yarn install
  stage: test
  needs:
  - handbook-build-and-review-deploy
  script:
  - scripts/check-handbook-edit-links.rb

rspec-unit:
  cache:
    key: web_ruby-3.0-bullseye
    policy: pull
    paths:
    - vendor
    - node_modules
  before_script:
  - bundle config set path vendor
  - bundle install --quiet --jobs 4
  - yarn install
  stage: test
  needs: []
  script:
  - bundle exec rspec --tag ~@feature

Geo bugs
  data/release_posts/15_5/bugs.yml
Due: rspec-unit

Apply 1 suggestion(s) to 1 file(s)
  data/release_posts/unreleased/release-create-annotated-tags-with-releases-ui.yml
Due: lint release-post-items, rspec-unit

Create annotated tags with Releases UI
  data/release_posts/unreleased/release-create-annotated-tags-with-releases-ui.yml
Due: lint release-post-items, rspec-unit

title
  data/release_posts/unreleased/release-create-annotated-tags-with-releases-ui.yml
Due: lint release-post-items, rspec-unit

updates
  data/release_posts/unreleased/release-create-annotated-tags-with-releases-ui.yml
Due: lint release-post-items, rspec-unit

add screenshot
  data/release_posts/unreleased/release-create-annotated-tags-with-releases-ui.yml
  source/images/unreleased/release-create-annotated-tag.png
Due: lint release-post-items, rspec-unit

move to 15_5 branch
  data/release_posts/15_5/release-create-annotated-tags-with-releases-ui.yml
  source/images/15_5/release-create-annotated-tag.png
Due: rspec-unit

Update link to Manage:Import build board
  sites/handbook/source/handbook/engineering/development/dev/manage/import/index.html.md.erb
Due: none

Add UAE to entity_mapper.yml
  data/entity_mapper.yml
Due: rspec-unit

Flag Juan Silva's profile as available as a mentor
  data/team_members/person/j/juan-silva.yml
Due: rspec-unit

Guidance for model names
  sites/handbook/source/handbook/business-technology/data-team/platform/edw/index.html.md
  sites/handbook/source/handbook/business-technology/data-team/platform/index.html.md
Due: none

Update EBA Team Page
  sites/handbook/source/handbook/eba/index.html.md
Due: none

Update Partner Support page
  sites/handbook/source/handbook/resellers/partner-support/index.html.md
Due: none

NEW PAGE: Update sites/handbook/source/handbook/resellers/partner-help-desk/index.html.md
  sites/handbook/source/handbook/resellers/partner-help-desk/index.html.md
Due: none

Update job families file
  data/people_group/job_families.yml
Due: rspec-unit

Update Recent News Page
  data/press.yml
Due: rspec-unit

Update-EBAHBpage-JimGladen-CindyKing-NEWEBA
  sites/handbook/source/handbook/eba/index.html.md
Due: none

Add lzampier to Gitlab Heroes page
  data/heroes.yml
  source/images/heroes/lzampier.jpg
Due: rspec-unit

Update Notice Period for Adoptive Parents
  sites/handbook/source/handbook/total-rewards/benefits/general-and-entity-benefits/index.html.md
Due: none

Top features and feature improvement
  data/release_posts/15_5/incubation-deploy-apps-to-google-cloud-cloud-seed.yml
  sites/uncategorized/source/releases/posts/2022-10-22-gitlab-15-5-released.html.md
Due: update-gitlab-project-releases-page, rspec-unit

Correcting call to job_families
  sites/uncategorized/source/job-families/chief-executive-officer/index.html.md.erb
Due: none

Remove accidental token inclusion
  lib/tasks/release_post.rake
Due: rubocop

Update data/press.yml
  data/press.yml
Due: rspec-unit

Update EntApps metrics
  sites/handbook/source/handbook/business-technology/metrics/index.html.md
Due: none

Fix title
  sites/uncategorized/source/releases/posts/2022-10-22-gitlab-15-5-released.html.md
Due: update-gitlab-project-releases-page

Apply 1 suggestion(s) to 1 file(s)
  sites/uncategorized/source/releases/posts/2022-10-22-gitlab-15-5-released.html.md
Due: update-gitlab-project-releases-page

Updated B&SM group info
  source/direction/fulfillment/index.html.md
Due: none

Add Urvi Chetta to Team's page on Gitlab.com - Content
  data/team_members/person/u/uchetta.yml
  sites/uncategorized/source/images/team/urvichetta.jpeg
Due: rspec-unit

Late addition: Release post for display all runners in Group view
  data/release_posts/15_5/verify-group-runners-display-all.yml
  source/images/15_5/groups-runners-display-all.png
Due: rspec-unit

Update data/release_posts/unreleased/plan-add-labels-to-a-task.yml,...
  data/release_posts/unreleased/plan-add-labels-to-a-task.yml
  source/images/unreleased/tasks-labels.png
Due: lint release-post-items, rspec-unit

Iterate on Infrastructure Direction for 2H of FY23 and beyond
  sites/handbook/source/handbook/engineering/infrastructure/index.html.md.erb
Due: none

Remove docker refs on registry project description
  data/projects.yml
Due: rspec-unit

Add Manager level to Business Systems Engineer Job Family
  sites/uncategorized/source/job-families/sales/business-systems-engineer/index.html.md.erb
Due: none

Remove Package weekly sync meeting
  sites/handbook/source/handbook/engineering/development/ops/package/index.html.md.erb
Due: none

update learning initiatives
  sites/handbook/source/handbook/people-group/learning-and-development/learning-initiatives/index.html.md
Due: none

Update sites/uncategorized/source/company/culture/inclusion/index.html.md.erb
  sites/uncategorized/source/company/culture/inclusion/index.html.md.erb
Due: none

Procurement metrics added to page
  sites/handbook/source/handbook/finance/procurement/index.html.md
Due: none

Simplify Business Technology KPI page to just be IT metrics
  sites/handbook/source/handbook/business-technology/metrics/index.html.md
Due: none

Migrating feature availability to Fulfillment guide
  sites/handbook/source/handbook/product/fulfillment-guide/index.html.md
Due: none

Path conditions:
  update-gitlab-project-releases-page: any of: sites/uncategorized/source/releases/posts/*-released.html.md
  apply-redirects-prod: any of: data/redirects.yml, bin/apply-exact-match-redirects, bin/apply-regex-redirects
  content-security-policy-checker: any of: source/includes/layout/head.html.haml
  lint release-post-items: any of: data/release_posts/unreleased/*, data/categories.yml, data/stages.yml, source/images/unreleased/*
  rubocop: any of: *.rb, **/*.rb, .rubocop.yml, Dangerfile, *.rake, **/*.rake, bin/**/*, scripts/**/*, Rakefile
  check-handbook-edit-links: any of: data/monorepo.yml, helpers/custom_helpers.rb, **/edit_page.html.haml, **/footer.html.haml, **/handbook-page-toc.haml, **/check_handbook_edit_links.rb
  rspec-unit: any of: spec/**/*, **/*.{js,json,rb,yml}, .rspec
