Repository spicysoft/jp-www-gitlab-com: changes, and which GitLab CI jobs are due for each by the changed paths.
All: update-gitlab-project-releases-page, apply-redirects-prod, content-security-policy-checker, lint release-post-items, rubocop, check-handbook-edit-links, rspec-unit

Path conditions:
  update-gitlab-project-releases-page: any of: sites/uncategorized/source/releases/posts/*-released.html.md
  apply-redirects-prod: any of: data/redirects.yml, bin/apply-exact-match-redirects, bin/apply-regex-redirects
  content-security-policy-checker: any of: source/includes/layout/head.html.haml
  lint release-post-items: any of: data/release_posts/unreleased/*, data/categories.yml, data/stages.yml, source/images/unreleased/*
  rubocop: any of: *.rb, **/*.rb, .rubocop.yml, Dangerfile, *.rake, **/*.rake, bin/**/*, scripts/**/*, Rakefile
  check-handbook-edit-links: any of: data/monorepo.yml, helpers/custom_helpers.rb, **/edit_page.html.haml, **/footer.html.haml, **/handbook-page-toc.haml, **/check_handbook_edit_links.rb
  rspec-unit: any of: spec/**/*, **/*.{js,json,rb,yml}, .rspec

Removed duplicate cve
  sites/uncategorized/source/releases/posts/2022-08-30-critical-security-release-gitlab-15-3-2-released.html.md
Due: update-gitlab-project-releases-page

Update sites/handbook/source/handbook/people-group/learning-and-development/level-up/index.html.md
  sites/handbook/source/handbook/people-group/learning-and-development/level-up/index.html.md
Due: none

Adding 15.3.3 blog post
  sites/uncategorized/source/releases/posts/2022-09-05-gitlab-15-3-3-released.html.md
Due: update-gitlab-project-releases-page

Fix typo on UX roadmaps page
  sites/handbook/source/handbook/engineering/ux/product-design/ux-roadmaps/index.html.md
Due: none

Update team_members for Jerry Seto
  data/team_members/person/j/j.seto.yml
  sites/handbook/source/includes/product/_categories-names.erb
Due: rspec-unit

Add part about time-in-lieu to handbook
  sites/handbook/source/handbook/engineering/infrastructure/incident-management/incident-manager-onboarding/index.html.md.erb
Due: none

Manage:Optimize Direction Updates - adding links to Goals
  source/direction/manage/value_stream_management/index.html.md.erb
Due: none

Update sites/handbook/source/handbook/resellers/index.html.md
  sites/handbook/source/handbook/resellers/index.html.md
Due: none

Create Blog Posts “2022-09-05-a-visual-guide-to-gitlab-ci-caching”
  sites/uncategorized/source/blog/blog-posts/2022-09-05-a-visual-guide-to-gitlab-ci-caching.html.md.erb
Due: none

changed date
  sites/uncategorized/source/blog/blog-posts/2022-09-06-a-visual-guide-to-gitlab-ci-caching.html.md.erb
Due: none

Translated: バリュー>効率>失敗を受け入れる
  sites/handbook/source/handbook/values/index.html.md
Due: none

Split 1 year plans into FY initiatives
  source/direction/product-operations/template.html.md.erb
Due: none

Update sites/handbook/source/handbook/marketing/readmes/index.html.md
  sites/handbook/source/handbook/marketing/readmes/index.html.md
Due: none

Translated バリュー＞効率＞正しい相手のために効率化をする
  sites/handbook/source/handbook/values/index.html.md
Due: none

Update showcase schedule conflicts
  sites/handbook/source/includes/ux-showcase/_schedule.md
Due: none

Update Youtube instructions
  sites/uncategorized/source/job-families/engineering/ux-researcher/index.html.md
Due: none

Tidies up the registration process
  sites/handbook/source/handbook/engineering/cto-staff/index.html.md.erb
Due: none

Upgrade post - Geo - invalid object storage LFS file deletion
  data/release_posts/unreleased/systems-geo-lfs-file-deletion.yml
Due: lint release-post-items, rspec-unit

Remove broken webcasts links
  data/case_studies_slippers/new10.yml
  data/release_posts/2018_01_22_gitlab_10_4_released.yml
  data/resources.yml
  data/speakers.yml
  sites/handbook/source/handbook/marketing/demand-generation/campaigns/landing-pages/index.html.md
  sites/handbook/source/handbook/marketing/strategic-marketing/public-sector-gtm/index.html.md
  sites/handbook/source/handbook/sales/field-communications/field-flash-newsletter/edition-2020-06-02/index.html.md
  sites/handbook/source/handbook/sales/field-communications/field-flash-newsletter/edition-2020-07-07/index.html.md
  sites/handbook/source/handbook/sales/field-communications/field-flash-newsletter/edition-2020-08-06/index.html.md
  sites/uncategorized/source/blog/blog-posts/2018-06-14-gary-gruver-interview-post.html.md.erb
  sites/uncategorized/source/blog/blog-posts/2019-09-26-building-a-cicd-pipeline-in-20-mins.html.md.erb
  sites/uncategorized/source/press/releases/2018-09-19-gitlab-series-d-funding.html.md
Due: rspec-unit

Correct Jerry Seto's name in team.yml
  data/team_members/person/j/j.seto.yml
Due: rspec-unit

Git blog post: speeding up monorepo workflow
  sites/uncategorized/source/blog/blog-posts/2022-09-06-speed-up-your-monorepo-workflow-in-git.html.md.erb
  source/images/blogimages/speedmonorepo.jpg
  source/images/unsplash/library.jpg
Due: none

add in images
  source/images/blogimages/visual-guide-caching/cover.jpg
  source/images/blogimages/visual-guide-caching/vgc-1.png
  source/images/blogimages/visual-guide-caching/vgc-2.png
  source/images/blogimages/visual-guide-caching/vgc-3.png
  source/images/blogimages/visual-guide-caching/vgc-4.png
  source/images/blogimages/visual-guide-caching/vgc-5.png
  source/images/blogimages/visual-guide-caching/vgc-6.png
  source/images/blogimages/visual-guide-caching/vgc-7.png
  source/images/blogimages/visual-guide-caching/vgc-8.png
  source/images/blogimages/visual-guide-caching/vgc-9.png
Due: none

edited tags
  sites/uncategorized/source/blog/blog-posts/2022-09-06-speed-up-your-monorepo-workflow-in-git.html.md.erb
Due: none

Slack spt-pairing channel
  sites/handbook/source/handbook/support/index.html.md.erb
Due: none

Create Blog Posts “2022-09-06-ease-pressure-on-smb-developers-with-a-devops-platform”
  sites/uncategorized/source/blog/blog-posts/2022-09-06-ease-pressure-on-smb-developers-with-a-devops-platform.html.md.erb
Due: none

Update meeting times on Pods Team Page.
  sites/handbook/source/handbook/engineering/development/enablement/data_stores/pods/index.html.md.erb
Due: none

Encourage cross-functional prioritization to be tried before adding a new engineering allocation
  sites/handbook/source/includes/engineering-allocations.md
Due: none

Update GitLab CODEOWNERS
  .gitlab/CODEOWNERS
Due: none

Update...typo in requirements
  sites/uncategorized/source/job-families/legal-and-corporate-affairs/corporate-development/index.html.md
Due: none

Update data/release_posts/unreleased/manage-user-availability-schedule-unsetting-status-from-the-user-p.yml
  data/release_posts/unreleased/manage-user-availability-schedule-unsetting-status-from-the-user-p.yml
Due: lint release-post-items, rspec-unit

remove redundant "one day go on the public market." text
  data/performance_indicators/development_department.yml
  data/performance_indicators/engineering_function.yml
  data/performance_indicators/infrastructure_department.yml
  data/performance_indicators/quality_department.yml
  data/performance_indicators/security_department.yml
Due: rspec-unit

Move READMEs to new team
  data/redirects.yml
  sites/handbook/source/handbook/ceo/chief-of-staff-team/readmes/dmurph/index.html.md
  sites/handbook/source/handbook/ceo/chief-of-staff-team/readmes/index.html.md
  sites/handbook/source/handbook/ceo/chief-of-staff-team/readmes/jessicareeder/index.html.md
  sites/handbook/source/handbook/marketing/readmes/index.html.md
Due: apply-redirects-prod, rspec-unit

Adding admin information on Roles for Level Up
  sites/handbook/source/handbook/people-group/learning-and-development/level-up/index.html.md
Due: none

Update_Waived True-Ups: Policy and Approval Requirements_ sites/handbook/source/handbook/sales/field-operations/order-processing/index.html.md
  sites/handbook/source/handbook/sales/field-operations/order-processing/index.html.md
Due: none

Update_Zuora Quote Configuration Guide, replacing "Existing GitLab Agreement Effective Date" with "MSA Effective Date"
  sites/handbook/source/handbook/sales/field-operations/sales-operations/deal-desk/index.html.md
Due: none

Adding Gitlab Dedicated and RCA to BCP plan
  sites/handbook/source/handbook/business-technology/gitlab-business-continuity-plan/index.html.md
Due: none

Update 'Plan: Project Management' product designer
  sites/handbook/source/handbook/product/groups/project-management/index.html.md.erb
Due: none

Fix headings hierarchy and spacing
  sites/handbook/source/handbook/people-group/offboarding/index.html.md
Due: none

Dedicated page for MR and approvals settings
  data/release_posts/unreleased/create-mr-settings.yml
  source/images/unreleased/merge-request-menu.png
Due: lint release-post-items, rspec-unit

LR-pet-page-update-Cooper -sept6-misspelling update
  data/pets.yml
Due: rspec-unit
