Repository spicysoft/jp-www-gitlab-com: changes, and which GitLab CI jobs are due for each by the changed paths.
All: update-gitlab-project-releases-page, apply-redirects-prod, content-security-policy-checker, lint release-post-items, rubocop, check-handbook-edit-links, rspec-unit

update-gitlab-project-releases-page:
  cache:
    key: web_ruby-3.0-bullseye
    policy: pull
    paths:
    - vendor
    - node_modules
  before_script:
  - bundle config set path vendor
  - bundle install --quiet --jobs 4
  - yarn install
  stage: content-generation
  needs: []
  script:
  - bundle exec rake release:ee:update_project_releases_page
  ...

apply-redirects-prod:
  cache:
    key: web_ruby-3.0-bullseye
    policy: pull
    paths:
    - vendor
    - node_modules
  before_script:
  - bundle config set path vendor
  - bundle install --quiet --jobs 4
  - yarn install
  stage: build-and-deploy
  environment:
    name: production
  script:
  - export FASTLY_SRV_ID=$FASTLY_SRV_ID_PROD
  ...

content-security-policy-checker:
  image: debian:stable-slim
  stage: test
  needs: []
  script:
  ...

lint release-post-items:
  cache:
    key: web_ruby-3.0-bullseye
    policy: pull
    paths:
    - vendor
    - node_modules
  before_script:
  - bundle config set path vendor
  - bundle install --quiet --jobs 4
  - yarn install
  stage: test
  needs: []
  script:
  - bundle exec bin/validate-release-post-item

rubocop:
  cache:
    key: web_ruby-3.0-bullseye
    policy: pull
    paths:
    - vendor
    - node_modules
  before_script:
  - bundle config set path vendor
  - bundle install --quiet --jobs 4
  - yarn install
  stage: test
  needs: []
  script:
  - bundle exec rubocop

check-handbook-edit-links:
  cache:
    key: web_ruby-3.0-bullseye
    policy: pull
    paths:
    - vendor
    - node_modules
  before_script:
  - bundle config set path vendor
  - bundle install --quiet --jobs 4
  - yarn install
  stage: test
  needs:
  - handbook-build-and-review-deploy
  script:
  - scripts/check-handbook-edit-links.rb

rspec-unit:
  cache:
    key: web_ruby-3.0-bullseye
    policy: pull
    paths:
    - vendor
    - node_modules
  before_script:
  - bundle config set path vendor
  - bundle install --quiet --jobs 4
  - yarn install
  stage: test
  needs: []
  script:
  - bundle exec rspec --tag ~@feature

doc: Fix Handbook links in stages.yml
  data/stages.yml
Due: lint release-post-items, rspec-unit

Added Widely used Acronym for Value Stream Assessment + links to acronyms
  sites/handbook/source/handbook/people-group/general-onboarding/tanewki-tips/index.html.md
Due: none

Link to CSE location in Google Drive
  sites/handbook/source/handbook/customer-success/csm/cse/index.html.md
Due: none

Adding image for release post 15.5 MR110742
  source/images/unreleased/plan-cross-group-issue-linking.png
Due: lint release-post-items

Apply 1 suggestion(s) to 1 file(s)
  data/release_posts/15_5/mvp.yml
Due: rspec-unit

Update Values assessment link
  sites/handbook/source/handbook/values/index.html.md
Due: none

Apply 1 suggestion(s) to 1 file(s)
  data/release_posts/unreleased/bugs.yml
Due: lint release-post-items, rspec-unit

edits
  sites/uncategorized/source/blog/blog-posts/2022-10-17-how-modern-devops-practices-are-changing-the-operations-role.html.md.erb
Due: none

Apply 1 suggestion(s) to 1 file(s)
  data/release_posts/unreleased/release-provide-release-description-from-tag-in-cicd-pipeline-vari.yml
Due: lint release-post-items, rspec-unit

update title
  data/release_posts/unreleased/release-provide-release-description-from-tag-in-cicd-pipeline-vari.yml
Due: lint release-post-items, rspec-unit

Apply 1 suggestion(s) to 1 file(s)
  data/release_posts/unreleased/release-update-a-release-through-releasecli.yml
Due: lint release-post-items, rspec-unit

Updating MQL definition, date, and FO status of a MQL
  sites/handbook/source/handbook/marketing/strategy-performance/marketing-metrics/index.html.md
Due: none

Rename to .gitlab/merge_request_templates/Group-Stage-Category-Change.md
  .gitlab/merge_request_templates/Group-Stage-Category-Change.md
Due: none

Update maintainers for gemnasium-db
  data/team_members/person/d/dbolkensteyn.yml
  data/team_members/person/i/idawson.yml
  data/team_members/person/j/julian-t.yml
  data/team_members/person/m/michaelhenriksen.yml
Due: rspec-unit

Apply 1 suggestion(s) to 1 file(s)
  data/release_posts/unreleased/manage-github-importer--scrape-images-to-gitlab-and-update-markdow.yml
Due: lint release-post-items, rspec-unit

update mlh handbook
  sites/handbook/source/handbook/marketing/digital-experience/major-league-hacking-fellows/index.html.md
Due: none

updates instructions for High Priority campaign
  sites/handbook/source/handbook/marketing/marketing-operations/campaigns-and-programs/index.html.md
Due: none

Remove link to deprecated Category Health page
  sites/handbook/source/includes/product/_categories.erb
Due: none

Proposing F&F days with Nov-Jan dates
  sites/uncategorized/source/company/family-and-friends-day/index.html.md
Due: none

Update Infrastructure Performance Indicators to make Labeled Spend a KPI, while reducing the Corrective Actions to regular PI
  data/performance_indicators/infrastructure_department.yml
Due: rspec-unit

Fix header anchor reference
  sites/handbook/source/handbook/engineering/infrastructure/incident-management/index.html.md
Due: none

Added Michael Balzer onboarding feedback video
  sites/handbook/source/handbook/people-group/general-onboarding/onboarding-feedback/index.html.md
Due: none

Upgrade post - Geo moves container registry to ssf
  data/release_posts/unreleased/systems-geo-move-container-registry-to-ssf.yml
Due: lint release-post-items, rspec-unit

Sunset devops-tools in favor of competition
  data/redirects.yml
  sites/uncategorized/source/devops-tools/index.html.haml
Due: apply-redirects-prod, rspec-unit

Updates Manage Direction based on the latest org change
  source/direction/manage/templates/_groups.erb
Due: none

Release post - Geo adds alert metric image replication
  data/release_posts/unreleased/systems-geo-alert-metric-image-replication.yml
Due: lint release-post-items, rspec-unit

Remove 10/14 Webinar and Office Hours
  sites/handbook/source/handbook/customer-success/csm/segment/scale/webinar-calendar/index.html.md
Due: none

Remove a confidential issue
  data/release_posts/unreleased/bugs.yml
Due: lint release-post-items, rspec-unit

Update handbook for full dbt refresh
  sites/handbook/source/handbook/business-technology/data-team/platform/infrastructure/index.html.md
Due: none

Update CY 23 information for Open Enrollment
  sites/handbook/source/handbook/total-rewards/benefits/general-and-entity-benefits/inc-benefits-us/index.html.md
Due: none

Distribution release post 15.5
  data/release_posts/unreleased/enablement_distribution_chart.yml
  data/release_posts/unreleased/enablement_distribution_omnibus.yml
Due: lint release-post-items, rspec-unit

Fix canonical for fulfillment platform
  source/direction/fulfillment/platform/index.html.md
Due: none

Fix Rocco Entry on GitLab pet's page
  data/pets.yml
  sites/uncategorized/source/images/team/pets/rocco.jpg
Due: rspec-unit

Path conditions:
  update-gitlab-project-releases-page: any of: sites/uncategorized/source/releases/posts/*-released.html.md
  apply-redirects-prod: any of: data/redirects.yml, bin/apply-exact-match-redirects, bin/apply-regex-redirects
  content-security-policy-checker: any of: source/includes/layout/head.html.haml
  lint release-post-items: any of: data/release_posts/unreleased/*, data/categories.yml, data/stages.yml, source/images/unreleased/*
  rubocop: any of: *.rb, **/*.rb, .rubocop.yml, Dangerfile, *.rake, **/*.rake, bin/**/*, scripts/**/*, Rakefile
  check-handbook-edit-links: any of: data/monorepo.yml, helpers/custom_helpers.rb, **/edit_page.html.haml, **/footer.html.haml, **/handbook-page-toc.haml, **/check_handbook_edit_links.rb
  rspec-unit: any of: spec/**/*, **/*.{js,json,rb,yml}, .rspec
