Repository spicysoft/jp-www-gitlab-com: changes, and which GitLab CI jobs are due for each by the changed paths.
All: update-gitlab-project-releases-page, apply-redirects-prod, content-security-policy-checker, lint release-post-items, rubocop, check-handbook-edit-links, rspec-unit

update-gitlab-project-releases-page:
  cache:
    key: web_ruby-3.0-bullseye
    policy: pull
    paths:
    - vendor
    - node_modules
  before_script:
  - bundle config set path vendor
  - bundle install --quiet --jobs 4
  - yarn install
  stage: content-generation
  needs: []
  script:
  - bundle exec rake release:ee:update_project_releases_page
  ...

apply-redirects-prod:
  cache:
    key: web_ruby-3.0-bullseye
    policy: pull
    paths:
    - vendor
    - node_modules
  before_script:
  - bundle config set path vendor
  - bundle install --quiet --jobs 4
  - yarn install
  stage: build-and-deploy
  environment:
    name: production
  script:
  - export FASTLY_SRV_ID=$FASTLY_SRV_ID_PROD
  ...

content-security-policy-checker:
  image: debian:stable-slim
  stage: test
  needs: []
  script:
  ...

lint release-post-items:
  cache:
    key: web_ruby-3.0-bullseye
    policy: pull
    paths:
    - vendor
    - node_modules
  before_script:
  - bundle config set path vendor
  - bundle install --quiet --jobs 4
  - yarn install
  stage: test
  needs: []
  script:
  - bundle exec bin/validate-release-post-item

rubocop:
  cache:
    key: web_ruby-3.0-bullseye
    policy: pull
    paths:
    - vendor
    - node_modules
  before_script:
  - bundle config set path vendor
  - bundle install --quiet --jobs 4
  - yarn install
  stage: test
  needs: []
  script:
  - bundle exec rubocop

check-handbook-edit-links:
  cache:
    key: web_ruby-3.0-bullseye
    policy: pull
    paths:
    - vendor
    - node_modules
  before_script:
  - bundle config set path vendor
  - bundle install --quiet --jobs 4
  - yarn install
  stage: test
  needs:
  - handbook-build-and-review-deploy
  script:
  - scripts/check-handbook-edit-links.rb

rspec-unit:
  cache:
    key: web_ruby-3.0-bullseye
    policy: pull
    paths:
    - vendor
    - node_modules
  before_script:
  - bundle config set path vendor
  - bundle install --quiet --jobs 4
  - yarn install
  stage: test
  needs: []
  script:
  - bundle exec rspec --tag ~@feature

Add Juliet Wanjohi as Fabio Pitino's trainee maintainer
  data/maintainer_mentorship.yml
Due: rspec-unit

Updating ab-test docs
  sites/handbook/source/handbook/marketing/digital-experience/engineering-ab-tests/index.html.md
  source/images/digital-experience/ab-tests/remove-register-nav/variantA.png
  source/images/digital-experience/ab-tests/remove-register-nav/variantB.png
Due: none

Update avatars in suggested reviewers release image
  source/images/15_4/create-code-review-suggested-reviewers.png
Due: none

Update Product Catalog Handbook Page to Align with Updated SKU Process
  sites/handbook/source/handbook/business-technology/enterprise-applications/guides/product-catalog/index.html.md
Due: none

Add Interim entry for Kevin Comoli
  sites/handbook/source/includes/product/_categories-names.erb
Due: none

Updating style guide for lists
  sites/handbook/source/handbook/markdown-guide/index.html.md
Due: none

Fixed typo in the image sources
  sites/handbook/source/handbook/tools-and-tips/mac/index.html.md
Due: none

Adding Your 4th Trimester to the Parental Leave Handbook page
  sites/handbook/source/handbook/total-rewards/benefits/general-and-entity-benefits/index.html.md
  sites/handbook/source/handbook/total-rewards/benefits/parental-leave-toolkit/index.html.md
Due: none

Handbook: Add Community Programs redirect; fix community-operations URLs
  data/redirects.yml
  sites/handbook/source/handbook/marketing/corporate-marketing/social-marketing/community-management/index.html.md
Due: apply-redirects-prod, rspec-unit

Replacement of 'Final Sales OTE FY 20-21' sheet with Workday report
  sites/handbook/source/handbook/people-group/promotions-transfers/index.html.md
Due: none

Added that GU India only processes exits on working days
  sites/handbook/source/handbook/people-group/relocation/index.html.md.erb
Due: none

Add Franz to the team
  sites/handbook/source/handbook/total-rewards/index.html.haml
Due: none

Change Threat Insights office hours to Monday
  sites/handbook/source/handbook/engineering/development/sec/govern/threat-insights/index.html.md.erb
Due: none

Add Overview, Mission, and update Vision to Observability direction
  source/direction/monitor/observability/index.html.md
Due: none

Update sites/handbook/source/handbook/sales/field-operations/gtm-resources/rules-of-engagement/index.html.md
  sites/handbook/source/handbook/sales/field-operations/gtm-resources/rules-of-engagement/index.html.md
Due: none

Update job family with grade changes
  sites/uncategorized/source/job-families/marketing/channel-and-alliances-marketing/index.html.md
Due: none

Update TM grade change
  sites/uncategorized/source/job-families/marketing/technical-marketing-manager/index.html.md
Due: none

Update Manager, Product Marketing Management job grade
  sites/uncategorized/source/job-families/marketing/product-marketing-management/index.html.md
Due: none

Improved ROE language effective 2022-09-22
  sites/handbook/source/handbook/sales/commercial/index.html.md
Due: none

Add hiring process to the Dir Globalization role
  sites/uncategorized/source/job-families/marketing/globalization/index.html.md
Due: none

fix typo of #engineering-fyi channel name
  sites/handbook/source/handbook/engineering/index.html.md.erb
Due: none

Update remote story formatting
  data/team_members/person/p/pcalder.yml
Due: rspec-unit

Update sites/uncategorized/source/job-families/people-ops/diversity-inclusion-partner/index.html.md
  sites/uncategorized/source/job-families/people-ops/diversity-inclusion-partner/index.html.md
Due: none

Added TISAX Self-Attestation to CAP
  sites/uncategorized/source/security/cap/index.html.haml
Due: none

New joiner Team page profile update - Jess Wang
  data/team_members/person/j/jesswang_gitlab.yml
  sites/uncategorized/source/images/team/jesswang.jpg
Due: rspec-unit

Link to GitLab project
  sites/uncategorized/source/company/culture/inclusion/tmrg-global-voices/index.html.md
Due: none

Fix regular meetings listing
  sites/handbook/source/handbook/engineering/development/enablement/data_stores/pods/index.html.md.erb
Due: none

Offboard team member - 2022-09-23
  data/team_members/person/a/alangeary.yml
  data/team_members/person/a/annierooke.yml
  data/team_members/person/c/channels-ed-c.yml
  data/team_members/person/c/cnovello.yml
  data/team_members/person/d/dadevos.yml
  data/team_members/person/m/mcoughlan.yml
  data/team_members/person/m/mueda1.yml
  data/team_members/person/w/wpteo.yml
Due: rspec-unit

added clarifiction to vulnerability management SLAs around non-production environments
  sites/handbook/source/handbook/engineering/security/threat-management/vulnerability-management/index.html.md
Due: none

Offboard team member - 2022-09-20
  data/team_members/person/h/hendylopes.yml
  data/team_members/person/j/jonschuster.yml
  data/team_members/person/p/patrickbyrne.yml
  data/team_members/person/p/paul-d.yml
  data/team_members/person/p/pete-m.yml
  data/team_members/person/s/stevemoore.yml
Due: rspec-unit

Apply 1 suggestion(s) to 1 file(s)
  data/release_posts/unreleased/manage-shift-option-to-prevent-users-from-creating-groups-to-insta.yml
Due: lint release-post-items, rspec-unit

Uploaded new content updates
  sites/uncategorized/source/blog/blog-posts/2019-08-12-developer-intro-sast-dast.html.md.erb
  sites/uncategorized/source/blog/blog-posts/2022-03-08-key-organizational-models-for-devops-teams.html.md.erb
Due: none

Enable Link Linter for Community Relations handbook & update wrong URL anchors
  lib/lint/handbook_link_linter/relative_link_checker.rb
  sites/handbook/source/handbook/marketing/community-relations/community-programs/automated-community-programs/index.html.md
  sites/handbook/source/handbook/marketing/community-relations/community-programs/automated-community-programs/startups-program-verification/index.html.md
  sites/handbook/source/handbook/marketing/community-relations/community-programs/community-program-applications/common-tasks/index.html.md
  sites/handbook/source/handbook/marketing/community-relations/community-programs/community-program-applications/email-and-zendesk-macros/index.html.md
  sites/handbook/source/handbook/marketing/community-relations/community-programs/community-program-applications/index.html.md
  sites/handbook/source/handbook/marketing/community-relations/developer-evangelism/learn-developer-evangelism/index.html.md
  sites/handbook/source/handbook/marketing/community-relations/education-program/education-evangelism/index.html.md
  sites/handbook/source/handbook/marketing/community-relations/opensource-program/index.html.md
  sites/handbook/source/handbook/marketing/community-relations/project-management/index.html.md
  sites/handbook/source/handbook/sales/field-operations/order-processing/index.html.md
Due: rubocop, rspec-unit

Adding a link to our Handbook page instead of listing our appointment schedules
  sites/handbook/source/handbook/people-group/offboarding/faq.html.md
Due: none

Update data/team_members/person/n/nradina.yml
  data/team_members/person/n/nradina.yml
Due: rspec-unit

adding detail to Laptop Metrics Page
  sites/handbook/source/handbook/business-technology/team-member-enablement/laptop-metrics/index.html.md
Due: none

Create Blog Posts “2022-09-23-to-come”
  sites/uncategorized/source/blog/blog-posts/2022-09-23-to-come.html.md.erb
Due: none

adds video on how to see transfer reporting
  sites/handbook/source/handbook/marketing/strategy-performance/allocadia/index.html.md
Due: none

Update Support Management contact for Fulfillment
  sites/handbook/source/handbook/support/license-and-renewals/index.html.md
Due: none

Path conditions:
  update-gitlab-project-releases-page: any of: sites/uncategorized/source/releases/posts/*-released.html.md
  apply-redirects-prod: any of: data/redirects.yml, bin/apply-exact-match-redirects, bin/apply-regex-redirects
  content-security-policy-checker: any of: source/includes/layout/head.html.haml
  lint release-post-items: any of: data/release_posts/unreleased/*, data/categories.yml, data/stages.yml, source/images/unreleased/*
  rubocop: any of: *.rb, **/*.rb, .rubocop.yml, Dangerfile, *.rake, **/*.rake, bin/**/*, scripts/**/*, Rakefile
  check-handbook-edit-links: any of: data/monorepo.yml, helpers/custom_helpers.rb, **/edit_page.html.haml, **/footer.html.haml, **/handbook-page-toc.haml, **/check_handbook_edit_links.rb
  rspec-unit: any of: spec/**/*, **/*.{js,json,rb,yml}, .rspec
