Repository spicysoft/jp-www-gitlab-com: changes, and which GitLab CI jobs are due for each by the changed paths.
All: update-gitlab-project-releases-page, apply-redirects-prod, content-security-policy-checker, lint release-post-items, rubocop, check-handbook-edit-links, rspec-unit

update-gitlab-project-releases-page:
  cache:
    key: web_ruby-3.0-bullseye
    policy: pull
    paths:
    - vendor
    - node_modules
  before_script:
  - bundle config set path vendor
  - bundle install --quiet --jobs 4
  - yarn install
  stage: content-generation
  needs: []
  script:
  - bundle exec rake release:ee:update_project_releases_page
  ...

apply-redirects-prod:
  cache:
    key: web_ruby-3.0-bullseye
    policy: pull
    paths:
    - vendor
    - node_modules
  before_script:
  - bundle config set path vendor
  - bundle install --quiet --jobs 4
  - yarn install
  stage: build-and-deploy
  environment:
    name: production
  script:
  - export FASTLY_SRV_ID=$FASTLY_SRV_ID_PROD
  ...

content-security-policy-checker:
  image: debian:stable-slim
  stage: test
  needs: []
  script:
  ...

lint release-post-items:
  cache:
    key: web_ruby-3.0-bullseye
    policy: pull
    paths:
    - vendor
    - node_modules
  before_script:
  - bundle config set path vendor
  - bundle install --quiet --jobs 4
  - yarn install
  stage: test
  needs: []
  script:
  - bundle exec bin/validate-release-post-item

rubocop:
  cache:
    key: web_ruby-3.0-bullseye
    policy: pull
    paths:
    - vendor
    - node_modules
  before_script:
  - bundle config set path vendor
  - bundle install --quiet --jobs 4
  - yarn install
  stage: test
  needs: []
  script:
  - bundle exec rubocop

check-handbook-edit-links:
  cache:
    key: web_ruby-3.0-bullseye
    policy: pull
    paths:
    - vendor
    - node_modules
  before_script:
  - bundle config set path vendor
  - bundle install --quiet --jobs 4
  - yarn install
  stage: test
  needs:
  - handbook-build-and-review-deploy
  script:
  - scripts/check-handbook-edit-links.rb

rspec-unit:
  cache:
    key: web_ruby-3.0-bullseye
    policy: pull
    paths:
    - vendor
    - node_modules
  before_script:
  - bundle config set path vendor
  - bundle install --quiet --jobs 4
  - yarn install
  stage: test
  needs: []
  script:
  - bundle exec rspec --tag ~@feature

Added Section about Clearing the State of a dashboard + Changed TAM to CSM on the Gainsight Admin Handbook Page
  sites/handbook/source/handbook/sales/field-operations/customer-success-operations/gainsight/index.html.md
Due: none

Update Sr. Manager, Self Service Customer Engagement to Sr. Manager, Self-Service Sales
  sites/uncategorized/source/job-families/sales/Senior-Manager-Self-Service-Customer-Engagement/index.html.md
Due: none

Navigation v1.1.10
  package.json
  yarn.lock
Due: rspec-unit

Translated: バリュー > ニューロダイバーシティーの尊重
  sites/handbook/source/handbook/values/index.html.md
Due: none

Updating Growth output for developing
  sites/handbook/source/handbook/people-group/talent-assessment/index.html.md
Due: none

Adding an IR Analyst job level to the job family
  sites/uncategorized/source/job-families/finance/investor-relations/index.html.md
Due: none

Changing title of document to Privacy Statement
  sites/uncategorized/source/privacy/index.html.md
Due: none

Changing Instances of Privacy Policy to Privacy Statement
  sites/uncategorized/source/privacy/2021-update-faq/index.html.md
Due: none

Update clenneville to report to ddesanto
  data/team_members/person/c/christielenneville.yml
Due: rspec-unit

Update change group owner url
  sites/handbook/source/handbook/support/workflows/account_verification.html.md
Due: none

Add Meilynda to the Demand Gen Handbook Page
  sites/handbook/source/handbook/marketing/demand-generation/campaigns/index.html.md
Due: none

Adding Jay McCure to the product categories page
  data/stages.yml
  sites/handbook/source/includes/product/_categories-names.erb
Due: lint release-post-items, rspec-unit

Changing Instances of Privacy Policy to Privacy Statement
  sites/handbook/source/handbook/legal/privacy/california-privacy-notice.html.md
Due: none

Update Kevin's title for Verify
  data/team_members/person/k/kcomoli.yml
Due: rspec-unit

Sync specialty to team page - 2022-09-22
  data/team_members/person/k/kcomoli.yml
Due: rspec-unit

Change Optimize planning to async
  sites/handbook/source/handbook/engineering/development/dev/manage/optimize/index.html.md.erb
Due: none

Add new team members for 2022-09-20
  data/team_members/person/a/andrewaubury.yml
  data/team_members/person/a/angelawafula.yml
  data/team_members/person/j/jesswang_gitlab.yml
  data/team_members/person/k/klaraagitlab.yml
  data/team_members/person/v/vipraj.yml
Due: rspec-unit

Adding image for AndrewAubury
  data/team_members/person/a/andrewaubury.yml
  sites/uncategorized/source/images/team/andrewaubury.jpeg
Due: rspec-unit

changed publish date
  sites/uncategorized/source/blog/blog-posts/2022-09-22-introducing-the-infrastructure-bill-of-materials.html.md.erb
Due: none

added potentially to "saving time" per legal request about qualifying language
  sites/uncategorized/source/blog/blog-posts/2022-09-22-introducing-the-infrastructure-bill-of-materials.html.md.erb
Due: none

Adding UAE and pausing Spain for hiring until further notice
  sites/handbook/source/handbook/people-group/employment-solutions/index.html.md.erb
Due: none

Update data/team_members/person/v/vmihai.yml
  data/team_members/person/v/vmihai.yml
Due: rspec-unit

Blog Post - GitLab introduces new machine types for GitLab SaaS Runners
  sites/uncategorized/source/blog/blog-posts/2022-09-22-new-machine-types-for-gitlab-saas-runners.html.md.erb
  source/images/blogimages/new-machine-types-gitlab-saas-linux/linux-kernel-build-runner-saas-benchmark.png
  source/images/blogimages/new-machine-types-gitlab-saas-linux/multiple-machine-types-cover.png
Due: none

Add Ryan Appleby to team page
  data/team_members/person/r/ryappleby.yml
  sites/uncategorized/source/images/team/ryanappleby.jpg
Due: rspec-unit

Update bullet points vs. number list
  sites/uncategorized/source/job-families/finance/investor-relations/index.html.md
Due: none

Handbook: Spelling and tweaks on IT Onboarding 101
  sites/handbook/source/handbook/business-technology/team-member-enablement/onboarding101/index.html.md
Due: none

Tech stack: fixing a couple of spelling nits
  data/tech_stack.yml
Due: rspec-unit

Remove NS from handbook
  sites/handbook/source/handbook/product/ux/pajamas-design-system/design-review/index.html.md.erb
  sites/handbook/source/handbook/product/ux/stage-group-ux-strategy/verify/index.html.md
Due: none

Removes operations folder that was accidentally added back
  .gitlab/CODEOWNERS
  sites/handbook/source/handbook/marketing/community-relations/community-operations/automated-community-programs/community-program-applications/common-tasks/index.html.md
  sites/handbook/source/handbook/marketing/community-relations/community-operations/automated-community-programs/community-program-applications/email-and-zendesk-macros/index.html.md
  sites/handbook/source/handbook/marketing/community-relations/community-operations/automated-community-programs/community-program-applications/index.html.md
  sites/handbook/source/handbook/marketing/community-relations/community-operations/automated-community-programs/edu-program-verification/index.html.md
  sites/handbook/source/handbook/marketing/community-relations/community-operations/automated-community-programs/index.html.md
  sites/handbook/source/handbook/marketing/community-relations/community-operations/automated-community-programs/oss-program-verification/index.html.md
  sites/handbook/source/handbook/marketing/community-relations/community-operations/index.html.md.erb
  sites/handbook/source/handbook/marketing/community-relations/community-programs/automated-community-programs/oss-program-verification/index.html.md
  sites/handbook/source/handbook/marketing/community-relations/community-programs/community-program-applications/index.html.md
  sites/handbook/source/handbook/marketing/community-relations/education-program/index.html.md
  sites/handbook/source/handbook/marketing/community-relations/opensource-program/index.html.md
  sites/handbook/source/handbook/marketing/community-relations/workflows-tools/disqus/index.html.md
  sites/handbook/source/handbook/marketing/community-relations/workflows-tools/index.html.md.erb
  sites/handbook/source/handbook/marketing/community-relations/workflows-tools/reddit/index.html.md
  sites/handbook/source/handbook/marketing/revenue-marketing/sdr/index.html.md
Due: none

Update link to Community Programs team and resources
  sites/handbook/source/handbook/sales/sales-operating-procedures/deal-closure/index.html.md
Due: none

Update Community Programs Handbook Links
  sites/handbook/source/handbook/sales/field-operations/order-processing/index.html.md
Due: none

2022-09 Fulfillment Direction updates
  source/direction/fulfillment/index.html.md
  source/direction/fulfillment/purchase/index.html.md
Due: none

Update data/team_members/person/i/igorman.yml
  data/team_members/person/i/igorman.yml
Due: rspec-unit

update
  irisegorman.jpg
Due: none

updates
  data/team_members/person/i/igorman.yml
Due: rspec-unit

Add info to team page
  data/team_members/person/i/igorman.yml
  sites/uncategorized/source/images/team/irisgorman.jpg
Due: rspec-unit

saved pic
  sites/uncategorized/source/images/team/irisegorman.jpg
Due: none

delete duplicate pic
  sites/uncategorized/source/images/team/irisgorman.jpg
Due: none

Adding line item
  sites/handbook/source/handbook/engineering/security/records-retention-deletion.html.md
Due: none

Path conditions:
  update-gitlab-project-releases-page: any of: sites/uncategorized/source/releases/posts/*-released.html.md
  apply-redirects-prod: any of: data/redirects.yml, bin/apply-exact-match-redirects, bin/apply-regex-redirects
  content-security-policy-checker: any of: source/includes/layout/head.html.haml
  lint release-post-items: any of: data/release_posts/unreleased/*, data/categories.yml, data/stages.yml, source/images/unreleased/*
  rubocop: any of: *.rb, **/*.rb, .rubocop.yml, Dangerfile, *.rake, **/*.rake, bin/**/*, scripts/**/*, Rakefile
  check-handbook-edit-links: any of: data/monorepo.yml, helpers/custom_helpers.rb, **/edit_page.html.haml, **/footer.html.haml, **/handbook-page-toc.haml, **/check_handbook_edit_links.rb
  rspec-unit: any of: spec/**/*, **/*.{js,json,rb,yml}, .rspec
