Repository spicysoft/jp-www-gitlab-com: changes, and which GitLab CI jobs are due for each by the changed paths.
All: update-gitlab-project-releases-page, apply-redirects-prod, content-security-policy-checker, lint release-post-items, rubocop, check-handbook-edit-links, rspec-unit

Path conditions:
  update-gitlab-project-releases-page: any of: sites/uncategorized/source/releases/posts/*-released.html.md
  apply-redirects-prod: any of: data/redirects.yml, bin/apply-exact-match-redirects, bin/apply-regex-redirects
  content-security-policy-checker: any of: source/includes/layout/head.html.haml
  lint release-post-items: any of: data/release_posts/unreleased/*, data/categories.yml, data/stages.yml, source/images/unreleased/*
  rubocop: any of: *.rb, **/*.rb, .rubocop.yml, Dangerfile, *.rake, **/*.rake, bin/**/*, scripts/**/*, Rakefile
  check-handbook-edit-links: any of: data/monorepo.yml, helpers/custom_helpers.rb, **/edit_page.html.haml, **/footer.html.haml, **/handbook-page-toc.haml, **/check_handbook_edit_links.rb
  rspec-unit: any of: spec/**/*, **/*.{js,json,rb,yml}, .rspec

Update HUF currency conversion
  data/currency_conversions.yml
Due: rspec-unit

Updated Channel Slack channels - sites/handbook/source/handbook/sales/sales-google-groups/index.html.md
  sites/handbook/source/handbook/sales/sales-google-groups/index.html.md
Due: none

updated channel-fyi to partner-fyi in 2 places on ChOps page - Update sites/handbook/source/handbook/sales/field-operations/channel-operations/index.html.md
  sites/handbook/source/handbook/sales/field-operations/channel-operations/index.html.md
Due: none

Remove closed lost reason instructions from tracking page
  sites/handbook/source/handbook/customer-success/professional-services-engineering/engagement-mgmt/tracking-opps/index.html.md
Due: none

Deleting external page in favor of internal handbook
  sites/handbook/source/handbook/people-group/general-onboarding/onboarding-processes/index.html.md.erb
Due: none

Removed archived Slack channel and clarified that PubSec distribution does not go through Order Ops. Update sites/handbook/source/handbook/sales/field-operations/channel-operations/index.html.md
  sites/handbook/source/handbook/sales/field-operations/channel-operations/index.html.md
Due: none

Adds Implementation Quick Start service description pages
  data/services.yml
  sites/uncategorized/source/services/implementation/implementation-quick-start-ha/index.html.haml
  sites/uncategorized/source/services/implementation/implementation-quick-start/index.html.haml
  sites/uncategorized/source/services/implementation/index.html.haml
Due: rspec-unit

Update link for changing links on /learn page
  sites/handbook/source/handbook/marketing/digital-experience/website/index.html.md
Due: none

Add Lis to triage rotation as back up for Sushma
  sites/handbook/source/handbook/business-technology/data-team/how-we-work/triage/index.html.md
Due: none

Add buttons for 2 organized mentorship programs at GitLab
  sites/handbook/source/handbook/people-group/learning-and-development/mentor/index.html.md.erb
Due: none

Fix spelling error.
  sites/uncategorized/source/company/culture/cross-culture-collaboration-guide/index.html.md
Due: none

Remove a word
  data/release_posts/unreleased/ecosystem-enable-slack-app-home-feature.yml
Due: lint release-post-items, rspec-unit

Remove unused CSS in www-gitlab-com
  .gitlab/CODEOWNERS
Due: none

Removed a few lines
  data/release_posts/unreleased/ecosystem-enable-slack-app-home-feature.yml
Due: lint release-post-items, rspec-unit

Adding Slack App home screenshot
  source/images/unreleased/Slack-App-Home-screenshot.png
Due: lint release-post-items

Updated process link
  sites/handbook/source/handbook/people-group/general-onboarding/index.html.md
Due: none

Adding docs link to ecosystem-enable-slack-app-home-feature.yml
  data/release_posts/unreleased/ecosystem-enable-slack-app-home-feature.yml
Due: lint release-post-items, rspec-unit

Removing a misplaced word
  data/release_posts/unreleased/ecosystem-autodisable-failing-webhooks.yml
Due: lint release-post-items, rspec-unit

Grammar cleanup
  data/release_posts/unreleased/ecosystem-autodisable-failing-webhooks.yml
Due: lint release-post-items, rspec-unit

Add docs link
  data/release_posts/unreleased/ecosystem-autodisable-failing-webhooks.yml
Due: lint release-post-items, rspec-unit

Upload screenshot for failing webhooks alert
  source/images/unreleased/Project_page_with_web_hook_disabled_alert-png-1980_1550-.png
Due: lint release-post-items

Update past/future sessions with latest video on VMware.
  sites/handbook/source/handbook/sales/training/sales-enablement-sessions/index.html.md
Due: none

Updated with new People Connect handles
  sites/handbook/source/handbook/people-group/index.html.md.erb
Due: none

add latest video on VMware
  sites/handbook/source/handbook/sales/training/index.html.md
Due: none

Update source/direction/fulfillment/self-service-purchase/index.html.md
  source/direction/fulfillment/self-service-purchase/index.html.md
Due: none

Add docs and fix punctuation
  data/release_posts/unreleased/ecosystem-integrate-shimo-as-wiki-alternative.yml
Due: lint release-post-items, rspec-unit

Upload New File
  source/images/unreleased/shimo_wiki.png
Due: lint release-post-items

Add Success measures and clarify areas of advisement
  source/direction/product-operations/template.html.md.erb
Due: none

Update scade10 team member YML
  data/team_members/person/s/scade10.yml
  sites/uncategorized/source/images/team/saracade.jpg
Due: rspec-unit

Add QA checklist to navigation handbook page
  sites/handbook/source/handbook/marketing/digital-experience/navigation-repository/index.html.md
Due: none

Replaced standard bullets with numbered.
  .gitlab/merge_request_templates/Release-Post.md
Due: none

removing custom training
  sites/handbook/source/handbook/customer-success/professional-services-engineering/instruct-dev/index.html.md
Due: none

Company: Fixed some spelling in culture/inclusion page
  sites/uncategorized/source/company/culture/inclusion/index.html.md.erb
Due: none

updating TA alignment page to include caroline
  sites/handbook/source/handbook/hiring/recruiting-alignment/index.html.md
Due: none

Update and clarify Prioritization Table
  sites/handbook/source/includes/master-prioritization-list.md
Due: none

Updating the VP, IT job description for the new open role
  sites/uncategorized/source/job-families/finance/VP-Information-Technology/index.html.md
Due: none

accommodation clarification
  sites/handbook/source/handbook/incentives/index.html.md
Due: none

FAQ Formatting Update and +1 Guidance
  sites/handbook/source/handbook/incentives/index.html.md
Due: none
