Repository spicysoft/jp-www-gitlab-com: changes, and which GitLab CI jobs are due for each by the changed paths.
All: update-gitlab-project-releases-page, apply-redirects-prod, content-security-policy-checker, lint release-post-items, rubocop, check-handbook-edit-links, rspec-unit

Path conditions:
  update-gitlab-project-releases-page: any of: sites/uncategorized/source/releases/posts/*-released.html.md
  apply-redirects-prod: any of: data/redirects.yml, bin/apply-exact-match-redirects, bin/apply-regex-redirects
  content-security-policy-checker: any of: source/includes/layout/head.html.haml
  lint release-post-items: any of: data/release_posts/unreleased/*, data/categories.yml, data/stages.yml, source/images/unreleased/*
  rubocop: any of: *.rb, **/*.rb, .rubocop.yml, Dangerfile, *.rake, **/*.rake, bin/**/*, scripts/**/*, Rakefile
  check-handbook-edit-links: any of: data/monorepo.yml, helpers/custom_helpers.rb, **/edit_page.html.haml, **/footer.html.haml, **/handbook-page-toc.haml, **/check_handbook_edit_links.rb
  rspec-unit: any of: spec/**/*, **/*.{js,json,rb,yml}, .rspec

Added section for feedback from Field Security
  sites/handbook/source/handbook/engineering/security/security-assurance/field-security/customer-security-assessment-process.html.md
Due: none

Remove TeamOps redirect
  data/redirects.yml
Due: apply-redirects-prod, rspec-unit

Removing offboarded team member from handbook - KC
  sites/uncategorized/source/company/pricing/index.html.md.erb
  sites/uncategorized/source/company/team/structure/working-groups/product-career-development-framework/index.html.md
Due: none

Offboard team member - 2022-09-30
  .gitlab/CODEOWNERS
  data/team_members/person/i/isharan.yml
  data/team_members/person/l/lmhoang2011.yml
  data/team_members/person/s/seanhall.yml
Due: rspec-unit

Update my info on the team page
  data/team_members/person/a/alexandrecapdevielle.yml
Due: rspec-unit

Update the how-to-get-help.html.md file to include the sec section
  sites/handbook/source/handbook/support/workflows/how-to-get-help.html.md
Due: none

Sync specialty to team page - 2022-10-03
  data/team_members/person/a/ashrafkhamis.yml
  data/team_members/person/d/donique-smit.yml
  data/team_members/person/j/jcaigitlab.yml
  data/team_members/person/k/katiemacoy.yml
  data/team_members/person/p/pavelshutsin.yml
  data/team_members/person/s/samkerr.yml
Due: rspec-unit

Offboard team member - 2022-09-30
  data/pets.yml
  data/team_members/person/a/alexwestbrook.yml
  data/team_members/person/b/brianmwong.yml
  data/team_members/person/c/cristine-s-m.yml
  data/team_members/person/j/jesssalcido.yml
  data/team_members/person/w/wlam.yml
Due: rspec-unit

Update trainee templates and references
  .gitlab/issue_templates/trainee-database-maintainer.md
  .gitlab/merge_request_templates/Backend maintainer.md
  .gitlab/merge_request_templates/Database maintainer.md
  .gitlab/merge_request_templates/Database reviewer.md
  .gitlab/merge_request_templates/Quality-QE-maintainer.md
  sites/handbook/source/handbook/engineering/development/database/index.html.md.erb
  sites/handbook/source/handbook/engineering/development/dev/create/code-review/backend/index.html.md.erb
  sites/handbook/source/handbook/engineering/development/dev/manage/staff-engineers/index.html.md.erb
  sites/handbook/source/handbook/engineering/development/enablement/direction.html.md.erb
  sites/handbook/source/handbook/engineering/development/enablement/systems/distribution/merge_requests.html.md
  sites/handbook/source/handbook/engineering/development/ops/verify/runner/index.html.md.erb
  sites/handbook/source/handbook/engineering/development/sec/secure/static-analysis/code_review.html.md
  sites/handbook/source/handbook/engineering/quality/project-management/index.html.md
  sites/handbook/source/handbook/engineering/workflow/code-review/index.html.md.erb
  sites/uncategorized/source/job-families/engineering/backend-engineer/index.html.md
  sites/uncategorized/source/job-families/engineering/development/backend/index.html.md.erb
  sites/uncategorized/source/job-families/engineering/development/frontend/index.html.md.erb
Due: none

Remove link to defect for CI/CD
  sites/uncategorized/source/pricing/faq-consumption-cicd/index.html.md
Due: none

Add Siddharth Dungarwal to team page
  data/team_members/person/s/siddharthdungarwal.yml
  sites/uncategorized/source/images/team/siddharthdungarwal.png
Due: rspec-unit

Update jpcyiza team page profile
  data/team_members/person/j/jpcyiza.yml
  sites/uncategorized/source/images/team/jpcyiza.jpg
Due: rspec-unit

Apply 1 suggestion(s) to 1 file(s)
  data/release_posts/unreleased/bugs.yml
Due: lint release-post-items, rspec-unit

added in links
  sites/uncategorized/source/blog/blog-posts/2022-10-03-arm-open-source-makes-a-seamless-migration-to-gitlab.html.md.erb
Due: none

Pair Cam and Nick while Pedro is ooo
  sites/handbook/source/handbook/product/ux/how-we-work/design-pair-rotation/index.html.md
Due: none

Mobile DevOps Code Signing Blog Part 3
  sites/uncategorized/source/blog/blog-posts/2022-10-03-mobile-devops-with-gitlab-part-3-code-signing-for-ios-with-gitlab-and-fastlane.html.md.erb
  source/images/blogimages/2022-09-19-mobile-devops-with-gitlab-part-3-code-signing-for-ios-with-gitlab-and-fastlane/match-import.png
  source/images/blogimages/2022-09-19-mobile-devops-with-gitlab-part-3-code-signing-for-ios-with-gitlab-and-fastlane/match-init.png
  source/images/blogimages/2022-09-19-mobile-devops-with-gitlab-part-3-code-signing-for-ios-with-gitlab-and-fastlane/vinicius-amnx-amano-IPemgbj9aDY-unsplash.jpg
Due: none

Add link to Community Code of Conduct
  sites/handbook/source/handbook/people-group/acceptable-use-policy/index.html.md
Due: none

Include sole owner workflow to personal data deletion page
  sites/handbook/source/handbook/support/workflows/personal_data_access_account_deletion.html.md
Due: none

added link to part 3
  sites/uncategorized/source/blog/blog-posts/2022-09-28-mobile-devops-with-gitlab-part-2.html.md.erb
Due: none

Add what to do when a public security MR is opened
  sites/handbook/source/handbook/engineering/security/security-engineering-and-research/application-security/runbooks/faq.html.md
  sites/handbook/source/handbook/engineering/security/security-engineering-and-research/application-security/runbooks/index.html.md
Due: none

Update GitLab Collective info in the handbook
  sites/handbook/source/handbook/marketing/community-relations/workflows-tools/stackoverflow/index.html.md
Due: none

Caleb Cooper internship info in team page
  data/team_members/person/c/calebcooper.yml
Due: rspec-unit

Fix link to the Configure Workflow board
  sites/handbook/source/handbook/engineering/development/ops/configure/index.html.md.erb
Due: none

API working group: Update exit criteria with DRI
  sites/uncategorized/source/company/team/structure/working-groups/api-vision/index.html.md
Due: none

Clarify the difference between Phishing and Smishing
  sites/handbook/source/handbook/security/index.html.md.erb
Due: none

Add stable counterparts for Gitaly team
  data/team_members/person/i/id-backend.yml
  data/team_members/person/v/vasilii-iakliushin.yml
  sites/handbook/source/handbook/engineering/development/enablement/systems/gitaly/index.html.md.erb
Due: rspec-unit

Added Q3 Analyses to PDI Insights List
  sites/handbook/source/handbook/product/product-analysis/dashboards-analysis-insights/index.html.md
Due: none

Update PoV Page
  sites/handbook/source/handbook/customer-success/solutions-architects/tools-and-resources/pov/index.html.md
Due: none

Update ux showcase table
  sites/handbook/source/includes/ux-showcase/_schedule.md
Due: none

Release Stage Category maturity date updates : September
  data/categories.yml
Due: lint release-post-items, rspec-unit

Added covid coverage to travel policy
  sites/handbook/source/handbook/total-rewards/benefits/general-and-entity-benefits/index.html.md
Due: none

Updates to Security Training
  sites/handbook/source/handbook/security/index.html.md.erb
Due: none

Update OKR schedule
  sites/uncategorized/source/company/okrs/fy23-q4/index.html.md
Due: none

Changing one instance of Privacy Policy to Privacy Statement
  sites/handbook/source/handbook/legal/professional-services-agreement/index.html.md
Due: none

Update Support Handbook to document private AMER Managers slack channel name
  sites/handbook/source/handbook/support/index.html.md.erb
Due: none

Changing one instance of Privacy Policy to Privacy Statement
  sites/handbook/source/handbook/legal/subscription-agreement/index.html.md
Due: none

Update link from manager challenge to new Elevate leadership program
  sites/handbook/source/handbook/leadership/build-high-performing-teams/index.html.md
  sites/handbook/source/handbook/leadership/coaching/index.html.md
  sites/handbook/source/handbook/leadership/emotional-intelligence/psychological-safety/index.html.md
  sites/handbook/source/handbook/leadership/index.html.md
Due: none

Add 15.4 MVP
  data/mvps.yml
Due: rspec-unit

Updated 2022-10-13 Group Conversation DRI names
  sites/handbook/source/handbook/group-conversations/index.html.md
Due: none

Add Leading Orgs to Community Relations page
  sites/handbook/source/handbook/marketing/community-relations/index.html.md.erb
Due: none
