Repository spicysoft/jp-www-gitlab-com: changes, and which GitLab CI jobs are due for each by the changed paths.
All: update-gitlab-project-releases-page, apply-redirects-prod, content-security-policy-checker, lint release-post-items, rubocop, check-handbook-edit-links, rspec-unit

Path conditions:
  update-gitlab-project-releases-page: any of: sites/uncategorized/source/releases/posts/*-released.html.md
  apply-redirects-prod: any of: data/redirects.yml, bin/apply-exact-match-redirects, bin/apply-regex-redirects
  content-security-policy-checker: any of: source/includes/layout/head.html.haml
  lint release-post-items: any of: data/release_posts/unreleased/*, data/categories.yml, data/stages.yml, source/images/unreleased/*
  rubocop: any of: *.rb, **/*.rb, .rubocop.yml, Dangerfile, *.rake, **/*.rake, bin/**/*, scripts/**/*, Rakefile
  check-handbook-edit-links: any of: data/monorepo.yml, helpers/custom_helpers.rb, **/edit_page.html.haml, **/footer.html.haml, **/handbook-page-toc.haml, **/check_handbook_edit_links.rb
  rspec-unit: any of: spec/**/*, **/*.{js,json,rb,yml}, .rspec

Update team member details for Joel Krooswyk
  data/team_members/person/j/joel-k.yml
  sites/uncategorized/source/images/team/joelkrooswyk.jpg
Due: rspec-unit

Update LCNC handbook with the latest demo
  sites/handbook/source/handbook/engineering/incubation/no-code/index.html.md
Due: none

Update list of CSM Managers
  sites/handbook/source/handbook/customer-success/csm/csm-manager/index.html.md
Due: none

Add Evan Read as docs maintainer for Gitaly project
  data/team_members/person/e/eread.yml
Due: rspec-unit

add my info to team page
  data/team_members/person/m/mdhakolia.yml
  sites/uncategorized/source/images/team/mukuldhakolia.jpeg
Due: rspec-unit

Updated role information
  data/team_members/person/m/mdhakolia.yml
Due: rspec-unit

Add placeholder that this page is pending update for FY24
  sites/handbook/source/handbook/total-rewards/compensation/compensation-review-cycle/index.html.md
Due: none

Manage:Foundations direction update - Navigation & Settings - October
  source/direction/manage/foundations/navigation_settings/index.html.md
Due: none

Manage:Foundations direction update - Design System - October
  source/direction/manage/foundations/design_system/index.html.md
Due: none

Removed old entry of alert of gitlab.com
  sites/handbook/source/handbook/business-technology/data-team/platform/pipelines/image-7.png
  sites/handbook/source/handbook/business-technology/data-team/platform/pipelines/index.html.md
Due: none

Update Ashraf role
  data/team_members/person/a/ashrafkhamis.yml
Due: rspec-unit

Extract group from link
  data/team_members/person/l/liborvanc.yml
  data/team_members/person/s/sgregory2.yml
Due: rspec-unit

srances update to HB Campaigns Page for Internal Content and External Content
  sites/handbook/source/handbook/marketing/demand-generation/campaigns/content-in-campaigns/index.html.md
Due: none

Update contact management workflow
  sites/handbook/source/handbook/support/license-and-renewals/workflows/billing_contact_change_payments.html.md
  sites/handbook/source/handbook/support/license-and-renewals/workflows/customersdot/associating_purchases.html.md
  sites/handbook/source/handbook/support/license-and-renewals/workflows/self-managed/sending_license_to_different_email.html.md
Due: none

Removing offboarded team member RL - marketing readmes
  sites/handbook/source/handbook/marketing/marketing-operations/index.html.md
  sites/handbook/source/handbook/marketing/readmes/index.html.md
  sites/handbook/source/handbook/marketing/readmes/ray-leihe.html.md
Due: none

Offboard team member - 2022-11-01
  .gitlab/CODEOWNERS
  data/team_members/person/m/michaelpreuss.yml
  data/team_members/person/r/rleihe268.yml
  data/team_members/person/s/sam-awezec.yml
  sites/uncategorized/source/images/team/rleihe268.jpg
Due: rspec-unit

Move Zero Trust down the page
  sites/handbook/source/handbook/security/index.html.md.erb
Due: none

Update marketing main page to match CMO leadership guidance
  sites/handbook/source/handbook/marketing/index.html.md
  sites/handbook/source/handbook/marketing/mktgcustomerjourney.png
  sites/handbook/source/handbook/marketing/mktgcustomerjourneystages.png
Due: none

Sync specialty to team page - 2022-11-01
  data/team_members/person/p/plu8.yml
  data/team_members/person/s/sam-beckham.yml
Due: rspec-unit

Fix handbook identifiers on marketing main handbook page
  sites/handbook/source/handbook/marketing/index.html.md
Due: none

Adding mechanizer reports
  sites/handbook/source/handbook/support/support-ops/documentation/gl-support-bot-tokens.html.md
Due: none

Fix spelling typo
  source/direction/create/editor/remote_development/index.html.md
Due: none

Update data/team_members/person/d/darrenburr.yml
  data/team_members/person/d/darrenburr.yml
Due: rspec-unit

Update data/team_members/person/e/emilyplotkin.yml
  data/team_members/person/e/emilyplotkin.yml
Due: rspec-unit

Update data/team_members/person/t/tarakumpf.yml
  data/team_members/person/t/tarakumpf.yml
Due: rspec-unit

Reorder codeowners to update maintained by
  .gitlab/CODEOWNERS
Due: none

Update data/stages.yml to create a Runner SaaS Group
  data/stages.yml
Due: lint release-post-items, rspec-unit

Formatting error
  sites/handbook/source/handbook/legal/index.html.md
Due: none

Resolve "How to automate testing for a React.js application with GitLab"
  sites/uncategorized/source/blog/blog-posts/2022-11-01-how-to-automate-testing-for-a-react-application-with-gitlab.html.md.erb
  source/images/blogimages/2022-11-04-how-to-automate-testing-for-a-react-application-with-gitlab/ci-pipeline-coverage.png
  source/images/blogimages/2022-11-04-how-to-automate-testing-for-a-react-application-with-gitlab/ci-pipeline-starting.png
  source/images/blogimages/2022-11-04-how-to-automate-testing-for-a-react-application-with-gitlab/ci-pipeline-test-details.png
  source/images/blogimages/2022-11-04-how-to-automate-testing-for-a-react-application-with-gitlab/ci-pipeline-tests.png
  source/images/blogimages/2022-11-04-how-to-automate-testing-for-a-react-application-with-gitlab/cover.jpg
  source/images/blogimages/2022-11-04-how-to-automate-testing-for-a-react-application-with-gitlab/coverage-cli.png
  source/images/blogimages/2022-11-04-how-to-automate-testing-for-a-react-application-with-gitlab/create-react-app.png
  source/images/blogimages/2022-11-04-how-to-automate-testing-for-a-react-application-with-gitlab/passing-test-cli.png
Due: none

Formatting Fix
  sites/handbook/source/handbook/legal/publiccompanyresources/index.html.md
Due: none

DMF Update Time Tracking Section and Replaced Mavenlink name with Kantata
  sites/handbook/source/handbook/customer-success/professional-services-engineering/professional-services-operations/index.html.md
Due: none

Updating the People Analytics Handbook
  sites/handbook/source/handbook/people-group/people-ops-tech-analytics/people-analytics/index.html.md
Due: none

Update maintainer_mentorship.yml to have Fernando Arias be mentioned by Zack Cuddy
  data/maintainer_mentorship.yml
  data/team_members/person/f/fernando-arias.yml
Due: rspec-unit

Add Runner SaaS group to Verify page
  sites/handbook/source/handbook/engineering/development/ops/verify/index.html.md.erb
Due: none

Offboarding of PH updates
  data/team_members/person/b/brettgadberry.yml
  data/team_members/person/c/chesternwachukwu.yml
  data/team_members/person/e/estebandroid.yml
  data/team_members/person/j/jess_perry.yml
  data/team_members/person/o/obicke.yml
  data/team_members/person/o/osnatvider.yml
  data/team_members/person/r/ricardoleite.yml
Due: rspec-unit

Add container-scanning maintainer role
  data/team_members/person/h/hacks4oats.yml
Due: rspec-unit

updated mr due to pipeline issues
  data/team_members/person/p/patrick-h.yml
Due: rspec-unit

Buyer Persona HB Page Enablement Updates
  sites/handbook/source/handbook/marketing/strategic-marketing/roles-personas/buyer-persona/index.html.md
Due: none

Add Gary as Backend Maintainer
  data/team_members/person/g/garyholtz.yml
Due: rspec-unit

Update security policies priorities to categories page
  sites/handbook/source/handbook/engineering/development/sec/govern/security-policies/index.html.md.erb
Due: none
