Repository spicysoft/jp-www-gitlab-com: changes, and which GitLab CI jobs are due for each by the changed paths.
All: update-gitlab-project-releases-page, apply-redirects-prod, content-security-policy-checker, lint release-post-items, rubocop, check-handbook-edit-links, rspec-unit

update-gitlab-project-releases-page:
  cache:
    key: web_ruby-3.0-bullseye
    policy: pull
    paths:
    - vendor
    - node_modules
  before_script:
  - bundle config set path vendor
  - bundle install --quiet --jobs 4
  - yarn install
  stage: content-generation
  needs: []
  script:
  - bundle exec rake release:ee:update_project_releases_page
  ...

apply-redirects-prod:
  cache:
    key: web_ruby-3.0-bullseye
    policy: pull
    paths:
    - vendor
    - node_modules
  before_script:
  - bundle config set path vendor
  - bundle install --quiet --jobs 4
  - yarn install
  stage: build-and-deploy
  environment:
    name: production
  script:
  - export FASTLY_SRV_ID=$FASTLY_SRV_ID_PROD
  ...

content-security-policy-checker:
  image: debian:stable-slim
  stage: test
  needs: []
  script:
  ...

lint release-post-items:
  cache:
    key: web_ruby-3.0-bullseye
    policy: pull
    paths:
    - vendor
    - node_modules
  before_script:
  - bundle config set path vendor
  - bundle install --quiet --jobs 4
  - yarn install
  stage: test
  needs: []
  script:
  - bundle exec bin/validate-release-post-item

rubocop:
  cache:
    key: web_ruby-3.0-bullseye
    policy: pull
    paths:
    - vendor
    - node_modules
  before_script:
  - bundle config set path vendor
  - bundle install --quiet --jobs 4
  - yarn install
  stage: test
  needs: []
  script:
  - bundle exec rubocop

check-handbook-edit-links:
  cache:
    key: web_ruby-3.0-bullseye
    policy: pull
    paths:
    - vendor
    - node_modules
  before_script:
  - bundle config set path vendor
  - bundle install --quiet --jobs 4
  - yarn install
  stage: test
  needs:
  - handbook-build-and-review-deploy
  script:
  - scripts/check-handbook-edit-links.rb

rspec-unit:
  cache:
    key: web_ruby-3.0-bullseye
    policy: pull
    paths:
    - vendor
    - node_modules
  before_script:
  - bundle config set path vendor
  - bundle install --quiet --jobs 4
  - yarn install
  stage: test
  needs: []
  script:
  - bundle exec rspec --tag ~@feature

Making probation period table accessible directly via link
  sites/handbook/source/handbook/people-group/contracts-probation-periods/index.html.md.erb
Due: none

Create observability platform direction
  source/direction/monitor/observability/platform/template.html.md.erb
Due: none

Create observability ui direction
  source/direction/monitor/observability/UI/index.html.md.erb
Due: none

Update Custom Training Link on Professional Services ID PAGE
  sites/handbook/source/handbook/customer-success/professional-services-engineering/instruct-dev/index.html.md
Due: none

Fix broken URLs in the marketing handbook front page
  sites/handbook/source/handbook/marketing/index.html.md
Due: none

DRI expensing
  sites/handbook/source/handbook/incentives/index.html.md
Due: none

Added new release post content
  data/release_posts/15_4/create-code-review-suggested-reviewers.yml
  data/release_posts/15_4/create-limit-pages-custom-domains.yml
  data/release_posts/15_4/create-mr-settings.yml
  data/release_posts/15_4/create-use-pipeline-wizard-for-pages.yml
  data/release_posts/15_4/create-vs-code-cicd-improvements.yml
  data/release_posts/15_4/ecosystem-autodisable-failing-webhooks.yml
  data/release_posts/15_4/ecosystem-enable-slack-app-home-feature.yml
  data/release_posts/15_4/ecosystem-google-chat-threaded-messages.yml
  data/release_posts/15_4/ecosystem-integrate-shimo-as-wiki-alternative.yml
  data/release_posts/15_4/ecosystem-nav-group-push-rules.yml
  data/release_posts/15_4/ecosystem-streamline-top-bar-menu.yml
  data/release_posts/15_4/manage-add-bot-badge-to-bot-users.yml
  data/release_posts/15_4/manage-allow-group-owners-to-selectively-bypass-email-validation-u.yml
  data/release_posts/15_4/manage-redesigned-login-page.yml
  data/release_posts/15_4/monitor-add-timeline-event-from-comment.yml
  data/release_posts/15_4/monitor-links-widget-for-incident-issues.yml
  data/release_posts/15_4/plan-move-cards-on-a-board-to-the-top-or-bottom-of-lists.yml
  data/release_posts/15_4/release-add-associated-release-link-to-single-tag-page.yml
  data/release_posts/15_4/release-show-the-deployment-approval-comment-in-the-ui.yml
  data/release_posts/15_4/verify-admin-area-runners-new-table-design.yml
  data/release_posts/15_4/verify-multiple-machine-types-runner-saas.yml
Due: rspec-unit

Update...
  sites/handbook/source/handbook/customer-success/csm/segment/scale/scale-operating-rhythm/index.html.md
Due: none

Apply 2 suggestion(s) to 2 file(s)
  data/release_posts/15_4/mvp.yml
  sites/uncategorized/source/releases/posts/2022-09-22-gitlab-15-4-released.html.md
Due: update-gitlab-project-releases-page, rspec-unit

Update 2022-09-22-gitlab-15-4-released.html.md
  sites/uncategorized/source/releases/posts/2022-09-22-gitlab-15-4-released.html.md
Due: update-gitlab-project-releases-page

Merge branch 'add-user-engagement' into 'master'
  sites/handbook/source/handbook/marketing/user-engagement/index.html.md
Due: none

Offboard team member - 2022-09-21
  data/team_members/person/p/pmcbrien.yml
Due: rspec-unit

Update sites/uncategorized/source/images/team/pamcorpus.jpg, data/team_members/person/p/pcorpus.yml
  data/team_members/person/p/pcorpus.yml
  sites/uncategorized/source/images/team/pamcorpus.jpg
Due: rspec-unit

TeamOps redirect
  data/redirects.yml
Due: apply-redirects-prod, rspec-unit

Update kcomoli’s role (borrow PA)
  data/team_members/person/k/kcomoli.yml
Due: rspec-unit

Add info on switching from HTTPS to SSH
  sites/handbook/source/handbook/git-page-update/index.html.md.erb
Due: none

Add a quick way for SEs to check if a user is a sales approved prospect or not
  sites/handbook/source/handbook/support/workflows/namesquatting_policy.html.md
Due: none

Zuora CPQ: Update Deal Desk HB page with duplicate charge information
  sites/handbook/source/handbook/sales/field-operations/sales-operations/deal-desk/index.html.md
Due: none

Update OSS Workflow - Fix error
  sites/handbook/source/handbook/marketing/community-relations/community-programs/automated-community-programs/oss-program-verification/index.html.md
Due: none

Added chirp to events in new branch
  data/events.yml
Due: rspec-unit

Annabel arrives
  data/team_members/person/a/apickens.yml
  sites/uncategorized/source/images/team/annabelpickens.jpeg
Due: rspec-unit

Redirect all UX subdirectories
  data/redirects.yml
Due: apply-redirects-prod, rspec-unit

Update product analytics direction with some unique opportunities we have
  source/direction/analytics/product-analytics/index.html.md
Due: none

Removed Edcast from Tech Stack List
  data/tech_stack.yml
Due: rspec-unit

Updated the recommendation on manual migration
  sites/handbook/source/handbook/customer-success/professional-services-engineering/engagement-mgmt/scoping-information/migrations/index.html.md
Due: none

Added Staff+ Initiative Labels and Epic Boards Details to Handbook
  sites/uncategorized/source/job-families/engineering/security-engineer/index.html.md
Due: none

Update PS Project Management Index html with updated terminology and processes
  sites/handbook/source/handbook/customer-success/professional-services-engineering/project-mgmt/index.html.md
  sites/handbook/source/handbook/customer-success/professional-services-engineering/project-mgmt/ps-engagement-framework_v2_09092022.png
Due: none

Typos and reformatting for Wayne Haber readme
  sites/handbook/source/handbook/engineering/readmes/wayne-haber/index.html.md
Due: none

Remove MON-16 as key control
  sites/handbook/source/handbook/engineering/security/security-assurance/security-compliance/sec-controls.html.md
Due: none

Edits per legal
  sites/uncategorized/source/blog/blog-posts/2022-09-21-introducing-the-infrastructure-bill-of-materials.html.md.erb
Due: none

Updating SKO Main Page & Call for Content Page
  sites/handbook/source/handbook/sales/training/SKO/2023/index.html.md
  sites/handbook/source/handbook/sales/training/SKO/SKO-planning/index.html.md
  sites/handbook/source/handbook/sales/training/SKO/index.html.md
Due: none

Updated broken links to Marketing Strategy & Platforms team handbook pages
  sites/handbook/source/handbook/marketing/marketing-strategy-and-platforms/index.html.md
Due: none

Update PA UX DRI on stages.yml
  data/stages.yml
Due: lint release-post-items, rspec-unit

Fix URLs before removal
  sites/handbook/source/handbook/marketing/community-relations/community-operations/automated-community-programs/community-program-applications/common-tasks/index.html.md
  sites/handbook/source/handbook/marketing/community-relations/community-operations/automated-community-programs/community-program-applications/email-and-zendesk-macros/index.html.md
  sites/handbook/source/handbook/marketing/community-relations/community-operations/automated-community-programs/community-program-applications/index.html.md
  sites/handbook/source/handbook/marketing/community-relations/community-operations/automated-community-programs/edu-program-verification/index.html.md
  sites/handbook/source/handbook/marketing/community-relations/community-operations/automated-community-programs/index.html.md
  sites/handbook/source/handbook/marketing/community-relations/community-operations/automated-community-programs/oss-program-verification/index.html.md
  sites/handbook/source/handbook/marketing/community-relations/community-operations/index.html.md.erb
Due: none

Adds details to support flow transfer subscription
  sites/handbook/source/handbook/support/license-and-renewals/workflows/customersdot/associating_purchases.html.md
Due: none

Add info about the Commerce Integrations group
  data/categories.yml
  data/stages.yml
Due: lint release-post-items, rspec-unit

Remove onetrust script from GTM
  source/includes/layout/head.html.haml
Due: content-security-policy-checker

Remove incorrect AP file
  data/team_members/person/a/annabelpickens.yml
Due: rspec-unit

Update purpose language
  sites/uncategorized/source/company/purpose/index.html.md
Due: none

Update approval for SDR org G&D budget
  sites/handbook/source/handbook/total-rewards/benefits/general-and-entity-benefits/growth-and-development/index.html.md
Due: none

Path conditions:
  update-gitlab-project-releases-page: any of: sites/uncategorized/source/releases/posts/*-released.html.md
  apply-redirects-prod: any of: data/redirects.yml, bin/apply-exact-match-redirects, bin/apply-regex-redirects
  content-security-policy-checker: any of: source/includes/layout/head.html.haml
  lint release-post-items: any of: data/release_posts/unreleased/*, data/categories.yml, data/stages.yml, source/images/unreleased/*
  rubocop: any of: *.rb, **/*.rb, .rubocop.yml, Dangerfile, *.rake, **/*.rake, bin/**/*, scripts/**/*, Rakefile
  check-handbook-edit-links: any of: data/monorepo.yml, helpers/custom_helpers.rb, **/edit_page.html.haml, **/footer.html.haml, **/handbook-page-toc.haml, **/check_handbook_edit_links.rb
  rspec-unit: any of: spec/**/*, **/*.{js,json,rb,yml}, .rspec
