Repository spicysoft/jp-www-gitlab-com: changes, and which GitLab CI jobs are due for each by the changed paths.
All: update-gitlab-project-releases-page, apply-redirects-prod, content-security-policy-checker, lint release-post-items, rubocop, check-handbook-edit-links, rspec-unit

Path conditions:
  update-gitlab-project-releases-page: any of: sites/uncategorized/source/releases/posts/*-released.html.md
  apply-redirects-prod: any of: data/redirects.yml, bin/apply-exact-match-redirects, bin/apply-regex-redirects
  content-security-policy-checker: any of: source/includes/layout/head.html.haml
  lint release-post-items: any of: data/release_posts/unreleased/*, data/categories.yml, data/stages.yml, source/images/unreleased/*
  rubocop: any of: *.rb, **/*.rb, .rubocop.yml, Dangerfile, *.rake, **/*.rake, bin/**/*, scripts/**/*, Rakefile
  check-handbook-edit-links: any of: data/monorepo.yml, helpers/custom_helpers.rb, **/edit_page.html.haml, **/footer.html.haml, **/handbook-page-toc.haml, **/check_handbook_edit_links.rb
  rspec-unit: any of: spec/**/*, **/*.{js,json,rb,yml}, .rspec

Minor edit tweaks
  data/release_posts/unreleased/bugs.yml
Due: lint release-post-items, rspec-unit

Add ticket consolidation process
  sites/handbook/source/handbook/support/workflows/federal_tickets.html.md
Due: none

Update Auth group to report to Adil
  data/stages.yml
  data/team_members/person/a/adil.farrukh.yml
  data/team_members/person/b/bdenkovych.yml
  data/team_members/person/d/drew-b.yml
  data/team_members/person/e/eduardosanz.yml
  data/team_members/person/i/imre-f.yml
  data/team_members/person/j/jessieay.yml
  data/team_members/person/s/smriti_gitlab.yml
  data/team_members/person/t/tachyons-gitlab.yml
  sites/handbook/source/includes/product/_categories-names.erb
Due: lint release-post-items, rspec-unit

Community Programs Handbook Reorganization
  sites/handbook/source/handbook/marketing/community-relations/community-programs/automated-community-programs/edu-program-verification/index.html.md
  sites/handbook/source/handbook/marketing/community-relations/community-programs/automated-community-programs/index.html.md
  sites/handbook/source/handbook/marketing/community-relations/community-programs/automated-community-programs/oss-program-verification/index.html.md
  sites/handbook/source/handbook/marketing/community-relations/community-programs/automated-community-programs/startups-program-verification/index.html.md
  sites/handbook/source/handbook/marketing/community-relations/community-programs/community-program-applications/common-tasks/index.html.md
  sites/handbook/source/handbook/marketing/community-relations/community-programs/community-program-applications/email-and-zendesk-macros/index.html.md
  sites/handbook/source/handbook/marketing/community-relations/community-programs/community-program-applications/index.html.md
  sites/handbook/source/handbook/marketing/community-relations/community-programs/index.html.md.erb
  sites/handbook/source/handbook/marketing/community-relations/index.html.md.erb
Due: none

Clarifying the support uploader is not for use in US Federal
  sites/handbook/source/handbook/support/workflows/large_files.html.md
Due: none

Removing 9/13 Webinar and Office Hours
  sites/handbook/source/handbook/customer-success/csm/segment/scale/webinar-calendar/index.html.md
Due: none

Add link to Certify board
  sites/handbook/source/handbook/product/categories/plan/index.html.md.erb
Due: none

Swapping on-call rotation week
  sites/handbook/source/handbook/engineering/quality/quality-engineering/oncall-rotation/index.html.md.erb
Due: none

Apply 2 suggestion(s) to 1 file(s)
  data/release_posts/unreleased/bugs.yml
Due: lint release-post-items, rspec-unit

Apply 2 suggestion(s) to 1 file(s)
  data/release_posts/unreleased/performance_improvements.yml
Due: lint release-post-items, rspec-unit

Remove two bug fixes which were actually done before 15.4
  data/release_posts/unreleased/bugs.yml
Due: lint release-post-items, rspec-unit

Create Blog Posts “2022-09-16-introducing-the-infrastructure-bill-of-materials”
  sites/uncategorized/source/blog/blog-posts/2022-09-16-introducing-the-infrastructure-bill-of-materials.html.md.erb
Due: none

Incident Management - Direction Page Updates
  source/direction/monitor/debugging_and_health/incident_management/incident_management_workflow.png
  source/direction/monitor/debugging_and_health/incident_management/index.html.md
Due: none

Fixed typo error
  data/release_posts/unreleased/performance_improvements.yml
Due: lint release-post-items, rspec-unit

add cover image
  source/images/blogimages/ibom.jpg
Due: none

Update sites/handbook/source/handbook/sales/field-operations/gtm-resources/rules-of-engagement/index.html.md
  sites/handbook/source/handbook/sales/field-operations/gtm-resources/rules-of-engagement/index.html.md
Due: none

edits
  sites/uncategorized/source/blog/blog-posts/2022-09-19-introducing-the-infrastructure-bill-of-materials.html.md.erb
Due: none

Removing incorrect item
  data/release_posts/unreleased/performance_improvements.yml
Due: lint release-post-items, rspec-unit

updating page title and youtube stream link for September
  source/direction/kickoff/template.html.md.erb
Due: none

Update job families file
  data/people_group/job_families.yml
Due: rspec-unit

Adjust target for review app stability KPI
  data/performance_indicators/quality_department.yml
Due: rspec-unit

Release post for GraphQL Schema support
  data/release_posts/unreleased/secure-graphql-schema-support.yml
Due: lint release-post-items, rspec-unit

Fixing RP item format
  data/release_posts/unreleased/plan-add-assignees-to-a-task.yml
Due: lint release-post-items, rspec-unit

Update team page with details for cdeleon_gitlab
  data/team_members/person/c/cdeleon_gitlab.yml
  sites/uncategorized/source/images/team/cdeleon_gitlab.jpg
Due: rspec-unit

Update with partners tag
  sites/handbook/source/handbook/marketing/blog/index.html.md
Due: none

Fixing link and one spelling issue on release post items
  data/release_posts/unreleased/create-vs-code-cicd-improvements.yml
  data/release_posts/unreleased/plan-implement-autosaving-mechanism-on-design-notes.yml
Due: lint release-post-items, rspec-unit

Add upstream feature contribution process
  sites/handbook/source/handbook/ceo/chief-of-staff-team/jihu-support/index.html.md
Due: none

Apply 1 suggestion(s) to 1 file(s)
  data/release_posts/unreleased/manage-allow-group-owners-to-selectively-bypass-email-validation-u.yml
Due: lint release-post-items, rspec-unit

Update to add further context for Grammarly application approval
  sites/handbook/source/handbook/finance/procurement/personal-use-software/index.html.md
Due: none

Update Ops Section 15.5 kickoff highlights
  sites/handbook/source/handbook/product/categories/ops/index.html.md.erb
Due: none

Added some tips for conducting usability benchmarking studies.
  sites/handbook/source/handbook/engineering/ux/ux-research-training/usability-benchmarking/index.html.md
Due: none

Updating the "Risk Mitigation" page with our new DevSecOps adoption path
  sites/handbook/source/handbook/customer-success/csm/risk-mitigation/index.html.md
Due: none

Add new page for elevate
  sites/handbook/source/handbook/people-group/learning-and-development/elevate/index.html.md
Due: none

Update link for Corp Events SDR template
  sites/handbook/source/handbook/marketing/revenue-marketing/sdr/index.html.md
Due: none

Update identity data handbook page
  sites/uncategorized/source/company/culture/inclusion/identity-data/index.html.md
Due: none

Added more team members and the laptop wipe scheduling
  sites/handbook/source/handbook/business-technology/team-member-enablement/index.html.md
Due: none

Offboard team member - 2022-09-16
  .gitlab/CODEOWNERS
  data/pets.yml
  data/team_members/person/j/jackieporter.yml
  data/team_members/person/k/kevinchu.yml
  data/team_members/person/s/sebastien-pahl.yml
Due: rspec-unit

Update data/team_members/person/j/jackieporter.yml
  data/team_members/person/j/jackieporter.yml
Due: rspec-unit

Change Plan PMs
  data/stages.yml
  sites/handbook/source/includes/product/_categories-names.erb
Due: lint release-post-items, rspec-unit

Adding guidance on updating the Slack App
  data/release_posts/unreleased/ecosystem-enable-slack-app-home-feature.yml
Due: lint release-post-items, rspec-unit
