Repository spicysoft/jp-www-gitlab-com: changes, and which GitLab CI jobs are due for each by the changed paths.
All: update-gitlab-project-releases-page, apply-redirects-prod, content-security-policy-checker, lint release-post-items, rubocop, check-handbook-edit-links, rspec-unit

Path conditions:
  update-gitlab-project-releases-page: any of: sites/uncategorized/source/releases/posts/*-released.html.md
  apply-redirects-prod: any of: data/redirects.yml, bin/apply-exact-match-redirects, bin/apply-regex-redirects
  content-security-policy-checker: any of: source/includes/layout/head.html.haml
  lint release-post-items: any of: data/release_posts/unreleased/*, data/categories.yml, data/stages.yml, source/images/unreleased/*
  rubocop: any of: *.rb, **/*.rb, .rubocop.yml, Dangerfile, *.rake, **/*.rake, bin/**/*, scripts/**/*, Rakefile
  check-handbook-edit-links: any of: data/monorepo.yml, helpers/custom_helpers.rb, **/edit_page.html.haml, **/footer.html.haml, **/handbook-page-toc.haml, **/check_handbook_edit_links.rb
  rspec-unit: any of: spec/**/*, **/*.{js,json,rb,yml}, .rspec

added roadmap and planning section
  source/direction/fulfillment/billing-and-subscription-management/index.html.md
Due: none

Rephrase timing and impact to user
  sites/uncategorized/source/blog/blog-posts/2022-10-20-gitlab-com-artifacts-cdn-change.html.md.erb
Due: none

Updated DEX AB test handbook page
  sites/handbook/source/handbook/marketing/digital-experience/engineering-ab-tests/index.html.md
  source/images/digital-experience/ab-tests/home-subcopy/home-control.jpg
  source/images/digital-experience/ab-tests/home-subcopy/home-variant.jpg
  source/images/digital-experience/ab-tests/pricing-free-tier/pricing-free-tier-control.jpg
  source/images/digital-experience/ab-tests/pricing-free-tier/pricing-free-tier-variant.jpg
Due: none

Amend calibrations for new hire
  sites/handbook/source/handbook/engineering/development/index.html.md.erb
Due: none

Update SCM product direction - October 2022
  source/direction/create/source_code_management/source_code_management/index.html.md.erb
Due: none

Update TA Alignment page.
  sites/handbook/source/handbook/hiring/recruiting-alignment/index.html.md
Due: none

Remove Italy information
  sites/handbook/source/handbook/hiring/talent-acquisition-framework/req-overview/index.html.md
Due: none

Update results of Slack training
  sites/handbook/source/handbook/people-group/learning-and-development/learning-initiatives/slack-training/index.html.md
Due: none

Fix capitalization
  sites/handbook/source/handbook/customer-success/professional-services-engineering/engagement-mgmt/scoping-information/migrations/SM-to-SaaS/index.html.md
Due: none

Added health status callout to weekly update
  sites/handbook/source/handbook/engineering/development/fulfillment/index.html.md.erb
Due: none

Add Tableau to SAFE framework
  sites/handbook/source/handbook/business-technology/data-team/platform/safe-data/index.html.md
Due: none

Update Tableau handbook
  sites/handbook/source/handbook/business-technology/data-team/platform/tableau/index.html.md
Due: none

Adds red data section to new data source request
  sites/handbook/source/handbook/business-technology/data-team/how-we-work/new-data-source/index.html.md
Due: none

Resolve "Update Sisense Style Guide in Handbook Page"
  sites/handbook/source/handbook/business-technology/data-team/platform/sisense-style-guide/index.html.md
Due: none

Update GCP Section to include note regarding red data
  sites/handbook/source/handbook/business-technology/data-team/platform/index.html.md
Due: none

Add loc_avl slack channel
  sites/handbook/source/handbook/communication/chat/index.html.md
Due: none

Update Q4 RLOA Timeline into HB (2022-10-20)
  sites/handbook/source/handbook/finance/financial-planning-and-analysis/index.html.md
Due: none

Fix benchmark grade calculation
  sites/handbook/source/handbook/product/ux/ux-research-training/usability-benchmarking/index.html.md
Due: none

Update to reflect who a Staff Engineer can report to
  sites/handbook/source/handbook/engineering/career-development/index.html.md
Due: none

Updating TAM references to CSM references in alignment with title changes to...
  sites/handbook/source/handbook/customer-success/professional-services-engineering/workflows/project_execution/kick-off.html.md
Due: none

Add Kurt Dusek to CEO Shadow Schedule
  sites/handbook/source/handbook/ceo/shadow/index.html.md
Due: none

Adding more Overtime and Commissions Payroll information
  sites/handbook/source/handbook/finance/non-exempt/index.html.md.erb
Due: none

Update Emails/Nurture Handbook
  sites/handbook/source/handbook/marketing/lifecycle-marketing/emails-nurture/image-2.png
  sites/handbook/source/handbook/marketing/lifecycle-marketing/emails-nurture/index.html.md
Due: none

Include Legal & Corporate Affairs Stable Counterpart in sections
  data/sections.yml
  data/team_members/person/i/igorman.yml
  data/team_members/person/s/smccreesh.yml
  data/team_members/person/t/tichen.yml
  sites/handbook/source/includes/product/_categories.erb
Due: rspec-unit

Cross link information about Coaching Right Now on coaching hb page
  sites/handbook/source/handbook/leadership/coaching/index.html.md
Due: none

Add requirement for clear desk and clear screen for ISO
  sites/handbook/source/handbook/security/index.html.md.erb
Due: none

adds the new Campaign email
  sites/handbook/source/handbook/marketing/corporate-marketing/corp-event-marketing/index.html.md
Due: none

"Skip outdated deployment jobs" should evaluate the job execution when deployment starts
  data/release_posts/15_5/release-skip-outdated-deployment-jobs-should-evaluate-the-job-exec.yml
Due: rspec-unit

Remove item from release post
  data/release_posts/15_5/plan-mvc-1--child-issues-from-a-different-hierarchy.yml
Due: rspec-unit

Update docs link for an item
  data/release_posts/15_5/release-skip-outdated-deployment-jobs-should-evaluate-the-job-exec.yml
Due: rspec-unit

Fix typos and spelling mistakes
  data/release_posts/15_5/create-enforce-developer-certificates-of-origin-on-all-contributio.yml
  data/release_posts/15_5/manage-add-commit-email-user-attribute-to-the-api-model-for-users-.yml
  sites/uncategorized/source/releases/posts/2022-10-22-gitlab-15-5-released.html.md
Due: update-gitlab-project-releases-page, rspec-unit

Delete a gitkeep file
  source/images/15_5/.gitkeep
Due: none

Smaller image
  source/images/15_5/15_5-cover-image.jpg
Due: none

Deprecations index
  data/release_posts/15_5/deprecation-index-15-5.yml
Due: rspec-unit

Fix quote and backtick use
  data/release_posts/15_5/create-enforce-developer-certificates-of-origin-on-all-contributio.yml
  data/release_posts/15_5/manage-allow-group-owners-to-update-group-members-saml-and-scim-ex.yml
Due: rspec-unit

Add "More `kubectl` calls for the agent CI/CD workflow" release post item
  data/release_posts/15_5/configure-meta-support-kubectl-execattachcpportforward.yml
Due: rspec-unit

Add upgrade notes for deactivate_dormant_users_period migration
  data/release_posts/15_5/utilization-minimum-days-automatic-dormant-user-deactivation-setting.yml
Due: rspec-unit

RP item: Run security scans in MR pipelines
  data/release_posts/15_5/secure-mr-scanning.yml
Due: rspec-unit

Fix spacing in bugs yml to fix broken build
  data/release_posts/15_5/bugs.yml
Due: rspec-unit

Update community contributions
  sites/uncategorized/source/releases/posts/2022-10-22-gitlab-15-5-released.html.md
Due: update-gitlab-project-releases-page
