Repository spicysoft/jp-www-gitlab-com: changes, and which GitLab CI jobs are due for each by the changed paths.
All: update-gitlab-project-releases-page, apply-redirects-prod, content-security-policy-checker, lint release-post-items, rubocop, check-handbook-edit-links, rspec-unit

Path conditions:
  update-gitlab-project-releases-page: any of: sites/uncategorized/source/releases/posts/*-released.html.md
  apply-redirects-prod: any of: data/redirects.yml, bin/apply-exact-match-redirects, bin/apply-regex-redirects
  content-security-policy-checker: any of: source/includes/layout/head.html.haml
  lint release-post-items: any of: data/release_posts/unreleased/*, data/categories.yml, data/stages.yml, source/images/unreleased/*
  rubocop: any of: *.rb, **/*.rb, .rubocop.yml, Dangerfile, *.rake, **/*.rake, bin/**/*, scripts/**/*, Rakefile
  check-handbook-edit-links: any of: data/monorepo.yml, helpers/custom_helpers.rb, **/edit_page.html.haml, **/footer.html.haml, **/handbook-page-toc.haml, **/check_handbook_edit_links.rb
  rspec-unit: any of: spec/**/*, **/*.{js,json,rb,yml}, .rspec

August 2022 Critical Security Release
  sites/uncategorized/source/releases/posts/2022-08-30-critical-security-release-gitlab-15-3-2-released.html.md
Due: update-gitlab-project-releases-page

Update Leadership Chats page to reflect current, self-directed format
  sites/handbook/source/handbook/people-group/learning-and-development/manager-challenge/leadership-chats/index.html.md
Due: none

Added Team Member Relief Program to resources
  sites/handbook/source/handbook/people-group/incident-response/index.html.md
Due: none

Hosted customer content in FY23 direction update
  sites/handbook/source/handbook/engineering/index.html.md.erb
Due: none

Adding Canva best practices to brand resource page
  sites/handbook/source/handbook/marketing/corporate-marketing/brand-activation/brand-standards/index.html.md
Due: none

Update diversity section with DIB feedback
  sites/handbook/source/handbook/engineering/index.html.md.erb
Due: none

Change travel upgrade height to 95 percentile of human male height in travel FAQ handbook
  sites/handbook/source/handbook/travel/index.html.md
Due: none

Update source/direction/fulfillment/self-service-purchase/index.html.md
  source/direction/fulfillment/self-service-purchase/index.html.md
Due: none

Update Manager, Data Job Description for desired experience
  sites/uncategorized/source/job-families/finance/manager-data/index.html.md
Due: none

Move to customer success management
  sites/uncategorized/source/job-families/sales/technical-account-manager/index.html.md
Due: none

Update index.html.md.erb with architecture documentation link
  sites/handbook/source/handbook/engineering/development/ops/monitor/observability/index.html.md.erb
Due: none

Create Blog Posts “2022-08-30-the-changing-roles-in-devsecops”
  sites/uncategorized/source/blog/blog-posts/2022-08-30-the-changing-roles-in-devsecops.html.md.erb
Due: none

Update 2022-08-30-the-changing-roles-in-devsecops.html.md.erb
  sites/uncategorized/source/blog/blog-posts/2022-08-31-the-changing-roles-in-devsecops.html.md.erb
Due: none

Update team page for apennells
  data/team_members/person/a/apennells.yml
  sites/uncategorized/source/images/team/apennells.jpg
Due: rspec-unit

Capitalize L in GitLab on Communication page
  sites/handbook/source/handbook/communication/index.html.md
Due: none

Add process for immediate leaked secrets revocation, by Security
  sites/handbook/source/handbook/engineering/security/security-operations/sirt/sec-incident-response.html.md
Due: none

Add/update PDI resources on Data Collaboration Hub
  sites/handbook/source/handbook/business-technology/data-team/data-program-collaboration-hub/index.html.md
Due: none

GCF true up FY23Q3
  sites/handbook/source/handbook/engineering/security/security-assurance/security-compliance/sec-controls.html.md
Due: none

Add info to team page for Sam Kim
  data/team_members/person/s/samsam_kim.yml
  sites/uncategorized/source/images/team/samsamkim.jpg
Due: rspec-unit

Update Support handbook to include 3 success pillars
  sites/handbook/source/handbook/support/index.html.md.erb
Due: none

Update comp calculator information
  sites/handbook/source/handbook/hiring/interviewing/index.html.md
Due: none

Fixing Internal Communication Links
  sites/handbook/source/handbook/engineering/development/dev/create/_communication_links.erb
  sites/uncategorized/source/blog/blog-posts/2019-02-18-just-commit-launch.html.md.erb
  sites/uncategorized/source/blog/blog-posts/2019-12-19-how-gitlab-handles-retrospectives.html.md.erb
  sites/uncategorized/source/company/culture/all-remote/asynchronous/index.html.md.erb
  sites/uncategorized/source/company/culture/all-remote/effective-communication/index.html.md.erb
  sites/uncategorized/source/company/culture/all-remote/meetings/index.html.md
  sites/uncategorized/source/company/culture/all-remote/mental-health/index.html.md.erb
  sites/uncategorized/source/company/culture/cross-culture-collaboration-guide/index.html.md
Due: none

Update information for PtC model
  sites/handbook/source/handbook/business-technology/data-team/organization/data-science/index.html.md
Due: none

Process and language changes
  sites/handbook/source/handbook/engineering/workflow/code-review/index.html.md.erb
Due: none

Adding myself to 'Meet the GitLab team' page as per onboarding
  data/team_members/person/k/kerbalette.yml
  sites/uncategorized/source/images/team/alockhart.jpeg
Due: rspec-unit

Update not working Linkedin profile link on data/team_members/person/m/mjozenazemian.yml
  data/team_members/person/m/mjozenazemian.yml
Due: rspec-unit

Reverted webcast deletion
  data/webcasts.yml
Due: rspec-unit

Raul Rendon Gitlab team profile
  data/team_members/person/r/raulrrendon.yml
  sites/uncategorized/source/images/team/raulrrendon.jpg
Due: rspec-unit

GitLab Alma Mater
  sites/handbook/source/handbook/marketing/community-relations/education-program/index.html.md
Due: none

Updated Education Evangelism handbook
  sites/handbook/source/handbook/marketing/community-relations/education-program/education-conferences/index.html.md
  sites/handbook/source/handbook/marketing/community-relations/education-program/education-evangelism/index.html.md
  sites/handbook/source/handbook/marketing/community-relations/education-program/education-evangelism/twitch/index.html.md
  sites/handbook/source/handbook/marketing/community-relations/education-program/index.html.md
Due: none

Update S1/S2 OBA to use median and not average
  data/performance_indicators/quality_department.yml
Due: rspec-unit

Spelling error.
  sites/handbook/source/handbook/support/support-ops/training/gitlab-milestones-epics.html.md
Due: none

Remove chad woolley from Next Arch Workflow WG
  sites/uncategorized/source/company/team/structure/working-groups/next-architecture-workflow/index.html.md
Due: none

Updating profile for https://about.gitlab.com/company/team/#skahn
  data/team_members/person/s/skahn.yml
  sites/uncategorized/source/images/team/stefankahn.jpg
Due: rspec-unit

Add a UX process section and clarify UX process details
  sites/handbook/source/handbook/engineering/development/fulfillment/index.html.md.erb
  sites/handbook/source/handbook/engineering/ux/stage-group-ux-strategy/fulfillment/index.html.md
Due: none

Update At risk process
  sites/handbook/source/handbook/customer-success/tam/renewals/index.html.md
Due: none

update opt out contact for pension plan
  sites/handbook/source/handbook/total-rewards/benefits/general-and-entity-benefits/ltd-benefits-uk/index.html.md
Due: none

Adding Sponsorship to main page
  sites/uncategorized/source/company/culture/inclusion/index.html.md.erb
Due: none

Adding Executive DIB Council
  sites/uncategorized/source/company/culture/inclusion/executive-dib-council/index.html.md
Due: none
