Repository spicysoft/jp-www-gitlab-com: changes, and which GitLab CI jobs are due for each by the changed paths.
All: update-gitlab-project-releases-page, apply-redirects-prod, content-security-policy-checker, lint release-post-items, rubocop, check-handbook-edit-links, rspec-unit

Path conditions:
  update-gitlab-project-releases-page: any of: sites/uncategorized/source/releases/posts/*-released.html.md
  apply-redirects-prod: any of: data/redirects.yml, bin/apply-exact-match-redirects, bin/apply-regex-redirects
  content-security-policy-checker: any of: source/includes/layout/head.html.haml
  lint release-post-items: any of: data/release_posts/unreleased/*, data/categories.yml, data/stages.yml, source/images/unreleased/*
  rubocop: any of: *.rb, **/*.rb, .rubocop.yml, Dangerfile, *.rake, **/*.rake, bin/**/*, scripts/**/*, Rakefile
  check-handbook-edit-links: any of: data/monorepo.yml, helpers/custom_helpers.rb, **/edit_page.html.haml, **/footer.html.haml, **/handbook-page-toc.haml, **/check_handbook_edit_links.rb
  rspec-unit: any of: spec/**/*, **/*.{js,json,rb,yml}, .rspec

Update HackyStack project URL and fix screenshot URL
  sites/handbook/source/handbook/infrastructure-standards/realms/sandbox/index.html.md
Due: none

Fixed Errors in Merge not linking correctly
  sites/handbook/source/handbook/business-technology/team-member-enablement/self-help-troubleshooting/index.html.md
Due: none

Fixing links
  sites/handbook/source/handbook/business-technology/team-member-enablement/self-help-troubleshooting/index.html.md
Due: none

Add new team members for 2022-11-07
  data/team_members/person/c/cleroux2.yml
  data/team_members/person/d/ddeng1.yml
  data/team_members/person/g/gcroci1.yml
  data/team_members/person/j/jbudreski.yml
  data/team_members/person/j/jmarcham.yml
  data/team_members/person/j/jvanzutphen.yml
  data/team_members/person/k/kkoceban.yml
  data/team_members/person/l/l.rosa.yml
  data/team_members/person/m/mfinch.yml
  data/team_members/person/m/msaleiko.yml
  data/team_members/person/p/praba.m7n.yml
  data/team_members/person/p/psjakubowska.yml
  data/team_members/person/s/secole.yml
Due: rspec-unit

Slight changes made to the handbook Self service for Ventura
  sites/handbook/source/handbook/business-technology/team-member-enablement/self-help-troubleshooting/index.html.md
Due: none

Weekly update
  sites/handbook/source/handbook/engineering/incubation/ai-assist/index.html.md
Due: none

Add information about adding research prio labels
  sites/handbook/source/handbook/product/ux/ux-research/research-prioritization/index.html.md
Due: none

Code review content update
  data/topic_children/what-is-code-review.yml
Due: rspec-unit

Add paragraph about product development workflow in Gitaly
  sites/handbook/source/handbook/engineering/development/enablement/systems/gitaly/index.html.md.erb
Due: none

Update Integrations categories
  data/categories.yml
  data/stages.yml
Due: lint release-post-items, rspec-unit

Remove extra Integrations section
  sites/handbook/source/handbook/product/categories/index.html.md.erb
Due: none

Integrations categories: Update feature_labels to label
  data/categories.yml
Due: lint release-post-items, rspec-unit

Expose Contribution Analytics data via GraphQL
  data/release_posts/unreleased/plan-expose-contribution-analytics-data-via-graphql.yml
  source/images/unreleased/ca_gql.gif
Due: lint release-post-items, rspec-unit

Updating Hercules' team member info on team page
  data/team_members/person/h/hmerscher.yml
  sites/uncategorized/source/images/team/hmerscher.png
Due: rspec-unit

Added content
  sites/handbook/source/handbook/business-technology/pmo/index.html.md
Due: none

Updated
  sites/handbook/source/handbook/business-technology/pmo/index.html.md
Due: none

Remove filled vacancy positions for Editor
  data/team_members/vacancy/backend-engineer-editor-2.yml
  data/team_members/vacancy/backend-engineer-editor-3.yml
  data/team_members/vacancy/backend-engineer-editor.yml
Due: rspec-unit

fix header of table
  sites/handbook/source/handbook/support/support-ops/documentation/zendesk_global_tags.html.md
Due: none

added in body content
  sites/uncategorized/source/blog/blog-posts/2022-11-08-how-we-boosted-webauthn-adoption-from-20-percent-to-93-percent-in-2-days.html.md.erb
  sites/uncategorized/source/blog/blog-posts/2022-11-09-how-we-boosted-webauthn-adoption-from-20-percent-to-93-percent-in-2-days.html.md.erb
Due: none

Update 2022-11-09-how-we-boosted-webauthn-adoption-from-20-percent-to-93-percent-in-2-days.html.md.erb
  sites/uncategorized/source/blog/blog-posts/2022-11-09-how-we-boosted-webauthn-adoption-from-20-percent-to-93-percent-in-2-days.html.md.erb
Due: none

Updating Tech Owner for AWS Security Account
  data/tech_stack.yml
Due: rspec-unit

Correct alperakgun.yml manager
  data/team_members/person/a/alperakgun.yml
Due: rspec-unit

fixed subhead spacing, and a typo
  sites/uncategorized/source/blog/blog-posts/2022-11-09-how-we-boosted-webauthn-adoption-from-20-percent-to-93-percent-in-2-days.html.md.erb
Due: none

Fixed broken link to Fulfillment Platform direction
  source/direction/fulfillment/index.html.md
Due: none

tweaks from eric
  sites/uncategorized/source/blog/blog-posts/2022-11-09-how-we-boosted-webauthn-adoption-from-20-percent-to-93-percent-in-2-days.html.md.erb
Due: none

Update Paul's Calendly link to google appointments
  sites/handbook/source/handbook/business-technology/team-member-enablement/index.html.md
Due: none

Sales Ops Tech Stack Updates Q4FY23
  data/tech_stack.yml
Due: rspec-unit

Added mergeability domain expertise
  data/domain_expertise.yml
  data/team_members/person/m/marcshaw.yml
  data/team_members/person/p/phil-h.yml
Due: rspec-unit

Update and align Docs Hackathon guidance
  sites/handbook/source/handbook/product/ux/technical-writing/workflow/index.html.md
  sites/uncategorized/source/community/contribute/documentation/index.html.md
Due: none

updated description
  sites/uncategorized/source/blog/blog-posts/2022-11-09-how-we-boosted-webauthn-adoption-from-20-percent-to-93-percent-in-2-days.html.md.erb
Due: none

Correcting minor typo
  sites/handbook/source/handbook/business-technology/team-member-enablement/self-help-troubleshooting/index.html.md
Due: none

Clarify intro to hybrid model and fix typo in mermaid diagram
  sites/handbook/source/handbook/support/training/index.html.md
Due: none

Update sites/uncategorized/source/company/culture/inclusion/tmdg-gitlab-early-career/index.html.md
  sites/uncategorized/source/company/culture/inclusion/tmdg-gitlab-early-career/index.html.md
Due: none

Updating US Federal Upgrade Assistance form name to reflect MECEFU name
  sites/handbook/source/handbook/support/workflows/upgrade-assistance.html.md
Due: none

Remove Spam Protection and CAPTCHA from Auth - belongs in Anti-Abuse
  sites/handbook/source/handbook/product/categories/index.html.md.erb
Due: none

Updating team members moved to dcurlewis
  data/team_members/person/f/fshabir.yml
  data/team_members/person/n/nduff.yml
  data/team_members/person/r/rhenchen.gitlab.yml
  data/team_members/person/s/sarahwalker.yml
Due: rspec-unit

SaaS User Caps documentation in fulfillment guide
  sites/handbook/source/handbook/product/fulfillment-guide/index.html.md
Due: none

Updating Details for Ross Byrne on Team Page
  data/team_members/person/r/robyrne.yml
  sites/uncategorized/source/images/team/rossbyrne.jpg
Due: rspec-unit

format change
  sites/handbook/source/handbook/business-technology/pmo/index.html.md
Due: none
