Repository spicysoft/jp-www-gitlab-com: changes, and which GitLab CI jobs are due for each by the changed paths.
All: update-gitlab-project-releases-page, apply-redirects-prod, content-security-policy-checker, lint release-post-items, rubocop, check-handbook-edit-links, rspec-unit

update-gitlab-project-releases-page:
  cache:
    key: web_ruby-3.0-bullseye
    policy: pull
    paths:
    - vendor
    - node_modules
  before_script:
  - bundle config set path vendor
  - bundle install --quiet --jobs 4
  - yarn install
  stage: content-generation
  needs: []
  script:
  - bundle exec rake release:ee:update_project_releases_page
  ...

apply-redirects-prod:
  cache:
    key: web_ruby-3.0-bullseye
    policy: pull
    paths:
    - vendor
    - node_modules
  before_script:
  - bundle config set path vendor
  - bundle install --quiet --jobs 4
  - yarn install
  stage: build-and-deploy
  environment:
    name: production
  script:
  - export FASTLY_SRV_ID=$FASTLY_SRV_ID_PROD
  ...

content-security-policy-checker:
  image: debian:stable-slim
  stage: test
  needs: []
  script:
  ...

lint release-post-items:
  cache:
    key: web_ruby-3.0-bullseye
    policy: pull
    paths:
    - vendor
    - node_modules
  before_script:
  - bundle config set path vendor
  - bundle install --quiet --jobs 4
  - yarn install
  stage: test
  needs: []
  script:
  - bundle exec bin/validate-release-post-item

rubocop:
  cache:
    key: web_ruby-3.0-bullseye
    policy: pull
    paths:
    - vendor
    - node_modules
  before_script:
  - bundle config set path vendor
  - bundle install --quiet --jobs 4
  - yarn install
  stage: test
  needs: []
  script:
  - bundle exec rubocop

check-handbook-edit-links:
  cache:
    key: web_ruby-3.0-bullseye
    policy: pull
    paths:
    - vendor
    - node_modules
  before_script:
  - bundle config set path vendor
  - bundle install --quiet --jobs 4
  - yarn install
  stage: test
  needs:
  - handbook-build-and-review-deploy
  script:
  - scripts/check-handbook-edit-links.rb

rspec-unit:
  cache:
    key: web_ruby-3.0-bullseye
    policy: pull
    paths:
    - vendor
    - node_modules
  before_script:
  - bundle config set path vendor
  - bundle install --quiet --jobs 4
  - yarn install
  stage: test
  needs: []
  script:
  - bundle exec rspec --tag ~@feature

Maintainer trainee for workhorse (Vasilii Iakliushin)
  data/team_members/person/v/vasilii-iakliushin.yml
Due: rspec-unit

Update data/team_members/person/e/exit404.yml
  data/team_members/person/e/exit404.yml
Due: rspec-unit

Update mwoolf team move
  data/pets.yml
  data/team_members/person/m/maxwoolf.yml
  sites/uncategorized/source/images/team/pets/willow-woolf.jpg
Due: rspec-unit

Update Robert Hunt's yml with team move
  data/team_members/person/r/roberthunt.yml
Due: rspec-unit

Add Token Management Working Group
  sites/uncategorized/source/company/team/structure/working-groups/index.html.md
  sites/uncategorized/source/company/team/structure/working-groups/token-management/index.html.md
Due: none

Add Arpit to Team Members Page
  data/team_members/person/a/arpitgogia.yml
  sites/uncategorized/source/images/team/arpitgogia.jpg
Due: rspec-unit

Add Gabriel M. domain expertises
  data/team_members/person/g/gabriel-m.yml
Due: rspec-unit

Adds new workshop to the events page
  data/events.yml
Due: rspec-unit

DCO/CLA community page - remove references to distributions in favour of references to code directories
  sites/uncategorized/source/community/contribute/dco-cla/index.html.md
Due: none

Amends to Materials Review Process
  sites/handbook/source/handbook/legal/materials-legal-review-process/index.html.md
Due: none

Update Diversity section based on DIB feedback
  sites/handbook/source/handbook/engineering/index.html.md.erb
Due: none

Code Review Direction update and vision cleanup
  source/direction/create/code_review/index.html.md.erb
Due: none

Link propensity model info from growth csm
  sites/handbook/source/handbook/customer-success/tam/segment/mid-touch/index.html.md
Due: none

Update dparker with marshall007 in git-page-update Handbook
  sites/handbook/source/handbook/git-page-update/index.html.md.erb
Due: none

Integrations page: Help with Deliverables
  sites/handbook/source/handbook/engineering/development/dev/ecosystem/integrations/_what_to_work_on.erb
Due: none

Fix typo
  sites/handbook/source/handbook/engineering/development/dev/ecosystem/integrations/_what_to_work_on.erb
Due: none

Update SQS workshop schedule for SQS 28 (Sep 2022)
  sites/handbook/source/handbook/sales/onboarding/SQS-workshop/index.html.md
Due: none

Adding a missing word
  sites/handbook/source/handbook/sales/commercial/index.html.md
Due: none

Add Senior QEM role to job family
  sites/uncategorized/source/job-families/engineering/engineering-management-quality/index.html.md
Due: none

Update Job Family w EBA reporting structure as of FY23Q2
  sites/uncategorized/source/job-families/people-ops/executive-business-administrator/index.html.md
Due: none

Remove 9.5 for Sales grading
  sites/handbook/source/handbook/total-rewards/compensation/compensation-calculator/index.html.md
Due: none

Removed : symbol from Red / Green Outcome header
  sites/handbook/source/handbook/sales/commercial/index.html.md
Due: none

consolidate expert services
  data/services.yml
  sites/uncategorized/source/services/advisory/expert-services/index.html.haml
  sites/uncategorized/source/services/advisory/expertise-on-retainer/index.html.haml
  sites/uncategorized/source/services/advisory/index.html.haml
Due: rspec-unit

Add fragment about marking yourself as busy during traveling for the visiting grant
  sites/handbook/source/handbook/incentives/index.html.md
Due: none

Merge Compliance group auditing categories together
  .gitlab/CODEOWNERS
  data/categories.yml
  data/devops_tools_list.yml
  data/features.yml
  data/stages.yml
Due: lint release-post-items, rspec-unit

Add latest video on Q3 Rev Program update
  sites/handbook/source/handbook/sales/training/sales-enablement-sessions/index.html.md
Due: none

Various updates cited in 15.3 RPM retro
  .gitlab/merge_request_templates/Release-Post.md
Due: none

Add VP Corporate Communications to Corporate Communications job family
  sites/uncategorized/source/job-families/marketing/corporate-communications-manager/index.html.md
Due: none

Update data/team_members/person/m/m_taylor.yml to Reflect Title Change
  data/team_members/person/m/m_taylor.yml
Due: rspec-unit

Add link to BEG resources page
  sites/handbook/source/handbook/sales/field-operations/sales-operations/buyer-experience/index.html.md
Due: none

CEO teleprompter preference update on pacing
  sites/handbook/source/handbook/ceo/index.html.md
Due: none

Add BE, FE, and Team suffix to Plan:Certify team members
  data/stages.yml
  data/team_members/person/c/charlieablett.yml
  data/team_members/person/f/felipe-a.yml
  data/team_members/person/j/jarka-k.yml
  data/team_members/person/r/rajatjain.yml
  data/team_members/vacancy/fullstack-engineering-manager-certify.yml
Due: lint release-post-items, rspec-unit

Add latest video on FY23-Q3 Rev Play - Winning with Ultimate.
  sites/handbook/source/handbook/sales/training/index.html.md
Due: none

MR: Update Vesey Title on Team Member Page
  data/team_members/person/a/avesey.yml
Due: rspec-unit

WIP: Update Commercial Legal Job Description to Include US PubSec-specific Duties
  sites/uncategorized/source/job-families/legal-and-corporate-affairs/legal-counsel/index.html.md
Due: none

Add SF PHELO 2022 Poster
  sites/handbook/source/handbook/labor-and-employment-notices/index.html.md
Due: none

Offboard team member - 2022-08-25
  data/team_members/person/t/trixiepeyer.yml
Due: rspec-unit

Added new should-do item, ref UX Scorecards
  sites/handbook/source/handbook/engineering/ux/product-designer/index.html.md.erb
Due: none

Update SQS past / future sessions
  sites/handbook/source/handbook/sales/onboarding/index.html.md
Due: none

Update CI scaling related JTBD
  data/jobs_to_be_done.yml
Due: rspec-unit

Path conditions:
  update-gitlab-project-releases-page: any of: sites/uncategorized/source/releases/posts/*-released.html.md
  apply-redirects-prod: any of: data/redirects.yml, bin/apply-exact-match-redirects, bin/apply-regex-redirects
  content-security-policy-checker: any of: source/includes/layout/head.html.haml
  lint release-post-items: any of: data/release_posts/unreleased/*, data/categories.yml, data/stages.yml, source/images/unreleased/*
  rubocop: any of: *.rb, **/*.rb, .rubocop.yml, Dangerfile, *.rake, **/*.rake, bin/**/*, scripts/**/*, Rakefile
  check-handbook-edit-links: any of: data/monorepo.yml, helpers/custom_helpers.rb, **/edit_page.html.haml, **/footer.html.haml, **/handbook-page-toc.haml, **/check_handbook_edit_links.rb
  rspec-unit: any of: spec/**/*, **/*.{js,json,rb,yml}, .rspec
