Repository spicysoft/jp-www-gitlab-com: changes, and which GitLab CI jobs are due for each by the changed paths.
All: update-gitlab-project-releases-page, apply-redirects-prod, content-security-policy-checker, lint release-post-items, rubocop, check-handbook-edit-links, rspec-unit

Path conditions:
  update-gitlab-project-releases-page: any of: sites/uncategorized/source/releases/posts/*-released.html.md
  apply-redirects-prod: any of: data/redirects.yml, bin/apply-exact-match-redirects, bin/apply-regex-redirects
  content-security-policy-checker: any of: source/includes/layout/head.html.haml
  lint release-post-items: any of: data/release_posts/unreleased/*, data/categories.yml, data/stages.yml, source/images/unreleased/*
  rubocop: any of: *.rb, **/*.rb, .rubocop.yml, Dangerfile, *.rake, **/*.rake, bin/**/*, scripts/**/*, Rakefile
  check-handbook-edit-links: any of: data/monorepo.yml, helpers/custom_helpers.rb, **/edit_page.html.haml, **/footer.html.haml, **/handbook-page-toc.haml, **/check_handbook_edit_links.rb
  rspec-unit: any of: spec/**/*, **/*.{js,json,rb,yml}, .rspec

Customer Success Redirects
  data/redirects.yml
  sites/handbook/source/handbook/customer-success/csm/gainsight/c360-overview/index.html.md
  sites/handbook/source/handbook/customer-success/csm/gainsight/index.html.md
  sites/handbook/source/handbook/customer-success/product-usage-data/index.html.md
  sites/handbook/source/handbook/customer-success/product-usage-data/license-utilization/index.html.md
  sites/handbook/source/handbook/customer-success/product-usage-data/product-usage-data-FAQs/index.html.md
  sites/handbook/source/handbook/customer-success/product-usage-data/using-product-usage-data-in-gainsight/index.html.md
  sites/handbook/source/handbook/sales/field-operations/changelog/index.html.md
Due: apply-redirects-prod, rspec-unit

Adding Caroline as Global BDR/SDR Recruiter
  sites/handbook/source/handbook/hiring/recruiting-alignment/index.html.md
Due: none

Update Nourdin Support Stable Counterpart
  data/stages.yml
Due: lint release-post-items, rspec-unit

Update EM Team page profile
  data/team_members/person/e/erikamiklos.yml
  sites/uncategorized/source/images/team/erikamiklos.jpeg
Due: rspec-unit

Update with Q4 roadmap
  sites/handbook/source/handbook/customer-success/csm/csm-development/index.html.md
Due: none

Point to public direction page for Dedicated
  data/categories.yml
Due: lint release-post-items, rspec-unit

Fix link syntax issue
  source/direction/enablement/template.html.md.erb
Due: none

Create Blog Posts “2022-11-03-cadence-is-everything-10x-engineering-organizations-for-10x-engineers”
  sites/uncategorized/source/blog/blog-posts/2022-11-03-cadence-is-everything-10x-engineering-organizations-for-10x-engineers.html.md.erb
Due: none

@wayne MR for shadow request, non-Gitlab-employee
  sites/handbook/source/handbook/engineering/development/shadow/director-shadow-program.html.md
Due: none

Upload New File
  source/images/blogimages/10x.png
Due: none

Add link to Dedicated direction
  source/direction/saas-platforms/index.html.md
Due: none

added featured
  sites/uncategorized/source/blog/blog-posts/2022-11-03-cadence-is-everything-10x-engineering-organizations-for-10x-engineers.html.md.erb
Due: none

Internal link to core solutions page.
  source/direction/supply-chain/index.html.md.erb
Due: none

Add Peter Lu to categories
  sites/handbook/source/includes/product/_categories-names.erb
Due: none

Support Handbook: Staff Support Engineer OKR considerations
  sites/handbook/source/handbook/support/engineering/staff.html.md
Due: none

MR: Updated links to Partner Training Page
  sites/handbook/source/handbook/resellers/training/index.html.md
Due: none

Rename TeamOps Guiding Principles and update linkages
  data/redirects.yml
  sites/handbook/source/handbook/teamops/decision-velocity/index.html.md.erb
  sites/handbook/source/handbook/teamops/everyone-contributes/index.html.md.erb
  sites/handbook/source/handbook/teamops/measurement-clarity/index.html.md.erb
  sites/handbook/source/handbook/teamops/shared-reality/index.html.md.erb
Due: apply-redirects-prod, rspec-unit

Add maintenance notification note
  sites/handbook/source/handbook/support/workflows/cmoc_workflows.html.md
Due: none

Consolidating license util page here
  sites/handbook/source/handbook/customer-success/product-usage-data/use-case-adoption/index.html.md
Due: none

Resolve "Aaron Burgess - CEO Shadow Program"
  sites/handbook/source/handbook/ceo/shadow/index.html.md
Due: none

Added Link to PM Enablement Session Video
  sites/handbook/source/handbook/marketing/strategic-marketing/roles-personas/buyer-persona/index.html.md
Due: none

Update with current program stats
  sites/handbook/source/handbook/people-group/learning-and-development/mentor/company-program/index.html.md.erb
Due: none

Update redirects for director shadow program
  data/redirects.yml
Due: apply-redirects-prod, rspec-unit

Create Blog Posts “2022-11-03-top-challenges-to-securing-the-software-supply-chain”
  sites/uncategorized/source/blog/blog-posts/2022-11-03-top-challenges-to-securing-the-software-supply-chain.html.md.erb
Due: none

Navigation v2.0.2: www update
  package.json
  source/stylesheets/be-navigation.css.scss
  source/stylesheets/components/_nav.scss
  yarn.lock
Due: rspec-unit

Upgrade post related to Geo file concurrency limit logic changes
  data/release_posts/15_4/upgrade-systems-geo-file-concurrency-limits.yml
Due: rspec-unit

Update Handbook with Cobra Subsidy Process
  sites/handbook/source/handbook/total-rewards/benefits/general-and-entity-benefits/inc-benefits-us/total-rewards-processes/index.html.md
Due: none

Security already in DevSecOps
  sites/uncategorized/source/company/vision/index.html.md
Due: none

Dev workflows: add link to CS Account Escalation page
  sites/handbook/source/handbook/engineering/development/index.html.md.erb
Due: none

Switching from Memory to Performance
  sites/uncategorized/source/company/team/structure/index.html.md.erb
Due: none

Update Nick Nguyen info
  data/pets.yml
  data/team_members/person/n/nick-nguyen.yml
  sites/uncategorized/source/images/team/nicknguyen.png
  sites/uncategorized/source/images/team/pets/buddy_nnguyen.png
Due: rspec-unit

Updating phishing guidance
  sites/handbook/source/handbook/security/index.html.md.erb
Due: none

Document results from womens mentorship program
  sites/uncategorized/source/company/culture/inclusion/tmrg-gitlab-women/mentorship-program/index.html.md
Due: none

fixed typo
  sites/uncategorized/source/blog/blog-posts/2022-11-03-cadence-is-everything-10x-engineering-organizations-for-10x-engineers.html.md.erb
Due: none

Fix misleading typo in image caption
  sites/uncategorized/source/blog/blog-posts/2021-09-02-specialized-sidekiq-configuration-lessons-from-gitlab-dot-com.html.md.erb
Due: none

Updating Okta HB page for mobile enrollment method
  sites/handbook/source/handbook/business-technology/okta/index.html.md
Due: none

Delete Jessica Reeder's README
  sites/handbook/source/handbook/ceo/chief-of-staff-team/readmes/index.html.md
  sites/handbook/source/handbook/ceo/chief-of-staff-team/readmes/jessicareeder/index.html.md
Due: none

growth CSM prioritization update
  sites/handbook/source/handbook/customer-success/csm/engagement/index.html.md
Due: none

Update Pods EM title
  data/team_members/person/g/gitlabbarry.yml
Due: rspec-unit

Add overview video to handbook
  sites/handbook/source/handbook/security/security-assurance/observation-management-procedure.html.md
Due: none
