Repository spicysoft/jp-www-gitlab-com: changes, and which GitLab CI jobs are due for each by the changed paths.
All: update-gitlab-project-releases-page, apply-redirects-prod, content-security-policy-checker, lint release-post-items, rubocop, check-handbook-edit-links, rspec-unit

update-gitlab-project-releases-page:
  cache:
    key: web_ruby-3.0-bullseye
    policy: pull
    paths:
    - vendor
    - node_modules
  before_script:
  - bundle config set path vendor
  - bundle install --quiet --jobs 4
  - yarn install
  stage: content-generation
  needs: []
  script:
  - bundle exec rake release:ee:update_project_releases_page
  ...

apply-redirects-prod:
  cache:
    key: web_ruby-3.0-bullseye
    policy: pull
    paths:
    - vendor
    - node_modules
  before_script:
  - bundle config set path vendor
  - bundle install --quiet --jobs 4
  - yarn install
  stage: build-and-deploy
  environment:
    name: production
  script:
  - export FASTLY_SRV_ID=$FASTLY_SRV_ID_PROD
  ...

content-security-policy-checker:
  image: debian:stable-slim
  stage: test
  needs: []
  script:
  ...

lint release-post-items:
  cache:
    key: web_ruby-3.0-bullseye
    policy: pull
    paths:
    - vendor
    - node_modules
  before_script:
  - bundle config set path vendor
  - bundle install --quiet --jobs 4
  - yarn install
  stage: test
  needs: []
  script:
  - bundle exec bin/validate-release-post-item

rubocop:
  cache:
    key: web_ruby-3.0-bullseye
    policy: pull
    paths:
    - vendor
    - node_modules
  before_script:
  - bundle config set path vendor
  - bundle install --quiet --jobs 4
  - yarn install
  stage: test
  needs: []
  script:
  - bundle exec rubocop

check-handbook-edit-links:
  cache:
    key: web_ruby-3.0-bullseye
    policy: pull
    paths:
    - vendor
    - node_modules
  before_script:
  - bundle config set path vendor
  - bundle install --quiet --jobs 4
  - yarn install
  stage: test
  needs:
  - handbook-build-and-review-deploy
  script:
  - scripts/check-handbook-edit-links.rb

rspec-unit:
  cache:
    key: web_ruby-3.0-bullseye
    policy: pull
    paths:
    - vendor
    - node_modules
  before_script:
  - bundle config set path vendor
  - bundle install --quiet --jobs 4
  - yarn install
  stage: test
  needs: []
  script:
  - bundle exec rspec --tag ~@feature

brhea as rpm and tech advisor
  data/release_post_managers.yml
Due: rspec-unit

Update a CVE severity after bug bounty council discussion
  sites/uncategorized/source/releases/posts/2022-07-28-security-release-gitlab-15-2-1-released.html.md
Due: update-gitlab-project-releases-page

Request for Raimund Hook to become a Merge Request Coach
  data/team_members/person/r/raimundh.yml
Due: rspec-unit

Added PA bugs for 15.4
  data/release_posts/unreleased/bugs.yml
Due: lint release-post-items, rspec-unit

Create Blog Posts “2022-09-06-test-your-software-supply-chain-security-know-how”
  sites/uncategorized/source/blog/blog-posts/2022-09-06-test-your-software-supply-chain-security-know-how.html.md.erb
Due: none

Remove unused js in www-gitlab-com
  .eslintignore
  sites/uncategorized/source/developer-survey/previous/2019/index.html.haml
  sites/uncategorized/source/includes/layout/header-commit.html.haml
Due: none

Updating messaging leads for release post
  data/release_post_managers.yml
Due: rspec-unit

Adding 2022-09-06 FOPS Release to Changelog
  sites/handbook/source/handbook/sales/field-operations/changelog/index.html.md
Due: none

Adding myself(George Marino) to the Team Page
  data/team_members/person/g/gmarino-gitlab.yml
  sites/uncategorized/source/images/team/georgemarino.jpg
Due: rspec-unit

Add reviewer backend to my team_members yml entry
  data/team_members/person/j/jmontal.yml
Due: rspec-unit

Allow Group Owners to Selectively Bypass Email Validation using a Group Verified Domain
  data/release_posts/unreleased/manage-allow-group-owners-to-selectively-bypass-email-validation-u.yml
Due: lint release-post-items, rspec-unit

Groups API: Add Restrict group access by IP address
  data/release_posts/unreleased/manage-groups-api-add-restrict-group-access-by-ip-address.yml
Due: lint release-post-items, rspec-unit

Update open source program decision timescales
  sites/handbook/source/handbook/marketing/community-relations/opensource-program/index.html.md
Due: none

Handbook: Spacing and links on code-contributor-program page
  sites/handbook/source/handbook/marketing/community-relations/code-contributor-program/index.html.md.erb
Due: none

Adding Ashley Kramer's README
  sites/handbook/source/handbook/marketing/readmes/ashley-kramer.html.md
Due: none

Update Certify direction Sept
  source/direction/plan/certify/index.html.md
Due: none

Fix typo 'll' to All
  sites/handbook/source/handbook/finance/expenses/index.html.md
Due: none

Configure Visual Reviews on Review Apps
  source/includes/layout/head.html.haml
Due: content-security-policy-checker

Product Design engagement with SEGs
  sites/handbook/source/handbook/engineering/ux/product-designer/index.html.md.erb
Due: none

Update JiHu contribution flow to include compliance verification
  sites/handbook/source/handbook/ceo/chief-of-staff-team/jihu-support/index.html.md
Due: none

Update reporting structure for certify
  data/team_members/person/c/charlieablett.yml
  data/team_members/person/f/felipe-a.yml
  data/team_members/person/j/jarka-k.yml
  data/team_members/person/k/kushal-p.yml
  data/team_members/person/r/rajatjain.yml
Due: rspec-unit

Update Home Office Equipment and Supplies Handbook Page
  sites/handbook/source/handbook/finance/procurement/office-equipment-supplies/index.html.md
Due: none

Update data/team_members/person/a/alinamihaila.yml
  data/team_members/person/a/alinamihaila.yml
Due: rspec-unit

added quiz
  sites/uncategorized/source/blog/blog-posts/2022-08-30-the-ultimate-guide-to-software-supply-chain-security.html.md.erb
Due: none

Update "Not sure what to buy" section in How to create the perfect home office setup for remote working
  sites/uncategorized/source/company/culture/all-remote/workspace/index.html.md.erb
Due: none

Rework team responsibilities
  sites/handbook/source/handbook/support/support-ops/index.html.md
Due: none

Fixing broken link on Marketing README directory page
  sites/handbook/source/handbook/marketing/readmes/index.html.md
Due: none

Add new file for Subscription Agreement v3
  sites/handbook/source/handbook/legal/legacy-subscription-agreement-v3/index.html.md
Due: none

Update Recruiting JF to include Internal Mobility
  sites/uncategorized/source/job-families/people-ops/recruiter/index.html.md
Due: none

Update CVSS for CVE-2022-2907
  sites/uncategorized/source/releases/posts/2022-08-30-critical-security-release-gitlab-15-3-2-released.html.md
Due: update-gitlab-project-releases-page

Update virtual whiteboard information
  sites/uncategorized/source/company/culture/all-remote/collaboration-and-whiteboarding/index.html.md.erb
  sites/uncategorized/source/company/culture/all-remote/collaboration-and-whiteboarding/setups/index.html.md.erb
Due: none

add @ahanselka to token management working group
  sites/uncategorized/source/company/team/structure/working-groups/token-management/index.html.md
Due: none

Update stable counterparts match criteria
  sites/handbook/source/handbook/engineering/development/enablement/data_stores/search/index.html.md.erb
Due: none

update requirements to transact for open partners
  sites/handbook/source/handbook/resellers/index.html.md
Due: none

Removes account deletion zap
  sites/handbook/source/handbook/support/support-ops/documentation/zapier.html.md
Due: none

Adding Associate Area Sales Manager Level
  sites/uncategorized/source/job-families/sales/area-sales-manager/index.html.md.erb
Due: none

Renaming Resident Contributing Organizations to Leading Organizations
  sites/handbook/source/handbook/engineering/workflow/code-review/index.html.md.erb
Due: none

Update EM for Certify
  data/stages.yml
  sites/handbook/source/includes/product/_categories-names.erb
Due: lint release-post-items, rspec-unit

Posting of Legacy Subscription Agreement V3
  sites/handbook/source/handbook/legal/legacy-subscription-agreement-v3/index.html.md
Due: none

Add Reliability team squads page
  sites/handbook/source/handbook/engineering/infrastructure/team/reliability/squads.html.md.erb
  sites/handbook/source/handbook/engineering/infrastructure/team/reliability/sre-onboarding/index.html.md
Due: none

Path conditions:
  update-gitlab-project-releases-page: any of: sites/uncategorized/source/releases/posts/*-released.html.md
  apply-redirects-prod: any of: data/redirects.yml, bin/apply-exact-match-redirects, bin/apply-regex-redirects
  content-security-policy-checker: any of: source/includes/layout/head.html.haml
  lint release-post-items: any of: data/release_posts/unreleased/*, data/categories.yml, data/stages.yml, source/images/unreleased/*
  rubocop: any of: *.rb, **/*.rb, .rubocop.yml, Dangerfile, *.rake, **/*.rake, bin/**/*, scripts/**/*, Rakefile
  check-handbook-edit-links: any of: data/monorepo.yml, helpers/custom_helpers.rb, **/edit_page.html.haml, **/footer.html.haml, **/handbook-page-toc.haml, **/check_handbook_edit_links.rb
  rspec-unit: any of: spec/**/*, **/*.{js,json,rb,yml}, .rspec
