Repository spicysoft/jp-www-gitlab-com: changes, and which GitLab CI jobs are due for each by the changed paths.
All: update-gitlab-project-releases-page, apply-redirects-prod, content-security-policy-checker, lint release-post-items, rubocop, check-handbook-edit-links, rspec-unit

Path conditions:
  update-gitlab-project-releases-page: any of: sites/uncategorized/source/releases/posts/*-released.html.md
  apply-redirects-prod: any of: data/redirects.yml, bin/apply-exact-match-redirects, bin/apply-regex-redirects
  content-security-policy-checker: any of: source/includes/layout/head.html.haml
  lint release-post-items: any of: data/release_posts/unreleased/*, data/categories.yml, data/stages.yml, source/images/unreleased/*
  rubocop: any of: *.rb, **/*.rb, .rubocop.yml, Dangerfile, *.rake, **/*.rake, bin/**/*, scripts/**/*, Rakefile
  check-handbook-edit-links: any of: data/monorepo.yml, helpers/custom_helpers.rb, **/edit_page.html.haml, **/footer.html.haml, **/handbook-page-toc.haml, **/check_handbook_edit_links.rb
  rspec-unit: any of: spec/**/*, **/*.{js,json,rb,yml}, .rspec

Cloud Seed - Update JTBD progress
  sites/handbook/source/handbook/engineering/incubation/cloud-seed/index.html.md
Due: none

Add Jonathan Glassman to team page
  data/team_members/person/j/jglassman1.yml
  sites/uncategorized/source/images/team/jonathanglassman.png
Due: rspec-unit

added in links that got dropped from google docs and a few grammar edits
  sites/uncategorized/source/blog/blog-posts/2022-09-19-introducing-the-infrastructure-bill-of-materials.html.md.erb
  sites/uncategorized/source/blog/blog-posts/2022-09-20-introducing-the-infrastructure-bill-of-materials.html.md.erb
Due: none

WGM: Update PS Ops External Handbook Page 2022-09-19
  sites/handbook/source/handbook/customer-success/professional-services-engineering/professional-services-operations/index.html.md
Due: none

Clarify Gitaly / GitLab boundary
  sites/handbook/source/handbook/engineering/development/enablement/systems/gitaly/index.html.md.erb
  source/direction/gitaly/index.html.md
Due: none

Move details code block up
  sites/handbook/source/handbook/engineering/development/fulfillment/utilization/index.html.md.erb
Due: none

Update content block targeting, agile software dev
  data/topic/agile-delivery.yml
Due: rspec-unit

Update Phillip Wells team file
  data/team_members/person/p/phillipwells.yml
Due: rspec-unit

Fix typo
  source/direction/verify/code_testing/index.html.md
Due: none

Update data/team_members/person/t/tsukasa.k.yml,...
  data/team_members/person/t/tsukasa.k.yml
  sites/uncategorized/source/images/team/tsukasa_komatsubara.png
Due: rspec-unit

Create Blog Posts “2022-09-20-get-started-with-microservices-architecture”
  sites/uncategorized/source/blog/blog-posts/2022-09-20-get-started-with-microservices-architecture.html.md.erb
Due: none

Update Blog Posts “2022-09-20-get-started-with-microservices-architecture”
  sites/uncategorized/source/blog/blog-posts/2022-09-20-get-started-with-microservices-architecture.html.md.erb
Due: none

Incorporate feedback from Sid
  data/release_posts/15_4/ecosystem-integrate-shimo-as-wiki-alternative.yml
Due: rspec-unit

Internal cluster linking
  sites/uncategorized/source/blog/blog-posts/2015-12-14-getting-started-with-gitlab-and-gitlab-ci.html.md
  sites/uncategorized/source/blog/blog-posts/2018-03-05-gitlab-for-agile-software-development.html.md.erb
  sites/uncategorized/source/blog/blog-posts/2020-11-11-gitlab-for-agile-portfolio-planning-project-management.html.md.erb
  sites/uncategorized/source/blog/blog-posts/2020-12-17-gitlab-for-cicd-agile-gitops-cloudnative.html.md.erb
  sites/uncategorized/source/blog/blog-posts/2021-03-02-agile-for-remote-work.html.md.erb
Due: none

change date
  sites/uncategorized/source/blog/blog-posts/2022-09-21-introducing-the-infrastructure-bill-of-materials.html.md.erb
Due: none

Add main menu unification to usability list
  data/release_posts/15_4/usability_improvements.yml
Due: rspec-unit

link to soft direction renewal page
  sites/handbook/source/handbook/customer-success/csm/index.html.md
Due: none

Update documentation link
  data/release_posts/unreleased/manage-introduce-rest-api-for-project-transfer-locations.yml
Due: lint release-post-items, rspec-unit

Update Process For Reviewing Disclosures of Outside Employment, Projects, and Activities
  sites/handbook/source/handbook/people-group/contracts-probation-periods/index.html.md.erb
Due: none

Update data/release_posts/unreleased/manage-shift-option-to-prevent-users-from-creating-groups-to-insta.yml
  data/release_posts/unreleased/manage-shift-option-to-prevent-users-from-creating-groups-to-insta.yml
Due: lint release-post-items, rspec-unit

Added the 5 webinars for October and 4 office hours (for Core 4)
  sites/handbook/source/handbook/customer-success/csm/segment/scale/webinar-calendar/index.html.md
Due: none

Provision direction page tweaks
  source/direction/fulfillment/provision/index.html.md
Due: none

Update anti-abuse board url
  sites/handbook/source/handbook/engineering/development/data-science/anti-abuse/index.html.md.erb
Due: none

added link
  sites/uncategorized/source/blog/blog-posts/2022-09-20-get-started-with-microservices-architecture.html.md.erb
Due: none

Add new Current Goals section
  sites/uncategorized/source/company/culture/inclusion/tmrg-global-voices/index.html.md
Due: none

Update code owners of Global Voices TMRG page
  .gitlab/CODEOWNERS
Due: none

Apply 1 suggestion(s) to 1 file(s)
  sites/uncategorized/source/blog/blog-posts/2022-09-21-introducing-the-infrastructure-bill-of-materials.html.md.erb
Due: none

Adding Brand Design jobBucket to openings.js
  source/javascripts/openings.js
Due: rspec-unit

Added link per Cesar
  sites/uncategorized/source/blog/blog-posts/2022-09-21-introducing-the-infrastructure-bill-of-materials.html.md.erb
Due: none

Revamp Wayne Haber engineering readme
  sites/handbook/source/handbook/engineering/readmes/wayne-haber/index.html.md
Due: none

Update...Contract Reset section in DD handbook
  sites/handbook/source/handbook/sales/field-operations/sales-operations/deal-desk/index.html.md
Due: none

Add crosslinks for the growth CSM priorities
  sites/handbook/source/handbook/customer-success/csm/segment/mid-touch/index.html.md
Due: none

Update kickoff playlist ID
  source/direction/kickoff/template.html.md.erb
Due: none

Update All Hands
  sites/handbook/source/handbook/marketing/index.html.md
Due: none

Updates to the Partner Integration Engineering Job Family
  sites/uncategorized/source/job-families/sales/partner-integration-engineering/index.html.md
Due: none

Update epic link to a `gitlab-org` epic
  sites/handbook/source/handbook/engineering/quality/engineering-productivity/flaky-tests/index.html.md
  sites/handbook/source/handbook/engineering/quality/engineering-productivity/index.html.md.erb
Due: none

Update index.html.md
  sites/uncategorized/source/job-families/finance/data-science/index.html.md
Due: none

Reverts Release Post template rebrand MVC1
  sites/uncategorized/source/includes/features/_badges.html.haml
  sites/uncategorized/source/includes/release.html.haml
  source/images/release/gradient-line.png
  source/layouts/release.haml
  source/stylesheets/release-posts.css.scss
Due: none

Update the CES contract voiding steps
  sites/handbook/source/handbook/hiring/talent-acquisition-framework/ces-contract-processes/index.html.md
Due: none

Manually create, name, and schedule iterations within a cadence
  data/release_posts/15_4/plan-manually-create-name-and-schedule-iterations-within-a-cadence.yml
  source/images/15_4/manual-iteration-management.png
Due: rspec-unit
