Repository spicysoft/jp-www-gitlab-com: changes, and which GitLab CI jobs are due for each by the changed paths.
All: update-gitlab-project-releases-page, apply-redirects-prod, content-security-policy-checker, lint release-post-items, rubocop, check-handbook-edit-links, rspec-unit

Path conditions:
  update-gitlab-project-releases-page: any of: sites/uncategorized/source/releases/posts/*-released.html.md
  apply-redirects-prod: any of: data/redirects.yml, bin/apply-exact-match-redirects, bin/apply-regex-redirects
  content-security-policy-checker: any of: source/includes/layout/head.html.haml
  lint release-post-items: any of: data/release_posts/unreleased/*, data/categories.yml, data/stages.yml, source/images/unreleased/*
  rubocop: any of: *.rb, **/*.rb, .rubocop.yml, Dangerfile, *.rake, **/*.rake, bin/**/*, scripts/**/*, Rakefile
  check-handbook-edit-links: any of: data/monorepo.yml, helpers/custom_helpers.rb, **/edit_page.html.haml, **/footer.html.haml, **/handbook-page-toc.haml, **/check_handbook_edit_links.rb
  rspec-unit: any of: spec/**/*, **/*.{js,json,rb,yml}, .rspec

Add bugs for the Package stage
  data/release_posts/unreleased/bugs.yml
Due: lint release-post-items, rspec-unit

Add UX improvements for Package
  data/release_posts/unreleased/usability_improvements.yml
Due: lint release-post-items, rspec-unit

update Engineering to Development for accuracy
  sites/handbook/source/handbook/people-group/learning-and-development/self-paced-learning/index.html.md
Due: none

Adds outcomes of stop exercise
  sites/handbook/source/handbook/only-healthy-constraints/index.html.md
Due: none

Splitting out Top Cross-Functional Initiatives
  sites/uncategorized/source/company/team/structure/working-groups/index.html.md
  sites/uncategorized/source/company/top-cross-functional-initiatives/index.html.md
Due: none

Add loc_usa and a couple of other channels
  sites/handbook/source/handbook/communication/chat/index.html.md
Due: none

Fixing typo
  sites/uncategorized/source/job-families/engineering/support-readiness-specialist/index.html.md
Due: none

Commercial Demo Jam Overview
  sites/handbook/source/handbook/customer-success/solutions-architects/processes/commercial/index.html.md
  sites/handbook/source/handbook/customer-success/solutions-architects/sa-practices/deliberate-practice/index.html.md
Due: none

Fix bad anchor
  source/direction/saas-platforms/dedicated/index.html.md
Due: none

Adding Digital Experience Operations Manager Job Family
  sites/uncategorized/source/job-families/marketing/digital-experience/index.html.md
Due: none

Adding learning resources to the SA handbook
  sites/handbook/source/handbook/customer-success/solutions-architects/tools-and-resources/index.html.md
Due: none

Move Optimize from Manage to Plan (phase 1)
  .gitlab/issue_templates/product-development-retro.md
  data/stages.yml
  data/team_members/person/a/adam-hegyi.yml
  data/team_members/person/a/apennells.yml
  data/team_members/person/b/brandon-l.yml
  data/team_members/person/e/ezekiel-k.yml
  data/team_members/person/f/fneill.yml
  data/team_members/person/h/hsnir1.yml
  data/team_members/person/l/lciutacu.yml
  data/team_members/person/m/magdalenafrankiewicz.yml
  data/team_members/person/n/nmalcolm.yml
  sites/handbook/source/handbook/engineering/development/dev/index.html.md.erb
  sites/handbook/source/handbook/engineering/development/dev/manage/index.html.md.erb
  sites/handbook/source/handbook/engineering/development/dev/manage/optimize/index.html.md.erb
  sites/handbook/source/handbook/engineering/development/dev/manage/optimize/partials/_unscheduled_issues.erb
  sites/handbook/source/handbook/product/product-analysis/crash-course/index.html.md
  sites/handbook/source/handbook/product/ux/stage-group-ux-strategy/release/index.html.md
  sites/handbook/source/includes/product/_categories-names.erb
  source/direction/kickoff/template.html.md.erb
Due: lint release-post-items, rspec-unit

Add new labels supported by Reactive `label`
  sites/handbook/source/handbook/engineering/quality/triage-operations/index.html.md
Due: none

Update Optimize group slack
  sites/handbook/source/handbook/engineering/development/dev/manage/optimize/index.html.md.erb
  sites/handbook/source/handbook/engineering/development/dev/manage/optimize/partials/_unscheduled_issues.erb
Due: none

Sync specialty to team page - 2022-10-04
  data/team_members/person/a/adam-hegyi.yml
  data/team_members/person/a/andrasherczeg.yml
  data/team_members/person/a/apennells.yml
  data/team_members/person/b/brandon-l.yml
  data/team_members/person/e/ezekiel-k.yml
  data/team_members/person/j/jpcyiza.yml
  data/team_members/person/m/magdalenafrankiewicz.yml
  data/team_members/person/m/matej-l.yml
Due: rspec-unit

Fixing a link typo in CMS instructions
  sites/handbook/source/handbook/product/ux/category-maturity-scorecards/index.html.md
Due: none

Correct a mistake on pshutsin roles list.
  data/team_members/person/p/pavelshutsin.yml
Due: rspec-unit

Adding UAE
  sites/handbook/source/handbook/finance/payroll/index.html.md
Due: none

edits
  sites/uncategorized/source/blog/blog-posts/2022-10-04-the-many-routes-to-a-tech-career.html.md.erb
Due: none

Add Sakamoto as Exec Sponsor
  sites/uncategorized/source/company/team/structure/working-groups/gitlab-com-saas-data-pipeline/index.html.md
Due: none

formatting tweaks
  sites/uncategorized/source/blog/blog-posts/2022-10-04-the-many-routes-to-a-tech-career.html.md.erb
Due: none

Create Blog Posts “2022-10-04-what-makes-a-great-tech-talk”
  sites/uncategorized/source/blog/blog-posts/2022-10-04-what-makes-a-great-tech-talk.html.md.erb
Due: none

Added section for SME owned collateral
  sites/handbook/source/handbook/engineering/security/security-assurance/field-security/customer-assurance-package.html.md
  sites/handbook/source/handbook/engineering/security/security-assurance/field-security/index.html.md
Due: none

Update request for announcement reference
  .gitlab/issue_templates/blog-post.md
  data/redirects.yml
  sites/handbook/source/handbook/marketing/blog/index.html.md
  sites/handbook/source/handbook/marketing/inbound-marketing/content/editorial-team/index.html.md
  sites/handbook/source/handbook/marketing/strategic-marketing/analyst-relations/index.html.md
Due: apply-redirects-prod, rspec-unit

formatting tweaks
  sites/uncategorized/source/blog/blog-posts/2022-10-04-what-makes-a-great-tech-talk.html.md.erb
Due: none

Adding Asterix next to Brazil as there are hiring restrictions
  sites/handbook/source/handbook/people-group/employment-solutions/index.html.md.erb
Due: none

Add newly supplied content blocks
  sites/uncategorized/source/blog/blog-posts/2016-06-03-ssg-overview-gitlab-pages-part-1-dynamic-x-static.html.md
  sites/uncategorized/source/blog/blog-posts/2019-08-19-get-started-compliance-as-code.html.md.erb
  sites/uncategorized/source/blog/blog-posts/2020-11-23-collaboration-communication-best-practices.html.md.erb
Due: none

Add Ameya Darshan to the team
  sites/handbook/source/includes/product/_categories-names.erb
Due: none

Update data/team_members/person/r/ralbus.yml,...
  data/team_members/person/r/ralbus.yml
  sites/uncategorized/source/images/team/roderickalbus.jpg
Due: rspec-unit

Adding Parental Leave Reentry buddy at profile
  data/team_members/person/i/irinagrosu.yml
Due: rspec-unit

Fix Collapsible Queries - Definitive Guide to Self-Managed
  sites/handbook/source/handbook/business-technology/data-team/data-catalog/self-managed/index.html.md
Due: none

Update Anti-Fraud Policy page
  sites/handbook/source/handbook/legal/anti-fraud-policy/index.html.md
Due: none

Expand director-shadow-program to allow community contributors and those in URG's to participate
  sites/handbook/source/handbook/engineering/development/shadow/director-shadow-program.html.md
Due: none

typos and fix spacing
  sites/uncategorized/source/blog/blog-posts/2022-10-04-what-makes-a-great-tech-talk.html.md.erb
Due: none

Remove SQS 28, update SQS 29 times.
  sites/handbook/source/handbook/sales/onboarding/SQS-workshop/index.html.md
Due: none

Formatting Update
  sites/handbook/source/handbook/legal/anti-fraud-policy/index.html.md
Due: none

Adding sentence regarding the restriction of hard copies containing PII.
  sites/handbook/source/handbook/legal/record-retention-policy/index.html.md
Due: none

Adding 15.4.2 blog post
  sites/uncategorized/source/releases/posts/2022-10-03-gitlab-15-4-2-released.html.md
Due: update-gitlab-project-releases-page

Update past / future sessions for 9/29 & 10/6.
  sites/handbook/source/handbook/sales/training/sales-enablement-sessions/index.html.md
Due: none

Add Nick Nguyen to SaaS data pipeline WG
  sites/uncategorized/source/company/team/structure/working-groups/gitlab-com-saas-data-pipeline/index.html.md
Due: none
