Repository spicysoft/jp-www-gitlab-com: changes, and which GitLab CI jobs are due for each by the changed paths.
All: update-gitlab-project-releases-page, apply-redirects-prod, content-security-policy-checker, lint release-post-items, rubocop, check-handbook-edit-links, rspec-unit

Path conditions:
  update-gitlab-project-releases-page: any of: sites/uncategorized/source/releases/posts/*-released.html.md
  apply-redirects-prod: any of: data/redirects.yml, bin/apply-exact-match-redirects, bin/apply-regex-redirects
  content-security-policy-checker: any of: source/includes/layout/head.html.haml
  lint release-post-items: any of: data/release_posts/unreleased/*, data/categories.yml, data/stages.yml, source/images/unreleased/*
  rubocop: any of: *.rb, **/*.rb, .rubocop.yml, Dangerfile, *.rake, **/*.rake, bin/**/*, scripts/**/*, Rakefile
  check-handbook-edit-links: any of: data/monorepo.yml, helpers/custom_helpers.rb, **/edit_page.html.haml, **/footer.html.haml, **/handbook-page-toc.haml, **/check_handbook_edit_links.rb
  rspec-unit: any of: spec/**/*, **/*.{js,json,rb,yml}, .rspec

Release Post - Move group push rules to Settings > Repository
  data/release_posts/unreleased/ecosystem-nav-group-push-rules.yml
  source/images/unreleased/ecosystem-group-settings-repository-push-rules.png
Due: lint release-post-items, rspec-unit

Update CMOC training scheduling
  sites/handbook/source/handbook/support/workflows/cmoc_workflows.html.md
Due: none

Removed competitors that are related to plan and not really optimize
  source/direction/manage/value_stream_management/index.html.md.erb
Due: none

Translate: バリュー＞結果＞危機感
  sites/handbook/source/handbook/values/index.html.md
Due: none

Update links to MR dependencies page (www-gitlab-com)
  data/features.yml
  data/release_posts/2019_08_22_gitlab_12_2_released.yml
  data/release_posts/2019_10_22_gitlab_12_4_released.yml
  sites/handbook/source/handbook/business-technology/data-team/platform/dbt-guide/index.html.md
  sites/handbook/source/handbook/customer-success/education-enablement/index.html.md
  sites/handbook/source/handbook/marketing/digital-experience/website/merge-requests/index.html.md
  sites/handbook/source/handbook/marketing/strategic-marketing/usecase-gtm/delivery-automation/index.html.md
Due: rspec-unit

Pushing out IaC maturity by one more month
  data/categories.yml
Due: lint release-post-items, rspec-unit

Update the labels allowed to be set via gitlab-bot
  sites/handbook/source/handbook/engineering/quality/triage-operations/index.html.md
Due: none

Sync specialty to team page - 2022-08-23
  data/team_members/person/a/alipniagov.yml
  data/team_members/person/a/ashrafkhamis.yml
  data/team_members/person/g/guillermodlsg.yml
  data/team_members/person/j/jhebden.yml
  data/team_members/person/j/justintobler.yml
  data/team_members/person/k/knayakgl.yml
  data/team_members/person/m/matthiaskaeppler.yml
  data/team_members/person/n/nmilojevic1.yml
  data/team_members/person/p/paul-gascou-vaillancourt.yml
  data/team_members/person/q/quang-minh-nguyen.yml
  data/team_members/person/r/rzwambag.yml
Due: rspec-unit

Update Quarterly Subscription Reconciliations doc to include the macro title for convenience
  sites/handbook/source/handbook/support/license-and-renewals/workflows/quarterly_subscription_reconciliations.html.md
Due: none

Kubernetes Mgmt direction update - explaing the premium positioning
  source/direction/configure/kubernetes_management/index.html.md.erb
Due: none

Updated the priorities for Kubernetes Mgmt
  source/direction/configure/kubernetes_management/index.html.md.erb
Due: none

Fix broken canonical
  sites/uncategorized/source/releases/posts/2022-08-22-critical-security-release-gitlab-15-3-1-released.html.md
Due: update-gitlab-project-releases-page

Add priority levels for Geo support asks.
  sites/handbook/source/handbook/engineering/development/enablement/systems/geo/index.html.md.erb
Due: none

Add @mhenriksen to VR stable counterparts for DAST
  sites/handbook/source/handbook/engineering/development/sec/secure/vulnerability-research/index.html.md.erb
Due: none

Add a section to update the title after promotions
  sites/handbook/source/handbook/support/index.html.md.erb
Due: none

Add workaround to disable GitHub import for 15.3.1 release
  sites/uncategorized/source/releases/posts/2022-08-22-critical-security-release-gitlab-15-3-1-released.html.md
Due: update-gitlab-project-releases-page

change date
  sites/uncategorized/source/blog/blog-posts/2022-08-23-gitlabs-2022-global-devsecops-survey-security-is-the-top-concern-investment.html.md.erb
Due: none

add cover image, make feature
  sites/uncategorized/source/blog/blog-posts/2022-08-23-gitlabs-2022-global-devsecops-survey-security-is-the-top-concern-investment.html.md.erb
  source/images/blogimages/2022-devsecops-survey-blog-header.png
Due: none

tweak
  sites/uncategorized/source/blog/blog-posts/2022-08-23-gitlabs-2022-global-devsecops-survey-security-is-the-top-concern-investment.html.md.erb
Due: none

Updated handbook broken link for the impraise article
  sites/handbook/source/handbook/leadership/index.html.md
Due: none

Added guest author frontmatter
  sites/uncategorized/source/blog/blog-posts/2022-08-24-postman-integration-with-gitlab-makes-your-api-workflows-easier.html.md.erb
Due: none

tweaks
  sites/uncategorized/source/blog/blog-posts/2022-08-24-postman-integration-with-gitlab-makes-your-api-workflows-easier.html.md.erb
Due: none

tweak
  sites/uncategorized/source/blog/blog-posts/2022-08-24-postman-integration-with-gitlab-makes-your-api-workflows-easier.html.md.erb
Due: none

Merge branch 'update-community-contributions-assets' into 'master'
  sites/uncategorized/source/community/contribute/index.html.haml
  source/images/community/community_contributions_2021.png
Due: none

Update database group processes
  sites/handbook/source/handbook/engineering/development/enablement/data_stores/database/index.html.md.erb
Due: none

Moved 2021 Survey to previous year
  sites/uncategorized/source/developer-survey/previous/2021/index.html.haml
Due: none

update TW responsibilities
  sites/handbook/source/handbook/engineering/ux/technical-writing/index.html.md.erb
Due: none

Add 2022 Global DevSecOps Survey Press Release to website
  data/press_releases.yml
  sites/uncategorized/source/press/releases/2022-08-23-gitlab-sixth-annual-devsecops-survey.html.md
  source/images/opengraph/Press-Releases/2022-Global-DevSecOps-Survey-Press-Release-Image.png
Due: rspec-unit

Move developer survey to /developer-survey/previous/2021
  sites/uncategorized/source/developer-survey/previous/2021/index.html.haml
Due: none

Update team member information on the Team Page
  data/team_members/person/d/drelli.yml
Due: rspec-unit

Add Nick Duff to team page
  data/team_members/person/n/nduff.yml
  sites/uncategorized/source/images/team/nduff.jpg
Due: rspec-unit

Update CRO Development Day to CRO CAREER Development Day
  sites/handbook/source/handbook/sales/crodevday/index.html.md
Due: none

Add JTBD to Jamstack page
  sites/handbook/source/handbook/engineering/incubation/jamstack/index.html.md
Due: none

Internal links to SCM page
  data/case_studies_slippers/dublin-city-university.yml
  data/topic_children/what-are-gitlab-flow-best-practices.yml
  data/topic_children/what-is-centralized-version-control-system.yml
  data/topic_children/what-is-code-review.yml
  data/topic_children/what-is-innersource.yml
  sites/handbook/source/handbook/marketing/strategic-marketing/usecase-gtm/index.html.md
  sites/handbook/source/handbook/marketing/strategic-marketing/usecase-gtm/version-control-collaboration/index.html.md
  sites/handbook/source/handbook/use-cases/index.html.md
  sites/uncategorized/source/blog/blog-posts/2019-05-29-sfdx-promo-trailhead-blog.html.md.erb
  source/direction/security/template.html.md.erb
Due: rspec-unit

GitLab Team Page update photo aug19 - Jason McAllister
  data/team_members/person/j/jmcallister2.yml
  sites/uncategorized/source/images/team/jasonmcallister.png
Due: rspec-unit

fix: furhan is stable counterpart for gitaly
  data/team_members/person/f/fshabir.yml
Due: rspec-unit

Clarify use case count
  sites/handbook/source/handbook/customer-success/product-usage-data/use-case-adoption/index.html.md
Due: none

Added 2 CTAs to new survey in blog. Top one italic
  sites/uncategorized/source/blog/blog-posts/2021-05-04-gitlabs-2021-survey-uncovers-a-new-devops-maturity-model.html.md.erb
Due: none

edits
  sites/uncategorized/source/blog/blog-posts/2022-08-24-postman-integration-with-gitlab-makes-your-api-workflows-easier.html.md.erb
Due: none

Updata canonical path
  sites/uncategorized/source/releases/posts/2022-08-22-critical-security-release-gitlab-15-3-1-released.html.md
Due: update-gitlab-project-releases-page
