Repository spicysoft/jp-www-gitlab-com: changes, and which GitLab CI jobs are due for each by the changed paths.
All: update-gitlab-project-releases-page, apply-redirects-prod, content-security-policy-checker, lint release-post-items, rubocop, check-handbook-edit-links, rspec-unit

Path conditions:
  update-gitlab-project-releases-page: any of: sites/uncategorized/source/releases/posts/*-released.html.md
  apply-redirects-prod: any of: data/redirects.yml, bin/apply-exact-match-redirects, bin/apply-regex-redirects
  content-security-policy-checker: any of: source/includes/layout/head.html.haml
  lint release-post-items: any of: data/release_posts/unreleased/*, data/categories.yml, data/stages.yml, source/images/unreleased/*
  rubocop: any of: *.rb, **/*.rb, .rubocop.yml, Dangerfile, *.rake, **/*.rake, bin/**/*, scripts/**/*, Rakefile
  check-handbook-edit-links: any of: data/monorepo.yml, helpers/custom_helpers.rb, **/edit_page.html.haml, **/footer.html.haml, **/handbook-page-toc.haml, **/check_handbook_edit_links.rb
  rspec-unit: any of: spec/**/*, **/*.{js,json,rb,yml}, .rspec

Fixing a typo
  sites/handbook/source/handbook/business-technology/team-member-enablement/onboarding-access-requests/index.html.md
Due: none

Update sites/handbook/source/handbook/sales/field-operations/channel-operations/index.html.md
  sites/handbook/source/handbook/sales/field-operations/channel-operations/index.html.md
Due: none

Update career agility handbook page with resources
  sites/uncategorized/source/company/culture/inclusion/tmrg-gitlab-women/agile-career/agility-at-gitlab.png
  sites/uncategorized/source/company/culture/inclusion/tmrg-gitlab-women/agile-career/index.html.md
Due: none

Update data/team_members/person/a/afinegan.yml Job role: Strategic Account Leader
  data/team_members/person/a/afinegan.yml
Due: rspec-unit

[SECURITY-RELEASE-BLOG] Security blog post for release 15-5-2
  sites/uncategorized/source/releases/posts/2022-11-02-security-release-gitlab-15-5-2-released.html.md
Due: update-gitlab-project-releases-page

Privacy workflows update
  sites/handbook/source/handbook/support/workflows/account_deletion_access_request_workflows.html.md
  sites/handbook/source/handbook/support/workflows/personal_data_access_account_deletion.html.md
Due: none

Improving neopronouns references
  sites/handbook/source/handbook/people-group/pronouns/index.html.md
Due: none

Add Apple touch_id keyboard to handbook
  sites/handbook/source/handbook/finance/procurement/office-equipment-supplies/index.html.md
Due: none

Removing offboarded TM from team page - TW
  sites/handbook/source/handbook/marketing/readmes/index.html.md
Due: none

Mark pedropombeiro as trainee_maintainer
  data/team_members/person/p/pedropombeiro.yml
Due: rspec-unit

Adding Donovan as System Admin
  sites/handbook/source/handbook/security/security-assurance/index.html.md
Due: none

Clarify Redis/RedisHLL/Database counter distinction in the PI guide
  sites/handbook/source/handbook/product/product-intelligence-guide/getting-started/index.html.md.erb
Due: none

Update job families file
  data/people_group/job_families.yml
Due: rspec-unit

Added FY23-Q4 OKRs to handbook. Created FY24-Q1 page and schedule
  sites/uncategorized/source/company/okrs/fy23-q4/index.html.md
  sites/uncategorized/source/company/okrs/fy24-q1/index.html.md
  sites/uncategorized/source/company/okrs/index.html.md
Due: none

DR closure procedures for released patches
  sites/handbook/source/handbook/security/security-assurance/dedicated-compliance/POAM-Deviation-Request-Procedure.html.md
Due: none

Add details about CSE engagement
  sites/handbook/source/handbook/support/workflows/support-sales-escalations.html.md
Due: none

Update Development Director Shadow Program links
  sites/handbook/source/handbook/engineering/index.html.md.erb
  sites/handbook/source/handbook/leadership/index.html.md
  sites/handbook/source/handbook/people-group/learning-and-development/career-development/ic-development/index.html.md
Due: none

Demote snippets from Editor category to feature under Source Code Management category
  .gitlab/CODEOWNERS
  data/categories.yml
  data/devops_tools_list.yml
  data/features.yml
  data/redirects.yml
  data/stages.yml
  source/direction/create/editor/snippets/index.html.md
  source/direction/create/source_code_management/source_code_management/index.html.md.erb
Due: apply-redirects-prod, lint release-post-items, rspec-unit

Add clarification on MoM change in td_xmau snippet
  sites/handbook/source/handbook/business-technology/data-team/data-catalog/xmau-analysis/product-manager-toolkit.html.md.erb
Due: none

Update maintainer_mentorship.yml for Drew Stachon
  data/maintainer_mentorship.yml
Due: rspec-unit

Update Product Direction page to provide more UX details
  source/direction/template.html.md.erb
Due: none

Removing direct link to Google Slides document
  source/direction/fulfillment/index.html.md
Due: none

Remove Oct webinar from the HB page
  sites/handbook/source/handbook/customer-success/csm/segment/scale/webinar-calendar/index.html.md
Due: none

add photo to manager competencies
  sites/handbook/source/handbook/competencies/competencies-graphic.png
  sites/handbook/source/handbook/competencies/index.html.md
Due: none

Update Environment Management Viable date
  data/categories.yml
Due: lint release-post-items, rspec-unit

Add note re advance drafting for RP items involving external business partnershps
  sites/handbook/source/handbook/marketing/blog/release-posts/index.html.md
Due: none

Add new team members to Security Risk page
  sites/handbook/source/handbook/security/security-assurance/security-risk/index.html.md
Due: none

Remove redundant deprecations reminder
  .gitlab/merge_request_templates/Release-Post.md
Due: none

Add Danika Teverovsky to team page
  data/team_members/person/d/dteverovsky.yml
  sites/uncategorized/source/images/team/danika_teverovsky.jpg
Due: rspec-unit

Fixing link appearance
  sites/handbook/source/handbook/security/security-assurance/security-risk/storm-program/critical-systems.html.md
Due: none

Update tertiary release post MRs
  .gitlab/merge_request_templates/Release-Post.md
  sites/handbook/source/handbook/marketing/blog/release-posts/index.html.md
Due: none

Update What's New instructions
  .gitlab/merge_request_templates/Release-Post.md
  sites/handbook/source/handbook/marketing/blog/release-posts/index.html.md
Due: none

Breaking Changes that fix a security issue are ok in minor releases
  .gitlab/merge_request_templates/Release-Post.md
  sites/handbook/source/handbook/marketing/blog/release-posts/index.html.md
  sites/handbook/source/handbook/product/gitlab-the-product/index.html.md.erb
Due: none

Add Cleveland to global search as SSC
  data/stages.yml
Due: lint release-post-items, rspec-unit

Update US Federal Internal License Form link
  sites/handbook/source/handbook/support/internal-support/index.html.md
Due: none

Revising "Litigation Hold" language to "Legal Hold"
  sites/handbook/source/handbook/legal/index.html.md
Due: none

updating November 2022 GC Date
  sites/handbook/source/handbook/product/product-leadership/index.html.md.erb
Due: none

Refresh create new page instructions to reflect current UX on GitLab
  sites/handbook/source/handbook/marketing/digital-experience/website/index.html.md
Due: none

Resolve "Create new page for Laurel README"
  sites/handbook/source/handbook/ceo/chief-of-staff-team/readmes/index.html.md
  sites/handbook/source/handbook/ceo/chief-of-staff-team/readmes/lfarrer/index.html.md.erb
Due: none

Adding additional senior path in URL
  data/team_members/person/f/furkanayhan.yml
Due: rspec-unit
