Repository spicysoft/jp-www-gitlab-com: changes, and which GitLab CI jobs are due for each by the changed paths.
All: update-gitlab-project-releases-page, apply-redirects-prod, content-security-policy-checker, lint release-post-items, rubocop, check-handbook-edit-links, rspec-unit

update-gitlab-project-releases-page:
  cache:
    key: web_ruby-3.0-bullseye
    policy: pull
    paths:
    - vendor
    - node_modules
  before_script:
  - bundle config set path vendor
  - bundle install --quiet --jobs 4
  - yarn install
  stage: content-generation
  needs: []
  script:
  - bundle exec rake release:ee:update_project_releases_page
  ...

apply-redirects-prod:
  cache:
    key: web_ruby-3.0-bullseye
    policy: pull
    paths:
    - vendor
    - node_modules
  before_script:
  - bundle config set path vendor
  - bundle install --quiet --jobs 4
  - yarn install
  stage: build-and-deploy
  environment:
    name: production
  script:
  - export FASTLY_SRV_ID=$FASTLY_SRV_ID_PROD
  ...

content-security-policy-checker:
  image: debian:stable-slim
  stage: test
  needs: []
  script:
  ...

lint release-post-items:
  cache:
    key: web_ruby-3.0-bullseye
    policy: pull
    paths:
    - vendor
    - node_modules
  before_script:
  - bundle config set path vendor
  - bundle install --quiet --jobs 4
  - yarn install
  stage: test
  needs: []
  script:
  - bundle exec bin/validate-release-post-item

rubocop:
  cache:
    key: web_ruby-3.0-bullseye
    policy: pull
    paths:
    - vendor
    - node_modules
  before_script:
  - bundle config set path vendor
  - bundle install --quiet --jobs 4
  - yarn install
  stage: test
  needs: []
  script:
  - bundle exec rubocop

check-handbook-edit-links:
  cache:
    key: web_ruby-3.0-bullseye
    policy: pull
    paths:
    - vendor
    - node_modules
  before_script:
  - bundle config set path vendor
  - bundle install --quiet --jobs 4
  - yarn install
  stage: test
  needs:
  - handbook-build-and-review-deploy
  script:
  - scripts/check-handbook-edit-links.rb

rspec-unit:
  cache:
    key: web_ruby-3.0-bullseye
    policy: pull
    paths:
    - vendor
    - node_modules
  before_script:
  - bundle config set path vendor
  - bundle install --quiet --jobs 4
  - yarn install
  stage: test
  needs: []
  script:
  - bundle exec rspec --tag ~@feature

Update job families file
  data/people_group/job_families.yml
Due: rspec-unit

Add information to avoid nav releases on release post days.
  sites/handbook/source/handbook/marketing/digital-experience/navigation-repository/index.html.md
Due: none

Fix link formatting on TW management page
  sites/uncategorized/source/job-families/engineering/technical-writing-manager/index.html.md
Due: none

Add pillars of success for growth csms
  sites/handbook/source/handbook/customer-success/tam/segment/mid-touch/index.html.md
Due: none

Create Blog Posts “2022-08-22-postman-integration-with-gitlab-makes-your-api-workflows-easier”
  sites/uncategorized/source/blog/blog-posts/2022-08-22-postman-integration-with-gitlab-makes-your-api-workflows-easier.html.md.erb
Due: none

Update Talent Brand Content Library HB Page
  sites/handbook/source/handbook/people-group/employment-branding/content-library/index.html.md
Due: none

edits
  sites/uncategorized/source/blog/blog-posts/2022-08-22-postman-integration-with-gitlab-makes-your-api-workflows-easier.html.md.erb
  sites/uncategorized/source/blog/blog-posts/2022-08-24-postman-integration-with-gitlab-makes-your-api-workflows-easier.html.md.erb
Due: none

uploaded images
  source/images/blogimages/postman1.png
  source/images/blogimages/postman2.png
  source/images/blogimages/postman3.png
  source/images/blogimages/postman4.png
  source/images/blogimages/postman5.png
Due: none

edits
  sites/uncategorized/source/blog/blog-posts/2022-08-24-postman-integration-with-gitlab-makes-your-api-workflows-easier.html.md.erb
Due: none

Update team member details - Jamie Maynard
  data/team_members/person/j/jamiemaynard.yml
  sites/uncategorized/source/images/team/jamiemaynard.jpg
Due: rspec-unit

update owner and provisioner of smartling
  data/tech_stack.yml
Due: rspec-unit

Remove 8/18 Spanish Webinar link
  sites/handbook/source/handbook/customer-success/tam/segment/scale/webinar-calendar/index.html.md
Due: none

Fill Oct 3 week gap in pipeline rotation schedule
  sites/handbook/source/handbook/engineering/quality/quality-engineering/oncall-rotation/index.html.md.erb
Due: none

Specifies and updates XFN Prioritization exit criteria
  sites/uncategorized/source/company/team/structure/working-groups/cross-functional-prioritization/index.html.md
Due: none

adding a note not to assign issue
  sites/handbook/source/handbook/engineering/security/security-assurance/field-security/customer-security-assessment-process.html.md
Due: none

FY23 Q3 update to Prod Ops Direction
  source/direction/product-operations/template.html.md.erb
Due: none

[SECURITY-RELEASE-BLOG] Security blog post for release 15-3-1
  sites/uncategorized/source/releases/posts/2022-08-22-security-release-gitlab-15.3.1-released.html.md_
Due: none

Make Brian Williams a trainee maintainer for CI templates
  data/team_members/person/b/bwill.yml
Due: rspec-unit

Link speaker series to main L&D page
  sites/handbook/source/handbook/people-group/learning-and-development/index.html.md
Due: none

Adding direction page for self-service purchase fulfillment
  source/direction/fulfillment/self-service-purchase/index.html.md
Due: none

Replaced pops contract renewal email alias with people connect
  sites/handbook/source/handbook/people-group/contracts-probation-periods/index.html.md.erb
Due: none

Rename 15.3.1 blog post
  sites/uncategorized/source/releases/posts/2022-08-22-critical-security-release-gitlab-15-3-1-released.html.md
Due: update-gitlab-project-releases-page

Update Guillermo De los Santos team info
  data/team_members/person/g/guillermodlsg.yml
Due: rspec-unit

MR to update photo on GitLab Team Page
  data/team_members/person/d/dturner.yml
  sites/uncategorized/source/images/team/derekturner.jpg
Due: rspec-unit

Updated planning issue template for themes
  sites/handbook/source/handbook/engineering/ux/stage-group-ux-strategy/sec/index.html.md
Due: none

Update source/direction/fulfillment/self-service-purchase/index.html.md
  source/direction/fulfillment/self-service-purchase/index.html.md
Due: none

Add Global Voices TMRG handbook page
  sites/uncategorized/source/company/culture/inclusion/erg-guide/index.html.md
  sites/uncategorized/source/company/culture/inclusion/tmrg-global-voices/index.html.md
Due: none

Remove workflow from usability KR
  sites/uncategorized/source/company/okrs/fy23-q3/index.html.md
Due: none

Notes that team members should look for opportunities to meet within budget
  sites/handbook/source/handbook/incentives/index.html.md
Due: none

Utilization Values Sync Time and more
  sites/handbook/source/handbook/engineering/development/fulfillment/utilization/index.html.md.erb
Due: none

Remove graphic
  sites/uncategorized/source/blog/blog-posts/2022-08-19-gitlab-adds-further-measures-to-combat-credential-stuffing-and-other-types-of-platform-abuse.html.md.erb
Due: none

Add graphic
  sites/uncategorized/source/blog/blog-posts/2022-08-19-gitlab-adds-further-measures-to-combat-credential-stuffing-and-other-types-of-platform-abuse.html.md.erb
  source/images/blogimages/credentialstuffing3.png
Due: none

Fix typo
  sites/uncategorized/source/blog/blog-posts/2022-08-19-gitlab-adds-further-measures-to-combat-credential-stuffing-and-other-types-of-platform-abuse.html.md.erb
Due: none

Updated title and mentorship
  data/team_members/person/v/vijaysingh1982.yml
Due: rspec-unit

Fix broken office supplies link.
  sites/uncategorized/source/company/culture/all-remote/workspace/index.html.md.erb
Due: none

Navigation and Settings update - Part 3
  source/direction/ecosystem/foundations/navigation_settings/index.html.md
Due: none

Add Alex as local db reviewer
  data/team_members/person/a/alex-pooley.yml
Due: rspec-unit

Translate バリュー＞結果＞不確実性を受け入れる
  sites/handbook/source/handbook/values/index.html.md
Due: none

Translate: バリュー>結果>行動・行動・行動
  sites/handbook/source/handbook/values/index.html.md
Due: none

Path conditions:
  update-gitlab-project-releases-page: any of: sites/uncategorized/source/releases/posts/*-released.html.md
  apply-redirects-prod: any of: data/redirects.yml, bin/apply-exact-match-redirects, bin/apply-regex-redirects
  content-security-policy-checker: any of: source/includes/layout/head.html.haml
  lint release-post-items: any of: data/release_posts/unreleased/*, data/categories.yml, data/stages.yml, source/images/unreleased/*
  rubocop: any of: *.rb, **/*.rb, .rubocop.yml, Dangerfile, *.rake, **/*.rake, bin/**/*, scripts/**/*, Rakefile
  check-handbook-edit-links: any of: data/monorepo.yml, helpers/custom_helpers.rb, **/edit_page.html.haml, **/footer.html.haml, **/handbook-page-toc.haml, **/check_handbook_edit_links.rb
  rspec-unit: any of: spec/**/*, **/*.{js,json,rb,yml}, .rspec
