Repository spicysoft/jp-www-gitlab-com: changes, and which GitLab CI jobs are due for each by the changed paths.
All: update-gitlab-project-releases-page, apply-redirects-prod, content-security-policy-checker, lint release-post-items, rubocop, check-handbook-edit-links, rspec-unit

update-gitlab-project-releases-page:
  cache:
    key: web_ruby-3.0-bullseye
    policy: pull
    paths:
    - vendor
    - node_modules
  before_script:
  - bundle config set path vendor
  - bundle install --quiet --jobs 4
  - yarn install
  stage: content-generation
  needs: []
  script:
  - bundle exec rake release:ee:update_project_releases_page
  ...

apply-redirects-prod:
  cache:
    key: web_ruby-3.0-bullseye
    policy: pull
    paths:
    - vendor
    - node_modules
  before_script:
  - bundle config set path vendor
  - bundle install --quiet --jobs 4
  - yarn install
  stage: build-and-deploy
  environment:
    name: production
  script:
  - export FASTLY_SRV_ID=$FASTLY_SRV_ID_PROD
  ...

content-security-policy-checker:
  image: debian:stable-slim
  stage: test
  needs: []
  script:
  ...

lint release-post-items:
  cache:
    key: web_ruby-3.0-bullseye
    policy: pull
    paths:
    - vendor
    - node_modules
  before_script:
  - bundle config set path vendor
  - bundle install --quiet --jobs 4
  - yarn install
  stage: test
  needs: []
  script:
  - bundle exec bin/validate-release-post-item

rubocop:
  cache:
    key: web_ruby-3.0-bullseye
    policy: pull
    paths:
    - vendor
    - node_modules
  before_script:
  - bundle config set path vendor
  - bundle install --quiet --jobs 4
  - yarn install
  stage: test
  needs: []
  script:
  - bundle exec rubocop

check-handbook-edit-links:
  cache:
    key: web_ruby-3.0-bullseye
    policy: pull
    paths:
    - vendor
    - node_modules
  before_script:
  - bundle config set path vendor
  - bundle install --quiet --jobs 4
  - yarn install
  stage: test
  needs:
  - handbook-build-and-review-deploy
  script:
  - scripts/check-handbook-edit-links.rb

rspec-unit:
  cache:
    key: web_ruby-3.0-bullseye
    policy: pull
    paths:
    - vendor
    - node_modules
  before_script:
  - bundle config set path vendor
  - bundle install --quiet --jobs 4
  - yarn install
  stage: test
  needs: []
  script:
  - bundle exec rspec --tag ~@feature

Sync specialty to team page - 2022-08-26
  data/team_members/person/e/exit404.yml
Due: rspec-unit

Add docs feedback and improvements section
  sites/handbook/source/handbook/engineering/ux/technical-writing/workflow/index.html.md
Due: none

Handbook: Grammatical and spelling fixes
  sites/handbook/source/handbook/engineering/quality/contributor-success/team-structure.html.md
Due: none

Add trailing slash to prevent redirects
  data/team_members/person/a/aish.sub.yml
  data/team_members/person/a/alex-kalderimis.yml
  data/team_members/person/a/alinamihaila.yml
  data/team_members/person/a/alipniagov.yml
  data/team_members/person/a/amparoluna.yml
  data/team_members/person/a/andysoiron.yml
  data/team_members/person/b/bhrai.yml
  data/team_members/person/c/chadwoolley.yml
  data/team_members/person/c/corinnagogolok.yml
  data/team_members/person/d/dfrazao2.yml
  data/team_members/person/d/dgruzd.yml
  data/team_members/person/g/ghavenga.yml
  data/team_members/person/j/jayjoshua.yml
  data/team_members/person/l/luke-duncalfe.yml
  data/team_members/person/m/mark-chao.yml
  data/team_members/person/m/matthiaskaeppler.yml
  data/team_members/person/m/michold.yml
  data/team_members/person/m/mikolajwawrzyniak.yml
  data/team_members/person/n/nmilojevic1.yml
  data/team_members/person/p/piotrskorupa.yml
  data/team_members/person/q/qingyuzhao.yml
  data/team_members/person/r/rzwambag.yml
  data/team_members/person/s/shreyasagarwal.yml
  data/team_members/person/s/stomlinson.yml
  data/team_members/person/t/terrichu.yml
  data/team_members/person/v/vasilii-iakliushin.yml
  data/team_members/person/v/vladlena-shumilo.yml
  data/team_members/vacancy/backend-engineer-global-search-1.yml
  data/team_members/vacancy/backend-engineer-global-search-2.yml
  data/team_members/vacancy/backend-engineer-global-search-3.yml
Due: rspec-unit

Add trailing slash to prevent redirects
  data/people_group/job_families.yml
  data/team_members/person/a/aviellewolfe.yml
  data/team_members/person/b/bmarjanovic.yml
  data/team_members/person/b/bsandlin.yml
  data/team_members/person/d/dtragjasi.yml
  data/team_members/person/e/eduardosanz.yml
  data/team_members/person/f/frederic-caplette.yml
  data/team_members/person/j/jaimemartinez.yml
  data/team_members/person/j/jessieay.yml
  data/team_members/person/j/joe-shaw.yml
  data/team_members/person/t/tomasbulva.yml
  sites/handbook/source/handbook/engineering/career-development/index.html.md
  sites/handbook/source/handbook/hiring/interviewing/customer-support-interviewing/index.html.md
  sites/handbook/source/handbook/support/index.html.md.erb
  sites/uncategorized/source/job-families/engineering/development/backend/manager/index.html.md
  sites/uncategorized/source/job-families/engineering/development/frontend/manager/index.html.md
  sites/uncategorized/source/job-families/engineering/development/management/index.html.md.erb
  sites/uncategorized/source/job-families/engineering/engineering-management/index.html.md
Due: rspec-unit

Changes Acquisition to Activation under Mission
  sites/handbook/source/handbook/engineering/development/growth/activation/index.html.md.erb
Due: none

Document the new 'Resident contributions labeler' automation
  sites/handbook/source/handbook/engineering/quality/triage-operations/index.html.md
Due: none

Update FAQ for clarity about limit enforcement
  sites/uncategorized/source/pricing/faq-efficient-free-tier/index.html.md
  sites/uncategorized/source/pricing/faq-paid-storage-transfer/index.html.md
Due: none

Add secondary provisioners for AWS Dedicated, and Docker Desktop
  data/tech_stack.yml
Due: rspec-unit

Pursuing maintainership steps
  sites/handbook/source/handbook/engineering/workflow/code-review/index.html.md.erb
Due: none

Update redirected links
  sites/handbook/source/handbook/support/index.html.md.erb
  sites/uncategorized/source/blog/blog-posts/2016-11-03-working-at-gitlab-30-days-later.html.md
  sites/uncategorized/source/blog/blog-posts/2018-02-27-coreos-acquisition.html.md.erb
  sites/uncategorized/source/blog/blog-posts/2018-03-27-high-efficiency-innovation.html.md
  sites/uncategorized/source/company/pricing/index.html.md.erb
  source/layouts/job_family_page.haml
Due: none

Update data/team_members/person/m/maxbdm.yml
  data/team_members/person/m/maxbdm.yml
Due: rspec-unit

Adding warning for CMOC shadow not to acknowledge or resolve PD pages
  sites/handbook/source/handbook/support/workflows/cmoc_workflows.html.md
Due: none

Clarify Quote creation process where both FP Training and T&M Services exist on a single SOW/Opportunity..
  sites/handbook/source/handbook/customer-success/professional-services-engineering/engagement-mgmt/index.html.md
  sites/handbook/source/handbook/sales/field-operations/sales-operations/deal-desk/index.html.md
Due: none

Add new SIRT hire to team page and modify team chart
  data/team_members/person/b/ballam.yml
  data/team_members/person/c/corey-mccarty.yml
  data/team_members/person/h/harjeetsharma.yml
  data/team_members/person/j/jroppelt.yml
  data/team_members/person/l/lzvd.yml
  data/team_members/person/m/mjozenazemian.yml
  data/team_members/person/t/t-lam.yml
  data/team_members/person/v/vmairet.yml
  sites/handbook/source/handbook/engineering/security/security-operations/sirt/index.html.md
Due: rspec-unit

Add new team members for 2022-08-22
  data/team_members/person/a/ankurbedi.yml
  data/team_members/person/a/apennells.yml
  data/team_members/person/a/ayeung.yml
  data/team_members/person/b/bethanycox.yml
  data/team_members/person/b/brianmason.yml
  data/team_members/person/c/cpawlowski.yml
  data/team_members/person/d/daniel.gunnell.yml
  data/team_members/person/d/dcurlewis.yml
  data/team_members/person/f/franzrivera.yml
  data/team_members/person/g/geenie.yml
  data/team_members/person/g/gkalifa.yml
  data/team_members/person/g/gmarino-gitlab.yml
  data/team_members/person/j/jbcrawford.yml
  data/team_members/person/j/jcassidy1.yml
  data/team_members/person/j/jon_jenkins.yml
  data/team_members/person/j/josephburnett.yml
  data/team_members/person/j/jsmith.yml
  data/team_members/person/k/kerbalette.yml
  data/team_members/person/k/ksvoboda.yml
  data/team_members/person/l/laurenroberts.yml
  data/team_members/person/l/luckcharm.yml
  data/team_members/person/m/mhenry.yml
  data/team_members/person/n/nshah19.yml
  data/team_members/person/r/raimundh.yml
  data/team_members/person/r/raulrrendon.yml
  data/team_members/person/s/salvarez.yml
  data/team_members/person/s/samsam_kim.yml
  data/team_members/person/s/stingrayza.yml
Due: rspec-unit

Update to Content Marketing team handbook page
  sites/handbook/source/handbook/marketing/inbound-marketing/content/content-marketing/index.html.md
Due: none

August Security KPI updates
  data/performance_indicators/security_department.yml
Due: rspec-unit

Update Virtual Card Guide
  sites/handbook/source/handbook/business-technology/enterprise-applications/guides/coupa-virtual-cards/index.html.md
  sites/handbook/source/handbook/business-technology/enterprise-applications/guides/coupa-virtual-cards/vcard_actual.png
  sites/handbook/source/handbook/business-technology/enterprise-applications/guides/coupa-virtual-cards/vcard_allocadia.png
  sites/handbook/source/handbook/business-technology/enterprise-applications/guides/coupa-virtual-cards/vcard_scenariob.png
  sites/handbook/source/handbook/business-technology/enterprise-applications/guides/coupa-virtual-cards/vcard_selectno.png
Due: none

Update sites/uncategorized/source/job-families/alliances/alliances-manager/index.html.md
  sites/uncategorized/source/job-families/alliances/alliances-manager/index.html.md
Due: none

Fix master pipeline when GITLAB_BOT_TOKEN is set
  spec/tasks/update_gitlab_project_releases_page_rake_spec.rb
Due: rubocop, rspec-unit

Add Venturefizz Inside Engineering video to TB Content Page
  sites/handbook/source/handbook/people-group/employment-branding/content-library/index.html.md
Due: none

Spelling Mistake
  sites/handbook/source/handbook/resellers/services/index.html.md
Due: none

POV Approval process and rationale
  sites/handbook/source/handbook/customer-success/solutions-architects/tools-and-resources/pov/index.html.md
Due: none

Remove security and reliability charts from handbook
  sites/handbook/source/handbook/engineering/development/dev/create/code-review/backend/_metrics.erb
Due: none

Update career conversation tips for managers with short videos
  sites/handbook/source/handbook/people-group/learning-and-development/career-development/index.html.md
Due: none

Change DC triage schedule
  sites/handbook/source/handbook/business-technology/data-team/how-we-work/triage/index.html.md
Due: none

Add release post manager shadow to MR template
  .gitlab/merge_request_templates/Release-Post.md
  lib/tasks/release_post.rake
Due: rubocop

Update job families file
  data/people_group/job_families.yml
Due: rspec-unit

Update source/direction/fulfillment/self-service-purchase/index.html.md
  source/direction/fulfillment/self-service-purchase/index.html.md
Due: none

Updated Staff and Principal roles to remove group assignment details
  sites/uncategorized/source/job-families/engineering/technical-writer/index.html.md
Due: none

Update resident contributor KR
  sites/uncategorized/source/company/okrs/fy23-q3/index.html.md
Due: none

Updates with links to Cryptographic Standard
  sites/handbook/source/handbook/engineering/security/architecture/index.html.md
  sites/handbook/source/handbook/engineering/security/index.html.md.erb
  sites/handbook/source/handbook/engineering/security/security-assurance/security-compliance/guidance/cryptographic-protections.html.md
  sites/handbook/source/handbook/engineering/security/threat-management/vulnerability-management/encryption-policy.html.md
Due: none

Add KS as QEM for Enablement and SaaS Platforms
  .gitlab/CODEOWNERS
  data/sections.yml
  sites/handbook/source/handbook/engineering/quality/quality-engineering/enablement-saas-platforms-qe-team/index.html.md.erb
  sites/handbook/source/includes/product/_categories-names.erb
Due: rspec-unit

Resolve "Create a group to use for the CoST in CODEOWNERS"
  .gitlab/CODEOWNERS
Due: none

Update iframe for preferred sizing in Level Up
  sites/handbook/source/handbook/people-group/learning-and-development/interactive-learning/index.html.md
Due: none

Adding US Payroll mgr JD
  sites/uncategorized/source/job-families/finance/payroll/index.html.md
Due: none

Update Mitch Nielsen as Charts Maintainer
  data/team_members/person/m/mitchell-nielsen.yml
Due: rspec-unit

Add Senior Director, TA to job family
  sites/uncategorized/source/job-families/people-ops/recruiter/index.html.md
Due: none

Maturity plan update - Build Artifacts
  data/categories.yml
Due: lint release-post-items, rspec-unit

Path conditions:
  update-gitlab-project-releases-page: any of: sites/uncategorized/source/releases/posts/*-released.html.md
  apply-redirects-prod: any of: data/redirects.yml, bin/apply-exact-match-redirects, bin/apply-regex-redirects
  content-security-policy-checker: any of: source/includes/layout/head.html.haml
  lint release-post-items: any of: data/release_posts/unreleased/*, data/categories.yml, data/stages.yml, source/images/unreleased/*
  rubocop: any of: *.rb, **/*.rb, .rubocop.yml, Dangerfile, *.rake, **/*.rake, bin/**/*, scripts/**/*, Rakefile
  check-handbook-edit-links: any of: data/monorepo.yml, helpers/custom_helpers.rb, **/edit_page.html.haml, **/footer.html.haml, **/handbook-page-toc.haml, **/check_handbook_edit_links.rb
  rspec-unit: any of: spec/**/*, **/*.{js,json,rb,yml}, .rspec
