Repository spicysoft/jp-www-gitlab-com: changes, and which GitLab CI jobs are due for each by the changed paths.
All: update-gitlab-project-releases-page, apply-redirects-prod, content-security-policy-checker, lint release-post-items, rubocop, check-handbook-edit-links, rspec-unit

Path conditions:
  update-gitlab-project-releases-page: any of: sites/uncategorized/source/releases/posts/*-released.html.md
  apply-redirects-prod: any of: data/redirects.yml, bin/apply-exact-match-redirects, bin/apply-regex-redirects
  content-security-policy-checker: any of: source/includes/layout/head.html.haml
  lint release-post-items: any of: data/release_posts/unreleased/*, data/categories.yml, data/stages.yml, source/images/unreleased/*
  rubocop: any of: *.rb, **/*.rb, .rubocop.yml, Dangerfile, *.rake, **/*.rake, bin/**/*, scripts/**/*, Rakefile
  check-handbook-edit-links: any of: data/monorepo.yml, helpers/custom_helpers.rb, **/edit_page.html.haml, **/footer.html.haml, **/handbook-page-toc.haml, **/check_handbook_edit_links.rb
  rspec-unit: any of: spec/**/*, **/*.{js,json,rb,yml}, .rspec

Fix header iding problem
  sites/handbook/source/handbook/values/index.html.md
  sites/uncategorized/source/company/okrs/index.html.md
Due: none

Translate バリュー>イテレーション>意思決定はひっくりかえして良い
  sites/handbook/source/handbook/values/index.html.md
Due: none

翻訳前に改行をいれる: 提案を変えるのはイテレーションではない
  sites/handbook/source/handbook/values/index.html.md
Due: none

Translate: バリュー＞イテレーション＞案を練るのはイテレーションではない
  sites/handbook/source/handbook/values/index.html.md
Due: none

Translate: 羞恥心を捨てる
  sites/handbook/source/handbook/values/index.html.md
Due: none

Apply 1 suggestion(s) to 1 file(s)
  sites/uncategorized/source/releases/posts/2022-08-22-gitlab-15-3-released.html.md
Due: update-gitlab-project-releases-page

Translate: バリュー＞イテレーション＞期限を設定する
  sites/handbook/source/handbook/values/index.html.md
Due: none

Translate: バリュー＞イテレーション＞提案する
  sites/handbook/source/handbook/values/index.html.md
Due: none

Translate：バリュー＞イテレーション＞改善に注力する
  sites/handbook/source/handbook/values/index.html.md
Due: none

Enline: バリュー>イテレーション>イテレーションを取り入れる
  sites/handbook/source/handbook/values/index.html.md
Due: none

Translate: バリュー>イテレーション>イテレーションを取り入れる
  sites/handbook/source/handbook/values/index.html.md
Due: none

Translate: バリュー＞イテレーション＞マージリクエストは小さく
  sites/handbook/source/handbook/values/index.html.md
Due: none

Translate: バリュー＞イテレーション＞Always Iterate Deliberately
  sites/handbook/source/handbook/values/index.html.md
Due: none

Translate: バリュー＞イテレーション＞結果コンピテンシー
  sites/handbook/source/handbook/values/index.html.md
Due: none

Enline: バリュー＞結果＞エスカレートしてブロックを解除する
  sites/handbook/source/handbook/values/index.html.md
Due: none

Adding MVP for 15.3 release
  data/mvps.yml
Due: rspec-unit

Adding details about cover source image
  sites/uncategorized/source/releases/posts/2022-08-22-gitlab-15-3-released.html.md
Due: update-gitlab-project-releases-page

Init release post for 15.3
  data/release_posts/15_3/mvp.yml
  sites/uncategorized/source/releases/posts/2022-08-22-gitlab-15-3-released.html.md
  source/images/15_3/.gitkeep
Due: update-gitlab-project-releases-page, rspec-unit

Add cover image for release 15.3
  source/images/15_3/15_3-coverage-image.jpg
Due: none

Attempt to fix linter
  data/release_posts/15_3/deprecation-index-15-3.yml
Due: rspec-unit

Add deprecation index
  data/release_posts/15_3/deprecation-index-15-3.yml
Due: rspec-unit

Add the removals index
  data/release_posts/15_3/removals-index-15-3.yml
Due: rspec-unit

Apply 2 suggestion(s) to 1 file(s)
  sites/uncategorized/source/releases/posts/2022-08-22-gitlab-15-3-released.html.md
Due: update-gitlab-project-releases-page

Apply 1 suggestion(s) to 1 file(s)
  data/release_posts/15_3/mvp.yml
Due: rspec-unit

Add zillemarco as 15.3 MVP
  data/release_posts/15_3/mvp.yml
Due: rspec-unit

Apply 1 suggestion(s) to 1 file(s)
  data/release_posts/15_3/plan-create-child-tasks-within-issues.yml
Due: rspec-unit

Wider gitlab community fix
  sites/uncategorized/source/releases/posts/2022-08-22-gitlab-15-3-released.html.md
Due: update-gitlab-project-releases-page

Updated title to remove SAML
  sites/uncategorized/source/releases/posts/2022-08-22-gitlab-15-3-released.html.md
Due: update-gitlab-project-releases-page

Update documentation_link
  data/release_posts/15_3/verify-ui-for-merge-request-widget-to-rebase-without-triggering-ci.yml
Due: rspec-unit

Removed gitkeep and updated img name
  sites/uncategorized/source/releases/posts/2022-08-22-gitlab-15-3-released.html.md
  source/images/15_3/.gitkeep
  source/images/15_3/15_3-cover-image.jpg
Due: update-gitlab-project-releases-page

Remove unused image
  source/images/15_3/15_3-coverage-image.jpg
Due: none

add in graphuic
  sites/uncategorized/source/blog/blog-posts/2022-08-19-gitlab-adds-further-measures-to-combat-credential-stuffing-and-other-types-of-platform-abuse.html.md.erb
Due: none

Add Andrew Patterson to team page.
  data/team_members/person/a/apatterson2.yml
  sites/uncategorized/source/images/team/andrewpatterson.jpg
Due: rspec-unit

Set Jaime as reviewer for workhorse
  data/team_members/person/j/jaimemartinez.yml
Due: rspec-unit
