Repository spicysoft/jp-www-gitlab-com: changes, and which GitLab CI jobs are due for each by the changed paths.
All: update-gitlab-project-releases-page, apply-redirects-prod, content-security-policy-checker, lint release-post-items, rubocop, check-handbook-edit-links, rspec-unit

update-gitlab-project-releases-page:
  cache:
    key: web_ruby-3.0-bullseye
    policy: pull
    paths:
    - vendor
    - node_modules
  before_script:
  - bundle config set path vendor
  - bundle install --quiet --jobs 4
  - yarn install
  stage: content-generation
  needs: []
  script:
  - bundle exec rake release:ee:update_project_releases_page
  ...

apply-redirects-prod:
  cache:
    key: web_ruby-3.0-bullseye
    policy: pull
    paths:
    - vendor
    - node_modules
  before_script:
  - bundle config set path vendor
  - bundle install --quiet --jobs 4
  - yarn install
  stage: build-and-deploy
  environment:
    name: production
  script:
  - export FASTLY_SRV_ID=$FASTLY_SRV_ID_PROD
  ...

content-security-policy-checker:
  image: debian:stable-slim
  stage: test
  needs: []
  script:
  ...

lint release-post-items:
  cache:
    key: web_ruby-3.0-bullseye
    policy: pull
    paths:
    - vendor
    - node_modules
  before_script:
  - bundle config set path vendor
  - bundle install --quiet --jobs 4
  - yarn install
  stage: test
  needs: []
  script:
  - bundle exec bin/validate-release-post-item

rubocop:
  cache:
    key: web_ruby-3.0-bullseye
    policy: pull
    paths:
    - vendor
    - node_modules
  before_script:
  - bundle config set path vendor
  - bundle install --quiet --jobs 4
  - yarn install
  stage: test
  needs: []
  script:
  - bundle exec rubocop

check-handbook-edit-links:
  cache:
    key: web_ruby-3.0-bullseye
    policy: pull
    paths:
    - vendor
    - node_modules
  before_script:
  - bundle config set path vendor
  - bundle install --quiet --jobs 4
  - yarn install
  stage: test
  needs:
  - handbook-build-and-review-deploy
  script:
  - scripts/check-handbook-edit-links.rb

rspec-unit:
  cache:
    key: web_ruby-3.0-bullseye
    policy: pull
    paths:
    - vendor
    - node_modules
  before_script:
  - bundle config set path vendor
  - bundle install --quiet --jobs 4
  - yarn install
  stage: test
  needs: []
  script:
  - bundle exec rspec --tag ~@feature

Document 2 speaker series on emotional intelligence
  sites/handbook/source/handbook/leadership/emotional-intelligence/index.html.md
Due: none

Updates to Copy Deadline Process
  sites/handbook/source/handbook/marketing/field-marketing/index.html.md
Due: none

Upload QR guide for events handbook
  source/images/events/qr-code-handbook.png
Due: none

Update Laptop Metrics October
  sites/handbook/source/handbook/business-technology/team-member-enablement/laptop-metrics/index.html.md
Due: none

Update sites/handbook/source/handbook/environmental-sustainability/index.html.md
  sites/handbook/source/handbook/environmental-sustainability/index.html.md
Due: none

Talent assessment definition iterations
  sites/handbook/source/handbook/people-group/talent-assessment/index.html.md
Due: none

Offboard team member - 2022-11-08
  data/team_members/person/s/simon-uhegbu.yml
Due: rspec-unit

Added App Dev Avery Image
  sites/handbook/source/handbook/marketing/strategic-marketing/roles-personas/buyer-persona/index.html.md
Due: none

Changing open vacancies to Carrie for Package team
  data/team_members/vacancy/backend-engineer-package-package-1.yml
  data/team_members/vacancy/backend-engineer-package-package-2.yml
  data/team_members/vacancy/backend-engineer-package-package-3.yml
Due: rspec-unit

Fix exec sponsor name
  sites/uncategorized/source/company/team/structure/working-groups/cross-functional-prioritization/index.html.md
Due: none

Add maintainers to gitlab-rspec-profiling-stats
  data/team_members/person/a/alinamihaila.yml
  data/team_members/person/a/ash-m.yml
  data/team_members/person/d/ddieulivol.yml
  data/team_members/person/j/jennli.yml
  data/team_members/person/l/lin.yml
  data/team_members/person/n/nao.hashizume.yml
  data/team_members/person/r/remy-c.yml
  data/team_members/person/r/robert-may.yml
  sites/handbook/source/handbook/engineering/quality/engineering-productivity/index.html.md.erb
Due: rspec-unit

Added Sales Strategy Enablement Session Date and Time
  sites/handbook/source/handbook/marketing/strategic-marketing/roles-personas/buyer-persona/index.html.md
Due: none

Upgrade to Maintainer and refresh bio
  data/team_members/person/r/rossfuhrman.yml
Due: rspec-unit

Be more specific about how and why of announcing discretionary bonuses
  sites/handbook/source/handbook/incentives/index.html.md
Due: none

Updated headings and added resources to Customer Health Scoring page
  sites/handbook/source/handbook/customer-success/customer-health-scoring/index.html.md
Due: none

Moved Elicia and Liz dates
  sites/handbook/source/handbook/ceo/shadow/index.html.md
Due: none

Move DB and StableCounterpart squad descriptions under stable counterparts.
  sites/handbook/source/handbook/engineering/infrastructure/team/reliability/index.html.md.erb
Due: none

blog-post: Git rebase in real life
  sites/uncategorized/source/blog/blog-posts/2022-11-08-rebase-in-real-life.html.md.erb
  source/images/blogimages/rebase-in-real-life.jpg
Due: none

Adding Buyer Persona Images to Image Library for Persona Page
  sites/handbook/source/handbook/marketing/strategic-marketing/images/backofficeblake.png
  sites/handbook/source/handbook/marketing/strategic-marketing/images/compliancecooper.png
  sites/handbook/source/handbook/marketing/strategic-marketing/images/infosecshiloh.png
  sites/handbook/source/handbook/marketing/strategic-marketing/images/platformperry.png
  sites/handbook/source/handbook/marketing/strategic-marketing/images/pmpayton.png
  sites/handbook/source/handbook/marketing/strategic-marketing/images/releaserory.png
  sites/handbook/source/handbook/marketing/strategic-marketing/images/techexectristan.png
Due: none

Updating Team Page Title and details
  data/team_members/person/e/emccrann.yml
Due: rspec-unit

added photo credit
  sites/uncategorized/source/blog/blog-posts/2022-11-08-how-we-boosted-webauthn-adoption-from-20-percent-to-93-percent-in-2-days.html.md.erb
Due: none

Fix capitalization error
  sites/handbook/source/handbook/product/ux/ux-research/problem-validation-and-methods/index.html.md
Due: none

Update TPRM handbook to include verbiage on Contractor security review procedures
  sites/handbook/source/handbook/security/security-assurance/security-risk/third-party-risk-management.html.md
Due: none

Update sites/handbook/source/handbook/marketing/field-marketing/index.html.md
  sites/handbook/source/handbook/marketing/field-marketing/index.html.md
Due: none

adding GPA policy to handbook
  sites/handbook/source/handbook/total-rewards/benefits/general-and-entity-benefits/singapore-pte-ltd/index.html.md
Due: none

Update PIAA Instructions to include screenshot of disclosures rather than PDF
  sites/handbook/source/handbook/hiring/talent-acquisition-framework/coordinator/index.html.md
Due: none

Added image and summary section to each persona / formatting changes
  sites/handbook/source/handbook/marketing/strategic-marketing/roles-personas/buyer-persona/index.html.md
Due: none

Updating reports to: slug & department
  data/team_members/person/m/mianaranjo-lepe.yml
Due: rspec-unit

Create async update template for release group
  sites/handbook/source/handbook/engineering/development/ops/release/index.html.md.erb
Due: none

updating reports to: slug
  data/team_members/person/s/shensiek.yml
Due: rspec-unit

Formatting tweak
  sites/handbook/source/handbook/marketing/strategic-marketing/roles-personas/buyer-persona/index.html.md
Due: none

Add Igor Frenkel as maintainer of security report schemas project
  data/team_members/person/i/igorfrenkel.yml
Due: rspec-unit

Added trial workflow reference to PA handbook
  sites/handbook/source/handbook/engineering/development/ops/verify/pipeline-authoring/index.html.md.erb
  source/images/handbook/engineering/verify/pa-workflow-model.png
Due: none

Ops management structure changes
  data/team_members/person/c/crystalpoole.yml
  data/team_members/person/e/elliot-rushton.yml
  data/team_members/person/n/nicole-williams.yml
  data/team_members/person/n/nklick.yml
  data/team_members/person/s/sarah-yasonik.yml
  data/team_members/person/v/vladimir-shushlin.yml
  data/team_members/vacancy/backend-engineering-manager-runner-saas.yml
  data/team_members/vacancy/senior-engineering-manager-ops.yml
Due: rspec-unit

Update MSP DR Section of ChOps HB
  sites/handbook/source/handbook/sales/field-operations/channel-operations/index.html.md
Due: none

Add review projects to jzhang_gl.yml
  data/team_members/person/j/jzhang_gl.yml
Due: rspec-unit

Basic NFR info
  sites/handbook/source/handbook/resellers/partner-support/index.html.md
Due: none

Introduce SBOM category
  data/categories.yml
  data/stages.yml
Due: lint release-post-items, rspec-unit

Remove expired Global Search Error Budget exception
  sites/handbook/source/handbook/engineering/error-budgets/index.html.md
Due: none

Update IT Help to include info on upgrading to OS Ventura
  sites/handbook/source/handbook/business-technology/team-member-enablement/self-help-troubleshooting/index.html.md
Due: none

Path conditions:
  update-gitlab-project-releases-page: any of: sites/uncategorized/source/releases/posts/*-released.html.md
  apply-redirects-prod: any of: data/redirects.yml, bin/apply-exact-match-redirects, bin/apply-regex-redirects
  content-security-policy-checker: any of: source/includes/layout/head.html.haml
  lint release-post-items: any of: data/release_posts/unreleased/*, data/categories.yml, data/stages.yml, source/images/unreleased/*
  rubocop: any of: *.rb, **/*.rb, .rubocop.yml, Dangerfile, *.rake, **/*.rake, bin/**/*, scripts/**/*, Rakefile
  check-handbook-edit-links: any of: data/monorepo.yml, helpers/custom_helpers.rb, **/edit_page.html.haml, **/footer.html.haml, **/handbook-page-toc.haml, **/check_handbook_edit_links.rb
  rspec-unit: any of: spec/**/*, **/*.{js,json,rb,yml}, .rspec
