Repository spicysoft/jp-www-gitlab-com: changes, and which GitLab CI jobs are due for each by the changed paths.
All: update-gitlab-project-releases-page, apply-redirects-prod, content-security-policy-checker, lint release-post-items, rubocop, check-handbook-edit-links, rspec-unit

Path conditions:
  update-gitlab-project-releases-page: any of: sites/uncategorized/source/releases/posts/*-released.html.md
  apply-redirects-prod: any of: data/redirects.yml, bin/apply-exact-match-redirects, bin/apply-regex-redirects
  content-security-policy-checker: any of: source/includes/layout/head.html.haml
  lint release-post-items: any of: data/release_posts/unreleased/*, data/categories.yml, data/stages.yml, source/images/unreleased/*
  rubocop: any of: *.rb, **/*.rb, .rubocop.yml, Dangerfile, *.rake, **/*.rake, bin/**/*, scripts/**/*, Rakefile
  check-handbook-edit-links: any of: data/monorepo.yml, helpers/custom_helpers.rb, **/edit_page.html.haml, **/footer.html.haml, **/handbook-page-toc.haml, **/check_handbook_edit_links.rb
  rspec-unit: any of: spec/**/*, **/*.{js,json,rb,yml}, .rspec

Added reviewer status to the yml
  data/team_members/person/s/smriti_gitlab.yml
Due: rspec-unit

VS Code CI/CD Improvements RPI
  data/release_posts/unreleased/create-vs-code-cicd-improvements.yml
  source/images/unreleased/create-vs-code-cicd-improvements.png
Due: lint release-post-items, rspec-unit

update schedule for 9/15
  sites/handbook/source/handbook/sales/training/sales-enablement-sessions/index.html.md
Due: none

Redirect TAM to CSM
  data/redirects.yml
Due: apply-redirects-prod, rspec-unit

Remove new staging efforts from Engineering Allocation
  sites/handbook/source/includes/engineering-allocations.md
Due: none

Update job families file
  data/people_group/job_families.yml
Due: rspec-unit

Rephrase package ux issues
  data/release_posts/unreleased/usability_improvements.yml
Due: lint release-post-items, rspec-unit

formatting tweaks
  sites/uncategorized/source/blog/blog-posts/2022-09-14-git-resources-for-visual-learners.html.md.erb
Due: none

nav 1.1.6 release
  package.json
  yarn.lock
Due: rspec-unit

Updating DRI information
  sites/handbook/source/handbook/engineering/security/security-assurance/index.html.md
Due: none

Create new page for dashboards, analysis, and insights
  sites/handbook/source/handbook/product/product-analysis/dashboards-analysis-insights/index.html.md
  sites/handbook/source/handbook/product/product-analysis/index.html.md
Due: none

Fix typo
  sites/handbook/source/handbook/total-rewards/benefits/general-and-entity-benefits/growth-and-development/index.html.md
Due: none

RP item: 15.4 Static Analysis monthly updates
  data/release_posts/unreleased/secure-15-4-monthly-sa-analyzer-update.yml
Due: lint release-post-items, rspec-unit

Update blog post to include disclosure about content
  sites/uncategorized/source/blog/blog-posts/2018-10-25-two-questions-we-ask-ux-designers-in-job-interviews.html.md.erb
Due: none

Update sites/handbook/source/handbook/marketing/community-relations/index.html.md.erb
  sites/handbook/source/handbook/marketing/community-relations/index.html.md.erb
Due: none

Secure is a DevOps loop stage
  sites/handbook/source/handbook/product/categories/index.html.md.erb
Due: none

added last updated date to anniversary gifts
  sites/handbook/source/handbook/people-group/celebrations/index.html.md
Due: none

Add MS&A office hours to MS&A page
  sites/handbook/source/handbook/marketing/strategy-performance/index.html.md
Due: none

Add Rajendra as Peter's trainee
  data/maintainer_mentorship.yml
Due: rspec-unit

add PE bug fix
  data/release_posts/unreleased/bugs.yml
Due: lint release-post-items, rspec-unit

add PE improvements
  data/release_posts/unreleased/usability_improvements.yml
Due: lint release-post-items, rspec-unit

Update Australia's Fair Work Information Statement Link
  sites/handbook/source/handbook/total-rewards/benefits/general-and-entity-benefits/pty-benefits-australia/index.html.md
Due: none

Needed to update folder file path as well
  sites/handbook/source/handbook/finance/accounting/finance-ops/Revenue-Accounting/index.html.md
  sites/handbook/source/handbook/finance/accounting/finance-ops/Revenue-Accounting/tech-stack-guide-zuora-revenue/index.html.md.erb
Due: none

Elikrohn master patch 21307
  sites/handbook/source/handbook/sales/field-operations/index.html.md
Due: none

Minor edits to Executing Decisions content
  sites/handbook/source/handbook/teamops/executing-decisions/index.html.md.erb
Due: none

add notice box for not-for-profit
  sites/handbook/source/handbook/marketing/community-relations/education-program/index.html.md
Due: none

Updated PDM from Blair to Justin
  data/stages.yml
Due: lint release-post-items, rspec-unit

Allow group owners to update group members' SAML (and SCIM) extern_uid via API
  data/release_posts/unreleased/manage-allow-group-owners-to-update-group-members-saml-and-scim-ex.yml
Due: lint release-post-items, rspec-unit

Adding information about comments during UXR peer review
  sites/handbook/source/handbook/engineering/ux/ux-research-training/how-uxr-team-operates/index.html.md
Due: none

Correcting handbook typo: "Diverity" to "Diversity"
  sites/uncategorized/source/company/culture/inclusion/index.html.md.erb
Due: none

Remote Development direction update
  source/direction/create/editor/remote_development/index.html.md
Due: none

Mobile DevOps Update Sept. 13
  sites/handbook/source/handbook/engineering/incubation/mobile-devops/index.html.md
Due: none

Edits to the TeamOps summary module
  sites/handbook/source/handbook/teamops/_teamops_overview.erb
Due: none

Updating pronouns from his/her to theirs
  sites/handbook/source/handbook/sales/training/field-functional-competencies/index.html.md
Due: none

Clarify TW review steps
  .gitlab/merge_request_templates/Release-Post-Item.md
Due: none

Minor language edits in TeamOps intro
  sites/handbook/source/handbook/teamops/index.html.md.erb
Due: none

Update Acting/Interim Bonus Process to include Total Rewards
  sites/handbook/source/handbook/total-rewards/compensation/index.html.md.erb
Due: none

Add Megan Filo to MLH DEX initiative list of maintainers
  sites/handbook/source/handbook/marketing/digital-experience/major-league-hacking-fellows/index.html.md
Due: none

Updating enrollment instructions for Ireland medical plan
  sites/handbook/source/handbook/total-rewards/benefits/general-and-entity-benefits/gitlab-ireland-ltd/index.html.md
Due: none

Migration of /partners/technology-partners to Buyers Experience
  .gitlab/CODEOWNERS
  README.md
  data/applications.yml
  sites/handbook/source/handbook/alliances/integration-instructions/index.html.md
  sites/uncategorized/source/partners/technology-partners/index.html.haml
Due: rspec-unit
