Repository spicysoft/jp-www-gitlab-com: changes, and which GitLab CI jobs are due for each by the changed paths.
All: update-gitlab-project-releases-page, apply-redirects-prod, content-security-policy-checker, lint release-post-items, rubocop, check-handbook-edit-links, rspec-unit

update-gitlab-project-releases-page:
  cache:
    key: web_ruby-3.0-bullseye
    policy: pull
    paths:
    - vendor
    - node_modules
  before_script:
  - bundle config set path vendor
  - bundle install --quiet --jobs 4
  - yarn install
  stage: content-generation
  needs: []
  script:
  - bundle exec rake release:ee:update_project_releases_page
  ...

apply-redirects-prod:
  cache:
    key: web_ruby-3.0-bullseye
    policy: pull
    paths:
    - vendor
    - node_modules
  before_script:
  - bundle config set path vendor
  - bundle install --quiet --jobs 4
  - yarn install
  stage: build-and-deploy
  environment:
    name: production
  script:
  - export FASTLY_SRV_ID=$FASTLY_SRV_ID_PROD
  ...

content-security-policy-checker:
  image: debian:stable-slim
  stage: test
  needs: []
  script:
  ...

lint release-post-items:
  cache:
    key: web_ruby-3.0-bullseye
    policy: pull
    paths:
    - vendor
    - node_modules
  before_script:
  - bundle config set path vendor
  - bundle install --quiet --jobs 4
  - yarn install
  stage: test
  needs: []
  script:
  - bundle exec bin/validate-release-post-item

rubocop:
  cache:
    key: web_ruby-3.0-bullseye
    policy: pull
    paths:
    - vendor
    - node_modules
  before_script:
  - bundle config set path vendor
  - bundle install --quiet --jobs 4
  - yarn install
  stage: test
  needs: []
  script:
  - bundle exec rubocop

check-handbook-edit-links:
  cache:
    key: web_ruby-3.0-bullseye
    policy: pull
    paths:
    - vendor
    - node_modules
  before_script:
  - bundle config set path vendor
  - bundle install --quiet --jobs 4
  - yarn install
  stage: test
  needs:
  - handbook-build-and-review-deploy
  script:
  - scripts/check-handbook-edit-links.rb

rspec-unit:
  cache:
    key: web_ruby-3.0-bullseye
    policy: pull
    paths:
    - vendor
    - node_modules
  before_script:
  - bundle config set path vendor
  - bundle install --quiet --jobs 4
  - yarn install
  stage: test
  needs: []
  script:
  - bundle exec rspec --tag ~@feature

Apply 1 suggestion(s) to 1 file(s)
  data/release_posts/unreleased/release-search-for-environment-name-in-the-environments-overview-p.yml
Due: lint release-post-items, rspec-unit

remove comment
  data/release_posts/unreleased/release-search-for-environment-name-in-the-environments-overview-p.yml
Due: lint release-post-items, rspec-unit

Update link to Research PI in role responsibility
  sites/uncategorized/source/job-families/engineering/product-design-management/index.html.md
Due: none

add screenshot and update description
  data/release_posts/unreleased/release-search-for-environment-name-in-the-environments-overview-p.yml
  source/images/unreleased/release-env-search.png
Due: lint release-post-items, rspec-unit

Apply 1 suggestion(s) to 1 file(s)
  data/release_posts/unreleased/release-create-api-endpoint-to-update-a-protected-environment.yml
Due: lint release-post-items, rspec-unit

Add Staff Product Designer to role responsibility
  sites/uncategorized/source/job-families/engineering/product-designer/index.html.md.erb
Due: none

Edits to Many Decisions content
  sites/handbook/source/handbook/teamops/many-decisions/index.html.md.erb
Due: none

Add Content Editor and Source Editor to the domain expertise list
  data/domain_expertise.yml
Due: rspec-unit

Add trainee frontend maintainer - Samantha Ming
  data/team_members/person/s/samanthaming.yml
Due: rspec-unit

Updating BIA Handbook Page based on changes to the process
  sites/handbook/source/handbook/engineering/security/security-assurance/security-risk/storm-program/business-impact-analysis.html.md
Due: none

Add the deprecations list
  data/release_posts/15_4/deprecation-index-15-4.yml
Due: rspec-unit

Add new directory - Laptop metrics
  sites/handbook/source/handbook/business-technology/team-member-enablement/laptop-metrics/.gitkeep
  sites/handbook/source/handbook/business-technology/team-member-enablement/laptop-metrics/index.html.md
Due: none

Add latest video on clari
  sites/handbook/source/handbook/sales/training/sales-enablement-sessions/index.html.md
Due: none

Change imand3r to trainee_maintainer in gitlab project
  data/team_members/person/i/imand3r.yml
Due: rspec-unit

Add MLHF fellows and additional issues to project scoping doc
  sites/handbook/source/handbook/marketing/digital-experience/major-league-hacking-fellows/index.html.md
Due: none

Clean-up /learn/
  .gitlab/CODEOWNERS
  data/redirects.yml
  sites/handbook/source/handbook/marketing/digital-experience/website/index.html.md
  sites/uncategorized/source/learn/certifications/public/index.html.md.erb
  sites/uncategorized/source/learn/use-case/index.html.md.erb
  sites/uncategorized/source/learn/use-case/public/index.html.md.erb
Due: apply-redirects-prod, rspec-unit

Update Job Grade table with new Product Grade Iteration
  sites/handbook/source/handbook/total-rewards/compensation/compensation-calculator/index.html.md
Due: none

Update handbook with stale health measure doc
  sites/handbook/source/handbook/customer-success/csm/health-score-triage/index.html.md
Due: none

Adding Alex to the laptop wipe schedule appointments, removing Marc from a specific BT page
  sites/handbook/source/handbook/business-technology/team-member-enablement/gitlab-laptop-offboarding/index.html.md
Due: none

Tableau: OAuth, troubleshooting & office hours
  sites/handbook/source/handbook/business-technology/data-team/platform/tableau/index.html.md
Due: none

Add cdybenko as owner of the Foundations Direction pages
  .gitlab/CODEOWNERS
Due: none

Update mission statement, remove use case, update KPIs
  sites/handbook/source/handbook/customer-success/csm/cse/index.html.md
Due: none

update title
  data/release_posts/unreleased/release-search-for-environment-name-in-the-environments-overview-p.yml
Due: lint release-post-items, rspec-unit

docs link
  data/release_posts/unreleased/release-search-for-environment-name-in-the-environments-overview-p.yml
Due: lint release-post-items, rspec-unit

update details
  data/release_posts/unreleased/release-search-for-environment-name-in-the-environments-overview-p.yml
Due: lint release-post-items, rspec-unit

Add Static Analysis bug fixes for 15.4
  data/release_posts/unreleased/bugs.yml
Due: lint release-post-items, rspec-unit

Clarify enforce auth on media setting is enabled for all projects
  data/release_posts/15_3/create-enforce-auth-media.yml
Due: rspec-unit

Added global tag definitions.
  sites/handbook/source/handbook/engineering/ux/dovetail/index.html.md
Due: none

Add another Compliance bug fix
  data/release_posts/unreleased/bugs.yml
Due: lint release-post-items, rspec-unit

Add Growth::Acquisition bug fixes
  data/release_posts/unreleased/bugs.yml
Due: lint release-post-items, rspec-unit

update screenshot
  source/images/unreleased/release-env-search.png
Due: lint release-post-items

Utilization Refinement process and more
  sites/handbook/source/handbook/engineering/development/fulfillment/utilization/index.html.md.erb
Due: none

Iterating on Critical System Tiering
  sites/handbook/source/handbook/engineering/security/security-assurance/security-risk/storm-program/critical-systems.html.md
Due: none

Updates slack channel for non-field marketing swag requests
  sites/handbook/source/handbook/marketing/field-marketing/index.html.md
Due: none

Reformat product analyst job family page
  sites/uncategorized/source/job-families/product/product-analyst/index.html.md
Due: none

Apply 1 suggestion(s) to 1 file(s)
  data/release_posts/unreleased/monitor-add-timeline-event-from-comment.yml
Due: lint release-post-items, rspec-unit

Apply 2 suggestion(s) to 1 file(s)
  data/release_posts/unreleased/monitor-incident-timeline-quick-actions.yml
Due: lint release-post-items, rspec-unit

Update IT Engineering Tech Stack to reflect Rails
  sites/handbook/source/handbook/business-technology/it/engineering/development/index.html.md
Due: none

Path conditions:
  update-gitlab-project-releases-page: any of: sites/uncategorized/source/releases/posts/*-released.html.md
  apply-redirects-prod: any of: data/redirects.yml, bin/apply-exact-match-redirects, bin/apply-regex-redirects
  content-security-policy-checker: any of: source/includes/layout/head.html.haml
  lint release-post-items: any of: data/release_posts/unreleased/*, data/categories.yml, data/stages.yml, source/images/unreleased/*
  rubocop: any of: *.rb, **/*.rb, .rubocop.yml, Dangerfile, *.rake, **/*.rake, bin/**/*, scripts/**/*, Rakefile
  check-handbook-edit-links: any of: data/monorepo.yml, helpers/custom_helpers.rb, **/edit_page.html.haml, **/footer.html.haml, **/handbook-page-toc.haml, **/check_handbook_edit_links.rb
  rspec-unit: any of: spec/**/*, **/*.{js,json,rb,yml}, .rspec
