Repository spicysoft/jp-www-gitlab-com: changes, and which GitLab CI jobs are due for each by the changed paths.
All: update-gitlab-project-releases-page, apply-redirects-prod, content-security-policy-checker, lint release-post-items, rubocop, check-handbook-edit-links, rspec-unit

Path conditions:
  update-gitlab-project-releases-page: any of: sites/uncategorized/source/releases/posts/*-released.html.md
  apply-redirects-prod: any of: data/redirects.yml, bin/apply-exact-match-redirects, bin/apply-regex-redirects
  content-security-policy-checker: any of: source/includes/layout/head.html.haml
  lint release-post-items: any of: data/release_posts/unreleased/*, data/categories.yml, data/stages.yml, source/images/unreleased/*
  rubocop: any of: *.rb, **/*.rb, .rubocop.yml, Dangerfile, *.rake, **/*.rake, bin/**/*, scripts/**/*, Rakefile
  check-handbook-edit-links: any of: data/monorepo.yml, helpers/custom_helpers.rb, **/edit_page.html.haml, **/footer.html.haml, **/handbook-page-toc.haml, **/check_handbook_edit_links.rb
  rspec-unit: any of: spec/**/*, **/*.{js,json,rb,yml}, .rspec

Add Release SMAU Edge Case to 1-to-1 Mapping
  sites/handbook/source/handbook/business-technology/data-team/data-catalog/xmau-analysis/index.html.md
Due: none

Adding a Section on Tagging PHD vs. CHOPs
  sites/handbook/source/handbook/sales/field-operations/channel-operations/index.html.md
Due: none

Update Sec section direction page
  sites/uncategorized/source/layouts/sec_direction.erb
  source/direction/anti-abuse/index.html.md.erb
  source/direction/anti-abuse/insider_threat/index.html.md.erb
  source/direction/data-science/index.html.md.erb
  source/direction/dev/template.html.md.erb
  source/direction/enablement/template.html.md.erb
  source/direction/govern/security_policies/security_policy_management/index.html.md
  source/direction/govern/template.html.md.erb
  source/direction/govern/threat_insights/dependency_management/index.html.md
  source/direction/govern/threat_insights/vulnerability_management/index.html.md
  source/direction/mobile/mobile-devops/index.html.md.erb
  source/direction/modelops/applied_ml/index.html.md.erb
  source/direction/modelops/dataops/index.html.md.erb
  source/direction/modelops/index.html.md.erb
  source/direction/modelops/mlops/index.html.md.erb
  source/direction/secure/composition-analysis/container-scanning/index.html.md
  source/direction/secure/dynamic-analysis/api-security/index.html.md
  source/direction/secure/dynamic-analysis/dast/index.html.md
  source/direction/secure/dynamic-analysis/fuzz-testing/index.html.md
  source/direction/secure/dynamic-analysis/fuzz-testing/long-term-strategy/index.html.md
  source/direction/secure/dynamic-analysis/fuzz-testing/market-segments/index.html.md
  source/direction/secure/static-analysis/sast/index.html.md
  source/direction/secure/template.html.md.erb
  source/direction/security/template.html.md.erb
Due: none

updating roles and responsibilities to reflect recent resource changes
  sites/uncategorized/source/company/team/structure/working-groups/fedramp-execution/index.html.md
Due: none

Updates to PM toolkit
  sites/handbook/source/handbook/business-technology/data-team/data-catalog/xmau-analysis/product-manager-toolkit.html.md.erb
Due: none

Add Javiera Tapia to team page
  data/team_members/person/j/javieratapia.yml
  sites/uncategorized/source/images/team/javieratapia.png
Due: rspec-unit

Update govern planning handbook
  sites/handbook/source/handbook/engineering/development/sec/govern/planning/index.html.md
Due: none

Adding Phishing Alarm icon
  sites/handbook/source/handbook/security/PhishAlarmicon.png
  sites/handbook/source/handbook/security/index.html.md.erb
Due: none

Remove certify em vacancy
  data/team_members/vacancy/fullstack-engineering-manager-certify.yml
Due: rspec-unit

Ending interim period iterations
  sites/handbook/source/handbook/people-group/promotions-transfers/index.html.md
Due: none

As part of GitLab Certification, MR. Added Gaby to list of contacts, line 192.
  sites/handbook/source/handbook/marketing/strategic-marketing/analyst-relations/index.html.md
Due: none

Update information on Team Page for Adie Po
  data/team_members/person/a/adie.po.yml
Due: rspec-unit

Update team.yml to backend instead go
  data/team_members/person/h/hayleyswimelar.yml
  data/team_members/person/j/joaopereira.yml
Due: rspec-unit

Add engineering leaders for Development stages
  data/stages.yml
  sites/handbook/source/includes/product/_categories-names.erb
Due: lint release-post-items, rspec-unit

Iteration on Ops Async Update process
  sites/handbook/source/handbook/engineering/development/ops/index.html.md.erb
Due: none

Make clear peer review is not required
  sites/handbook/source/handbook/support/workflows/account_verification.html.md
Due: none

Update Vendor Ref Issue template link
  sites/handbook/source/handbook/marketing/corporate-marketing/corporate-communications/index.html.md
Due: none

Move automation up Dedicated prioritization
  source/direction/saas-platforms/dedicated/index.html.md
Due: none

Add new file for Vice President LACA roles
  sites/uncategorized/source/job-families/legal-and-corporate-affairs/vice-president/index.html.md
Due: none

Add Coung Ngo as GitLab frontend maintainer
  data/team_members/person/c/cngo.yml
Due: rspec-unit

Mktops Milestone 20220926 - 20221009
  sites/handbook/source/handbook/marketing/localization/index.html.md
  sites/handbook/source/handbook/marketing/marketing-operations/email-management/index.html.md
  sites/handbook/source/handbook/marketing/marketing-operations/index.html.md
  sites/handbook/source/handbook/marketing/marketing-operations/marketo/index.html.md
  sites/handbook/source/handbook/marketing/marketing-operations/on24/index.html.md
  sites/handbook/source/handbook/marketing/marketing-operations/smartling/index.html.md
  sites/handbook/source/handbook/marketing/marketing-operations/smartling/smartling-reviewers/index.html.md
Due: none

Remove Maintenance::performance subtype
  sites/handbook/source/handbook/engineering/metrics/index.html.md.erb
Due: none

Remove Optimize from Manage stage
  data/stages.yml
Due: lint release-post-items, rspec-unit

Split Dynamic Analysis into two teams
  data/team_members/person/d/davidnelsongl.yml
  data/team_members/person/h/herbermadrigal.yml
  data/team_members/person/m/mikeeddington.yml
  data/team_members/vacancy/backend-engineering-manager-sec-dynamic-analysis.yml
Due: rspec-unit

Add office hours rotation to MS&A page
  sites/handbook/source/handbook/marketing/strategy-performance/index.html.md
Due: none

Direction Updates for Ecosystem stage changes
  .gitlab/CODEOWNERS
  data/categories.yml
  data/domain_expertise.yml
  data/redirects.yml
  sites/handbook/source/handbook/engineering/development/dev/ecosystem/foundations/index.html.md.erb
  sites/handbook/source/handbook/engineering/development/dev/ecosystem/integrations/index.html.md.erb
  sites/handbook/source/handbook/product/cross-stage-features/index.html.md.erb
  sites/handbook/source/handbook/product/ux/navigation/index.html.md
  sites/uncategorized/source/blog/blog-posts/2020-06-16-helping-organizations-build-successful-design-systems.html.md.erb
  sites/uncategorized/source/blog/blog-posts/2021-02-16-measuring-the-value-of-our-design-system.html.md.erb
  sites/uncategorized/source/company/team/structure/working-groups/webpack/index.html.md
  sites/uncategorized/source/job-families/product/product-design-management/index.html.md
  sites/uncategorized/source/job-families/product/product-designer/index.html.md.erb
  source/direction/dev/plans/_manage.erb
  source/direction/dev/template.html.md.erb
  source/direction/ecosystem/index.html.md.erb
  source/direction/ecosystem/templates/_next.erb
  source/direction/manage/foundations/design_system/index.html.md
  source/direction/manage/foundations/gitlab_docs/index.html.md
  source/direction/manage/foundations/index.html.md.erb
  source/direction/manage/foundations/navigation_settings/index.html.md
  source/direction/manage/foundations/templates/_next.erb
  source/direction/manage/foundations/templates/_overview.erb
  source/direction/manage/importers/templates/_overview.erb
  source/direction/manage/integrations/index.html.md.erb
  source/direction/manage/integrations/templates/_next.erb
  source/direction/manage/integrations/templates/_not_doing.erb
  source/direction/manage/integrations/templates/_overview.erb
  source/direction/manage/template.html.md.erb
  source/direction/manage/templates/_goals.erb
  source/direction/manage/templates/_groups.erb
  source/direction/manage/templates/_intro.erb
  source/direction/manage/templates/_metrics.erb
  source/direction/manage/templates/_next.erb
  source/direction/manage/templates/_pricing.erb
  source/direction/manage/templates/_themes.erb
  source/direction/plan/value_stream_management/index.html.md.erb
  source/direction/plan/value_stream_management/templates/_next.erb
  source/direction/plan/value_stream_management/templates/_overview.erb
Due: apply-redirects-prod, lint release-post-items, rspec-unit

Create Blog Posts “2022-10-11-take-our-survey-on-collaborative-software-development”
  sites/uncategorized/source/blog/blog-posts/2022-10-11-take-our-survey-on-collaborative-software-development.html.md.erb
Due: none

Update SecComp Dedicated Markets handbook page
  sites/handbook/source/handbook/engineering/security/security-assurance/dedicated-compliance/index.html.md
Due: none

WIP: Document the process for security compliance reviews of new apps
  sites/handbook/source/handbook/engineering/security/security-assurance/production_readiness_compliance_assessment.md
Due: none

Update 3 year strategy
  sites/uncategorized/source/company/strategy/index.html.md
Due: none

Adding Steve to the laptop wipe schedule
  sites/handbook/source/handbook/business-technology/team-member-enablement/index.html.md
Due: none

Fix link
  sites/handbook/source/handbook/total-rewards/benefits/general-and-entity-benefits/gmbh-benefits-germany/index.html.md
Due: none

Update fulfillment direction pages codeowners
  .gitlab/CODEOWNERS
Due: none

Adding in a FM SDR support template to Corp Events handbook page
  sites/handbook/source/handbook/marketing/corporate-marketing/corp-event-marketing/index.html.md
Due: none

Moving Remote Development GC to November - per Host's request
  sites/handbook/source/handbook/group-conversations/index.html.md
Due: none

Added Links to Changing Opp Ownership Section
  sites/handbook/source/handbook/sales/field-operations/gtm-resources/index.html.md
Due: none

Correction to pluralise "issue"
  source/direction/monitor/observability/index.html.md
Due: none

translated: バリューを公開する理由
  sites/handbook/source/handbook/values/index.html.md
Due: none

Merged
  sites/handbook/source/handbook/marketing/community-relations/project-management/index.html.md
Due: none

Timecard & Pay Schedule information
  sites/handbook/source/handbook/finance/non-exempt/index.html.md.erb
Due: none
