Repository spicysoft/jp-www-gitlab-com: changes, and which GitLab CI jobs are due for each by the changed paths.
All: update-gitlab-project-releases-page, apply-redirects-prod, content-security-policy-checker, lint release-post-items, rubocop, check-handbook-edit-links, rspec-unit

Path conditions:
  update-gitlab-project-releases-page: any of: sites/uncategorized/source/releases/posts/*-released.html.md
  apply-redirects-prod: any of: data/redirects.yml, bin/apply-exact-match-redirects, bin/apply-regex-redirects
  content-security-policy-checker: any of: source/includes/layout/head.html.haml
  lint release-post-items: any of: data/release_posts/unreleased/*, data/categories.yml, data/stages.yml, source/images/unreleased/*
  rubocop: any of: *.rb, **/*.rb, .rubocop.yml, Dangerfile, *.rake, **/*.rake, bin/**/*, scripts/**/*, Rakefile
  check-handbook-edit-links: any of: data/monorepo.yml, helpers/custom_helpers.rb, **/edit_page.html.haml, **/footer.html.haml, **/handbook-page-toc.haml, **/check_handbook_edit_links.rb
  rspec-unit: any of: spec/**/*, **/*.{js,json,rb,yml}, .rspec

Update artifacts CDN blog post with more details
  sites/uncategorized/source/blog/blog-posts/2022-10-25-gitlab-com-artifacts-cdn-change.html.md.erb
Due: none

Remove Zamir from being a backend reviewer
  data/team_members/person/z/zamir-martins.yml
Due: rspec-unit

Fix some typos and clarify Database Guidelines page
  sites/handbook/source/handbook/engineering/architecture/guidelines/database/index.html.md
Due: none

Update Jonathan Glassman to Jon Glassman
  data/stages.yml
Due: lint release-post-items, rspec-unit

Add Firdaws as SSC for B&SM group
  data/stages.yml
  sites/handbook/source/includes/product/_categories-names.erb
Due: lint release-post-items, rspec-unit

Feature overview for Subgroups category
  data/features.yml
Due: rspec-unit

Feature overview for User profiles category
  data/features.yml
Due: rspec-unit

cleanup of Engineering Fellow
  sites/uncategorized/source/job-families/engineering/development/management/fellow/index.html.md
  sites/uncategorized/source/job-families/engineering/fellow/index.html.md
  sites/uncategorized/source/job-families/engineering/infrastructure/engineering-fellow/index.html.md
Due: none

Refine master broken triage docs
  sites/handbook/source/handbook/engineering/workflow/index.html.md
Due: none

Remove legacy Gemnasium infra from docs
  sites/handbook/source/handbook/engineering/infrastructure/production/architecture/supporting-architecture.html.md
Due: none

Feature overview for Projects category
  data/features.yml
Due: rspec-unit

Update AI Assist handbook
  sites/handbook/source/handbook/engineering/incubation/ai-assist/docker/index.html.md
  sites/handbook/source/handbook/engineering/incubation/ai-assist/index.html.md
Due: none

Updating the GitLab Giveaway page
  sites/uncategorized/source/community/sweepstakes/index.html.md
Due: none

Add Felipe Artur as backend maintainer
  data/team_members/person/f/felipe-a.yml
Due: rspec-unit

Ai assist/weekly update
  sites/handbook/source/handbook/engineering/incubation/ai-assist/docker/index.html.md
  sites/handbook/source/handbook/engineering/incubation/ai-assist/index.html.md
Due: none

Update direction page markdown tags
  source/direction/analytics/product-analytics/index.html.md
Due: none

Add customer facing SLAs for Dedicated
  sites/handbook/source/handbook/engineering/infrastructure/team/gitlab-dedicated/slas/index.html.md
Due: none

Updating Sourcer Information on TA Alignment page
  sites/handbook/source/handbook/hiring/recruiting-alignment/index.html.md
Due: none

Update blog post to clarify impact on OSS programs
  sites/uncategorized/source/blog/blog-posts/2021-11-11-public-project-minute-limits.html.md.erb
Due: none

Offboard team member - 2022-10-27
  data/team_members/person/d/damianwilcz.yml
Due: rspec-unit

Update Vendorpedia page to reflect current operations - Revised
  sites/handbook/source/handbook/security/security-assurance/field-security/Vendorpedia.html.md
Due: none

added link to ultimate guide to SBOMs
  sites/uncategorized/source/blog/blog-posts/2022-08-30-the-ultimate-guide-to-software-supply-chain-security.html.md.erb
Due: none

Updated video source links
  sites/handbook/source/handbook/security/security-assurance/field-security/answerbase.html.md
Due: none

Adds readiness interview data source
  sites/handbook/source/handbook/support/readiness/interview-data/emergency-tickets.csv
Due: none

Add temporary coverage to Authentication and Authorization SSC
  data/stages.yml
Due: lint release-post-items, rspec-unit

Improve example for primary/secondary email swap
  sites/handbook/source/handbook/support/workflows/account_changes.html.md
Due: none

Link to channel epic
  source/direction/saas-platforms/dedicated/index.html.md
Due: none

Waiting rooms are not desired for meetings
  sites/handbook/source/handbook/ceo/index.html.md
Due: none

Update Commerce Integrations team data
  data/team_members/person/a/amparoluna.yml
  data/team_members/person/q/qingyuzhao.yml
  sites/handbook/source/handbook/engineering/development/fulfillment/index.html.md.erb
Due: rspec-unit

Add October word & page count
  sites/handbook/source/handbook/about/index.html.md
Due: none

Update some stale sections
  sites/handbook/source/handbook/engineering/development/ops/verify/pipeline-insights/index.html.md.erb
Due: none

Restore Security Department homepage
  sites/handbook/source/handbook/security/index.html.md.erb
  sites/handbook/source/handbook/security/index.html2.md.erb
Due: none

Remove privacy control center category
  data/categories.yml
  data/stages.yml
Due: lint release-post-items, rspec-unit

Support: Update L&R change customer portal macro link
  sites/handbook/source/handbook/support/license-and-renewals/workflows/customersdot/associating_purchases.html.md
Due: none

Update to Employee Privacy Policy
  sites/handbook/source/handbook/legal/privacy/employee-privacy-policy/index.html.md
Due: none

Add actionable insight definitions to UX labels and link to more details
  sites/handbook/source/handbook/product/ux/ux-department-workflow/index.html.md.erb
Due: none

Fix links and merge conflicts
  sites/handbook/source/handbook/business-technology/data-team/platform/index.html.md
  sites/handbook/source/handbook/engineering/development/ops/verify/pipeline-execution/index.html.md.erb
  sites/handbook/source/handbook/legal/record-retention-policy/index.html.md
  sites/handbook/source/handbook/marketing/emergency-response/index.html.md
  sites/handbook/source/handbook/people-group/general-onboarding/tanewki-tips/index.html.md
  sites/handbook/source/handbook/security/security-assurance/governance/index.html.md
  sites/handbook/source/handbook/security/security-assurance/governance/security-assurance-automation.html.md
  sites/handbook/source/handbook/security/security-assurance/index.html.md
  sites/handbook/source/handbook/security/security-assurance/production_readiness_compliance_assessment.html.md
Due: none

Update liaquin.yml
  data/team_members/person/l/liaquin.yml
Due: rspec-unit

Update Spelling on StORM Page
  sites/handbook/source/handbook/security/security-assurance/security-risk/storm-program/index.html.md
Due: none

Add a development section around coordinating customer escalations
  sites/handbook/source/handbook/engineering/development/index.html.md.erb
Due: none
