Repository spicysoft/jp-www-gitlab-com: changes, and which GitLab CI jobs are due for each by the changed paths.
All: update-gitlab-project-releases-page, apply-redirects-prod, content-security-policy-checker, lint release-post-items, rubocop, check-handbook-edit-links, rspec-unit

update-gitlab-project-releases-page:
  cache:
    key: web_ruby-3.0-bullseye
    policy: pull
    paths:
    - vendor
    - node_modules
  before_script:
  - bundle config set path vendor
  - bundle install --quiet --jobs 4
  - yarn install
  stage: content-generation
  needs: []
  script:
  - bundle exec rake release:ee:update_project_releases_page
  ...

apply-redirects-prod:
  cache:
    key: web_ruby-3.0-bullseye
    policy: pull
    paths:
    - vendor
    - node_modules
  before_script:
  - bundle config set path vendor
  - bundle install --quiet --jobs 4
  - yarn install
  stage: build-and-deploy
  environment:
    name: production
  script:
  - export FASTLY_SRV_ID=$FASTLY_SRV_ID_PROD
  ...

content-security-policy-checker:
  image: debian:stable-slim
  stage: test
  needs: []
  script:
  ...

lint release-post-items:
  cache:
    key: web_ruby-3.0-bullseye
    policy: pull
    paths:
    - vendor
    - node_modules
  before_script:
  - bundle config set path vendor
  - bundle install --quiet --jobs 4
  - yarn install
  stage: test
  needs: []
  script:
  - bundle exec bin/validate-release-post-item

rubocop:
  cache:
    key: web_ruby-3.0-bullseye
    policy: pull
    paths:
    - vendor
    - node_modules
  before_script:
  - bundle config set path vendor
  - bundle install --quiet --jobs 4
  - yarn install
  stage: test
  needs: []
  script:
  - bundle exec rubocop

check-handbook-edit-links:
  cache:
    key: web_ruby-3.0-bullseye
    policy: pull
    paths:
    - vendor
    - node_modules
  before_script:
  - bundle config set path vendor
  - bundle install --quiet --jobs 4
  - yarn install
  stage: test
  needs:
  - handbook-build-and-review-deploy
  script:
  - scripts/check-handbook-edit-links.rb

rspec-unit:
  cache:
    key: web_ruby-3.0-bullseye
    policy: pull
    paths:
    - vendor
    - node_modules
  before_script:
  - bundle config set path vendor
  - bundle install --quiet --jobs 4
  - yarn install
  stage: test
  needs: []
  script:
  - bundle exec rspec --tag ~@feature

Add publicly visible namespaces indexed by search engines to pricing FAQ
  sites/uncategorized/source/pricing/faq-efficient-free-tier/index.html.md
Due: none

Update team page entry for Lea Tuizat (Career Mobility Issue)
  data/team_members/person/l/ltuizat.yml
Due: rspec-unit

Update SUS responder outreach process steps
  sites/handbook/source/handbook/engineering/ux/performance-indicators/system-usability-scale/sus-outreach.html.md
Due: none

Updates links to Application Performance direction page
  data/redirects.yml
  source/direction/enablement/reviews/index.html.md
Due: apply-redirects-prod, rspec-unit

Create Blog Posts “2022-08-24-too-many-toolchains-a-devops-platform-migration-is-the-answer”
  sites/uncategorized/source/blog/blog-posts/2022-08-24-too-many-toolchains-a-devops-platform-migration-is-the-answer.html.md.erb
Due: none

Update QEM rotation
  sites/handbook/source/handbook/engineering/quality/quality-engineering/oncall-rotation/index.html.md.erb
Due: none

set mentor:true for sbrienen team member page
  data/team_members/person/s/sanderbrienen.yml
Due: rspec-unit

Fix link to Events Code of Conduct
  sites/handbook/source/handbook/incentives/index.html.md
Due: none

tweaked hed
  sites/uncategorized/source/blog/blog-posts/2022-08-24-too-many-toolchains-a-devops-platform-migration-is-the-answer.html.md.erb
Due: none

InnerSourcing Labs Typo Fixes
  sites/handbook/source/handbook/customer-success/professional-services-engineering/education-services/innersourcinghandsonlab2.html.md
  sites/handbook/source/handbook/customer-success/professional-services-engineering/education-services/innersourcinghandsonlab3.html.md
Due: none

Update Personal accident policy with Fact sheet
  sites/handbook/source/handbook/total-rewards/benefits/general-and-entity-benefits/gmbh-benefits-germany/index.html.md
Due: none

ESG Role Update
  sites/uncategorized/source/job-families/legal/environmental-social-governance/image.png
  sites/uncategorized/source/job-families/legal/environmental-social-governance/index.html.md
Due: none

Reorganize content and simplify language on feedback page
  sites/handbook/source/handbook/people-group/guidance-on-feedback/index.html.md
Due: none

Replacing TAM language with CSM
  sites/uncategorized/source/services/technical-account-management/index.html.haml
Due: none

Add comms skills to base reqs for PM role at GitLab
  sites/uncategorized/source/job-families/product/product-manager/index.html.md.erb
Due: none

Rename file from "Legal" to "Legal and Corporate Affairs"
  data/redirects.yml
  data/team_members/person/c/cathy-hilling.yml
  data/team_members/person/c/creyes3.yml
  data/team_members/person/d/danrhodes.yml
  data/team_members/person/e/eliran.yml
  data/team_members/person/e/emccrann.yml
  data/team_members/person/e/emilyplotkin.yml
  data/team_members/person/j/jbackerman.yml
  data/team_members/person/j/jbraughler.yml
  data/team_members/person/k/katiecorso.yml
  data/team_members/person/k/ktesh.yml
  data/team_members/person/l/leefalc.yml
  data/team_members/person/l/lynseysayers.yml
  data/team_members/person/m/m_taylor.yml
  data/team_members/person/m/miguelsilva.yml
  data/team_members/person/p/phernandez1.yml
  data/team_members/person/r/rchachra.yml
  data/team_members/person/r/robertnalen.yml
  data/team_members/person/r/robin-schulman.yml
  data/team_members/person/s/sarahrogers.yml
  data/team_members/person/s/smccreesh.yml
  sites/uncategorized/source/job-families/legal-and-corporate-affairs/chief-legal-officer/index.html.md
  sites/uncategorized/source/job-families/legal-and-corporate-affairs/contract-manager/index.html.md
  sites/uncategorized/source/job-families/legal-and-corporate-affairs/corporate-development/index.html.md
  sites/uncategorized/source/job-families/legal-and-corporate-affairs/director-legal-us/index.html.md
  sites/uncategorized/source/job-families/legal-and-corporate-affairs/environmental-social-governance/index.html.md
  sites/uncategorized/source/job-families/legal-and-corporate-affairs/index.html.md.erb
  sites/uncategorized/source/job-families/legal-and-corporate-affairs/legal-counsel/index.html.md
  sites/uncategorized/source/job-families/legal-and-corporate-affairs/legal-intern/.gitkeep
  sites/uncategorized/source/job-families/legal-and-corporate-affairs/legal-intern/index.html.md
  sites/uncategorized/source/job-families/legal-and-corporate-affairs/legal-operations/index.html.md
  sites/uncategorized/source/job-families/legal-and-corporate-affairs/paralegal/index.html.md
Due: apply-redirects-prod, rspec-unit

Adding WWT Happy Hour Seattle to the events page.
  data/events.yml
Due: rspec-unit

MR: Aestanke profile update to GitLab.com.
  data/team_members/person/a/aestanke.yml
  data/team_members/person/c/chr0n0grl.yml
  sites/uncategorized/source/images/team/amandastanke.jpeg
Due: rspec-unit

Update to GitLab Level Up from GitLab Learn (edcast)
  sites/uncategorized/source/services/education/gitlab-certified-associate/index.html.haml
  sites/uncategorized/source/services/education/gitlab-certified-devops-pro/index.html.haml
  sites/uncategorized/source/services/education/gitlab-cicd-associate/index.html.haml
  sites/uncategorized/source/services/education/gitlab-innersourcing-specialist/index.html.haml
  sites/uncategorized/source/services/education/gitlab-project-management-associate/index.html.haml
  sites/uncategorized/source/services/education/gitlab-security-specialist/index.html.haml
  sites/uncategorized/source/services/education/gitlab-technical-certification-self-paced/index.html.haml
Due: none

Update Git Basics Lab 1 to align with docs format
  sites/handbook/source/handbook/customer-success/professional-services-engineering/education-services/gitbasicshandsonlab1.html.md
Due: none

Update Refining our product header
  sites/handbook/source/handbook/engineering/index.html.md.erb
Due: none

SCIM identity introduced in 15.3 is available only Premium/Ultimate
  data/release_posts/15_3/manage-expose-scim-identity-in-admin-gui.yml
Due: rspec-unit

Fix Mermaid Chart
  sites/handbook/source/handbook/legal/publicity-waiver-release/index.html.md
Due: none

Updating SFUE DRI to ipedowitz
  sites/uncategorized/source/company/team/structure/working-groups/index.html.md
Due: none

Remove mention of Stale TAM Sentiment being an auto generated CTA - Update sites/handbook/source/handbook/customer-success/playbooks/index.html.md
  sites/handbook/source/handbook/customer-success/playbooks/index.html.md
Due: none

Remove mention of Stale CTA dashboard - Update sites/handbook/source/handbook/customer-success/tam/health-score-triage/index.html.md
  sites/handbook/source/handbook/customer-success/tam/health-score-triage/index.html.md
Due: none

Fix image
  data/pets.yml
Due: rspec-unit

Update Kushal Pandya to Interim EM
  data/team_members/person/c/charlieablett.yml
  data/team_members/person/e/eugeniagrieff.yml
  data/team_members/person/f/felipe-a.yml
  data/team_members/person/f/florie-guibert.yml
  data/team_members/person/j/jan-p.yml
  data/team_members/person/j/jarka-k.yml
  data/team_members/person/k/kushal-p.yml
  data/team_members/person/n/nicolasdular.yml
  data/team_members/person/r/rajatjain.yml
  data/team_members/person/s/stanislav-dobrovolschii.yml
  data/team_members/vacancy/fullstack-engineering-manager-certify.yml
Due: rspec-unit

Update data/team_members/person/c/charl-de-wit.yml
  data/team_members/person/c/charl-de-wit.yml
Due: rspec-unit

Updates index for Legal and Corporate Affairs job families
  sites/uncategorized/source/job-families/legal-and-corporate-affairs/environmental-social-governance/image.png
  sites/uncategorized/source/job-families/legal-and-corporate-affairs/index.html.md.erb
Due: none

Updating a screenshot
  sites/handbook/source/handbook/business-technology/it-compliance/tools/nira/image-4.png
  sites/handbook/source/handbook/business-technology/it-compliance/tools/nira/nira-guide.html.md
Due: none

Update EMEA C-SDR Territory Assignments
  sites/handbook/source/handbook/marketing/revenue-marketing/sdr/index.html.md
Due: none

Remove "intermediate" from "working on tickets"
  sites/handbook/source/handbook/support/workflows/working-on-tickets.html.md
Due: none

Adding 2022 survey CTAs to many blogs:The developer-security divide: frank talk from both sides
  sites/uncategorized/source/blog/blog-posts/2020-08-13-developer-security-divide.html.md.erb
Due: none

Note about PCL early start on the 2nd.
  sites/handbook/source/handbook/engineering/infrastructure/change-management/index.html.md
Due: none

Adding 2022 survey CTAs to many blogs: A surprising benefit of CI/CD: Changing development roles
  sites/uncategorized/source/blog/blog-posts/2020-07-16-ci-cd-changing-roles.html.md.erb
Due: none

Adding 2022 survey CTAs to many blogs: The challenges of code reviews
  sites/uncategorized/source/blog/blog-posts/2020-07-03-challenges-of-code-reviews.html.md.erb
Due: none

Edit executing decisions handbook page
  sites/handbook/source/handbook/mecc/executing-decisions/index.html.md.erb
Due: none

Create Blog Posts “2022-08-24-a-3-step-plan-for-devops-platform-migration”
  sites/uncategorized/source/blog/blog-posts/2022-08-24-a-3-step-plan-for-devops-platform-migration.html.md.erb
Due: none

Path conditions:
  update-gitlab-project-releases-page: any of: sites/uncategorized/source/releases/posts/*-released.html.md
  apply-redirects-prod: any of: data/redirects.yml, bin/apply-exact-match-redirects, bin/apply-regex-redirects
  content-security-policy-checker: any of: source/includes/layout/head.html.haml
  lint release-post-items: any of: data/release_posts/unreleased/*, data/categories.yml, data/stages.yml, source/images/unreleased/*
  rubocop: any of: *.rb, **/*.rb, .rubocop.yml, Dangerfile, *.rake, **/*.rake, bin/**/*, scripts/**/*, Rakefile
  check-handbook-edit-links: any of: data/monorepo.yml, helpers/custom_helpers.rb, **/edit_page.html.haml, **/footer.html.haml, **/handbook-page-toc.haml, **/check_handbook_edit_links.rb
  rspec-unit: any of: spec/**/*, **/*.{js,json,rb,yml}, .rspec
