Repository spicysoft/jp-www-gitlab-com: changes, and which GitLab CI jobs are due for each by the changed paths.
All: update-gitlab-project-releases-page, apply-redirects-prod, content-security-policy-checker, lint release-post-items, rubocop, check-handbook-edit-links, rspec-unit

Path conditions:
  update-gitlab-project-releases-page: any of: sites/uncategorized/source/releases/posts/*-released.html.md
  apply-redirects-prod: any of: data/redirects.yml, bin/apply-exact-match-redirects, bin/apply-regex-redirects
  content-security-policy-checker: any of: source/includes/layout/head.html.haml
  lint release-post-items: any of: data/release_posts/unreleased/*, data/categories.yml, data/stages.yml, source/images/unreleased/*
  rubocop: any of: *.rb, **/*.rb, .rubocop.yml, Dangerfile, *.rake, **/*.rake, bin/**/*, scripts/**/*, Rakefile
  check-handbook-edit-links: any of: data/monorepo.yml, helpers/custom_helpers.rb, **/edit_page.html.haml, **/footer.html.haml, **/handbook-page-toc.haml, **/check_handbook_edit_links.rb
  rspec-unit: any of: spec/**/*, **/*.{js,json,rb,yml}, .rspec

Update Manager, DIB Reporting Structure
  sites/uncategorized/source/job-families/people-ops/diversity-inclusion-partner/index.html.md
Due: none

Add Matt as DRI for partnership page
  sites/handbook/source/handbook/engineering/development/sec/delineate-sec.html.md.erb
Due: none

Small changes such as title updates.
  sites/handbook/source/handbook/engineering/security/security-assurance/field-security/index.html.md
  sites/handbook/source/handbook/engineering/security/security-assurance/governance/index.html.md
  sites/handbook/source/handbook/engineering/security/security-assurance/index.html.md
Due: none

Add a few unmentioned STAR Eligibility items
  sites/handbook/source/handbook/support/internal-support/support-ticket-attention-requests.html.md
Due: none

Create Blog Posts “2022-10-05-accelerate-cloud-adoption-with-gitlabs-open-source-partnership-with-google-cloud”
  sites/uncategorized/source/blog/blog-posts/2022-10-05-accelerate-cloud-adoption-with-gitlabs-open-source-partnership-with-google-cloud.html.md.erb
Due: none

changed date
  sites/uncategorized/source/blog/blog-posts/2022-10-11-accelerate-cloud-adoption-with-gitlabs-open-source-partnership-with-google-cloud.html.md.erb
Due: none

edits
  sites/uncategorized/source/blog/blog-posts/2022-10-11-accelerate-cloud-adoption-with-gitlabs-open-source-partnership-with-google-cloud.html.md.erb
Due: none

Remove 10/5 Webinar and Office Hours from CSM/CSE Webinar Page
  sites/handbook/source/handbook/customer-success/csm/segment/scale/webinar-calendar/index.html.md
Due: none

Add Chris Micek to the Categories page
  data/sections.yml
  data/stages.yml
  sites/handbook/source/includes/product/_categories-names.erb
Due: lint release-post-items, rspec-unit

added space
  sites/uncategorized/source/blog/blog-posts/2022-10-11-accelerate-cloud-adoption-with-gitlabs-open-source-partnership-with-google-cloud.html.md.erb
Due: none

Apply 1 suggestion(s) to 1 file(s)
  data/team_members/person/m/monica-gomez.yml
Due: rspec-unit

Updating UX PBP alignment
  data/people_group/people_business_partners.yml
Due: rspec-unit

Adding Ed Bao to the CEO Shadow Alumni Section of the handbook
  sites/handbook/source/handbook/ceo/shadow/index.html.md
Due: none

Updating UX GC date in November
  sites/handbook/source/handbook/group-conversations/index.html.md
Due: none

Update the org chart to reflect Eng VP reporting to Ashley Kramer, ACTO
  data/team_members/person/b/bartekmarnane.yml
  data/team_members/person/c/christopher-l.yml
  data/team_members/person/j/johnathan-h.yml
  data/team_members/person/m/mek.yml
  data/team_members/person/s/steveloyd.yml
  data/team_members/person/t/tom-cooney.yml
Due: rspec-unit

Updated Programs page to remove TAM and replace with CSM and added Product
  sites/handbook/source/handbook/customer-success/csm/index.html.md
  sites/handbook/source/handbook/sales/field-operations/customer-success-operations/cs-ops-programs/index.html.md
Due: none

Apply 1 suggestion(s) to 1 file(s)
  data/release_posts/unreleased/manage-add-commit-email-user-attribute-to-the-api-model-for-users-.yml
Due: lint release-post-items, rspec-unit

Update for self-managed only, admin role, and community shout out.
  data/release_posts/unreleased/manage-add-commit-email-user-attribute-to-the-api-model-for-users-.yml
Due: lint release-post-items, rspec-unit

chore: Remove outdated Sec Section Glossary of Terms
  sites/handbook/source/handbook/engineering/development/sec/secure/glossary-of-terms/index.html.md.erb
  sites/handbook/source/handbook/engineering/development/sec/secure/index.html.md.erb
  sites/handbook/source/handbook/engineering/development/sec/secure/tech-docs/feedback/index.html.md
  sites/handbook/source/handbook/engineering/development/sec/secure/tech-docs/index.html.md
  sites/handbook/source/handbook/engineering/development/sec/secure/vulnerability-research/index.html.md.erb
Due: none

Apply 1 suggestion(s) to 1 file(s)
  data/release_posts/unreleased/manage-email-the-user-when-their-twofactor-otp-attempt-is-wrong.yml
Due: lint release-post-items, rspec-unit

Add Auth bugs
  data/release_posts/unreleased/bugs.yml
Due: lint release-post-items, rspec-unit

Dynamic Analysis direction page updates
  source/direction/secure/dynamic-analysis/api-security/index.html.md
  source/direction/secure/dynamic-analysis/dast/index.html.md
  source/direction/secure/dynamic-analysis/fuzz-testing/index.html.md
Due: none

Caveat auto issue closing in handbook
  sites/handbook/source/handbook/communication/index.html.md
Due: none

Dub Nav 1.1.11 release
  package.json
  yarn.lock
Due: rspec-unit

Updating broken link
  sites/uncategorized/source/blog/blog-posts/2016-03-03-start-with-an-issue.html.md
Due: none

Add first reply time range
  sites/handbook/source/handbook/support/training/index.html.md
Due: none

Fix: バリューが発揮されていない場合の対処法
  sites/handbook/source/handbook/values/index.html.md
Due: none

Refresh TeamOps handbook pages with LevelUp links, illustrations, and logo
  sites/handbook/source/handbook/teamops/executing-decisions/index.html.md.erb
  sites/handbook/source/handbook/teamops/fast-decisions/index.html.md.erb
  sites/handbook/source/handbook/teamops/images/teamops-gitlab-lockup-charcoal-rgb.png
  sites/handbook/source/handbook/teamops/images/teamops-illustration_collaboration_purple.png
  sites/handbook/source/handbook/teamops/images/teamops-illustration_contribution_purple.png
  sites/handbook/source/handbook/teamops/images/teamops-illustration_teamwork_blue.jpg
  sites/handbook/source/handbook/teamops/images/teamops-illustration_teamwork_purple.png
  sites/handbook/source/handbook/teamops/index.html.md.erb
  sites/handbook/source/handbook/teamops/informed-decisions/index.html.md.erb
  sites/handbook/source/handbook/teamops/many-decisions/index.html.md.erb
Due: none

Add Tiger as CI template maintainer
  data/team_members/person/t/tiger-watson.yml
Due: rspec-unit

Add Jessie Young as backend reviewer
  data/team_members/person/j/jessieay.yml
Due: rspec-unit

Creating DIB Goals Page
  sites/uncategorized/source/company/culture/inclusion/dib-goals/index.html.md
Due: none

Update Integrations direction
  source/direction/ecosystem/integrations/index.html.md
Due: none

Manage:Integrations consistency
  source/direction/ecosystem/integrations/index.html.md
Due: none

Offboard team member - 2022-10-06
  data/team_members/person/n/nkavulek1.yml
Due: rspec-unit

Apply 2 suggestion(s) to 1 file(s)
  data/release_posts/unreleased/plan-update-default-insights-config-file-to-include-dora.yml
Due: lint release-post-items, rspec-unit

Fixed typo on Line #64
  sites/handbook/source/handbook/customer-success/professional-services-engineering/education-services/gitlabpmhandsonlab8.html.md
Due: none

Adds recommendation for a small standing desk
  sites/uncategorized/source/company/culture/all-remote/workspace/index.html.md.erb
Due: none
