Repository spicysoft/jp-www-gitlab-com: changes, and which GitLab CI jobs are due for each by the changed paths.
All: update-gitlab-project-releases-page, apply-redirects-prod, content-security-policy-checker, lint release-post-items, rubocop, check-handbook-edit-links, rspec-unit

Path conditions:
  update-gitlab-project-releases-page: any of: sites/uncategorized/source/releases/posts/*-released.html.md
  apply-redirects-prod: any of: data/redirects.yml, bin/apply-exact-match-redirects, bin/apply-regex-redirects
  content-security-policy-checker: any of: source/includes/layout/head.html.haml
  lint release-post-items: any of: data/release_posts/unreleased/*, data/categories.yml, data/stages.yml, source/images/unreleased/*
  rubocop: any of: *.rb, **/*.rb, .rubocop.yml, Dangerfile, *.rake, **/*.rake, bin/**/*, scripts/**/*, Rakefile
  check-handbook-edit-links: any of: data/monorepo.yml, helpers/custom_helpers.rb, **/edit_page.html.haml, **/footer.html.haml, **/handbook-page-toc.haml, **/check_handbook_edit_links.rb
  rspec-unit: any of: spec/**/*, **/*.{js,json,rb,yml}, .rspec

Update Change Subscription Management Contact Workflow in Support to include link to docs pager for self-service
  sites/handbook/source/handbook/support/license-and-renewals/workflows/customersdot/associating_purchases.html.md
Due: none

Removes archived senior-support channel
  sites/handbook/source/handbook/support/index.html.md.erb
Due: none

Move Staff CSM (Product) to Staff CSE
  sites/uncategorized/source/job-families/sales/customer-success-management/index.html.md
Due: none

Fix GitLabのバリューを守りながら、いかにしてビジネスをスケールさせるか。
  sites/handbook/source/handbook/values/index.html.md
Due: none

Refix: GitLabのバリューを守りながら、いかにしてビジネスをスケールさせるか。
  sites/handbook/source/handbook/values/index.html.md
Due: none

Updating Stacy Cline Read.me page.
  sites/handbook/source/handbook/legal/readmes/stacycline.index.html.md
Due: none

Threat Insights category Direction updates
  source/direction/govern/threat_insights/dependency_management/index.html.md
  source/direction/govern/threat_insights/vulnerability_management/index.html.md
Due: none

Update promo exceptions link
  sites/handbook/source/handbook/people-group/promotions-transfers/index.html.md
Due: none

My team page entry: add CZT for fun
  data/team_members/person/r/rebecca-spainhower.yml
Due: rspec-unit

Update data/release_posts/unreleased/plan-update-default-insights-config-file-to-include-dora.yml
  data/release_posts/unreleased/plan-update-default-insights-config-file-to-include-dora.yml
Due: lint release-post-items, rspec-unit

Fix typo corresponding
  sites/handbook/source/handbook/engineering/quality/quality-engineering/test-engineering/index.html.md
Due: none

Sync specialty to team page - 2022-10-07
  data/team_members/person/e/emilysybrant.yml
  data/team_members/person/g/ghinfey.yml
  data/team_members/person/j/jpcyiza.yml
  data/team_members/person/k/kcomoli.yml
  data/team_members/person/m/mhamda.yml
Due: rspec-unit

Add Themes to Scalability page
  sites/handbook/source/handbook/engineering/infrastructure/team/scalability/index.html.md.erb
Due: none

Adding Google Cloud Community of Practice
  sites/handbook/source/handbook/customer-success/initiatives/communities-of-practice.html.md
Due: none

Update DORA category links
  source/direction/manage/dora_metrics/index.html.md
Due: none

Community contribute: update Issues urls
  sites/uncategorized/source/community/contribute/development/index.html.haml
Due: none

Fix typo on dora_metrics/index.html.md.erb
  source/direction/manage/dora_metrics/index.html.md.erb
Due: none

Update to CSM
  sites/uncategorized/source/services/customer-success-services/index.html.haml
Due: none

Update renewal guidance page
  sites/handbook/source/handbook/customer-success/csm/renewals/index.html.md
Due: none

Offboard team member - 2022-10-07
  .gitlab/CODEOWNERS
  data/team_members/person/a/alinamihaila.yml
  data/team_members/person/a/ash-m.yml
  data/team_members/person/d/ddieulivol.yml
  data/team_members/person/j/jennli.yml
  data/team_members/person/l/lin.yml
  data/team_members/person/n/nao.hashizume.yml
Due: rspec-unit

Direction: Refresh SAST based on recent progress
  source/direction/secure/static-analysis/sast/index.html.md
Due: none

Direction: Update Secret Detection
  source/direction/secure/static-analysis/secret-detection/index.html.md
Due: none

Update Fulfillment categories
  data/categories.yml
  data/stages.yml
  source/direction/fulfillment/template.html.md.erb
Due: lint release-post-items, rspec-unit

Add a note to create an AR for root ns projects
  sites/handbook/source/handbook/engineering/gitlab-repositories/index.html.md
Due: none

fixes spelling error
  sites/handbook/source/handbook/travel/index.html.md
Due: none

Updates MR process for Dedicated
  sites/handbook/source/handbook/engineering/infrastructure/team/gitlab-dedicated/index.html.md.erb
Due: none

Add tools / software list to Incubation Playbook
  sites/handbook/source/handbook/engineering/incubation/playbook/index.html.md.erb
Due: none

Update pcalder departments to include Data Science
  data/team_members/person/p/pcalder.yml
Due: rspec-unit

Add Compliance bugs
  data/release_posts/unreleased/bugs.yml
Due: lint release-post-items, rspec-unit

Updating buttons and links on customer assurance activities process page
  sites/handbook/source/handbook/engineering/security/security-assurance/field-security/customer-security-assessment-process.html.md
Due: none

Configurable list of things 'to be imported' that can be adjusted by the user
  data/release_posts/unreleased/manage-configurable-list-of-things-to-be-imported-that-can-be-adju.yml
Due: lint release-post-items, rspec-unit

Update email
  sites/handbook/source/handbook/total-rewards/benefits/general-and-entity-benefits/remote-com/index.html.md
Due: none

Fix typos in handbook-first-documentation
  sites/uncategorized/source/company/culture/all-remote/handbook-first-documentation/index.html.md.erb
Due: none

GitHub importer - Scrape images to GitLab and update markdown
  data/release_posts/unreleased/manage-github-importer--scrape-images-to-gitlab-and-update-markdow.yml
Due: lint release-post-items, rspec-unit

Fix link to Directly Responsible Individuals.
  sites/handbook/source/handbook/content-websites-responsibility/index.html.md
Due: none

Update group category for reCAPTCHA
  data/features.yml
Due: rspec-unit

Add loc_usa slack channel link
  sites/handbook/source/handbook/communication/chat/index.html.md
Due: none

Update Fabio's assigned exit criteria
  sites/uncategorized/source/company/team/structure/working-groups/api-vision/index.html.md
Due: none

Fix typo in iteration value competency
  sites/handbook/source/handbook/values/index.html.md
Due: none

Add Link to Papaya Global page
  sites/handbook/source/handbook/total-rewards/benefits/general-and-entity-benefits/index.html.md
Due: none
