Repository spicysoft/jp-www-gitlab-com: changes, and which GitLab CI jobs are due for each by the changed paths.
All: update-gitlab-project-releases-page, apply-redirects-prod, content-security-policy-checker, lint release-post-items, rubocop, check-handbook-edit-links, rspec-unit

Path conditions:
  update-gitlab-project-releases-page: any of: sites/uncategorized/source/releases/posts/*-released.html.md
  apply-redirects-prod: any of: data/redirects.yml, bin/apply-exact-match-redirects, bin/apply-regex-redirects
  content-security-policy-checker: any of: source/includes/layout/head.html.haml
  lint release-post-items: any of: data/release_posts/unreleased/*, data/categories.yml, data/stages.yml, source/images/unreleased/*
  rubocop: any of: *.rb, **/*.rb, .rubocop.yml, Dangerfile, *.rake, **/*.rake, bin/**/*, scripts/**/*, Rakefile
  check-handbook-edit-links: any of: data/monorepo.yml, helpers/custom_helpers.rb, **/edit_page.html.haml, **/footer.html.haml, **/handbook-page-toc.haml, **/check_handbook_edit_links.rb
  rspec-unit: any of: spec/**/*, **/*.{js,json,rb,yml}, .rspec

Change reference to 12 Cross Functional Inititives
  sites/handbook/source/handbook/ceo/chief-of-staff-team/index.html.md
  sites/handbook/source/handbook/engineering/development/index.html.md.erb
  sites/handbook/source/handbook/engineering/infrastructure/index.html.md.erb
  sites/handbook/source/handbook/engineering/quality/index.html.md.erb
  sites/handbook/source/handbook/engineering/quality/quality-engineering/index.html.md.erb
  sites/handbook/source/handbook/key-review/index.html.md
  sites/uncategorized/source/company/offsite/index.html.md
  sites/uncategorized/source/company/team/structure/working-groups/contributor-growth/index.html.md
  sites/uncategorized/source/company/team/structure/working-groups/ecommerce/index.html.md
  sites/uncategorized/source/company/team/structure/working-groups/index.html.md
  sites/uncategorized/source/company/team/structure/working-groups/product-analytics-gtm/index.html.md
  sites/uncategorized/source/job-families/product/product-manager/index.html.md.erb
Due: none

Replace Project_page_with_web_hook_disabled_alert-png-1980_1550-.png
  source/images/unreleased/Project_page_with_web_hook_disabled_alert-png-1980_1550-.png
Due: lint release-post-items

Shortened file name
  source/images/unreleased/webhook_disabled_alert.png
Due: lint release-post-items

Add image_url
  data/release_posts/unreleased/ecosystem-autodisable-failing-webhooks.yml
Due: lint release-post-items, rspec-unit

Updated release post name
  data/release_posts/unreleased/ecosystem-enable-slack-app-home-feature.yml
Due: lint release-post-items, rspec-unit

Fix image_url path
  data/release_posts/unreleased/ecosystem-autodisable-failing-webhooks.yml
Due: lint release-post-items, rspec-unit

Update source/direction/product-operations/template.html.md.erb
  source/direction/product-operations/template.html.md.erb
Due: none

Add latest video on Legal agreements
  sites/handbook/source/handbook/sales/training/sales-enablement-sessions/index.html.md
Due: none

Add latest video on legal agreements
  sites/handbook/source/handbook/sales/training/index.html.md
Due: none

Add the new logo info to the gtm handbook
  sites/handbook/source/handbook/sales/field-operations/sales-systems/gtm-technical-documentation/index.html.md
Due: none

Add code review usability improvement
  data/release_posts/unreleased/usability_improvements.yml
Due: lint release-post-items, rspec-unit

Adding Pub Sec Type Documentation to the GTM docs
  sites/handbook/source/handbook/sales/field-operations/sales-systems/gtm-technical-documentation/index.html.md
Due: none

Adding AWS Community of Practice
  sites/handbook/source/handbook/customer-success/initiatives/communities-of-practice.html.md
Due: none

Remove Commit Events - Update events.yml
  data/events.yml
Due: rspec-unit

Add 2 dashboards to list
  sites/handbook/source/handbook/engineering/metrics/index.html.md.erb
Due: none

Remove the usage of outdated term
  data/categories.yml
Due: lint release-post-items, rspec-unit

Adds the application instrumentation category
  data/categories.yml
  data/stages.yml
Due: lint release-post-items, rspec-unit

Added new levels to Channel Services job family
  sites/uncategorized/source/job-families/sales/channel-services/index.html.md
Due: none

Updated the Customer Lifecycle Journey with Metrics - Scale CSE image (upload and replace on HB page)
  sites/handbook/source/handbook/customer-success/tam/segment/scale/index.html.md
  source/images/handbook/customer-success/Customer_Lifecycle_Journey_with_Metrics_-_Scale_CSE.png
Due: none

Update the TW performance indicator comments
  data/performance_indicators/ux_department.yml
Due: rspec-unit

Add shadow's department
  sites/handbook/source/handbook/engineering/development/shadow/director-shadow-program.html.md
Due: none

Update to Marketing Guide: Collaborating with GitLab Legal HB page
  sites/handbook/source/handbook/legal/marketing-collaboration/index.html.md
Due: none

Update Tableau handbook page
  sites/handbook/source/handbook/business-technology/data-team/platform/tableau/index.html.md
Due: none

Resolve "Update Sisense Style Guide"
  sites/handbook/source/handbook/business-technology/data-team/platform/sisense-style-guide/index.html.md
Due: none

Resolve "Update Data Development Handbook page with Sisense link"
  sites/handbook/source/handbook/business-technology/data-team/data-development/index.html.md
Due: none

Ashley K to Exec Sponsor
  sites/uncategorized/source/company/team/structure/working-groups/cross-functional-prioritization/index.html.md
Due: none

Another take on the description
  data/release_posts/unreleased/ecosystem-enable-slack-app-home-feature.yml
Due: lint release-post-items, rspec-unit

Target LHF high vol. terms with additional copy
  sites/uncategorized/source/blog/blog-posts/2018-05-30-journey-in-native-unicode-emoji.html.md
  sites/uncategorized/source/blog/blog-posts/2019-08-23-a-single-codebase-for-gitlab-community-and-enterprise-edition.html.md.erb
  sites/uncategorized/source/blog/blog-posts/2022-06-01-terraform-as-part-of-software-supply-chain-part1-modules-and-providers.html.md.erb
  sites/uncategorized/source/blog/blog-posts/2022-08-17-why-we-have-implemented-our-own-sshd-solution-on-gitlab-sass.html.md.erb
Due: none

Update Fulfillment Group Responsibilities
  source/direction/fulfillment/index.html.md
Due: none

Overall tweaks/updates
  sites/handbook/source/handbook/engineering/ux/product-design/ux-roadmaps/index.html.md
Due: none

TA alignment updates for CES
  sites/handbook/source/handbook/hiring/recruiting-alignment/index.html.md
Due: none

Fix devops redirects for Govern
  data/redirects.yml
Due: apply-redirects-prod, rspec-unit

Transition Container Scanning from CS to CA
  data/team_members/person/a/adamcohen.yml
  data/team_members/person/b/bauerdominic.yml
  data/team_members/person/b/bwill.yml
  data/team_members/person/f/fabien-c.yml
  data/team_members/person/h/hacks4oats.yml
  data/team_members/person/i/igorfrenkel.yml
  data/team_members/person/m/maciejparuszewski.yml
  data/team_members/person/o/olivier-g.yml
  data/team_members/person/s/sashi_kumar.yml
  data/team_members/person/t/tetiana-ch.yml
  data/team_members/person/t/thiagofigueiro.yml
Due: rspec-unit

Remove Ed from 1 Week. Open 1 week slot to Shadow Alumni
  sites/handbook/source/handbook/ceo/shadow/index.html.md
Due: none

adds latest Hero contribution
  data/heroes_contributions.yml
Due: rspec-unit

Navigation v1.1.5
  package.json
  yarn.lock
Due: rspec-unit

Fixing spelling error iscuss > discuss in General Suggestions list
  sites/handbook/source/handbook/customer-success/tam/cadence-calls/index.html.md
Due: none

Update canonical page
  sites/uncategorized/source/company/culture/inclusion/tmrg-gitlab-pride/index.html.md
Due: none

update Canada page with Benefits admin processes
  sites/handbook/source/handbook/total-rewards/benefits/general-and-entity-benefits/canada-corp-benefits/index.html.md
Due: none

Update G&D reimbursement process
  sites/handbook/source/handbook/total-rewards/benefits/general-and-entity-benefits/growth-and-development/index.html.md
Due: none
