Repository spicysoft/jp-www-gitlab-com: changes, and which GitLab CI jobs are due for each by the changed paths.
All: update-gitlab-project-releases-page, apply-redirects-prod, content-security-policy-checker, lint release-post-items, rubocop, check-handbook-edit-links, rspec-unit

update-gitlab-project-releases-page:
  cache:
    key: web_ruby-3.0-bullseye
    policy: pull
    paths:
    - vendor
    - node_modules
  before_script:
  - bundle config set path vendor
  - bundle install --quiet --jobs 4
  - yarn install
  stage: content-generation
  needs: []
  script:
  - bundle exec rake release:ee:update_project_releases_page
  ...

apply-redirects-prod:
  cache:
    key: web_ruby-3.0-bullseye
    policy: pull
    paths:
    - vendor
    - node_modules
  before_script:
  - bundle config set path vendor
  - bundle install --quiet --jobs 4
  - yarn install
  stage: build-and-deploy
  environment:
    name: production
  script:
  - export FASTLY_SRV_ID=$FASTLY_SRV_ID_PROD
  ...

content-security-policy-checker:
  image: debian:stable-slim
  stage: test
  needs: []
  script:
  ...

lint release-post-items:
  cache:
    key: web_ruby-3.0-bullseye
    policy: pull
    paths:
    - vendor
    - node_modules
  before_script:
  - bundle config set path vendor
  - bundle install --quiet --jobs 4
  - yarn install
  stage: test
  needs: []
  script:
  - bundle exec bin/validate-release-post-item

rubocop:
  cache:
    key: web_ruby-3.0-bullseye
    policy: pull
    paths:
    - vendor
    - node_modules
  before_script:
  - bundle config set path vendor
  - bundle install --quiet --jobs 4
  - yarn install
  stage: test
  needs: []
  script:
  - bundle exec rubocop

check-handbook-edit-links:
  cache:
    key: web_ruby-3.0-bullseye
    policy: pull
    paths:
    - vendor
    - node_modules
  before_script:
  - bundle config set path vendor
  - bundle install --quiet --jobs 4
  - yarn install
  stage: test
  needs:
  - handbook-build-and-review-deploy
  script:
  - scripts/check-handbook-edit-links.rb

rspec-unit:
  cache:
    key: web_ruby-3.0-bullseye
    policy: pull
    paths:
    - vendor
    - node_modules
  before_script:
  - bundle config set path vendor
  - bundle install --quiet --jobs 4
  - yarn install
  stage: test
  needs: []
  script:
  - bundle exec rspec --tag ~@feature

Update data/team_members/person/s/sanand4.yml
  data/team_members/person/s/sanand4.yml
  sites/uncategorized/source/images/team/sumianand.jpeg
Due: rspec-unit

Update maturity target for dep firewall
  data/categories.yml
Due: lint release-post-items, rspec-unit

Update sites/handbook/source/handbook/sales/field-operations/gtm-resources/rules-of-engagement/index.html.md
  sites/handbook/source/handbook/sales/field-operations/gtm-resources/rules-of-engagement/index.html.md
Due: none

The Maturity field is blank for Commerce Integrations, so lets remove that until it's set properly.
  source/direction/fulfillment/commerce-integrations/index.html.md
Due: none

Removed manually created Team Members table in favor of auto generated table via script.
  source/direction/plan/certify/index.html.md.erb
Due: none

Restructuring calibration session section
  sites/handbook/source/handbook/people-group/talent-assessment/index.html.md
Due: none

Expose job scope data in CI_JOB_TOKEN API for introspection
  data/release_posts/unreleased/verify-expose-job-scope-data-in--ci-job-token--api-for-introspecti.yml
Due: lint release-post-items, rspec-unit

add videos to appsec job family
  sites/uncategorized/source/job-families/engineering/application-security/index.html.md
Due: none

Update links to observation management page
  sites/handbook/source/handbook/engineering/security/security-assurance/observation-management-procedure.html.md
  sites/handbook/source/handbook/engineering/security/security-assurance/observation-remediation-procedure.html.md
Due: none

Adding a new CoS to the CFO role
  sites/uncategorized/source/job-families/finance/chief-of-staff-to-the-cfo/index.html.md
Due: none

Updated the Zoom "Waiting Room" portion to note that if this feature is...
  sites/handbook/source/handbook/tools-and-tips/zoom/index.html.md
Due: none

Update growth to growth potential
  sites/handbook/source/handbook/total-rewards/compensation/compensation-review-cycle/index.html.md
Due: none

Runner SaaS direction updates September 2022
  source/direction/verify/runner_saas/index.html.md
Due: none

Delete Emergency Page
  sites/handbook/source/handbook/engineering/index.html.md.erb
Due: none

Runner Fleet direction updates September 2022
  source/direction/verify/runner_fleet/index.html.md
Due: none

Updated category maturity dates for Pipeline Insights
  data/categories.yml
Due: lint release-post-items, rspec-unit

Runner Core direction updates September 2022
  source/direction/verify/runner_core/index.html.md
Due: none

Update stages.yml
  data/stages.yml
Due: lint release-post-items, rspec-unit

Add Lorena and Jon to TW pages
  sites/handbook/source/handbook/product/ux/technical-writing/index.html.md.erb
  sites/handbook/source/includes/product/_categories-names.erb
  sites/handbook/source/includes/stages/tech-writing.html.haml
Due: none

Add Tyler to the Next Architecture Workflow WG
  sites/uncategorized/source/company/team/structure/working-groups/next-architecture-workflow/index.html.md
Due: none

Update reactive label command docs for workflow::blocked
  sites/handbook/source/handbook/engineering/quality/triage-operations/index.html.md
Due: none

Add new team members for 2022-09-27
  data/team_members/person/a/arhampton.yml
  data/team_members/person/a/ashahrazad1.yml
  data/team_members/person/c/chenkle.yml
  data/team_members/person/d/dbernardi-int.yml
  data/team_members/person/f/frankmcgowan.yml
  data/team_members/person/j/jpcyiza.yml
  data/team_members/person/l/lhan.yml
  data/team_members/person/n/nbernardo.yml
  data/team_members/person/s/shekharpatnaik.yml
  data/team_members/person/s/suleimiahmed.yml
  data/team_members/person/v/virtualmachine28.yml
Due: rspec-unit

Remove unused team helpers methods
  helpers/team_helpers.rb
Due: rubocop, rspec-unit

Updating referral bonus to one SSOT on incentives page
  sites/handbook/source/handbook/hiring/referral-process/index.html.md
  sites/handbook/source/handbook/incentives/index.html.md
Due: none

Add Diana Zubova as a frontend maintainer to CustomersDot
  data/team_members/person/d/dzubova.yml
Due: rspec-unit

Redirect basics of GitLab CI blog
  data/redirects.yml
Due: apply-redirects-prod, rspec-unit

Deprecate updated blog post
  sites/uncategorized/source/blog/blog-posts/2020-12-10-basics-of-gitlab-ci-updated.html.md.erb
Due: none

Handbook: Add Contributor Success to Quality Career progress
  sites/handbook/source/handbook/engineering/career-development/index.html.md
  sites/handbook/source/handbook/engineering/career-development/matrix/engineering/quality/index.html.md.erb
Due: none

Create Blog Posts “2022-09-29-what-are-the-benefits-of-a-microservices-architecture”
  sites/uncategorized/source/blog/blog-posts/2022-09-29-what-are-the-benefits-of-a-microservices-architecture.html.md.erb
Due: none

edits
  sites/uncategorized/source/blog/blog-posts/2022-09-19-using-gitlab-pages-lets-encrypt.html.md.erb
  sites/uncategorized/source/blog/blog-posts/2022-09-29-using-gitlab-pages-lets-encrypt.html.md.erb
Due: none

Fix typo mistakes, fix links (twitter,linkedin), fix department, fix story
  data/team_members/person/t/tsukasa.k.yml
Due: rspec-unit

Update sites/handbook/source/handbook/engineering/incubation/devops-for-salesforce/index.html.md
  sites/handbook/source/handbook/engineering/incubation/devops-for-salesforce/index.html.md
Due: none

Update codeowners for new SEGs
  .gitlab/CODEOWNERS
Due: none

Add developer portal SEG
  sites/handbook/source/handbook/engineering/incubation/developer-portal/index.html.md
  sites/handbook/source/handbook/engineering/incubation/index.html.md.erb
Due: none

Added submitted content additions
  sites/uncategorized/source/blog/blog-posts/2019-10-24-kubernetes-101.html.md.erb
  sites/uncategorized/source/blog/blog-posts/2020-10-15-use-waypoint-to-deploy-with-gitlab-cicd.html.md.erb
  sites/uncategorized/source/blog/blog-posts/2020-11-30-vscode-extension-development-with-gitlab.html.md.erb
  sites/uncategorized/source/blog/blog-posts/2022-04-18-comparing-static-site-generators.html.md.erb
Due: none

liz-petoskey-ceo-shadow-program
  sites/handbook/source/handbook/ceo/shadow/index.html.md
Due: none

Update exciting things in Ops
  sites/handbook/source/handbook/product/categories/ops/index.html.md.erb
Due: none

Updated EBA support with Darci Tadich for Brian Robins.
  sites/handbook/source/handbook/eba/index.html.md
Due: none

Update 2022-09-29-using-gitlab-pages-lets-encrypt.html.md.erb
  sites/uncategorized/source/blog/blog-posts/2022-09-29-using-gitlab-pages-lets-encrypt.html.md.erb
Due: none

added cover image
  sites/uncategorized/source/blog/blog-posts/2022-09-29-using-gitlab-pages-lets-encrypt.html.md.erb
Due: none

Path conditions:
  update-gitlab-project-releases-page: any of: sites/uncategorized/source/releases/posts/*-released.html.md
  apply-redirects-prod: any of: data/redirects.yml, bin/apply-exact-match-redirects, bin/apply-regex-redirects
  content-security-policy-checker: any of: source/includes/layout/head.html.haml
  lint release-post-items: any of: data/release_posts/unreleased/*, data/categories.yml, data/stages.yml, source/images/unreleased/*
  rubocop: any of: *.rb, **/*.rb, .rubocop.yml, Dangerfile, *.rake, **/*.rake, bin/**/*, scripts/**/*, Rakefile
  check-handbook-edit-links: any of: data/monorepo.yml, helpers/custom_helpers.rb, **/edit_page.html.haml, **/footer.html.haml, **/handbook-page-toc.haml, **/check_handbook_edit_links.rb
  rspec-unit: any of: spec/**/*, **/*.{js,json,rb,yml}, .rspec
