Repository spicysoft/jp-www-gitlab-com: changes, and which GitLab CI jobs are due for each by the changed paths.
All: update-gitlab-project-releases-page, apply-redirects-prod, content-security-policy-checker, lint release-post-items, rubocop, check-handbook-edit-links, rspec-unit

Path conditions:
  update-gitlab-project-releases-page: any of: sites/uncategorized/source/releases/posts/*-released.html.md
  apply-redirects-prod: any of: data/redirects.yml, bin/apply-exact-match-redirects, bin/apply-regex-redirects
  content-security-policy-checker: any of: source/includes/layout/head.html.haml
  lint release-post-items: any of: data/release_posts/unreleased/*, data/categories.yml, data/stages.yml, source/images/unreleased/*
  rubocop: any of: *.rb, **/*.rb, .rubocop.yml, Dangerfile, *.rake, **/*.rake, bin/**/*, scripts/**/*, Rakefile
  check-handbook-edit-links: any of: data/monorepo.yml, helpers/custom_helpers.rb, **/edit_page.html.haml, **/footer.html.haml, **/handbook-page-toc.haml, **/check_handbook_edit_links.rb
  rspec-unit: any of: spec/**/*, **/*.{js,json,rb,yml}, .rspec

Updated link to virtual zoom backgrounds to the right G-Drive folder with new branding
  sites/handbook/source/handbook/tools-and-tips/zoom/index.html.md
Due: none

Add information about using documentation label to "Improving Documentation" support handbook page
  sites/handbook/source/handbook/support/workflows/improving-documentation.html.md
Due: none

Update handbook with new team member addition
  sites/handbook/source/handbook/eba/index.html.md
Due: none

Move cards on a board to the top or bottom of lists
  data/release_posts/unreleased/plan-move-cards-on-a-board-to-the-top-or-bottom-of-lists.yml
  source/images/unreleased/move_cards_on_a_board_to_the_top_or_bottom_of_list.png
Due: lint release-post-items, rspec-unit

Add assignees to a task
  data/release_posts/unreleased/plan-add-assignees-to-a-task.yml
Due: lint release-post-items, rspec-unit

Add Global Search perf improvement
  data/release_posts/unreleased/performance_improvements.yml
Due: lint release-post-items, rspec-unit

Suggesting an add to the PR risks outlined in communicating sensitive topics
  sites/handbook/source/handbook/communication/index.html.md
Due: none

Added project management bug fixes
  data/release_posts/unreleased/bugs.yml
Due: lint release-post-items, rspec-unit

Add improvement done by Application Performance group
  data/release_posts/unreleased/performance_improvements.yml
Due: lint release-post-items, rspec-unit

Adding Alex and removing Marc for laptop wipe schedule appointments in the People Group Page
  sites/handbook/source/handbook/people-group/offboarding/faq.html.md
Due: none

Update reporting to mparuszewski
  data/team_members/person/a/alexanderturinske.yml
  data/team_members/person/b/bauerdominic.yml
  data/team_members/person/m/maciejparuszewski.yml
  data/team_members/person/n/nmccorrison.yml
  data/team_members/person/s/sashi_kumar.yml
  data/team_members/person/t/thiagofigueiro.yml
  sites/handbook/source/handbook/engineering/development/sec/govern/index.html.md.erb
Due: rspec-unit

Add Global Search bug fixes
  data/release_posts/unreleased/bugs.yml
Due: lint release-post-items, rspec-unit

df-add-donovanfelton-to-team-page-Sept14
  data/team_members/person/d/dfelton.yml
  sites/uncategorized/source/images/team/donovanfelton.jpg
Due: rspec-unit

Apply 1 suggestion(s) to 1 file(s)
  data/release_posts/unreleased/plan-api-endpoint-for-deleting-attachments-from-project.yml
Due: lint release-post-items, rspec-unit

Apply 2 suggestion(s) to 1 file(s)
  data/release_posts/unreleased/plan-implement-autosaving-mechanism-on-design-notes.yml
Due: lint release-post-items, rspec-unit

Update frontend domain experts section
  sites/handbook/source/handbook/engineering/frontend/index.html.md
Due: none

Update domain expertise and expertise fields for Enrique Alcantara
  data/team_members/person/e/enrique-alcantara.yml
Due: rspec-unit

Fix situational leadership blog link markdown
  sites/handbook/source/handbook/teamops/informed-decisions/index.html.md.erb
Due: none

Move Tomas Vik to Create:Editor
  data/team_members/person/t/tomasvik.yml
Due: rspec-unit

feat(jtbd): Update secrets management JTBDs
  data/jobs_to_be_done.yml
Due: rspec-unit

小見出しを翻訳
  sites/handbook/source/handbook/values/index.html.md
Due: none

RP item: SAST analyzer consolidation
  data/release_posts/unreleased/secure-sast-analyzer-consolidation.yml
Due: lint release-post-items, rspec-unit

Update sites/handbook/source/handbook/sales/field-operations/gtm-resources/rules-of-engagement/index.html.md
  sites/handbook/source/handbook/sales/field-operations/gtm-resources/rules-of-engagement/index.html.md
Due: none

Improve the definition of a blueprint
  sites/handbook/source/handbook/engineering/architecture/workflow/index.html.md
Due: none

Update scheduling guidance in PD hiring process
  sites/uncategorized/source/job-families/engineering/product-designer/index.html.md.erb
Due: none

Update sites/handbook/source/handbook/engineering/incubation/real-time-collaboration/index.html.md
  sites/handbook/source/handbook/engineering/incubation/real-time-collaboration/index.html.md
Due: none

Sync specialty to team page - 2022-09-16
  data/team_members/person/a/arueda.yml
  data/team_members/person/e/enrique-alcantara.yml
  data/team_members/person/g/greg-myers.yml
  data/team_members/person/t/tomasvik.yml
Due: rspec-unit

Add Pam Artiaga to team page
  data/team_members/person/p/pcartiaga-gitlab.yml
  sites/uncategorized/source/images/team/partiaga.jpg
Due: rspec-unit

Akotte add abhilashkotte to team page sep16
  data/team_members/person/a/akotte.yml
  sites/uncategorized/source/images/team/akotte.jpg
Due: rspec-unit

Fix broken links
  sites/handbook/source/handbook/competencies/index.html.md
  sites/handbook/source/handbook/marketing/strategic-marketing/enterprise-it-roles/index.html.md
  sites/handbook/source/handbook/marketing/strategic-marketing/sales-resources/index.html.md
  sites/uncategorized/source/blog/blog-posts/2021-10-01-join-us-for-hacktoberfest-2021.html.md.erb
  sites/uncategorized/source/blog/blog-posts/2022-06-01-learn-python-with-pj-part-5-building-something-with-the-twitter-api.html.md.erb
  sites/uncategorized/source/blog/blog-posts/2022-06-13-gitlab-15-the-retrospective.html.md.erb
  sites/uncategorized/source/blog/blog-posts/2022-06-23-gitlab-is-the-single-source-of-truth-for-ecommerce-provider.html.md.erb
  sites/uncategorized/source/company/culture/all-remote/events/index.html.md
Due: none

Clarifies Staging downtime for Change Management
  sites/handbook/source/handbook/engineering/infrastructure/change-management/index.html.md
Due: none

Shift option to prevent users from creating groups to Instance Admin UI
  data/release_posts/unreleased/manage-shift-option-to-prevent-users-from-creating-groups-to-insta.yml
Due: lint release-post-items, rspec-unit

Updating Expense Question on Offboarding FAQ page
  sites/handbook/source/handbook/people-group/offboarding/faq.html.md
Due: none

Removed periods and hyphen
  data/release_posts/unreleased/usability_improvements.yml
Due: lint release-post-items, rspec-unit

Updated issue url
  data/release_posts/unreleased/usability_improvements.yml
Due: lint release-post-items, rspec-unit

Add minor suggestions
  sites/handbook/source/handbook/engineering/development/dev/ecosystem/integrations/index.html.md.erb
Due: none

Adding All Things Open 2022 to events page
  data/events.yml
Due: rspec-unit

Gitlabbarry pods team page add up next
  sites/handbook/source/handbook/engineering/development/enablement/data_stores/pods/index.html.md.erb
Due: none

Clean-up formatting and small tweaks to HB page
  sites/handbook/source/handbook/engineering/security/security-assurance/security-risk/storm-program/critical-systems.html.md
Due: none

chore: Fix TeamOps informed decisions link
  sites/handbook/source/handbook/teamops/informed-decisions/index.html.md.erb
Due: none
