Repository spicysoft/jp-www-gitlab-com: changes, and which GitLab CI jobs are due for each by the changed paths.
All: update-gitlab-project-releases-page, apply-redirects-prod, content-security-policy-checker, lint release-post-items, rubocop, check-handbook-edit-links, rspec-unit

update-gitlab-project-releases-page:
  cache:
    key: web_ruby-3.0-bullseye
    policy: pull
    paths:
    - vendor
    - node_modules
  before_script:
  - bundle config set path vendor
  - bundle install --quiet --jobs 4
  - yarn install
  stage: content-generation
  needs: []
  script:
  - bundle exec rake release:ee:update_project_releases_page
  ...

apply-redirects-prod:
  cache:
    key: web_ruby-3.0-bullseye
    policy: pull
    paths:
    - vendor
    - node_modules
  before_script:
  - bundle config set path vendor
  - bundle install --quiet --jobs 4
  - yarn install
  stage: build-and-deploy
  environment:
    name: production
  script:
  - export FASTLY_SRV_ID=$FASTLY_SRV_ID_PROD
  ...

content-security-policy-checker:
  image: debian:stable-slim
  stage: test
  needs: []
  script:
  ...

lint release-post-items:
  cache:
    key: web_ruby-3.0-bullseye
    policy: pull
    paths:
    - vendor
    - node_modules
  before_script:
  - bundle config set path vendor
  - bundle install --quiet --jobs 4
  - yarn install
  stage: test
  needs: []
  script:
  - bundle exec bin/validate-release-post-item

rubocop:
  cache:
    key: web_ruby-3.0-bullseye
    policy: pull
    paths:
    - vendor
    - node_modules
  before_script:
  - bundle config set path vendor
  - bundle install --quiet --jobs 4
  - yarn install
  stage: test
  needs: []
  script:
  - bundle exec rubocop

check-handbook-edit-links:
  cache:
    key: web_ruby-3.0-bullseye
    policy: pull
    paths:
    - vendor
    - node_modules
  before_script:
  - bundle config set path vendor
  - bundle install --quiet --jobs 4
  - yarn install
  stage: test
  needs:
  - handbook-build-and-review-deploy
  script:
  - scripts/check-handbook-edit-links.rb

rspec-unit:
  cache:
    key: web_ruby-3.0-bullseye
    policy: pull
    paths:
    - vendor
    - node_modules
  before_script:
  - bundle config set path vendor
  - bundle install --quiet --jobs 4
  - yarn install
  stage: test
  needs: []
  script:
  - bundle exec rspec --tag ~@feature

Updates to Channel Reseller Handbook Page
  sites/handbook/source/handbook/resellers/index.html.md
Due: none

Revert "Merge branch 'hsutor/authentication_and_authorization_215155' into 'master'"
  data/release_posts/unreleased/manage-transparent-sso-enforcement-for-group-members.yml
Due: lint release-post-items, rspec-unit

Update team meeting DRIs and new meeting intro workflow
  sites/handbook/source/handbook/product/product-processes/index.html.md.erb
Due: none

Update FY23 work completed
  source/direction/product-operations/template.html.md.erb
Due: none

Update to create link for 2023 plan
  sites/handbook/source/handbook/total-rewards/benefits/general-and-entity-benefits/inc-benefits-us/index.html.md
Due: none

Updating TAM references to CSM per title changes to ensure HB is up to date
  sites/handbook/source/handbook/customer-success/csm/segment/strategic/index.html.md
Due: none

Add CliftonStrengths results to DM README
  sites/handbook/source/handbook/ceo/chief-of-staff-team/readmes/dmurph/index.html.md
Due: none

Fix regex (~ operator) type redirects
  data/redirects.yml
Due: apply-redirects-prod, rspec-unit

Apply 1 suggestion(s) to 1 file(s)
  data/release_posts/unreleased/release-provide-release-description-from-tag-in-cicd-pipeline-vari.yml
Due: lint release-post-items, rspec-unit

Remove aws-reinvent from redirects.yml
  data/redirects.yml
Due: apply-redirects-prod, rspec-unit

Adding Robert Callam to the CFO Shadow rotation: Oct 25-27
  sites/handbook/source/handbook/finance/growth-and-development/cfo-shadow-program/index.html.md
Due: none

Support Handbook: Update Support Managers SSAT review process to correct links.
  sites/handbook/source/handbook/support/workflows/how-to-respond-to-feedback.html.md
Due: none

Add maintainers to Browserker
  data/team_members/person/a/atiwari71.yml
  data/team_members/person/c/craigmsmith.yml
  data/team_members/person/c/cswords.yml
  data/team_members/person/m/mc_rocha.yml
  data/team_members/person/p/philipcunningham.yml
Due: rspec-unit

Update Customer DPA with latest SCCs link
  sites/handbook/source/handbook/legal/data-processing-agreement/index.html.md
Due: none

Migrate Product Design to Product in team member files
  data/team_members/person/a/alexisginsberg.yml
  data/team_members/person/a/amelia-b.yml
  data/team_members/person/a/andlovu.yml
  data/team_members/person/a/andy-volpe.yml
  data/team_members/person/a/annabel.yml
  data/team_members/person/a/austinregnery.yml
  data/team_members/person/b/badnewsblair.yml
  data/team_members/person/b/beckalippert.yml
  data/team_members/person/c/camellia.yml
  data/team_members/person/c/chrismicek.yml
  data/team_members/person/c/christielenneville.yml
  data/team_members/person/d/danielmora.yml
  data/team_members/person/d/danmh.yml
  data/team_members/person/e/emilybauman.yml
  data/team_members/person/e/emilysybrant.yml
  data/team_members/person/g/gdoyle.yml
  data/team_members/person/j/jackibauer.yml
  data/team_members/person/j/jeremy-e.yml
  data/team_members/person/j/justinmandell.yml
  data/team_members/person/k/kcomoli.yml
  data/team_members/person/l/liborvanc.yml
  data/team_members/person/m/matej-l.yml
  data/team_members/person/m/mfangman.yml
  data/team_members/person/m/michaelle.yml
  data/team_members/person/m/mikenichols.yml
  data/team_members/person/m/mnearents.yml
  data/team_members/person/m/mvanremmerden.yml
  data/team_members/person/n/nickbrandt.yml
  data/team_members/person/n/nickleonard.yml
  data/team_members/person/p/pedro-m.yml
  data/team_members/person/p/philipjoyce.yml
  data/team_members/person/r/rayana.yml
  data/team_members/person/s/seggenberger.yml
  data/team_members/person/s/sunjungpark.yml
  data/team_members/person/t/taurie.yml
  data/team_members/person/v/valerie.yml
  data/team_members/person/v/vm-2020-06-01.yml
Due: rspec-unit

Remove SAML reference
  sites/handbook/source/handbook/support/workflows/internal_requests.html.md
Due: none

Add Brett Walker as GitLab backend maintainer
  data/team_members/person/b/brett-w.yml
Due: rspec-unit

Epics can have child issues from a different group
  data/release_posts/unreleased/plan-mvc-1--child-issues-from-a-different-hierarchy.yml
  source/images/unreleased/plan-cross-group-issue-linking.png
Due: lint release-post-items, rspec-unit

Show blocking epics in the roadmap
  data/release_posts/unreleased/plan-show-blocking--epics-in-the-roadmap.yml
Due: lint release-post-items, rspec-unit

Health Status Improvements
  data/release_posts/unreleased/plan-enable-users-to-filter-for-health-status-within-the-issue-lis.yml
Due: lint release-post-items, rspec-unit

RP item: 15.5 Static Analysis analyzer updates
  data/release_posts/unreleased/secure-15-5-monthly-sa-analyzer-update.yml
Due: lint release-post-items, rspec-unit

Fix Formatting Error
  sites/handbook/source/handbook/legal/employment-law/index.html.md
Due: none

Update Talent Assessment resources with Job Aids
  sites/handbook/source/handbook/people-group/talent-assessment/index.html.md
Due: none

Update handbook 'SSAT review and responding for managers' #support_escalations...
  sites/handbook/source/handbook/support/workflows/how-to-respond-to-feedback.html.md
Due: none

Add support information
  sites/handbook/source/handbook/engineering/development/sec/secure/dynamic-analysis/index.html.md.erb
Due: none

API Security port number variable release post item
  data/release_posts/unreleased/secure-change-port-for-api-scans.yml
Due: lint release-post-items, rspec-unit

Update profile details on team's Handbook page - Naman Gala
  data/team_members/person/n/ngala.yml
  sites/uncategorized/source/images/team/namanjagdishgala.jpg
Due: rspec-unit

Update Workers Compensation Reporting Instructions
  sites/handbook/source/handbook/people-policies/index.html.md.erb
Due: none

Release post entry for owner column in admin and group views for runner
  data/release_posts/unreleased/verify-admin-group-runners-owner.yml
  source/images/unreleased/admin-group-runners-owner.png
Due: lint release-post-items, rspec-unit

Release post for bulk delete a page of Runners from the Admin Area > Runners view
  data/release_posts/unreleased/verify-admin-area-runners-bulk-delete.yml
  source/images/unreleased/admin-bulk-delete-runners.png
Due: lint release-post-items, rspec-unit

Runner recurring release post 15.5
  data/release_posts/unreleased/verify-runner-recurring-15-5.yml
Due: lint release-post-items, rspec-unit

Update North Star KPI
  sites/uncategorized/source/company/kpis/index.html.md.erb
  sites/uncategorized/source/company/strategy/index.html.md
Due: none

Updates to Directs-Group based on retrospective
  sites/uncategorized/source/company/team/structure/index.html.md.erb
Due: none

Refine GitHub importer release post items for 15.5
  data/release_posts/unreleased/manage-configurable-list-of-things-to-be-imported-that-can-be-adju.yml
  data/release_posts/unreleased/manage-github-importer--migrate-mr-events.yml
  data/release_posts/unreleased/manage-github-importer--scrape-images-to-gitlab-and-update-markdow.yml
Due: lint release-post-items, rspec-unit

Add @wandering_person as a backend reviewer
  data/team_members/person/w/wandering_person.yml
Due: rspec-unit

Shift onboarding timeline internal
  source/direction/saas-platforms/dedicated/index.html.md
Due: none

Add comments and commands to content assembly script
  lib/tasks/release_post.rake
Due: rubocop

Fix broken link for high-level interview plans
  sites/handbook/source/handbook/communication/confidentiality-levels/index.html.md
Due: none

Add /handbook/it/runbooks/template
  sites/handbook/source/handbook/it/runbooks/template.html.md
Due: none

Add link to Epic for devsecops adoption
  sites/uncategorized/source/company/top-cross-functional-initiatives/index.html.md
Due: none

Path conditions:
  update-gitlab-project-releases-page: any of: sites/uncategorized/source/releases/posts/*-released.html.md
  apply-redirects-prod: any of: data/redirects.yml, bin/apply-exact-match-redirects, bin/apply-regex-redirects
  content-security-policy-checker: any of: source/includes/layout/head.html.haml
  lint release-post-items: any of: data/release_posts/unreleased/*, data/categories.yml, data/stages.yml, source/images/unreleased/*
  rubocop: any of: *.rb, **/*.rb, .rubocop.yml, Dangerfile, *.rake, **/*.rake, bin/**/*, scripts/**/*, Rakefile
  check-handbook-edit-links: any of: data/monorepo.yml, helpers/custom_helpers.rb, **/edit_page.html.haml, **/footer.html.haml, **/handbook-page-toc.haml, **/check_handbook_edit_links.rb
  rspec-unit: any of: spec/**/*, **/*.{js,json,rb,yml}, .rspec
