Repository spicysoft/jp-www-gitlab-com: changes, and which GitLab CI jobs are due for each by the changed paths.
All: update-gitlab-project-releases-page, apply-redirects-prod, content-security-policy-checker, lint release-post-items, rubocop, check-handbook-edit-links, rspec-unit

update-gitlab-project-releases-page:
  cache:
    key: web_ruby-3.0-bullseye
    policy: pull
    paths:
    - vendor
    - node_modules
  before_script:
  - bundle config set path vendor
  - bundle install --quiet --jobs 4
  - yarn install
  stage: content-generation
  needs: []
  script:
  - bundle exec rake release:ee:update_project_releases_page
  ...

apply-redirects-prod:
  cache:
    key: web_ruby-3.0-bullseye
    policy: pull
    paths:
    - vendor
    - node_modules
  before_script:
  - bundle config set path vendor
  - bundle install --quiet --jobs 4
  - yarn install
  stage: build-and-deploy
  environment:
    name: production
  script:
  - export FASTLY_SRV_ID=$FASTLY_SRV_ID_PROD
  ...

content-security-policy-checker:
  image: debian:stable-slim
  stage: test
  needs: []
  script:
  ...

lint release-post-items:
  cache:
    key: web_ruby-3.0-bullseye
    policy: pull
    paths:
    - vendor
    - node_modules
  before_script:
  - bundle config set path vendor
  - bundle install --quiet --jobs 4
  - yarn install
  stage: test
  needs: []
  script:
  - bundle exec bin/validate-release-post-item

rubocop:
  cache:
    key: web_ruby-3.0-bullseye
    policy: pull
    paths:
    - vendor
    - node_modules
  before_script:
  - bundle config set path vendor
  - bundle install --quiet --jobs 4
  - yarn install
  stage: test
  needs: []
  script:
  - bundle exec rubocop

check-handbook-edit-links:
  cache:
    key: web_ruby-3.0-bullseye
    policy: pull
    paths:
    - vendor
    - node_modules
  before_script:
  - bundle config set path vendor
  - bundle install --quiet --jobs 4
  - yarn install
  stage: test
  needs:
  - handbook-build-and-review-deploy
  script:
  - scripts/check-handbook-edit-links.rb

rspec-unit:
  cache:
    key: web_ruby-3.0-bullseye
    policy: pull
    paths:
    - vendor
    - node_modules
  before_script:
  - bundle config set path vendor
  - bundle install --quiet --jobs 4
  - yarn install
  stage: test
  needs: []
  script:
  - bundle exec rspec --tag ~@feature

Update compliance hb pages
  sites/handbook/source/handbook/security/security-assurance/dedicated-compliance/index.html.md
  sites/handbook/source/handbook/security/security-assurance/security-compliance/index.html.md
Due: none

Update EBA handbook to reflect promotion of JB Larramendy
  sites/handbook/source/handbook/eba/index.html.md
Due: none

Retitled and changed link to redirected page
  sites/handbook/source/handbook/customer-success/product-usage-data/using-product-usage-data-in-gainsight/index.html.md
Due: none

Final version for Vulnerability SLA updates (other MRs aged out)
  sites/handbook/source/handbook/security/threat-management/vulnerability-management/index.html.md
Due: none

Retitled page
  sites/handbook/source/handbook/customer-success/product-usage-data/index.html.md
Due: none

Digital Experience FY23Q4 Handbook Udpate
  sites/handbook/source/handbook/marketing/digital-experience/index.html.md
Due: none

New Google Tag Manager handbook
  sites/handbook/source/handbook/marketing/digital-experience/analytics/google-tag-manager/index.html.md
Due: none

Threat Insights: Update verification steps for clarity
  sites/handbook/source/handbook/engineering/development/sec/govern/planning/index.html.md
Due: none

Add OffSec as a growth and development example
  sites/handbook/source/handbook/total-rewards/benefits/general-and-entity-benefits/growth-and-development/index.html.md
Due: none

Update to GitLab Vision
  sites/uncategorized/source/company/vision/index.html.md
Due: none

Fix broken links on Marketing main page; additional cleanup
  sites/handbook/source/handbook/marketing/index.html.md
Due: none

Resize images on marketing handbook main page
  sites/handbook/source/handbook/marketing/index.html.md
Due: none

Adds maintainership roles to projects
  data/team_members/person/i/idawson.yml
Due: rspec-unit

Create Blog Posts “2022-11-01-openssl-3-how-to-identify-and-mitigate-this-critical-new-vulnerability”
  sites/uncategorized/source/blog/blog-posts/2022-11-01-new-openssl-30-vulnerabilities-what-you-need-to-know-to-find-and-fix-them.html.md.erb
Due: none

Removed extra space before comma
  sites/uncategorized/source/company/vision/index.html.md
Due: none

Added maintainership info
  data/team_members/person/j/julian-t.yml
Due: rspec-unit

Update Ashraf groups
  data/team_members/person/a/ashrafkhamis.yml
Due: rspec-unit

Add guidance on getting second opinion on a MR contribution
  sites/handbook/source/handbook/product/ux/product-designer/mr-reviews/index.html.md
Due: none

Delete groups
  data/team_members/person/a/ashrafkhamis.yml
Due: rspec-unit

Add new team members for 2022-10-31
  data/team_members/person/a/ameeks.yml
  data/team_members/person/c/cam_white.yml
  data/team_members/person/c/cfeick.yml
  data/team_members/person/d/drcatherinepope.yml
  data/team_members/person/d/drelupu.yml
  data/team_members/person/j/jgaughan.yml
  data/team_members/person/k/kkenney13.yml
  data/team_members/person/k/kristencutler.yml
  data/team_members/person/m/mraetz.yml
  data/team_members/person/n/nilieskou.yml
  data/team_members/person/p/pnewport.yml
  data/team_members/person/r/ralmuhtaseb.yml
  data/team_members/person/r/rliu-int.yml
  data/team_members/person/s/scusden.yml
  data/team_members/person/v/vsp258.yml
  data/team_members/person/z/zchoq.yml
Due: rspec-unit

Update stages and team members to reflect Basti as manager
  data/stages.yml
  data/team_members/person/m/michold.yml
  data/team_members/person/m/mikolajwawrzyniak.yml
  data/team_members/person/n/nbelokolodov.yml
  data/team_members/person/p/piotrskorupa.yml
Due: lint release-post-items, rspec-unit

Update master to main for GitLab Pages setup
  sites/uncategorized/source/blog/blog-posts/2016-04-07-gitlab-pages-setup.html.md
Due: none

Add blurb about account team meeting agenda
  sites/handbook/source/handbook/customer-success/pre-sales-post-sales-transition/index.html.md
Due: none

Sync specialty to team page - 2022-11-02
  data/team_members/person/a/ashrafkhamis.yml
  data/team_members/person/k/katiemacoy.yml
Due: rspec-unit

Dev Section Oct Direction updates
  source/direction/dev/template.html.md.erb
Due: none

Add Monthly Regional Readouts to the Handbook
  sites/handbook/source/handbook/marketing/integrated-marketing/index.html.md
Due: none

Update Okta security methods screenshot and instructions
  sites/handbook/source/handbook/business-technology/okta-security-methods.png
  sites/handbook/source/handbook/business-technology/okta/index.html.md
Due: none

Update Sam to be the Manager of Foundations
  .gitlab/CODEOWNERS
  .gitlab/issue_templates/product-development-retro.md
  data/stages.yml
  data/team_members/person/l/leipert.yml
  data/team_members/person/m/mark-florian.yml
  data/team_members/person/m/mike-greiling.yml
  data/team_members/person/o/olenahoralkoretska.yml
  data/team_members/person/p/paul-gascou-vaillancourt.yml
  data/team_members/person/s/sam-beckham.yml
  data/team_members/person/s/sdejonge.yml
  data/team_members/person/t/thutterer.yml
Due: lint release-post-items, rspec-unit

Allowing team members to remove Okta Verify, making grammar fixes
  sites/handbook/source/handbook/business-technology/okta/index.html.md
Due: none

Fix merge conflict
  sites/handbook/source/handbook/business-technology/okta/index.html.md
Due: none

Merge on 2022-11-02 AM EST | Update renewal instructions
  sites/handbook/source/handbook/marketing/community-relations/community-programs/opensource-program/index.html.md
Due: none

added author
  sites/uncategorized/source/blog/blog-posts/2022-11-01-new-openssl-30-vulnerabilities-what-you-need-to-know-to-find-and-fix-them.html.md.erb
Due: none

Updated data/team_members/person/n/nkhalwadekar.yml
  data/team_members/person/n/nkhalwadekar.yml
Due: rspec-unit

Correct resistent to resistant
  sites/handbook/source/handbook/business-technology/okta/index.html.md
Due: none

Add Open Positions paragraph.
  sites/handbook/source/handbook/engineering/development/enablement/data_stores/pods/index.html.md.erb
Due: none

Change Dylan Griffith reports_to: nick-nguyen
  data/team_members/person/d/dylan-g.yml
Due: rspec-unit

Add infrastructure interview page to handbook
  sites/handbook/source/handbook/hiring/interviewing/infrastructure-interview/index.html.md
Due: none

Add Arty to Acting CoS to CTO rotation
  sites/handbook/source/handbook/engineering/cto-staff/index.html.md.erb
Due: none

Suggested changes to the Leading Organisations program page
  sites/handbook/source/handbook/marketing/community-relations/leading-organizations/index.html.md
Due: none

Path conditions:
  update-gitlab-project-releases-page: any of: sites/uncategorized/source/releases/posts/*-released.html.md
  apply-redirects-prod: any of: data/redirects.yml, bin/apply-exact-match-redirects, bin/apply-regex-redirects
  content-security-policy-checker: any of: source/includes/layout/head.html.haml
  lint release-post-items: any of: data/release_posts/unreleased/*, data/categories.yml, data/stages.yml, source/images/unreleased/*
  rubocop: any of: *.rb, **/*.rb, .rubocop.yml, Dangerfile, *.rake, **/*.rake, bin/**/*, scripts/**/*, Rakefile
  check-handbook-edit-links: any of: data/monorepo.yml, helpers/custom_helpers.rb, **/edit_page.html.haml, **/footer.html.haml, **/handbook-page-toc.haml, **/check_handbook_edit_links.rb
  rspec-unit: any of: spec/**/*, **/*.{js,json,rb,yml}, .rspec
