Repository spicysoft/jp-www-gitlab-com: changes, and which GitLab CI jobs are due for each by the changed paths.
All: update-gitlab-project-releases-page, apply-redirects-prod, content-security-policy-checker, lint release-post-items, rubocop, check-handbook-edit-links, rspec-unit

Path conditions:
  update-gitlab-project-releases-page: any of: sites/uncategorized/source/releases/posts/*-released.html.md
  apply-redirects-prod: any of: data/redirects.yml, bin/apply-exact-match-redirects, bin/apply-regex-redirects
  content-security-policy-checker: any of: source/includes/layout/head.html.haml
  lint release-post-items: any of: data/release_posts/unreleased/*, data/categories.yml, data/stages.yml, source/images/unreleased/*
  rubocop: any of: *.rb, **/*.rb, .rubocop.yml, Dangerfile, *.rake, **/*.rake, bin/**/*, scripts/**/*, Rakefile
  check-handbook-edit-links: any of: data/monorepo.yml, helpers/custom_helpers.rb, **/edit_page.html.haml, **/footer.html.haml, **/handbook-page-toc.haml, **/check_handbook_edit_links.rb
  rspec-unit: any of: spec/**/*, **/*.{js,json,rb,yml}, .rspec

Updated Job responsibility to include code search
  sites/uncategorized/source/job-families/product/product-manager/index.html.md.erb
Due: none

Correct SLSA level at the end
  sites/uncategorized/source/solutions/supply-chain/index.html.haml
Due: none

Adding 2022-10-17 FOPS Release to Changelog
  sites/handbook/source/handbook/sales/field-operations/changelog/index.html.md
Due: none

Updating to latest version of commercial SCCs
  sites/handbook/source/handbook/legal/data-processing-agreement/index.html.md
Due: none

Adjust title, add CMOC for Brie
  data/team_members/person/b/briecarranza.yml
Due: rspec-unit

Integrations: Clarify milestone planning
  sites/handbook/source/handbook/engineering/development/dev/manage/integrations/index.html.md.erb
Due: none

Update FY23 Initiative to map to actual work in progress
  source/direction/product-operations/template.html.md.erb
Due: none

Update data/release_posts/unreleased/manage-introduce-rest-api-for-project-transfer-locations.yml
  data/release_posts/unreleased/manage-introduce-rest-api-for-project-transfer-locations.yml
Due: lint release-post-items, rspec-unit

Update travel policy to require approved accommodation for upgrades
  sites/handbook/source/handbook/finance/expenses/index.html.md
Due: none

Apply 1 suggestion(s) to 1 file(s)
  data/release_posts/unreleased/manage-email-the-user-when-their-twofactor-otp-attempt-is-wrong.yml
Due: lint release-post-items, rspec-unit

Update guidance how to run container locally in QE Debugging guide
  sites/handbook/source/handbook/engineering/quality/quality-engineering/debugging-qa-test-failures/index.html.md
Due: none

fix typos
  sites/handbook/source/handbook/engineering/security/security-assurance/dedicated-compliance/certifications.html.md
Due: none

Offboard team member - 2022-10-14
  data/team_members/person/k/krahimi.yml
  data/team_members/person/s/susannahreed.yml
Due: rspec-unit

Updated to include full Legal-Employment team
  sites/handbook/source/handbook/people-group/index.html.md.erb
Due: none

Must use string, not array
  data/release_posts/unreleased/manage-transparent-sso-enforcement-for-group-members.yml
Due: lint release-post-items, rspec-unit

Update to Asset section to add clarity for ISO section 5.1.1. and 15.1.1
  sites/handbook/source/handbook/engineering/security/ISMS.html.md
Due: none

Update Finance Group Conversation from 2022-11-08 to 2022-11-23
  sites/handbook/source/handbook/group-conversations/index.html.md
Due: none

Update sites/handbook/source/handbook/hiring/interviewing/index.html.md
  sites/handbook/source/handbook/hiring/interviewing/index.html.md
Due: none

Added bug fix for 2FA PIN and gitlab pw prompt
  data/release_posts/unreleased/bugs.yml
Due: lint release-post-items, rspec-unit

Mobile DevOps update for Oct. 14 2022
  sites/handbook/source/handbook/engineering/incubation/mobile-devops/index.html.md
Due: none

add PE usability improvements
  data/release_posts/unreleased/usability_improvements.yml
Due: lint release-post-items, rspec-unit

Update annual BIA requirement to Tier 1 only
  sites/handbook/source/handbook/engineering/security/security-assurance/security-risk/storm-program/business-impact-analysis.html.md
Due: none

add PE bug
  data/release_posts/unreleased/bugs.yml
Due: lint release-post-items, rspec-unit

Provide clarity on breaking changes decision
  sites/handbook/source/handbook/marketing/blog/release-posts/index.html.md
  sites/handbook/source/handbook/product/gitlab-the-product/index.html.md.erb
Due: none

Adding Canva demo and extra details to handbook
  sites/handbook/source/handbook/marketing/corporate-marketing/brand-activation/brand-standards/index.html.md
Due: none

Create SSOT for Plan features divide
  data/categories.yml
Due: lint release-post-items, rspec-unit

Add info to team page
  data/team_members/person/a/adam.jensen.gitlab.yml
  data/team_members/person/a/alejandromichell.yml
  data/team_members/person/b/briancollins.yml
  data/team_members/person/c/carlosbazan.yml
  data/team_members/person/m/mjpazoles.yml
  data/team_members/person/r/ricardoamarilla.yml
  data/team_members/person/s/smorris1.yml
  data/team_members/person/t/tiffanymcatee.gitlab.yml
  sites/uncategorized/source/images/team/tiffanymcatee.png
Due: rspec-unit

Upload New File
  source/images/15_5/15_5-cover-image.jpg
Due: none

Team page entry: Update mentoring and expertise
  data/team_members/person/c/connorgilbert.yml
Due: rspec-unit

Offboard team member - 2022-10-14
  data/team_members/person/a/aimeedavid.yml
Due: rspec-unit

Move sabrams from Package to Delivery
  data/team_members/person/s/steve-abrams.yml
Due: rspec-unit

Updating TAM to CSM per title change
  sites/handbook/source/handbook/customer-success/csm/success-plans/questions-techniques/index.html.md
Due: none

Update strategy page indentation
  sites/uncategorized/source/company/strategy/index.html.md
Due: none

Auth update for September direction
  source/direction/manage/auth/index.html.md.erb
  source/direction/manage/auth/templates/_vision.erb
Due: none

Cover image metadata updates
  sites/uncategorized/source/releases/posts/2022-10-22-gitlab-15-5-released.html.md
Due: update-gitlab-project-releases-page

Added Alex and summary
  sites/handbook/source/handbook/product/ux/stage-group-ux-strategy/sec/index.html.md
Due: none

Initial updates to Package stage handbook page
  .gitlab/CODEOWNERS
  sites/handbook/source/handbook/engineering/development/ops/package/index.html.md.erb
Due: none

Updates to What's Available / Not Available
  source/direction/saas-platforms/dedicated/index.html.md
Due: none

Release post: Operational container scanning
  data/release_posts/unreleased/secure-operational-container-scanning.yml
  source/images/unreleased/secure-operational-vulnerabilities.png
Due: lint release-post-items, rspec-unit
