Repository spicysoft/jp-www-gitlab-com: changes, and which GitLab CI jobs are due for each by the changed paths.
All: update-gitlab-project-releases-page, apply-redirects-prod, content-security-policy-checker, lint release-post-items, rubocop, check-handbook-edit-links, rspec-unit

update-gitlab-project-releases-page:
  cache:
    key: web_ruby-3.0-bullseye
    policy: pull
    paths:
    - vendor
    - node_modules
  before_script:
  - bundle config set path vendor
  - bundle install --quiet --jobs 4
  - yarn install
  stage: content-generation
  needs: []
  script:
  - bundle exec rake release:ee:update_project_releases_page
  ...

apply-redirects-prod:
  cache:
    key: web_ruby-3.0-bullseye
    policy: pull
    paths:
    - vendor
    - node_modules
  before_script:
  - bundle config set path vendor
  - bundle install --quiet --jobs 4
  - yarn install
  stage: build-and-deploy
  environment:
    name: production
  script:
  - export FASTLY_SRV_ID=$FASTLY_SRV_ID_PROD
  ...

content-security-policy-checker:
  image: debian:stable-slim
  stage: test
  needs: []
  script:
  ...

lint release-post-items:
  cache:
    key: web_ruby-3.0-bullseye
    policy: pull
    paths:
    - vendor
    - node_modules
  before_script:
  - bundle config set path vendor
  - bundle install --quiet --jobs 4
  - yarn install
  stage: test
  needs: []
  script:
  - bundle exec bin/validate-release-post-item

rubocop:
  cache:
    key: web_ruby-3.0-bullseye
    policy: pull
    paths:
    - vendor
    - node_modules
  before_script:
  - bundle config set path vendor
  - bundle install --quiet --jobs 4
  - yarn install
  stage: test
  needs: []
  script:
  - bundle exec rubocop

check-handbook-edit-links:
  cache:
    key: web_ruby-3.0-bullseye
    policy: pull
    paths:
    - vendor
    - node_modules
  before_script:
  - bundle config set path vendor
  - bundle install --quiet --jobs 4
  - yarn install
  stage: test
  needs:
  - handbook-build-and-review-deploy
  script:
  - scripts/check-handbook-edit-links.rb

rspec-unit:
  cache:
    key: web_ruby-3.0-bullseye
    policy: pull
    paths:
    - vendor
    - node_modules
  before_script:
  - bundle config set path vendor
  - bundle install --quiet --jobs 4
  - yarn install
  stage: test
  needs: []
  script:
  - bundle exec rspec --tag ~@feature

Remove Actionable Insight labels and add Usability benchmark to SUS-impacting
  data/performance_indicators/ux_department.yml
Due: rspec-unit

Added that GitLab suspended the Original Visiting Grant
  sites/handbook/source/handbook/incentives/index.html.md
Due: none

Updating UX Showcase schedule
  sites/handbook/source/includes/ux-showcase/_schedule.md
Due: none

Add table of contents to compliance direction
  source/direction/manage/compliance/index.html.md.erb
Due: none

Update Security Logging Working Group Handbook Page
  sites/uncategorized/source/company/team/structure/working-groups/logging/index.html.md
Due: none

Remove non-existant audit reports category from compliance direction page
  source/direction/manage/compliance/templates/_categories.erb
Due: none

Removing Kevin as Interim PM for the Respond Group
  data/stages.yml
Due: lint release-post-items, rspec-unit

Merge branch 'slee24-master-patch-73197' into 'master'
  sites/handbook/source/handbook/leadership/coaching/index.html.md
Due: none

Correcting RCA link
  sites/handbook/source/handbook/engineering/root-cause-analysis/index.html.md
Due: none

Okta: Add information on how to set up Biometric / Yubikey and encourage removal TOTP, hardening of Okta Verify with number challenge
  sites/handbook/source/handbook/business-technology/Okta-Add-Biometric-1.png
  sites/handbook/source/handbook/business-technology/Okta-Add-Biometric-2.png
  sites/handbook/source/handbook/business-technology/Okta-Add-SecurityKey-1.png
  sites/handbook/source/handbook/business-technology/Okta-Add-SecurityKey-2.png
  sites/handbook/source/handbook/business-technology/Okta-PC-Number-Challenge.png
  sites/handbook/source/handbook/business-technology/Okta-Phone-Number-Challenge.png
  sites/handbook/source/handbook/business-technology/okta/index.html.md
Due: none

Engineering kpi cleanup
  data/performance_indicators/engineering_function.yml
Due: rspec-unit

Format tweak to Sr Manager of Product Design
  sites/uncategorized/source/job-families/engineering/product-design-management/index.html.md
Due: none

Update current distribution org-chart positions
  data/team_members/person/a/apatterson2.yml
  data/team_members/vacancy/distribution-deploy-engineer.yml
Due: rspec-unit

Update event sponsorship description
  sites/handbook/source/handbook/marketing/community-relations/opensource-program/index.html.md
Due: none

Update historic extras blocks for parity
  data/release_posts/2017_08_22_gitlab_9_5_released.yml
  sites/uncategorized/source/includes/release.html.haml
Due: rspec-unit

Add Stan Hu to token management working group
  sites/uncategorized/source/company/team/structure/working-groups/token-management/index.html.md
Due: none

Update prod ops survey links
  sites/handbook/source/handbook/product/product-operations/index.html.md.erb
Due: none

Suggestion to post a daily summary to release post team during critical dates
  .gitlab/merge_request_templates/Release-Post.md
Due: none

Avoid Mon and Fri for Release post standups
  .gitlab/merge_request_templates/Release-Post.md
Due: none

Add Groups and Projects to People Ops handbook page
  sites/handbook/source/handbook/people-group/people-ops-tech-analytics/index.html.md.erb
Due: none

Update mobile-devops README path
  generators/direction.rb
Due: rubocop, rspec-unit

MR to fix digital link
  sites/handbook/source/handbook/customer-success/tam/segment/index.html.md
Due: none

Updating Product GC Date for September 2022
  sites/handbook/source/handbook/group-conversations/index.html.md
Due: none

Increase readability with infographic and text reformatting
  sites/handbook/source/handbook/leadership/emotional-intelligence/eq-diagram.jpg
  sites/handbook/source/handbook/leadership/emotional-intelligence/index.html.md
Due: none

Clarify sentence on what's excluded by the business travel accident insurance.
  sites/handbook/source/handbook/incentives/index.html.md
Due: none

Change page title of Adoption Scoring
  sites/handbook/source/handbook/customer-success/product-usage-data/maturity-scoring/index.html.md
Due: none

Add explanation for enable/expand filter logic
  sites/handbook/source/handbook/customer-success/tam/stage-enablement-and-expansion/index.html.md
  sites/handbook/source/handbook/customer-success/tam/success-plans/index.html.md
Due: none

Adding resident contributing organizations proposal
  sites/handbook/source/handbook/engineering/workflow/code-review/index.html.md.erb
Due: none

Add new team members for 2022-08-30
  data/team_members/person/a/augustisme.yml
  data/team_members/person/b/benjamin caller.yml
  data/team_members/person/b/bvandre.yml
  data/team_members/person/c/carorebell.yml
  data/team_members/person/c/cdeleon_gitlab.yml
  data/team_members/person/e/ehilgendorf1.yml
  data/team_members/person/h/hustewart.yml
  data/team_members/person/i/isandin.yml
  data/team_members/person/j/j.seto.yml
  data/team_members/person/j/jchivell.yml
  data/team_members/person/j/juwong.yml
  data/team_members/person/m/marcigee.yml
  data/team_members/person/p/pdumaitre.yml
  data/team_members/person/s/sbrown10.yml
  data/team_members/person/s/sdejonge.yml
  data/team_members/person/t/tianwenchen.yml
  data/team_members/person/t/tstacks.yml
Due: rspec-unit

Update plan team pages structure
  .gitlab/CODEOWNERS
  data/redirects.yml
  data/stages.yml
  data/team_members/person/k/kushal-p.yml
  sites/handbook/source/handbook/engineering/development/dev/plan/certify/index.html.md.erb
  sites/handbook/source/handbook/engineering/development/dev/plan/product-planning/index.html.md.erb
  sites/handbook/source/includes/product/_categories-names.erb
  source/direction/plan/template.html.md.erb
Due: apply-redirects-prod, lint release-post-items, rspec-unit

Sync specialty to team page - 2022-09-01
  data/team_members/person/a/apatterson2.yml
  data/team_members/person/p/phillipwells.yml
Due: rspec-unit

Handbook: Team pets addition (Pepper)
  data/pets.yml
  sites/uncategorized/source/images/team/pets/pepperjh.png
Due: rspec-unit

Add new members to the token WG
  sites/uncategorized/source/company/team/structure/working-groups/token-management/index.html.md
Due: none

fix: furhan stable counterpart title
  data/team_members/person/f/fshabir.yml
Due: rspec-unit

Adding link to Torsten Linz for Handbook
  sites/handbook/source/includes/product/_categories-names.erb
Due: none

Blog Post: Virtual Whiteboarding is a Remote Work Super Power for Technical Explanation and Collaboration
  sites/uncategorized/source/blog/blog-posts/2022-09-01-whiteboarding-remote-work-superpower.html.md.erb
  source/images/blogimages/virtualwhiteboarding/kvalifik-5Q07sS54D0Q-unsplash.jpg
  source/images/blogimages/virtualwhiteboarding/whiteboarding-setup-samsung8.jpg
Due: none

Team page: Moved user slug
  data/team_members/person/r/raimundh.yml
Due: rspec-unit

Adds Support Ops change criticality definitions
  sites/handbook/source/handbook/support/support-ops/index.html.md
Due: none

Block out time in calendar for interviews
  sites/handbook/source/handbook/engineering/infrastructure/incident-management/incident-manager-onboarding/index.html.md.erb
Due: none

fixed name
  data/team_members/person/b/benjamincaller.yml
Due: rspec-unit

Path conditions:
  update-gitlab-project-releases-page: any of: sites/uncategorized/source/releases/posts/*-released.html.md
  apply-redirects-prod: any of: data/redirects.yml, bin/apply-exact-match-redirects, bin/apply-regex-redirects
  content-security-policy-checker: any of: source/includes/layout/head.html.haml
  lint release-post-items: any of: data/release_posts/unreleased/*, data/categories.yml, data/stages.yml, source/images/unreleased/*
  rubocop: any of: *.rb, **/*.rb, .rubocop.yml, Dangerfile, *.rake, **/*.rake, bin/**/*, scripts/**/*, Rakefile
  check-handbook-edit-links: any of: data/monorepo.yml, helpers/custom_helpers.rb, **/edit_page.html.haml, **/footer.html.haml, **/handbook-page-toc.haml, **/check_handbook_edit_links.rb
  rspec-unit: any of: spec/**/*, **/*.{js,json,rb,yml}, .rspec
