Repository spicysoft/jp-www-gitlab-com: changes, and which GitLab CI jobs are due for each by the changed paths.
All: update-gitlab-project-releases-page, apply-redirects-prod, content-security-policy-checker, lint release-post-items, rubocop, check-handbook-edit-links, rspec-unit

Path conditions:
  update-gitlab-project-releases-page: any of: sites/uncategorized/source/releases/posts/*-released.html.md
  apply-redirects-prod: any of: data/redirects.yml, bin/apply-exact-match-redirects, bin/apply-regex-redirects
  content-security-policy-checker: any of: source/includes/layout/head.html.haml
  lint release-post-items: any of: data/release_posts/unreleased/*, data/categories.yml, data/stages.yml, source/images/unreleased/*
  rubocop: any of: *.rb, **/*.rb, .rubocop.yml, Dangerfile, *.rake, **/*.rake, bin/**/*, scripts/**/*, Rakefile
  check-handbook-edit-links: any of: data/monorepo.yml, helpers/custom_helpers.rb, **/edit_page.html.haml, **/footer.html.haml, **/handbook-page-toc.haml, **/check_handbook_edit_links.rb
  rspec-unit: any of: spec/**/*, **/*.{js,json,rb,yml}, .rspec

Add GitLab's first ML line to intro
  sites/uncategorized/source/releases/posts/2022-09-22-gitlab-15-4-released.html.md
Due: update-gitlab-project-releases-page

Update 15.5 Shadow and 15.6 Manager
  data/release_post_managers.yml
Due: rspec-unit

Sales Enablement Session Q3FY23 2022-09-29| Collaborating with Community Programs
  sites/handbook/source/handbook/sales/training/sales-enablement-sessions/enablement/collaborating-community-programs/index.html.md
Due: none

Fix table in Geo process page
  sites/handbook/source/handbook/engineering/development/enablement/systems/geo/index.html.md.erb
Due: none

Internal links for core terms
  sites/uncategorized/source/blog/blog-posts/2019-04-30-speed-secure-software-delivery-devsecops.html.md.erb
  sites/uncategorized/source/blog/blog-posts/2019-06-20-announcing-gitlab-devsecops.html.md
  sites/uncategorized/source/blog/blog-posts/2020-06-23-efficient-devsecops-nine-tips-shift-left.html.md.erb
  sites/uncategorized/source/blog/blog-posts/2020-07-01-achieve-devsecops-collaboration.html.md.erb
  sites/uncategorized/source/blog/blog-posts/2020-07-08-devsecops-security-automation.html.md.erb
  sites/uncategorized/source/blog/blog-posts/2020-07-15-security-culture-devsecops.html.md.erb
  sites/uncategorized/source/blog/blog-posts/2020-07-20-devsecops-security-standardization.html.md.erb
  sites/uncategorized/source/blog/blog-posts/2021-06-01-gitlab-is-setting-standard-for-devsecops.html.md.erb
  sites/uncategorized/source/blog/blog-posts/2021-06-22-gitlab-14-modern-devops.html.md.erb
  sites/uncategorized/source/blog/blog-posts/2021-07-20-are-you-ready-for-the-newest-era-of-devsecops.html.md.erb
  sites/uncategorized/source/blog/blog-posts/2021-08-18-what-the-solarwinds-attack-can-teach-us-about-devsecops.html.md.erb
  sites/uncategorized/source/blog/blog-posts/2021-08-20-how-grammatech-and-gitlab-enables-better-devsecops.html.md.erb
  sites/uncategorized/source/blog/blog-posts/2021-12-08-devsecops-faq-get-up-to-speed-on-this-hot-devops-area.html.md.erb
  sites/uncategorized/source/blog/blog-posts/2022-02-09-gitlabs-newest-continuous-compliance-features-bolster-software.html.md.erb
  sites/uncategorized/source/blog/blog-posts/2022-05-09-one-devops-platform-can-help-you-achieve-devsecops.html.md.erb
Due: none

Blog optimisations
  sites/uncategorized/source/blog/blog-posts/2018-08-17-gitlab-markdown-tutorial.html.md.erb
  sites/uncategorized/source/blog/blog-posts/2019-08-20-agile-pairing-sessions.html.md.erb
  sites/uncategorized/source/blog/blog-posts/2020-04-17-dotfiles-document-and-automate-your-macbook-setup.html.md.erb
  sites/uncategorized/source/blog/blog-posts/2021-02-04-remote-pair-programming-tips.html.md.erb
  sites/uncategorized/source/blog/blog-posts/2022-03-31-kontra-and-gitlab-integrate-vulnerability-education-into-the-devops-workflow.html.md.erb
  sites/uncategorized/source/blog/blog-posts/2022-05-02-amazon-linux-2-support-and-distro-specific-packages.html.md.erb
Due: none

Update regular session schedule for Ginkgo group
  sites/handbook/source/handbook/support/support-global-groups/groups/ginkgo/index.html.md
Due: none

Updating e-group scheduling page with FY23Q3 changes
  sites/handbook/source/handbook/eba/e-group-scheduling/index.html.md
Due: none

Remove repository health week and update contribution process
  sites/handbook/source/handbook/marketing/digital-experience/index.html.md
Due: none

Updated trust-and-safety slack group name
  sites/handbook/source/handbook/support/workflows/managing_spam.html.md
Due: none

Rename engineering-week-in-review to engineering-fyi
  sites/handbook/source/handbook/engineering/index.html.md.erb
Due: none

Development Department vision update
  sites/handbook/source/handbook/engineering/development/index.html.md.erb
Due: none

Editing the header levels for change levels
  sites/handbook/source/handbook/support/support-ops/index.html.md
Due: none

removed Nadia and moved Camellia to new pair
  sites/handbook/source/handbook/product/ux/how-we-work/design-pair-rotation/index.html.md
Due: none

Add change criticality workflows for support-ops
  sites/handbook/source/handbook/support/support-ops/workflows/change_criticalities.html.md
Due: none

Edits to GitLab introduces new machine types for GitLab SaaS Runners blog post
  sites/uncategorized/source/blog/blog-posts/2022-09-22-new-machine-types-for-gitlab-saas-runners.html.md.erb
Due: none

Fix link to oncall spreadsheet + grammar
  sites/handbook/source/handbook/engineering/development/processes/Infra-Dev-Escalation/process.html.md.erb
Due: none

Add information about AB testing to Navigation handbook page
  sites/handbook/source/handbook/marketing/digital-experience/navigation-repository/index.html.md
Due: none

Update Xactly CEA provisioner and technical owner
  data/tech_stack.yml
Due: rspec-unit

[L&R] Move expired subscription purchase bug workaround to end of list
  sites/handbook/source/handbook/support/license-and-renewals/workflows/troubleshoot_purchases_on_gitlab.html.md
Due: none

Update job families file
  data/people_group/job_families.yml
Due: rspec-unit

Redirected the page to a different handbook page which houses all of our schedules
  sites/handbook/source/handbook/business-technology/team-member-enablement/gitlab-laptop-offboarding/index.html.md
Due: none

Remove incorrect backtick in release post
  data/release_posts/15_4/create_json_tables_in_markdown.yml
Due: rspec-unit

Add Brendan's "What makes a great tech talk" to Speaking Resources handbook
  sites/handbook/source/handbook/marketing/corporate-marketing/speaking-resources/index.html.md
Due: none

Correct instances of engineering manager in relation to ux
  sites/handbook/source/handbook/engineering/development/index.html.md.erb
  sites/handbook/source/handbook/engineering/management/index.html.md
  sites/handbook/source/handbook/product-development-flow/feature-flag-lifecycle/index.html.md
  sites/handbook/source/handbook/product-development-flow/index.html.md
Due: none

Tableau tips and tricks
  sites/handbook/source/handbook/business-technology/data-team/platform/tableau/index.html.md
Due: none

Update past / future SQS cohorts.
  sites/handbook/source/handbook/sales/onboarding/index.html.md
Due: none

Simplify sentence
  sites/handbook/source/handbook/engineering/development/dev/ecosystem/integrations/index.html.md.erb
Due: none

Release Post- Add new filters to personal access token API
  data/release_posts/unreleased/manage-add-new-filters-to-private-access-token-api.yml
Due: lint release-post-items, rspec-unit

Guidance to add ignore label to pipeline failure issues
  sites/handbook/source/handbook/engineering/quality/quality-engineering/debugging-qa-test-failures/index.html.md
Due: none

Add DRI for solution field syncs
  sites/handbook/source/handbook/product/product-processes/index.html.md.erb
Due: none

Update performance numbers for medium runner type
  sites/uncategorized/source/blog/blog-posts/2022-09-22-new-machine-types-for-gitlab-saas-runners.html.md.erb
  source/images/blogimages/new-machine-types-gitlab-saas-linux/linux-kernel-build-runner-saas-benchmark.png
  source/images/blogimages/new-machine-types-gitlab-saas-linux/linux-kernel-build-runner-saas-benchmark_2022-09-22.png
Due: none

Addition of Senior Analyst, Online Sales & Self Service Product GTM Role
  sites/uncategorized/source/job-families/sales/online-sales-operations/index.html.md
Due: none

Add content and links to product monetization sub page
  sites/handbook/source/handbook/product/product-monetization/index.html.md.erb
Due: none

Adjusted actionable insights data tracking
  sites/handbook/source/handbook/product/ux/ux-research-training/research-insights/index.html.md
Due: none

Updates escalation to STAR channel for managers
  sites/handbook/source/handbook/support/managers/manager-responsibilities.html.md
Due: none

Update bitergia information
  sites/handbook/source/handbook/marketing/community-relations/code-contributor-program/index.html.md.erb
Due: none

dorrino as 15.7 release post manager
  data/release_post_managers.yml
Due: rspec-unit

Corrects category name for gifts and flowers
  sites/handbook/source/handbook/people-group/celebrations/index.html.md
Due: none

Update personal team page profile
  data/team_members/person/k/kasia_misirli.yml
  sites/uncategorized/source/images/team/KasiaMisirli.jpg
Due: rspec-unit
