Repository spicysoft/jp-www-gitlab-com: changes, and which GitLab CI jobs are due for each by the changed paths.
All: update-gitlab-project-releases-page, apply-redirects-prod, content-security-policy-checker, lint release-post-items, rubocop, check-handbook-edit-links, rspec-unit

Path conditions:
  update-gitlab-project-releases-page: any of: sites/uncategorized/source/releases/posts/*-released.html.md
  apply-redirects-prod: any of: data/redirects.yml, bin/apply-exact-match-redirects, bin/apply-regex-redirects
  content-security-policy-checker: any of: source/includes/layout/head.html.haml
  lint release-post-items: any of: data/release_posts/unreleased/*, data/categories.yml, data/stages.yml, source/images/unreleased/*
  rubocop: any of: *.rb, **/*.rb, .rubocop.yml, Dangerfile, *.rake, **/*.rake, bin/**/*, scripts/**/*, Rakefile
  check-handbook-edit-links: any of: data/monorepo.yml, helpers/custom_helpers.rb, **/edit_page.html.haml, **/footer.html.haml, **/handbook-page-toc.haml, **/check_handbook_edit_links.rb
  rspec-unit: any of: spec/**/*, **/*.{js,json,rb,yml}, .rspec

Apply 2 suggestion(s) to 1 file(s)
  sites/uncategorized/source/releases/posts/2022-08-22-gitlab-15-3-released.html.md
Due: update-gitlab-project-releases-page

Apply 1 suggestion(s) to 1 file(s)
  sites/uncategorized/source/releases/posts/2022-08-22-gitlab-15-3-released.html.md
Due: update-gitlab-project-releases-page

Add cover image for release 15.3
  source/images/15_3/15_3-coverage-image.jpg
Due: none

Init release post for 15.3
  data/release_posts/15_3/mvp.yml
  sites/uncategorized/source/releases/posts/2022-08-22-gitlab-15-3-released.html.md
  source/images/15_3/.gitkeep
Due: update-gitlab-project-releases-page, rspec-unit

Apply 1 suggestion(s) to 1 file(s)
  data/release_posts/15_3/plan-create-child-tasks-within-issues.yml
Due: rspec-unit

Removed gitkeep and updated img name
  sites/uncategorized/source/releases/posts/2022-08-22-gitlab-15-3-released.html.md
  source/images/15_3/.gitkeep
  source/images/15_3/15_3-cover-image.jpg
Due: update-gitlab-project-releases-page

Add the removals index
  data/release_posts/15_3/removals-index-15-3.yml
Due: rspec-unit

Update the handbook to reflect the ending of the Working Group for MR Report Widgets
  sites/uncategorized/source/company/team/structure/working-groups/index.html.md
  sites/uncategorized/source/company/team/structure/working-groups/merge-request-report-widgets/MR_Widgets_After.png
  sites/uncategorized/source/company/team/structure/working-groups/merge-request-report-widgets/MR_Widgets_Before.png
  sites/uncategorized/source/company/team/structure/working-groups/merge-request-report-widgets/index.html.md
Due: none

Replacing People Ops/People Operations Specialist with People Connect
  sites/handbook/source/handbook/communication/index.html.md
  sites/handbook/source/handbook/eba/index.html.md
  sites/handbook/source/handbook/finance/index.html.md
  sites/handbook/source/handbook/handbook-usage/index.html.md
  sites/handbook/source/handbook/hiring/interviewing/index.html.md
  sites/handbook/source/handbook/hiring/talent-acquisition-framework/internal-hiring-process/index.html.md
  sites/handbook/source/handbook/legal/entity-specific-employment-policies/index.html.md
  sites/handbook/source/handbook/marketing/index.html.md
  sites/handbook/source/handbook/paid-time-off/index.html.md
  sites/handbook/source/handbook/people-group/contracts-probation-periods/index.html.md.erb
  sites/handbook/source/handbook/people-group/employment-solutions/index.html.md.erb
  sites/handbook/source/handbook/people-group/engagement/index.html.md
  sites/handbook/source/handbook/people-group/offboarding/index.html.md
  sites/handbook/source/handbook/people-group/visas/index.html.md
  sites/handbook/source/handbook/people-policies/inc-usa/index.html.md.erb
  sites/handbook/source/handbook/tools-and-tips/index.html.md
  sites/handbook/source/handbook/total-rewards/benefits/general-and-entity-benefits/growth-and-development/index.html.md
  sites/uncategorized/source/company/team/structure/index.html.md.erb
  sites/uncategorized/source/job-families/people-ops/candidate-experience/index.html.md
  sites/uncategorized/source/job-families/people-ops/executive-business-administrator/index.html.md
Due: none

Updates to L&D main handbook page
  sites/handbook/source/handbook/people-group/learning-and-development/index.html.md
Due: none

Update format and links on CD page
  sites/handbook/source/handbook/people-group/learning-and-development/career-development/index.html.md
Due: none

typo
  data/learn/learn.yml
Due: rspec-unit

Insert interactive image for 70-20-10 rule of development
  sites/handbook/source/handbook/people-group/learning-and-development/career-development/index.html.md
Due: none

Update US benefit page to clarify WTW can help with claim escalations
  sites/handbook/source/handbook/total-rewards/benefits/general-and-entity-benefits/inc-benefits-us/index.html.md
Due: none

Fix to Family and Friends Day
  .gitlab/merge_request_templates/Release-Post.md
  sites/handbook/source/handbook/customer-success/professional-services-engineering/professional-services-operations/index.html.md
  sites/handbook/source/handbook/customer-success/professional-services-engineering/professional-services-operations/mavenlink-processes/index.html.md
  sites/handbook/source/handbook/engineering/development/fulfillment/utilization/index.html.md.erb
  sites/handbook/source/handbook/engineering/security/security-engineering-and-research/application-security/runbooks/handling-s1p1.html.md
  sites/handbook/source/handbook/hiring/prelude/calendar/index.html.md
  sites/handbook/source/handbook/organizational-change-management/index.html.md
  sites/handbook/source/handbook/people-group/readmes/cgudgenov/index.html.md
  sites/handbook/source/handbook/sales/field-communications/field-flash-newsletter/edition-2020-05-05/index.html.md
  sites/handbook/source/handbook/support/support-time-off.html.md
  sites/handbook/source/handbook/support/workflows/federal_tickets.html.md
  sites/handbook/source/handbook/total-rewards/benefits/benefits-survey/index.html.md
  sites/handbook/source/handbook/total-rewards/benefits/general-and-entity-benefits/index.html.md
  sites/uncategorized/source/company/family-and-friends-day/index.html.md
  sites/uncategorized/source/includes/reasons_to_work_for_gitlab.haml
Due: none

Updating backend manager for Pipeline Execution.
  data/stages.yml
Due: lint release-post-items, rspec-unit

Add Community Interest workflow to handbook
  sites/handbook/source/handbook/marketing/community-relations/developer-evangelism/community-response/index.html.md
  sites/handbook/source/handbook/marketing/community-relations/index.html.md.erb
Due: none

Review People Connect Tasks re: Compensation
  sites/handbook/source/handbook/total-rewards/compensation/index.html.md.erb
Due: none

Update Highspot Handbook Page
  sites/handbook/source/handbook/sales/field-communications/gitlab-highspot/index.html.md
Due: none

Add links to GitLab values mentioned on spending page
  sites/handbook/source/handbook/spending-company-money/index.html.md
Due: none

Troubleshooting a broken table.
  sites/handbook/source/handbook/engineering/development/ops/monitor/respond/index.html.md.erb
Due: none

Update upcoming sessions
  sites/handbook/source/handbook/people-group/learning-and-development/learning-initiatives/crucial-conversations/index.html.md
Due: none

Update JF
  data/team_members/person/j/jackiefraser.yml
Due: rspec-unit

Corrected miscellaneous spelling errors on blog post
  sites/uncategorized/source/blog/blog-posts/2022-07-25-5-problems-you-can-help-us-solve-right-now.html.md.erb
Due: none

Adding new Gartner report to Analyst Landscape
  source/direction/monitor/debugging_and_health/continuous_verification/index.html.md.erb
Due: none

Add self as tech writer to assigned groups
  data/stages.yml
Due: lint release-post-items, rspec-unit

Update People Operations to People Connect job family
  data/people_group/job_families.yml
  data/team_members/person/a/alex-v.yml
  data/team_members/person/a/ashleyjameson.yml
  data/team_members/person/a/ashleyjones.yml
  data/team_members/person/e/emily-m.yml
  data/team_members/person/m/mpatel8.yml
  data/team_members/person/s/shensiek.yml
  sites/handbook/source/handbook/hiring/job-families/index.html.md
  sites/handbook/source/handbook/people-group/contracts-probation-periods/index.html.md.erb
  sites/handbook/source/handbook/people-group/general-onboarding/index.html.md
  sites/handbook/source/handbook/people-group/givelab-volunteer-initiatives/index.html.md
  sites/handbook/source/handbook/people-group/index.html.md.erb
  sites/handbook/source/handbook/people-group/promotions-transfers/index.html.md
  sites/uncategorized/source/company/team/structure/index.html.md.erb
  sites/uncategorized/source/job-families/people-ops/candidate-experience/index.html.md
  sites/uncategorized/source/job-families/people-ops/employment-solutions/index.html.md
  sites/uncategorized/source/job-families/people-ops/people-connect/index.html.md
Due: rspec-unit

Fix Application Performance team list on Enablement page
  sites/handbook/source/handbook/engineering/development/enablement/index.html.md.erb
Due: none

Update text in MECC/all-remote pages to clarify that MECC can apply to all workplace environments
  sites/handbook/source/handbook/mecc/index.html.md.erb
  sites/uncategorized/source/company/culture/all-remote/phases-of-remote-adaptation/index.html.md.erb
Due: none

Fix typo on MECC - Many Decisions Pages
  sites/handbook/source/handbook/mecc/many-decisions/index.html.md.erb
Due: none

Offboard team member - 2022-08-20
  data/team_members/person/j/jonjim.yml
  sites/uncategorized/source/images/team/jonjimenez1.jpg
Due: rspec-unit

Clarify Cloud Licensing vs Operational Metrics
  sites/handbook/source/handbook/customer-success/product-usage-data/using-product-usage-data-in-gainsight/index.html.md
Due: none

Add MLOps job specialty
  sites/uncategorized/source/job-families/product/product-manager/index.html.md.erb
Due: none

Update Handbook with VHI enrollment link
  sites/handbook/source/handbook/total-rewards/benefits/general-and-entity-benefits/gitlab-ireland-ltd/index.html.md
Due: none

Update yml files, Gitaly is no longer in Create
  data/team_members/person/j/justintobler.yml
  data/team_members/person/q/quang-minh-nguyen.yml
  data/team_members/person/w/will-chandler.yml
Due: rspec-unit

Translate: 承認待ちをなくせ,できるだけ少ないユーザーに影響を与えることから始める,１回転の時間を短く
  sites/handbook/source/handbook/values/index.html.md
Due: none

Split lines: minimal-viable-change-mvc
  sites/handbook/source/handbook/values/index.html.md
Due: none

Translate: Values, 最小限の改善 ミニマム・バイアブル・チェンジ (MVC)
  sites/handbook/source/handbook/values/index.html.md
Due: none

イテレーション・コンピテンシー
  sites/handbook/source/handbook/values/index.html.md
Due: none
