Repository spicysoft/jp-www-gitlab-com: changes, and which GitLab CI jobs are due for each by the changed paths.
All: update-gitlab-project-releases-page, apply-redirects-prod, content-security-policy-checker, lint release-post-items, rubocop, check-handbook-edit-links, rspec-unit

Path conditions:
  update-gitlab-project-releases-page: any of: sites/uncategorized/source/releases/posts/*-released.html.md
  apply-redirects-prod: any of: data/redirects.yml, bin/apply-exact-match-redirects, bin/apply-regex-redirects
  content-security-policy-checker: any of: source/includes/layout/head.html.haml
  lint release-post-items: any of: data/release_posts/unreleased/*, data/categories.yml, data/stages.yml, source/images/unreleased/*
  rubocop: any of: *.rb, **/*.rb, .rubocop.yml, Dangerfile, *.rake, **/*.rake, bin/**/*, scripts/**/*, Rakefile
  check-handbook-edit-links: any of: data/monorepo.yml, helpers/custom_helpers.rb, **/edit_page.html.haml, **/footer.html.haml, **/handbook-page-toc.haml, **/check_handbook_edit_links.rb
  rspec-unit: any of: spec/**/*, **/*.{js,json,rb,yml}, .rspec

Document emotional intelligence speaker series on EQ handbook page
  sites/handbook/source/handbook/leadership/emotional-intelligence/index.html.md
Due: none

Enable referring the newsletter
  sites/uncategorized/source/community/contribute/index.html.haml
Due: none

Add some generic Hackathon guidelines
  sites/uncategorized/source/community/hackathon/index.html.haml
Due: none

roxsross-heroes-page
  data/heroes.yml
  source/images/heroes/roxsross.png
Due: rspec-unit

Add info to the team page
  data/team_members/person/a/alexkarsten.yml
  sites/uncategorized/source/images/team/Alex_Karsten_Profile.jpeg
Due: rspec-unit

Embed Okta strategy in TPRM process
  sites/handbook/source/handbook/engineering/security/security-assurance/security-risk/third-party-risk-management.html.md
Due: none

Add all job framework level to marketing operations job family. Depreciate this page after: https://about.gitlab.com/job-families/marketing/director-marketing-operations/
  sites/uncategorized/source/job-families/marketing/marketing-operations-manager/index.html.md
Due: none

Adding Bryce Weatherford to the "Meet The Team" Section. marketing-operations
  sites/handbook/source/handbook/marketing/marketing-operations/index.html.md
Due: none

update csm - manager challenge reference
  sites/handbook/source/handbook/customer-success/csm/csm-development/index.html.md
Due: none

Fix broken links
  sites/uncategorized/source/blog/blog-posts/2022-09-27-a-benchmarking-framework-for-sast.html.md.erb
Due: none

Add missing Dependency Management maturity dates
  data/categories.yml
Due: lint release-post-items, rspec-unit

September Demo for Incident Management
  source/direction/monitor/debugging_and_health/incident_management/index.html.md
Due: none

Remote Dev direction update part 2
  source/direction/create/editor/remote_development/index.html.md
  source/images/direction/dev/create/editor-remote-dev-diagram.png
Due: none

Update Threat Insights Support counterpart to Gerardo
  data/stages.yml
Due: lint release-post-items, rspec-unit

Remove Greg M from Support Stable Counteparts
  data/stages.yml
Due: lint release-post-items, rspec-unit

Add information around "Customers Using Secure" report into the Gainsight Dashboards page
  sites/handbook/source/handbook/customer-success/csm/gainsight/dashboards/index.html.md
Due: none

Translated バリュー>見つけやすさ
  sites/handbook/source/handbook/values/index.html.md
Due: none

Add maintainer to gitlab cov fuzz
  data/team_members/person/a/atiwari71.yml
Due: rspec-unit

Update Security Awards pages from 3094254171 job
  sites/handbook/source/handbook/engineering/security/awards/leaderboard-fy23.html.md
Due: none

Update herbermadrigal.yml
  data/team_members/person/h/herbermadrigal.yml
Due: rspec-unit

Update davidnelsongl.yml
  data/team_members/person/d/davidnelsongl.yml
Due: rspec-unit

Set 1password minimum version requirement
  sites/handbook/source/handbook/security/index.html.md.erb
Due: none

Clarify whether to ping the SEOC
  sites/handbook/source/handbook/engineering/security/security-engineering-and-research/application-security/runbooks/triage-rotation.html.md
Due: none

Update .gitlab/CODEOWNERS
  .gitlab/CODEOWNERS
Due: none

Make CVE process clearer / more specific
  sites/handbook/source/handbook/engineering/security/security-engineering-and-research/application-security/runbooks/verifying-security-fixes.html.md
Due: none

Update sites/uncategorized/source/company/culture/inclusion/index.html.md.erb
  sites/uncategorized/source/company/culture/inclusion/index.html.md.erb
Due: none

Update tianwenchen.yml with missing departments
  data/team_members/person/t/tianwenchen.yml
Due: rspec-unit

Add Kubernetes Observability workshop to Dev Envagelism projects handbook and GitLab Learn
  data/learn/learn.yml
  sites/handbook/source/handbook/marketing/community-relations/developer-evangelism/projects/index.html.md
Due: rspec-unit

Removing CH from EBA handbook page
  sites/handbook/source/handbook/eba/index.html.md
Due: none

updates day we meet
  sites/handbook/source/handbook/marketing/field-marketing/index.html.md
Due: none

Add service ready proofing link
  sites/uncategorized/source/blog/blog-posts/2022-09-21-amazon-linux-2-service-ready-partner.html.md.erb
Due: none

Only SM license can be applied on multiple instances
  sites/uncategorized/source/pricing/licensing-faq/index.html.md
Due: none

Mobile DevOps Code Signing Blog Part 2
  sites/uncategorized/source/blog/blog-posts/2022-09-28-mobile-devops-with-gitlab-part-2.html.md.erb
  source/images/blogimages/2022-09-19-mobile-devops-with-gitlab-part-2-code-signing-for-android-with-gitlab/generate-keystore.png
  source/images/blogimages/2022-09-19-mobile-devops-with-gitlab-part-2-code-signing-for-android-with-gitlab/list-ci-variables.png
  source/images/blogimages/2022-09-19-mobile-devops-with-gitlab-part-2-code-signing-for-android-with-gitlab/list-secure-files.png
  source/images/blogimages/2022-09-19-mobile-devops-with-gitlab-part-2-code-signing-for-android-with-gitlab/teddy-gr--adWwTRAm1g-unsplash.jpg
  source/images/blogimages/2022-09-19-mobile-devops-with-gitlab-part-2-code-signing-for-android-with-gitlab/upload-secure-file.png
Due: none

moving 2FA down the page as it is just an example of the account verification workflow
  sites/handbook/source/handbook/support/workflows/account_verification.html.md
Due: none

Updating Job Family for Stock Admin
  sites/uncategorized/source/job-families/finance/stock-administrator/index.html.md
Due: none

Remove Greg M from Support Liaisons
  sites/handbook/source/handbook/support/support-liaisons.html.md
Due: none

Updating number of team members per team page
  sites/handbook/source/handbook/people-group/employment-branding/content-library/index.html.md
Due: none

Update forest to include guidance on manager support for low staffed SGGs
  sites/handbook/source/handbook/support/support-global-groups/groups/forest/index.html.md
Due: none

Weekly update of video
  sites/handbook/source/handbook/engineering/incubation/ai-assist/index.html.md
Due: none

Add Elevate back to events page
  data/events.yml
Due: rspec-unit
