Repository spicysoft/jp-www-gitlab-com: changes, and which GitLab CI jobs are due for each by the changed paths.
All: update-gitlab-project-releases-page, apply-redirects-prod, content-security-policy-checker, lint release-post-items, rubocop, check-handbook-edit-links, rspec-unit

update-gitlab-project-releases-page:
  cache:
    key: web_ruby-3.0-bullseye
    policy: pull
    paths:
    - vendor
    - node_modules
  before_script:
  - bundle config set path vendor
  - bundle install --quiet --jobs 4
  - yarn install
  stage: content-generation
  needs: []
  script:
  - bundle exec rake release:ee:update_project_releases_page
  ...

apply-redirects-prod:
  cache:
    key: web_ruby-3.0-bullseye
    policy: pull
    paths:
    - vendor
    - node_modules
  before_script:
  - bundle config set path vendor
  - bundle install --quiet --jobs 4
  - yarn install
  stage: build-and-deploy
  environment:
    name: production
  script:
  - export FASTLY_SRV_ID=$FASTLY_SRV_ID_PROD
  ...

content-security-policy-checker:
  image: debian:stable-slim
  stage: test
  needs: []
  script:
  ...

lint release-post-items:
  cache:
    key: web_ruby-3.0-bullseye
    policy: pull
    paths:
    - vendor
    - node_modules
  before_script:
  - bundle config set path vendor
  - bundle install --quiet --jobs 4
  - yarn install
  stage: test
  needs: []
  script:
  - bundle exec bin/validate-release-post-item

rubocop:
  cache:
    key: web_ruby-3.0-bullseye
    policy: pull
    paths:
    - vendor
    - node_modules
  before_script:
  - bundle config set path vendor
  - bundle install --quiet --jobs 4
  - yarn install
  stage: test
  needs: []
  script:
  - bundle exec rubocop

check-handbook-edit-links:
  cache:
    key: web_ruby-3.0-bullseye
    policy: pull
    paths:
    - vendor
    - node_modules
  before_script:
  - bundle config set path vendor
  - bundle install --quiet --jobs 4
  - yarn install
  stage: test
  needs:
  - handbook-build-and-review-deploy
  script:
  - scripts/check-handbook-edit-links.rb

rspec-unit:
  cache:
    key: web_ruby-3.0-bullseye
    policy: pull
    paths:
    - vendor
    - node_modules
  before_script:
  - bundle config set path vendor
  - bundle install --quiet --jobs 4
  - yarn install
  stage: test
  needs: []
  script:
  - bundle exec rspec --tag ~@feature

Adding guidance for dbt upgrades
  sites/handbook/source/handbook/business-technology/data-team/platform/dbt-guide/index.html.md
Due: none

Renamed specialty and replaced Memory
  sites/uncategorized/source/job-families/product/product-manager/index.html.md.erb
Due: none

Added faq about location slack channels
  sites/handbook/source/handbook/people-group/general-onboarding/tanewki-tips/index.html.md
Due: none

Adding code owners to employment brand & hiring
  .gitlab/CODEOWNERS
Due: none

トップページが変な表示になるので テストでもとに戻してみる
  sites/uncategorized/config.rb
Due: rubocop, rspec-unit

Fix for displaying competitors names correctly
  sites/uncategorized/source/competition/index.html.haml
Due: none

DMF Added Approval Matrix and Timeline
  sites/handbook/source/handbook/customer-success/professional-services-engineering/professional-services-operations/mavenlink-processes/index.html.md
Due: none

Ok?
  sites/uncategorized/source/index.html.haml
Due: none

Updates to GitLab For Open Source Program Agreement
  sites/handbook/source/handbook/legal/opensource-agreement/index.html.md
Due: none

Check ENV and @eanbled
  extensions/partial_build_uncategorized.rb
Due: rubocop, rspec-unit

Update generational understanding TMRG Page for team leads
  .gitlab/CODEOWNERS
  sites/uncategorized/source/company/culture/inclusion/tmrg-gitlab-generational-understanding/index.html.md
Due: none

August Project Management Direction Updates
  source/direction/plan/project_management/_last_updated.erb
  source/direction/plan/project_management/planning_analytics/_last_updated.html.md.erb
  source/direction/plan/project_management/team_planning/_current_focus.html.md.erb
  source/direction/plan/project_management/team_planning/_last_updated.html.md.erb
  source/direction/plan/project_management/team_planning/_recent_accomplishments.html.md.erb
Due: none

Update SDR Lead Routing Levels
  sites/handbook/source/handbook/marketing/revenue-marketing/sdr/index.html.md
Due: none

Fix git add --all!
  .gitlab-ci.yml
  extensions/partial_build_uncategorized.rb
Due: rubocop, rspec-unit

Merge branch 'tschuller-master-patch-69049' into 'master'
  sites/handbook/source/handbook/sales/field-operations/sales-systems/index.html.md
Due: none

Resolve "SFDC Tech Stack Page"
  sites/handbook/source/handbook/sales/field-operations/sales-systems/tech-stack-guide-sfdc/index.html.md.erb
Due: none

Fix git add --all!
  extensions/partial_build_uncategorized.rb
Due: rubocop, rspec-unit

Fix not false, but empty
  .gitlab-ci.yml
Due: rspec-unit

Link SaaS Subscriptions handbook page to Definitive Guide to Namespaces
  sites/handbook/source/handbook/business-technology/data-team/data-catalog/namespace/index.html.md
Due: none

Add new file for Environmental & Social Governance (ESG) roles
  sites/uncategorized/source/job-families/legal/environmental-social-governance/index.html.md
Due: none

Add missing .yml extension to Configure and Package vacancies
  data/team_members/vacancy/backend-engineer-configure2.yml
  data/team_members/vacancy/backend-engineer-configure3.yml
  data/team_members/vacancy/backend-engineer-package.yml
  data/team_members/vacancy/backend-engineer-package2.yml
Due: rspec-unit

Fix URL in Support Ticket Attention Requests page
  sites/handbook/source/handbook/support/internal-support/support-ticket-attention-requests.html.md
Due: none

Update sites/uncategorized/source/job-families/legal/environmental-social-governance/index.html.md
  sites/uncategorized/source/job-families/legal/environmental-social-governance/index.html.md
Due: none

Fix formatting of senior PDM responsibilities
  sites/uncategorized/source/job-families/engineering/product-design-management/index.html.md
Due: none

Add Senior Manager-Video to the Brand Leadership job family
  sites/uncategorized/source/job-families/marketing/brand-leadership/index.html.md
Due: none

Add Hannah to speakers page
  data/speakers.yml
  source/images/speakers/hannahsutor.png
Due: rspec-unit

Update Digital Production roles to report to Senior Manager, Creative Video, remove manager, digital production
  sites/uncategorized/source/job-families/marketing/digital-production-manager/index.html.md
Due: none

Updated title
  sites/uncategorized/source/job-families/legal/index.html.md.erb
Due: none

Adding details about cover source image
  sites/uncategorized/source/releases/posts/2022-08-22-gitlab-15-3-released.html.md
Due: update-gitlab-project-releases-page

Add zillemarco as 15.3 MVP
  data/release_posts/15_3/mvp.yml
Due: rspec-unit

Wider gitlab community fix
  sites/uncategorized/source/releases/posts/2022-08-22-gitlab-15-3-released.html.md
Due: update-gitlab-project-releases-page

Adding MVP for 15.3 release
  data/mvps.yml
Due: rspec-unit

Apply 2 suggestion(s) to 1 file(s)
  sites/uncategorized/source/releases/posts/2022-08-22-gitlab-15-3-released.html.md
Due: update-gitlab-project-releases-page

Apply 1 suggestion(s) to 1 file(s)
  data/release_posts/15_3/mvp.yml
Due: rspec-unit

Add deprecation index
  data/release_posts/15_3/deprecation-index-15-3.yml
Due: rspec-unit

Updated title to remove SAML
  sites/uncategorized/source/releases/posts/2022-08-22-gitlab-15-3-released.html.md
Due: update-gitlab-project-releases-page

Attempt to fix linter
  data/release_posts/15_3/deprecation-index-15-3.yml
Due: rspec-unit

Apply 1 suggestion(s) to 1 file(s)
  sites/uncategorized/source/releases/posts/2022-08-22-gitlab-15-3-released.html.md
Due: update-gitlab-project-releases-page

Update documentation_link
  data/release_posts/15_3/verify-ui-for-merge-request-widget-to-rebase-without-triggering-ci.yml
Due: rspec-unit

Path conditions:
  update-gitlab-project-releases-page: any of: sites/uncategorized/source/releases/posts/*-released.html.md
  apply-redirects-prod: any of: data/redirects.yml, bin/apply-exact-match-redirects, bin/apply-regex-redirects
  content-security-policy-checker: any of: source/includes/layout/head.html.haml
  lint release-post-items: any of: data/release_posts/unreleased/*, data/categories.yml, data/stages.yml, source/images/unreleased/*
  rubocop: any of: *.rb, **/*.rb, .rubocop.yml, Dangerfile, *.rake, **/*.rake, bin/**/*, scripts/**/*, Rakefile
  check-handbook-edit-links: any of: data/monorepo.yml, helpers/custom_helpers.rb, **/edit_page.html.haml, **/footer.html.haml, **/handbook-page-toc.haml, **/check_handbook_edit_links.rb
  rspec-unit: any of: spec/**/*, **/*.{js,json,rb,yml}, .rspec
