Repository spicysoft/jp-www-gitlab-com: changes, and which GitLab CI jobs are due for each by the changed paths.
All: update-gitlab-project-releases-page, apply-redirects-prod, content-security-policy-checker, lint release-post-items, rubocop, check-handbook-edit-links, rspec-unit

update-gitlab-project-releases-page:
  cache:
    key: web_ruby-3.0-bullseye
    policy: pull
    paths:
    - vendor
    - node_modules
  before_script:
  - bundle config set path vendor
  - bundle install --quiet --jobs 4
  - yarn install
  stage: content-generation
  needs: []
  script:
  - bundle exec rake release:ee:update_project_releases_page
  ...

apply-redirects-prod:
  cache:
    key: web_ruby-3.0-bullseye
    policy: pull
    paths:
    - vendor
    - node_modules
  before_script:
  - bundle config set path vendor
  - bundle install --quiet --jobs 4
  - yarn install
  stage: build-and-deploy
  environment:
    name: production
  script:
  - export FASTLY_SRV_ID=$FASTLY_SRV_ID_PROD
  ...

content-security-policy-checker:
  image: debian:stable-slim
  stage: test
  needs: []
  script:
  ...

lint release-post-items:
  cache:
    key: web_ruby-3.0-bullseye
    policy: pull
    paths:
    - vendor
    - node_modules
  before_script:
  - bundle config set path vendor
  - bundle install --quiet --jobs 4
  - yarn install
  stage: test
  needs: []
  script:
  - bundle exec bin/validate-release-post-item

rubocop:
  cache:
    key: web_ruby-3.0-bullseye
    policy: pull
    paths:
    - vendor
    - node_modules
  before_script:
  - bundle config set path vendor
  - bundle install --quiet --jobs 4
  - yarn install
  stage: test
  needs: []
  script:
  - bundle exec rubocop

check-handbook-edit-links:
  cache:
    key: web_ruby-3.0-bullseye
    policy: pull
    paths:
    - vendor
    - node_modules
  before_script:
  - bundle config set path vendor
  - bundle install --quiet --jobs 4
  - yarn install
  stage: test
  needs:
  - handbook-build-and-review-deploy
  script:
  - scripts/check-handbook-edit-links.rb

rspec-unit:
  cache:
    key: web_ruby-3.0-bullseye
    policy: pull
    paths:
    - vendor
    - node_modules
  before_script:
  - bundle config set path vendor
  - bundle install --quiet --jobs 4
  - yarn install
  stage: test
  needs: []
  script:
  - bundle exec rspec --tag ~@feature

Update csnehansh.yml
  data/team_members/person/c/csnehansh.yml
Due: rspec-unit

Removes an extra full stop
  sites/handbook/source/handbook/people-group/promotions-transfers/index.html.md
Due: none

Adding Customer Emergency Training resources
  sites/handbook/source/handbook/support/workflows/customer_emergencies_workflows.html.md
Due: none

Improve Ginkgo Homepage processes section
  sites/handbook/source/handbook/support/support-global-groups/groups/ginkgo/index.html.md
Due: none

Re-add height taller than 1.95m / 6.5ft and long flight upgrade options on flights for travel expenses
  sites/handbook/source/handbook/finance/expenses/index.html.md
  sites/handbook/source/handbook/travel/index.html.md
Due: none

Adds the correct agenda link to the DR working group
  sites/uncategorized/source/company/team/structure/working-groups/disaster-recovery/index.html.md
Due: none

Revision to MVP entry
  data/release_posts/15_3/mvp.yml
Due: rspec-unit

Update pgascouvaillancourt's team
  data/team_members/person/p/paul-gascou-vaillancourt.yml
Due: rspec-unit

Expand deprecation and end of support definitions in handbook
  sites/handbook/source/handbook/product/gitlab-the-product/index.html.md.erb
Due: none

Added SFDC tech stack guide link
  data/tech_stack.yml
Due: rspec-unit

updating release number for August
  source/direction/kickoff/template.html.md.erb
Due: none

Add John Mason as Trainee Maintainer
  data/team_members/person/j/john-mason.yml
Due: rspec-unit

Make Brian Williams a local database reviewer
  data/team_members/person/b/bwill.yml
Due: rspec-unit

Add John Mason as trainee maintainer for mentor
  data/maintainer_mentorship.yml
Due: rspec-unit

Layover expense guidance
  sites/handbook/source/handbook/incentives/index.html.md
Due: none

Update current two instances of parental-leave@ to leaves@gitlab.com
  sites/handbook/source/handbook/total-rewards/benefits/general-and-entity-benefits/index.html.md
  sites/handbook/source/handbook/total-rewards/benefits/parental-leave-toolkit/index.html.md
Due: none

Add Zuora Billing Guide Link
  data/tech_stack.yml
Due: rspec-unit

Remove time zone section
  sites/handbook/source/handbook/engineering/ux/index.html.md.erb
Due: none

Remove dates from trials that are used and removed Acting title criteria
  sites/handbook/source/handbook/engineering/development/ops/verify/pipeline-authoring/index.html.md.erb
Due: none

Fix small spelling error.
  sites/handbook/source/handbook/engineering/ux/ux-research-training/tracking-research-projects/index.html.md
Due: none

Update the role for the source of the Backend team
  sites/handbook/source/handbook/engineering/development/ops/verify/index.html.md.erb
  sites/handbook/source/handbook/engineering/development/ops/verify/pipeline-authoring/index.html.md.erb
  sites/handbook/source/handbook/engineering/development/ops/verify/pipeline-execution/index.html.md.erb
Due: none

Add Analytics Hubs and Links to Data Catalog
  sites/handbook/source/handbook/business-technology/data-team/data-catalog/index.html.md
Due: none

Update Code Review BE stable counterparts
  sites/handbook/source/handbook/engineering/development/dev/create/code-review/backend/index.html.md.erb
Due: none

Clarify NY Life's role in our Disability/Life coverage.
  sites/handbook/source/handbook/total-rewards/benefits/general-and-entity-benefits/inc-benefits-us/index.html.md
Due: none

Update Karthik Nayak details on the team page
  data/team_members/person/k/knayakgl.yml
  sites/uncategorized/source/images/team/karthiknayak.jpg
Due: rspec-unit

Update Justin Tobler team page
  data/team_members/person/j/justintobler.yml
Due: rspec-unit

Resolve "Zuora Revenue Tech Stack Page"
  sites/handbook/source/handbook/finance/accounting/finance-ops/Revenue-Operations/tech-stack-guide-zuora-revenue/index.html.md.erb
Due: none

Add section for "sophisticated simplicity"
  sites/handbook/source/handbook/engineering/ux/product-designer/index.html.md.erb
  sites/handbook/source/handbook/engineering/ux/product-designer/sophisticated-simplicity-venn.svg
Due: none

Navigation Release v1.1.2
  package.json
  yarn.lock
Due: rspec-unit

Updating template to include BIA label for tracking
  .gitlab/merge_request_templates/tech-stack-new-system.md
Due: none

Adds `issuable_template` URL parameter
  sites/handbook/source/handbook/support/workflows/reinstating-blocked-accounts.html.md
Due: none

Update Code Review BE embedded metrics
  sites/handbook/source/handbook/engineering/development/dev/create/code-review/backend/_metrics.erb
Due: none

Add Ireland Gender Pay Gap Report
  sites/handbook/source/handbook/people-group/people-compliance/people-compliance-reporting/index.html.md
Due: none

Update Scale CSE handbook page
  sites/handbook/source/handbook/customer-success/tam/segment/scale/index.html.md
Due: none

Added ZRev tech stack guide link
  data/tech_stack.yml
Due: rspec-unit

Create Blog Posts “2022-08-22-gitlabs-2022-global-devsecops-survey-security-is-the-top-concern-investment”
  sites/uncategorized/source/blog/blog-posts/2022-08-22-gitlabs-2022-global-devsecops-survey-security-is-the-top-concern-investment.html.md.erb
  source/images/blogimages/screen-shot-2022-08-22-at-12.09.21-pm.png
Due: none

Add reference to deprecated Grafana from Omnibus section in 15.3 release post
  data/release_posts/15_3/enablement_distribution_omnibus.yml
Due: rspec-unit

updates EM reports_to
  data/team_members/person/g/gwilburn.yml
  data/team_members/person/j/jsawtelle.yml
  data/team_members/person/r/rknight2.yml
Due: rspec-unit

Remove repeated word
  sites/handbook/source/handbook/engineering/quality/triage-operations/index.html.md
Due: none

Add infrastructure stable counter parts
  data/stages.yml
  data/team_members/person/a/alex-h.yml
  data/team_members/person/f/fshabir.yml
  data/team_members/person/k/knottos.yml
  data/team_members/person/r/rehab.yml
  data/team_members/person/s/steve-a.yml
  sites/handbook/source/handbook/engineering/infrastructure/index.html.md.erb
  sites/handbook/source/includes/product/_categories.erb
Due: lint release-post-items, rspec-unit

Path conditions:
  update-gitlab-project-releases-page: any of: sites/uncategorized/source/releases/posts/*-released.html.md
  apply-redirects-prod: any of: data/redirects.yml, bin/apply-exact-match-redirects, bin/apply-regex-redirects
  content-security-policy-checker: any of: source/includes/layout/head.html.haml
  lint release-post-items: any of: data/release_posts/unreleased/*, data/categories.yml, data/stages.yml, source/images/unreleased/*
  rubocop: any of: *.rb, **/*.rb, .rubocop.yml, Dangerfile, *.rake, **/*.rake, bin/**/*, scripts/**/*, Rakefile
  check-handbook-edit-links: any of: data/monorepo.yml, helpers/custom_helpers.rb, **/edit_page.html.haml, **/footer.html.haml, **/handbook-page-toc.haml, **/check_handbook_edit_links.rb
  rspec-unit: any of: spec/**/*, **/*.{js,json,rb,yml}, .rspec
