Repository spicysoft/jp-www-gitlab-com: changes, and which GitLab CI jobs are due for each by the changed paths.
All: update-gitlab-project-releases-page, apply-redirects-prod, content-security-policy-checker, lint release-post-items, rubocop, check-handbook-edit-links, rspec-unit

update-gitlab-project-releases-page:
  cache:
    key: web_ruby-3.0-bullseye
    policy: pull
    paths:
    - vendor
    - node_modules
  before_script:
  - bundle config set path vendor
  - bundle install --quiet --jobs 4
  - yarn install
  stage: content-generation
  needs: []
  script:
  - bundle exec rake release:ee:update_project_releases_page
  ...

apply-redirects-prod:
  cache:
    key: web_ruby-3.0-bullseye
    policy: pull
    paths:
    - vendor
    - node_modules
  before_script:
  - bundle config set path vendor
  - bundle install --quiet --jobs 4
  - yarn install
  stage: build-and-deploy
  environment:
    name: production
  script:
  - export FASTLY_SRV_ID=$FASTLY_SRV_ID_PROD
  ...

content-security-policy-checker:
  image: debian:stable-slim
  stage: test
  needs: []
  script:
  ...

lint release-post-items:
  cache:
    key: web_ruby-3.0-bullseye
    policy: pull
    paths:
    - vendor
    - node_modules
  before_script:
  - bundle config set path vendor
  - bundle install --quiet --jobs 4
  - yarn install
  stage: test
  needs: []
  script:
  - bundle exec bin/validate-release-post-item

rubocop:
  cache:
    key: web_ruby-3.0-bullseye
    policy: pull
    paths:
    - vendor
    - node_modules
  before_script:
  - bundle config set path vendor
  - bundle install --quiet --jobs 4
  - yarn install
  stage: test
  needs: []
  script:
  - bundle exec rubocop

check-handbook-edit-links:
  cache:
    key: web_ruby-3.0-bullseye
    policy: pull
    paths:
    - vendor
    - node_modules
  before_script:
  - bundle config set path vendor
  - bundle install --quiet --jobs 4
  - yarn install
  stage: test
  needs:
  - handbook-build-and-review-deploy
  script:
  - scripts/check-handbook-edit-links.rb

rspec-unit:
  cache:
    key: web_ruby-3.0-bullseye
    policy: pull
    paths:
    - vendor
    - node_modules
  before_script:
  - bundle config set path vendor
  - bundle install --quiet --jobs 4
  - yarn install
  stage: test
  needs: []
  script:
  - bundle exec rspec --tag ~@feature

Fixed a few words (spelling) on the cloud seed page
  sites/handbook/source/handbook/engineering/incubation/cloud-seed/index.html.md
Due: none

Update support template link in Manage:Import's escalation process
  sites/handbook/source/handbook/engineering/development/dev/manage/import/escalation-triage-process/index.html.md.erb
Due: none

Add Manage::Optimize bugs
  data/release_posts/unreleased/bugs.yml
Due: lint release-post-items, rspec-unit

WIP: update the handbook for data onboarding processes
  sites/handbook/source/handbook/business-technology/data-team/direction/index.html.md
  sites/handbook/source/handbook/business-technology/data-team/platform/dbt-guide/index.html.md
Due: none

Adding Geo bugs
  data/release_posts/unreleased/bugs.yml
Due: lint release-post-items, rspec-unit

Update intro block
  data/topic_children/devops-tools-explained.yml
Due: rspec-unit

Create Blog Posts “2022-09-13-new-to-devops-take-our-devops-for-beginners-quiz”
  sites/uncategorized/source/blog/blog-posts/2022-09-13-new-to-devops-take-our-devops-for-beginners-quiz.html.md.erb
Due: none

Add own permissions and specialties to team page
  data/team_members/person/a/ashrafkhamis.yml
Due: rspec-unit

Offboard team member - 2022-09-13
  .gitlab/CODEOWNERS
  data/team_members/person/a/aschrauth.yml
  data/team_members/person/d/danadpelton.yml
  data/team_members/person/v/vreinhardt.yml
Due: rspec-unit

Update data/team_members/person/a/aschrauth.yml
  data/team_members/person/a/aschrauth.yml
Due: rspec-unit

Clarify UI text and documentation labeling
  sites/handbook/source/handbook/engineering/ux/product-designer/index.html.md.erb
Due: none

Update dmeshcharakou.yml team member page.
  data/team_members/person/d/dmeshcharakou.yml
  sites/uncategorized/source/images/team/dmeshcharakou.png
Due: rspec-unit

removed duplicate quiz, tweaked kWh
  sites/uncategorized/source/blog/blog-posts/2022-09-13-new-to-devops-take-our-devops-for-beginners-quiz.html.md.erb
Due: none

Add Secure stage team members to the token management working group
  sites/uncategorized/source/company/team/structure/working-groups/token-management/index.html.md
Due: none

Replaced outdated EdCast Link SQS with LevelUp
  sites/handbook/source/handbook/sales/onboarding/graduating-SQS/index.html.md
Due: none

Add link to docs iterations
  source/direction/verify/continuous_integration_scaling/index.html.md
Due: none

Add link to part of product handbook section
  sites/handbook/source/handbook/engineering/workflow/code-review/index.html.md.erb
Due: none

Adds new event to events page
  data/events.yml
Due: rspec-unit

Update team page w/ personal info
  data/team_members/person/c/cchampernowne.yml
  sites/uncategorized/source/images/team/clairechampernowne.jpg
Due: rspec-unit

Apply 1 suggestion(s) to 1 file(s)
  data/release_posts/unreleased/configure-poc-helm-support.yml
Due: lint release-post-items, rspec-unit

add 1password SSH integration.
  sites/handbook/source/handbook/security/index.html.md.erb
Due: none

add practice for strategic solution selling
  sites/handbook/source/handbook/customer-success/solutions-architects/sa-practices/index.html.md
  sites/handbook/source/handbook/customer-success/solutions-architects/sa-practices/strategic-solution-selling/index.html.md
  sites/handbook/source/handbook/customer-success/solutions-architects/sa-practices/strategic-solution-selling/strategic-solution.png
Due: none

MR: Closing emergency tickets when emergency is resolved
  sites/handbook/source/handbook/support/workflows/customer_emergencies_workflows.html.md
Due: none

MS - Channel Ops Handbook Update from Partner Co-sell to Resale Partner field
  sites/handbook/source/handbook/sales/field-operations/channel-operations/index.html.md
Due: none

Inclusion of additional ISO standards to ISMS
  sites/handbook/source/handbook/engineering/security/ISMS.html.md
Due: none

Add Alina as maintainer for triage-ops
  data/team_members/person/a/alinamihaila.yml
Due: rspec-unit

Blog post | Pursuing faster time-to-merge for wider community contributions
  sites/uncategorized/source/blog/blog-posts/2022-09-13-pursuing-faster-time-to-merge-for-wider-community-contributions.html.md.erb
Due: none

update URL for CSM
  sites/handbook/source/handbook/customer-success/index.html.md
Due: none

Clarifies who sets up campaigns
  sites/handbook/source/handbook/marketing/channel-marketing/partner-campaigns/index.html.md
Due: none

Apply 2 suggestion(s) to 1 file(s)
  data/release_posts/unreleased/configure-poc-helm-support.yml
Due: lint release-post-items, rspec-unit

Apply 2 suggestion(s) to 1 file(s)
  data/release_posts/unreleased/configure-lock-terrafomimage-on-the-terraform-templates.yml
Due: lint release-post-items, rspec-unit

Create Blog Posts “2022-09-13-5-git-resources-for-visual-learners”
  sites/uncategorized/source/blog/blog-posts/2022-09-13-5-git-resources-for-visual-learners.html.md.erb
Due: none

Adding info about shadow schedules
  sites/handbook/source/handbook/support/support-ops/documentation/pagerduty.html.md
Due: none

edits to url
  sites/uncategorized/source/blog/blog-posts/2022-09-14-git-resources-for-visual-learners.html.md.erb
Due: none

Description update
  data/features.yml
Due: rspec-unit

Modify link description
  data/features.yml
Due: rspec-unit

Attempting to clarify the workflow
  sites/handbook/source/handbook/engineering/ux/technical-writing/index.html.md.erb
Due: none

Fix broken comparison component from protect -> govern change
  sites/uncategorized/source/includes/devops-tools/slp-comparison-infographic.html.erb
Due: none

tweaks to spacing
  sites/uncategorized/source/blog/blog-posts/2022-09-14-git-resources-for-visual-learners.html.md.erb
Due: none

Path conditions:
  update-gitlab-project-releases-page: any of: sites/uncategorized/source/releases/posts/*-released.html.md
  apply-redirects-prod: any of: data/redirects.yml, bin/apply-exact-match-redirects, bin/apply-regex-redirects
  content-security-policy-checker: any of: source/includes/layout/head.html.haml
  lint release-post-items: any of: data/release_posts/unreleased/*, data/categories.yml, data/stages.yml, source/images/unreleased/*
  rubocop: any of: *.rb, **/*.rb, .rubocop.yml, Dangerfile, *.rake, **/*.rake, bin/**/*, scripts/**/*, Rakefile
  check-handbook-edit-links: any of: data/monorepo.yml, helpers/custom_helpers.rb, **/edit_page.html.haml, **/footer.html.haml, **/handbook-page-toc.haml, **/check_handbook_edit_links.rb
  rspec-unit: any of: spec/**/*, **/*.{js,json,rb,yml}, .rspec
