Repository spicysoft/jp-www-gitlab-com: changes, and which GitLab CI jobs are due for each by the changed paths.
All: update-gitlab-project-releases-page, apply-redirects-prod, content-security-policy-checker, lint release-post-items, rubocop, check-handbook-edit-links, rspec-unit

update-gitlab-project-releases-page:
  cache:
    key: web_ruby-3.0-bullseye
    policy: pull
    paths:
    - vendor
    - node_modules
  before_script:
  - bundle config set path vendor
  - bundle install --quiet --jobs 4
  - yarn install
  stage: content-generation
  needs: []
  script:
  - bundle exec rake release:ee:update_project_releases_page
  ...

apply-redirects-prod:
  cache:
    key: web_ruby-3.0-bullseye
    policy: pull
    paths:
    - vendor
    - node_modules
  before_script:
  - bundle config set path vendor
  - bundle install --quiet --jobs 4
  - yarn install
  stage: build-and-deploy
  environment:
    name: production
  script:
  - export FASTLY_SRV_ID=$FASTLY_SRV_ID_PROD
  ...

content-security-policy-checker:
  image: debian:stable-slim
  stage: test
  needs: []
  script:
  ...

lint release-post-items:
  cache:
    key: web_ruby-3.0-bullseye
    policy: pull
    paths:
    - vendor
    - node_modules
  before_script:
  - bundle config set path vendor
  - bundle install --quiet --jobs 4
  - yarn install
  stage: test
  needs: []
  script:
  - bundle exec bin/validate-release-post-item

rubocop:
  cache:
    key: web_ruby-3.0-bullseye
    policy: pull
    paths:
    - vendor
    - node_modules
  before_script:
  - bundle config set path vendor
  - bundle install --quiet --jobs 4
  - yarn install
  stage: test
  needs: []
  script:
  - bundle exec rubocop

check-handbook-edit-links:
  cache:
    key: web_ruby-3.0-bullseye
    policy: pull
    paths:
    - vendor
    - node_modules
  before_script:
  - bundle config set path vendor
  - bundle install --quiet --jobs 4
  - yarn install
  stage: test
  needs:
  - handbook-build-and-review-deploy
  script:
  - scripts/check-handbook-edit-links.rb

rspec-unit:
  cache:
    key: web_ruby-3.0-bullseye
    policy: pull
    paths:
    - vendor
    - node_modules
  before_script:
  - bundle config set path vendor
  - bundle install --quiet --jobs 4
  - yarn install
  stage: test
  needs: []
  script:
  - bundle exec rspec --tag ~@feature

Add one more Global Search bug fix
  data/release_posts/unreleased/bugs.yml
Due: lint release-post-items, rspec-unit

[WIP] Draft of B&SM direction page
  source/direction/fulfillment/billing-and-subscription-management/index.html.md
Due: none

Fix relative links to Dedicated page
  source/direction/saas-platforms/dedicated/index.html.md
Due: none

Add page suggestions to Incubation Engineering playbook
  sites/handbook/source/handbook/engineering/incubation/playbook/index.html.md.erb
Due: none

Apply 1 suggestion(s) to 1 file(s)
  data/release_posts/unreleased/manage-email-the-user-when-their-twofactor-otp-attempt-is-wrong.yml
Due: lint release-post-items, rspec-unit

Add docs requirement when releasing Incubation Engineering features
  sites/handbook/source/handbook/engineering/incubation/playbook/index.html.md.erb
Due: none

update SDR to Sales Development on Sales Development Manager page
  sites/handbook/source/handbook/marketing/revenue-marketing/sdr/sdr-manager-resources/index.html.md
Due: none

Improve description for slipping issues
  sites/handbook/source/handbook/engineering/development/dev/manage/integrations/index.html.md.erb
Due: none

AWS Marketplace license workflow
  sites/handbook/source/handbook/support/license-and-renewals/workflows/self-managed/aws_marketplace_license.html.md
Due: none

Add myself as tech writer to Workspace and Product Analytics groups
  data/stages.yml
Due: lint release-post-items, rspec-unit

Sync specialty to team page - 2022-10-17
  data/team_members/person/a/alex_martin.yml
Due: rspec-unit

Adds a section on the Incubation playbook for small how-to's
  sites/handbook/source/handbook/engineering/incubation/playbook/index.html.md.erb
Due: none

Release post - Geo replicates Incident Metric Images
  data/release_posts/unreleased/systems-geo-incident-metric-image-replication.yml
Due: lint release-post-items, rspec-unit

Upgrade post - Geo - Runners cloning from secondary sites with proxying fail
  data/release_posts/unreleased/systems-geo-proxying-fail-to-find-new-pipeline-refs.yml
Due: lint release-post-items, rspec-unit

Offboard team member - 2022-10-14
  data/team_members/person/j/jstemmer1.yml
  data/team_members/person/k/kchen6.yml
  data/team_members/person/k/kkarthikeyan.yml
  data/team_members/person/v/vagrawalg.yml
  data/team_members/person/z/zzhang7.yml
Due: rspec-unit

Update sites/handbook/source/handbook/engineering/incubation/playbook/index.html.md.erb
  sites/handbook/source/handbook/engineering/incubation/playbook/index.html.md.erb
Due: none

Update sites/handbook/source/handbook/engineering/incubation/mlops/index.html.md
  sites/handbook/source/handbook/engineering/incubation/mlops/index.html.md
Due: none

Update DevOps Tools internal links
  data/topic_children/choose-continuous-integration-tool.yml
  data/topic_children/devops-tools-explained.yml
  sites/handbook/source/handbook/ceo/shadow/index.html.md
  sites/handbook/source/handbook/marketing/digital-experience/website/index.html.md
  sites/handbook/source/handbook/marketing/netlifycms/index.html.md
  sites/handbook/source/handbook/marketing/strategic-marketing/competitive/index.html.md
  sites/handbook/source/handbook/marketing/strategic-marketing/enterprise-it-roles/index.html.md
  sites/handbook/source/handbook/marketing/strategic-marketing/it-groups/build/secure-applications/index.html.md
  sites/handbook/source/handbook/marketing/strategic-marketing/pmmteam/onboarding/index.html.md
  sites/handbook/source/handbook/marketing/strategic-marketing/public-sector-gtm/index.html.md
  sites/handbook/source/handbook/marketing/strategic-marketing/reseller-kit/index.html.md
  sites/handbook/source/handbook/marketing/strategic-marketing/sales-resources/index.html.md
  sites/handbook/source/handbook/marketing/strategic-marketing/usecase-gtm/delivery-automation/index.html.md
  sites/handbook/source/handbook/marketing/strategic-marketing/usecase-gtm/devsecops/index.html.md
  sites/handbook/source/handbook/product/categories/index.html.md.erb
  sites/handbook/source/handbook/product/product-processes/index.html.md.erb
  sites/handbook/source/handbook/product/single-application/index.html.md
  sites/handbook/source/handbook/product/tiering-guidance-for-features/index.html.md.erb
  sites/handbook/source/handbook/sales/field-communications/field-flash-newsletter/edition-2020-07-07/index.html.md
  sites/handbook/source/handbook/sales/field-communications/field-flash-newsletter/edition-2020-11-02/index.html.md
  sites/handbook/source/handbook/sales/field-communications/field-flash-newsletter/edition-2020-12-07/index.html.md
  sites/handbook/source/handbook/sales/field-communications/field-flash-newsletter/edition-2021-01-06/index.html.md
  sites/handbook/source/handbook/sales/field-communications/field-flash-newsletter/edition-2021-03-01/index.html.md
  sites/handbook/source/handbook/sales/onboarding/sales-learning-path/index.html.md
  sites/handbook/source/handbook/sales/training/index.html.md
  sites/handbook/source/handbook/values/index.html.md
  sites/uncategorized/source/blog/blog-posts/2017-05-08-what-to-look-for-in-ci-cd-solution.html.md
  sites/uncategorized/source/blog/blog-posts/2018-10-03-working-on-two-git-branches-at-the-same-time.html.md.erb
  sites/uncategorized/source/blog/blog-posts/2019-01-07-github-offering-free-private-repos-for-up-to-three-collaborators.html.md.erb
  sites/uncategorized/source/blog/blog-posts/2019-04-02-why-gitlab-ci-cd.html.md.erb
  sites/uncategorized/source/blog/blog-posts/2019-04-08-khosla-ventures-gitlab-meeting.html.md.erb
  sites/uncategorized/source/blog/blog-posts/2019-11-01-devops-tool-landscape.html.md.erb
  sites/uncategorized/source/job-families/product/product-management-leadership/index.html.md
  sites/uncategorized/source/job-families/sales/smb-customer-advocate/index.html.md.erb
  source/direction/manage/templates/_themes.erb
Due: rspec-unit

Apply 1 suggestion(s) to 1 file(s)
  data/release_posts/unreleased/bugs.yml
Due: lint release-post-items, rspec-unit

Add a note about Architecture Evolution Sync meeting to the Workflow
  sites/handbook/source/handbook/engineering/architecture/workflow/index.html.md
Due: none

Make Sam the acting PM for PI group
  data/stages.yml
Due: lint release-post-items, rspec-unit

Add 2021 top wider community contributors
  data/top_contributors_2021.yml
  sites/uncategorized/source/community/top-annual-contributors/index.html.erb
Due: rspec-unit

Update manage-configurable-list-of-things-to-be-imported-that-can-be-adju.yml
  data/release_posts/unreleased/manage-configurable-list-of-things-to-be-imported-that-can-be-adju.yml
Due: lint release-post-items, rspec-unit

Fix the link for example issue
  sites/handbook/source/handbook/business-technology/data-team/data-catalog/saas-service-ping-automation/index.html.md
Due: none

Create Blog Posts “2022-10-17-how-modern-devops-practices-are-changing-the-operations-role”
  sites/uncategorized/source/blog/blog-posts/2022-10-17-how-modern-devops-practices-are-changing-the-operations-role.html.md.erb
Due: none

Release Post: Dependency scanning improved accuracy for go dependencies
  data/release_posts/unreleased/secure-improved-dependency-scanning-go-accuracy.yml
Due: lint release-post-items, rspec-unit

Update gitlab-de issue template links in the hanbook
  sites/handbook/source/handbook/marketing/community-relations/developer-evangelism/cfps/index.html.md
  sites/handbook/source/handbook/marketing/community-relations/developer-evangelism/index.html.md
  sites/handbook/source/handbook/marketing/community-relations/developer-evangelism/workflow/index.html.md
Due: none

Update contributors lifecycle segments
  sites/handbook/source/handbook/marketing/community-relations/code-contributor-program/operations/index.html.md.erb
Due: none

Add parkourkarthik as Gitlab Hero
  data/heroes.yml
  source/images/heroes/parkourkarthik.jpg
Due: rspec-unit

Chorus Handbook Data Retention Policy Update
  sites/handbook/source/handbook/sales/field-operations/sales-operations/go-to-market/chorus/index.html.md
Due: none

Fix typo: "through" --> "thorough"
  sites/handbook/source/handbook/marketing/strategic-marketing/getting-started/105/index.html.md
Due: none

Added SM to Dedicated instance migration details
  sites/handbook/source/handbook/customer-success/professional-services-engineering/engagement-mgmt/scoping-information/migrations/index.html.md
Due: none

Add visual of Land Adopt Expand motion to CSE page
  sites/handbook/source/handbook/customer-success/csm/cse/LandAdoptExpand.png
  sites/handbook/source/handbook/customer-success/csm/cse/index.html.md
Due: none

Add 15.5 MVP to list
  data/mvps.yml
Due: rspec-unit

Updated ownership for some fulfillment groups
  .gitlab/CODEOWNERS
Due: none

Update Maintainership working group percentages
  sites/uncategorized/source/company/team/structure/working-groups/maintainership/index.html.md
Due: none

Blog Post: Fast and Efficient Supply Chain Security with GitLab and Rezilion (2022-10-09)
  sites/uncategorized/source/blog/blog-posts/2022-10-17-fast-and-efficient-sbom-with-gitlab-and-rezilion.html.md.erb
  source/images/blogimages/fast-and-efficient-supply-chain-security-with-rezilion-and-gitlab/jessica-lewis-fJXv46LT7Xk-unsplash.jpeg
  source/images/blogimages/fast-and-efficient-supply-chain-security-with-rezilion-and-gitlab/mr-view-2.png
  source/images/blogimages/fast-and-efficient-supply-chain-security-with-rezilion-and-gitlab/mr-view.png
  source/images/blogimages/fast-and-efficient-supply-chain-security-with-rezilion-and-gitlab/rezilion-exploitable.png
  source/images/blogimages/fast-and-efficient-supply-chain-security-with-rezilion-and-gitlab/rezilion-sbom.png
  source/images/blogimages/fast-and-efficient-supply-chain-security-with-rezilion-and-gitlab/sdlc.png
  source/images/blogimages/fast-and-efficient-supply-chain-security-with-rezilion-and-gitlab/vr-1.png
  source/images/blogimages/fast-and-efficient-supply-chain-security-with-rezilion-and-gitlab/vr-2.png
  source/images/blogimages/fast-and-efficient-supply-chain-security-with-rezilion-and-gitlab/vr-3.png
Due: none

Release Post: Rule Mode for Scan Execution Policies
  data/release_posts/unreleased/govern-rule-mode-for-scan-execution-policies.yml
  source/images/unreleased/govern-scan-execution-policy-rule-mode.png
Due: lint release-post-items, rspec-unit

add Gaby Berkman to GitLab team page
  data/team_members/person/g/gberkman.yml
  sites/uncategorized/source/images/team/gabyberkman.jpg
Due: rspec-unit

Update data/team_members/person/k/kaylagolden.yml
  data/team_members/person/k/kaylagolden.yml
Due: rspec-unit

Path conditions:
  update-gitlab-project-releases-page: any of: sites/uncategorized/source/releases/posts/*-released.html.md
  apply-redirects-prod: any of: data/redirects.yml, bin/apply-exact-match-redirects, bin/apply-regex-redirects
  content-security-policy-checker: any of: source/includes/layout/head.html.haml
  lint release-post-items: any of: data/release_posts/unreleased/*, data/categories.yml, data/stages.yml, source/images/unreleased/*
  rubocop: any of: *.rb, **/*.rb, .rubocop.yml, Dangerfile, *.rake, **/*.rake, bin/**/*, scripts/**/*, Rakefile
  check-handbook-edit-links: any of: data/monorepo.yml, helpers/custom_helpers.rb, **/edit_page.html.haml, **/footer.html.haml, **/handbook-page-toc.haml, **/check_handbook_edit_links.rb
  rspec-unit: any of: spec/**/*, **/*.{js,json,rb,yml}, .rspec
