Repository spicysoft/jp-www-gitlab-com: changes, and which GitLab CI jobs are due for each by the changed paths.
All: update-gitlab-project-releases-page, apply-redirects-prod, content-security-policy-checker, lint release-post-items, rubocop, check-handbook-edit-links, rspec-unit

Path conditions:
  update-gitlab-project-releases-page: any of: sites/uncategorized/source/releases/posts/*-released.html.md
  apply-redirects-prod: any of: data/redirects.yml, bin/apply-exact-match-redirects, bin/apply-regex-redirects
  content-security-policy-checker: any of: source/includes/layout/head.html.haml
  lint release-post-items: any of: data/release_posts/unreleased/*, data/categories.yml, data/stages.yml, source/images/unreleased/*
  rubocop: any of: *.rb, **/*.rb, .rubocop.yml, Dangerfile, *.rake, **/*.rake, bin/**/*, scripts/**/*, Rakefile
  check-handbook-edit-links: any of: data/monorepo.yml, helpers/custom_helpers.rb, **/edit_page.html.haml, **/footer.html.haml, **/handbook-page-toc.haml, **/check_handbook_edit_links.rb
  rspec-unit: any of: spec/**/*, **/*.{js,json,rb,yml}, .rspec

Fix link formatting
  sites/handbook/source/handbook/engineering/security/index.html.md.erb
Due: none

Clarify Hard PCL, removes old dates
  sites/handbook/source/handbook/engineering/infrastructure/change-management/index.html.md
Due: none

Add gitlab-web-ide to projects.yml
  data/projects.yml
  data/team_members/person/c/chadwoolley.yml
  data/team_members/person/p/paul-slaughter.yml
  data/team_members/person/t/tomasvik.yml
Due: rspec-unit

Links to GitLab Premium
  sites/handbook/source/handbook/marketing/strategic-marketing/dot-com-vs-self-managed/index.html.md.erb
  sites/uncategorized/source/blog/blog-posts/2016-03-21-gitlab-enterprise-edition-price-change.html.md
  sites/uncategorized/source/blog/blog-posts/2016-12-08-announcing-gitlab-enterprise-edition-premium.html.md
  sites/uncategorized/source/blog/blog-posts/2017-04-11-introducing-subscriptions-on-gitlab-dot-com.html.md
  sites/uncategorized/source/blog/blog-posts/2018-04-20-gitlab-tiers.html.md
  sites/uncategorized/source/blog/blog-posts/2021-01-26-new-gitlab-product-subscription-model.html.md.erb
  sites/uncategorized/source/blog/blog-posts/2022-03-24-efficient-free-tier.html.md.erb
Due: none

Add missing closing parenthesis
  sites/handbook/source/handbook/product/product-manager-role/product-CDF-competencies/index.html.md
Due: none

Tweak recommendations of Monday scheduling
  .gitlab/merge_request_templates/Release-Post.md
Due: none

Added link for security incident response as a security awareness training topic.
  sites/handbook/source/handbook/engineering/security/security-assurance/governance/sec-awareness-training.html.md
Due: none

Update sites/handbook/source/handbook/sales/field-operations/channel-operations/index.html.md
  sites/handbook/source/handbook/sales/field-operations/channel-operations/index.html.md
Due: none

Update sites/handbook/source/handbook/resellers/index.html.md
  sites/handbook/source/handbook/resellers/index.html.md
Due: none

Updating alliance partners page images
  sites/uncategorized/source/partners/technology-partners/index.html.haml
  source/images/applications/apps/handshake_placeholder.svg
Due: none

Add content to Product Design interview process
  sites/handbook/source/handbook/engineering/ux/product-design/hiring-product-designers.html.md
Due: none

Correcting a spelling error
  sites/handbook/source/handbook/hiring/talent-acquisition-framework/executive-search-process/index.html.md
Due: none

Automate creation of buyer-experience (home page announcement) release post MR
  .gitlab/merge_request_templates/Release-Post.md
  lib/tasks/release_post.rake
Due: rubocop

Pipeline Insights Direction updates - Aug
  source/direction/verify/build_artifacts/index.html.md
  source/direction/verify/code_testing/index.html.md
  source/direction/verify/performance_testing/index.html.md
  source/direction/verify/review_apps/index.html.md
Due: none

Add Robert Marshall as CNG maintainer
  data/team_members/person/r/robert-marshall.yml
Due: rspec-unit

Create Customer Success Engineer CSE Handbook section
  sites/handbook/source/handbook/customer-success/tam/cse/index.html.md
  sites/handbook/source/handbook/customer-success/tam/index.html.md
Due: none

Adding DevOpsDays DC to the events page.
  data/events.yml
Due: rspec-unit

Add note on PTO Roots length for public holidays
  sites/handbook/source/handbook/paid-time-off/index.html.md
Due: none

Release Stage Direction Updates : August
  source/direction/release/environment_management/index.html.md.erb
  source/direction/release/release_orchestration/index.html.md
  source/direction/release/template.html.md.erb
Due: none

Update Static Analysis EM, Secure stage handbook location
  data/stages.yml
Due: lint release-post-items, rspec-unit

Merge branch 'ericrosenberg88-master-patch-68675' into 'master'
  data/stages.yml
Due: lint release-post-items, rspec-unit

Adds Support Engineer Performance Management page for Support Managers
  sites/handbook/source/handbook/support/managers/performance-management.html.md
Due: none

Add onboarding KPI tracking guidance for managers
  sites/handbook/source/handbook/customer-success/tam/tam-manager/index.html.md
Due: none

updates
  data/release_posts/unreleased/release-add-associated-release-link-to-single-tag-page.yml
Due: lint release-post-items, rspec-unit

add screenshot
  data/release_posts/unreleased/release-add-associated-release-link-to-single-tag-page.yml
  source/images/unreleased/release-show-release-in-tag-page.png
Due: lint release-post-items, rspec-unit

Runner Core direction updates - August 2022
  source/direction/verify/runner_core/index.html.md
Due: none

Release post response times during the 18th-22nd
  .gitlab/merge_request_templates/Release-Post.md
Due: none

Add David to review What's New
  .gitlab/merge_request_templates/Release-Post.md
Due: none

fix broken link
  sites/uncategorized/source/blog/blog-posts/2022-08-30-the-ultimate-guide-to-software-supply-chain-security.html.md.erb
Due: none

Updating CD Template format
  sites/handbook/source/handbook/engineering/security/security-operations/sirt/sec-incident-response.html.md
Due: none

Search for environment name in the Environments overview page
  data/release_posts/unreleased/release-search-for-environment-name-in-the-environments-overview-p.yml
Due: lint release-post-items, rspec-unit

Support variable expansion on environment:auto_stop_in
  data/release_posts/unreleased/release-support-variable-expansion-on-environmentauto-stop-in.yml
Due: lint release-post-items, rspec-unit

Create API endpoint to update a Protected Environment
  data/release_posts/unreleased/release-create-api-endpoint-to-update-a-protected-environment.yml
Due: lint release-post-items, rspec-unit

Show tags related to deployed commit on Environment Page
  data/release_posts/unreleased/release-show-tags-related-to-deployed-commit-on-environment-page.yml
Due: lint release-post-items, rspec-unit

Better phrasing and organization
  data/release_posts/unreleased/ecosystem-integrate-shimo-as-wiki-alternative.yml
Due: lint release-post-items, rspec-unit

Adding TW issue board for visibility
  sites/handbook/source/handbook/sales/field-operations/customer-success-operations/index.html.md
Due: none

Runner Fleet direction updates - August 2022
  source/direction/verify/runner_fleet/index.html.md
Due: none

August Monitor Direction Update
  source/direction/monitor/template.html.md.erb
Due: none

Updated CAP with Updated ISO Cert
  sites/uncategorized/source/resources/customer-assurance-package/gitlab-cap-current.zip
Due: none
