Repository spicysoft/jp-www-gitlab-com: changes, and which GitLab CI jobs are due for each by the changed paths.
All: update-gitlab-project-releases-page, apply-redirects-prod, content-security-policy-checker, lint release-post-items, rubocop, check-handbook-edit-links, rspec-unit

Path conditions:
  update-gitlab-project-releases-page: any of: sites/uncategorized/source/releases/posts/*-released.html.md
  apply-redirects-prod: any of: data/redirects.yml, bin/apply-exact-match-redirects, bin/apply-regex-redirects
  content-security-policy-checker: any of: source/includes/layout/head.html.haml
  lint release-post-items: any of: data/release_posts/unreleased/*, data/categories.yml, data/stages.yml, source/images/unreleased/*
  rubocop: any of: *.rb, **/*.rb, .rubocop.yml, Dangerfile, *.rake, **/*.rake, bin/**/*, scripts/**/*, Rakefile
  check-handbook-edit-links: any of: data/monorepo.yml, helpers/custom_helpers.rb, **/edit_page.html.haml, **/footer.html.haml, **/handbook-page-toc.haml, **/check_handbook_edit_links.rb
  rspec-unit: any of: spec/**/*, **/*.{js,json,rb,yml}, .rspec

Partner Help Desk New Page
  sites/handbook/source/handbook/resellers/partner-support/index.html.md
Due: none

Google calendar feature similar to Calendly
  sites/handbook/source/handbook/tools-and-tips/other-apps/index.html.md
Due: none

Red Team handbook update: Remove technique handover
  sites/handbook/source/handbook/engineering/security/threat-management/red-team/index.html.md
Due: none

Adding Profile Picture Team Page
  sites/uncategorized/source/images/team/michaelbalzer.png
Due: none

Add a section on "Sustainable travel guidelines"
  sites/handbook/source/handbook/travel/index.html.md
Due: none

Enforce "Developer Certificates of Origin" on all contributions
  data/release_posts/unreleased/create-enforce-developer-certificates-of-origin-on-all-contributio.yml
  source/images/unreleased/enforce_developer_certificates_of_origin_on_all_contributions.png
Due: lint release-post-items, rspec-unit

Rename and compress image
  data/release_posts/unreleased/create-enforce-developer-certificates-of-origin-on-all-contributio.yml
  source/images/unreleased/enforce_dco_all_contributions.png
  source/images/unreleased/enforce_developer_certificates_of_origin_on_all_contributions.png
Due: lint release-post-items, rspec-unit

Applying all of aqualls changes
  data/release_posts/unreleased/create-enforce-developer-certificates-of-origin-on-all-contributio.yml
Due: lint release-post-items, rspec-unit

Adding explanation of the benefit
  data/release_posts/unreleased/create-enforce-developer-certificates-of-origin-on-all-contributio.yml
Due: lint release-post-items, rspec-unit

Corrected keyword Signed-off-by
  data/release_posts/unreleased/create-enforce-developer-certificates-of-origin-on-all-contributio.yml
Due: lint release-post-items, rspec-unit

Correct formatting for New Partner Help Desk Page
  sites/handbook/source/handbook/resellers/partner-support/index.html.md
Due: none

Add Q2 engineering offsite agenda
  sites/handbook/source/handbook/engineering/cto-staff/index.html.md.erb
Due: none

Add Threat Insights bug fix for 15.5
  data/release_posts/unreleased/bugs.yml
Due: lint release-post-items, rspec-unit

Add Threat Insights performance improvements for 15.5
  data/release_posts/unreleased/performance_improvements.yml
Due: lint release-post-items, rspec-unit

Replaces the dates for eng offsites with their respective quarters
  sites/handbook/source/handbook/engineering/cto-staff/index.html.md.erb
Due: none

Adds the Q3 offsite agenda
  sites/handbook/source/handbook/engineering/cto-staff/index.html.md.erb
Due: none

Renamed 3 year strategy pillars
  sites/uncategorized/source/company/strategy/index.html.md
Due: none

Update Eng handbook to remove outdated UX references
  sites/handbook/source/handbook/engineering/career-development/index.html.md
  sites/handbook/source/handbook/engineering/cto-staff/index.html.md.erb
  sites/handbook/source/handbook/engineering/index.html.md.erb
Due: none

Fix indentation for advocate training
  sites/uncategorized/source/company/strategy/index.html.md
Due: none

Updating virtual event ideas - prior to Holiday Season
  sites/handbook/source/handbook/eba/index.html.md
Due: none

Update Auth & Auth tech writer assignment
  data/stages.yml
Due: lint release-post-items, rspec-unit

Offboard team member - 2022-10-14
  .gitlab/CODEOWNERS
  data/team_members/person/j/jfuentes2.yml
  data/team_members/person/j/johnathan-h.yml
  data/team_members/person/j/julia-lake.yml
  data/team_members/person/l/laurencebierner.yml
  data/team_members/person/p/philippe-l.yml
  data/team_members/person/s/stevemanzuik.yml
  data/team_members/person/w/wszabo.yml
Due: rspec-unit

Adds `populate_ssat` job and other tips
  sites/handbook/source/handbook/support/workflows/how-to-respond-to-feedback.html.md
Due: none

Update macros Personal Data Access and Account Deletion Request broken links.
  sites/handbook/source/handbook/support/workflows/personal_data_access_account_deletion.html.md
Due: none

Adds Sr Mgr to Product Analyst Job family
  sites/uncategorized/source/job-families/product/product-analyst/index.html.md
Due: none

Adds Jarka as codeowner of the Certify engineering team page
  .gitlab/CODEOWNERS
Due: none

Update a Release through Release-CLI
  data/release_posts/unreleased/release-update-a-release-through-releasecli.yml
Due: lint release-post-items, rspec-unit

Provide Release Description from Tag in CI/CD pipeline variable
  data/release_posts/unreleased/release-provide-release-description-from-tag-in-cicd-pipeline-vari.yml
Due: lint release-post-items, rspec-unit

Add Govern:Security Policies bugs
  data/release_posts/unreleased/bugs.yml
Due: lint release-post-items, rspec-unit

Add Product Planning performance improvements
  data/release_posts/unreleased/performance_improvements.yml
Due: lint release-post-items, rspec-unit

Add Plan:Product Planning bug fixes
  data/release_posts/unreleased/bugs.yml
Due: lint release-post-items, rspec-unit

Add Plan stage bug fixes
  data/release_posts/unreleased/bugs.yml
Due: lint release-post-items, rspec-unit

Update Director, Corp Events job family
  sites/uncategorized/source/job-families/marketing/corporate-events/index.html.md
Due: none

Add sync call details to the Ginkgo page
  sites/handbook/source/handbook/support/support-global-groups/groups/ginkgo/index.html.md
  sites/handbook/source/handbook/support/support-global-groups/groups/ginkgo/sgg_ginkgo_party.png
Due: none

Make the Risk factor worksheet the primary method
  sites/handbook/source/handbook/support/workflows/account_verification.html.md
Due: none

Apply 1 suggestion(s) to 1 file(s)
  data/release_posts/unreleased/configure-build-agentk-in-fips-mode.yml
Due: lint release-post-items, rspec-unit

Apply 1 suggestion(s) to 1 file(s)
  data/release_posts/unreleased/configure-support-environment-deployment-tiers-in-gitlab-agent.yml
Due: lint release-post-items, rspec-unit

WIP: Update to PII removal request page
  sites/handbook/source/handbook/support/workflows/pii_removal_requests.html.md
Due: none

Update configure-support-environment-deployment-tiers-in-gitlab-agent.yml
  data/release_posts/unreleased/configure-support-environment-deployment-tiers-in-gitlab-agent.yml
Due: lint release-post-items, rspec-unit
