Repository spicysoft/jp-www-gitlab-com: changes, and which GitLab CI jobs are due for each by the changed paths.
All: update-gitlab-project-releases-page, apply-redirects-prod, content-security-policy-checker, lint release-post-items, rubocop, check-handbook-edit-links, rspec-unit

update-gitlab-project-releases-page:
  cache:
    key: web_ruby-3.0-bullseye
    policy: pull
    paths:
    - vendor
    - node_modules
  before_script:
  - bundle config set path vendor
  - bundle install --quiet --jobs 4
  - yarn install
  stage: content-generation
  needs: []
  script:
  - bundle exec rake release:ee:update_project_releases_page
  ...

apply-redirects-prod:
  cache:
    key: web_ruby-3.0-bullseye
    policy: pull
    paths:
    - vendor
    - node_modules
  before_script:
  - bundle config set path vendor
  - bundle install --quiet --jobs 4
  - yarn install
  stage: build-and-deploy
  environment:
    name: production
  script:
  - export FASTLY_SRV_ID=$FASTLY_SRV_ID_PROD
  ...

content-security-policy-checker:
  image: debian:stable-slim
  stage: test
  needs: []
  script:
  ...

lint release-post-items:
  cache:
    key: web_ruby-3.0-bullseye
    policy: pull
    paths:
    - vendor
    - node_modules
  before_script:
  - bundle config set path vendor
  - bundle install --quiet --jobs 4
  - yarn install
  stage: test
  needs: []
  script:
  - bundle exec bin/validate-release-post-item

rubocop:
  cache:
    key: web_ruby-3.0-bullseye
    policy: pull
    paths:
    - vendor
    - node_modules
  before_script:
  - bundle config set path vendor
  - bundle install --quiet --jobs 4
  - yarn install
  stage: test
  needs: []
  script:
  - bundle exec rubocop

check-handbook-edit-links:
  cache:
    key: web_ruby-3.0-bullseye
    policy: pull
    paths:
    - vendor
    - node_modules
  before_script:
  - bundle config set path vendor
  - bundle install --quiet --jobs 4
  - yarn install
  stage: test
  needs:
  - handbook-build-and-review-deploy
  script:
  - scripts/check-handbook-edit-links.rb

rspec-unit:
  cache:
    key: web_ruby-3.0-bullseye
    policy: pull
    paths:
    - vendor
    - node_modules
  before_script:
  - bundle config set path vendor
  - bundle install --quiet --jobs 4
  - yarn install
  stage: test
  needs: []
  script:
  - bundle exec rspec --tag ~@feature

Update ux redirects
  data/redirects.yml
  sites/handbook/source/handbook/people-group/general-onboarding/index.html.md
  sites/handbook/source/handbook/product-development-flow/index.html.md
  sites/handbook/source/handbook/product/product-manager-role/product-CDF-competencies/index.html.md
  sites/handbook/source/handbook/product/ux/category-maturity-scorecards/index.html.md
  sites/handbook/source/handbook/product/ux/ux-research-training/defining-goals-objectives-and-hypotheses/index.html.md
  sites/handbook/source/handbook/product/ux/ux-resources/index.html.md
Due: apply-redirects-prod, rspec-unit

Update refinement DRI issue pool
  sites/handbook/source/handbook/engineering/development/ops/configure/index.html.md.erb
Due: none

edits
  sites/uncategorized/source/blog/blog-posts/2022-09-23-less-headaches.html.md.erb
  sites/uncategorized/source/blog/blog-posts/2022-09-23-to-come.html.md.erb
Due: none

tweaks to frontmatter
  sites/uncategorized/source/blog/blog-posts/2022-09-23-less-headaches.html.md.erb
Due: none

changed date and small tweaks
  sites/uncategorized/source/blog/blog-posts/2022-09-26-less-headaches.html.md.erb
Due: none

tweaks
  sites/uncategorized/source/blog/blog-posts/2022-09-26-less-headaches.html.md.erb
Due: none

spacing issues fixed
  sites/uncategorized/source/blog/blog-posts/2022-09-26-less-headaches.html.md.erb
Due: none

Update ceo shadow schedule
  sites/handbook/source/handbook/ceo/shadow/index.html.md
Due: none

Clarifications on the Provision Direction page
  source/direction/fulfillment/provision/index.html.md
Due: none

Adding line item for encryption in transit
  sites/handbook/source/handbook/engineering/security/data-classification-standard.html.md
Due: none

Update Logging and Tracing Maturity
  data/categories.yml
Due: lint release-post-items, rspec-unit

Add discoto to list of projects
  data/projects.yml
Due: rspec-unit

Update Slippers link
  sites/handbook/source/handbook/marketing/digital-experience/major-league-hacking-fellows/index.html.md
Due: none

Moved Territory Ownership Content from Google Doc to External Handbook
  sites/handbook/source/handbook/sales/field-operations/gtm-resources/rules-of-engagement/index.html.md
Due: none

Refine Next Architecture WG problem statements and exit criteria
  sites/uncategorized/source/company/team/structure/working-groups/next-architecture-workflow/index.html.md
Due: none

Fixing the URL of an image
  sites/handbook/source/handbook/tools-and-tips/mac/index.html.md
Due: none

Govern stage updates to Threat Insights
  sites/handbook/source/handbook/engineering/development/sec/govern/threat-insights/index.html.md.erb
Due: none

🥷🏾 assigned all fellows to issues
  sites/handbook/source/handbook/marketing/digital-experience/major-league-hacking-fellows/index.html.md
Due: none

Update DIB Certification Training link from EdCast to LevelUp
  sites/uncategorized/source/company/culture/inclusion/index.html.md.erb
Due: none

Rename template index
  source/direction/monitor/observability/UI/index.html.md
  source/direction/monitor/observability/platform/index.html.md
Due: none

Updated the disclosure committee members
  sites/handbook/source/handbook/finance/committee-composition/index.html.md
Due: none

Add to resources: DevSecOps survey 2022 and 451 research
  data/resources.yml
Due: rspec-unit

Add link to "Content in Campaigns" HB page for full process of activating content
  sites/handbook/source/handbook/marketing/inbound-marketing/content/index.html.md
Due: none

Adding myself to David DeSanto's scheduling preferences.
  sites/handbook/source/handbook/eba/e-group-scheduling/index.html.md
Due: none

Updating E-group support to reflect my addition to the group.
  sites/handbook/source/handbook/eba/index.html.md
Due: none

UI should be lowercase
  source/direction/monitor/observability/ui/index.html.md
Due: none

Fix broken hyperlink url
  sites/handbook/source/handbook/marketing/account-based-marketing/index.html.md
Due: none

Adding Neha as the DRI for FM UKI
  sites/handbook/source/handbook/marketing/field-marketing/index.html.md
Due: none

Adrienne Rimmer, CEO Shadow Program Participant
  sites/handbook/source/handbook/ceo/shadow/index.html.md
Due: none

Reword Trademark section for clarity
  sites/handbook/source/handbook/legal/product/index.html.md
Due: none

Update tech stack for Workday, Culture Amp, and BambooHR
  data/tech_stack.yml
Due: rspec-unit

Update Eng Week in Review to Eng FYI
  sites/handbook/source/handbook/product/ux/ux-department-workflow/ux-showcase/index.html.md.erb
Due: none

Adding outbound wednesday initiative to Prospecting HB
  sites/handbook/source/handbook/sales/prospecting/index.html.md
Due: none

Update jdallmar.yml
  data/team_members/person/j/jdallmar.yml
  sites/uncategorized/source/images/team/jessica_dallmar.jpg
Due: rspec-unit

Creating consistency
  data/team_members/person/b/badnewsblair.yml
  data/team_members/person/j/jackibauer.yml
  data/team_members/person/j/justinmandell.yml
  data/team_members/person/m/mvanremmerden.yml
  data/team_members/person/r/rayana.yml
  data/team_members/person/t/taurie.yml
Due: rspec-unit

Update UK handbook with Papaya Payroll Process for Pension
  sites/handbook/source/handbook/total-rewards/benefits/general-and-entity-benefits/ltd-benefits-uk/index.html.md
Due: none

Update Aug-30 release post to include a CVE identifier
  sites/uncategorized/source/releases/posts/2022-08-30-critical-security-release-gitlab-15-3-2-released.html.md
Due: update-gitlab-project-releases-page

Resolve "Marketo Tech Stack Page"
  sites/handbook/source/handbook/marketing/marketing-operations/marketo/tech-stack-guide-marketo/index.html.md.erb
Due: none

Merge branch 'broncato-master-patch-10172' into 'master'
  data/tech_stack.yml
Due: rspec-unit

Added Workday tech stack guide link
  data/tech_stack.yml
Due: rspec-unit

Path conditions:
  update-gitlab-project-releases-page: any of: sites/uncategorized/source/releases/posts/*-released.html.md
  apply-redirects-prod: any of: data/redirects.yml, bin/apply-exact-match-redirects, bin/apply-regex-redirects
  content-security-policy-checker: any of: source/includes/layout/head.html.haml
  lint release-post-items: any of: data/release_posts/unreleased/*, data/categories.yml, data/stages.yml, source/images/unreleased/*
  rubocop: any of: *.rb, **/*.rb, .rubocop.yml, Dangerfile, *.rake, **/*.rake, bin/**/*, scripts/**/*, Rakefile
  check-handbook-edit-links: any of: data/monorepo.yml, helpers/custom_helpers.rb, **/edit_page.html.haml, **/footer.html.haml, **/handbook-page-toc.haml, **/check_handbook_edit_links.rb
  rspec-unit: any of: spec/**/*, **/*.{js,json,rb,yml}, .rspec
