Repository spicysoft/jp-www-gitlab-com: changes, and which GitLab CI jobs are due for each by the changed paths.
All: update-gitlab-project-releases-page, apply-redirects-prod, content-security-policy-checker, lint release-post-items, rubocop, check-handbook-edit-links, rspec-unit

Path conditions:
  update-gitlab-project-releases-page: any of: sites/uncategorized/source/releases/posts/*-released.html.md
  apply-redirects-prod: any of: data/redirects.yml, bin/apply-exact-match-redirects, bin/apply-regex-redirects
  content-security-policy-checker: any of: source/includes/layout/head.html.haml
  lint release-post-items: any of: data/release_posts/unreleased/*, data/categories.yml, data/stages.yml, source/images/unreleased/*
  rubocop: any of: *.rb, **/*.rb, .rubocop.yml, Dangerfile, *.rake, **/*.rake, bin/**/*, scripts/**/*, Rakefile
  check-handbook-edit-links: any of: data/monorepo.yml, helpers/custom_helpers.rb, **/edit_page.html.haml, **/footer.html.haml, **/handbook-page-toc.haml, **/check_handbook_edit_links.rb
  rspec-unit: any of: spec/**/*, **/*.{js,json,rb,yml}, .rspec

Update job families file
  data/people_group/job_families.yml
Due: rspec-unit

Fixing typos in department vision
  sites/handbook/source/handbook/engineering/development/index.html.md.erb
Due: none

Update Sams team entry file
  data/team_members/person/s/samkerr.yml
Due: rspec-unit

Adding missing "Updated Date" to CCPA notice
  sites/handbook/source/handbook/legal/privacy/california-privacy-notice.html.md
Due: none

Update links for security training
  sites/handbook/source/handbook/engineering/security/security-assurance/governance/sec-training.html.md
Due: none

[Merge Request (MR)]Creating new page for Channel Program Guide content
  sites/handbook/source/handbook/resellers/Channel-Program-Guide/index.html.md
Due: none

Update spokesperson Guidelines
  sites/handbook/source/handbook/marketing/corporate-marketing/corporate-communications/index.html.md
Due: none

Added link to values email and updated email alias to people connect
  sites/handbook/source/handbook/people-group/engineering/onboarding/index.html.md
Due: none

Add Matej as Interim Product Designer on Optimize
  data/stages.yml
  data/team_members/person/m/matej-l.yml
  sites/handbook/source/includes/product/_categories-names.erb
Due: lint release-post-items, rspec-unit

Initial draft of release post
  data/release_posts/unreleased/manage-allow-group-owners-to-update-group-members-saml-and-scim-ex.yml
Due: lint release-post-items, rspec-unit

adds EM Director
  sites/uncategorized/source/job-families/sales/job-professional-services-engagement-manager/index.html.md
Due: none

Make Bogdan Denkovych a GitLab backend maintainer
  data/team_members/person/b/bdenkovych.yml
Due: rspec-unit

Add link from MVP page to MVP section of release post
  data/mvps.yml
  sites/uncategorized/source/community/mvp/index.html.haml
Due: rspec-unit

Update CAP file
  sites/uncategorized/source/resources/customer-assurance-package/gitlab-cap-current.zip
Due: none

Updating Workflow automation availability dates and dogfooding status
  data/categories.yml
Due: lint release-post-items, rspec-unit

Update Arkose Techstack information
  data/tech_stack.yml
Due: rspec-unit

Fix typo under change subscription management contact
  sites/handbook/source/handbook/support/license-and-renewals/workflows/customersdot/associating_purchases.html.md
Due: none

Updating progress estimations for my DRI items
  sites/uncategorized/source/company/team/structure/working-groups/api-vision/index.html.md
Due: none

Describing the intent of Ginkgo status updates
  sites/handbook/source/handbook/support/support-global-groups/groups/ginkgo/index.html.md
Due: none

Updating some misspellings and rewording phrases in the table list
  sites/uncategorized/source/learn/certifications/public/index.html.md.erb
Due: none

Fix date for Govern stage
  data/stages.yml
Due: lint release-post-items, rspec-unit

Update data/team_members/person/m/matej-l.yml
  data/team_members/person/m/matej-l.yml
Due: rspec-unit

Update description for 10/13 Webinar
  sites/handbook/source/handbook/customer-success/csm/segment/scale/webinar-calendar/index.html.md
Due: none

Add 'commit email' user attribute to the API model for users, ensure it is writeable via the REST API
  data/release_posts/unreleased/manage-add-commit-email-user-attribute-to-the-api-model-for-users-.yml
Due: lint release-post-items, rspec-unit

Offboard team member - 2022-10-03
  .gitlab/CODEOWNERS
  data/team_members/person/c/cttran.yml
  data/team_members/person/m/monica-gomez.yml
  data/team_members/person/p/pdaliparthi.yml
Due: rspec-unit

Create Blog Posts “2022-10-03-the-many-routes-to-a-tech-career”
  sites/uncategorized/source/blog/blog-posts/2022-10-03-the-many-routes-to-a-tech-career.html.md.erb
Due: none

tweaks
  sites/uncategorized/source/blog/blog-posts/2022-10-04-the-many-routes-to-a-tech-career.html.md.erb
Due: none

added quotes
  sites/uncategorized/source/blog/blog-posts/2022-10-04-the-many-routes-to-a-tech-career.html.md.erb
Due: none

Remove legal benefit from leading org handbook page
  sites/handbook/source/handbook/marketing/community-relations/leading-organizations/index.html.md
Due: none

Update Definitive Guide to Self-Managed
  sites/handbook/source/handbook/business-technology/data-team/data-catalog/self-managed/index.html.md
Due: none

Updates for GitLab.com September 2022 Availability
  data/performance_indicators/infrastructure_department.yml
  sites/handbook/source/handbook/engineering/monitoring/index.html.md
Due: rspec-unit

Removed CEO Shadows from 2022-10-10 week
  sites/handbook/source/handbook/ceo/shadow/index.html.md
Due: none

Add new file for Anti-Fraud Policy
  sites/handbook/source/handbook/legal/anti-fraud-policy/index.html.md
Due: none

Update handbook pages on supporting community programs
  sites/handbook/source/handbook/marketing/community-relations/community-programs/education-program/index.html.md
  sites/handbook/source/handbook/support/workflows/special-programs.html.md
Due: none

Clarify the responsibilities in Needs Weight/Refinement Issue
  sites/handbook/source/handbook/engineering/development/ops/release/index.html.md.erb
  sites/handbook/source/handbook/engineering/development/ops/release/planning/index.html.md.erb
Due: none

Verify direction updates for September 2022
  source/direction/ops/tiering/_verify.erb
  source/direction/verify/includes/_verify-vision.erb
  source/direction/verify/verify/index.html.md.erb
Due: none

Update data/release_posts/unreleased/plan-update-default-insights-config-file-to-include-dora.yml
  data/release_posts/unreleased/plan-update-default-insights-config-file-to-include-dora.yml
Due: lint release-post-items, rspec-unit

Update reaction rotation process
  sites/handbook/source/handbook/engineering/development/sec/secure/composition-analysis/index.html.md.erb
Due: none

Ping ProdOps if a removal in minor version is a breaking change
  .gitlab/merge_request_templates/Release-Post.md
Due: none

Update_POC_lifecycle-marketing/emails-nurture
  sites/handbook/source/handbook/marketing/lifecycle-marketing/emails-nurture/index.html.md
Due: none
