Repository spicysoft/jp-www-gitlab-com: changes, and which GitLab CI jobs are due for each by the changed paths.
All: update-gitlab-project-releases-page, apply-redirects-prod, content-security-policy-checker, lint release-post-items, rubocop, check-handbook-edit-links, rspec-unit

update-gitlab-project-releases-page:
  cache:
    key: web_ruby-3.0-bullseye
    policy: pull
    paths:
    - vendor
    - node_modules
  before_script:
  - bundle config set path vendor
  - bundle install --quiet --jobs 4
  - yarn install
  stage: content-generation
  needs: []
  script:
  - bundle exec rake release:ee:update_project_releases_page
  ...

apply-redirects-prod:
  cache:
    key: web_ruby-3.0-bullseye
    policy: pull
    paths:
    - vendor
    - node_modules
  before_script:
  - bundle config set path vendor
  - bundle install --quiet --jobs 4
  - yarn install
  stage: build-and-deploy
  environment:
    name: production
  script:
  - export FASTLY_SRV_ID=$FASTLY_SRV_ID_PROD
  ...

content-security-policy-checker:
  image: debian:stable-slim
  stage: test
  needs: []
  script:
  ...

lint release-post-items:
  cache:
    key: web_ruby-3.0-bullseye
    policy: pull
    paths:
    - vendor
    - node_modules
  before_script:
  - bundle config set path vendor
  - bundle install --quiet --jobs 4
  - yarn install
  stage: test
  needs: []
  script:
  - bundle exec bin/validate-release-post-item

rubocop:
  cache:
    key: web_ruby-3.0-bullseye
    policy: pull
    paths:
    - vendor
    - node_modules
  before_script:
  - bundle config set path vendor
  - bundle install --quiet --jobs 4
  - yarn install
  stage: test
  needs: []
  script:
  - bundle exec rubocop

check-handbook-edit-links:
  cache:
    key: web_ruby-3.0-bullseye
    policy: pull
    paths:
    - vendor
    - node_modules
  before_script:
  - bundle config set path vendor
  - bundle install --quiet --jobs 4
  - yarn install
  stage: test
  needs:
  - handbook-build-and-review-deploy
  script:
  - scripts/check-handbook-edit-links.rb

rspec-unit:
  cache:
    key: web_ruby-3.0-bullseye
    policy: pull
    paths:
    - vendor
    - node_modules
  before_script:
  - bundle config set path vendor
  - bundle install --quiet --jobs 4
  - yarn install
  stage: test
  needs: []
  script:
  - bundle exec rspec --tag ~@feature

Apply 1 suggestion(s) to 1 file(s)
  sites/uncategorized/source/releases/posts/2022-08-22-gitlab-15-3-released.html.md
Due: update-gitlab-project-releases-page

Corrected typo
  sites/handbook/source/handbook/marketing/plan-fy22/index.html.md
Due: none

Apply 2 suggestion(s) to 1 file(s)
  sites/uncategorized/source/releases/posts/2022-08-22-gitlab-15-3-released.html.md
Due: update-gitlab-project-releases-page

Attempt to fix linter
  data/release_posts/15_3/deprecation-index-15-3.yml
Due: rspec-unit

Remove deprecation and removals from release post item generator
  lib/release_posts/helpers.rb
  lib/release_posts/input_parser.rb
  lib/release_posts/post.rb
  lib/release_posts/post_entry.rb
Due: rubocop, rspec-unit

Update Application Performance group label to remove the underscore
  sites/handbook/source/handbook/engineering/development/enablement/data_stores/application_performance/index.html.md.erb
Due: none

Add numerical goal for S1/S2 SUS fixes
  sites/uncategorized/source/company/okrs/fy23-q3/index.html.md
Due: none

Fullstack engineering manager reports to samgoldstein
  data/team_members/vacancy/fullstack-engineering-manager-package.yml
Due: rspec-unit

Automate content assembly
  .gitlab-ci.yml
  lib/tasks/release_post.rake
Due: rubocop, rspec-unit

Exchange Rate Iteration
  sites/handbook/source/handbook/total-rewards/compensation/index.html.md.erb
Due: none

Removes extraneous < symbols
  data/team_members/vacancy/backend-engineer-global-search-1.yml
  data/team_members/vacancy/backend-engineer-global-search-2.yml
  data/team_members/vacancy/backend-engineer-global-search-3.yml
Due: rspec-unit

Adds fullstack engineering manager monitor vacancy
  data/team_members/vacancy/fullstack-engineering-manager-monitor.yml
Due: rspec-unit

update team page for jhebden
  data/team_members/person/j/jhebden.yml
  sites/uncategorized/source/images/team/jhebden.png
Due: rspec-unit

Add link to informal communication page on Communication Handbook
  sites/handbook/source/handbook/communication/index.html.md
  sites/uncategorized/source/company/culture/all-remote/informal-communication/index.html.md
Due: none

テンプレートをJA化
  source/layouts/default.haml
  source/layouts/handbook-page-toc.haml
Due: check-handbook-edit-links

Merge branch 'sethgitlab-master-patch-63074' into 'master'
  data/projects.yml
Due: rspec-unit

Adds information about restrictions to the Security Engineering shadow page
  sites/handbook/source/handbook/engineering/security/security-shadow-sec-eng-res.html.md
Due: none

Localize headers
  sites/handbook/source/handbook/communication/index.html.md
Due: none

html_lang: ja
  sites/handbook/source/handbook/communication/index.html.md
Due: none

https://about.gitlab.com/ -> /
  sites/handbook/source/handbook/communication/index.html.md
Due: none

Add id in headers
  sites/uncategorized/source/company/culture/all-remote/meetings/index.html.md
Due: none

Translate: リモート会議とは？
  sites/uncategorized/source/company/culture/all-remote/meetings/index.html.md
Due: none

Translate: オールリモート企業での会議の正しいやり方10
  sites/uncategorized/source/company/culture/all-remote/meetings/index.html.md
Due: none

Fix markdown
  sites/uncategorized/source/company/culture/all-remote/meetings/index.html.md
Due: none

Translate headers
  sites/uncategorized/source/company/culture/all-remote/meetings/index.html.md
Due: none

Translate : 4. 全ての会議には議題を設けること
  sites/uncategorized/source/company/culture/all-remote/meetings/index.html.md
Due: none

アジェンダドキュメントの日本語版テンプレート
  sites/uncategorized/source/company/culture/all-remote/meetings/index.html.md
Due: none

Add automation tips with API libraries and scripts for storage analysis/cleanup to pricing FAQs
  sites/uncategorized/source/pricing/faq-efficient-free-tier/index.html.md
  sites/uncategorized/source/pricing/faq-paid-storage-transfer/index.html.md
Due: none

Updating Regeling Thuis form process
  sites/handbook/source/handbook/finance/expenses/index.html.md
Due: none

Add Thought Leadership Efficiency tips to Developer Evangelism handbook
  sites/handbook/source/handbook/marketing/community-relations/developer-evangelism/social-media/index.html.md
Due: none

Added commit cta
  sites/uncategorized/source/blog/blog-posts/2022-08-18-the-gitlab-guide-to-modern-software-testing.html.md.erb
Due: none

Add in Commit CTA
  sites/uncategorized/source/blog/blog-posts/2022-08-17-why-devops-and-zero-trust-go-together.html.md.erb
Due: none

Added Commit CTA
  sites/uncategorized/source/blog/blog-posts/2022-08-17-why-we-have-implemented-our-own-sshd-solution-on-gitlab-sass.html.md.erb
Due: none

add commit cta
  sites/uncategorized/source/blog/blog-posts/2022-08-16-eight-steps-to-prepare-your-team-for-a-devops-platform-migration.html.md.erb
Due: none

added commit cta
  sites/uncategorized/source/blog/blog-posts/2022-08-15-the-importance-of-compliance-in-devops.html.md.erb
Due: none

tweaks
  sites/uncategorized/source/blog/blog-posts/2022-08-19-gitlab-adds-further-measures-to-combat-credential-stuffing-and-other-types-of-platform-abuse.html.md.erb
Due: none

drive a new pipeline pass
  sites/uncategorized/source/blog/blog-posts/2022-08-19-gitlab-adds-further-measures-to-combat-credential-stuffing-and-other-types-of-platform-abuse.html.md.erb
Due: none

added arkose link
  sites/uncategorized/source/blog/blog-posts/2022-08-19-gitlab-adds-further-measures-to-combat-credential-stuffing-and-other-types-of-platform-abuse.html.md.erb
Due: none

Fix for the lack of completness icons
  sites/uncategorized/source/competition/index.html.haml
Due: none

Path conditions:
  update-gitlab-project-releases-page: any of: sites/uncategorized/source/releases/posts/*-released.html.md
  apply-redirects-prod: any of: data/redirects.yml, bin/apply-exact-match-redirects, bin/apply-regex-redirects
  content-security-policy-checker: any of: source/includes/layout/head.html.haml
  lint release-post-items: any of: data/release_posts/unreleased/*, data/categories.yml, data/stages.yml, source/images/unreleased/*
  rubocop: any of: *.rb, **/*.rb, .rubocop.yml, Dangerfile, *.rake, **/*.rake, bin/**/*, scripts/**/*, Rakefile
  check-handbook-edit-links: any of: data/monorepo.yml, helpers/custom_helpers.rb, **/edit_page.html.haml, **/footer.html.haml, **/handbook-page-toc.haml, **/check_handbook_edit_links.rb
  rspec-unit: any of: spec/**/*, **/*.{js,json,rb,yml}, .rspec
