Repository spicysoft/jp-www-gitlab-com: changes, and which GitLab CI jobs are due for each by the changed paths.
All: update-gitlab-project-releases-page, apply-redirects-prod, content-security-policy-checker, lint release-post-items, rubocop, check-handbook-edit-links, rspec-unit

update-gitlab-project-releases-page:
  cache:
    key: web_ruby-3.0-bullseye
    policy: pull
    paths:
    - vendor
    - node_modules
  before_script:
  - bundle config set path vendor
  - bundle install --quiet --jobs 4
  - yarn install
  stage: content-generation
  needs: []
  script:
  - bundle exec rake release:ee:update_project_releases_page
  ...

apply-redirects-prod:
  cache:
    key: web_ruby-3.0-bullseye
    policy: pull
    paths:
    - vendor
    - node_modules
  before_script:
  - bundle config set path vendor
  - bundle install --quiet --jobs 4
  - yarn install
  stage: build-and-deploy
  environment:
    name: production
  script:
  - export FASTLY_SRV_ID=$FASTLY_SRV_ID_PROD
  ...

content-security-policy-checker:
  image: debian:stable-slim
  stage: test
  needs: []
  script:
  ...

lint release-post-items:
  cache:
    key: web_ruby-3.0-bullseye
    policy: pull
    paths:
    - vendor
    - node_modules
  before_script:
  - bundle config set path vendor
  - bundle install --quiet --jobs 4
  - yarn install
  stage: test
  needs: []
  script:
  - bundle exec bin/validate-release-post-item

rubocop:
  cache:
    key: web_ruby-3.0-bullseye
    policy: pull
    paths:
    - vendor
    - node_modules
  before_script:
  - bundle config set path vendor
  - bundle install --quiet --jobs 4
  - yarn install
  stage: test
  needs: []
  script:
  - bundle exec rubocop

check-handbook-edit-links:
  cache:
    key: web_ruby-3.0-bullseye
    policy: pull
    paths:
    - vendor
    - node_modules
  before_script:
  - bundle config set path vendor
  - bundle install --quiet --jobs 4
  - yarn install
  stage: test
  needs:
  - handbook-build-and-review-deploy
  script:
  - scripts/check-handbook-edit-links.rb

rspec-unit:
  cache:
    key: web_ruby-3.0-bullseye
    policy: pull
    paths:
    - vendor
    - node_modules
  before_script:
  - bundle config set path vendor
  - bundle install --quiet --jobs 4
  - yarn install
  stage: test
  needs: []
  script:
  - bundle exec rspec --tag ~@feature

Update SET QE teams
  .gitlab/CODEOWNERS
  data/team_members/person/c/cahamed.yml
  data/team_members/person/e/erickbanks.yml
  data/team_members/person/g/grantyoung.yml
  data/team_members/person/h/hmuralidhar.yml
  data/team_members/person/j/john.mcdonnell.yml
  data/team_members/person/k/ksvoboda.yml
  data/team_members/person/m/mark-lapierre.yml
  data/team_members/person/n/nailiaiskhakova.yml
  data/team_members/person/n/nickwestbury.yml
  data/team_members/person/v/vincywilson.yml
  data/team_members/person/w/willmeek.yml
  sites/handbook/source/handbook/engineering/quality/quality-engineering/enablement-saas-platforms-qe-team/index.html.md.erb
  sites/handbook/source/handbook/engineering/quality/quality-engineering/index.html.md.erb
  sites/handbook/source/handbook/engineering/quality/quality-engineering/sec-modelops-qe-team/index.html.md.erb
Due: rspec-unit

Add FY23-Q2 PPS slide link
  sites/handbook/source/handbook/product/product-operations/surveys/index.html.md.erb
Due: none

Update technical-and-organizational-measures.html.md to include GitLab Dedicated
  sites/handbook/source/handbook/engineering/security/security-assurance/technical-and-organizational-measures.html.md
Due: none

DEX LaunchDarkly Handbook: Added dataLayer code example
  sites/handbook/source/handbook/marketing/digital-experience/engineering-ab-tests/index.html.md
Due: none

Apply 1 suggestion(s) to 1 file(s)
  data/release_posts/unreleased/monitor-links-widget-for-incident-issues.yml
Due: lint release-post-items, rspec-unit

Offboard team member - 2022-09-09
  data/pets.yml
Due: rspec-unit

Update rajendra-kadam.yml with trainee_maintainer
  data/team_members/person/r/rajendra-kadam.yml
Due: rspec-unit

Update PM link within MM Team Page Entry.
  data/team_members/person/s/sdr-matthew-m.yml
Due: rspec-unit

Update quality management maturity dates
  data/categories.yml
Due: lint release-post-items, rspec-unit

Add a link to Product Design Manager Workflows for findability
  sites/handbook/source/handbook/engineering/ux/how-we-work/index.html.md
Due: none

Additional Govern Updates
  sites/handbook/source/handbook/engineering/development/sec/delineate-sec.html.md.erb
  sites/handbook/source/handbook/product/categories/index.html.md.erb
Due: none

Creating provision direction page
  source/direction/fulfillment/index.html.md
  source/direction/fulfillment/provision/index.html.md
Due: none

Fixed broken link on a UXR handbook page
  sites/handbook/source/handbook/engineering/ux/ux-research-training/write-effective-screener/index.html.md
Due: none

Updating TAM title to new CSM title
  sites/handbook/source/handbook/sales/onboarding/graduating-SQS/index.html.md
Due: none

Add note on Leading Organization contributions
  sites/handbook/source/handbook/engineering/workflow/code-review/index.html.md.erb
Due: none

Updating 'technical account manager' to customer success manager
  sites/handbook/source/handbook/sales/onboarding/SQS-workshop/index.html.md
Due: none

Updating TAM titles to CSM titles
  sites/handbook/source/handbook/sales/onboarding/index.html.md
Due: none

Change bug bounty council voting
  sites/handbook/source/handbook/engineering/security/security-engineering-and-research/application-security/runbooks/hackerone-process.html.md
Due: none

Add timeline event from comment
  data/release_posts/unreleased/monitor-add-timeline-event-from-comment.yml
  source/images/unreleased/add_timeline_event_from_comment.png
Due: lint release-post-items, rspec-unit

Updated reviewer values, because they don't align with our approval policies.
  sites/handbook/source/handbook/engineering/workflow/reviewer-values/index.html.md.erb
Due: none

Remove IC gearing reference as it is no longer relevant.
  sites/handbook/source/handbook/engineering/development/ops/monitor/observability/index.html.md.erb
Due: none

Add recommendations for Reforge
  sites/handbook/source/handbook/product/product-manager-role/learning-and-development/index.html.md.erb
Due: none

Team Page picture and title update for Jay Bahar
  data/team_members/person/j/jbahar.yml
  sites/uncategorized/source/images/team/jaybahar.jpg
Due: rspec-unit

Add my info to webpage
  data/team_members/person/a/atan7.yml
  sites/uncategorized/source/images/team/alphonsustan.jpeg
Due: rspec-unit

Update bc we already are public
  sites/handbook/source/handbook/eba/ceo-scheduling/index.html.md
Due: none

Update sites/handbook/source/handbook/hiring/recruiting-alignment/index.html.md
  sites/handbook/source/handbook/hiring/recruiting-alignment/index.html.md
Due: none

Adding Dave Steer's README
  sites/handbook/source/handbook/marketing/readmes/dave-steer.html.md
  sites/handbook/source/handbook/marketing/readmes/index.html.md
Due: none

Fixed planning link on Sec > Govern > Threat Insights
  sites/handbook/source/handbook/engineering/development/sec/govern/threat-insights/index.html.md.erb
Due: none

Clarify WILL CHURN is a 360 attribute
  sites/handbook/source/handbook/customer-success/tam/health-score-triage/index.html.md
Due: none

Update EBA handbook page with execs they support
  sites/handbook/source/handbook/eba/index.html.md
Due: none

Add backend to suffix to the trainee maintainer
  data/team_members/person/r/rajendra-kadam.yml
Due: rspec-unit

Remove wrong SSHD explanation from blog post
  sites/uncategorized/source/blog/blog-posts/2022-08-17-why-we-have-implemented-our-own-sshd-solution-on-gitlab-sass.html.md.erb
Due: none

MR: Update RLOA process to FP&A HB
  sites/handbook/source/handbook/finance/financial-planning-and-analysis/index.html.md
Due: none

Add Business Technology philosophy to page and link to tech stack
  sites/handbook/source/handbook/business-technology/index.html.md
Due: none

H1 process tidyup
  sites/handbook/source/handbook/engineering/security/security-engineering-and-research/application-security/runbooks/hackerone-process.html.md
Due: none

Lock terrafom-image on the terraform templates
  data/release_posts/unreleased/configure-lock-terrafomimage-on-the-terraform-templates.yml
Due: lint release-post-items, rspec-unit

Update configure-lock-terrafomimage-on-the-terraform-templates.yml
  data/release_posts/unreleased/configure-lock-terrafomimage-on-the-terraform-templates.yml
Due: lint release-post-items, rspec-unit

POC: Helm support
  data/release_posts/unreleased/configure-poc-helm-support.yml
Due: lint release-post-items, rspec-unit

Update title
  data/release_posts/unreleased/configure-poc-helm-support.yml
Due: lint release-post-items, rspec-unit

Add Release post for Pages Pipeline Wizard
  data/features.yml
  data/release_posts/unreleased/create-use-pipeline-wizard-for-pages.yml
  source/images/unreleased/create-pages-onboarding.png
Due: lint release-post-items, rspec-unit

Path conditions:
  update-gitlab-project-releases-page: any of: sites/uncategorized/source/releases/posts/*-released.html.md
  apply-redirects-prod: any of: data/redirects.yml, bin/apply-exact-match-redirects, bin/apply-regex-redirects
  content-security-policy-checker: any of: source/includes/layout/head.html.haml
  lint release-post-items: any of: data/release_posts/unreleased/*, data/categories.yml, data/stages.yml, source/images/unreleased/*
  rubocop: any of: *.rb, **/*.rb, .rubocop.yml, Dangerfile, *.rake, **/*.rake, bin/**/*, scripts/**/*, Rakefile
  check-handbook-edit-links: any of: data/monorepo.yml, helpers/custom_helpers.rb, **/edit_page.html.haml, **/footer.html.haml, **/handbook-page-toc.haml, **/check_handbook_edit_links.rb
  rspec-unit: any of: spec/**/*, **/*.{js,json,rb,yml}, .rspec
