Repository spicysoft/jp-www-gitlab-com: changes, and which GitLab CI jobs are due for each by the changed paths.
All: update-gitlab-project-releases-page, apply-redirects-prod, content-security-policy-checker, lint release-post-items, rubocop, check-handbook-edit-links, rspec-unit

update-gitlab-project-releases-page:
  cache:
    key: web_ruby-3.0-bullseye
    policy: pull
    paths:
    - vendor
    - node_modules
  before_script:
  - bundle config set path vendor
  - bundle install --quiet --jobs 4
  - yarn install
  stage: content-generation
  needs: []
  script:
  - bundle exec rake release:ee:update_project_releases_page
  ...

apply-redirects-prod:
  cache:
    key: web_ruby-3.0-bullseye
    policy: pull
    paths:
    - vendor
    - node_modules
  before_script:
  - bundle config set path vendor
  - bundle install --quiet --jobs 4
  - yarn install
  stage: build-and-deploy
  environment:
    name: production
  script:
  - export FASTLY_SRV_ID=$FASTLY_SRV_ID_PROD
  ...

content-security-policy-checker:
  image: debian:stable-slim
  stage: test
  needs: []
  script:
  ...

lint release-post-items:
  cache:
    key: web_ruby-3.0-bullseye
    policy: pull
    paths:
    - vendor
    - node_modules
  before_script:
  - bundle config set path vendor
  - bundle install --quiet --jobs 4
  - yarn install
  stage: test
  needs: []
  script:
  - bundle exec bin/validate-release-post-item

rubocop:
  cache:
    key: web_ruby-3.0-bullseye
    policy: pull
    paths:
    - vendor
    - node_modules
  before_script:
  - bundle config set path vendor
  - bundle install --quiet --jobs 4
  - yarn install
  stage: test
  needs: []
  script:
  - bundle exec rubocop

check-handbook-edit-links:
  cache:
    key: web_ruby-3.0-bullseye
    policy: pull
    paths:
    - vendor
    - node_modules
  before_script:
  - bundle config set path vendor
  - bundle install --quiet --jobs 4
  - yarn install
  stage: test
  needs:
  - handbook-build-and-review-deploy
  script:
  - scripts/check-handbook-edit-links.rb

rspec-unit:
  cache:
    key: web_ruby-3.0-bullseye
    policy: pull
    paths:
    - vendor
    - node_modules
  before_script:
  - bundle config set path vendor
  - bundle install --quiet --jobs 4
  - yarn install
  stage: test
  needs: []
  script:
  - bundle exec rspec --tag ~@feature

Adds AMER pooled SMB Chatter
  sites/handbook/source/handbook/support/license-and-renewals/workflows/working_with_sales.html.md
Due: none

Make formatting updates
  sites/handbook/source/handbook/engineering/index.html.md.erb
Due: none

Update job families file
  data/people_group/job_families.yml
Due: rspec-unit

Update Tender Offers with Renewal clarification
  sites/handbook/source/handbook/sales/field-operations/channel-operations/index.html.md
Due: none

Phased rollout for remaining exit criteria
  sites/uncategorized/source/company/team/structure/working-groups/cross-functional-prioritization/index.html.md
Due: none

Add new subtypes to increase coverage of subtype application on issues and MRs
  sites/handbook/source/handbook/engineering/metrics/index.html.md.erb
Due: none

Add video on Auto SD Campaign from 8-18-22
  sites/handbook/source/handbook/sales/training/sales-enablement-sessions/index.html.md
Due: none

Add video on Auto SD campaign from 8-18-22
  sites/handbook/source/handbook/sales/training/index.html.md
Due: none

Updating General Onboarding page to People Connect
  sites/handbook/source/handbook/people-group/general-onboarding/index.html.md
Due: none

Update L&D information and move DIB issue tracker to correct column
  sites/handbook/source/handbook/people-group/index.html.md.erb
Due: none

Resolve "Add Workday Certificate Upload Instructions for WILL Interactive"
  sites/handbook/source/handbook/people-group/learning-and-development/compliance-courses/index.html.md
Due: none

Clarify Non-Exempt Codeowners
  .gitlab/CODEOWNERS
Due: none

Updating my profile.
  data/team_members/person/t/trixiepeyer.yml
Due: rspec-unit

Clarify not to use e-group@gitlab.com in emails to board
  sites/handbook/source/handbook/board-meetings/index.html.md.erb
Due: none

Using Seed, Sheetload, and Driveload files in the EDM
  sites/handbook/source/handbook/business-technology/data-team/platform/edw/index.html.md
Due: none

Update snippets on PM Toolkit page
  sites/handbook/source/handbook/business-technology/data-team/data-catalog/xmau-analysis/product-manager-toolkit.html.md.erb
Due: none

Update page description formatting to align to other job family pages
  sites/uncategorized/source/job-families/product/product-operations/index.html.md
Due: none

Upon further investigation, this won't be available for SaaS
  data/release_posts/unreleased/manage-define-password-complexity-policy.yml
Due: lint release-post-items, rspec-unit

Update the PSE Links to Blair's updated page.
  sites/handbook/source/handbook/resellers/services/index.html.md
Due: none

Add Tableau Snowflake & dashboard access & eLearning trouble shooting
  sites/handbook/source/handbook/business-technology/data-team/platform/tableau/index.html.md
Due: none

Resolve "Update Data Team Handbook with Sisense Link"
  sites/handbook/source/handbook/business-technology/data-team/index.html.md.erb
Due: none

Updating GTM Field Update HB Section
  sites/handbook/source/handbook/sales/sales-meetings/index.html.md
Due: none

Add navigation page to DEx handbook
  sites/handbook/source/handbook/marketing/digital-experience/index.html.md
  sites/handbook/source/handbook/marketing/digital-experience/navigation-repository/index.html.md
Due: none

Added new page on tracking UX research projects
  sites/handbook/source/handbook/engineering/ux/ux-research-training/tracking-research-projects/index.html.md
  sites/handbook/source/handbook/engineering/ux/ux-research/index.html.md
Due: none

adds how to expense speaker travel
  sites/handbook/source/handbook/marketing/events/index.html.md
Due: none

Changes to Home Office Equipment and Supplies Handbook Page
  sites/handbook/source/handbook/finance/procurement/office-equipment-supplies/index.html.md
Due: none

Update Psychological Safety Course link to Level Up
  sites/uncategorized/source/company/culture/inclusion/erg-guide/index.html.md
Due: none

Add social games/game show as method for Informal Communication and culture building
  sites/uncategorized/source/company/culture/all-remote/informal-communication/index.html.md
  source/images/all-remote/luna_park_game_show_gitlab.jpg
Due: none

Update nokogiri
  Gemfile
  Gemfile.lock
Due: none

Update GMP role and reporting structure
  data/team_members/person/j/jensen-stava.yml
  data/team_members/person/t/taylormccaslin.yml
Due: rspec-unit

Replace People Experience / people-exp@gitlab.com with People Connect / people-connect@gitlab.com
  data/people_group/calendar.yml
  data/team_members/person/a/ashleyjones.yml
  data/tech_stack.yml
  sites/handbook/source/handbook/business-technology/index.html.md
  sites/handbook/source/handbook/customer-success/solutions-architects/sa-onboarding/index.html.md
  sites/handbook/source/handbook/git-page-update/index.html.md.erb
  sites/handbook/source/handbook/group-conversations/index.html.md
  sites/handbook/source/handbook/marketing/marketing-operations/youtube/index.html.md
  sites/handbook/source/handbook/marketing/revenue-marketing/sdr/sdr-manager-resources/index.html.md
  sites/handbook/source/handbook/people-group/contracts-probation-periods/index.html.md.erb
  sites/handbook/source/handbook/people-group/engineering/employment-issues/index.html.md
  sites/handbook/source/handbook/people-group/engineering/gh-bhr-sync/index.html.md
  sites/handbook/source/handbook/people-group/engineering/onboarding/index.html.md
  sites/handbook/source/handbook/people-group/engineering/slack-integrations/index.html.md
  sites/handbook/source/handbook/people-group/general-onboarding/index.html.md
  sites/handbook/source/handbook/people-group/general-onboarding/onboarding-buddies/index.html.md
  sites/handbook/source/handbook/people-group/general-onboarding/onboarding-processes/index.html.md.erb
  sites/handbook/source/handbook/people-group/general-onboarding/tanewki-tips/index.html.md
  sites/handbook/source/handbook/people-group/offboarding/faq.html.md
  sites/handbook/source/handbook/people-group/offboarding/index.html.md
  sites/handbook/source/handbook/people-group/offboarding/offboarding_guidelines/index.html.md
  sites/handbook/source/handbook/people-group/people-connect-shadow-program/index.html.md
  sites/handbook/source/handbook/people-group/relocation/index.html.md.erb
  sites/handbook/source/handbook/product/product-manager-role/index.html.md.erb
  sites/handbook/source/handbook/support/support-ops/workflows/provisioning_deprovisioning.html.md
  sites/handbook/source/handbook/total-rewards/benefits/general-and-entity-benefits/ltd-benefits-uk/index.html.md
  sites/handbook/source/handbook/total-rewards/benefits/parental-leave-toolkit/index.html.md
  sites/uncategorized/source/company/culture/inclusion/tmrg-gitlab-women/index.html.md
  sites/uncategorized/source/job-families/people-ops/leadership-people-operations-tech-analytics/index.html.md
Due: rspec-unit

Fix table formatting and suggest breaking up paragraph into bulleted list
  sites/handbook/source/handbook/people-group/engagement/index.html.md
Due: none

Adding Additional New Jersey Posters
  sites/handbook/source/handbook/labor-and-employment-notices/index.html.md
Due: none

Apply 1 suggestion(s) to 1 file(s)
  sites/uncategorized/source/releases/posts/2022-08-22-gitlab-15-3-released.html.md
Due: update-gitlab-project-releases-page

Apply 1 suggestion(s) to 1 file(s)
  data/release_posts/15_3/plan-create-child-tasks-within-issues.yml
Due: rspec-unit

Add deprecation index
  data/release_posts/15_3/deprecation-index-15-3.yml
Due: rspec-unit

Fixed incredibly small typo
  sites/handbook/source/handbook/engineering/development/ops/package/index.html.md.erb
Due: none

Edit Building an Inclusive Remote Culture page
  sites/uncategorized/source/company/culture/inclusion/building-diversity-and-inclusion/index.html.md
Due: none

Apply 2 suggestion(s) to 1 file(s)
  sites/uncategorized/source/releases/posts/2022-08-22-gitlab-15-3-released.html.md
Due: update-gitlab-project-releases-page

Path conditions:
  update-gitlab-project-releases-page: any of: sites/uncategorized/source/releases/posts/*-released.html.md
  apply-redirects-prod: any of: data/redirects.yml, bin/apply-exact-match-redirects, bin/apply-regex-redirects
  content-security-policy-checker: any of: source/includes/layout/head.html.haml
  lint release-post-items: any of: data/release_posts/unreleased/*, data/categories.yml, data/stages.yml, source/images/unreleased/*
  rubocop: any of: *.rb, **/*.rb, .rubocop.yml, Dangerfile, *.rake, **/*.rake, bin/**/*, scripts/**/*, Rakefile
  check-handbook-edit-links: any of: data/monorepo.yml, helpers/custom_helpers.rb, **/edit_page.html.haml, **/footer.html.haml, **/handbook-page-toc.haml, **/check_handbook_edit_links.rb
  rspec-unit: any of: spec/**/*, **/*.{js,json,rb,yml}, .rspec
