Repository spicysoft/jp-www-gitlab-com: changes, and which GitLab CI jobs are due for each by the changed paths.
All: update-gitlab-project-releases-page, apply-redirects-prod, content-security-policy-checker, lint release-post-items, rubocop, check-handbook-edit-links, rspec-unit

update-gitlab-project-releases-page:
  cache:
    key: web_ruby-3.0-bullseye
    policy: pull
    paths:
    - vendor
    - node_modules
  before_script:
  - bundle config set path vendor
  - bundle install --quiet --jobs 4
  - yarn install
  stage: content-generation
  needs: []
  script:
  - bundle exec rake release:ee:update_project_releases_page
  ...

apply-redirects-prod:
  cache:
    key: web_ruby-3.0-bullseye
    policy: pull
    paths:
    - vendor
    - node_modules
  before_script:
  - bundle config set path vendor
  - bundle install --quiet --jobs 4
  - yarn install
  stage: build-and-deploy
  environment:
    name: production
  script:
  - export FASTLY_SRV_ID=$FASTLY_SRV_ID_PROD
  ...

content-security-policy-checker:
  image: debian:stable-slim
  stage: test
  needs: []
  script:
  ...

lint release-post-items:
  cache:
    key: web_ruby-3.0-bullseye
    policy: pull
    paths:
    - vendor
    - node_modules
  before_script:
  - bundle config set path vendor
  - bundle install --quiet --jobs 4
  - yarn install
  stage: test
  needs: []
  script:
  - bundle exec bin/validate-release-post-item

rubocop:
  cache:
    key: web_ruby-3.0-bullseye
    policy: pull
    paths:
    - vendor
    - node_modules
  before_script:
  - bundle config set path vendor
  - bundle install --quiet --jobs 4
  - yarn install
  stage: test
  needs: []
  script:
  - bundle exec rubocop

check-handbook-edit-links:
  cache:
    key: web_ruby-3.0-bullseye
    policy: pull
    paths:
    - vendor
    - node_modules
  before_script:
  - bundle config set path vendor
  - bundle install --quiet --jobs 4
  - yarn install
  stage: test
  needs:
  - handbook-build-and-review-deploy
  script:
  - scripts/check-handbook-edit-links.rb

rspec-unit:
  cache:
    key: web_ruby-3.0-bullseye
    policy: pull
    paths:
    - vendor
    - node_modules
  before_script:
  - bundle config set path vendor
  - bundle install --quiet --jobs 4
  - yarn install
  stage: test
  needs: []
  script:
  - bundle exec rspec --tag ~@feature

Add details about blameless will churn
  sites/handbook/source/handbook/customer-success/csm/health-score-triage/index.html.md
Due: none

Update sites/handbook/source/handbook/resellers/index.html.md
  sites/handbook/source/handbook/resellers/index.html.md
Due: none

Update maintainer mentor entry for tigerwnz
  data/maintainer_mentorship.yml
Due: rspec-unit

Update Colorado Paid Family Medical Insurance Notice poster
  sites/handbook/source/handbook/labor-and-employment-notices/index.html.md
Due: none

Update Oregon's poster requirements - Paid Leave Notice poster
  sites/handbook/source/handbook/labor-and-employment-notices/index.html.md
Due: none

Updating kick-off title and youtube links for 15.6 release
  source/direction/kickoff/template.html.md.erb
Due: none

Observability Direction Improvement from Feedback
  source/direction/monitor/observability/data-management/index.html.md
  source/direction/monitor/observability/data-visualization/index.html.md
  source/direction/monitor/observability/index.html.md
  source/direction/monitor/observability/platform/index.html.md
Due: none

Update to October Kickoff highlight
  sites/handbook/source/handbook/product/categories/ops/index.html.md.erb
Due: none

Add descriptive text above the Security Alerts form so the newsletter and security forms align.
  sites/uncategorized/source/company/contact/index.html.haml
Due: none

Update low-code/no-code handbook with a newly proposed direction
  .gitlab/CODEOWNERS
  sites/handbook/source/handbook/engineering/incubation/no-code/index.html.md
Due: none

Update source/direction/fulfillment/purchase/index.html.md
  source/direction/fulfillment/purchase/index.html.md
Due: none

Update CSM onboarding page
  sites/handbook/source/handbook/customer-success/csm/csm-onboarding/index.html.md
Due: none

Update Marketing Finance handbook page with Q4 important dates
  sites/handbook/source/handbook/finance/financial-planning-and-analysis/marketing-finance/index.html.md
Due: none

Update technical account manager (TAM) to customer success manager (CSM)
  sites/handbook/source/handbook/support/license-and-renewals/workflows/customersdot/mechanizer.html.md
  sites/handbook/source/handbook/support/on-call/index.html.md
  sites/handbook/source/handbook/support/partnerships/alliance.html.md
  sites/handbook/source/handbook/support/partnerships/jihu.html.md
  sites/handbook/source/handbook/support/partnerships/select.html.md
  sites/handbook/source/handbook/support/support-ops/documentation/zendesk_global_organizations.html.md
  sites/handbook/source/handbook/support/support-ops/documentation/zendesk_us_federal_organizations.html.md
  sites/handbook/source/handbook/support/support-ops/training/liquid_language.html.md
  sites/handbook/source/handbook/support/support-ops/training/organization_management.html.md
  sites/handbook/source/handbook/support/support-ops/training/salesforce-account-page.html.md
  sites/handbook/source/handbook/support/support-ops/workflows/organization_contact_limit_exception.html.md
  sites/handbook/source/handbook/support/workflows/account_verification.html.md
  sites/handbook/source/handbook/support/workflows/associating_needs_org_tickets_with_orgs.html.md
  sites/handbook/source/handbook/support/workflows/communication-tips.html.md
  sites/handbook/source/handbook/support/workflows/customer_emergencies_workflows.html.md
  sites/handbook/source/handbook/support/workflows/emergency-to-escalation-process.html.md
  sites/handbook/source/handbook/support/workflows/federal_tickets.html.md
  sites/handbook/source/handbook/support/workflows/feedbacks_and_complaints.html.md
  sites/handbook/source/handbook/support/workflows/gpt_quick_start.html.md
  sites/handbook/source/handbook/support/workflows/how-to-respond-to-feedback.html.md
  sites/handbook/source/handbook/support/workflows/saas_feature_flags.html.md
  sites/handbook/source/handbook/support/workflows/support-sales-escalations.html.md
  sites/handbook/source/handbook/support/workflows/upgrade-assistance.html.md
Due: none

updates Nikki's handle
  data/tech_stack.yml
Due: rspec-unit

Adding mark bradatsch information to the team page
  data/team_members/person/m/markbradatsch.yml
  sites/uncategorized/source/images/team/mbradatsch.jpg
Due: rspec-unit

Update/Add Louise Choi to GitLab team page
  data/team_members/person/l/louisejwc.yml
  sites/uncategorized/source/images/team/louisechoi.png
Due: rspec-unit

Fix table border
  sites/handbook/source/handbook/finance/procurement/office-equipment-supplies/index.html.md
Due: none

Add new team members for 2022-10-17
  data/team_members/person/a/andywh.yml
  data/team_members/person/a/aruhaak.yml
  data/team_members/person/b/bastirehm.yml
  data/team_members/person/c/ckroutil.yml
  data/team_members/person/j/jaco-gouws.yml
  data/team_members/person/j/jbrethauer.yml
  data/team_members/person/j/jcappello.yml
  data/team_members/person/k/kiaarmstrong.yml
  data/team_members/person/l/lfarrer.yml
  data/team_members/person/m/mgass1.yml
  data/team_members/person/n/ndevarajan.yml
  data/team_members/person/o/ondriamalaza.yml
  data/team_members/person/y/yyugitlab.yml
Due: rspec-unit

Adding admin detail to Level Up page
  sites/handbook/source/handbook/people-group/learning-and-development/level-up/index.html.md
Due: none

Fix small typo on top 2021 contributors
  data/top_contributors_2021.yml
Due: rspec-unit

[Merge Request] Correcting bullet alignments on Partner Program Guide Page
  sites/handbook/source/handbook/resellers/Channel-Program-Guide/index.html.md
Due: none

[Merge Request] Channel tools and resources NEW page
  sites/handbook/source/handbook/resellers/channel-tools-resources/index.html.md
Due: none

Implement a stage-level engineering team page for Plan
  .gitlab/CODEOWNERS
  data/redirects.yml
  sites/handbook/source/handbook/product/categories/plan/index.html.md.erb
Due: apply-redirects-prod, rspec-unit

Update sites/handbook/source/handbook/engineering/incubation/real-time-collaboration/index.html.md
  sites/handbook/source/handbook/engineering/incubation/real-time-collaboration/index.html.md
Due: none

change date
  sites/uncategorized/source/blog/blog-posts/2022-10-19-how-modern-devops-practices-are-changing-the-operations-role.html.md.erb
Due: none

Updates themed call history
  sites/handbook/source/handbook/engineering/frontend/index.html.md
Due: none

Fix broken links and include missing changes
  sites/handbook/source/handbook/marketing/community-relations/code-contributor-program/index.html.md.erb
  sites/handbook/source/handbook/marketing/community-relations/code-contributor-program/operations/index.html.md.erb
Due: none

Add guide for contacting third-party
  sites/handbook/source/handbook/legal/policies/product-third-party-trademarks-guidelines/index.html.md
Due: none

Exclude projects w/ existing processing from auto review
  sites/handbook/source/handbook/engineering/quality/triage-operations/index.html.md
Due: none

Move Security Policy Priorities to Handbook
  data/product_priorities.yml
  source/direction/govern/security_policies/security_policy_management/index.html.md.erb
Due: rspec-unit

Add video to Interview Plan instructions
  sites/handbook/source/handbook/hiring/talent-acquisition-framework/req-creation/index.html.md
Due: none

Update direction page review cycle
  source/direction/enablement/reviews/index.html.md
Due: none

Removing my locality for privacy
  data/team_members/person/o/ofernandez2.yml
Due: rspec-unit

Remove inaccurate steps from CES contract process
  sites/handbook/source/handbook/hiring/talent-acquisition-framework/coordinator/index.html.md
Due: none

blog post: a browser based dast feature announcement
  sites/uncategorized/source/blog/blog-posts/2022-10-19-browser-based-dast-feature-announcement.html.md.erb
  source/images/blogimages/browser-based-dast-feature-announcement/vek-labs-e8ofKlNHdsg-unsplash.jpg
Due: none

[Merge Request] Channel-tools-resources page for minor TOC and Bolding issues
  sites/handbook/source/handbook/resellers/channel-tools-resources/index.html.md
Due: none

Add carlad-gl as mentee for maintainer mentorship
  data/maintainer_mentorship.yml
Due: rspec-unit

Manager update direct report reports_to field
  data/team_members/person/b/bzhang7.yml
Due: rspec-unit

Update Jordan Monyhan team page
  data/team_members/person/j/jmonyhan.yml
  sites/uncategorized/source/images/team/jordanmonyhan.jpg
Due: rspec-unit

Path conditions:
  update-gitlab-project-releases-page: any of: sites/uncategorized/source/releases/posts/*-released.html.md
  apply-redirects-prod: any of: data/redirects.yml, bin/apply-exact-match-redirects, bin/apply-regex-redirects
  content-security-policy-checker: any of: source/includes/layout/head.html.haml
  lint release-post-items: any of: data/release_posts/unreleased/*, data/categories.yml, data/stages.yml, source/images/unreleased/*
  rubocop: any of: *.rb, **/*.rb, .rubocop.yml, Dangerfile, *.rake, **/*.rake, bin/**/*, scripts/**/*, Rakefile
  check-handbook-edit-links: any of: data/monorepo.yml, helpers/custom_helpers.rb, **/edit_page.html.haml, **/footer.html.haml, **/handbook-page-toc.haml, **/check_handbook_edit_links.rb
  rspec-unit: any of: spec/**/*, **/*.{js,json,rb,yml}, .rspec
