Repository spicysoft/jp-www-gitlab-com: changes, and which GitLab CI jobs are due for each by the changed paths.
All: update-gitlab-project-releases-page, apply-redirects-prod, content-security-policy-checker, lint release-post-items, rubocop, check-handbook-edit-links, rspec-unit

Path conditions:
  update-gitlab-project-releases-page: any of: sites/uncategorized/source/releases/posts/*-released.html.md
  apply-redirects-prod: any of: data/redirects.yml, bin/apply-exact-match-redirects, bin/apply-regex-redirects
  content-security-policy-checker: any of: source/includes/layout/head.html.haml
  lint release-post-items: any of: data/release_posts/unreleased/*, data/categories.yml, data/stages.yml, source/images/unreleased/*
  rubocop: any of: *.rb, **/*.rb, .rubocop.yml, Dangerfile, *.rake, **/*.rake, bin/**/*, scripts/**/*, Rakefile
  check-handbook-edit-links: any of: data/monorepo.yml, helpers/custom_helpers.rb, **/edit_page.html.haml, **/footer.html.haml, **/handbook-page-toc.haml, **/check_handbook_edit_links.rb
  rspec-unit: any of: spec/**/*, **/*.{js,json,rb,yml}, .rspec

API Endpoint for deleting attachments from project
  data/release_posts/unreleased/plan-api-endpoint-for-deleting-attachments-from-project.yml
Due: lint release-post-items, rspec-unit

Boards: Display health status on issue cards
  data/release_posts/unreleased/plan-boards-display-health-status-on-issue-cards.yml
Due: lint release-post-items, rspec-unit

Availability Update for August 2022
  data/performance_indicators/infrastructure_department.yml
  sites/handbook/source/handbook/engineering/monitoring/index.html.md
Due: rspec-unit

Update content assembly guidance to reflect automation
  .gitlab/merge_request_templates/Release-Post.md
  sites/handbook/source/handbook/marketing/blog/release-posts/index.html.md
  sites/handbook/source/handbook/marketing/blog/release-posts/manual-release-post-kickoff/index.html.md
Due: none

August Deployment direction update
  source/direction/deployment/index.html.md.erb
Due: none

Removing Letters from the Editor
  source/direction/monitor/template.html.md.erb
Due: none

Capturing info on how to add and retire top-cross functional initiatives
  sites/uncategorized/source/company/team/structure/working-groups/index.html.md
Due: none

Runner SaaS direction updates - August 2022
  source/direction/verify/runner_saas/index.html.md
Due: none

Updating calibration timeline
  sites/handbook/source/handbook/people-group/promotions-transfers/index.html.md
Due: none

Add Lauren Roberts new hire info to Team page
  data/team_members/person/l/laurenroberts.yml
  sites/uncategorized/source/images/team/laurenlopez.jpg
  sites/uncategorized/source/images/team/laurenroberts.jpeg
Due: rspec-unit

Implement auto-saving mechanism on Design Notes
  data/release_posts/unreleased/plan-implement-autosaving-mechanism-on-design-notes.yml
Due: lint release-post-items, rspec-unit

Add Govern Sub-department
  data/stages.yml
  data/team_members/person/a/alexanderturinske.yml
  data/team_members/person/b/bauerdominic.yml
  data/team_members/person/b/bwill.yml
  data/team_members/person/d/danieltian.yml
  data/team_members/person/d/dave-pisek.yml
  data/team_members/person/g/ghavenga.yml
  data/team_members/person/j/jonathanschafer.yml
  data/team_members/person/m/maciejparuszewski.yml
  data/team_members/person/m/mehmet-inac.yml
  data/team_members/person/m/michal-zajac.yml
  data/team_members/person/n/nmccorrison.yml
  data/team_members/person/p/pcalder.yml
  data/team_members/person/s/samanthaming.yml
  data/team_members/person/s/sashi_kumar.yml
  data/team_members/person/s/savasvedova.yml
  data/team_members/person/s/subashischakraborty.yml
  data/team_members/person/t/thiagofigueiro.yml
  data/team_members/person/z/zamir-martins.yml
  sites/handbook/source/handbook/engineering/development/growth/acquisition/index.html.md.erb
  sites/handbook/source/handbook/engineering/development/growth/activation/index.html.md.erb
  sites/handbook/source/handbook/engineering/development/growth/index.html.md.erb
  sites/handbook/source/handbook/engineering/development/sec/govern/index.html.md.erb
  sites/handbook/source/handbook/product/categories/features/index.html.md.erb
  sites/handbook/source/includes/product/_categories.erb
Due: lint release-post-items, rspec-unit

Redirect govern to protect
  data/redirects.yml
Due: apply-redirects-prod, rspec-unit

Better words
  data/release_posts/unreleased/ecosystem-autodisable-failing-webhooks.yml
Due: lint release-post-items, rspec-unit

Update GitLab Pet page - Cooper Roberts
  data/pets.yml
  sites/uncategorized/source/images/team/pets/CooperRoberts.png
Due: rspec-unit

Add Fynn to the Team Pets Page
  data/pets.yml
Due: rspec-unit

Adding Fynn's details to the Team Pet Page
  sites/uncategorized/source/images/team/pets/fynn.jpg
Due: none

Updates step to new mechanizer app.
  sites/handbook/source/handbook/support/workflows/customer_emergencies_workflows.html.md
Due: none

Add MR buddy as department to Charlie Ablett
  data/team_members/person/c/charlieablett.yml
Due: rspec-unit

Update A/B testing handbook page for Digital Experience with new process as of FY23Q3
  sites/handbook/source/handbook/marketing/digital-experience/engineering-ab-tests/index.html.md
Due: none

fix typo
  source/direction/product-operations/template.html.md.erb
Due: none

add handbook page for dex mlhf
  sites/handbook/source/handbook/marketing/digital-experience/major-league-hacking-fellows/index.html.md
Due: none

Adding Intake Process to EntApps page
  sites/handbook/source/handbook/business-technology/enterprise-applications/guides/weights1.png
  sites/handbook/source/handbook/business-technology/enterprise-applications/index.html.md
Due: none

Add new team members for 2022-09-01
  data/team_members/person/t/tsukasa.k.yml
Due: rspec-unit

Update team member title and manager - data/team_members/person/b/bhenzelmann.yml
  data/team_members/person/b/bhenzelmann.yml
Due: rspec-unit

Add bugs.yml
  data/release_posts/unreleased/bugs.yml
Due: lint release-post-items, rspec-unit

Add usability_improvements.yml
  data/release_posts/unreleased/usability_improvements.yml
Due: lint release-post-items, rspec-unit

Add performance_improvements.yml
  data/release_posts/unreleased/performance_improvements.yml
Due: lint release-post-items, rspec-unit

Fix threat insights mention address
  sites/handbook/source/handbook/engineering/ux/stage-group-ux-strategy/sec/index.html.md
Due: none

Minor fix to grammer and a broken link
  sites/handbook/source/handbook/engineering/infrastructure/team/reliability/issues.html.md.erb
Due: none

Release post item: Custom verification token for streaming audit events
  data/release_posts/unreleased/manage-set-verification-token.yml
Due: lint release-post-items, rspec-unit

Move change rollout issues to Support Team Meta
  sites/handbook/source/handbook/support/managers/change-management.html.md
Due: none

Typos and capitalisation fixes
  sites/handbook/source/handbook/customer-success/tam/cadence-calls/index.html.md
Due: none

Release post 15.4 Integration bugs
  data/release_posts/unreleased/bugs.yml
Due: lint release-post-items, rspec-unit

docs(Error Budget Exception): Provision update
  sites/handbook/source/handbook/engineering/error-budgets/index.html.md
Due: none

Update teams page data for isandin
  data/team_members/person/i/isandin.yml
  sites/uncategorized/source/images/team/isandin.jpg
Due: rspec-unit

Sync specialty to team page - 2022-09-05
  data/team_members/person/a/alexanderturinske.yml
  data/team_members/person/a/andy-volpe.yml
  data/team_members/person/b/bauerdominic.yml
  data/team_members/person/b/bwill.yml
  data/team_members/person/d/danieltian.yml
  data/team_members/person/d/dave-pisek.yml
  data/team_members/person/d/dennis.yml
  data/team_members/person/g/ghavenga.yml
  data/team_members/person/h/harsimarsandhu.yml
  data/team_members/person/h/hbenson.yml
  data/team_members/person/h/huzaifaiftikhar1.yml
  data/team_members/person/j/jarka-k.yml
  data/team_members/person/j/jiaanlouw.yml
  data/team_members/person/j/jonathanschafer.yml
  data/team_members/person/j/justinmandell.yml
  data/team_members/person/m/maciejparuszewski.yml
  data/team_members/person/m/mattwilson.yml
  data/team_members/person/m/mehmet-inac.yml
  data/team_members/person/m/michal-zajac.yml
  data/team_members/person/m/michellegill.yml
  data/team_members/person/n/nmccorrison.yml
  data/team_members/person/s/samanthaming.yml
  data/team_members/person/s/samkerr.yml
  data/team_members/person/s/samuelwhite.yml
  data/team_members/person/s/sashi_kumar.yml
  data/team_members/person/s/savasvedova.yml
  data/team_members/person/s/subashischakraborty.yml
  data/team_members/person/t/thiagofigueiro.yml
  data/team_members/person/z/zamir-martins.yml
Due: rspec-unit

Update UX community contribution page
  sites/uncategorized/source/community/contribute/ux-design/index.html.haml
Due: none

Create a new handbook section to inform L&R support how to handle failed credit card verifications
  sites/handbook/source/handbook/support/license-and-renewals/workflows/troubleshoot_purchases_on_gitlab.html.md
Due: none

[User Availability] Schedule unsetting status from the user profile page
  data/release_posts/unreleased/manage-user-availability-schedule-unsetting-status-from-the-user-p.yml
Due: lint release-post-items, rspec-unit
