Repository spicysoft/jp-www-gitlab-com: changes, and which GitLab CI jobs are due for each by the changed paths.
All: update-gitlab-project-releases-page, apply-redirects-prod, content-security-policy-checker, lint release-post-items, rubocop, check-handbook-edit-links, rspec-unit

Path conditions:
  update-gitlab-project-releases-page: any of: sites/uncategorized/source/releases/posts/*-released.html.md
  apply-redirects-prod: any of: data/redirects.yml, bin/apply-exact-match-redirects, bin/apply-regex-redirects
  content-security-policy-checker: any of: source/includes/layout/head.html.haml
  lint release-post-items: any of: data/release_posts/unreleased/*, data/categories.yml, data/stages.yml, source/images/unreleased/*
  rubocop: any of: *.rb, **/*.rb, .rubocop.yml, Dangerfile, *.rake, **/*.rake, bin/**/*, scripts/**/*, Rakefile
  check-handbook-edit-links: any of: data/monorepo.yml, helpers/custom_helpers.rb, **/edit_page.html.haml, **/footer.html.haml, **/handbook-page-toc.haml, **/check_handbook_edit_links.rb
  rspec-unit: any of: spec/**/*, **/*.{js,json,rb,yml}, .rspec

Add note to Data Science specifying purpose
  sites/handbook/source/handbook/business-technology/data-team/organization/data-science/index.html.md
Due: none

Clearer indication on what to do if locked out of OKTA
  sites/handbook/source/handbook/business-technology/okta/index.html.md
Due: none

Combined info on account lock and what to do if 2FA is unable to be used
  sites/handbook/source/handbook/business-technology/okta/index.html.md
Due: none

chore: Fix maintainer entries for SAST projects
  data/team_members/person/a/adamcohen.yml
  data/team_members/person/b/bauerdominic.yml
  data/team_members/person/b/bwill.yml
  data/team_members/person/d/davidnelsongl.yml
  data/team_members/person/f/fabien-c.yml
  data/team_members/person/h/hacks4oats.yml
  data/team_members/person/h/herbermadrigal.yml
  data/team_members/person/i/igorfrenkel.yml
  data/team_members/person/l/lucascharles.yml
  data/team_members/person/m/mikeeddington.yml
  data/team_members/person/o/olivier-g.yml
  data/team_members/person/r/rossfuhrman.yml
  data/team_members/person/t/tetiana-ch.yml
  data/team_members/person/z/zrice.yml
Due: rspec-unit

Update /culture CODEOWNERS with team updates
  .gitlab/CODEOWNERS
Due: none

[ENG] Update /devops-tool/ to use brand template
  sites/uncategorized/source/devops-tools/index.html.haml
Due: none

Add Jaime as reviewer of the GitLab CLI
  data/team_members/person/j/jaimemartinez.yml
Due: rspec-unit

Suggest using Coordinated Universal Time for recurring meetings
  sites/handbook/source/handbook/communication/index.html.md
Due: none

Fixing typo
  sites/handbook/source/handbook/business-technology/okta/index.html.md
Due: none

Add reminder about pending disclosures
  sites/handbook/source/handbook/security/security-engineering-and-research/application-security/runbooks/hackerone-process.html.md
Due: none

Update the "broken master" process to rely on incidents
  sites/handbook/source/handbook/engineering/workflow/index.html.md
Due: none

Make note of complimentary 1Password for Families
  sites/handbook/source/handbook/security/index.html.md.erb
Due: none

Update to family leave provisions for team members in Finland to reflect legislative reform
  sites/handbook/source/handbook/total-rewards/benefits/general-and-entity-benefits/bv-benefits-finland/index.html.md
Due: none

New Business Technology Program Manager Job Family
  sites/uncategorized/source/job-families/finance/program-management-BT/index.html.md
Due: none

Add Alternative Account Demo Mapping for Leads
  sites/handbook/source/handbook/marketing/strategy-performance/marketing-metrics/index.html.md
Due: none

Offboard team member - 2022-11-01
  .gitlab/CODEOWNERS
  data/pets.yml
  spec/helpers/blog_helper_spec.rb
Due: rubocop, rspec-unit

Sync specialty to team page - 2022-11-04
  data/team_members/person/n/nick-nguyen.yml
Due: rspec-unit

Update edit Zendesk Organization Notes process.
  sites/handbook/source/handbook/support/support-ops/documentation/zendesk_global_organizations.html.md
Due: none

Update link to workspace example
  sites/uncategorized/source/company/culture/all-remote/workspace/index.html.md.erb
Due: none

Update Data Platform triage process
  sites/handbook/source/handbook/business-technology/data-team/how-we-work/triage/index.html.md
Due: none

Removes Sam from the verify retros
  .gitlab/issue_templates/ops-section-retro.md
  .gitlab/issue_templates/product-development-retro.md
Due: none

Update sites/handbook/source/handbook/engineering/incubation/real-time-collaboration/index.html.md
  sites/handbook/source/handbook/engineering/incubation/real-time-collaboration/index.html.md
Due: none

Update source/direction/manage/workspace/templates/_goals.erb,...
  source/direction/manage/workspace/templates/_goals.erb
  source/direction/manage/workspace/templates/_next.erb
  source/direction/manage/workspace/templates/_overview.erb
Due: none

Change WIP to Draft for Effective Communication
  sites/handbook/source/handbook/communication/index.html.md
Due: none

Migrate manage/optimze to plan/optimize
  .gitlab/CODEOWNERS
  data/redirects.yml
  sites/handbook/source/handbook/engineering/development/dev/index.html.md.erb
  sites/handbook/source/handbook/engineering/development/dev/plan/index.html.md.erb
  sites/handbook/source/handbook/engineering/development/dev/plan/optimize/index.html.md.erb
  sites/handbook/source/handbook/engineering/development/dev/plan/optimize/partials/_deliverables.erb
  sites/handbook/source/handbook/engineering/development/dev/plan/optimize/partials/_estimation.erb
  sites/handbook/source/handbook/engineering/development/dev/plan/optimize/partials/_optimize_processes.erb
  sites/handbook/source/handbook/engineering/development/dev/plan/optimize/partials/_organizing_work.erb
  sites/handbook/source/handbook/engineering/development/dev/plan/optimize/partials/_pocs.erb
  sites/handbook/source/handbook/engineering/development/dev/plan/optimize/partials/_prioritization.erb
  sites/handbook/source/handbook/engineering/development/dev/plan/optimize/partials/_release.erb
  sites/handbook/source/handbook/engineering/development/dev/plan/optimize/partials/_release_posts.erb
  sites/handbook/source/handbook/engineering/development/dev/plan/optimize/partials/_self_assignment.erb
  sites/handbook/source/handbook/engineering/development/dev/plan/optimize/partials/_triage.erb
  sites/handbook/source/handbook/engineering/development/dev/plan/optimize/partials/_unscheduled_issues.erb
Due: apply-redirects-prod, rspec-unit

Fixing typo on all-remote values handbook page
  sites/uncategorized/source/company/culture/all-remote/values/index.html.md
Due: none

Make Drew trainee maintainer
  data/team_members/person/d/drew.yml
Due: rspec-unit

Add GitLab Inc Intern Offer Letter Link
  sites/handbook/source/handbook/people-group/contracts-probation-periods/index.html.md.erb
Due: none

Remove 11/2 Webinar
  sites/handbook/source/handbook/customer-success/csm/segment/scale/webinar-calendar/index.html.md
Due: none

Clarify ISMS scope
  sites/handbook/source/handbook/security/ISMS.html.md
Due: none

Updated personal information for Nick Ilieskou team member
  data/team_members/person/n/nilieskou.yml
  sites/uncategorized/source/images/team/nickilieskou.png
Due: rspec-unit

Add my info in the team page
  data/team_members/person/j/jlep.yml
  sites/uncategorized/source/images/team/julien_lepostec.png
Due: rspec-unit

Add project membership to features overview for Workspace
  data/features.yml
Due: rspec-unit

Fix "background check" anchor in interviewing handbook page.
  sites/handbook/source/handbook/hiring/interviewing/index.html.md
Due: none

Fixing video embed link
  sites/handbook/source/handbook/security/security-assurance/observation-management-procedure.html.md
Due: none

backlink
  sites/uncategorized/source/blog/blog-posts/2022-03-09-developing-a-successful-devops-strategy.html.md.erb
Due: none

Update the PD/PDM hiring process
  sites/uncategorized/source/job-families/product/product-design-management/index.html.md
  sites/uncategorized/source/job-families/product/product-designer/index.html.md.erb
Due: none

backlink
  sites/uncategorized/source/blog/blog-posts/2018-04-17-remote-work-facilitates-devops.html.md.erb
Due: none

Add internship to role for Chris Sharp
  data/team_members/person/c/chrissharp.yml
Due: rspec-unit

added backlink
  sites/uncategorized/source/blog/blog-posts/2021-06-04-managing-global-projects-requiring-rapid-response-continuously.html.md.erb
Due: none
