Repository spicysoft/jp-www-gitlab-com: changes, and which GitLab CI jobs are due for each by the changed paths.
All: update-gitlab-project-releases-page, apply-redirects-prod, content-security-policy-checker, lint release-post-items, rubocop, check-handbook-edit-links, rspec-unit

update-gitlab-project-releases-page:
  cache:
    key: web_ruby-3.0-bullseye
    policy: pull
    paths:
    - vendor
    - node_modules
  before_script:
  - bundle config set path vendor
  - bundle install --quiet --jobs 4
  - yarn install
  stage: content-generation
  needs: []
  script:
  - bundle exec rake release:ee:update_project_releases_page
  ...

apply-redirects-prod:
  cache:
    key: web_ruby-3.0-bullseye
    policy: pull
    paths:
    - vendor
    - node_modules
  before_script:
  - bundle config set path vendor
  - bundle install --quiet --jobs 4
  - yarn install
  stage: build-and-deploy
  environment:
    name: production
  script:
  - export FASTLY_SRV_ID=$FASTLY_SRV_ID_PROD
  ...

content-security-policy-checker:
  image: debian:stable-slim
  stage: test
  needs: []
  script:
  ...

lint release-post-items:
  cache:
    key: web_ruby-3.0-bullseye
    policy: pull
    paths:
    - vendor
    - node_modules
  before_script:
  - bundle config set path vendor
  - bundle install --quiet --jobs 4
  - yarn install
  stage: test
  needs: []
  script:
  - bundle exec bin/validate-release-post-item

rubocop:
  cache:
    key: web_ruby-3.0-bullseye
    policy: pull
    paths:
    - vendor
    - node_modules
  before_script:
  - bundle config set path vendor
  - bundle install --quiet --jobs 4
  - yarn install
  stage: test
  needs: []
  script:
  - bundle exec rubocop

check-handbook-edit-links:
  cache:
    key: web_ruby-3.0-bullseye
    policy: pull
    paths:
    - vendor
    - node_modules
  before_script:
  - bundle config set path vendor
  - bundle install --quiet --jobs 4
  - yarn install
  stage: test
  needs:
  - handbook-build-and-review-deploy
  script:
  - scripts/check-handbook-edit-links.rb

rspec-unit:
  cache:
    key: web_ruby-3.0-bullseye
    policy: pull
    paths:
    - vendor
    - node_modules
  before_script:
  - bundle config set path vendor
  - bundle install --quiet --jobs 4
  - yarn install
  stage: test
  needs: []
  script:
  - bundle exec rspec --tag ~@feature

HandBook update - Account List and Video
  sites/handbook/source/handbook/sales/commercial/first-order/index.html.md
Due: none

Update premium links
  sites/handbook/source/handbook/engineering/development/enablement/systems/geo/index.html.md.erb
  sites/uncategorized/source/blog/blog-posts/2014-06-27-gitlab-com-runs-ee.html.md
  sites/uncategorized/source/blog/blog-posts/2015-03-12-farewell-google-code-hello-gitlab-dot-com.html.md
  sites/uncategorized/source/blog/blog-posts/2015-04-15-bitbucket-vs-gitlab-com.html.md
  sites/uncategorized/source/blog/blog-posts/2015-07-09-1.5M-raised-in-seed-funding-for-gitlab-to-accelerate-growth-and-expand-operations.html.md
  sites/uncategorized/source/blog/blog-posts/2017-05-15-how-to-use-macstadium-and-gitlab-ci-to-build-your-macos-or-ios-projects.html.md
  sites/uncategorized/source/blog/blog-posts/2018-06-25-moving-to-gcp.html.md
  sites/uncategorized/source/blog/blog-posts/2018-07-19-gcp-move-update.html.md
  sites/uncategorized/source/blog/blog-posts/2019-03-21-six-more-months-ci-cd-github.html.md.erb
  sites/uncategorized/source/blog/blog-posts/2019-07-01-using-ansible-and-gitlab-as-infrastructure-for-code.html.md.erb
  sites/uncategorized/source/blog/blog-posts/2019-09-09-ci-cd-github-extended-again.html.md.erb
  sites/uncategorized/source/releases/posts/2013-08-22-introducing-gitlab-6-0-enterprise-edition.html.md
  sites/uncategorized/source/releases/posts/2017-03-22-gitlab-9-0-released.html.md
  sites/uncategorized/source/releases/posts/2017-04-22-gitlab-9-1-released.html.md
Due: update-gitlab-project-releases-page

Makes David exec sponsor for Matterhorn and Cloud License
  sites/uncategorized/source/company/team/structure/working-groups/index.html.md
Due: none

Change Group PM for Package, Release, Configure
  data/stages.yml
Due: lint release-post-items, rspec-unit

Links to GitLab Premium
  sites/uncategorized/source/releases/posts/2018-02-27-gitlab-10-5-2-released.html.md
  sites/uncategorized/source/releases/posts/2018-03-09-gitlab-10-5-4-released.html.md
  sites/uncategorized/source/releases/posts/2018-03-19-gitlab-10-5-5-released.html.md
  sites/uncategorized/source/releases/posts/2018-03-28-gitlab-10-6-1-released.html.md
  sites/uncategorized/source/releases/posts/2018-04-09-gitlab-10-6-4-released.html.md
  sites/uncategorized/source/releases/posts/2018-04-23-gitlab-10-7-1-released.html.md
  sites/uncategorized/source/releases/posts/2018-05-24-gitlab-10-8-1-released.html.md
  sites/uncategorized/source/releases/posts/2018-06-01-gitlab-10-8-3-released.html.md
  sites/uncategorized/source/releases/posts/2018-06-07-gitlab-10-8-4-released.html.md
  sites/uncategorized/source/releases/posts/2018-06-27-gitlab-11-0-2-released.html.md
  sites/uncategorized/source/releases/posts/2018-07-24-gitlab-11-1-1-released.html.md
  sites/uncategorized/source/releases/posts/2018-10-04-gitlab-11-3-3-released.html.md
  sites/uncategorized/source/releases/posts/2018-11-05-gitlab-11-4-5-released.html.md.erb
  sites/uncategorized/source/releases/posts/2019-01-17-gitlab-11-6-5-released.html.md.erb
  sites/uncategorized/source/releases/posts/2020-01-24-gitlab-12-7-2-released.html.md.erb
  sites/uncategorized/source/releases/posts/2020-01-31-gitlab-12-7-5-released.html.md.erb
  sites/uncategorized/source/releases/posts/2020-05-04-gitlab-12-10-3-released.html.md
  sites/uncategorized/source/releases/posts/2021-01-26-gitlab-13-8-1-released.html.md
Due: update-gitlab-project-releases-page

Correct the entry for Denial of Service via Issue Preview in the release post for August 30
  sites/uncategorized/source/releases/posts/2022-08-30-critical-security-release-gitlab-15-3-2-released.html.md
Due: update-gitlab-project-releases-page

Removed relation to DIB influencer group
  data/team_members/person/a/arueda.yml
Due: rspec-unit

[August] Monitor:Respond - Maturity plan update
  data/categories.yml
Due: lint release-post-items, rspec-unit

Token WG: Add Connor Gilbert
  sites/uncategorized/source/company/team/structure/working-groups/token-management/index.html.md
Due: none

Begin populating the Associate SA Content
  sites/handbook/source/handbook/customer-success/solutions-architects/career-development/index.html.md
Due: none

Adjusting internal comms job family to reflect people comms & engagement scope
  data/team_members/person/k/kaylagolden.yml
  data/team_members/person/s/simonliang.yml
  sites/uncategorized/source/job-families/people-ops/people-communications-engagement/index.html.md
Due: rspec-unit

updated team member info and pic for kassandra svoboda
  data/team_members/person/k/ksvoboda.yml
  sites/uncategorized/source/images/team/kassandrasvoboda.jpg
Due: rspec-unit

Update QEM title
  data/team_members/person/j/joanna-shih.yml
  data/team_members/person/r/ramya-authappan.yml
  data/team_members/person/v/vincywilson.yml
  sites/handbook/source/handbook/engineering/quality/index.html.md.erb
Due: rspec-unit

Assigning new provisioner and deprovisioner for UserTesting.com
  data/tech_stack.yml
Due: rspec-unit

Updated my profile: djain
  data/team_members/person/d/djain6.yml
  sites/uncategorized/source/images/team/dhruvjain.jpg
Due: rspec-unit

Updated Record Retention table to include GCP and AWS Secure Delete
  sites/handbook/source/handbook/engineering/security/records-retention-deletion.html.md
Due: none

Removes Product Usage Behavior Content
  sites/handbook/source/handbook/product/gitlab-the-product/index.html.md.erb
Due: none

Merge branch 'add-ref-and-explainer-star' into 'master'
  sites/handbook/source/handbook/hiring/conducting-a-gitlab-interview/index.html.md
Due: none

Tech stack: updating Bitergia entry for provisioning
  data/tech_stack.yml
Due: rspec-unit

Fix minor typo in Value Stream Assessment doc
  sites/handbook/source/handbook/customer-success/solutions-architects/sa-practices/value-stream-assessments/index.html.md
Due: none

Update tech stack provisioners for Platypus, Workato, Postman
  data/tech_stack.yml
Due: rspec-unit

Updating timelines for maturity based on current roadmap estimations.
  data/categories.yml
Due: lint release-post-items, rspec-unit

[August] Monitor:Respond - Category vision review
  source/direction/monitor/debugging_and_health/incident_management/index.html.md
Due: none

Revise MVP nomination guidance
  .gitlab/issue_templates/release-post-mvp-nominations.md
  .gitlab/merge_request_templates/Release-Post.md
  sites/handbook/source/handbook/marketing/blog/release-posts/index.html.md
Due: none

Fixing embedding youtube link
  source/direction/monitor/debugging_and_health/incident_management/index.html.md
Due: none

Fix confusing dates and remove duplicate instructions
  .gitlab/merge_request_templates/Release-Post.md
Due: none

add Raul Rendon to triage schedule
  sites/handbook/source/handbook/business-technology/data-team/how-we-work/triage/index.html.md
Due: none

Update Corporate Development Manager (and Sr.) job descriptions
  sites/uncategorized/source/job-families/legal-and-corporate-affairs/corporate-development/index.html.md
Due: none

[August] Monitor:Respond - Group handbook page update
  sites/handbook/source/handbook/engineering/development/ops/monitor/respond/index.html.md.erb
Due: none

Apply 1 suggestion(s) to 1 file(s)
  sites/handbook/source/handbook/engineering/infrastructure/incident-management/incident-manager-onboarding/index.html.md.erb
Due: none

Update Product page for Certify for transfer
  data/stages.yml
Due: lint release-post-items, rspec-unit

Move Scale19x sweepstakes and code challenge to the Past category.
  sites/uncategorized/source/community/sweepstakes/index.html.md
Due: none

Document suggestion for Power of Habit course
  sites/handbook/source/handbook/total-rewards/benefits/general-and-entity-benefits/growth-and-development/index.html.md
Due: none

Updating @gl-people-exp to People Connect GitLab handle
  sites/handbook/source/handbook/business-technology/tech-stack-applications/index.html.md
  sites/handbook/source/handbook/people-group/engineering/slack-integrations/index.html.md
  sites/handbook/source/handbook/people-group/general-onboarding/onboarding-processes/index.html.md.erb
  sites/handbook/source/handbook/people-group/index.html.md.erb
Due: none

Add imand3r as reviewer for gitlab backend
  data/team_members/person/i/imand3r.yml
Due: rspec-unit

Changing the removal dates for the cert-based integration
  data/release_posts/unreleased/configure-cert-based-integration-removal-date-change.yaml
Due: lint release-post-items

Updating Anniversary Swag Process - Currently Unavailable
  sites/handbook/source/handbook/people-group/celebrations/index.html.md
Due: none

Updating all related handbook references to Mobile DevOps
  .gitlab/CODEOWNERS
  data/redirects.yml
  data/stages.yml
  data/team_members/person/d/darby-frey.yml
  sites/handbook/source/handbook/engineering/incubation/devops-for-mobile/index.html.md
  sites/handbook/source/handbook/engineering/incubation/index.html.md.erb
  sites/handbook/source/handbook/engineering/incubation/mobile-devops/index.html.md
  sites/handbook/source/handbook/engineering/incubation/playbook/index.html.md.erb
  source/direction/mobile/mobile-devops/index.html.md.erb
  source/direction/verify/runner_saas/index.html.md
Due: apply-redirects-prod, lint release-post-items, rspec-unit

Adding decision labels and internal SLA
  sites/handbook/source/handbook/engineering/security/security-assurance/dedicated-compliance/POA&M-Deviation-Request-Procedure.html.md
Due: none

Path conditions:
  update-gitlab-project-releases-page: any of: sites/uncategorized/source/releases/posts/*-released.html.md
  apply-redirects-prod: any of: data/redirects.yml, bin/apply-exact-match-redirects, bin/apply-regex-redirects
  content-security-policy-checker: any of: source/includes/layout/head.html.haml
  lint release-post-items: any of: data/release_posts/unreleased/*, data/categories.yml, data/stages.yml, source/images/unreleased/*
  rubocop: any of: *.rb, **/*.rb, .rubocop.yml, Dangerfile, *.rake, **/*.rake, bin/**/*, scripts/**/*, Rakefile
  check-handbook-edit-links: any of: data/monorepo.yml, helpers/custom_helpers.rb, **/edit_page.html.haml, **/footer.html.haml, **/handbook-page-toc.haml, **/check_handbook_edit_links.rb
  rspec-unit: any of: spec/**/*, **/*.{js,json,rb,yml}, .rspec
