Repository spicysoft/jp-www-gitlab-com: changes, and which GitLab CI jobs are due for each by the changed paths.
All: update-gitlab-project-releases-page, apply-redirects-prod, content-security-policy-checker, lint release-post-items, rubocop, check-handbook-edit-links, rspec-unit

Path conditions:
  update-gitlab-project-releases-page: any of: sites/uncategorized/source/releases/posts/*-released.html.md
  apply-redirects-prod: any of: data/redirects.yml, bin/apply-exact-match-redirects, bin/apply-regex-redirects
  content-security-policy-checker: any of: source/includes/layout/head.html.haml
  lint release-post-items: any of: data/release_posts/unreleased/*, data/categories.yml, data/stages.yml, source/images/unreleased/*
  rubocop: any of: *.rb, **/*.rb, .rubocop.yml, Dangerfile, *.rake, **/*.rake, bin/**/*, scripts/**/*, Rakefile
  check-handbook-edit-links: any of: data/monorepo.yml, helpers/custom_helpers.rb, **/edit_page.html.haml, **/footer.html.haml, **/handbook-page-toc.haml, **/check_handbook_edit_links.rb
  rspec-unit: any of: spec/**/*, **/*.{js,json,rb,yml}, .rspec

Update reporting-to manager for Michal Kulakowski
  data/team_members/person/m/mkulakowski.yml
Due: rspec-unit

Add Grammarly Head of Remote-First Hybrid role to HoR page
  sites/uncategorized/source/company/culture/all-remote/head-of-remote/index.html.md.erb
Due: none

Change Enablement QE reporting
  data/team_members/person/e/erickbanks.yml
  data/team_members/person/g/grantyoung.yml
  data/team_members/person/j/john.mcdonnell.yml
  data/team_members/person/n/nailiaiskhakova.yml
  data/team_members/person/n/nickwestbury.yml
Due: rspec-unit

Updating Sr Treasury Analyst position responsibilities
  sites/uncategorized/source/job-families/finance/corporate-controller/treasury-manager/image-1.png
  sites/uncategorized/source/job-families/finance/corporate-controller/treasury-manager/image-2.png
  sites/uncategorized/source/job-families/finance/corporate-controller/treasury-manager/image.png
  sites/uncategorized/source/job-families/finance/corporate-controller/treasury-manager/index.html.md
Due: none

Update VM to Interim Sr QEM
  data/team_members/person/v/vincywilson.yml
Due: rspec-unit

add link to CI category
  source/direction/verify/continuous_integration_scaling/index.html.md
Due: none

Missing link for the private handbook [Private Project](https://gitlab.com/gitlab-com-private/www-gitlab-com)
  sites/handbook/source/handbook/handbook-usage/index.html.md
Due: none

Add Threat Insights bug fix for 15.4
  data/release_posts/unreleased/bugs.yml
Due: lint release-post-items, rspec-unit

Add other Threat Insights bug fixes for 15.4
  data/release_posts/unreleased/bugs.yml
Due: lint release-post-items, rspec-unit

Add Security Policies bug fix for 15.4
  data/release_posts/unreleased/bugs.yml
Due: lint release-post-items, rspec-unit

Add group::package bugs
  data/release_posts/unreleased/bugs.yml
Due: lint release-post-items, rspec-unit

Add group::package UX issues
  data/release_posts/unreleased/usability_improvements.yml
Due: lint release-post-items, rspec-unit

Apply 1 suggestion(s) to 1 file(s)
  data/release_posts/unreleased/manage-allow-admins-to-merge-topics.yml
Due: lint release-post-items, rspec-unit

add details for Andrei Zubov to team page
  data/team_members/person/a/andrei.zubov.yml
  sites/uncategorized/source/images/team/andreizubov.jpg
Due: rspec-unit

Update data/release_posts/unreleased/manage-allow-admins-to-merge-topics.yml
  data/release_posts/unreleased/manage-allow-admins-to-merge-topics.yml
Due: lint release-post-items, rspec-unit

Google Chat integration: support for threaded messages
  data/release_posts/unreleased/ecosystem-google-chat-threaded-messages.yml
  source/images/unreleased/Ecosystem-Integrations-Test-Space-2-Chat.png
Due: lint release-post-items, rspec-unit

Updates link to GitLab repo and label name
  sites/handbook/source/handbook/alliances/integration-instructions/index.html.md
Due: none

Update architecture docs to include redis
  sites/handbook/source/handbook/engineering/infrastructure/production/architecture/index.html.md
Due: none

Apply 1 suggestion(s) to 1 file(s)
  data/release_posts/unreleased/manage-user-availability-schedule-unsetting-status-from-the-user-p.yml
Due: lint release-post-items, rspec-unit

Fix yaml formatting
  data/release_posts/unreleased/manage-user-availability-schedule-unsetting-status-from-the-user-p.yml
Due: lint release-post-items, rspec-unit

Add devops test automation topic page
  data/topic_children/devops-test-automation.yml
Due: rspec-unit

GSC verfication
  sites/uncategorized/source/googlefb840fa97e1634e7.html
Due: none

Add VSM topic page
  data/topic_children/value-stream-mapping.yml
Due: rspec-unit

Update data/team_members/person/b/ben_holland.yml
  data/team_members/person/b/ben_holland.yml
Due: rspec-unit

rename-gsc-file
  sites/uncategorized/source/googlefb840fa97e1634e7.html
  sites/uncategorized/source/googlefb840fa97e1634e7.html.haml
Due: none

Add Shreedhar Bhat to GitLab hero page
  data/heroes.yml
  source/images/heroes/shreedhar.jpg
Due: rspec-unit

Reporting Structure Change - Kira Savage
  data/team_members/person/k/ksavage.yml
Due: rspec-unit

remove commit cta
  sites/uncategorized/source/blog/blog-posts/2022-08-30-the-ultimate-guide-to-software-supply-chain-security.html.md.erb
Due: none

Add GSC file to monorepo
  data/monorepo.yml
Due: check-handbook-edit-links, rspec-unit

Update reference for Silver and Gold plans that no longer exist
  sites/handbook/source/handbook/engineering/infrastructure/product-management/proposals/disaster-recovery/index.html.md
Due: none

Add Elevate info to Events page, Brie Carranza
  data/events.yml
Due: rspec-unit

Speaking resources: Change /events MR review to Dev Evangelism team
  sites/handbook/source/handbook/marketing/corporate-marketing/speaking-resources/index.html.md
Due: none

Update KS manager
  data/team_members/person/k/ksvoboda.yml
Due: rspec-unit

updating editorial job descriptions
  sites/uncategorized/source/job-families/marketing/editor/index.html.md
Due: none

update to gitlab email
  sites/handbook/source/handbook/people-group/promotions-transfers/index.html.md
Due: none

Add info to the team page
  data/team_members/person/c/chloecartron.yml
  sites/uncategorized/source/images/team/chloecartron.jpg
Due: rspec-unit

Update Communicating with the Channel Teams via Slack section of CHOPS HB
  sites/handbook/source/handbook/sales/field-operations/channel-operations/index.html.md
Due: none

Remove quality department merge request compute pipeline cost PI
  data/performance_indicators/quality_department.yml
Due: rspec-unit

Add instructions for 1Password CLI integration
  sites/handbook/source/handbook/security/1pass-pat-setup.png
  sites/handbook/source/handbook/security/index.html.md.erb
Due: none
