Repository spicysoft/jp-www-gitlab-com: changes, and which GitLab CI jobs are due for each by the changed paths.
All: update-gitlab-project-releases-page, apply-redirects-prod, content-security-policy-checker, lint release-post-items, rubocop, check-handbook-edit-links, rspec-unit

update-gitlab-project-releases-page:
  cache:
    key: web_ruby-3.0-bullseye
    policy: pull
    paths:
    - vendor
    - node_modules
  before_script:
  - bundle config set path vendor
  - bundle install --quiet --jobs 4
  - yarn install
  stage: content-generation
  needs: []
  script:
  - bundle exec rake release:ee:update_project_releases_page
  ...

apply-redirects-prod:
  cache:
    key: web_ruby-3.0-bullseye
    policy: pull
    paths:
    - vendor
    - node_modules
  before_script:
  - bundle config set path vendor
  - bundle install --quiet --jobs 4
  - yarn install
  stage: build-and-deploy
  environment:
    name: production
  script:
  - export FASTLY_SRV_ID=$FASTLY_SRV_ID_PROD
  ...

content-security-policy-checker:
  image: debian:stable-slim
  stage: test
  needs: []
  script:
  ...

lint release-post-items:
  cache:
    key: web_ruby-3.0-bullseye
    policy: pull
    paths:
    - vendor
    - node_modules
  before_script:
  - bundle config set path vendor
  - bundle install --quiet --jobs 4
  - yarn install
  stage: test
  needs: []
  script:
  - bundle exec bin/validate-release-post-item

rubocop:
  cache:
    key: web_ruby-3.0-bullseye
    policy: pull
    paths:
    - vendor
    - node_modules
  before_script:
  - bundle config set path vendor
  - bundle install --quiet --jobs 4
  - yarn install
  stage: test
  needs: []
  script:
  - bundle exec rubocop

check-handbook-edit-links:
  cache:
    key: web_ruby-3.0-bullseye
    policy: pull
    paths:
    - vendor
    - node_modules
  before_script:
  - bundle config set path vendor
  - bundle install --quiet --jobs 4
  - yarn install
  stage: test
  needs:
  - handbook-build-and-review-deploy
  script:
  - scripts/check-handbook-edit-links.rb

rspec-unit:
  cache:
    key: web_ruby-3.0-bullseye
    policy: pull
    paths:
    - vendor
    - node_modules
  before_script:
  - bundle config set path vendor
  - bundle install --quiet --jobs 4
  - yarn install
  stage: test
  needs: []
  script:
  - bundle exec rspec --tag ~@feature

Adding Lance Callaghan photo and updated details to the Team Site
  data/team_members/person/l/lecallaghan.yml
  sites/uncategorized/source/images/team/lancecallaghan.jpg
Due: rspec-unit

Update release post template
  .gitlab/merge_request_templates/Release-Post-Item.md
Due: none

Fix Ray Leihe Avatar
  data/team_members/person/r/rleihe268.yml
  sites/uncategorized/source/images/team/rleihe268.jpg
Due: rspec-unit

Rename /services/technical-account-management url to reflect CSM
  data/redirects.yml
  sites/uncategorized/source/services/customer-success-management/index.html.haml
Due: apply-redirects-prod, rspec-unit

adding issue template
  sites/uncategorized/source/company/culture/inclusion/erg-guide/index.html.md
Due: none

Add Helpr Pilot Program info
  sites/handbook/source/handbook/total-rewards/benefits/general-and-entity-benefits/index.html.md
Due: none

Update incorrect Hyperlink to Namespaces documentation
  sites/handbook/source/handbook/business-technology/data-team/data-catalog/namespace/index.html.md
Due: none

Update Nathan Dubord readme
  data/team_members/person/n/nathandubord.yml
  sites/handbook/source/handbook/marketing/readmes/nathan-dubord.html.md
Due: rspec-unit

Start responsibilities table
  sites/handbook/source/handbook/customer-success/csm/csm-manager/index.html.md
  sites/handbook/source/handbook/customer-success/csm/index.html.md
Due: none

Readme for Isabel Sandin
  sites/handbook/source/handbook/engineering/readmes/isabel-sandin/index.html.md
Due: none

Adding Carrie Maynard's README
  sites/handbook/source/handbook/marketing/readmes/carrie-maynard.html.md
  sites/handbook/source/handbook/marketing/readmes/index.html.md
Due: none

Grammar
  sites/handbook/source/handbook/customer-success/csm/index.html.md
Due: none

Move the Anti-abuse team to Data Science section
  data/stages.yml
  data/team_members/person/a/alexbuijs.yml
  data/team_members/person/e/elimpin.yml
  data/team_members/person/h/hmehra.yml
  data/team_members/person/j/jayswain.yml
  data/team_members/person/j/jensen-stava.yml
  data/team_members/vacancy/fullstack-engineer-anti-abuse.yml
Due: lint release-post-items, rspec-unit

Nav-1.1.7 release
  package.json
  yarn.lock
Due: rspec-unit

Update sites/uncategorized/source/job-families/finance/data-science/index.html.md
  sites/uncategorized/source/job-families/finance/data-science/index.html.md
Due: none

Update index.html.md
  sites/uncategorized/source/job-families/finance/data-science/index.html.md
Due: none

Add @kdietz feedback.
  sites/uncategorized/source/job-families/finance/data-science/index.html.md
Due: none

Mark Miguel Rincon (@mrincon) as available as mentor
  data/team_members/person/m/mrincon.yml
Due: rspec-unit

Updating policy verbiage and correcting misspellings
  sites/handbook/source/handbook/total-rewards/benefits/general-and-entity-benefits/pty-benefits-australia/index.html.md
Due: none

Updates to account executives
  data/team_members/person/d/dev_choudhry.yml
  data/team_members/person/d/djreinhardt.yml
  data/team_members/person/l/lkaible.yml
  data/team_members/person/z/zmccullough.yml
Due: rspec-unit

Adjustment to adding registrant instructions
  sites/handbook/source/handbook/marketing/field-marketing/index.html.md
Due: none

Update projects.yml with GitLab CLI
  data/projects.yml
  data/team_members/person/g/garyholtz.yml
Due: rspec-unit

chore: Add Lucas to Token Management WG
  sites/uncategorized/source/company/team/structure/working-groups/token-management/index.html.md
Due: none

Update doc link
  data/release_posts/unreleased/manage-introduce-rest-api-for-group-transfer-locations.yml
Due: lint release-post-items, rspec-unit

Fix description formatting
  data/release_posts/unreleased/ecosystem-enable-slack-app-home-feature.yml
Due: lint release-post-items, rspec-unit

Updating TPRM assessment requirements for Professional Services to reflect update to SIG to include background check elements.
  sites/handbook/source/handbook/engineering/security/security-assurance/security-risk/third-party-risk-management.html.md
Due: none

Adding Manager Onboarding Checklist to Manager Resources HB Page
  sites/handbook/source/handbook/marketing/revenue-marketing/sdr/sdr-manager-resources/index.html.md
Due: none

Update to new verbiage
  sites/handbook/source/handbook/resellers/index.html.md
Due: none

Updating ownership of partner training HB page
  .gitlab/CODEOWNERS
Due: none

Add reviewer dashboard link to the projects page
  sites/handbook/source/handbook/engineering/projects/template.html.haml
Due: none

help team members take time off
  sites/handbook/source/handbook/paid-time-off/index.html.md
Due: none

Release post for json tables
  data/features.yml
  data/release_posts/unreleased/create_json_tables_in_markdown.yml
Due: lint release-post-items, rspec-unit

Add KubeCon Code Challenge rules
  sites/uncategorized/source/community/sweepstakes/index.html.md
  sites/uncategorized/source/community/sweepstakes/kubecon-na-2022-code-challenge/index.html.md
Due: none

Remove PI content from PA page
  source/direction/analytics/product-analytics/index.html.md
Due: none

Update to CSM instead of TAM
  sites/handbook/source/handbook/product/product-processes/index.html.md.erb
Due: none

Adds Cloud Shell tip for Support tech interviews
  sites/handbook/source/handbook/hiring/interviewing/customer-support-interviewing/index.html.md
Due: none

Make contributing mandatory for maintainership in small projects
  sites/handbook/source/handbook/engineering/workflow/code-review/index.html.md.erb
Due: none

Added v1 of the TA process workflow to the scoping info page
  sites/handbook/source/handbook/customer-success/professional-services-engineering/engagement-mgmt/scoping-information/index.html.md
Due: none

Replaces Lyle with Jason as Legal liason from Support
  sites/handbook/source/handbook/support/support-liaisons.html.md
Due: none

Path conditions:
  update-gitlab-project-releases-page: any of: sites/uncategorized/source/releases/posts/*-released.html.md
  apply-redirects-prod: any of: data/redirects.yml, bin/apply-exact-match-redirects, bin/apply-regex-redirects
  content-security-policy-checker: any of: source/includes/layout/head.html.haml
  lint release-post-items: any of: data/release_posts/unreleased/*, data/categories.yml, data/stages.yml, source/images/unreleased/*
  rubocop: any of: *.rb, **/*.rb, .rubocop.yml, Dangerfile, *.rake, **/*.rake, bin/**/*, scripts/**/*, Rakefile
  check-handbook-edit-links: any of: data/monorepo.yml, helpers/custom_helpers.rb, **/edit_page.html.haml, **/footer.html.haml, **/handbook-page-toc.haml, **/check_handbook_edit_links.rb
  rspec-unit: any of: spec/**/*, **/*.{js,json,rb,yml}, .rspec
