Repository spicysoft/jp-www-gitlab-com: changes, and which GitLab CI jobs are due for each by the changed paths.
All: update-gitlab-project-releases-page, apply-redirects-prod, content-security-policy-checker, lint release-post-items, rubocop, check-handbook-edit-links, rspec-unit

update-gitlab-project-releases-page:
  cache:
    key: web_ruby-3.0-bullseye
    policy: pull
    paths:
    - vendor
    - node_modules
  before_script:
  - bundle config set path vendor
  - bundle install --quiet --jobs 4
  - yarn install
  stage: content-generation
  needs: []
  script:
  - bundle exec rake release:ee:update_project_releases_page
  ...

apply-redirects-prod:
  cache:
    key: web_ruby-3.0-bullseye
    policy: pull
    paths:
    - vendor
    - node_modules
  before_script:
  - bundle config set path vendor
  - bundle install --quiet --jobs 4
  - yarn install
  stage: build-and-deploy
  environment:
    name: production
  script:
  - export FASTLY_SRV_ID=$FASTLY_SRV_ID_PROD
  ...

content-security-policy-checker:
  image: debian:stable-slim
  stage: test
  needs: []
  script:
  ...

lint release-post-items:
  cache:
    key: web_ruby-3.0-bullseye
    policy: pull
    paths:
    - vendor
    - node_modules
  before_script:
  - bundle config set path vendor
  - bundle install --quiet --jobs 4
  - yarn install
  stage: test
  needs: []
  script:
  - bundle exec bin/validate-release-post-item

rubocop:
  cache:
    key: web_ruby-3.0-bullseye
    policy: pull
    paths:
    - vendor
    - node_modules
  before_script:
  - bundle config set path vendor
  - bundle install --quiet --jobs 4
  - yarn install
  stage: test
  needs: []
  script:
  - bundle exec rubocop

check-handbook-edit-links:
  cache:
    key: web_ruby-3.0-bullseye
    policy: pull
    paths:
    - vendor
    - node_modules
  before_script:
  - bundle config set path vendor
  - bundle install --quiet --jobs 4
  - yarn install
  stage: test
  needs:
  - handbook-build-and-review-deploy
  script:
  - scripts/check-handbook-edit-links.rb

rspec-unit:
  cache:
    key: web_ruby-3.0-bullseye
    policy: pull
    paths:
    - vendor
    - node_modules
  before_script:
  - bundle config set path vendor
  - bundle install --quiet --jobs 4
  - yarn install
  stage: test
  needs: []
  script:
  - bundle exec rspec --tag ~@feature

Remove and update current references to kwiebers in the handbook
  .gitlab/CODEOWNERS
  data/performance_indicators/quality_department.yml
  data/stages.yml
  sites/handbook/source/handbook/ceo/chief-of-staff-team/jihu-support/index.html.md
  sites/handbook/source/handbook/engineering/metrics/index.html.md.erb
  sites/handbook/source/handbook/engineering/quality/index.html.md.erb
  sites/handbook/source/handbook/marketing/community-relations/code-contributor-program/collaborations/index.html.md.erb
  sites/handbook/source/includes/product/_categories-names.erb
  sites/uncategorized/source/company/team/structure/working-groups/china-service/index.html.md
  sites/uncategorized/source/company/team/structure/working-groups/contributor-growth/index.html.md
  sites/uncategorized/source/company/team/structure/working-groups/cross-functional-prioritization/index.html.md
  sites/uncategorized/source/company/team/structure/working-groups/issue-prioritization-framework/index.html.md
  sites/uncategorized/source/company/team/structure/working-groups/maintainership/index.html.md
Due: lint release-post-items, rspec-unit

Update manage-github-importer--scrape-images-to-gitlab-and-update-markdow.yml
  data/release_posts/unreleased/manage-github-importer--scrape-images-to-gitlab-and-update-markdow.yml
Due: lint release-post-items, rspec-unit

Fix minor osgs typos
  sites/handbook/source/handbook/engineering/open-source/growth-strategy.html.md
Due: none

Update team entry for Lee Tickett
  data/team_members/person/l/lee-tickett.yml
Due: rspec-unit

Refine wording around SoftPCL deployments and Post-deployment migrations
  sites/handbook/source/handbook/engineering/infrastructure/change-management/index.html.md
Due: none

Updated team member info and photo for Chris Micek
  data/team_members/person/c/chrismicek.yml
  sites/uncategorized/source/images/team/chrismicek.jpg
Due: rspec-unit

Make Daniel a reviewer in the `gitlab-org/triage-ops` project
  data/team_members/person/d/daniel-murphy.yml
Due: rspec-unit

Update manage-configurable-list-of-things-to-be-imported-that-can-be-adju.yml
  data/release_posts/unreleased/manage-configurable-list-of-things-to-be-imported-that-can-be-adju.yml
Due: lint release-post-items, rspec-unit

Added that bonus depends on application date
  sites/handbook/source/handbook/incentives/index.html.md
Due: none

Update spelling on Lee's team data page
  data/team_members/person/l/lee-tickett.yml
Due: rspec-unit

Update Process of Responding to RFx including a sync call in case ambiguity exists
  sites/handbook/source/handbook/customer-success/solutions-architects/tools-and-resources/rfp/index.html.md
Due: none

Added details in the team page for Ashish Reddy
  data/team_members/person/a/ashish-reddy.yml
  sites/uncategorized/source/images/team/ashishreddy.jpeg
Due: rspec-unit

Update the broken Developer Evangelism Calendar
  sites/handbook/source/handbook/marketing/community-relations/developer-evangelism/calendar/index.html.md
  sites/handbook/source/handbook/marketing/community-relations/developer-evangelism/index.html.md
Due: none

Fix devops tool comparison typos
  data/devops_tools_comparisons.yaml
Due: none

Adding Ameya Darshan information to handbook
  data/team_members/person/a/ameyadarshan.yml
  sites/uncategorized/source/images/team/ameyadarshan.jpg
Due: rspec-unit

Add Package registry performance improvements
  data/release_posts/unreleased/performance_improvements.yml
Due: lint release-post-items, rspec-unit

Update review projects
  data/team_members/person/a/alinamihaila.yml
Due: rspec-unit

Adding Papaya Global for PEO UAE
  sites/handbook/source/handbook/finance/expenses/index.html.md
Due: none

Add project roles to datafile for raimundh
  data/team_members/person/r/raimundh.yml
Due: rspec-unit

Support environment deployment tiers in GitLab agent
  data/release_posts/unreleased/configure-support-environment-deployment-tiers-in-gitlab-agent.yml
Due: lint release-post-items, rspec-unit

Move instance health steps to be under health page
  sites/handbook/source/handbook/customer-success/csm/health-score-triage/index.html.md
  sites/handbook/source/handbook/customer-success/customer-health-scoring/index.html.md
Due: none

Add link for Redis dashboard to registry dev docs
  sites/handbook/source/handbook/engineering/development/ops/package/container-registry/index.html.md.erb
Due: none

Fix formatting of multiple instance section
  sites/handbook/source/handbook/customer-success/csm/health-score-triage/index.html.md
Due: none

Update configure-support-environment-deployment-tiers-in-gitlab-agent.yml
  data/release_posts/unreleased/configure-support-environment-deployment-tiers-in-gitlab-agent.yml
Due: lint release-post-items, rspec-unit

Remove Eric Johnson from E-Group
  data/team_egroup.yml
Due: rspec-unit

Fix embedded Dev Evangelism calendar for CFP handbook
  sites/handbook/source/handbook/marketing/community-relations/developer-evangelism/cfps/index.html.md
Due: none

Add Mohamed Hamda to the team page.
  data/team_members/person/m/mhamda.yml
  sites/uncategorized/source/images/team/mohamedhamda.jpg
Due: rspec-unit

Update handbook links, add ui enhancements issue
  source/direction/release/environment_management/index.html.md.erb
Due: none

Update Clement Sam heroes image (was base64 encoded)
  source/images/heroes/clementsam.png
Due: none

Update Job Family URL for MHamda
  data/team_members/person/m/mhamda.yml
Due: rspec-unit

Update Top Cross-Functional Initiatives Page
  sites/uncategorized/source/company/top-cross-functional-initiatives/index.html.md
Due: none

Update Security Awards pages from 3152516306 job
  sites/handbook/source/handbook/engineering/security/awards/leaderboard-fy23.html.md
Due: none

Make Stanislav a GitLab SVG maintainer
  data/team_members/person/s/slashmanov.yml
Due: rspec-unit

Add shannon-cirillo team page
  data/team_members/person/s/shannoncirillo.yml
  sites/uncategorized/source/images/team/ShannonCirillo.jpg
Due: rspec-unit

Add platform access to DEX handbook; initial commit
  sites/handbook/source/handbook/marketing/digital-experience/index.html.md
Due: none

Path conditions:
  update-gitlab-project-releases-page: any of: sites/uncategorized/source/releases/posts/*-released.html.md
  apply-redirects-prod: any of: data/redirects.yml, bin/apply-exact-match-redirects, bin/apply-regex-redirects
  content-security-policy-checker: any of: source/includes/layout/head.html.haml
  lint release-post-items: any of: data/release_posts/unreleased/*, data/categories.yml, data/stages.yml, source/images/unreleased/*
  rubocop: any of: *.rb, **/*.rb, .rubocop.yml, Dangerfile, *.rake, **/*.rake, bin/**/*, scripts/**/*, Rakefile
  check-handbook-edit-links: any of: data/monorepo.yml, helpers/custom_helpers.rb, **/edit_page.html.haml, **/footer.html.haml, **/handbook-page-toc.haml, **/check_handbook_edit_links.rb
  rspec-unit: any of: spec/**/*, **/*.{js,json,rb,yml}, .rspec
